Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
# Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
# Add new hook types here to ensure automatic installation when running `pre-commit install`
- pre-commit
- pre-push
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-json
  - id: check-added-large-files

- repo: local
  hooks:
  - id: format-fix
    name: Formatting (ruff)
    entry: ruff format
    language: system
    types: [python]
    stages: [commit]
  - id: lint-fix
    name: Linting (ruff)
    entry: ruff check --fix
    language: system
    types: [python]
    stages: [commit]
  - id: sqlfmt
    name: SQL Formatting (sqlfmt)
    entry: make sqlfmt
    stages: [commit]
    language: system
    types: [sql]
  # - id: sqlfluff-lint-check
  #   name: Lint check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_lint.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-format-check
  #   name: format check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_format.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-fix
  #   name: fix (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_fix.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]

feat: Add few features more
  jobs/ml_jobs/ranking_endpoint/app/model.py
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
Due: format-fix, lint-fix

feat: Remove bad doc reference
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/_schema/int_applicative__offer_item_id.yml
Due: none

(DE-1269) feat(item linkage): create updated item column (#3962)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/applicative/description__int_applicative__offer_item_id.md
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/_schema/int_applicative__offer_item_id.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_item_id.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
  orchestration/dags/dependencies/ml/linkage/sql/build_mapping.sql
  orchestration/dags/jobs/ml/link_items.py
Due: format-fix, lint-fix, sqlfmt

DEBUG: change data source
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
Due: format-fix, lint-fix

HACK: remove embeddings
  jobs/ml_jobs/ranking_endpoint/app/model.py
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
Due: format-fix, lint-fix

fix: Fix figures
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
  jobs/ml_jobs/ranking_endpoint/figure.py
Due: format-fix, lint-fix

refactor: Clean code
  jobs/ml_jobs/ranking_endpoint/app/model.py
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
Due: format-fix, lint-fix

feat: Add proper split
  jobs/ml_jobs/ranking_endpoint/app/model.py
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
Due: format-fix, lint-fix

(BSR) feat(elementary): add lookback parameter to elementary report dag default 7 days
  orchestration/dags/data_gcp_dbt/scripts/elementary_send_report.sh
  orchestration/dags/jobs/dbt/dbt_artifacts.py
Due: format-fix, lint-fix

(BSR) feat(elementary): add lookback parameter to elementary report dag default 7 days (#4018)
  orchestration/dags/data_gcp_dbt/scripts/elementary_send_report.sh
  orchestration/dags/jobs/dbt/dbt_artifacts.py
Due: format-fix, lint-fix

clean: Remove unused mappings
  jobs/ml_jobs/ranking_endpoint/app/model.py
  jobs/ml_jobs/ranking_endpoint/preprocessing.py
Due: format-fix, lint-fix

Revert "(DE-1269) feat(item linkage): create updated item column (#3962)"
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/applicative/description__int_applicative__offer_item_id.md
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/_schema/int_applicative__offer_item_id.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_item_id.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
  orchestration/dags/dependencies/ml/linkage/sql/build_mapping.sql
  orchestration/dags/jobs/ml/link_items.py
Due: format-fix, lint-fix, sqlfmt

Revert "(DE-1269) feat(item linkage): create updated item column (#3962)" (#4019)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/applicative/description__int_applicative__offer_item_id.md
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/_schema/int_applicative__offer_item_id.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_item_id.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
  orchestration/dags/dependencies/ml/linkage/sql/build_mapping.sql
  orchestration/dags/jobs/ml/link_items.py
Due: format-fix, lint-fix, sqlfmt

(DE) feat(ean): remove jsonData ean
  orchestration/dags/data_gcp_dbt/models/raw/applicative/raw_applicative__offer_lite.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/product.sql
Due: sqlfmt

(DE) refactor(clickhouse): set clickhouse user data for airflow jobs
  jobs/etl_jobs/internal/export_clickhouse/core/utils.py
Due: format-fix, lint-fix

fix: Fix split
  jobs/ml_jobs/ranking_endpoint/app/model.py
  jobs/ml_jobs/ranking_endpoint/preprocessing.py
Due: format-fix, lint-fix

WIP: better config?
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
Due: format-fix, lint-fix

mappings transition
  jobs/etl_jobs/external/metabase/data/mappings.json
Due: none

refactor: Update container base name for ranking deploy model
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
  jobs/ml_jobs/ranking_endpoint/deploy_to_docker_registery.sh
Due: format-fix, lint-fix

refactor: Update container base name for retrieval deploy model
  jobs/ml_jobs/retrieval_vector/deploy_model.py
  jobs/ml_jobs/retrieval_vector/deploy_semantic.py
  jobs/ml_jobs/retrieval_vector/deploy_to_docker_registery.sh
Due: format-fix, lint-fix

add macro institution type
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__educational_institution.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: sqlfmt

(DE-1500) fix(registries): Replace container by artifact registry (#4021)
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
  jobs/ml_jobs/ranking_endpoint/deploy_to_docker_registery.sh
  jobs/ml_jobs/retrieval_vector/deploy_model.py
  jobs/ml_jobs/retrieval_vector/deploy_semantic.py
  jobs/ml_jobs/retrieval_vector/deploy_to_docker_registery.sh
Due: format-fix, lint-fix

(BSR) docs(dag): add missing tag to new dag
  orchestration/dags/jobs/ml/algo_training_offer_compliance_model.py
Due: format-fix, lint-fix

(BSR) docs(dag): add missing tag to new dag (#4023)
  orchestration/dags/jobs/ml/algo_training_offer_compliance_model.py
Due: format-fix, lint-fix

deploy: 04ac360083f80c0d02cf50eb3f23742ef463d7fd
  __pycache__/hooks.cpython-310.pyc
  sitemap.xml
  sitemap.xml.gz
Due: none

(HF) fix(ref): fix env_short_name
  jobs/etl_jobs/internal/import_api_referentials/main.py
Due: format-fix, lint-fix

(HF) fix(ref): fix env_short_name (#4025)
  jobs/etl_jobs/internal/import_api_referentials/main.py
Due: format-fix, lint-fix

Revert "Revert "(DE-1269) feat(item linkage): create updated item column (#39…"
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/applicative/description__int_applicative__offer_item_id.md
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/_schema/int_applicative__offer_item_id.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_item_id.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
  orchestration/dags/dependencies/ml/linkage/sql/build_mapping.sql
  orchestration/dags/jobs/ml/link_items.py
Due: format-fix, lint-fix, sqlfmt

(BSR) feat(appflyer): set dummy task for etl costs in dev/stg
  orchestration/dags/jobs/import/import_appsflyer.py
Due: format-fix, lint-fix

sqlflufffix
  orchestration/dags/data_gcp_dbt/models/analytics/aggregated_weekly_user_data.sql
  orchestration/dags/data_gcp_dbt/models/analytics/firebase/firebase_aggregated_daily_campaign_events.sql
  orchestration/dags/data_gcp_dbt/models/analytics/firebase/firebase_aggregated_search_events.sql
  orchestration/dags/data_gcp_dbt/models/analytics/firebase_aggregated_similar_offer_events.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__ranking_endpoint_training.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_home_module_conversion.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_venue_map_conversion.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__outgoing_cohort.sql
Due: sqlfmt

sqlformat
  orchestration/dags/data_gcp_dbt/models/analytics/firebase/firebase_aggregated_daily_campaign_events.sql
  orchestration/dags/data_gcp_dbt/models/analytics/firebase/firebase_aggregated_search_events.sql
  orchestration/dags/data_gcp_dbt/models/analytics/firebase_aggregated_similar_offer_events.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_home_module_conversion.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_venue_map_conversion.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__outgoing_cohort.sql
Due: sqlfmt

add macro institution type (#4022)
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__educational_institution.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: sqlfmt

feat: refactor lat/long logic for institutions
  orchestration/dags/data_gcp_dbt/models/export/ministry/exp_ministry__venue_address.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/api_gouv/address/int_api_gouv__educational_institution_address.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/api_gouv/address/int_api_gouv__venue_address.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__collective_offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__educational_institution.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__venue.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/geolocation/int_geo__educational_institution_location.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/geolocation/int_geo__venue_location.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__educational_institution.sql
Due: sqlfmt

feat: refactor lat/long logic for institutions
  orchestration/dags/data_gcp_dbt/models/intermediate/api_gouv/address/int_api_gouv__educational_institution_address.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/api_gouv/address/int_api_gouv__venue_address.sql
Due: sqlfmt

feat: refactor lat/long logic for institutions
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__venue.yml
Due: none

feat: refactor lat/long logic for institutions
  orchestration/dags/data_gcp_dbt/models/intermediate/api_gouv/address/int_api_gouv__educational_institution_address.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/api_gouv/address/int_api_gouv__venue_address.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__educational_institution.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/geolocation/int_geo__educational_institution_location.sql
Due: sqlfmt

feat: refactor lat/long logic for institutions
  orchestration/dags/data_gcp_dbt/models/export/qualtrics/exp_qualtrics__venue_account.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/api_gouv/address/int_api_gouv__venue_address.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__venue.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/geolocation/int_geo__venue_location.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__venue.sql
Due: sqlfmt

feat: refactor lat/long logic for institutions
  orchestration/dags/data_gcp_dbt/models/intermediate/api_gouv/address/int_api_gouv__educational_institution_address.sql
Due: sqlfmt

clean: Remove record_linkage
  jobs/ml_jobs/record_linkage/main.py
  jobs/ml_jobs/record_linkage/postprocess.py
  jobs/ml_jobs/record_linkage/preprocess.py
  jobs/ml_jobs/record_linkage/pyproject.toml
  jobs/ml_jobs/record_linkage/requirements.in
  jobs/ml_jobs/record_linkage/requirements.txt
  jobs/ml_jobs/record_linkage/tests/postprocess_test.py
  jobs/ml_jobs/record_linkage/tests/preprocess_test.py
  jobs/ml_jobs/record_linkage/tests/record_linkage_test.py
  jobs/ml_jobs/record_linkage/tools/config.py
  jobs/ml_jobs/record_linkage/tools/linkage.py
  jobs/ml_jobs/record_linkage/tools/logging_tools.py
Due: format-fix, lint-fix

clean: Delete link items DAG and its dependencies
  orchestration/dags/dependencies/ml/linkage/import_items.py
  orchestration/dags/dependencies/ml/linkage/sql/items_to_link.sql
  orchestration/dags/jobs/ml/link_offers.py
Due: format-fix, lint-fix, sqlfmt
