Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: python
  stages:
  - commit
  additional_dependencies:
  - ruff==0.5.7

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: python
  stages:
  - commit
  additional_dependencies:
  - ruff==0.5.7

sqlfmt:
  name: SQL Formatting (sqlfmt)
  entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
  ...

fix query type
  jobs/etl_jobs/external/metabase-archiving/dependencies.py
Due: format-fix, lint-fix

last changes
  jobs/etl_jobs/external/metabase-archiving/dependencies.py
  jobs/etl_jobs/external/metabase-archiving/metabase_api.py
  jobs/etl_jobs/external/metabase/native.py
Due: format-fix, lint-fix

remove unecessary log
  jobs/etl_jobs/external/metabase-archiving/dependencies.py
Due: format-fix, lint-fix

fix: Fix transfer_wikimedia_images where no files have to be downloaded
  jobs/ml_jobs/artist_linkage/cli/transfer_wikimedia_images_to_gcs.py
Due: format-fix, lint-fix

fix: Fix artist_score
  orchestration/dags/data_gcp_dbt/models/machine_learning/metadata/ml_metadata__artist_score.sql
Due: sqlfmt

(BSR) fix(artist): Fix artist score sql (#4800)
  jobs/ml_jobs/artist_linkage/cli/transfer_wikimedia_images_to_gcs.py
  orchestration/dags/data_gcp_dbt/models/machine_learning/metadata/ml_metadata__artist_score.sql
Due: format-fix, lint-fix, sqlfmt

fix: Small fixes from PR
  jobs/ml_jobs/artist_linkage/cli/deduplicate_artists.py
  jobs/ml_jobs/artist_linkage/src/utils/gcp.py
Due: format-fix, lint-fix

refactor: Move get_secret to gcp.py
  jobs/ml_jobs/artist_linkage/src/utils/gcp.py
  jobs/ml_jobs/artist_linkage/src/utils/loading.py
  jobs/ml_jobs/artist_linkage/src/utils/mlflow.py
Due: format-fix, lint-fix

feat: Add embed_offer_names_on_namesakes
  jobs/ml_jobs/artist_linkage/cli/embed_offer_names_on_namesakes.py
  jobs/ml_jobs/artist_linkage/src/constants.py
Due: format-fix, lint-fix

feat: Add deduplicate_artists
  jobs/ml_jobs/artist_linkage/cli/deduplicate_artists.py
  jobs/ml_jobs/artist_linkage/cli/embed_offer_names_on_namesakes.py
  jobs/ml_jobs/artist_linkage/src/constants.py
  jobs/ml_jobs/artist_linkage/src/utils/deduplication.py
Due: format-fix, lint-fix

fix: Fix artist_linkage DAG
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

feat: Add sentence_transformer
  jobs/ml_jobs/artist_linkage/pyproject.toml
  jobs/ml_jobs/artist_linkage/uv.lock
Due: none

docs: Add dag doc
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

fix: Fix deduplicate_artist
  jobs/ml_jobs/artist_linkage/cli/deduplicate_artists.py
  jobs/ml_jobs/artist_linkage/src/utils/deduplication.py
Due: format-fix, lint-fix

refactor: Move product_stats extraction to proper_sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/metadata/ml_metadata__artist_score.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/metadata/ml_metadata__product_stats.sql
Due: sqlfmt

feat: Read HF_TOKEN from secrets
  jobs/ml_jobs/artist_linkage/cli/deduplicate_artists.py
  jobs/ml_jobs/artist_linkage/cli/embed_offer_names_on_namesakes.py
  jobs/ml_jobs/artist_linkage/src/constants.py
Due: format-fix, lint-fix

refactor: Refacto deduplicate_artists
  jobs/ml_jobs/artist_linkage/cli/deduplicate_artists.py
  jobs/ml_jobs/artist_linkage/src/utils/gcp.py
Due: format-fix, lint-fix

fix: Fix embed_offer_names script
  jobs/ml_jobs/artist_linkage/cli/embed_offer_names_on_namesakes.py
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

feat: Update Artist DAG to add deduplication flow
  orchestration/dags/common/config.py
  orchestration/dags/common/operators/gce.py
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

fix: Apply suggestions from code review
  jobs/ml_jobs/artist_linkage/cli/embed_offer_names_on_namesakes.py
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

previous pr comments resolved
  jobs/ml_jobs/finance/README.md
  jobs/ml_jobs/finance/forecast/__init__.py
  jobs/ml_jobs/finance/forecast/engines/prophet/__init__.py
  jobs/ml_jobs/finance/forecast/engines/prophet/evaluate.py
  jobs/ml_jobs/finance/forecast/engines/prophet/forecast.py
  jobs/ml_jobs/finance/forecast/engines/prophet/model_config.py
  jobs/ml_jobs/finance/forecast/engines/prophet/plots.py
  jobs/ml_jobs/finance/forecast/engines/prophet/preprocessing.py
  jobs/ml_jobs/finance/forecast/engines/prophet/train.py
  jobs/ml_jobs/finance/forecast/forecasters/configs/prophet/daily_pricing.yaml
  jobs/ml_jobs/finance/forecast/forecasters/configs/prophet/weekly_pricing.yaml
  jobs/ml_jobs/finance/forecast/forecasters/forecast_model.py
  jobs/ml_jobs/finance/forecast/forecasters/prophet_model.py
  jobs/ml_jobs/finance/forecast/utils/__init__.py
  jobs/ml_jobs/finance/forecast/utils/bigquery.py
  jobs/ml_jobs/finance/forecast/utils/constants.py
  jobs/ml_jobs/finance/forecast/utils/mlflow.py
  jobs/ml_jobs/finance/main.py
  jobs/ml_jobs/finance/pyproject.toml
  jobs/ml_jobs/finance/src/forecast_engines/prophet/model_config.py
  jobs/ml_jobs/finance/tests/test_prophet_model.py
  jobs/ml_jobs/finance/uv.lock
Due: format-fix, lint-fix

upload monthly forecasts to bigquery
  jobs/ml_jobs/finance/forecast/utils/bigquery.py
  jobs/ml_jobs/finance/main.py
Due: format-fix, lint-fix

added dag to ml_dags + typer for main args
  jobs/ml_jobs/finance/main.py
  orchestration/dags/jobs/ml/finance_pricing_forecast.py
Due: format-fix, lint-fix

get stg data for dev env
  jobs/ml_jobs/finance/forecast/utils/constants.py
Due: format-fix, lint-fix

delet instance trigger rule added
  orchestration/dags/jobs/ml/finance_pricing_forecast.py
Due: format-fix, lint-fix

schedule weekly to test the DAG
  orchestration/dags/common/alerts/ml_training.py
  orchestration/dags/jobs/ml/finance_pricing_forecast.py
Due: format-fix, lint-fix

fix/clusterisation: validate embedding size
  jobs/ml_jobs/clusterisation_v2/cluster/generate.py
  jobs/ml_jobs/clusterisation_v2/tools/utils.py
Due: format-fix, lint-fix

test/airflow: remove v2 dag schedules
  orchestration/dags/jobs/ml/embedding_clusterisation_item_v2.py
  orchestration/dags/jobs/ml/embedding_extraction_item_v2.py
  orchestration/dags/jobs/ml/embedding_reduction_item_v2.py
Due: format-fix, lint-fix

add properties
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_event.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_event_flattened.sql
Due: sqlfmt

(BSR) refactor(dag): remove historization dag (#4795)
  orchestration/dags/jobs/administration/bigquery_historize_applicative_database.py
  orchestration/dags/jobs/crons.py
Due: format-fix, lint-fix

fix(secrets): update secret version retrieval to use 'latest' instead of '1'
  jobs/ml_jobs/algo_training/commons/secrets_utils.py
  jobs/ml_jobs/clusterisation/tools/utils.py
  jobs/ml_jobs/graph_recommendation/src/utils/gcp.py
  jobs/ml_jobs/item_linkage/utils/mlflow_tools.py
  jobs/ml_jobs/ranking_endpoint/utils.py
  jobs/ml_jobs/reduction/tools/utils.py
  jobs/playground_vm/utils/secrets_utils.py
Due: format-fix, lint-fix

fix(dependencies): pin docarray version to 0.21.0 and update related package specifications
  jobs/ml_jobs/retrieval_vector/pyproject.toml
  jobs/ml_jobs/retrieval_vector/uv.lock
Due: none

fix(dependencies): update lancedb and pyarrow versions in project configuration
  jobs/ml_jobs/retrieval_vector/pyproject.toml
  jobs/ml_jobs/retrieval_vector/uv.lock
Due: none

feat/column: add field activity to venue tables
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__venue.md
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__venue.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__venue.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__venue.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/venue.sql
Due: sqlfmt

feat/macro: generic case when rendering
  orchestration/dags/data_gcp_dbt/macros/mappings/render_enum_case.sql
Due: sqlfmt

feat/macro: add iterable support (item IN list) in render_enum_case macro
  orchestration/dags/data_gcp_dbt/macros/mappings/render_enum_case.sql
Due: sqlfmt

chore/naming: explicit macro naming
  orchestration/dags/data_gcp_dbt/macros/mappings/render_case_when.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__venue.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__venue.sql
Due: sqlfmt

feat/macro: venue activity label variable
  orchestration/dags/data_gcp_dbt/macros/mappings/venue_activity_label.sql
Due: sqlfmt

fix/macro: generalize case enum macro and replace repating occurences
  orchestration/dags/data_gcp_dbt/macros/mappings/render_enum_case.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__venue.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__venue.sql
Due: sqlfmt

chore/mapping: use enum macro in int applicative venue
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__venue.sql
Due: sqlfmt

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfmt: any of: \.sql$
