Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: system
  stages:
  - commit

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: system
  stages:
  - commit

sqlfmt:
  name: SQL Formatting (sqlfmt)
  entry: make sqlfmt
  stages:
  - commit
  language: system

(DE-685) core(applicative): lite historization dag (#3328)
  orchestration/dags/common/config.py
  orchestration/dags/common/utils.py
  orchestration/dags/dependencies/applicative_database/import_applicative_database.py
  orchestration/dags/jobs/crons.py
  orchestration/dags/jobs/export/export_applicative_snapshot.py
Due: format-fix, lint-fix

dev_tables
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/daily_aggregated_offer_event.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/intermediate/native_event.sql
Due: sqlfmt

typo order by
  jobs/etl_jobs/internal/export_clickhouse/schema/intermediate/native_event.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/tmp/intermediate_native_event.sql
Due: sqlfmt

(DE) refactor(raw import): remove column offer duration minutes
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer.sql
  orchestration/dags/data_gcp_dbt/models/raw/applicative/raw_applicative__offer_lite.sql
  orchestration/dags/dependencies/applicative_database/sql/clean/history/offer_history.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/sequential/offer.sql
Due: sqlfmt

handle nulls
  jobs/etl_jobs/internal/export_clickhouse/schema/tmp/intermediate_native_event.sql
Due: sqlfmt

switch unefficient string column partitioning to date type
  jobs/etl_jobs/internal/export_clickhouse/core/update.py
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/daily_aggregated_offer_event.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/intermediate/native_event.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/tmp/intermediate_native_event.sql
Due: format-fix, lint-fix, sqlfmt

refacto + fix
  jobs/etl_jobs/internal/export_clickhouse/core/update.py
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/daily_aggregated_offer_event.sql
Due: format-fix, lint-fix, sqlfmt

switch back to month partitionning
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/daily_aggregated_offer_event.sql
Due: sqlfmt

BSR: add incremental tag to dag
  orchestration/dags/jobs/export/export_clickhouse.py
Due: format-fix, lint-fix

refactor dbt alias script for deferal
  orchestration/dags/data_gcp_dbt/scripts/defer_local_run.sh
Due: none

(DE-726) perf(clickhouse): refactor native event logic (#3329)
  jobs/etl_jobs/internal/export_clickhouse/core/update.py
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/daily_aggregated_offer_event.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/intermediate/native_event.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/tmp/intermediate_native_event.sql
  orchestration/dags/jobs/export/export_clickhouse.py
Due: format-fix, lint-fix, sqlfmt

(DE-667) feat(ml): improve two towers logic
  jobs/ml_jobs/algo_training/commons/data_collect_queries.py
  jobs/ml_jobs/algo_training/requirements.in
  jobs/ml_jobs/algo_training/requirements.txt
  jobs/ml_jobs/algo_training/two_towers_model/models/match_model.py
  jobs/ml_jobs/algo_training/two_towers_model/models/two_towers_model.py
  jobs/ml_jobs/algo_training/two_towers_model/preprocess.py
  jobs/ml_jobs/algo_training/two_towers_model/train.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/callbacks.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/layers.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/metrics.py
  orchestration/dags/jobs/ml/algo_training_two_towers.py
Due: format-fix, lint-fix

feat: Add match_artists_on_wikidata
  jobs/ml_jobs/artist_linkage/match_artists_on_wikidata.py
Due: format-fix, lint-fix

refactor: Small refacto
  jobs/ml_jobs/artist_linkage/match_artists_on_wikidata.py
Due: format-fix, lint-fix

refactor dbt alias script for deferal (#3331)
  orchestration/dags/data_gcp_dbt/scripts/defer_local_run.sh
Due: none

(DE-624) fix(elementary): fix tmp artifacts (#3320)
  orchestration/dags/data_gcp_dbt/scripts/dbt_run_package.sh
  orchestration/dags/data_gcp_dbt/scripts/elementary_send_report.sh
  orchestration/dags/jobs/dbt/dbt_artifacts.py
  orchestration/dags/jobs/dbt/dbt_init.py
Due: format-fix, lint-fix

fix: Add preprocessing
  jobs/ml_jobs/artist_linkage/match_artists_on_wikidata.py
Due: format-fix, lint-fix

feat: Add task in dag to match artists wiki metadata
  jobs/ml_jobs/artist_linkage/match_artists_on_wikidata.py
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

fix: Add .airflowignore to ignore .venv in airflow scan
  orchestration/dags/.airflowignore
Due: none

fix: Fix task order in artist dag
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

feat: Use uv installer in DAG
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

fix consultation model
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__consultation.sql
Due: sqlfmt

add synch column
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__consultation.sql
Due: sqlfmt

feat: Update evaluate
  jobs/ml_jobs/artist_linkage/evaluate.py
Due: format-fix, lint-fix

(DE) (fix) : Refactor variable names to use correct naming convention
  jobs/ml_jobs/algo_training/two_towers_model/configs/default-features.json
  jobs/ml_jobs/algo_training/two_towers_model/configs/pretrained-feature-with-ts.json
  jobs/ml_jobs/algo_training/two_towers_model/configs/pretrained-features-ts-buckets.json
  jobs/ml_jobs/algo_training/two_towers_model/configs/pretrained-features.json
  jobs/ml_jobs/algo_training/two_towers_model/configs/pretrained-sequence-features.json
  jobs/ml_jobs/algo_training/two_towers_model/configs/test-1-features.json
  jobs/ml_jobs/algo_training/two_towers_model/configs/test-4-features.json
  jobs/ml_jobs/algo_training/two_towers_model/evaluate.py
  jobs/ml_jobs/algo_training/two_towers_model/models/two_towers_model.py
  jobs/ml_jobs/algo_training/two_towers_model/preprocess.py
  jobs/ml_jobs/algo_training/two_towers_model/train.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/evaluate.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/layers.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/metrics.py
  orchestration/dags/dependencies/training_data/sql/recommendation_item_features.sql
  orchestration/dags/dependencies/training_data/sql/training_data_bookings_lastXevents.sql
  orchestration/dags/jobs/ml/algo_training_two_towers.py
Due: format-fix, lint-fix, sqlfmt

(DE-721) feat(artists): Merge artists on wikidata (#3332)
  jobs/ml_jobs/artist_linkage/evaluate.py
  jobs/ml_jobs/artist_linkage/match_artists_on_wikidata.py
  orchestration/dags/.airflowignore
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

fix: Remove uv pip sync in SSHGCE operator
  orchestration/dags/common/operators/gce.py
Due: format-fix, lint-fix

workers dockerfile & requirements
  orchestration/k8-airflow/Dockerfile.k8-worker
  orchestration/k8-airflow/k8-worker-requirements.in
  orchestration/k8-airflow/k8-worker-requirements.txt
Due: none

default value for duration in offer_history
  orchestration/dags/dependencies/applicative_database/sql/clean/history/offer_history.sql
Due: sqlfmt

(DE) refactor(rawimport): remove column offer duration minutes (#3330)
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer.sql
  orchestration/dags/data_gcp_dbt/models/raw/applicative/raw_applicative__offer_lite.sql
  orchestration/dags/dependencies/applicative_database/sql/clean/history/offer_history.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/sequential/offer.sql
Due: sqlfmt

(DE-667) feat(ml): improve two towers logic
  jobs/ml_jobs/algo_training/two_towers_model/models/two_towers_model.py
  jobs/ml_jobs/algo_training/two_towers_model/train.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/layers.py
  orchestration/dags/jobs/ml/algo_training_two_towers.py
Due: format-fix, lint-fix

(DE-667) feat(ml): improve two towers logic
  jobs/ml_jobs/algo_training/two_towers_model/models/two_towers_model.py
Due: format-fix, lint-fix

CD: build image & push to artifacts registry
  .github/workflows/CD_workflow.yml
  .github/workflows/reusable_build_image.yml
Due: none

Test: build & push with CI
  .github/workflows/CI_workflow.yml
Due: none

remove CI test & fix typo
  .github/workflows/CD_workflow.yml
  .github/workflows/CI_workflow.yml
Due: none

(DE-718) refactor(brevo): migrate api from sendinblue to brevo
  README.md
  jobs/etl_jobs/external/brevo/brevo_newsletters.py
  jobs/etl_jobs/external/brevo/brevo_transactional.py
  jobs/etl_jobs/external/brevo/main.py
  jobs/etl_jobs/external/brevo/pyproject.toml
  jobs/etl_jobs/external/brevo/requirements.in
  jobs/etl_jobs/external/brevo/requirements.txt
  jobs/etl_jobs/external/brevo/utils.py
  orchestration/dags/jobs/import/import_sendinblue.py
Due: format-fix, lint-fix

review: renaming
  .github/workflows/CD_workflow.yml
  .github/workflows/reusable_build_image.yml
  orchestration/k8s-airflow/Dockerfile.k8s-worker
  orchestration/k8s-airflow/k8s-worker-requirements.in
  orchestration/k8s-airflow/k8s-worker-requirements.txt
Due: none

feat: Add metrics weighted by offer count
  jobs/ml_jobs/artist_linkage/evaluate.py
Due: format-fix, lint-fix

fix: Add index as column
  jobs/ml_jobs/artist_linkage/evaluate.py
Due: format-fix, lint-fix

(DE) fix(metabase) fix dependency table
  jobs/etl_jobs/external/metabase-archiving/dependencies.py
Due: format-fix, lint-fix

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfmt: any of: \.sql$
