Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
# Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
# Add new hook types here to ensure automatic installation when running `pre-commit install`
- pre-commit
- pre-push
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-json
  - id: check-added-large-files

- repo: local
  hooks:
  - id: format-fix
    name: Formatting (ruff)
    entry: ruff format
    language: system
    types: [python]
    stages: [commit]
  - id: lint-fix
    name: Linting (ruff)
    entry: ruff check --fix
    language: system
    types: [python]
    stages: [commit]
  - id: sqlfmt
    name: SQL Formatting (sqlfmt)
    entry: make sqlfmt
    stages: [commit]
    language: system
    types: [sql]
  # - id: sqlfluff-lint-check
  #   name: Lint check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_lint.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-format-check
  #   name: format check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_format.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-fix
  #   name: fix (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_fix.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]

linter
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__venue.sql
Due: sqlfmt

update timespan
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/headline_offer.sql
Due: sqlfmt

(BSR) feat(airflow): add k8s uri for airflow alerts
  orchestration/dags/common/alerts.py
  orchestration/dags/common/config.py
Due: format-fix, lint-fix

(BSR) dbt(qualtrics): improve code
  orchestration/dags/jobs/export/export_qualtrics_data.py
Due: format-fix, lint-fix

fix
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer.sql
Due: sqlfmt

(BSR) dbt(qualtrics): improve code (#3800)
  orchestration/dags/jobs/export/export_qualtrics_data.py
Due: format-fix, lint-fix

(BSR) feat(airflow): add k8s uri for airflow alerts (#3799)
  orchestration/dags/common/alerts.py
  orchestration/dags/common/config.py
Due: format-fix, lint-fix

added validation_date in global_prod.collective_offer
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__collective_offer.sql
Due: sqlfmt

fix
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__venue.sql
Due: sqlfmt

divide by len(predicted) instead of len(actual)
  jobs/ml_jobs/algo_training/two_towers_model/utils/metrics.py
Due: format-fix, lint-fix

divide by len(predicted) instead of len(actual) (#3802)
  jobs/ml_jobs/algo_training/two_towers_model/utils/metrics.py
Due: format-fix, lint-fix

remove condition
  orchestration/dags/data_gcp_dbt/models/intermediate/pcapi/int_pcapi__backoffice_log.sql
Due: sqlfmt

(BSR) feat(dbt): rename history file
  orchestration/dags/data_gcp_dbt/models/intermediate/history/int_history__bookable_venue.sql
Due: sqlfmt

(BSR) feat(dbt): rename history file (#3804)
  orchestration/dags/data_gcp_dbt/models/intermediate/history/int_history__bookable_venue.sql
Due: sqlfmt

(DA-1203) feat(dbt): Add validation_date to int_global.collective_offer (#3801)
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__collective_offer.sql
Due: sqlfmt

(DE-1088) fix(dbt): Fix int_pcapi_backoffice_log partitioning (#3803)
  orchestration/dags/data_gcp_dbt/models/intermediate/pcapi/int_pcapi__backoffice_log.sql
Due: sqlfmt

(DE-1222) refactor(history): migrate bookable_offer_history
  orchestration/dags/data_gcp_dbt/models/intermediate/history/int_history__bookable_offer.sql
Due: sqlfmt

reformat sql
  orchestration/dags/data_gcp_dbt/models/intermediate/history/int_history__bookable_offer.sql
Due: sqlfmt

clean gcs arborescence and change cron
  jobs/etl_jobs/internal/bigquery_archive_partition/archive.py
  jobs/etl_jobs/internal/bigquery_archive_partition/utils.py
  orchestration/dags/jobs/administration/bigquery_archive_partition.py
  orchestration/dags/jobs/crons.py
Due: format-fix, lint-fix

(HF) fix(cicd): add IS_COMPOSER required
  .github/workflows/on_cd__workflow.yml
  .github/workflows/reusable_deploy_composer.yml
Due: none

update doc
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offer.yml
Due: none

fix
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offer.md
Due: none

V2 - Import headline offer model
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offer.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__venue.md
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__venue.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offer.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__venue.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__venue.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/headline_offer.sql
Due: sqlfmt

deploy: 7a09fc97759e0c605ef32763f0a53ade6fbea5fa
  __pycache__/hooks.cpython-310.pyc
  sitemap.xml
  sitemap.xml.gz
Due: none

(DE-1138) feat(archive): add script to archive old partitions (#3791)
  jobs/etl_jobs/internal/bigquery_archive_partition/archive.py
  jobs/etl_jobs/internal/bigquery_archive_partition/main.py
  jobs/etl_jobs/internal/bigquery_archive_partition/requirements.in
  jobs/etl_jobs/internal/bigquery_archive_partition/requirements.txt
  jobs/etl_jobs/internal/bigquery_archive_partition/utils.py
  orchestration/dags/jobs/administration/bigquery_archive_partition.py
  orchestration/dags/jobs/crons.py
Due: format-fix, lint-fix

chore: elementary report remove html attachement
  orchestration/dags/data_gcp_dbt/scripts/elementary_send_report.sh
Due: none

WIP
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_item_id.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/input/ml_input__item_metadata.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__available_offer.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__recommendable_item.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__recommendable_offer.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__restrained_item.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_booking.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_click.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_favorite.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_item_feature.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__user_booked_item.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: sqlfmt

WIP
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_item_id.sql
Due: sqlfmt

(DE-1222) refactor(history): migrate bookable_offer_history (#3805)
  orchestration/dags/data_gcp_dbt/models/intermediate/history/int_history__bookable_offer.sql
Due: sqlfmt

refactor(offer_categorization): remove files and clean up codebase
  jobs/ml_jobs/algo_training/offer_categorization/__init__.py
  jobs/ml_jobs/algo_training/offer_categorization/config.py
  jobs/ml_jobs/algo_training/offer_categorization/evaluate.py
  jobs/ml_jobs/algo_training/offer_categorization/package_api_model.py
  jobs/ml_jobs/algo_training/offer_categorization/preprocess.py
  jobs/ml_jobs/algo_training/offer_categorization/split_data.py
  jobs/ml_jobs/algo_training/offer_categorization/train.py
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/offer_categorization/description__ml_offer_categorization__training_data_offer.md
  orchestration/dags/data_gcp_dbt/models/machine_learning/offer_categorization/_schema/ml_offer_categorization__training_data_offer.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/offer_categorization/ml_offer_categorization__training_data_offer.sql
  orchestration/dags/jobs/ml/algo_training_offer_compliance_model.py
Due: format-fix, lint-fix, sqlfmt

(DE-1025) feat(deps): export obfuscated data (#3758)
  jobs/etl_jobs/external/encrypted_exports/helpers.py
  jobs/etl_jobs/external/encrypted_exports/main.py
  jobs/etl_jobs/external/encrypted_exports/requirements.in
  jobs/etl_jobs/external/encrypted_exports/requirements.txt
  orchestration/dags/common/access_gcp_secrets.py
  orchestration/dags/common/utils.py
  orchestration/dags/data_gcp_dbt/macros/function_utils/obfuscate_id.sql
  orchestration/dags/data_gcp_dbt/macros/function_utils/watermark_field.sql
  orchestration/dags/data_gcp_dbt/macros/generate_export_tables.sql
  orchestration/dags/data_gcp_dbt/scripts/dbt_run_operation.sh
  orchestration/dags/jobs/crons.py
  orchestration/dags/jobs/dbt/dbt_encrypted_export.py
Due: format-fix, lint-fix, sqlfmt

(BSR) feat(firebase): drop legacy project for dev & stg
  orchestration/dags/dependencies/firebase/import_firebase.py
Due: format-fix, lint-fix

(BSR) feat(firebase): drop legacy project for dev & stg (#3808)
  orchestration/dags/dependencies/firebase/import_firebase.py
Due: format-fix, lint-fix
