Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: python
  stages:
  - commit
  additional_dependencies:
  - ruff==0.5.7

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: python
  stages:
  - commit
  additional_dependencies:
  - ruff==0.5.7

sqlfmt:
  name: SQL Formatting (sqlfmt)
  entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
  ...

deploy: 4cf91c633ac349aead82d5baf209dc6ba241a971
  __pycache__/hooks.cpython-312.pyc
Due: none

(DA) feat(dbt): add collective_stock_price_detail in collective_offer model (#4749)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__collective_offer.md
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__collective_offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__collective_offer.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__collective_offer.sql
Due: sqlfmt

quick-test
  orchestration/dags/data_gcp_dbt/ADR_Semantic_Layer.md
  orchestration/dags/data_gcp_dbt/SEMANTIC_LAYER_infos.md
  orchestration/dags/data_gcp_dbt/dbt_project.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/semantic/_models.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/semantic/bookings.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/semantic/metricflow_time_spine.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/semantic/metrics.yml
Due: sqlfmt

add free bookings offers kpi
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/individual/description__mrt_external_reporting__booking.md
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/_schema/mrt_external_reporting__booking.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__booking.sql
Due: sqlfmt

basic metrics
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/semantic/QUERY_EXAMPLES.md
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/semantic/SEMANTIC_LAYER_PLAN.md
  orchestration/dags/data_gcp_dbt/models/mart/global/semantic/_models.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/semantic/bookings.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/semantic/bookings_semantic.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/semantic/bookings_semantic.yml.j2
  orchestration/dags/data_gcp_dbt/models/mart/global/semantic/metrics.yml
  orchestration/dags/data_gcp_dbt/profiles.yml
  orchestration/dags/data_gcp_dbt/render_template.py
Due: format-fix, lint-fix

refactor: Remove on_pr_review__gpt.yml
  .github/workflows/on_pr_review__gpt.yml
Due: none

refactor: Remove on_pr_review__gpt.yml (#4753)
  .github/workflows/on_pr_review__gpt.yml
Due: none

add epci and commune level to top ac indiv and collective
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_ac.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_venue.sql
Due: sqlfmt

formatting
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__educational_deposit.sql
Due: sqlfmt

formatting
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__educational_deposit.md
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__educational_deposit.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__educational_deposit.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__educational_deposit.sql
Due: sqlfmt

made changes on collective_booking
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__collective_booking.md
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__collective_booking.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__educational_institution.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__collective_booking.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__collective_booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__educational_institution.sql
Due: sqlfmt

refactor: reorganize imports in recommendation_endpoint_monitoring.py
  orchestration/dags/jobs/ml/recommendation_endpoint_monitoring.py
Due: format-fix, lint-fix

improve readability
  jobs/ml_jobs/endpoint_monitoring/utils/endpoint.py
Due: format-fix, lint-fix

add to global reporting
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/mrt_external_reporting__individual.sql
Due: sqlfmt

refactor: update call_endpoint function to return a list instead of None
  jobs/ml_jobs/endpoint_monitoring/utils/endpoint.py
Due: format-fix, lint-fix

linter
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__booking.sql
Due: sqlfmt

(DS-1887) feat(endpointmonitoring): recommendation endpoint monitoring (#4335)
  jobs/ml_jobs/endpoint_monitoring/Makefile
  jobs/ml_jobs/endpoint_monitoring/README.md
  jobs/ml_jobs/endpoint_monitoring/__init__.py
  jobs/ml_jobs/endpoint_monitoring/constants.py
  jobs/ml_jobs/endpoint_monitoring/main.py
  jobs/ml_jobs/endpoint_monitoring/pyproject.toml
  jobs/ml_jobs/endpoint_monitoring/streamlits/.gitignore
  jobs/ml_jobs/endpoint_monitoring/tests/__init__.py
  jobs/ml_jobs/endpoint_monitoring/tests/test_analysis_utils.py
  jobs/ml_jobs/endpoint_monitoring/utils/__init__.py
  jobs/ml_jobs/endpoint_monitoring/utils/analysis_utils.py
  jobs/ml_jobs/endpoint_monitoring/utils/endpoint.py
  jobs/ml_jobs/endpoint_monitoring/utils/tools.py
  jobs/ml_jobs/endpoint_monitoring/uv.lock
  orchestration/dags/common/alerts/endpoint_monitoring.py
  orchestration/dags/dependencies/ml/endpoint_monitoring/sql/item_data.sql
  orchestration/dags/dependencies/ml/endpoint_monitoring/sql/user_data.sql
  orchestration/dags/jobs/crons.py
  orchestration/dags/jobs/ml/constants.py
  orchestration/dags/jobs/ml/recommendation_endpoint_monitoring.py
Due: format-fix, lint-fix, sqlfmt

fix(crons): update endpoint_monitoring schedule to run daily at 8:00 AM
  orchestration/dags/jobs/crons.py
Due: format-fix, lint-fix

fix(monitoring): update metabase URL by removing the edit parameter
  orchestration/dags/jobs/ml/recommendation_endpoint_monitoring.py
Due: format-fix, lint-fix

(BSR) fix(crons): update endpoint_monitoring schedule to run daily at 8:00 AM (#4755)
  orchestration/dags/jobs/crons.py
  orchestration/dags/jobs/ml/recommendation_endpoint_monitoring.py
Due: format-fix, lint-fix

fix deposit usage kpis
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__deposit_usage.sql
Due: sqlfmt

epn wip template
  jobs/etl_jobs/external/external_reporting/templates/export_template.xlsx
Due: none

fix dates in educational_deposit
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/educational_deposit.sql
Due: sqlfmt

correction educational_deposit
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__educational_deposit.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/educational_deposit.sql
Due: sqlfmt

reformatting
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__educational_deposit.sql
Due: sqlfmt

add doc
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__educational_deposit.md
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__educational_deposit.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__educational_deposit.sql
Due: sqlfmt

refactor/ingestion: factory pattern for brevo
  jobs/etl_jobs/connectors/brevo.py
  jobs/etl_jobs/connectors/brevo/__init__.py
  jobs/etl_jobs/connectors/brevo/auth.py
  jobs/etl_jobs/connectors/brevo/client.py
  jobs/etl_jobs/connectors/brevo/config.py
  jobs/etl_jobs/connectors/brevo/limiter.py
  jobs/etl_jobs/factories/__init__.py
  jobs/etl_jobs/factories/brevo.py
  jobs/etl_jobs/http_tools/auth.py
  jobs/etl_jobs/http_tools/clients.py
  jobs/etl_jobs/http_tools/rate_limiters.py
  jobs/etl_jobs/jobs/brevo/config.py
  jobs/etl_jobs/jobs/brevo/load.py
  jobs/etl_jobs/jobs/brevo/main.py
  jobs/etl_jobs/jobs/brevo/tasks.py
  jobs/etl_jobs/jobs/brevo/transform.py
  jobs/etl_jobs/jobs/brevo/utils.py
  jobs/etl_jobs/utils/gcp.py
Due: format-fix, lint-fix

feat(metadata): add offer_video_url to item metadata and create item quality model
  orchestration/dags/data_gcp_dbt/models/machine_learning/input/ml_input__item_metadata.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/metadata_quality/_schema/ml_metadata__item_quality.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/metadata_quality/ml_metadata__item_quality.sql
Due: sqlfmt

logging
  jobs/etl_jobs/connectors/brevo/client.py
  jobs/etl_jobs/connectors/brevo/limiter.py
  jobs/etl_jobs/http_tools/auth.py
  jobs/etl_jobs/http_tools/clients.py
  jobs/etl_jobs/http_tools/rate_limiters.py
Due: format-fix, lint-fix

fix error
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__collective_booking.md
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__educational_deposit.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__collective_booking.yml
Due: sqlfmt

fix doc
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__collective_booking.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__educational_deposit.md
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__educational_deposit.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__educational_deposit.sql
Due: sqlfmt

refacto/etl: factory pattern for brevo
  jobs/etl_jobs/README.md
  jobs/etl_jobs/factories/brevo.py
  jobs/etl_jobs/http_tools/__init__.py
  jobs/etl_jobs/http_tools/circuit_breakers.py
  jobs/etl_jobs/http_tools/clients.py
  jobs/etl_jobs/http_tools/exceptions.py
  jobs/etl_jobs/http_tools/retry_strategies.py
  jobs/etl_jobs/jobs/brevo/tasks.py
Due: format-fix, lint-fix

feat: Update packages
  jobs/ml_jobs/endpoint_monitoring/pyproject.toml
  jobs/ml_jobs/endpoint_monitoring/uv.lock
Due: none

feat: Update tornado and remove streamlit
  jobs/ml_jobs/endpoint_monitoring/Makefile
  jobs/ml_jobs/endpoint_monitoring/pyproject.toml
  jobs/ml_jobs/endpoint_monitoring/streamlits/.gitignore
  jobs/ml_jobs/endpoint_monitoring/uv.lock
Due: none

refactor/titelive: factory pattern migration
  jobs/etl_jobs/connectors/titelive/README.md
  jobs/etl_jobs/connectors/titelive/__init__.py
  jobs/etl_jobs/connectors/titelive/auth.py
  jobs/etl_jobs/connectors/titelive/client.py
  jobs/etl_jobs/connectors/titelive/config.py
  jobs/etl_jobs/connectors/titelive/limiter.py
  jobs/etl_jobs/factories/titelive.py
  jobs/etl_jobs/jobs/titelive/__init__.py
  jobs/etl_jobs/jobs/titelive/batching.py
  jobs/etl_jobs/jobs/titelive/config.py
  jobs/etl_jobs/jobs/titelive/gcp_utils.py
  jobs/etl_jobs/jobs/titelive/image_utils.py
  jobs/etl_jobs/jobs/titelive/load.py
  jobs/etl_jobs/jobs/titelive/logging_utils.py
  jobs/etl_jobs/jobs/titelive/main.py
  jobs/etl_jobs/jobs/titelive/processing.py
  jobs/etl_jobs/jobs/titelive/tasks.py
  jobs/etl_jobs/jobs/titelive/transform.py
Due: format-fix, lint-fix

test/orchestration: titelive
  jobs/etl_jobs/connectors/titelive/auth.py
  jobs/etl_jobs/jobs/titelive/pyproject.toml
  jobs/etl_jobs/jobs/titelive/requirements.in
  jobs/etl_jobs/jobs/titelive/requirements.txt
  jobs/etl_jobs/jobs/titelive/tasks.py
  jobs/etl_jobs/jobs/titelive/uv.lock
  orchestration/dags/jobs/import/import_titelive_v2.py
Due: format-fix, lint-fix

(DS-2511) chore(past-offer-context): decommission past offer context
  jobs/etl_jobs/internal/sync_recommendation/README.md
  orchestration/dags/data_gcp_dbt/models/intermediate/pcreco/int_pcreco__past_offer_context.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
  orchestration/dags/jobs/api/sync_cloudsql_recommendation_tables_to_bigquery.py
  orchestration/dags/jobs/crons.py
Due: format-fix, lint-fix, sqlfmt

(DE) feat(dbt): Fix deposit usage reporting metrics and epn template (#4756)
  jobs/etl_jobs/external/external_reporting/templates/export_template.xlsx
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__deposit_usage.sql
Due: sqlfmt

fix error
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/eple_aggregated.sql
Due: sqlfmt

updated educational_deposit model
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__educational_deposit.md
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__educational_deposit.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__educational_deposit.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__educational_deposit.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/collective_booking.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/educational_deposit.sql
Due: sqlfmt

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfmt: any of: \.sql$
