Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
  # Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
  # Add new hook types here to ensure automatic installation when running `pre-commit install`
  - pre-commit
  - pre-push
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: format-fix
        name: Formatting (ruff)
        entry: ruff format
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: lint-fix
        name: Linting (ruff)
        entry: ruff check --fix
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: sqlfmt
        name: SQL Formatting (sqlfmt)
        entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
        stages: [push]
        language: python
        additional_dependencies: ["shandy-sqlfmt[jinjafmt]==0.23.2"]
        types: [sql]
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.3.0
    hooks:
      - id: sqlfluff-fix
        additional_dependencies:
          ["dbt-bigquery==1.8.1", "sqlfluff-templater-dbt"]
        stages: [commit]
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.0
    hooks:
    - id: markdownlint-cli2
      language_version: 24.0.0
      args:
        - --fix

fiw jinja dbt packages path
  orchestration/dags/data_gcp_dbt/dbt_project.yml
Due: none

add prediction example for semantic retrueval in readme
  jobs/ml_jobs/retrieval_vector/README.md
Due: none

fix deferal script: artifact pulling
  orchestration/dags/data_gcp_dbt/scripts/defer_local_run.py
Due: format-fix, lint-fix

feat: Add WIP tag in dag
  orchestration/dags/jobs/ml/ranking_train_and_build.py
Due: format-fix, lint-fix

(DE) build(dbt): upgrade dbt version 1.9 (#4262)
  orchestration/airflow/orchestration-requirements.txt
  orchestration/dags/data_gcp_dbt/dbt_project.yml
  orchestration/dags/data_gcp_dbt/macros/database_utils/custom_snapshot_config.sql
  orchestration/dags/data_gcp_dbt/scripts/defer_local_run.py
  orchestration/dags/data_gcp_dbt/snapshots/intermediate/snasphot_intermediate__bookable_collective_offer.sql
  orchestration/dags/data_gcp_dbt/snapshots/intermediate/snasphot_intermediate__bookable_offer.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__offer.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__stock.sql
  orchestration/k8s-airflow/k8s-worker-requirements.txt
  pyproject.toml
  uv.lock
Due: format-fix, lint-fix, sqlfmt

deploy: fa94f30cfd07a193ed92aade19fc747d8ef89c62
  __pycache__/hooks.cpython-312.pyc
  sitemap.xml
  sitemap.xml.gz
Due: none

fix: Fix wait between refresh tasks
  orchestration/dags/jobs/api/sync_bigquery_to_cloudsql_recommendation_tables.py
Due: format-fix, lint-fix

(BSR) fix(sync bq): Fix wait between refresh tasks #4266
  orchestration/dags/jobs/api/sync_bigquery_to_cloudsql_recommendation_tables.py
Due: format-fix, lint-fix

fix 15_16 users
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user.sql
Due: sqlfmt

fix grant_free users
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user.sql
Due: sqlfmt

fixed add_item_similarities function to work with textclient which does not have user_docs
  jobs/ml_jobs/retrieval_vector/app/retrieval/client.py
Due: format-fix, lint-fix

build: add triggerer & init pool sync
  orchestration/Makefile
  orchestration/airflow/Dockerfile
  orchestration/airflow/config/airflow.cfg
  orchestration/airflow/config/pools.json
  orchestration/airflow/orchestration-requirements.txt
  orchestration/airflow/scripts/create_pools.py
  orchestration/airflow/scripts/sync_pools.py
  orchestration/airflow/scripts/verify_pools.py
  orchestration/dags/common/config.py
  orchestration/docker-compose.yaml
  orchestration/k8s-airflow/k8s-worker-requirements.txt
  pyproject.toml
  uv.lock
Due: format-fix, lint-fix

fix(config): remove conflicting ML_BUCKET_TEMP assignment
  orchestration/dags/common/config.py
Due: format-fix, lint-fix

(DE-1814) refactor(link_items): update storage path (#4256)
  orchestration/dags/common/config.py
  orchestration/dags/jobs/ml/link_items.py
Due: format-fix, lint-fix

fix(config): resolve merge conflict in ML_BUCKET_TEMP definition
  orchestration/dags/common/config.py
Due: format-fix, lint-fix

(DE-1813) refactor(storage): buckets migration embedding extraction and reduction (#4254)
  orchestration/dags/jobs/ml/embedding_reduction_item.py
Due: format-fix, lint-fix

fix: Update storage path configuration in algo_training_two_towers DAG
  orchestration/dags/jobs/ml/algo_training_two_towers.py
Due: format-fix, lint-fix

fix: Remove TODO comment for sandbox bucket in config.py
  orchestration/dags/common/config.py
Due: format-fix, lint-fix

(DE-1807) refactor(storage): bucket migration two towers training (#4255)
  orchestration/dags/jobs/ml/algo_training_two_towers.py
Due: format-fix, lint-fix

(DE-1804) refactor(compliance): add ML_BUCKET_TEMP for temporary ML storage path (#4257)
  orchestration/dags/jobs/ml/algo_training_offer_compliance_model.py
Due: format-fix, lint-fix

add volume anomaly test to source booking
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: none

(BSR) feat(dbt): Fix grant_free users (#4268)
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user.sql
Due: sqlfmt

test dag
  orchestration/dags/jobs/ml/embedding_extraction_item.py
Due: format-fix, lint-fix

moved add_items_dot_similarity function to recoclient
  jobs/ml_jobs/retrieval_vector/app/retrieval/client.py
  jobs/ml_jobs/retrieval_vector/app/retrieval/reco_client.py
Due: format-fix, lint-fix

fix gcloud install, usr, and SSL_cert env_var
  orchestration/airflow/Dockerfile
  orchestration/docker-compose.yaml
Due: none

Update orchestration/dags/data_gcp_dbt/models/sources.yml
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: none

Apply suggestions from code review
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: none

(DE-1772) feat(dbt): add volume anomaly test to source booking (#4269)
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: none

docker-compose
  orchestration/airflow/Dockerfile
  orchestration/airflow/config/airflow.cfg
  orchestration/docker-compose.yaml
Due: none

use internal ip for local dev
  orchestration/dags/common/config.py
  orchestration/dags/common/operators/gce.py
  orchestration/dags/common/triggers/gce.py
Due: format-fix, lint-fix

fix: Read test sets from artists folder
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

(HF) fix(qualtrics): take latest secret version
  jobs/etl_jobs/external/qualtrics/utils.py
Due: format-fix, lint-fix

(HF) fix(qualtrics): take latest secret version (#4274)
  jobs/etl_jobs/external/qualtrics/utils.py
Due: format-fix, lint-fix

added load method in textclient
  jobs/ml_jobs/retrieval_vector/app/retrieval/text_client.py
Due: format-fix, lint-fix

modifies load functions in clients for clarity
  jobs/ml_jobs/retrieval_vector/app/retrieval/reco_client.py
  jobs/ml_jobs/retrieval_vector/app/retrieval/text_client.py
Due: format-fix, lint-fix

sonarcloud
  orchestration/airflow/Dockerfile
Due: none
