Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
# Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
# Add new hook types here to ensure automatic installation when running `pre-commit install`
- pre-commit
- pre-push
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-json
  - id: check-added-large-files

- repo: local
  hooks:
  - id: format-fix
    name: Formatting (ruff)
    entry: ruff format
    language: system
    types: [python]
    stages: [commit]
  - id: lint-fix
    name: Linting (ruff)
    entry: ruff check --fix
    language: system
    types: [python]
    stages: [commit]
  - id: sqlfmt
    name: SQL Formatting (sqlfmt)
    entry: make sqlfmt
    stages: [commit]
    language: system
    types: [sql]
  # - id: sqlfluff-lint-check
  #   name: Lint check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_lint.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-format-check
  #   name: format check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_format.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-fix
  #   name: fix (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_fix.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]

fix aggregation
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/monthly_aggregated_venue_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/yearly_aggregated_venue_revenue.sql
Due: sqlfmt

set transfo dependencies in clickhouse analytics
  orchestration/dags/dependencies/export_clickhouse/export_clickhouse.py
  orchestration/dags/jobs/export/export_clickhouse.py
Due: format-fix, lint-fix

(DE-669) refactor(clickhouse): switch revenue aggregation from offerer to venue (#3268)
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/monthly_aggregated_venue_collective_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/monthly_aggregated_venue_individual_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/monthly_aggregated_venue_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/yearly_aggregated_venue_collective_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/yearly_aggregated_venue_individual_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/yearly_aggregated_venue_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/intermediate/booking.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/intermediate/collective_booking.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/tmp/intermediate_booking.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/tmp/intermediate_collective_booking.sql
  orchestration/dags/data_gcp_dbt/models/export/clickhouse/exp_clickhouse__booking.sql
  orchestration/dags/data_gcp_dbt/models/export/clickhouse/exp_clickhouse__collective_booking.sql
  orchestration/dags/dependencies/export_clickhouse/export_clickhouse.py
  orchestration/dags/jobs/export/export_clickhouse.py
Due: format-fix, lint-fix, sqlfmt

(DE-598) feat(dbt): load backend sources as snapshots (#3241)
  .github/workflows/CI_workflow.yml
  .github/workflows/reusable_dbt_workflow.yml
  .github/workflows/scripts/run_dbt_changed_models.sh
  orchestration/dags/data_gcp_dbt/dbt_project.yml
  orchestration/dags/data_gcp_dbt/macros/custom_snapshot_config.sql
  orchestration/dags/data_gcp_dbt/macros/get_custom_alias.sql
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/enriched_suivi_dms_adage.sql
  orchestration/dags/data_gcp_dbt/models/analytics/offer_moderation.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/offer.sql
  orchestration/dags/data_gcp_dbt/models/clean/user_beneficiary.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__extract_offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offerer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/source/int_source__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/source/int_source__offerer.sql
  orchestration/dags/data_gcp_dbt/snapshots/source/snapshot_source__offer.sql
  orchestration/dags/data_gcp_dbt/snapshots/source/snapshot_source__offerer.sql
Due: sqlfmt

add env var: external connection id to action runner
  .github/workflows/CD_workflow.yml
  .github/workflows/reusable_deploy_composer.yml
Due: none

add env var: external connection id to action runner (#3280)
  .github/workflows/CD_workflow.yml
  .github/workflows/reusable_deploy_composer.yml
Due: none

appsflyer fix
  jobs/etl_jobs/external/appsflyer/api_import.py
Due: format-fix, lint-fix

add uv source
  orchestration/dags/common/operators/gce.py
Due: format-fix, lint-fix

upgrade cpu image
  orchestration/dags/common/hooks/image.py
Due: format-fix, lint-fix

revert python version upgrades
  orchestration/dags/common/operators/gce.py
  orchestration/dags/jobs/administration/bigquery_alerts.py
  orchestration/dags/jobs/administration/metabase_governance.py
  orchestration/dags/jobs/administration/metabase_transition.py
  orchestration/dags/jobs/import/import_adage.py
  orchestration/dags/jobs/import/import_appsflyer.py
  orchestration/dags/jobs/import/import_contentful.py
  orchestration/dags/jobs/import/import_dms_subscriptions.py
  orchestration/dags/jobs/import/import_documentation.py
  orchestration/dags/jobs/import/import_downloads.py
Due: format-fix, lint-fix

feat: Update sqlfmt targets
  Makefile
Due: none

refactor: Comment sqlfluff precommits
  .pre-commit-config.yaml
Due: none

undo gce operator modifications erase
  orchestration/dags/common/operators/gce.py
Due: format-fix, lint-fix

lint: lint models mart
  orchestration/dags/data_gcp_dbt/models/mart/collective/mrt_collective__adage_log.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/filtered/mrt_global__filtered_bookable_event_offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__address.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__collective_booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__collective_offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__collective_offer_domain.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__deposit.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__educational_deposit.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__educational_institution.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__favorite.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__local_authority.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer_criterion.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer_metadata.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offerer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offerer_address.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offerer_tag.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__stock.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user_offerer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__venue_provider.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__venue_tag.sql
  orchestration/dags/data_gcp_dbt/models/mart/monitoring/mrt_monitoring__bigquery_cost.sql
  orchestration/dags/data_gcp_dbt/models/mart/monitoring/mrt_monitoring__metabase_cost.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__consultation.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_home_module_conversion.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_home_offer_displayed.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_home_recommendation_offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_user_home_module.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_venue_map_conversion.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_video_module_conversion.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__event.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__outgoing_cohorts.sql
  orchestration/dags/data_gcp_dbt/models/mart/pro/mrt_pro__event.sql
  orchestration/dags/data_gcp_dbt/models/mart/pro/mrt_pro__log.sql
  orchestration/dags/data_gcp_dbt/models/mart/pro/mrt_pro__visit.sql
Due: sqlfmt

lint: lint models machine_learning
  orchestration/dags/data_gcp_dbt/models/machine_learning/feature/ml_feat__item_embedding.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/feature/ml_feat__item_feature_28_day.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/input/ml_input__item_embedding_clusterisation.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/input/ml_input__item_embedding_extraction.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/input/ml_input__item_metadata.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__available_offer.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__ranking_endpoint_training.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__recommendable_item.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__recommendable_offer.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__restrained_item.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__user_booked_item.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__user_statistics.sql
Due: sqlfmt

refactor: Update sqlfmt make targets
  Makefile
Due: none

fix appsflyer format
  jobs/etl_jobs/external/appsflyer/api_import.py
Due: format-fix, lint-fix

lint: fix linting
  orchestration/dags/data_gcp_dbt/models/intermediate/gcp/int_gcp__bigquery_cost.sql
Due: sqlfmt

refactor: Update sqlfmt make targets
  .pre-commit-config.yaml
  Makefile
Due: none

packages: Add gcsfs into requirements
  jobs/ml_jobs/artist_linkage/requirements.in
  jobs/ml_jobs/artist_linkage/requirements.txt
Due: none

feat: Add ML and VM tag for artist_linkage
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

WIPP: update artist linkage dag
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

WIPPP: refacto evaluate
  jobs/ml_jobs/artist_linkage/evaluate.py
Due: format-fix, lint-fix

feat: Add project subsection in data-gcp
  pyproject.toml
Due: none

refactor: Use uv pyproject config and add requirements in lock
  pyproject.toml
  uv.lock
Due: none
