Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
# Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
# Add new hook types here to ensure automatic installation when running `pre-commit install`
- pre-commit
- pre-push
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-json
  - id: check-added-large-files

- repo: local
  hooks:
  - id: format-fix
    name: Formatting (ruff)
    entry: ruff format
    language: system
    types: [python]
    stages: [commit]
  - id: lint-fix
    name: Linting (ruff)
    entry: ruff check --fix
    language: system
    types: [python]
    stages: [commit]
  - id: sqlfmt
    name: SQL Formatting (sqlfmt)
    entry: make sqlfmt
    stages: [commit]
    language: system
    types: [sql]
  # - id: sqlfluff-lint-check
  #   name: Lint check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_lint.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-format-check
  #   name: format check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_format.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-fix
  #   name: fix (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_fix.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]

fix: Add model_name for SentenceTransformer
  jobs/ml_jobs/offer_compliance/package_api_model.py
Due: format-fix, lint-fix

deploy: 1f23148618c1cbe21bc6ac6b3c671b3ff9fe87c7
  __pycache__/hooks.cpython-310.pyc
  sitemap.xml
  sitemap.xml.gz
Due: none

refactor: Update PR title checker
  .github/workflows/on_pr__title_checker.yml
Due: none

docs: Add Readme.md
  jobs/ml_jobs/offer_compliance/README.md
Due: none

(DS) refactor(offer compliance): Move fraud to microservice (#3919)
  .github/workflows/on_pr__title_checker.yml
  jobs/ml_jobs/algo_training/commons/constants.py
  jobs/ml_jobs/algo_training/fraud/offer_compliance_model/__init__.py
  jobs/ml_jobs/algo_training/fraud/offer_compliance_model/utils/constants.py
  jobs/ml_jobs/algo_training/fraud/offer_compliance_model/utils/tools.py
  jobs/ml_jobs/algo_training/requirements.in
  jobs/ml_jobs/algo_training/requirements.txt
  jobs/ml_jobs/algo_training/two_towers_model/evaluate.py
  jobs/ml_jobs/offer_compliance/README.md
  jobs/ml_jobs/offer_compliance/__init__.py
  jobs/ml_jobs/offer_compliance/configs/default.json
  jobs/ml_jobs/offer_compliance/configs/pretrained_feature_encoding.json
  jobs/ml_jobs/offer_compliance/constants.py
  jobs/ml_jobs/offer_compliance/evaluate.py
  jobs/ml_jobs/offer_compliance/package_api_model.py
  jobs/ml_jobs/offer_compliance/preprocess.py
  jobs/ml_jobs/offer_compliance/pyproject.toml
  jobs/ml_jobs/offer_compliance/split_data.py
  jobs/ml_jobs/offer_compliance/train.py
  jobs/ml_jobs/offer_compliance/utils/data_collect_queries.py
  jobs/ml_jobs/offer_compliance/utils/mlflow_tools.py
  jobs/ml_jobs/offer_compliance/utils/secrets_utils.py
  jobs/ml_jobs/offer_compliance/uv.lock
  orchestration/dags/common/operators/gce.py
  orchestration/dags/jobs/ml/algo_training_offer_compliance_model.py
  orchestration/dags/launch_vm.py
Due: format-fix, lint-fix

fix: Fix is_consulted booked and added_to_fav in home_interaction
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__home_interaction.sql
Due: sqlfmt

fix: Join on internal iris
  orchestration/dags/data_gcp_dbt/models/machine_learning/feature/ml_feat__offer_feature.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__ranking_training_data.sql
Due: sqlfmt

(DS) fix(ranking query): Fix offer feature query (#3928)
  orchestration/dags/data_gcp_dbt/models/machine_learning/feature/ml_feat__offer_feature.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__home_interaction.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__ranking_training_data.sql
Due: sqlfmt

refactor: Rename pyproject.toml into .template
  jobs/ml_jobs/_template/pyproject.toml.template
Due: none

refactor: Update create microservices for etl
  Makefile
  jobs/etl_jobs/_template/README.md
  jobs/etl_jobs/_template/main.py
  jobs/etl_jobs/_template/pyproject.toml.template
  jobs/etl_jobs/_template/requirements.in
  jobs/etl_jobs/_template/requirements.txt
  jobs/ml_jobs/_template/README.md
Due: format-fix, lint-fix

refactor: Update makefile
  Makefile
Due: none

refactor: ml _template
  jobs/ml_jobs/_template/main.py
  jobs/ml_jobs/_template/requirements.txt
  jobs/ml_jobs/_template/tests/hello_test.py
Due: format-fix, lint-fix

feat: Update create_microservice_ml
  Makefile
  jobs/ml_jobs/_template/requirements.in
Due: none

fix: Fix template test
  jobs/ml_jobs/_template/tests/hello_test.py
Due: format-fix, lint-fix

(DE-1396) feat(dbt): Add appsflyer new events (#3917)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/appsflyer/column__appsflyer.md
  orchestration/dags/data_gcp_dbt/models/intermediate/appsflyer/_schema/int_appsflyer__daily_install_attribution.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/appsflyer/int_appsflyer__daily_install_attribution.sql
  orchestration/dags/data_gcp_dbt/models/mart/marketing/_schema/mrt_marketing__daily_install_acquisition_campaign.yml
  orchestration/dags/data_gcp_dbt/models/mart/marketing/mrt_marketing__daily_install_acquisition_campaign.sql
Due: sqlfmt

refactor: update github action uv setup
  .github/workflows/on_ci__workflow.yml
  .github/workflows/reusable_job_test.yml
Due: none

sqlfluff
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offer.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__venue.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__venue.sql
Due: sqlfmt

format
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__venue.sql
Due: sqlfmt

(HF) feat(api): update secret record
  jobs/etl_jobs/internal/export_recommendation/utils.py
Due: format-fix, lint-fix

(HF) feat(api): update secret record (#3930)
  jobs/etl_jobs/internal/export_recommendation/utils.py
Due: format-fix, lint-fix

(BSR) feat(etl): 🕊️ remove old address job
  jobs/etl_jobs/external/addresses/main.py
  jobs/etl_jobs/external/addresses/pyproject.toml
  jobs/etl_jobs/external/addresses/requirements.in
  jobs/etl_jobs/external/addresses/requirements.txt
  jobs/etl_jobs/external/addresses/scripts/__init__.py
  jobs/etl_jobs/external/addresses/scripts/bigquery_client.py
  jobs/etl_jobs/external/addresses/scripts/fetch_user_location.py
  orchestration/dags/data_gcp_dbt/models/sources.yml
  orchestration/dags/jobs/import/import_addresses.py
Due: format-fix, lint-fix

(BSR) feat(etl): remove old address job (#3931)
  jobs/etl_jobs/external/addresses/main.py
  jobs/etl_jobs/external/addresses/pyproject.toml
  jobs/etl_jobs/external/addresses/requirements.in
  jobs/etl_jobs/external/addresses/requirements.txt
  jobs/etl_jobs/external/addresses/scripts/__init__.py
  jobs/etl_jobs/external/addresses/scripts/bigquery_client.py
  jobs/etl_jobs/external/addresses/scripts/fetch_user_location.py
  orchestration/dags/data_gcp_dbt/models/sources.yml
  orchestration/dags/jobs/import/import_addresses.py
Due: format-fix, lint-fix

Update orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__nps_beneficiary.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__nps_beneficiary.sql
Due: sqlfmt

(BSR) feat(dbt): add mrt models for nps (#3910)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__venue.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/qualtrics/column_qualtrics_response.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/native/description__mrt_native__nps_beneficiary.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/pro/description__mrt_pro__nps_venue.md
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/enriched_qualtrics_pro.sql
  orchestration/dags/data_gcp_dbt/models/analytics/qualtrics_answers_ir_pro.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/qualtrics/int_qualtrics__nps_beneficiary_answer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/qualtrics/int_qualtrics__nps_venue_answer.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/_schema/mrt_native__nps_beneficiary.yml
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__nps_beneficiary.sql
  orchestration/dags/data_gcp_dbt/models/mart/pro/_schema/mrt_pro__nps_venue.yml
  orchestration/dags/data_gcp_dbt/models/mart/pro/mrt_pro__nps_venue.sql
Due: sqlfmt

hotfix filter offers_to_score to keep those of the 5000 users
  jobs/ml_jobs/algo_training/two_towers_model/utils/evaluate.py
Due: format-fix, lint-fix

PR comments resolved
  jobs/ml_jobs/algo_training/two_towers_model/utils/evaluate.py
Due: format-fix, lint-fix

(HF) fix(metrics): filter offers_to_score to only keep those of the 5000 users (#3932)
  jobs/ml_jobs/algo_training/two_towers_model/utils/evaluate.py
Due: format-fix, lint-fix

refactored code for readibility
  jobs/ml_jobs/algo_training/two_towers_model/README.md
  jobs/ml_jobs/algo_training/two_towers_model/evaluate.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/evaluation/evaluate.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/evaluation/evaluation_baselines.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/evaluation/evaluation_plots.py
Due: format-fix, lint-fix

Batching function + refactor code for readibility
  jobs/ml_jobs/algo_training/README.md
  jobs/ml_jobs/algo_training/two_towers_model/evaluate.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/evaluation/evaluate.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/evaluation/evaluation_plots.py
Due: format-fix, lint-fix

feat: update cron.py schedule delay
  orchestration/dags/jobs/crons.py
Due: format-fix, lint-fix

feat: update cron.py schedule delay (#3934)
  orchestration/dags/jobs/crons.py
Due: format-fix, lint-fix

format
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/aggregated_daily_offer_consultation_data.sql
  orchestration/dags/data_gcp_dbt/models/export/ministry/exp_ministry__offer.sql
  orchestration/dags/data_gcp_dbt/models/export/ministry/exp_ministry__venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__favorite.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__consultation.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_home_offer_displayed.sql
Due: sqlfmt

format
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_home_offer_displayed.sql
Due: sqlfmt

(BSR) feat(airflow): add None to job that should not run in dev/stg
  orchestration/dags/jobs/api/export_cloudsql_tables_to_bigquery.py
  orchestration/dags/jobs/export/export_posthog.py
  orchestration/dags/jobs/import/import_sendinblue_historical.py
Due: format-fix, lint-fix

remove non relevant test (#3916)
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__booking.yml
Due: none

(BSR) feat(dbt): remove legacy tables
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/enriched_qualtrics_pro.sql
  orchestration/dags/data_gcp_dbt/models/analytics/qualtrics_answers_ir_jeunes.sql
  orchestration/dags/data_gcp_dbt/models/analytics/qualtrics_answers_ir_pro.sql
Due: sqlfmt

feat: add compliance
  orchestration/dags/jobs/ml/algo_training_offer_compliance_model.py
Due: format-fix, lint-fix
