Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
  # Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
  # Add new hook types here to ensure automatic installation when running `pre-commit install`
  - pre-commit
  - pre-push
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: format-fix
        name: Formatting (ruff)
        entry: ruff format
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: lint-fix
        name: Linting (ruff)
        entry: ruff check --fix
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: sqlfmt
        name: SQL Formatting (sqlfmt)
        entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
        stages: [push]
        language: python
        additional_dependencies: ["shandy-sqlfmt[jinjafmt]==0.23.2"]
        types: [sql]
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.3.0
    hooks:
      - id: sqlfluff-fix
        additional_dependencies:
          ["dbt-bigquery==1.8.1", "sqlfluff-templater-dbt"]
        stages: [commit]
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.0
    hooks:
    - id: markdownlint-cli2
      language_version: 24.0.0
      args:
        - --fix

added location_type in collective_offer model
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__collective_booking.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__collective_booking.sql
Due: sqlfmt

fix: Fix bug
  jobs/ml_jobs/artist_linkage/cli/transfer_wikimedia_images_to_gcs.py
Due: format-fix, lint-fix

refactor: Move gcs client to proper function
  jobs/ml_jobs/artist_linkage/cli/transfer_wikimedia_images_to_gcs.py
Due: format-fix, lint-fix

fix(unit-tests): exclude mocked snapshot data from db & enforce excepted values in test results
  orchestration/dags/data_gcp_dbt/seeds/schema.yml
Due: none

feat(CI): build dbt seed in CI schema for unit testing
  .github/workflows/reusable_dbt_workflow.yml
Due: none

(DE-2968) feat(artists): Dowload images to gcs (#4709)
  jobs/ml_jobs/artist_linkage/cli/get_wikimedia_commons_license.py
  jobs/ml_jobs/artist_linkage/cli/transfer_wikimedia_images_to_gcs.py
  jobs/ml_jobs/artist_linkage/src/constants.py
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

refactor: Fetch wiki_id from applicative database instead of artist_alias in link_new_products
  jobs/ml_jobs/artist_linkage/cli/link_new_products_to_artists.py
  jobs/ml_jobs/artist_linkage/src/utils/matching.py
Due: format-fix, lint-fix

refactor: Fetch wiki_id from applicative database instead of artist_alias in refresh
  jobs/ml_jobs/artist_linkage/cli/refresh_artist_metadatas.py
Due: format-fix, lint-fix

refactor: Remove applicative_artist_alias usage in DAG
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

feat(CI): add seed testing
  .github/workflows/reusable_dbt_workflow.yml
  orchestration/dags/data_gcp_dbt/seeds/schema.yml
Due: none

(DE-3103) refactor(artist): Retrieve wiki id from applicative artist instead of deprecated aliases (#4712)
  jobs/ml_jobs/artist_linkage/cli/link_new_products_to_artists.py
  jobs/ml_jobs/artist_linkage/cli/refresh_artist_metadatas.py
  jobs/ml_jobs/artist_linkage/src/utils/matching.py
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

feat: Add artist_mediation_uuid into backend tables
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/ml/column__artist.md
  orchestration/dags/data_gcp_dbt/models/export/backend/_schema/exp_backend__artist_delta.yml
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__artist_delta.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/_schema/ml_linkage__delta_artist.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__delta_artist.sql
Due: sqlfmt

refactor: Simplify STATUS values
  jobs/ml_jobs/artist_linkage/cli/transfer_wikimedia_images_to_gcs.py
Due: format-fix, lint-fix

(BSR) feat(artists): Add mediation UUID to backend artist delta table (#4714)
  jobs/ml_jobs/artist_linkage/cli/transfer_wikimedia_images_to_gcs.py
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/ml/column__artist.md
  orchestration/dags/data_gcp_dbt/models/export/backend/_schema/exp_backend__artist_delta.yml
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__artist_delta.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/_schema/ml_linkage__delta_artist.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__delta_artist.sql
Due: format-fix, lint-fix, sqlfmt

deploy: 9c5e3475ae26f965c2d18b691b66a88a8b6ca92b
  __pycache__/hooks.cpython-312.pyc
  dbt/glossary/ml/column__artist/index.html
  dbt/models/export/backend/description__exp_backend__artist_delta/index.html
  dbt/models/machine_learning/linkage/description__ml_linkage__delta_artist/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

(DE) test(snapshot): Unit testing (#4713)
  .github/workflows/reusable_dbt_workflow.yml
  orchestration/dags/data_gcp_dbt/seeds/schema.yml
Due: none

add first test, rename folder and create specific schema
  orchestration/dags/data_gcp_dbt/dbt_project.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/_schema/mrt_external_reporting__eac_coverage.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/_schema/mrt_external_reporting__eac_credit_usage.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/_schema/mrt_external_reporting__eac_cultural_partner.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/_schema/mrt_external_reporting__eac_domain.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/_schema/mrt_external_reporting__eac_offer_booking.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_coverage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_credit_usage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_domain.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_offer_booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/mrt_external_reporting__eac.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/mrt_external_reporting__eac.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__beneficiary.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/mrt_external_reporting__individual.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/mrt_external_reporting__individual.yml
Due: sqlfmt

chore(bigquery): int_pcreco_past_offer_context_sink require partition filter
  orchestration/dags/data_gcp_dbt/models/intermediate/pcreco/int_pcreco__past_offer_context_sink.sql
Due: sqlfmt

fix
  orchestration/dags/data_gcp_dbt/models/intermediate/metabase/int_metabase__activity.sql
Due: sqlfmt

fix CI workflow
  .github/workflows/reusable_dbt_workflow.yml
Due: none

(BSR) fix(external-reporting: export job branch
  orchestration/dags/jobs/export/export_external_reporting.py
Due: format-fix, lint-fix

(BSR) fix(external-reporting: export job branch (#4718)
  orchestration/dags/jobs/export/export_external_reporting.py
Due: format-fix, lint-fix

(DE) fix (CI): typo
  .github/workflows/reusable_dbt_workflow.yml
Due: none

(DE) fix (CI): typo (#4719)
  .github/workflows/reusable_dbt_workflow.yml
Due: none

(BSR) chore(bigquery): int_pcreco_past_offer_context_sink require partition… (#4717)
  orchestration/dags/data_gcp_dbt/models/intermediate/pcreco/int_pcreco__past_offer_context_sink.sql
Due: sqlfmt

deploy: f0a5adc990ee937450ff003a3d04680c9a7f5cbe
  __pycache__/hooks.cpython-312.pyc
  sitemap.xml
  sitemap.xml.gz
Due: none

feat(dbt): add colibri column lineage to airflow docs
  .github/workflows/reusable_deploy_airflow.yml
  .gitignore
  orchestration/plugins/__init__.py
  orchestration/plugins/dbt_docs.py
  pyproject.toml
  uv.lock
Due: format-fix, lint-fix

feat(fix): typo error
  orchestration/plugins/__init__.py
Due: format-fix, lint-fix

(DE) chore(backup): migrate snapshot backup bucket
  orchestration/dags/common/config.py
  orchestration/dags/jobs/administration/bigquery_snaphot_backup.py
Due: format-fix, lint-fix

(DE) chore(backup): migrate snapshot backup bucket (#4722)
  orchestration/dags/common/config.py
  orchestration/dags/jobs/administration/bigquery_snaphot_backup.py
Due: format-fix, lint-fix

(DE) fix(ci): remove decomissioned action input indispatch workflow
  .github/workflows/on_dispatch__build_image.yml
Due: none

(DE) fix(ci): remove decomissioned action input indispatch workflow (#4724)
  .github/workflows/on_dispatch__build_image.yml
Due: none

desactivate conda from vm
  orchestration/dags/common/hooks/image.py
Due: format-fix, lint-fix

maj reqs
  jobs/etl_jobs/external/downloads/requirements.in
  jobs/etl_jobs/external/downloads/requirements.txt
  jobs/etl_jobs/external/qualtrics/requirements.in
  jobs/etl_jobs/external/qualtrics/requirements.txt
  jobs/etl_jobs/external/siren/requirements.in
  jobs/etl_jobs/external/siren/requirements.txt
Due: none

Change bucket destination for native events
  orchestration/dags/jobs/administration/bigquery_archive_partition.py
Due: format-fix, lint-fix

(BSR) chore(dbt): migrate legacy modeling in dedicated folder
  orchestration/dags/data_gcp_dbt/dbt_project.yml
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/adage.sql
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/adage_involved_institution.sql
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/adage_involved_student.sql
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/aggregated_weekly_user_data.sql
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/contentful_entries.sql
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/contentful_tags.sql
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/cultural_sector_bookability_frequency.sql
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/diversification/diversification_booking.sql
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/diversification/diversification_raw.sql
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/dms_pro.sql
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/enriched/aggregated_daily_offer_consultation_data.sql
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/enriched/enriched_monthly_bookable_item_discoverability.sql
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/enriched/enriched_partner_activation_activity.sql
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/enriched/enriched_partner_retention_data.sql
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/enriched/enriched_qpi_answers.sql
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/enriched/enriched_reimbursement_data.sql
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/enriched/enriched_suivi_dms_adage.sql
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/eple_aggregated.sql
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/firebase/firebase_aggregated_daily_campaign_events.sql
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/firebase/firebase_aggregated_search_events.sql
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/firebase/firebase_aggregated_users.sql
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/firebase/firebase_app_experiments.sql
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/firebase/firebase_booking_origin.sql
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/firebase/firebase_bookings.sql
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/firebase/firebase_daily_offer_consultation_data.sql
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/firebase/firebase_session_origin.sql
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/firebase/firebase_venue_data.sql
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/firebase/firebase_visits.sql
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/firebase_aggregated_similar_offer_events.sql
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/firebase_similar_offer_events.sql
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/firebase_similar_offer_events.sqlx1sm3lk_.sql
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/history/bookable_partner_history.sql
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/history/retention_partner_history.sql
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/partner_type_bookability_frequency.sql
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/region_department.sql
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/siren_data.sql
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/venue_siren_offers.sql
  orchestration/dags/data_gcp_dbt/models/legacy/clean/bookable_collective_offer_history.sql
  orchestration/dags/data_gcp_dbt/models/legacy/clean/user_suspension.sql
Due: sqlfmt

clean removed folder from dbt project
  orchestration/dags/data_gcp_dbt/dbt_project.yml
Due: none

deploy: ddce13f54bd12e98f9a9f8342bc6218e5a402b28
  __pycache__/hooks.cpython-312.pyc
  sitemap.xml
  sitemap.xml.gz
Due: none

add deactivate conda to bashrc in the install hook
  orchestration/dags/common/hooks/image.py
  orchestration/dags/common/operators/gce.py
Due: format-fix, lint-fix

(BSR) feat(conda): desactivate conda in VM startup script (#4723)
  orchestration/dags/common/operators/gce.py
Due: format-fix, lint-fix
