Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
  # Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
  # Add new hook types here to ensure automatic installation when running `pre-commit install`
  - pre-commit
  - pre-push
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: format-fix
        name: Formatting (ruff)
        entry: ruff format
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: lint-fix
        name: Linting (ruff)
        entry: ruff check --fix
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: sqlfmt
        name: SQL Formatting (sqlfmt)
        entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
        stages: [push]
        language: python
        additional_dependencies: ["shandy-sqlfmt[jinjafmt]==0.23.2"]
        types: [sql]
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.3.0
    hooks:
      - id: sqlfluff-fix
        additional_dependencies:
          ["dbt-bigquery==1.8.1", "sqlfluff-templater-dbt"]
        stages: [commit]
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.0
    hooks:
    - id: markdownlint-cli2
      language_version: 24.0.0
      args:
        - --fix

(DE-2411) refactor(bucket): Bucket migration high prio (#4470)
  jobs/etl_jobs/internal/bigquery_archive_partition/archive.py
  jobs/etl_jobs/internal/bigquery_archive_partition/utils.py
  orchestration/dags/common/config.py
  orchestration/dags/jobs/administration/bigquery_archive_partition.py
  orchestration/dags/jobs/administration/bigquery_historize_applicative_database.py
  orchestration/dags/jobs/import/import_qpi.py
  tmp/README_bucket_migration.md
  tmp/airflow_data_subfolder_analysis.md
  tmp/bucket_migration_scripts/archive/delete_old_archive.py
  tmp/bucket_migration_scripts/archive/migrate_archive_data.py
  tmp/bucket_migration_scripts/bigquery_archive_tables/README.md
  tmp/bucket_migration_scripts/bigquery_archive_tables/delete_old_bigquery_archive_tables.py
  tmp/bucket_migration_scripts/bigquery_archive_tables/migrate_bigquery_archive_tables.py
  tmp/bucket_migration_scripts/historization/README_bucket_migration.md
  tmp/bucket_migration_scripts/historization/delete_historization_folder.py
  tmp/bucket_migration_scripts/historization/migrate_historical_data.py
  tmp/bucket_migration_scripts/qpi_historical/README.md
  tmp/bucket_migration_scripts/qpi_historical/delete_old_qpi_historical.py
  tmp/bucket_migration_scripts/qpi_historical/migrate_qpi_historical.py
  tmp/bucket_migration_scripts/qpi_mapping/delete_old_qpi_mapping.py
  tmp/bucket_migration_scripts/qpi_mapping/migrate_qpi_mapping.py
  tmp/bucket_subfolders_analysis.md
  tmp/subfolder_migration_analysis.md
Due: format-fix, lint-fix

feat: compress & gcs upload commands
  jobs/etl_jobs/external/ppg/config.py
  jobs/etl_jobs/external/ppg/main.py
  jobs/etl_jobs/external/ppg/utils/data_utils.py
  jobs/etl_jobs/external/ppg/utils/file_utils.py
Due: format-fix, lint-fix

orchestration: add steps to dag
  orchestration/dags/jobs/export/export_ppg.py
Due: format-fix, lint-fix

fix: date & crons
  jobs/etl_jobs/external/ppg/config.py
  jobs/etl_jobs/external/ppg/main.py
  jobs/etl_jobs/external/ppg/utils/file_utils.py
  orchestration/dags/jobs/export/export_ppg.py
Due: format-fix, lint-fix

readability: sonar cloud check
  jobs/etl_jobs/external/ppg/core.py
  jobs/etl_jobs/external/ppg/main.py
  jobs/etl_jobs/external/ppg/services/data.py
  jobs/etl_jobs/external/ppg/services/excel_layout.py
  jobs/etl_jobs/external/ppg/services/excel_writer.py
  jobs/etl_jobs/external/ppg/services/orchestration.py
  jobs/etl_jobs/external/ppg/utils/data_utils.py
  jobs/etl_jobs/external/ppg/utils/duckdb_utils.py
Due: format-fix, lint-fix

(DE) feat(ppg): ppg export automation script (#4441)
  jobs/etl_jobs/external/ppg/.gitignore
  jobs/etl_jobs/external/ppg/README.md
  jobs/etl_jobs/external/ppg/__init__.py
  jobs/etl_jobs/external/ppg/config.py
  jobs/etl_jobs/external/ppg/core.py
  jobs/etl_jobs/external/ppg/main.py
  jobs/etl_jobs/external/ppg/pyproject.toml
  jobs/etl_jobs/external/ppg/requirements.in
  jobs/etl_jobs/external/ppg/requirements.txt
  jobs/etl_jobs/external/ppg/services/__init__.py
  jobs/etl_jobs/external/ppg/services/data.py
  jobs/etl_jobs/external/ppg/services/excel_layout.py
  jobs/etl_jobs/external/ppg/services/excel_writer.py
  jobs/etl_jobs/external/ppg/services/orchestration.py
  jobs/etl_jobs/external/ppg/templates/export_template.xlsx
  jobs/etl_jobs/external/ppg/utils/__init__.py
  jobs/etl_jobs/external/ppg/utils/data_utils.py
  jobs/etl_jobs/external/ppg/utils/duckdb_utils.py
  jobs/etl_jobs/external/ppg/utils/file_utils.py
  orchestration/dags/jobs/crons.py
  orchestration/dags/jobs/export/export_ppg.py
Due: format-fix, lint-fix

(DE) fix(docs): verbose upload report
  jobs/etl_jobs/external/ppg/utils/file_utils.py
Due: format-fix, lint-fix

(DE) fix(docs): upload path
  jobs/etl_jobs/external/ppg/main.py
  jobs/etl_jobs/external/ppg/utils/data_utils.py
Due: format-fix, lint-fix

(DE) fix(docs): verbose upload report (#4479)
  jobs/etl_jobs/external/ppg/utils/file_utils.py
Due: format-fix, lint-fix

(DE) chore(migration): point export bucket to new value
  orchestration/dags/common/config.py
  orchestration/dags/jobs/export/export_ppg.py
Due: format-fix, lint-fix

(DE) chore(migration): point export bucket to new value (#4480)
  orchestration/dags/common/config.py
  orchestration/dags/jobs/export/export_ppg.py
Due: format-fix, lint-fix

push files fixed, missing to migrate archive
  tmp/bucket_migration_scripts/archive/delete_old_archive.py
  tmp/bucket_migration_scripts/archive/migrate_archive_data.py
  tmp/bucket_migration_scripts/bigquery_archive_tables/delete_old_bigquery_archive_tables.py
  tmp/bucket_migration_scripts/bigquery_archive_tables/migrate_bigquery_archive_tables.py
  tmp/bucket_migration_scripts/historization/delete_historization_folder.py
  tmp/bucket_migration_scripts/historization/migrate_historical_data.py
  tmp/bucket_migration_scripts/qpi_historical/delete_old_qpi_historical.py
  tmp/bucket_migration_scripts/qpi_historical/migrate_qpi_historical.py
Due: format-fix, lint-fix

fix: target master branch
  orchestration/dags/jobs/export/export_ppg.py
Due: format-fix, lint-fix

fix: pass env variables
  orchestration/dags/jobs/export/export_ppg.py
Due: format-fix, lint-fix

fix: Add missing wikidata_id in artist_delta table
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__artist_delta.sql
Due: sqlfmt

(DE) fix(export-ppg): target master branch (#4481)
  orchestration/dags/jobs/export/export_ppg.py
Due: format-fix, lint-fix

ppg: instance-type
  orchestration/dags/jobs/export/export_ppg.py
Due: format-fix, lint-fix

(DE) fix(ppg): instance type (#4482)
  orchestration/dags/jobs/export/export_ppg.py
Due: format-fix, lint-fix

refactor: Remove queries for ranking_training v2
  orchestration/dags/data_gcp_dbt/models/machine_learning/feature/ml_feat__user_daily_iris_location.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/feature/ml_feat__user_feature.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__home_interaction.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__ranking_training_data.sql
Due: sqlfmt

fix scripts migration
  tmp/bucket_migration_scripts/bigquery_archive_tables/migrate_bigquery_archive_tables.py
  tmp/bucket_migration_scripts/qpi_historical/migrate_qpi_historical.py
Due: format-fix, lint-fix

add migration/delete scripts
  airflow_data_subfolder_analysis.md
  bucket_subfolders_analysis.md
  scripts/README_bucket_migration.md
  subfolder_migration_analysis.md
Due: none

move everything in /tmp
  airflow_data_subfolder_analysis.md
  bucket_subfolders_analysis.md
  scripts/README_bucket_migration.md
  subfolder_migration_analysis.md
Due: none

Migration high prio
  orchestration/dags/common/config.py
Due: format-fix, lint-fix

(DE-2411) refactor(bucket): Bucket migration high prio (#4470)
  tmp/bucket_migration_scripts/archive/delete_old_archive.py
  tmp/bucket_migration_scripts/archive/migrate_archive_data.py
  tmp/bucket_migration_scripts/bigquery_archive_tables/delete_old_bigquery_archive_tables.py
  tmp/bucket_migration_scripts/bigquery_archive_tables/migrate_bigquery_archive_tables.py
  tmp/bucket_migration_scripts/historization/delete_historization_folder.py
  tmp/bucket_migration_scripts/historization/migrate_historical_data.py
  tmp/bucket_migration_scripts/qpi_historical/delete_old_qpi_historical.py
  tmp/bucket_migration_scripts/qpi_historical/migrate_qpi_historical.py
Due: format-fix, lint-fix

(DE) fix(airflow): skip snapshot historization when schedule not matched (#4438)
  orchestration/dags/common/utils.py
Due: format-fix, lint-fix

migrate /historization
  orchestration/dags/common/config.py
  orchestration/dags/jobs/administration/bigquery_archive_partition.py
  orchestration/dags/jobs/administration/bigquery_historize_applicative_database.py
Due: format-fix, lint-fix

add migration/delete scripts
  airflow_data_subfolder_analysis.md
  bucket_subfolders_analysis.md
  scripts/README_bucket_migration.md
  subfolder_migration_analysis.md
  tmp/bucket_migration_scripts/historization/delete_historization_folder.py
  tmp/bucket_migration_scripts/historization/migrate_historical_data.py
Due: format-fix, lint-fix

Migration high prio
  orchestration/dags/common/config.py
  orchestration/dags/jobs/administration/bigquery_historize_applicative_database.py
  tmp/bucket_migration_scripts/historization/README_bucket_migration.md
  tmp/bucket_migration_scripts/historization/migrate_historical_data.py
  tmp/subfolder_migration_analysis.md
Due: format-fix, lint-fix

move everything in /tmp
  airflow_data_subfolder_analysis.md
  bucket_subfolders_analysis.md
  scripts/README_bucket_migration.md
  subfolder_migration_analysis.md
  tmp/subfolder_migration_analysis.md
Due: none

add bucket variable to common config
  orchestration/dags/common/config.py
  orchestration/dags/jobs/administration/bigquery_archive_partition.py
Due: format-fix, lint-fix

migration bucket medium priority
  jobs/etl_jobs/internal/gcs_seed/main.py
  jobs/etl_jobs/internal/gcs_seed/utils.py
  orchestration/dags/common/config.py
  tmp/bucket_migration_scripts/base32_encode/README.md
  tmp/bucket_migration_scripts/base32_encode/delete_old_base32_utils.py
  tmp/bucket_migration_scripts/base32_encode/migrate_base32_utils.py
  tmp/bucket_migration_scripts/bigquery_imports_seed/README.md
  tmp/bucket_migration_scripts/bigquery_imports_seed/delete_old_seed_data.py
  tmp/bucket_migration_scripts/bigquery_imports_seed/migrate_seed_data.py
Due: format-fix, lint-fix

fix
  orchestration/dags/data_gcp_dbt/macros/function_utils/udf_js/dehumanize_id_function.sql
  orchestration/dags/data_gcp_dbt/macros/function_utils/udf_js/humanize_id_function.sql
Due: sqlfmt

fix migration scripts
  tmp/bucket_migration_scripts/base32_encode/migrate_base32_utils.py
  tmp/bucket_migration_scripts/bigquery_imports_seed/migrate_seed_data.py
Due: format-fix, lint-fix

(DE-2411) refactor(bucket): Bucket migration medium prio (#4477)
  jobs/etl_jobs/internal/gcs_seed/main.py
  jobs/etl_jobs/internal/gcs_seed/utils.py
  orchestration/dags/common/config.py
  orchestration/dags/common/utils.py
  orchestration/dags/data_gcp_dbt/macros/function_utils/udf_js/dehumanize_id_function.sql
  orchestration/dags/data_gcp_dbt/macros/function_utils/udf_js/humanize_id_function.sql
  orchestration/dags/jobs/administration/bigquery_historize_applicative_database.py
  tmp/bucket_migration_scripts/base32_encode/README.md
  tmp/bucket_migration_scripts/base32_encode/delete_old_base32_utils.py
  tmp/bucket_migration_scripts/base32_encode/migrate_base32_utils.py
  tmp/bucket_migration_scripts/bigquery_imports_seed/README.md
  tmp/bucket_migration_scripts/bigquery_imports_seed/delete_old_seed_data.py
  tmp/bucket_migration_scripts/bigquery_imports_seed/migrate_seed_data.py
  tmp/bucket_migration_scripts/historization/README_bucket_migration.md
  tmp/bucket_migration_scripts/historization/delete_historization_folder.py
  tmp/bucket_migration_scripts/historization/migrate_historical_data.py
Due: format-fix, lint-fix, sqlfmt
