Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: system
  stages:
  - commit

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: system
  stages:
  - commit

sqlfmt:
  name: SQL Formatting (sqlfmt)
  entry: make sqlfmt
  stages:
  - commit
  language: system

(BSR) ci(protection): restrict push protection schedule to master only (#3636)
  .github/workflows/on_pr_check_hour.yml
Due: none

(BSR) ci(protection): convert action schedule timezone
  .github/workflows/on_pr_check_hour.yml
Due: none

(BSR) ci(protection): convert action schedule timezone (#3637)
  .github/workflows/on_pr_check_hour.yml
Due: none

update cron with timezone
  .github/workflows/on_pr_check_hour.yml
Due: none

(DA-3629) feat(analytics): Add brevo pro retention table (#3629)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/brevo/column__brevo.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/brevo/description__mrt_brevo_retention_pro.md
  orchestration/dags/data_gcp_dbt/models/mart/brevo/_schema/mrt_brevo__retention_pro.yml
  orchestration/dags/data_gcp_dbt/models/mart/brevo/mrt_brevo__retention_pro.sql
Due: sqlfmt

(DE-905) feat(gsheet): add headcount
  jobs/etl_jobs/external/gsheet/gsheet.py
Due: format-fix, lint-fix

(BSR) feat(tests): update firebase partition missing lookup
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/schema/int_firebase__native_event_flattened.yaml
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/pro/schema/int_firebase__pro_event.yml
Due: none

set uv as default installer in gce operator
  orchestration/dags/common/operators/gce.py
Due: format-fix, lint-fix

(BSR) feat(tests): update firebase partition missing lookup (#3639)
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/schema/int_firebase__native_event_flattened.yaml
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/pro/schema/int_firebase__pro_event.yml
Due: none

add json data extract to clean model
  orchestration/dags/data_gcp_dbt/models/clean/applicative/action_history.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/action_history.sql
Due: sqlfmt

add json data extract to clean model
  orchestration/dags/data_gcp_dbt/models/clean/applicative/action_history.sql
Due: sqlfmt

(HF) feat(import): fix tiktok account
  jobs/etl_jobs/external/tiktok/extract.py
Due: format-fix, lint-fix

(HF) feat(import): fix tiktok account (#3642)
  jobs/etl_jobs/external/tiktok/extract.py
Due: format-fix, lint-fix

create custom int model
  orchestration/dags/data_gcp_dbt/models/clean/applicative/action_history.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__user_information_history.sql
Due: sqlfmt

(BSR) feat(cron): add retrieval_vector_build schedule to SCHEDULE_DICT and update DAG configuration
  orchestration/dags/jobs/crons.py
  orchestration/dags/jobs/ml/retrieval_vector_build.py
Due: format-fix, lint-fix

add model doc
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/applicative/description__int_applicative__user_information_history.md
Due: none

feat: Add API_URL_SECRET_ID to access secrets and update APP_CONFIG with dynamic API URL
  jobs/ml_jobs/offline_recommendation/utils.py
  orchestration/dags/jobs/ml/offline_recommendations.py
Due: format-fix, lint-fix

update pc pro link to backoffice
  orchestration/dags/data_gcp_dbt/models/analytics/offer_moderation.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__collective_offer.sql
Due: sqlfmt

add doc and yml file
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__user_information_history.md
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/_schema/int_applicative__user_information_history.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__user_information_history.sql
Due: sqlfmt

add doc and yml file
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__user_information_history.sql
Due: sqlfmt

feat: Refactor access to GCP secrets and reorganize utility functions for offline recommendations
  jobs/ml_jobs/offline_recommendation/main.py
  jobs/ml_jobs/offline_recommendation/utils.py
  jobs/ml_jobs/offline_recommendation/utils/__init__.py
  jobs/ml_jobs/offline_recommendation/utils/access_gcp_secrets.py
  jobs/ml_jobs/offline_recommendation/utils/constants.py
  jobs/ml_jobs/offline_recommendation/utils/tools.py
Due: format-fix, lint-fix

deploy: 68896c130054ef8de3fd877f235141a274f56bff
  __pycache__/hooks.cpython-310.pyc
  sitemap.xml
  sitemap.xml.gz
Due: none

rename temp table
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__user_information_history.sql
Due: sqlfmt

(BSR) feat(airflow): update slack dag_url
  orchestration/dags/common/alerts.py
Due: format-fix, lint-fix

(BSR) feat(contentful): add more ressources and retry
  orchestration/dags/jobs/import/import_contentful.py
Due: format-fix, lint-fix

refacto doc
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__user.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__user_information_history.md
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/_schema/int_applicative__user_information_history.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__user_information_history.sql
Due: sqlfmt

refacto doc
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__user_information_history.sql
Due: sqlfmt

(BSR) feat(contentful): add more ressources and retry (#3649)
  orchestration/dags/jobs/import/import_contentful.py
Due: format-fix, lint-fix

(BSR) feat(airflow): update slack dag_url (#3648)
  orchestration/dags/common/alerts.py
Due: format-fix, lint-fix

(DA-3778) feat(dbt): Add action history transfo to clean model (#3641)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__user.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/applicative/description__int_applicative__user_information_history.md
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/_schema/int_applicative__user_information_history.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__user_information_history.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/action_history.sql
Due: sqlfmt

WIP
  jobs/ml_jobs/item_linkage/build_semantic_space.py
  jobs/ml_jobs/item_linkage/constants.py
  jobs/ml_jobs/item_linkage/link_items.py
  jobs/ml_jobs/item_linkage/linkage_candidates.py
  jobs/ml_jobs/item_linkage/preprocess_offer_linkage.py
  jobs/ml_jobs/item_linkage/utils/common.py
  orchestration/dags/jobs/ml/link_items.py
  orchestration/dags/jobs/ml/link_unmatched_offers.py
Due: format-fix, lint-fix

remove unnecessary parameters
  orchestration/dags/common/config.py
  orchestration/dags/jobs/administration/bigquery_alerts.py
  orchestration/dags/jobs/administration/metabase_governance.py
  orchestration/dags/jobs/administration/metabase_transition.py
  orchestration/dags/jobs/export/export_clickhouse.py
  orchestration/dags/jobs/export/export_posthog.py
  orchestration/dags/jobs/import/import_adage.py
  orchestration/dags/jobs/import/import_addresses.py
  orchestration/dags/jobs/import/import_api_referentials.py
  orchestration/dags/jobs/import/import_appsflyer.py
  orchestration/dags/jobs/import/import_batch.py
  orchestration/dags/jobs/import/import_contentful.py
  orchestration/dags/jobs/import/import_dms_subscriptions.py
  orchestration/dags/jobs/import/import_downloads.py
  orchestration/dags/jobs/import/import_gcs_seed.py
  orchestration/dags/jobs/import/import_gsheet.py
  orchestration/dags/jobs/import/import_qualtrics.py
  orchestration/dags/jobs/import/import_sendinblue.py
  orchestration/dags/jobs/import/import_sendinblue_historical.py
  orchestration/dags/jobs/import/import_siren.py
  orchestration/dags/jobs/import/import_social_media.py
  orchestration/dags/jobs/import/import_zendesk.py
  orchestration/dags/jobs/ml/algo_custom_deployment.py
  orchestration/dags/jobs/ml/algo_default_deployment.py
  orchestration/dags/jobs/ml/algo_training_offer_categorization.py
  orchestration/dags/jobs/ml/algo_training_offer_compliance_model.py
  orchestration/dags/jobs/ml/algo_training_two_towers.py
  orchestration/dags/jobs/ml/artist_linkage.py
  orchestration/dags/jobs/ml/artist_wikidata_dump.py
  orchestration/dags/jobs/ml/embedding_clusterisation_item.py
  orchestration/dags/jobs/ml/embedding_extraction_item.py
  orchestration/dags/jobs/ml/embedding_reduction_item.py
  orchestration/dags/jobs/ml/link_items.py
  orchestration/dags/jobs/ml/link_offers.py
  orchestration/dags/jobs/ml/offline_recommendations.py
  orchestration/dags/jobs/ml/ranking_endpoint_build.py
  orchestration/dags/jobs/ml/retrieval_vector_build.py
  orchestration/dags/jobs/ml/retrieval_vector_semantic_build.py
Due: format-fix, lint-fix

(BSR) fix(qualtrics): switch venue table to intermediate_raw
  orchestration/dags/dependencies/qualtrics/sql/analytics/enriched_qualtrics_pro.sql
Due: sqlfmt

WIP
  jobs/ml_jobs/item_linkage/assign_linked_ids.py
  jobs/ml_jobs/item_linkage/build_semantic_space.py
  jobs/ml_jobs/item_linkage/link_items.py
  jobs/ml_jobs/item_linkage/linkage_candidates.py
  jobs/ml_jobs/item_linkage/model/semantic_space.py
  jobs/ml_jobs/item_linkage/preprocess_offer_linkage.py
  orchestration/dags/jobs/ml/link_items.py
Due: format-fix, lint-fix

(BSR) fix(qualtrics): switch venue table to intermediate_raw (#3650)
  orchestration/dags/dependencies/qualtrics/sql/analytics/enriched_qualtrics_pro.sql
Due: sqlfmt

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfmt: any of: \.sql$
