Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: python
  stages:
  - commit
  additional_dependencies:
  - ruff==0.5.7

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: python
  stages:
  - commit
  additional_dependencies:
  - ruff==0.5.7

sqlfmt:
  name: SQL Formatting (sqlfmt)
  entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
  ...

refactor: Refacto to use new data
  jobs/ml_jobs/ranking_endpoint/app/model.py
Due: format-fix, lint-fix

refactor: Move preprocess embeddings to custom function
  jobs/ml_jobs/ranking_endpoint/app/model.py
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
  jobs/ml_jobs/ranking_endpoint/src/preprocessing.py
Due: format-fix, lint-fix

feat: New ranking
  jobs/ml_jobs/ranking_endpoint/.gitignore
  jobs/ml_jobs/ranking_endpoint/app/model.py
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
  jobs/ml_jobs/ranking_endpoint/requirements.in
  jobs/ml_jobs/ranking_endpoint/requirements.txt
  jobs/ml_jobs/ranking_endpoint/src/__init__.py
  jobs/ml_jobs/ranking_endpoint/src/evaluation.py
  jobs/ml_jobs/ranking_endpoint/src/figure.py
  jobs/ml_jobs/ranking_endpoint/src/preprocessing.py
  jobs/ml_jobs/ranking_endpoint/src/utils.py
Due: format-fix, lint-fix

HACK: local load
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
Due: format-fix, lint-fix

fix: Fix data loading
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
Due: format-fix, lint-fix

refactor: Use uv in dockerfile
  jobs/ml_jobs/ranking_endpoint/Dockerfile
Due: none

Prepare data to use same features as in api
  jobs/ml_jobs/ranking_endpoint/app/model.py
  jobs/ml_jobs/ranking_endpoint/src/preprocessing.py
Due: format-fix, lint-fix

fix: Use v1.0 for ranking_training model
  orchestration/dags/jobs/ml/ranking_train_and_build.py
Due: format-fix, lint-fix

fix: Fix feature mapping name
  jobs/ml_jobs/ranking_endpoint/src/preprocessing.py
Due: format-fix, lint-fix

fix: Readd user_is_geolocated
  jobs/ml_jobs/ranking_endpoint/src/preprocessing.py
Due: format-fix, lint-fix

feat: Add Makefile to start the api locally
  jobs/ml_jobs/ranking_endpoint/Makefile
Due: none

fix: Fix return of item dot similarity
  jobs/ml_jobs/retrieval_vector/app/retrieval/client.py
Due: format-fix, lint-fix

fix: Fix return of item dot similarity (#4206)
  jobs/ml_jobs/retrieval_vector/app/retrieval/client.py
Due: format-fix, lint-fix

Update firebase pro visits
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/pro/int_firebase__pro_visit.sql
  orchestration/dags/data_gcp_dbt/models/mart/pro/mrt_pro__visit.sql
Due: sqlfmt

Update firebase pro visits
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/pro/int_firebase__pro_visit.sql
Due: sqlfmt

(BSR) fix(ssh): disable trigger internal ip param
  orchestration/dags/common/triggers/gce.py
Due: format-fix, lint-fix

(BSR) fix(ssh): enable iap tunnel trigger hook param
  orchestration/dags/common/triggers/gce.py
Due: format-fix, lint-fix

Update is_headline_offer in native_event
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_event.sql
Due: sqlfmt

style: params order
  orchestration/dags/common/operators/gce.py
Due: format-fix, lint-fix

log level error
  orchestration/airflow/config/airflow.cfg
Due: none

(BSR) fix(ssh): disable trigger internal ip param (#4210)
  orchestration/dags/common/operators/gce.py
  orchestration/dags/common/triggers/gce.py
Due: format-fix, lint-fix

feat: Add new ML bucket configurations and update paths in algo_training_two_towers DAG
  orchestration/dags/common/config.py
  orchestration/dags/jobs/ml/algo_training_two_towers.py
Due: format-fix, lint-fix

fix(link_items): update storage path to use ML_BUCKET_TEMP
  orchestration/dags/common/config.py
  orchestration/dags/jobs/ml/link_items.py
Due: format-fix, lint-fix

fix: update ML bucket references in config and embedding reduction item DAG
  orchestration/dags/common/config.py
  orchestration/dags/jobs/ml/embedding_reduction_item.py
Due: format-fix, lint-fix

fix: remove unused ML bucket environment variables
  orchestration/dags/common/config.py
Due: format-fix, lint-fix

fix(config): remove unused ML_BUCKET_PROCESSING and ML_BUCKET_OUTPUT environment variables
  orchestration/dags/common/config.py
Due: format-fix, lint-fix

feat: Implement instance generation with random variations and save to JSON
  orchestration/dags/common/config.py
Due: format-fix, lint-fix

fix: add ML_BUCKET_TEMP for temporary ML storage path
  orchestration/dags/common/config.py
  orchestration/dags/jobs/ml/algo_training_offer_compliance_model.py
Due: format-fix, lint-fix

fix: add ML_BUCKET_TEMP to config and update STORAGE_BASE_PATH in artist_linkage.py
  orchestration/dags/common/config.py
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

(DA-4209) feat(dbt): Update firebase pro visits (#4209)
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/pro/int_firebase__pro_visit.sql
  orchestration/dags/data_gcp_dbt/models/mart/pro/mrt_pro__visit.sql
Due: sqlfmt

revert wrong commit
  orchestration/dags/common/config.py
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

fix: Fix create_recommendable_offers_raw
  jobs/etl_jobs/internal/sync_recommendation/sql/create_recommendable_offers_raw_mv.sql
Due: sqlfmt

fix: Fix materialized views creation
  jobs/etl_jobs/internal/sync_recommendation/sql/create_enriched_user_mv.sql
  jobs/etl_jobs/internal/sync_recommendation/sql/create_iris_france_mv.sql
  jobs/etl_jobs/internal/sync_recommendation/sql/create_item_ids_mv.sql
  jobs/etl_jobs/internal/sync_recommendation/sql/create_non_recommendable_items_mv.sql
Due: sqlfmt

(DS-1833) fix(sync bq): Fix sync cloud sql (#4213)
  jobs/etl_jobs/internal/sync_recommendation/sql/create_enriched_user_mv.sql
  jobs/etl_jobs/internal/sync_recommendation/sql/create_iris_france_mv.sql
  jobs/etl_jobs/internal/sync_recommendation/sql/create_item_ids_mv.sql
  jobs/etl_jobs/internal/sync_recommendation/sql/create_non_recommendable_items_mv.sql
  jobs/etl_jobs/internal/sync_recommendation/sql/create_recommendable_offers_raw_mv.sql
Due: sqlfmt

DE-1398-add-clustering-config
  orchestration/dags/data_gcp_dbt/models/analytics/aggregated_weekly_user_data.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_daily_user_home_module.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__booking.sql
Due: sqlfmt

sqlfmt
  orchestration/dags/data_gcp_dbt/models/analytics/aggregated_weekly_user_data.sql
Due: sqlfmt

(DE-1718) feat(local): python deferal script (#4192)
  orchestration/dags/data_gcp_dbt/models/sources.yml
  orchestration/dags/data_gcp_dbt/scripts/defer_local_run.py
  pyproject.toml
  uv.lock
Due: format-fix, lint-fix

add condition CI
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_daily_user_home_module.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_home_offer_displayed.sql
Due: sqlfmt

(HF) fix(ci): fix ci
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: none

(HF) fix(ci): fix ci (#4216)
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: none

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfmt: any of: \.sql$
