Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: system
  stages:
  - commit

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: system
  stages:
  - commit

sqlfmt:
  name: SQL Formatting (sqlfmt)
  entry: make sqlfmt
  stages:
  - commit
  language: system

(DA-3796) feat(analytics): Update video models - 2 (#3494)
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_daily_user_video_conversion.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_daily_user_video_module.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_video_event.sql
Due: sqlfmt

add doc
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/brevo/column__brevo.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/brevo/description__int_brevo__transactional_pro.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/brevo/description__mrt_brevo__transactional_pro.md
  orchestration/dags/data_gcp_dbt/models/mart/brevo/_schema/mrt_brevo__transactional_pro.yml
  orchestration/dags/data_gcp_dbt/models/mart/brevo/mrt_brevo__transactional_pro.sql
Due: sqlfmt

(BSR) fix(dbt): fix qualify order
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_metadata.sql
Due: sqlfmt

(BSR) fix(dbt): fix qualify order (#3608)
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_metadata.sql
Due: sqlfmt

fix(dms): adjust dossier query parameters and improve logging in DMS fetch functions
  jobs/etl_jobs/external/dms/dms_query_jeunes.py
  jobs/etl_jobs/external/dms/dms_query_pro.py
  jobs/etl_jobs/external/dms/main.py
  jobs/etl_jobs/external/dms/parse_dms_subscriptions_to_tabular.py
  jobs/etl_jobs/external/dms/utils.py
  orchestration/dags/jobs/import/import_dms_subscriptions.py
Due: format-fix, lint-fix

remove clean venue dependencies (#3605)
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/enriched_suivi_dms_adage.sql
  orchestration/dags/data_gcp_dbt/models/analytics/history/bookable_venue_history.sql
  orchestration/dags/data_gcp_dbt/models/analytics/offer_moderation.sql
  orchestration/dags/data_gcp_dbt/models/clean/reimbursement_collective.sql
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__adage_home_playlist_local_offerers.sql
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__adage_home_playlist_new_template_offers.sql
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__adage_home_playlist_new_venues.sql
Due: sqlfmt

remove clean offer criterion dependencies (#3606)
  orchestration/dags/data_gcp_dbt/models/analytics/offer_moderation.sql
Due: sqlfmt

deploy: 84d82b30c17fbf8de97cd2959b213b2889e30397
  __pycache__/hooks.cpython-310.pyc
Due: none

(DE-913) feat(brevo): add join with collective offer emails (#3587)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/brevo/column__brevo.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/brevo/description__int_brevo__transactional_pro.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/brevo/description__mrt_brevo__transactional_pro.md
  orchestration/dags/data_gcp_dbt/models/intermediate/brevo/int_brevo__transactional_pro.sql
  orchestration/dags/data_gcp_dbt/models/mart/brevo/_schema/mrt_brevo__transactional_pro.yml
  orchestration/dags/data_gcp_dbt/models/mart/brevo/mrt_brevo__transactional_pro.sql
  orchestration/dags/dependencies/sendinblue/sql/raw/sendinblue_transactional.sql
Due: sqlfmt

(BSR) fix(import): fix None field
  orchestration/dags/data_gcp_dbt/macros/function_utils/clean_str.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/contentful/int_contentful__entry.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/contentful/int_contentful__tag.sql
Due: sqlfmt

Add dms adage submission date to offerer
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offerer.md
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offerer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offerer.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offerer.sql
Due: sqlfmt

(HF) fix(brevo): fix transactional raw query
  orchestration/dags/dependencies/sendinblue/sql/raw/sendinblue_transactional.sql
Due: sqlfmt

(BSR) feat(linter): Readd sqlfluff in precommit (#3602)
  .pre-commit-config.yaml
  .sqlfluff
  .sqlfluffignore
  orchestration/dags/data_gcp_dbt/.sqlfluff
  orchestration/dags/data_gcp_dbt/.sqlfluffignore
Due: none

(HF) fix(brevo): fix transactional raw query (#3611)
  orchestration/dags/dependencies/sendinblue/sql/raw/sendinblue_transactional.sql
Due: sqlfmt

added logs to see if clusters were exported successfully to BigQuery
  jobs/ml_jobs/clusterisation/cluster/generate.py
Due: format-fix, lint-fix

add offer_title
  orchestration/dags/data_gcp_dbt/models/intermediate/contentful/int_contentful__entry.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/contentful/int_contentful__tag.sql
Due: sqlfmt

(BSR) fix(import): fix None field (#3607)
  orchestration/dags/data_gcp_dbt/macros/function_utils/clean_str.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/contentful/int_contentful__entry.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/contentful/int_contentful__tag.sql
Due: sqlfmt

Add dms adage submission date to offerer (#3610)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offerer.md
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offerer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offerer.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offerer.sql
Due: sqlfmt

(BSR) fix(file_handler): handle None URLs and improve image loading error handling
  jobs/ml_jobs/embeddings/utils/__init__.py
  jobs/ml_jobs/embeddings/utils/file_handler.py
Due: format-fix, lint-fix

(BSR) fix(file_handler): handle None URLs and improve image loading error handling (#3614)
  jobs/ml_jobs/embeddings/utils/__init__.py
  jobs/ml_jobs/embeddings/utils/file_handler.py
Due: format-fix, lint-fix

(DE-799) feat(etl): import zendesk
  jobs/etl_jobs/external/zendesk/constants.py
  jobs/etl_jobs/external/zendesk/extract.py
  jobs/etl_jobs/external/zendesk/main.py
  jobs/etl_jobs/external/zendesk/pyproject.toml
  jobs/etl_jobs/external/zendesk/requirements.in
  jobs/etl_jobs/external/zendesk/requirements.txt
  jobs/etl_jobs/external/zendesk/utils.py
  orchestration/dags/jobs/import/import_zendesk.py
Due: format-fix, lint-fix

fix coalsece for isbn values
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_ean.sql
Due: sqlfmt

added logs to see if clusters were exported successfully to BigQuery (#3613)
  jobs/ml_jobs/clusterisation/cluster/generate.py
Due: format-fix, lint-fix

docs: Update dbt doc glossary
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offer.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/ml/column__artist.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/ml/column__clustering.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/ml/column__recommendation.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/recommendation/description__ml_reco__recommendable_item.md
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/_schema/ml_linkage__artist_name_to_link.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/_schema/ml_reco__recommendable_item.yml
Due: none

test: Add volume_anmolies test
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/_schema/ml_reco__training_data_click.yml
Due: none

fix: Add elementary tags on volume_anomalies
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/_schema/ml_linkage__artist.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/_schema/ml_linkage__product_artist_link.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/offer_categorization/_schema/ml_offer_categorization__training_data_offer.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/_schema/ml_reco__recommendable_item.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/_schema/ml_reco__training_data_click.yml
Due: none

test: Add volume_anmolies test
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/_schema/ml_linkage__artist.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/_schema/ml_linkage__product_artist_link.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/_schema/ml_reco__recommendable_item.yml
Due: none

WIP: debug
  orchestration/dags/data_gcp_dbt/models/machine_learning/compliance/_schema/ml_compliance__training_data_offer.yml
Due: none

test: Add volume_anmolies test + dbt test
  orchestration/dags/data_gcp_dbt/models/machine_learning/compliance/_schema/ml_compliance__training_data_offer.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/offer_categorization/_schema/ml_offer_categorization__training_data_offer.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/_schema/ml_reco__recommendable_item.yml
Due: none

feat: Add dbt test for training_data_click
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/_schema/ml_reco__training_data_click.yml
Due: none

docs: Add ml_reco__recommendable_item schema
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/_schema/ml_reco__recommendable_item.yml
Due: none

(DE-909) test(ml): Add DBT and elementary tests on sensible ML data (#3617)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offer.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/ml/column__artist.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/ml/column__clustering.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/ml/column__recommendation.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/recommendation/description__ml_reco__recommendable_item.md
  orchestration/dags/data_gcp_dbt/models/machine_learning/compliance/_schema/ml_compliance__training_data_offer.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/_schema/ml_linkage__artist.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/_schema/ml_linkage__artist_name_to_link.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/_schema/ml_linkage__product_artist_link.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/offer_categorization/_schema/ml_offer_categorization__training_data_offer.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/_schema/ml_reco__recommendable_item.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/_schema/ml_reco__training_data_click.yml
Due: none

fix only digits and improve coalesce
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_ean.sql
Due: sqlfmt

formatting sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_ean.sql
Due: sqlfmt

add missing comma
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_ean.sql
Due: sqlfmt

(BSR) feat(dbt): fix edge case invalid user name
  orchestration/dags/data_gcp_dbt/macros/database_utils/create_schema_dev.sql
Due: sqlfmt

(HF) fix(isbn): fix coalsece for isbn values (#3616)
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_ean.sql
Due: sqlfmt

(BSR) feat(dms): add constants for DMS API integration and refactor parsing functions to use environment variables
  jobs/etl_jobs/external/dms/constants.py
  jobs/etl_jobs/external/dms/parse_dms_subscriptions_to_tabular.py
  orchestration/dags/jobs/import/import_dms_subscriptions.py
Due: format-fix, lint-fix

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfmt: any of: \.sql$
