Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: system
  stages:
  - commit

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: system
  stages:
  - commit

sqlfmt:
  name: SQL Formatting (sqlfmt)
  entry: make sqlfmt
  stages:
  - commit
  language: system

fix: Remove deprecated uv source file
  Makefile
  README.md
Due: none

feat: Add message in prerequisite install
  Makefile
Due: none

(BSR) docs(install): Remove pyenv from install (#3433)
  Makefile
  README.md
Due: none

docs: Fix doc for orchestration installation
  Makefile
  README.md
Due: none

(BSR) docs(install): Fix doc for orchestration installation
  Makefile
  README.md
Due: none

(DE) refactor(offer): align field offer_updated_date
  orchestration/dags/data_gcp_dbt/models/clean/applicative/offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_item_id.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/raw/int_raw__offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offer.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/raw/applicative/raw_applicative__offer_lite.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_offer.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__offer.sql
  orchestration/dags/dependencies/applicative_database/sql/clean/history/offer_history.sql
Due: sqlfmt

udpate doc
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offer.md
Due: none

(DE) refactor(dbt): improve bookable_offer_history logic (#3410)
  orchestration/dags/data_gcp_dbt/models/clean/bookable_offer_history.sql
Due: sqlfmt

feat: update clickouse secrets (#3426)
  jobs/etl_jobs/internal/export_clickhouse/core/utils.py
  orchestration/dags/common/operators/gce.py
Due: format-fix, lint-fix

(DE) refactor(offer): align field offer_updated_date (#3435)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offer.md
  orchestration/dags/data_gcp_dbt/models/clean/applicative/offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_item_id.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/raw/int_raw__offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offer.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/raw/applicative/raw_applicative__offer_lite.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_offer.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__offer.sql
  orchestration/dags/dependencies/applicative_database/sql/clean/history/offer_history.sql
Due: sqlfmt

(DE-789) refactor(import): migrate stock snapshot
  orchestration/dags/data_gcp_dbt/models/intermediate/raw/int_raw__stock.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__stock.sql
Due: sqlfmt

enforce invalidate_hard_deletes=true for snapshot (ie: set dbt_valid_to current_date when item disapears from snapshoted table)
  orchestration/dags/data_gcp_dbt/dbt_project.yml
  orchestration/dags/data_gcp_dbt/macros/database_utils/custom_snapshot_config.sql
  orchestration/dags/data_gcp_dbt/snapshots/intermediate/global/snasphot_intermediate__bookable_collective_offer.sql
  orchestration/dags/data_gcp_dbt/snapshots/intermediate/global/snasphot_intermediate__bookable_offer.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__collective_offer.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__deposit.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__offer.sql
Due: sqlfmt

enforce invalidate_hard_deletes=true for snapshot (ie: set dbt_valid_to current_date when item disapears from snapshoted table) (#3438)
  orchestration/dags/data_gcp_dbt/dbt_project.yml
  orchestration/dags/data_gcp_dbt/macros/database_utils/custom_snapshot_config.sql
  orchestration/dags/data_gcp_dbt/snapshots/intermediate/global/snasphot_intermediate__bookable_collective_offer.sql
  orchestration/dags/data_gcp_dbt/snapshots/intermediate/global/snasphot_intermediate__bookable_offer.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__collective_offer.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__deposit.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__offer.sql
Due: sqlfmt

deploy: e38be2e8ad2b8e80967109984f30633dad0f0016
  __pycache__/hooks.cpython-310.pyc
  dbt/glossary/applicative_database/column__offer/index.html
  dbt/models/mart/global/description__mrt_global__offer/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

docs: Update doc for macos
  Makefile
  README.md
Due: none

(BSR) feat(ci): add dbt docs check
  .dbt-checkpoint.yaml
  .github/workflows/reusable_dbt_workflow.yml
  .pre-commit-ci-dbt-config.yaml
  Makefile
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user.sql
  requirements.txt
Due: sqlfmt

(BSR) feat(ci): add dbt docs check
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user.sql
Due: sqlfmt

(BSR) docs(install): Update doc for macos
  Makefile
  README.md
Due: none

(BSR) feat(firebase): update projects for firebase native (#3430)
  orchestration/dags/dependencies/firebase/import_firebase.py
Due: format-fix, lint-fix

(BSR) fix(ci): add dbt docs check (#3412)
  .dbt-checkpoint.yaml
  .github/workflows/reusable_dbt_workflow.yml
  .pre-commit-ci-dbt-config.yaml
  Makefile
  requirements.txt
Due: none

deploy: 6c9caf942b5391d42e47d16679ff2b2958d767c6
  __pycache__/hooks.cpython-310.pyc
  sitemap.xml
  sitemap.xml.gz
Due: none

(BSR) fix(firebase): fallback typo error
  orchestration/dags/dependencies/firebase/import_firebase.py
Due: format-fix, lint-fix

(BSR) fix(firebase): fallback typo error (#3441)
  orchestration/dags/dependencies/firebase/import_firebase.py
Due: format-fix, lint-fix

(DA-3871) docs(dbt): Add dbt doc for global user (#3415)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__user.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__user.md
Due: none

(DA-3871) docs(dbt): Add dbt doc for global stock (#3416)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__stock.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__booking.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__stock.md
Due: none

(DA-3871) docs(dbt): Add dbt doc for global venue (#3424)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__venue.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__venue.md
Due: none

(DA-3871) docs(dbt): Add dbt doc for global user offerer #3420
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__user_offerer.md
Due: none

(DA-3871) docs(dbt): Add dbt doc for global offerer (#3417)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offerer.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__offerer.md
Due: none

(DA-3871) docs(dbt): Add dbt doc for global offer metadata (#3427)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offer_metadata.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__user_offerer.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__offer_metadata.md
Due: none

(DA-3871) docs(dbt): Add dbt doc for global venue provider (#3419)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__venue_provider.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__venue_provider.md
Due: none

refacto native_video_events
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_video_event.sql
Due: sqlfmt

missing endocs
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__stock.md
Due: none

fixes
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__metric.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offer.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offer_metadata.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__stock.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__user_offerer.md
  orchestration/dags/data_gcp_dbt/scripts/dbt_docs.sh
Due: none

(DE) docs(fix): missing jinja (#3443)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__metric.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offer.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offer_metadata.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__stock.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__user_offerer.md
  orchestration/dags/data_gcp_dbt/scripts/dbt_docs.sh
Due: none

cast timestamp strategy field target as timestamp
  orchestration/dags/data_gcp_dbt/models/raw/applicative/raw_applicative__offer_lite.sql
Due: sqlfmt

set invalidate_hard_delete=False as offer_lite filter over recently (3days) updated data
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__offer.sql
Due: sqlfmt

(DE) fix(snapshot): applicative_offer (#3444)
  orchestration/dags/data_gcp_dbt/models/raw/applicative/raw_applicative__offer_lite.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__offer.sql
Due: sqlfmt

double cast at timezone
  orchestration/dags/data_gcp_dbt/models/raw/applicative/raw_applicative__offer_lite.sql
Due: sqlfmt

set interval 3 days
  orchestration/dags/data_gcp_dbt/models/raw/applicative/raw_applicative__offer_lite.sql
Due: sqlfmt

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfmt: any of: \.sql$
