Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
# Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
# Add new hook types here to ensure automatic installation when running `pre-commit install`
- pre-commit
- pre-push
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-json
  - id: check-added-large-files

- repo: local
  hooks:
  - id: format-fix
    name: Formatting (ruff)
    entry: ruff format
    language: system
    types: [python]
    stages: [commit]
  - id: lint-fix
    name: Linting (ruff)
    entry: ruff check --fix
    language: system
    types: [python]
    stages: [commit]
  - id: sqlfmt
    name: SQL Formatting (sqlfmt)
    entry: make sqlfmt
    stages: [commit]
    language: system
    types: [sql]
  # - id: sqlfluff-lint-check
  #   name: Lint check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_lint.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-format-check
  #   name: format check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_format.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-fix
  #   name: fix (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_fix.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]

Add test to global_offerer and global_venue (#4113)
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offerer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offerer.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__venue.yml
Due: sqlfmt

feat: add GCSToBigQueryOperator
  orchestration/dags/jobs/import/import_qpi.py
  orchestration/dags/jobs/ml/artist_linkage.py
  orchestration/dags/jobs/ml/link_items.py
Due: format-fix, lint-fix

(BSR) feat(airflow): add prefix to bq insert jobs (#4117)
  orchestration/dags/common/operators/bigquery.py
  orchestration/dags/jobs/export/export_clickhouse.py
  orchestration/dags/jobs/export/export_posthog.py
  orchestration/dags/jobs/import/import_metabase.py
  orchestration/dags/jobs/import/import_qpi.py
  orchestration/dags/jobs/ml/algo_training_offer_compliance_model.py
  orchestration/dags/jobs/ml/algo_training_two_towers.py
  orchestration/dags/jobs/ml/artist_linkage.py
  orchestration/dags/jobs/ml/embedding_reduction_item.py
  orchestration/dags/jobs/ml/link_items.py
  orchestration/dags/jobs/ml/retrieval_vector_semantic_build.py
Due: format-fix, lint-fix

(BSR) feat(dbt): rename bucket + cleanup filenames
  jobs/etl_jobs/external/metabase-dbt/handler.py
  jobs/etl_jobs/external/metabase-dbt/main.py
  orchestration/dags/common/config.py
  orchestration/dags/jobs/administration/metabase_dbt.py
Due: format-fix, lint-fix

(BSR) feat(dbt): rename bucket + cleanup filenames
  jobs/etl_jobs/external/metabase-dbt/main.py
Due: format-fix, lint-fix

(BSR) feat(airflow): add prefix to bq jobs
  orchestration/dags/jobs/import/import_dms_subscriptions.py
Due: format-fix, lint-fix

(BSR) feat(dbt): rename bucket + cleanup filenames (#4118)
  jobs/etl_jobs/external/metabase-dbt/handler.py
  jobs/etl_jobs/external/metabase-dbt/main.py
  orchestration/dags/common/config.py
  orchestration/dags/jobs/administration/metabase_dbt.py
Due: format-fix, lint-fix

(HF) feat(airflow): add gcp_project prefix
  orchestration/dags/common/macros.py
  orchestration/dags/jobs/import/import_dms_subscriptions.py
  orchestration/dags/jobs/import/import_qpi.py
  orchestration/dags/jobs/ml/artist_linkage.py
  orchestration/dags/jobs/ml/link_items.py
Due: format-fix, lint-fix

(DS-1647) feat(retrieval): Compute dot similarity in retrieval (#4114)
  jobs/ml_jobs/retrieval_vector/app/retrieval/client.py
  jobs/ml_jobs/retrieval_vector/app/retrieval/constants.py
  jobs/ml_jobs/retrieval_vector/app/retrieval/reco_client.py
  jobs/ml_jobs/retrieval_vector/tests/conftest.py
  jobs/ml_jobs/retrieval_vector/tests/factory/recommendation_test.py
  jobs/ml_jobs/retrieval_vector/tests/factory/semantic_offer_test.py
  jobs/ml_jobs/retrieval_vector/tests/factory/similar_offer_test.py
  jobs/ml_jobs/retrieval_vector/tests/factory/tops_test.py
  jobs/ml_jobs/retrieval_vector/tests/retrieval/core/client_test.py
Due: format-fix, lint-fix

feat: full refresh bookable venue
  orchestration/dags/data_gcp_dbt/models/intermediate/history/int_history__bookable_venue.sql
Due: sqlfmt

feat: full refresh start date parameter
  orchestration/dags/data_gcp_dbt/models/intermediate/history/int_history__bookable_venue.sql
Due: sqlfmt

refactor: disable start date variable
  orchestration/dags/data_gcp_dbt/dbt_project.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/history/int_history__bookable_venue.sql
Due: sqlfmt

Apply suggestions from code review
  orchestration/dags/data_gcp_dbt/models/intermediate/history/int_history__bookable_venue.sql
Due: sqlfmt

(DE-1636) feat(alert): add alert on Metabase (#4101)
  orchestration/dags/data_gcp_dbt/models/mart/alerting/_schema/mrt_alerting__metabase_cost.yml
  orchestration/dags/data_gcp_dbt/models/mart/alerting/mrt_alerting__metabase_cost.sql
  orchestration/dags/jobs/dbt/dbt_artifacts.py
Due: format-fix, lint-fix, sqlfmt

(DE) dbt(feat): full refresh bookable venue (#4102)
  orchestration/dags/data_gcp_dbt/dbt_project.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/history/int_history__bookable_venue.sql
Due: sqlfmt

feat: Update recommendable_offer
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__recommendable_offer.sql
Due: sqlfmt

feat: Update create_enriched_user_mv.sql
  jobs/etl_jobs/internal/sync_recommendation/sql/create_enriched_user_mv.sql
Due: sqlfmt

refactor: Update training days to ranking
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__home_interaction.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__ranking_training_data.sql
Due: sqlfmt

refactor: Remove embeddings froùm user statistcs and recommendable offers
  jobs/etl_jobs/internal/sync_recommendation/sql/create_enriched_user_mv.sql
  jobs/etl_jobs/internal/sync_recommendation/sql/create_recommendable_offers_raw_mv.sql
  jobs/etl_jobs/internal/sync_recommendation/utils/bq_config.py
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__recommendable_offer.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__user_statistics.sql
Due: format-fix, lint-fix, sqlfmt

feat: Update create_recommendable_offers_raw_mv.sql
  jobs/etl_jobs/internal/sync_recommendation/sql/create_recommendable_offers_raw_mv.sql
Due: sqlfmt

feat: Add weekly tag for ranking_endpoint_training
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__ranking_endpoint_training.sql
Due: sqlfmt

fix: Add proper columns to bq_config
  jobs/etl_jobs/internal/sync_recommendation/utils/bq_config.py
Due: format-fix, lint-fix

fix: Fix query
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__recommendable_offer.sql
Due: sqlfmt

feat: Update user_statistics
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__user_statistics.sql
Due: sqlfmt

(HF) feat(contentful): remove unused blocks
  jobs/etl_jobs/external/contentful/contentful_client.py
Due: format-fix, lint-fix

(DE-1545) feat(ranking): Add more ranking data in db (#4062)
  jobs/etl_jobs/internal/sync_recommendation/sql/create_enriched_user_mv.sql
  jobs/etl_jobs/internal/sync_recommendation/sql/create_recommendable_offers_raw_mv.sql
  jobs/etl_jobs/internal/sync_recommendation/utils/bq_config.py
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__home_interaction.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__ranking_endpoint_training.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__ranking_training_data.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__recommendable_offer.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__user_statistics.sql
Due: format-fix, lint-fix, sqlfmt

docs: Add markdownlint
  .markdownlint.jsonc
  .pre-commit-config.yaml
  jobs/ml_jobs/retrieval_vector/README.md
Due: none

fix: Fix path
  jobs/ml_jobs/retrieval_vector/build_default_model.py
Due: format-fix, lint-fix

refactor: Refacto retrieval vector build
  jobs/ml_jobs/retrieval_vector/build_and_push_docker_image.py
  orchestration/dags/jobs/ml/retrieval_vector_build.py
Due: format-fix, lint-fix

docs: Update doc
  jobs/ml_jobs/retrieval_vector/README.md
Due: none

fix: Fix vector build
  orchestration/dags/jobs/ml/retrieval_vector_build.py
  orchestration/dags/jobs/ml/retrieval_vector_semantic_build.py
Due: format-fix, lint-fix

refactor: Remove download-vector-database from install
  jobs/ml_jobs/retrieval_vector/Makefile
Due: none

refactor: Refacto paths
  jobs/ml_jobs/retrieval_vector/build_default_model.py
  jobs/ml_jobs/retrieval_vector/build_dummy_model.py
  jobs/ml_jobs/retrieval_vector/build_semantic_model.py
  jobs/ml_jobs/retrieval_vector/utils.py
Due: format-fix, lint-fix

fix: Fix dag param
  orchestration/dags/jobs/ml/retrieval_vector_build.py
  orchestration/dags/jobs/ml/retrieval_vector_semantic_build.py
Due: format-fix, lint-fix

refactor: Refacto build_default_model
  jobs/ml_jobs/retrieval_vector/build_default_model.py
Due: format-fix, lint-fix

feat: Add markdwon precommit
  .pre-commit-config.yaml
Due: none

refactor: Separate build and deploy model for retrieval
  jobs/ml_jobs/retrieval_vector/build_default_model.py
  jobs/ml_jobs/retrieval_vector/build_dummy_model.py
  jobs/ml_jobs/retrieval_vector/build_semantic_model.py
  jobs/ml_jobs/retrieval_vector/deploy_model.py
Due: format-fix, lint-fix

docs: Update README.md
  jobs/ml_jobs/retrieval_vector/README.md
Due: none

refactor: Refacto build_dummy_model
  jobs/ml_jobs/retrieval_vector/build_dummy_model.py
Due: format-fix, lint-fix
