Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
# Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
# Add new hook types here to ensure automatic installation when running `pre-commit install`
- pre-commit
- pre-push
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-json
  - id: check-added-large-files

- repo: local
  hooks:
  - id: format-fix
    name: Formatting (ruff)
    entry: ruff format
    language: system
    types: [python]
    stages: [commit]
  - id: lint-fix
    name: Linting (ruff)
    entry: ruff check --fix
    language: system
    types: [python]
    stages: [commit]
  - id: sqlfmt
    name: SQL Formatting (sqlfmt)
    entry: make sqlfmt
    stages: [commit]
    language: system
    types: [sql]
  # - id: sqlfluff-lint-check
  #   name: Lint check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_lint.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-format-check
  #   name: format check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_format.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-fix
  #   name: fix (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_fix.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]

Update outgoing_cohorts model
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__outgoing_cohorts.sql
Due: sqlfmt

(DA-3787) feat(analytics): Add field user_is_in_education and adapt priority_public definition accordingly (#3294)
  orchestration/dags/data_gcp_dbt/models/clean/user_beneficiary.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__user.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__deposit.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__favorite.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__consultation.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__outgoing_cohorts.sql
Due: sqlfmt

fix
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__outgoing_cohorts.sql
Due: sqlfmt

(DE-74) bsr(qualtrics) deduplicate ir import (#3263)
  jobs/etl_jobs/external/qualtrics/main.py
  orchestration/dags/dependencies/qualtrics/sql/analytics/enriched_qualtrics_pro.sql
  orchestration/dags/dependencies/qualtrics/sql/analytics/qualtrics_answers_ir_jeunes.sql
  orchestration/dags/dependencies/qualtrics/sql/analytics/qualtrics_answers_ir_pro.sql
Due: format-fix, lint-fix, sqlfmt

(HF) fix(etl_jobs): force event_time to be str
  jobs/etl_jobs/external/appsflyer/core/utils.py
Due: format-fix, lint-fix

(DE-598) refactor(dbt): dbt renaming snapshot objects (#3314)
  orchestration/dags/data_gcp_dbt/dbt_project.yml
  orchestration/dags/data_gcp_dbt/macros/custom_snapshot_config.sql
  orchestration/dags/data_gcp_dbt/macros/get_custom_alias.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/raw/int_raw__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/raw/int_raw__offerer.sql
  orchestration/dags/data_gcp_dbt/models/raw/applicative/raw_applicative__offer_lite.sql
  orchestration/dags/data_gcp_dbt/models/raw/backend/raw_backend__offerer.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__offer.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__offerer.sql
  orchestration/dags/data_gcp_dbt/snapshots/source/snapshot__offerer_backend.sql
Due: sqlfmt

add venue label to bookable event offer
  orchestration/dags/data_gcp_dbt/models/mart/global/filtered/mrt_global__filtered_bookable_event_offer.sql
Due: sqlfmt

add venue label to bookable event offer (#3318)
  orchestration/dags/data_gcp_dbt/models/mart/global/filtered/mrt_global__filtered_bookable_event_offer.sql
Due: sqlfmt

(HF) fix(etl_jobs): force event_time to be str (#3316)
  jobs/etl_jobs/external/appsflyer/core/utils.py
Due: format-fix, lint-fix

lint: fix sql linting
  orchestration/dags/data_gcp_dbt/models/analytics/diversification/diversification_booking.sql
  orchestration/dags/data_gcp_dbt/models/analytics/diversification/diversification_raw.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__booking.sql
Due: sqlfmt

(DE-714) fix metabase schema dependency
  jobs/etl_jobs/external/metabase-archiving/dependencies.py
Due: format-fix, lint-fix

BSR: remove useless scripts
  orchestration/dags/data_gcp_dbt/scripts/dbt_run_package.sh
  orchestration/dags/jobs/dbt/dbt_init.py
Due: format-fix, lint-fix

(DE-714) fix(metabase): fix schema dependency
  jobs/etl_jobs/external/metabase-archiving/dependencies.py
Due: format-fix, lint-fix

(DA-3315) feat(Analytics): Update outgoing_cohorts model (#3315)
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__outgoing_cohorts.sql
Due: sqlfmt

tweak elementary report flags
  orchestration/dags/data_gcp_dbt/scripts/elementary_send_report.sh
  orchestration/dags/jobs/dbt/dbt_artifacts.py
Due: format-fix, lint-fix

(DE-718) brevo add venue email in transactional table
  orchestration/dags/dependencies/sendinblue/sql/raw/sendinblue_transactional.sql
Due: sqlfmt

(DE-723) refactor(dbt) remove clean applicative batch0
  orchestration/dags/data_gcp_dbt/models/clean/applicative/accessibility_provider.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/bank_account.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/beneficiary_fraud_review.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/beneficiary_import.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/beneficiary_import_status.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/cashflow_log.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/educational_domain_venue.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/educational_redactor.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/login_device_history.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/offer_report.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/opening_hours.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/payment_message.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/price_category.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/price_category_label.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/recredit.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/trusted_device.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/venue_registration.sql
Due: sqlfmt

(DE-724) refactor(dbt): remove clean applicative batch0 2/2
  jobs/etl_jobs/external/siren/scripts/import_siren.py
  jobs/etl_jobs/external/siren/scripts/utils.py
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/enriched_reimbursement_data.sql
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/enriched_suivi_dms_adage.sql
  orchestration/dags/data_gcp_dbt/models/analytics/offer_moderation.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/invoice_line.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/offerer.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/venue_contact.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/venue_label.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offerer.sql
  orchestration/dags/dependencies/qualtrics/sql/analytics/enriched_qualtrics_pro.sql
Due: format-fix, lint-fix, sqlfmt

(DE-724) fix offer_moderation
  orchestration/dags/data_gcp_dbt/models/analytics/offer_moderation.sql
Due: sqlfmt

(DA-3313) feat(analytics): Add fields in offer and booking (#3313)
  orchestration/dags/data_gcp_dbt/models/analytics/diversification/diversification_booking.sql
  orchestration/dags/data_gcp_dbt/models/analytics/diversification/diversification_raw.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__booking.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__stock.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer.sql
Due: sqlfmt

(DA-3267) feat(analytics): update consultation models (#3267)
  orchestration/dags/data_gcp_dbt/models/analytics/firebase/firebase_aggregated_search_events.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_consultation.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_event.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_event_flattened.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__consultation.sql
Due: sqlfmt

(DE-723) refactor(dbt): remove clean applicative batch0
  orchestration/dags/data_gcp_dbt/models/clean/applicative/accessibility_provider.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/bank_account.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/beneficiary_fraud_review.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/beneficiary_import.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/beneficiary_import_status.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/cashflow_log.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/educational_domain_venue.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/educational_redactor.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/login_device_history.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/offer_report.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/opening_hours.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/payment_message.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/price_category.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/price_category_label.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/recredit.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/trusted_device.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/venue_registration.sql
Due: sqlfmt

update dependencies booking
  orchestration/dags/dependencies/qualtrics/sql/analytics/enriched_qualtrics_pro.sql
  orchestration/dags/dependencies/training_data/sql/training_data_bookings.sql
Due: sqlfmt

(AE) refactor(dbt): update dependencies applicative_database_booking
  orchestration/dags/dependencies/qualtrics/sql/analytics/enriched_qualtrics_pro.sql
  orchestration/dags/dependencies/training_data/sql/training_data_bookings.sql
Due: sqlfmt

applicative historization dag
  orchestration/dags/jobs/export/export_applicative_snapshot.py
Due: format-fix, lint-fix

create vm historization job
  jobs/etl_jobs/internal/export_applicative/Makefile
  jobs/etl_jobs/internal/export_applicative/README.md
  jobs/etl_jobs/internal/export_applicative/__init__.py
  jobs/etl_jobs/internal/export_applicative/main.py
  jobs/etl_jobs/internal/export_applicative/pyproject.toml
  jobs/etl_jobs/internal/export_applicative/requirements.in
  jobs/etl_jobs/internal/export_applicative/requirements.txt
  jobs/etl_jobs/internal/export_applicative/utils/__init__.py
Due: format-fix, lint-fix

[DE-695] fix left join
  orchestration/dags/dependencies/training_data/sql/training_data_bookings.sql
  orchestration/dags/dependencies/training_data/sql/training_data_favorites.sql
Due: sqlfmt

refactor util function
  orchestration/dags/common/utils.py
  orchestration/dags/dependencies/applicative_database/import_applicative_database.py
Due: format-fix, lint-fix

(DE-695) (feat): Refactor variable names ML jobs
  jobs/ml_jobs/algo_training/commons/data_collect_queries.py
  jobs/ml_jobs/algo_training/fraud/offer_compliance_model/configs/default.json
  jobs/ml_jobs/algo_training/fraud/offer_compliance_model/configs/pretrained_feature_encoding.json
  jobs/ml_jobs/algo_training/fraud/offer_compliance_model/package_api_model.py
  jobs/ml_jobs/algo_training/tests/test_evaluate.py
  jobs/ml_jobs/algo_training/two_towers_model/configs/default-features.json
  jobs/ml_jobs/algo_training/two_towers_model/configs/pretrained-feature-with-ts.json
  jobs/ml_jobs/algo_training/two_towers_model/configs/pretrained-features.json
  jobs/ml_jobs/algo_training/two_towers_model/configs/test-1-features.json
  jobs/ml_jobs/algo_training/two_towers_model/configs/test-3-features.json
  jobs/ml_jobs/algo_training/two_towers_model/configs/test-4-features.json
  jobs/ml_jobs/algo_training/two_towers_model/evaluate.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/diversification.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/evaluate.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/metrics.py
  orchestration/dags/dependencies/training_data/sql/compliance_offers.sql
  orchestration/dags/dependencies/training_data/sql/recommendation_item_features.sql
  orchestration/dags/dependencies/training_data/sql/training_data_aggregated_offers.sql
  orchestration/dags/dependencies/training_data/sql/training_data_aggregated_users.sql
  orchestration/dags/dependencies/training_data/sql/training_data_bookings.sql
  orchestration/dags/dependencies/training_data/sql/training_data_clicks.sql
  orchestration/dags/dependencies/training_data/sql/training_data_enriched_users.sql
  orchestration/dags/dependencies/training_data/sql/training_data_favorites.sql
Due: format-fix, lint-fix, sqlfmt

refactor dag historize applicative
  orchestration/dags/common/config.py
  orchestration/dags/jobs/export/export_applicative_snapshot.py
Due: format-fix, lint-fix

export vm job
  jobs/etl_jobs/internal/export_applicative/main.py
  jobs/etl_jobs/internal/export_applicative/requirements.in
  jobs/etl_jobs/internal/export_applicative/requirements.txt
Due: format-fix, lint-fix

add dbt_aliasing to utils
  orchestration/dags/common/utils.py
  orchestration/dags/jobs/export/export_applicative_snapshot.py
Due: format-fix, lint-fix

remove dev set up
  orchestration/dags/jobs/export/export_applicative_snapshot.py
Due: format-fix, lint-fix

(DE-695) feat(datascience): reformating categories
  jobs/ml_jobs/algo_training/commons/data_collect_queries.py
  jobs/ml_jobs/algo_training/fraud/offer_compliance_model/configs/default.json
  jobs/ml_jobs/algo_training/fraud/offer_compliance_model/configs/pretrained_feature_encoding.json
  jobs/ml_jobs/algo_training/fraud/offer_compliance_model/package_api_model.py
  jobs/ml_jobs/algo_training/tests/test_evaluate.py
  jobs/ml_jobs/algo_training/two_towers_model/configs/default-features.json
  jobs/ml_jobs/algo_training/two_towers_model/configs/pretrained-feature-with-ts.json
  jobs/ml_jobs/algo_training/two_towers_model/configs/pretrained-features.json
  jobs/ml_jobs/algo_training/two_towers_model/configs/test-1-features.json
  jobs/ml_jobs/algo_training/two_towers_model/configs/test-3-features.json
  jobs/ml_jobs/algo_training/two_towers_model/configs/test-4-features.json
  jobs/ml_jobs/algo_training/two_towers_model/evaluate.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/diversification.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/evaluate.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/metrics.py
  orchestration/dags/dependencies/training_data/sql/compliance_offers.sql
  orchestration/dags/dependencies/training_data/sql/recommendation_item_features.sql
  orchestration/dags/dependencies/training_data/sql/training_data_aggregated_offers.sql
  orchestration/dags/dependencies/training_data/sql/training_data_aggregated_users.sql
  orchestration/dags/dependencies/training_data/sql/training_data_bookings.sql
  orchestration/dags/dependencies/training_data/sql/training_data_clicks.sql
  orchestration/dags/dependencies/training_data/sql/training_data_enriched_users.sql
  orchestration/dags/dependencies/training_data/sql/training_data_favorites.sql
Due: format-fix, lint-fix, sqlfmt

WIP
  jobs/ml_jobs/item_linkage/build_semantic_space.py
  jobs/ml_jobs/item_linkage/constants.py
  jobs/ml_jobs/item_linkage/linkage_candidates.py
  jobs/ml_jobs/item_linkage/model/semantic_space.py
Due: format-fix, lint-fix

review: use airflow operator instead of custom vm job
  jobs/etl_jobs/internal/export_applicative/Makefile
  jobs/etl_jobs/internal/export_applicative/README.md
  jobs/etl_jobs/internal/export_applicative/__init__.py
  jobs/etl_jobs/internal/export_applicative/main.py
  jobs/etl_jobs/internal/export_applicative/pyproject.toml
  jobs/etl_jobs/internal/export_applicative/requirements.in
  jobs/etl_jobs/internal/export_applicative/requirements.txt
  jobs/etl_jobs/internal/export_applicative/utils/__init__.py
  orchestration/dags/jobs/crons.py
  orchestration/dags/jobs/export/export_applicative_snapshot.py
Due: format-fix, lint-fix

(DE-695) feat(datascience): reformating categories (#3327)
  jobs/ml_jobs/algo_training/commons/data_collect_queries.py
  jobs/ml_jobs/algo_training/fraud/offer_compliance_model/configs/default.json
  jobs/ml_jobs/algo_training/fraud/offer_compliance_model/configs/pretrained_feature_encoding.json
  jobs/ml_jobs/algo_training/fraud/offer_compliance_model/package_api_model.py
  jobs/ml_jobs/algo_training/tests/test_evaluate.py
  jobs/ml_jobs/algo_training/two_towers_model/configs/default-features.json
  jobs/ml_jobs/algo_training/two_towers_model/configs/pretrained-feature-with-ts.json
  jobs/ml_jobs/algo_training/two_towers_model/configs/pretrained-features.json
  jobs/ml_jobs/algo_training/two_towers_model/configs/test-1-features.json
  jobs/ml_jobs/algo_training/two_towers_model/configs/test-3-features.json
  jobs/ml_jobs/algo_training/two_towers_model/configs/test-4-features.json
  jobs/ml_jobs/algo_training/two_towers_model/evaluate.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/diversification.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/evaluate.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/metrics.py
  orchestration/dags/dependencies/training_data/sql/compliance_offers.sql
  orchestration/dags/dependencies/training_data/sql/recommendation_item_features.sql
  orchestration/dags/dependencies/training_data/sql/training_data_aggregated_offers.sql
  orchestration/dags/dependencies/training_data/sql/training_data_aggregated_users.sql
  orchestration/dags/dependencies/training_data/sql/training_data_bookings.sql
  orchestration/dags/dependencies/training_data/sql/training_data_clicks.sql
  orchestration/dags/dependencies/training_data/sql/training_data_enriched_users.sql
  orchestration/dags/dependencies/training_data/sql/training_data_favorites.sql
Due: format-fix, lint-fix, sqlfmt

opti queries
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/daily_aggregated_offer_event.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/intermediate/native_event.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/tmp/intermediate_native_event.sql
Due: sqlfmt
