Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
  # Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
  # Add new hook types here to ensure automatic installation when running `pre-commit install`
  - pre-commit
  - pre-push
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: format-fix
        name: Formatting (ruff)
        entry: ruff format
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: lint-fix
        name: Linting (ruff)
        entry: ruff check --fix
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: sqlfmt
        name: SQL Formatting (sqlfmt)
        entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
        stages: [push]
        language: python
        additional_dependencies: ["shandy-sqlfmt[jinjafmt]==0.23.2"]
        types: [sql]
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.3.0
    hooks:
      - id: sqlfluff-fix
        additional_dependencies:
          ["dbt-bigquery==1.8.1", "sqlfluff-templater-dbt"]
        stages: [commit]
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.0
    hooks:
    - id: markdownlint-cli2
      language_version: 24.0.0
      args:
        - --fix

(BSR) feat(artist score): Add artist pro search score (#4782)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/ml/column__artist.md
  orchestration/dags/data_gcp_dbt/models/export/backend/_schema/exp_backend__artist_score.yml
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__artist_score.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/metadata/ml_metadata__artist_score.sql
Due: sqlfmt

fix(metadata): update description for exp_backend__offer_quality model to clarify content
  orchestration/dags/data_gcp_dbt/models/export/backend/_schema/exp_backend__offer_quality.yml
Due: none

(HF) fix(import): remove offerer_address_id from venue
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offerer_address.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__venue.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__venue_address.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__venue.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__venue.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/offerer_address.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/venue.sql
Due: sqlfmt

(HF) fix(import): remove offerer_address_id from venue (#4785)
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offerer_address.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__venue.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__venue_address.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__venue.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__venue.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/offerer_address.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/venue.sql
Due: sqlfmt

misc fixes
  orchestration/dags/data_gcp_dbt/macros/function_utils/completion_score.sql
  orchestration/dags/data_gcp_dbt/models/export/backend/_schema/exp_backend__offer_quality.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/metadata/ml_metadata__item_quality.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: sqlfmt

fix mrt_global__venue
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__venue.sql
Due: sqlfmt

remove field from doc
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__venue.yml
Due: none

(HF) fix(mart): fix mrt_global__venue (#4787)
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__venue.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__venue.sql
Due: sqlfmt

feat/etl: add schema validation to etl framework
  jobs/etl_jobs/README.md
  jobs/etl_jobs/connectors/brevo/schemas.py
  jobs/etl_jobs/connectors/pyproject.toml
  jobs/etl_jobs/factories/brevo.py
  jobs/etl_jobs/utils/pyproject.toml
  jobs/etl_jobs/utils/schemas.py
  jobs/etl_jobs/utils/secrets.py
  jobs/etl_jobs/uv.lock
  jobs/etl_jobs/workflows/brevo/config.py
  jobs/etl_jobs/workflows/brevo/load.py
  jobs/etl_jobs/workflows/brevo/pyproject.toml
  jobs/etl_jobs/workflows/brevo/schemas.py
  jobs/etl_jobs/workflows/brevo/tasks.py
  jobs/etl_jobs/workflows/brevo/tests/test_validation.py
  jobs/etl_jobs/workflows/brevo/transform.py
Due: format-fix, lint-fix

(HF) fix(import): remove comma
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/offerer_address.sql
Due: sqlfmt

(HF) fix(import): remove comma (#4788)
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/offerer_address.sql
Due: sqlfmt

deploy: 0d890f8794f7f7625d81d46e2067f8adab714526
  __pycache__/hooks.cpython-312.pyc
  sitemap.xml
  sitemap.xml.gz
Due: none

reafactor: Move product_stats extraction to proper_sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/metadata/ml_metadata__artist_score.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/metadata/ml_metadata__product_stats.sql
Due: sqlfmt

WIP feat: Update Artist DAG to add deduplication flow
  orchestration/dags/common/config.py
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

WIP2 use gpu_count non null for deduplication flow
  orchestration/dags/common/operators/gce.py
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

refactor/organization: simplify workflows organization with clear separation of concerns
  jobs/etl_jobs/README.md
  jobs/etl_jobs/workflows/brevo/extract.py
  jobs/etl_jobs/workflows/brevo/load.py
  jobs/etl_jobs/workflows/brevo/main.py
  jobs/etl_jobs/workflows/brevo/pipeline.py
  jobs/etl_jobs/workflows/brevo/schemas.py
  jobs/etl_jobs/workflows/brevo/tasks.py
  jobs/etl_jobs/workflows/brevo/tests/test_validation.py
  jobs/etl_jobs/workflows/brevo/transform.py
Due: format-fix, lint-fix

refacto eple_aggregated
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/eple_aggregated.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__collective_booking.sql
Due: sqlfmt

fix eple_aggregated
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/eple_aggregated.sql
Due: sqlfmt

fix external_reporting_eac_usage
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/eple_aggregated.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_credit_usage.sql
Due: sqlfmt

fix external_reporting_eac_usage
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_credit_usage.sql
Due: sqlfmt

fix doc
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__collective_booking.yml
Due: none

WIP3: Write deduplication flow
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

chore/reporting: switch epci and commune names to code for disambiguation
  orchestration/dags/data_gcp_dbt/macros/external_reporting/get_dimensions.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__collective_offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__educational_institution.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__venue.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/geolocation/int_geo__educational_institution_location.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/geolocation/int_geo__user_location.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/geolocation/int_geo__venue_location.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__collective_offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_domain.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_offer_booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__collective_booking.sql
Due: sqlfmt

fix/template: updated template
  jobs/etl_jobs/external/external_reporting/templates/export_template.xlsx
Due: none

review
  jobs/etl_jobs/external/external_reporting/config.py
Due: format-fix, lint-fix

fix/dag: render native parameter python version
  orchestration/dags/jobs/export/export_external_reporting.py
Due: format-fix, lint-fix

feat/logging: add context to warning logs
  jobs/etl_jobs/external/external_reporting/config.py
  jobs/etl_jobs/external/external_reporting/core.py
  jobs/etl_jobs/external/external_reporting/services/data.py
  jobs/etl_jobs/external/external_reporting/services/orchestration.py
  jobs/etl_jobs/external/external_reporting/utils/duckdb_utils.py
Due: format-fix, lint-fix

fix/logging: properly count missing kpis & improve verbosity flag
  jobs/etl_jobs/external/external_reporting/audit.md
  jobs/etl_jobs/external/external_reporting/core.py
  jobs/etl_jobs/external/external_reporting/main.py
  jobs/etl_jobs/external/external_reporting/services/orchestration.py
  jobs/etl_jobs/external/external_reporting/utils/verbose_logger.py
Due: format-fix, lint-fix

fix/drive: normalize file names
  jobs/etl_jobs/external/external_reporting/services/google_drive.py
Due: format-fix, lint-fix

refactor(metadata): improve formatting and structure in item and offer quality models
  orchestration/dags/data_gcp_dbt/macros/function_utils/completion_score.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/metadata/ml_metadata__item_quality.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/metadata/ml_metadata__offer_quality.sql
Due: sqlfmt

feat/logging: track stakeholder in logging context & add quiet mode
  jobs/etl_jobs/external/external_reporting/core.py
  jobs/etl_jobs/external/external_reporting/main.py
  jobs/etl_jobs/external/external_reporting/services/orchestration.py
  jobs/etl_jobs/external/external_reporting/utils/duckdb_utils.py
  jobs/etl_jobs/external/external_reporting/utils/verbose_logger.py
Due: format-fix, lint-fix
