Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
  # Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
  # Add new hook types here to ensure automatic installation when running `pre-commit install`
  - pre-commit
  - pre-push
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: format-fix
        name: Formatting (ruff)
        entry: ruff format
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: lint-fix
        name: Linting (ruff)
        entry: ruff check --fix
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: sqlfmt
        name: SQL Formatting (sqlfmt)
        entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
        stages: [push]
        language: python
        additional_dependencies: ["shandy-sqlfmt[jinjafmt]==0.23.2"]
        types: [sql]
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.3.0
    hooks:
      - id: sqlfluff-fix
        additional_dependencies:
          ["dbt-bigquery==1.8.1", "sqlfluff-templater-dbt"]
        stages: [commit]
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.0
    hooks:
    - id: markdownlint-cli2
      language_version: 24.0.0
      args:
        - --fix

feat(pyproject.toml): add ruff configuration for linting and type checking
  jobs/ml_jobs/ranking_endpoint/app/pyproject.toml
  jobs/ml_jobs/ranking_endpoint/pyproject.toml
Due: none

fix(Dockerfile): ensure uv installation script runs before syncing
  jobs/ml_jobs/ranking_endpoint/Dockerfile
Due: none

fix(Dockerfile): remove version placeholder from uv installation script
  jobs/ml_jobs/ranking_endpoint/Dockerfile
Due: none

feat(Dockerfile): update base image to ghcr.io/astral-sh/uv and streamline sync process; add new utility files
  jobs/ml_jobs/endpoint_monitoring/main.py
  jobs/ml_jobs/endpoint_monitoring/utils/analysis_utils.py
  jobs/ml_jobs/endpoint_monitoring/utils/endpoint.py
  jobs/ml_jobs/ranking_endpoint/Dockerfile
  jobs/ml_jobs/ranking_endpoint/app/main.py
Due: format-fix, lint-fix

update
  orchestration/dags/data_gcp_dbt/models/intermediate/pcapi/int_pcapi__log.sql
Due: sqlfmt

fix(Dockerfile): simplify uv sync command by removing unnecessary mounts
  jobs/ml_jobs/ranking_endpoint/Dockerfile
Due: none

fix(Dockerfile): revert to python:3.10 base image and update uv sync command
  jobs/ml_jobs/ranking_endpoint/Dockerfile
Due: none

migrate to pyproject.toml and upgrade h11
  jobs/ml_jobs/clusterisation/pyproject_backup.toml
  jobs/ml_jobs/clusterisation/uv.lock
Due: none

fix(dependencies): update h11 to a minimum version of 0.16.0
  jobs/ml_jobs/retrieval_vector/pyproject.toml
Due: none

fix(Dockerfile): reorder uv setup commands for proper execution
  jobs/ml_jobs/ranking_endpoint/Dockerfile
Due: none

add offerer_address evolutions
  orchestration/dags/data_gcp_dbt/models/intermediate/pcapi/int_pcapi__log.sql
Due: sqlfmt

add offerer_address evolutions
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/pcapi/column__log.md
  orchestration/dags/data_gcp_dbt/models/mart/pro/_schema/mrt_pro__log.yml
  orchestration/dags/data_gcp_dbt/models/mart/pro/mrt_pro__log.sql
Due: sqlfmt

add eac credit usage model
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/collective/description__mrt_external_reporting__eac_credit_usage.md
  orchestration/dags/data_gcp_dbt/models/analytics/eple_aggregated.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/_schema/mrt_external_reporting__eac_credit_usage.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_credit_usage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_cultural_partner.sql
Due: sqlfmt

sqlfluff
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_credit_usage.sql
Due: sqlfmt

sqlfmt
  orchestration/dags/data_gcp_dbt/models/analytics/eple_aggregated.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_credit_usage.sql
Due: sqlfmt

fix(Dockerfile): set PATH environment variable for virtual environment
  jobs/ml_jobs/ranking_endpoint/Dockerfile
Due: none

update
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/pcapi/column__log.md
  orchestration/dags/data_gcp_dbt/models/intermediate/pcapi/int_pcapi__log.sql
  orchestration/dags/data_gcp_dbt/models/mart/pro/_schema/mrt_pro__log.yml
  orchestration/dags/data_gcp_dbt/models/mart/pro/mrt_pro__log.sql
Due: sqlfmt

fix mrt_global_user keyword error
  orchestration/dags/data_gcp_dbt/tests/generic/not_null_proportion_test.sql
Due: sqlfmt

Update orchestration/dags/data_gcp_dbt/tests/generic/not_null_proportion_test.sql
  orchestration/dags/data_gcp_dbt/tests/generic/not_null_proportion_test.sql
Due: sqlfmt

(BSR) fix(not_null_proportion): fix mrt_global_user not_null_proportion test keyword error (#4394)
  orchestration/dags/data_gcp_dbt/tests/generic/not_null_proportion_test.sql
Due: sqlfmt

init
  jobs/etl_jobs/external/ppg/.gitignore
  jobs/etl_jobs/external/ppg/__init__.py
  jobs/etl_jobs/external/ppg/main.py
  jobs/etl_jobs/external/ppg/pyproject.toml
  jobs/etl_jobs/external/ppg/requirements.in
  jobs/etl_jobs/external/ppg/requirements.txt
  jobs/etl_jobs/external/ppg/utils/__init__.py
  jobs/etl_jobs/external/ppg/utils/config.py
  jobs/etl_jobs/external/ppg/utils/models.py
  jobs/etl_jobs/external/ppg/utils/services.py
Due: format-fix, lint-fix

data loading duckdb
  jobs/etl_jobs/external/ppg/main.py
  jobs/etl_jobs/external/ppg/utils/config.py
  jobs/etl_jobs/external/ppg/utils/configs.py
  jobs/etl_jobs/external/ppg/utils/models.py
  jobs/etl_jobs/external/ppg/utils/services.py
Due: format-fix, lint-fix

(HF) fix(typo): snapshot raw offer
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__offer.sql
Due: sqlfmt

add comment for explicit dependencies
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__offer.sql
Due: sqlfmt

docs(README): add comprehensive documentation for item linkage workflow (#4356)
  jobs/ml_jobs/item_linkage/README.md
Due: none

force datetime contenful
  jobs/etl_jobs/external/contentful/main.py
Due: format-fix, lint-fix

fix mrt_external_reporting_top models
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_offer_category.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_venue.sql
Due: sqlfmt

sqlfmt
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_offer_category.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_venue.sql
Due: sqlfmt

(DE) feat(dbt): Fix mrt external reporting top (#4399)
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_offer_category.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_venue.sql
Due: sqlfmt

increase timeout
  jobs/etl_jobs/external/contentful/contentful_client.py
Due: format-fix, lint-fix

top import
  jobs/etl_jobs/external/ppg/configs.py
  jobs/etl_jobs/external/ppg/core.py
  jobs/etl_jobs/external/ppg/main.py
  jobs/etl_jobs/external/ppg/utils.py
  jobs/etl_jobs/external/ppg/utils/__init__.py
  jobs/etl_jobs/external/ppg/utils/configs.py
  jobs/etl_jobs/external/ppg/utils/models.py
Due: format-fix, lint-fix

convert to datetime
  jobs/etl_jobs/external/contentful/main.py
Due: format-fix, lint-fix

add offer booking eac model
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_offer_booking.sql
Due: sqlfmt

(BSR) feat(migration): migrate embeddings to pyproject.toml (#4393)
  jobs/ml_jobs/embeddings/pyproject_backup.toml
  jobs/ml_jobs/embeddings/uv.lock
Due: none

(BSR) feat(migration): migrate reduction to pyproject (#4392)
  jobs/ml_jobs/reduction/pyproject_backup.toml
  jobs/ml_jobs/reduction/requirements.in
  jobs/ml_jobs/reduction/uv.lock
Due: none
