Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: system
  stages:
  - commit

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: system
  stages:
  - commit

sqlfluff-format-fix:
  name: Formatting (sqlfluff)
  entry: make sqlfluff_format
  language: system
  stages:
  - commit

sqlfluff-lint-fix echo $(git diff --cached --name-only):
  name: Linter (sqlfluff)
  entry: make sqlfluff_fix $(git diff --cached --name-only)
  language: system
  stages:
  - commit

sqlfluff-lint-check:
  name: Lint check (sqlfluff)
  entry: make sqlfluff_lint echo $(git diff --cached --name-only)
  language: system
  stages:
  - commit

try with github. method
  .github/workflows/CI_workflow.yml
Due: none

add event id to pricing table
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/pricing.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

feat: Add sqlfmt_format target in Makefile
  Makefile
Due: none

temp: Comment sqlfluff checks
  .pre-commit-config.yaml
Due: none

feat: Add sqlfmt_format in requeriments
  requirements.in
  requirements.txt
Due: none

feat: Add sqlfmt_format in pre-commit
  .pre-commit-config.yaml
  Makefile
Due: none

fix: Update precommit config
  .pre-commit-config.yaml
Due: none

switch back prerequisite on debian
  Makefile
Due: none

use github action repo variables for composer buckets
  .github/workflows/CD_workflow.yml
  .github/workflows/CI_workflow.yml
Due: none

properly render installer template in operator
  orchestration/dags/common/operators/gce.py
Due: format-fix, lint-fix

adapt macro
  .github/workflows/CI_workflow.yml
  orchestration/dags/data_gcp_dbt/macros/generate_schema_name.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

fix
  orchestration/dags/data_gcp_dbt/macros/generate_schema_name.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

add installer parameter to SSHGCEOperator
  orchestration/dags/jobs/import/import_addresses.py
Due: format-fix, lint-fix

use github action repo variables for composer buckets (#3245)
  .github/workflows/CD_workflow.yml
  .github/workflows/CI_workflow.yml
Due: none

(DE-649) feat(clikhouse) improve update queries
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/daily_aggregated_offer_event.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/monthly_aggregated_offerer_collective_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/monthly_aggregated_offerer_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/yearly_aggregated_offerer_collective_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/yearly_aggregated_offerer_revenue.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

(DE-649) feat(clikhouse) improve update queries (#3247)
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/daily_aggregated_offer_event.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/monthly_aggregated_offerer_collective_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/monthly_aggregated_offerer_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/yearly_aggregated_offerer_collective_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/yearly_aggregated_offerer_revenue.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

DE-615/hotfix/source venv after rendering installer template (#3246)
  orchestration/dags/common/operators/gce.py
  orchestration/dags/jobs/import/import_addresses.py
Due: format-fix, lint-fix

wip
  .github/workflows/dev_on_pull_request_title_checker.yml
Due: none

render_template_as_native_obj
  orchestration/dags/jobs/ml/algo_training_two_towers.py
Due: format-fix, lint-fix

fix(two-tower): render gpu count template (#3249)
  orchestration/dags/jobs/ml/algo_training_two_towers.py
Due: format-fix, lint-fix

fix macro
  orchestration/dags/data_gcp_dbt/macros/custom_snapshot_config.sql
  orchestration/dags/data_gcp_dbt/macros/generate_schema_name.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

fix sql
  orchestration/dags/data_gcp_dbt/models/clean/user_beneficiary.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

run modified snapshots
  .github/workflows/scripts/run_dbt_changed_models.sh
Due: none

run snapshots before models
  .github/workflows/scripts/run_dbt_changed_models.sh
Due: none

fix snapshot command
  .github/workflows/scripts/run_dbt_changed_models.sh
Due: none

fix(ml): update applicative offer db
  orchestration/dags/dependencies/training_data/sql/offer_categorization_offers.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

fix(ml): update applicative offer db (#3251)
  orchestration/dags/dependencies/training_data/sql/offer_categorization_offers.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

add debug session for ci
  .github/workflows/reusable_dbt_workflow.yml
Due: none

add historization export tasks to import applicative dag
  orchestration/dags/jobs/import/import_applicative_database.py
Due: format-fix, lint-fix

create empty vm job
  jobs/etl_jobs/internal/export_applicative/main.py
  jobs/etl_jobs/internal/export_applicative/requirements.in
  jobs/etl_jobs/internal/export_applicative/requirements.txt
Due: format-fix, lint-fix

another test
  .github/workflows/CI_workflow.yml
  .github/workflows/reusable_dbt_workflow.yml
Due: none

add base dir template field
  orchestration/dags/common/operators/gce.py
Due: format-fix, lint-fix

allow field addition bigquery insert job
  orchestration/dags/common/operators/biquery.py
Due: format-fix, lint-fix

rename operator file, switch query schemaUpdateOptions to job parameter dict
  orchestration/dags/common/operators/bigquery.py
Due: format-fix, lint-fix

update firebase jobs config with schemaUpdateOptions
  orchestration/dags/dependencies/firebase/import_firebase.py
Due: format-fix, lint-fix

fix typo in import
  orchestration/dags/jobs/api/export_cloudsql_tables_to_bigquery.py
  orchestration/dags/jobs/export/export_propilote.py
  orchestration/dags/jobs/export/export_qualtrics_data.py
  orchestration/dags/jobs/import/import_applicative_database.py
  orchestration/dags/jobs/import/import_appsflyer.py
  orchestration/dags/jobs/import/import_batch.py
  orchestration/dags/jobs/import/import_dms_subscriptions.py
  orchestration/dags/jobs/import/import_downloads.py
  orchestration/dags/jobs/import/import_firebase.py
  orchestration/dags/jobs/import/import_gcs_seed.py
  orchestration/dags/jobs/import/import_sendinblue.py
  orchestration/dags/jobs/import/import_sendinblue_historical.py
  orchestration/dags/jobs/ml/artist_linkage.py
  orchestration/dags/jobs/ml/link_offers.py
  orchestration/dags/jobs/ml/offline_recommendations.py
Due: format-fix, lint-fix

add error handling for tops
  jobs/ml_jobs/retrieval_vector/app/factory/tops.py
Due: format-fix, lint-fix

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfluff-format-fix: any of: \.sql$
  sqlfluff-lint-fix echo $(git diff --cached --name-only): any of: \.sql$
  sqlfluff-lint-check: any of: \.sql$
