Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: python
  stages:
  - commit
  additional_dependencies:
  - ruff==0.5.7

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: python
  stages:
  - commit
  additional_dependencies:
  - ruff==0.5.7

sqlfmt:
  name: SQL Formatting (sqlfmt)
  entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
  ...

feat: Add request utils from streamlit
  jobs/etl_jobs/external/titelive/constants.py
  jobs/etl_jobs/external/titelive/env_vars.py
  jobs/etl_jobs/external/titelive/utils/requests.py
Due: format-fix, lint-fix

auto: Add titelive as etl_external microservice
  jobs/etl_jobs/external/titelive/Makefile
  jobs/etl_jobs/external/titelive/README.md
  jobs/etl_jobs/external/titelive/__init__.py
  jobs/etl_jobs/external/titelive/main.py
  jobs/etl_jobs/external/titelive/pyproject.toml
  jobs/etl_jobs/external/titelive/utils/__init__.py
  jobs/etl_jobs/external/titelive/uv.lock
Due: format-fix, lint-fix

refactor: Refacto script structure
  jobs/etl_jobs/external/titelive/scripts/main.py
  jobs/etl_jobs/external/titelive/src/constants.py
  jobs/etl_jobs/external/titelive/src/env_vars.py
  jobs/etl_jobs/external/titelive/src/utils/__init__.py
  jobs/etl_jobs/external/titelive/src/utils/requests.py
Due: format-fix, lint-fix

fix: Fix Makefile
  Makefile
Due: none

feat: Add get_modified_offers
  jobs/etl_jobs/external/titelive/.gitignore
  jobs/etl_jobs/external/titelive/src/utils/requests.py
Due: format-fix, lint-fix

feat: Add extract_new_offers_from_titelive.py
  jobs/etl_jobs/external/titelive/Makefile
  jobs/etl_jobs/external/titelive/scripts/extract_new_offers_from_titelive.py
  jobs/etl_jobs/external/titelive/src/__init__.py
  jobs/etl_jobs/external/titelive/src/constants.py
  jobs/etl_jobs/external/titelive/src/utils/requests.py
Due: format-fix, lint-fix

refacor: Refacto main script
  jobs/etl_jobs/external/titelive/.gitignore
  jobs/etl_jobs/external/titelive/Makefile
  jobs/etl_jobs/external/titelive/data/.gitkeep
  jobs/etl_jobs/external/titelive/scripts/extract_new_offers_from_titelive.py
  jobs/etl_jobs/external/titelive/scripts/main.py
  jobs/etl_jobs/external/titelive/src/utils/requests.py
Due: format-fix, lint-fix

feat: Add parsing
  jobs/etl_jobs/external/titelive/pyproject.toml
  jobs/etl_jobs/external/titelive/src/utils/parsing.py
  jobs/etl_jobs/external/titelive/uv.lock
Due: format-fix, lint-fix

fix: Fix ean naming
  jobs/etl_jobs/external/titelive/src/utils/requests.py
Due: format-fix, lint-fix

fix(Dockerfile): correct metadata copy path to /app/metadata
  jobs/ml_jobs/ranking_endpoint/Dockerfile
Due: none

migrate to pyproject.toml and upgrade h11
  jobs/ml_jobs/algo_training/pyproject_backup.toml
  jobs/ml_jobs/algo_training/uv.lock
Due: none

WIP: Add parse offers
  jobs/etl_jobs/external/titelive/scripts/parse_offers.py
Due: format-fix, lint-fix

fix(app.py): reorder import statements for consistency
  jobs/ml_jobs/ranking_endpoint/app/app.py
Due: format-fix, lint-fix

(HF) fix(tiktok): cast account field to string
  jobs/etl_jobs/external/tiktok/extract.py
Due: format-fix, lint-fix

add cast str everywhere
  jobs/etl_jobs/external/tiktok/extract.py
Due: format-fix, lint-fix

add schema configuration
  jobs/etl_jobs/external/tiktok/extract.py
  jobs/etl_jobs/external/tiktok/utils.py
Due: format-fix, lint-fix

set dict as empty by default
  jobs/etl_jobs/external/tiktok/utils.py
Due: format-fix, lint-fix

explicit parameters
  jobs/etl_jobs/external/tiktok/extract.py
  jobs/etl_jobs/external/tiktok/utils.py
Due: format-fix, lint-fix

chore: remove obsolete pyproject_backup.toml configuration file
  jobs/ml_jobs/algo_training/pyproject_backup.toml
Due: none

fix(dependencies): update h11 to version 0.16.0
  jobs/ml_jobs/retrieval_vector/uv.lock
Due: none

delete: remove obsolete pyproject_backup.toml configuration file
  jobs/ml_jobs/clusterisation/pyproject_backup.toml
Due: none

chore: remove obsolete API requirements and backup files
  jobs/ml_jobs/ranking_endpoint/app/api-requirements.in
  jobs/ml_jobs/ranking_endpoint/app/api-requirements.txt
  jobs/ml_jobs/ranking_endpoint/app/new_reqs.txt
  jobs/ml_jobs/ranking_endpoint/pyproject_backup.toml
  jobs/ml_jobs/ranking_endpoint/requirements.in
  jobs/ml_jobs/ranking_endpoint/requirements.txt
Due: none

(BSR) refactor(clusterisation): migrate to pyproject.toml and upgrade h11 (#4397)
  jobs/ml_jobs/clusterisation/pyproject.toml
  jobs/ml_jobs/clusterisation/uv.lock
Due: none

(BSR ) refactor(retrieval): update h11 to a minimum version of 0.16.0 (#4396)
  jobs/ml_jobs/retrieval_vector/pyproject.toml
  jobs/ml_jobs/retrieval_vector/uv.lock
Due: none

(BSR) refactor(ranking): Update h11 ranking endpoint (#4398)
  jobs/ml_jobs/endpoint_monitoring/main.py
  jobs/ml_jobs/endpoint_monitoring/utils/analysis_utils.py
  jobs/ml_jobs/endpoint_monitoring/utils/endpoint.py
  jobs/ml_jobs/ranking_endpoint/Dockerfile
  jobs/ml_jobs/ranking_endpoint/api-requirements.in
  jobs/ml_jobs/ranking_endpoint/api-requirements.txt
  jobs/ml_jobs/ranking_endpoint/app/app.py
  jobs/ml_jobs/ranking_endpoint/app/pyproject.toml
  jobs/ml_jobs/ranking_endpoint/app/uv.lock
  jobs/ml_jobs/ranking_endpoint/requirements.in
  jobs/ml_jobs/ranking_endpoint/requirements.txt
  jobs/ml_jobs/ranking_endpoint/uv.lock
Due: format-fix, lint-fix

(BSR) refactor(algotraining): migration to pyproject.toml and upgrade h11 (#4400)
  jobs/ml_jobs/algo_training/pyproject.toml
  jobs/ml_jobs/algo_training/uv.lock
Due: none

add eac domain model
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/collective/description__mrt_external_reporting__eac_domain.md
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/_schema/mrt_external_reporting__eac_domain.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_domain.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_offer_booking.sql
Due: sqlfmt

sqlfmt
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_domain.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_offer_booking.sql
Due: sqlfmt

Remove obsolete requirements files for clusterisation job
  jobs/ml_jobs/algo_training/requirements.in
  jobs/ml_jobs/algo_training/requirements.txt
  jobs/ml_jobs/clusterisation/requirements.in
  jobs/ml_jobs/clusterisation/requirements.txt
Due: none

Remove obsolete requirements files for clusterisation job (#4403)
  jobs/ml_jobs/algo_training/requirements.in
  jobs/ml_jobs/algo_training/requirements.txt
  jobs/ml_jobs/clusterisation/requirements.in
  jobs/ml_jobs/clusterisation/requirements.txt
Due: none

Implement code changes to enhance functionality and improve performance
  jobs/ml_jobs/item_linkage/pyproject.toml
  jobs/ml_jobs/item_linkage/pyproject_backup.toml
  jobs/ml_jobs/item_linkage/requirements.in
  jobs/ml_jobs/item_linkage/requirements.txt
  jobs/ml_jobs/item_linkage/uv.lock
Due: none

add same territory kpi
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/collective/description__mrt_external_reporting__eac_offer_booking.md
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/_schema/mrt_external_reporting__eac_offer_booking.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_credit_usage.sql
Due: sqlfmt

sqlfmt
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_credit_usage.sql
Due: sqlfmt

(HF) fix(firebase): load firebase performance at D-2
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/performance/int_firebase__performance.sql
  orchestration/dags/data_gcp_dbt/models/mart/monitoring/mrt_monitoring__firebase_performance_tti.sql
Due: sqlfmt

fmt
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/performance/int_firebase__performance.sql
  orchestration/dags/data_gcp_dbt/models/mart/monitoring/mrt_monitoring__firebase_performance_tti.sql
Due: sqlfmt

(HF) fix(firebase): performance load data at D-2 (#4410)
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/performance/int_firebase__performance.sql
  orchestration/dags/data_gcp_dbt/models/mart/monitoring/mrt_monitoring__firebase_performance_tti.sql
Due: sqlfmt

(DA-4352) docs(dbt): Add doc to venue and favorite models and columns (#4352)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__favorite.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__venue.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__venue.md
Due: none

update
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/pcapi/column__log.md
  orchestration/dags/data_gcp_dbt/models/intermediate/pcapi/int_pcapi__log.sql
  orchestration/dags/data_gcp_dbt/models/mart/pro/_schema/mrt_pro__log.yml
  orchestration/dags/data_gcp_dbt/models/mart/pro/mrt_pro__log.sql
Due: sqlfmt

Add backend offer_meta_data for offer video url
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offer.md
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_meta_data.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offer.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/offer_meta_data.sql
Due: sqlfmt

Add backend offer_meta_data for offer video url
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_meta_data.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/offer_meta_data.sql
Due: sqlfmt

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfmt: any of: \.sql$
