Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: python
  stages:
  - commit
  additional_dependencies:
  - ruff==0.5.7

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: python
  stages:
  - commit
  additional_dependencies:
  - ruff==0.5.7

sqlfmt:
  name: SQL Formatting (sqlfmt)
  entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
  ...

fix filter
  jobs/etl_jobs/external/metabase/main.py
Due: format-fix, lint-fix

fix
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__cultural_partner.sql
Due: sqlfmt

update script filter only and precise question
  jobs/etl_jobs/external/metabase/main.py
  jobs/etl_jobs/external/metabase/native.py
Due: format-fix, lint-fix

fix
  jobs/etl_jobs/external/metabase/native.py
Due: format-fix, lint-fix

fix script for all cards
  jobs/etl_jobs/external/metabase/main.py
Due: format-fix, lint-fix

force global_user cards modification
  jobs/etl_jobs/external/metabase/utils.py
Due: format-fix, lint-fix

feat: add gtl metric for embedding validation
  jobs/ml_jobs/graph_recommendation/src/utils/metrics.py
Due: format-fix, lint-fix

add publication_tag_event_name
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/social_network/column__publication.md
  orchestration/dags/data_gcp_dbt/models/intermediate/instagram/int_instagram__publication_detail.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/instagram/int_instagram_publication_detail.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/tiktok/int_tiktok__publication_detail.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/tiktok/int_tiktok__publication_detail.yml
  orchestration/dags/data_gcp_dbt/models/mart/marketing/_schema/mrt_marketing__social_network_publication.yml
  orchestration/dags/data_gcp_dbt/models/mart/marketing/mrt_marketing__social_network_publication.sql
Due: sqlfmt

add download images + handle failed eans
  jobs/etl_jobs/external/titelive/config.py
  jobs/etl_jobs/external/titelive/main.py
  jobs/etl_jobs/external/titelive/pyproject.toml
  jobs/etl_jobs/external/titelive/src/api/client.py
  jobs/etl_jobs/external/titelive/src/modes/download_images.py
  jobs/etl_jobs/external/titelive/src/modes/init_bq.py
  jobs/etl_jobs/external/titelive/src/transformers/api_transform.py
  jobs/etl_jobs/external/titelive/src/utils/bigquery.py
  jobs/etl_jobs/external/titelive/src/utils/image_download.py
  jobs/etl_jobs/external/titelive/uv.lock
  jobs/etl_jobs/http_tools/clients.py
Due: format-fix, lint-fix

refactor: Add booking_number_desc, booking_trend_desc, booking_creation_trend_desc and booking_release_trend_desc in recommendable_item
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__recommendable_item.sql
Due: sqlfmt

docs: Add docstring in retrieval utils.py
  jobs/ml_jobs/retrieval_vector/utils.py
Due: format-fix, lint-fix

refactor: Rename retrieval vector DAGs
  orchestration/dags/jobs/ml/build_and_push_semantic_retrieval_api.py
  orchestration/dags/jobs/ml/build_and_push_two_towers_retrieval_api.py
Due: format-fix, lint-fix

refactor: Import data in gcs for retrieval vector build
  orchestration/dags/jobs/ml/retrieval_vector_build.py
Due: format-fix, lint-fix

feat: Add graph_database command
  jobs/ml_jobs/retrieval_vector/create_vector_database.py
  jobs/ml_jobs/retrieval_vector/utils.py
Due: format-fix, lint-fix

feat: Add build_and_push_graph_retrieval_api
  .gitignore
  orchestration/dags/jobs/ml/build_and_push_graph_retrieval_api.py
  orchestration/dags/jobs/ml/build_and_push_semantic_retrieval_api.py
  orchestration/dags/jobs/ml/build_and_push_two_towers_retrieval_api.py
Due: format-fix, lint-fix

refactor: Use polars to read embeddings
  jobs/ml_jobs/retrieval_vector/create_vector_database.py
Due: format-fix, lint-fix

feat: Add metadata_graph_client
  jobs/ml_jobs/retrieval_vector/app/retrieval/metadata_graph_client.py
  jobs/ml_jobs/retrieval_vector/app/retrieval/model_config.py
Due: format-fix, lint-fix

remove init-gcs
  jobs/etl_jobs/external/titelive/main.py
  jobs/etl_jobs/external/titelive/src/modes/init_gcs.py
  jobs/etl_jobs/external/titelive/src/transformers/sql_transform.py
  orchestration/dags/jobs/import/import_titelive.py
Due: format-fix, lint-fix

refactor: Update retrieval app to python 3.11
  jobs/ml_jobs/retrieval_vector/Dockerfile
  jobs/ml_jobs/retrieval_vector/pyproject.toml
  jobs/ml_jobs/retrieval_vector/uv.lock
Due: none

refactor: Refactor handler logic to raise error if embedding_model_type is not appropriate
  jobs/ml_jobs/retrieval_vector/app/factory/handler_factory.py
  jobs/ml_jobs/retrieval_vector/app/retrieval/client.py
  jobs/ml_jobs/retrieval_vector/app/retrieval/constants.py
  jobs/ml_jobs/retrieval_vector/app/retrieval/metadata_graph_client.py
  jobs/ml_jobs/retrieval_vector/app/retrieval/reco_client.py
  jobs/ml_jobs/retrieval_vector/app/retrieval/text_client.py
  jobs/ml_jobs/retrieval_vector/app/routes.py
Due: format-fix, lint-fix

pr: Fix sonarcloud issues
  jobs/ml_jobs/retrieval_vector/app/retrieval/metadata_graph_client.py
  jobs/ml_jobs/retrieval_vector/create_vector_database.py
  jobs/ml_jobs/retrieval_vector/uv.lock
Due: format-fix, lint-fix

refactor: gtl metrics
  jobs/ml_jobs/graph_recommendation/src/utils/base_metrics.py
  jobs/ml_jobs/graph_recommendation/src/utils/metrics.py
Due: format-fix, lint-fix

tests: gtl metrics
  jobs/ml_jobs/graph_recommendation/tests/base_metrics_test.py
Due: format-fix, lint-fix

feat: add gtl id for fast evaluation
  jobs/ml_jobs/graph_recommendation/src/constants.py
  jobs/ml_jobs/graph_recommendation/src/embedding_builder.py
  jobs/ml_jobs/graph_recommendation/src/graph_builder.py
  jobs/ml_jobs/graph_recommendation/src/heterograph_builder.py
  orchestration/dags/data_gcp_dbt/models/machine_learning/graph_recommendation/ml_graph_recommendation__item_with_metadata_to_embed.sql
Due: format-fix, lint-fix, sqlfmt

fix
  jobs/ml_jobs/graph_recommendation/tests/base_metrics_test.py
Due: format-fix, lint-fix

add gtl ids to graph & embedding tests
  jobs/ml_jobs/graph_recommendation/tests/embedding_builder_test.py
  jobs/ml_jobs/graph_recommendation/tests/graph_builder_test.py
  jobs/ml_jobs/graph_recommendation/tests/heterograph_builder_test.py
Due: format-fix, lint-fix

style
  jobs/ml_jobs/graph_recommendation/src/embedding_builder.py
  jobs/ml_jobs/graph_recommendation/src/graph_builder.py
  jobs/ml_jobs/graph_recommendation/src/heterograph_builder.py
Due: format-fix, lint-fix

fix: tests & embedding builder
  jobs/ml_jobs/graph_recommendation/src/embedding_builder.py
  jobs/ml_jobs/graph_recommendation/tests/embedding_builder_test.py
  jobs/ml_jobs/graph_recommendation/tests/graph_builder_test.py
  jobs/ml_jobs/graph_recommendation/tests/heterograph_builder_test.py
Due: format-fix, lint-fix

feat: retrieval to evaluate
  jobs/ml_jobs/graph_recommendation/pyproject.toml
  jobs/ml_jobs/graph_recommendation/src/constants.py
  jobs/ml_jobs/graph_recommendation/src/utils/evaluation_metrics.py
  jobs/ml_jobs/graph_recommendation/src/utils/retrieval.py
Due: format-fix, lint-fix

(DE-2644) feat(dbt): Add event field to social network models #4542
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/social_network/column__publication.md
  orchestration/dags/data_gcp_dbt/models/intermediate/instagram/int_instagram__publication_detail.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/instagram/int_instagram_publication_detail.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/tiktok/int_tiktok__publication_detail.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/tiktok/int_tiktok__publication_detail.yml
  orchestration/dags/data_gcp_dbt/models/mart/marketing/_schema/mrt_marketing__social_network_publication.yml
  orchestration/dags/data_gcp_dbt/models/mart/marketing/mrt_marketing__social_network_publication.sql
Due: sqlfmt

(DE-2479) feat(dbt): Add field special_event_end_date #4531
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__special_event.md
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__special_event.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__special_event.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__special_event.sql
  orchestration/dags/data_gcp_dbt/models/raw/applicative/raw_applicative__special_event.sql
Due: sqlfmt

(DE-2569) feat(graph retrieval): Build graph recommendation api (#4534)
  .gitignore
  jobs/ml_jobs/retrieval_vector/Dockerfile
  jobs/ml_jobs/retrieval_vector/app/factory/handler_factory.py
  jobs/ml_jobs/retrieval_vector/app/retrieval/client.py
  jobs/ml_jobs/retrieval_vector/app/retrieval/constants.py
  jobs/ml_jobs/retrieval_vector/app/retrieval/metadata_graph_client.py
  jobs/ml_jobs/retrieval_vector/app/retrieval/model_config.py
  jobs/ml_jobs/retrieval_vector/app/retrieval/reco_client.py
  jobs/ml_jobs/retrieval_vector/app/retrieval/text_client.py
  jobs/ml_jobs/retrieval_vector/app/routes.py
  jobs/ml_jobs/retrieval_vector/create_vector_database.py
  jobs/ml_jobs/retrieval_vector/pyproject.toml
  jobs/ml_jobs/retrieval_vector/utils.py
  jobs/ml_jobs/retrieval_vector/uv.lock
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__recommendable_item.sql
  orchestration/dags/jobs/ml/build_and_push_graph_retrieval_api.py
  orchestration/dags/jobs/ml/build_and_push_semantic_retrieval_api.py
  orchestration/dags/jobs/ml/build_and_push_two_towers_retrieval_api.py
Due: format-fix, lint-fix, sqlfmt

create first schema of item viewed model
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_daily_item_viewed.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_event.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_event_flattened.sql
Due: sqlfmt

sqlfmt
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_daily_item_viewed.sql
Due: sqlfmt

review
  jobs/ml_jobs/graph_recommendation/src/constants.py
  jobs/ml_jobs/graph_recommendation/src/utils/base_metrics.py
  jobs/ml_jobs/graph_recommendation/tests/base_metrics_test.py
  orchestration/dags/data_gcp_dbt/models/machine_learning/graph_recommendation/ml_graph_recommendation__item_with_metadata_to_embed.sql
Due: format-fix, lint-fix, sqlfmt

(DE-2670) feat(metric): gtl evaluation baseline metric (#4541)
  jobs/ml_jobs/graph_recommendation/src/constants.py
  jobs/ml_jobs/graph_recommendation/src/embedding_builder.py
  jobs/ml_jobs/graph_recommendation/src/graph_builder.py
  jobs/ml_jobs/graph_recommendation/src/heterograph_builder.py
  jobs/ml_jobs/graph_recommendation/src/utils/base_metrics.py
  jobs/ml_jobs/graph_recommendation/tests/base_metrics_test.py
  jobs/ml_jobs/graph_recommendation/tests/embedding_builder_test.py
  jobs/ml_jobs/graph_recommendation/tests/graph_builder_test.py
  jobs/ml_jobs/graph_recommendation/tests/heterograph_builder_test.py
  orchestration/dags/data_gcp_dbt/models/machine_learning/graph_recommendation/ml_graph_recommendation__item_with_metadata_to_embed.sql
Due: format-fix, lint-fix, sqlfmt

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfmt: any of: \.sql$
