Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
# Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
# Add new hook types here to ensure automatic installation when running `pre-commit install`
- pre-commit
- pre-push
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-json
  - id: check-added-large-files

- repo: local
  hooks:
  - id: format-fix
    name: Formatting (ruff)
    entry: ruff format
    language: system
    types: [python]
    stages: [commit]
  - id: lint-fix
    name: Linting (ruff)
    entry: ruff check --fix
    language: system
    types: [python]
    stages: [commit]
  - id: sqlfmt
    name: SQL Formatting (sqlfmt)
    entry: make sqlfmt
    stages: [commit]
    language: system
    types: [sql]
  # - id: sqlfluff-lint-check
  #   name: Lint check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_lint.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-format-check
  #   name: format check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_format.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-fix
  #   name: fix (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_fix.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]

(BSR) feat(k8s): remove legacy deps for elementary (#4098)
  orchestration/k8s-airflow/Dockerfile.k8s-worker
  orchestration/k8s-airflow/README.md
Due: none

(DE) build(CD): push airflow image artifact registry prod (#4103)
  .github/workflows/on_cd__workflow.yml
Due: none

feat: full refresh bookable venue
  orchestration/dags/data_gcp_dbt/models/intermediate/history/int_history__bookable_venue.sql
Due: sqlfmt

(HF) feat(dbt): fix airflow bucket for metabase-dbt job
  orchestration/dags/common/config.py
Due: format-fix, lint-fix

(HF) feat(cd) typo error for mkdocs deploy
  .github/workflows/reusable_deploy_mkdocs.yml
Due: none

refactor: Update preprocessing_name
  jobs/ml_jobs/artist_linkage/match_artists_on_wikidata.py
  jobs/ml_jobs/artist_linkage/preprocess.py
  jobs/ml_jobs/artist_linkage/tests/utils/preprocessing_utils_test.py
  jobs/ml_jobs/artist_linkage/utils/preprocessing_utils.py
Due: format-fix, lint-fix

(HF) feat(k8s): fix psycopg2 error on requirements for workers
  orchestration/airflow/orchestration-requirements.txt
  orchestration/k8s-airflow/k8s-worker-requirements.txt
  orchestration/pyproject.toml
  orchestration/uv.lock
Due: none

(HF) feat(k8s): add legacy dependencies
  orchestration/airflow/orchestration-requirements.txt
  orchestration/k8s-airflow/k8s-worker-requirements.txt
  orchestration/pyproject.toml
  orchestration/uv.lock
Due: none

(HF) feat(k8s): add legacy dependencies (#4105)
  orchestration/airflow/orchestration-requirements.txt
  orchestration/k8s-airflow/k8s-worker-requirements.txt
  orchestration/pyproject.toml
  orchestration/uv.lock
Due: none

(HF) feat(backend): fix typo error for import
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/user.sql
Due: sqlfmt

(HF) feat(backend): fix typo error for import (#4106)
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/user.sql
Due: sqlfmt

(BSR) fix(artist): Fix wikidata matching (#4096)
  jobs/ml_jobs/artist_linkage/extract_from_wikidata.py
  jobs/ml_jobs/artist_linkage/match_artists_on_wikidata.py
  jobs/ml_jobs/artist_linkage/preprocess.py
  jobs/ml_jobs/artist_linkage/tests/utils/preprocessing_utils_test.py
  jobs/ml_jobs/artist_linkage/utils/preprocessing_utils.py
Due: format-fix, lint-fix

(HF) feat(k8s): add psycopg2 library to docker
  orchestration/Makefile
  orchestration/airflow/orchestration-requirements.txt
  orchestration/k8s-airflow/k8s-worker-requirements.txt
  orchestration/pyproject.toml
  orchestration/uv.lock
Due: none

wip
  orchestration/k8s-airflow/Dockerfile.k8s-worker
Due: none

keep old version
  orchestration/k8s-airflow/Dockerfile.k8s-worker
  orchestration/k8s-airflow/k8s-worker-requirements.txt
Due: none

(HF) feat(k8s): Rollback airflow dockerfile to last release version (#4109)
  orchestration/k8s-airflow/Dockerfile.k8s-worker
  orchestration/k8s-airflow/k8s-worker-requirements.txt
Due: none

feat: full refresh start date parameter
  orchestration/dags/data_gcp_dbt/models/intermediate/history/int_history__bookable_venue.sql
Due: sqlfmt

(HF) feat(k8s): improve dockerfile for k8s
  orchestration/k8s-airflow/Dockerfile.k8s-worker
  orchestration/k8s-airflow/README.md
  orchestration/k8s-airflow/k8s-worker-requirements.txt
Due: none

feat: remove legacy packages
  orchestration/airflow/orchestration-requirements.txt
  orchestration/k8s-airflow/k8s-worker-requirements.txt
  orchestration/pyproject.toml
  orchestration/uv.lock
Due: none

add instance_name param and doc to algo_custom deployment and uppercase doc
  orchestration/dags/jobs/administration/gcp_launch_vm.py
  orchestration/dags/jobs/ml/algo_custom_deployment.py
Due: format-fix, lint-fix

add instance_name param and doc to algo_custom deployment and uppercase doc (#4088)
  orchestration/dags/jobs/administration/gcp_launch_vm.py
  orchestration/dags/jobs/ml/algo_custom_deployment.py
Due: format-fix, lint-fix

feat: clean pyproject.toml
  orchestration/pyproject.toml
Due: none

(HF) feat(k8s): improve dockerfile for k8s (#4110)
  orchestration/airflow/orchestration-requirements.txt
  orchestration/k8s-airflow/Dockerfile.k8s-worker
  orchestration/k8s-airflow/README.md
  orchestration/k8s-airflow/k8s-worker-requirements.txt
  orchestration/pyproject.toml
  orchestration/uv.lock
Due: none

script
  jobs/playground_vm/test_retrieval/script_retrieval.py
Due: format-fix, lint-fix

fix PR
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__educational_institution.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__educational_institution.sql
Due: sqlfmt

fix pr
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__educational_institution.yml
Due: none

(DA) feat(dbt): add tests on mart_global__educational_institution (#4112)
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__educational_institution.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__educational_institution.sql
Due: sqlfmt

commit
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offerer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offerer.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__venue.yml
Due: sqlfmt

fix execution_date interval
  orchestration/dags/data_gcp_dbt/models/intermediate/appsflyer/int_appsflyer__daily_install_cost.sql
Due: sqlfmt

feat: Add user_item_dot_sim
  jobs/ml_jobs/retrieval_vector/app/retrieval/client.py
  jobs/ml_jobs/retrieval_vector/app/retrieval/reco_client.py
Due: format-fix, lint-fix

refactor: Add similiarity column name
  jobs/ml_jobs/retrieval_vector/app/retrieval/client.py
  jobs/ml_jobs/retrieval_vector/app/retrieval/constants.py
Due: format-fix, lint-fix

docs: Update doc
  jobs/ml_jobs/retrieval_vector/app/retrieval/client.py
Due: format-fix, lint-fix

(DE-1641) refactor(airflow): split images on registry
  .github/workflows/reusable_build_image.yml
Due: none

fix: Take into account empty user_vector in dot product
  jobs/ml_jobs/retrieval_vector/app/retrieval/client.py
Due: format-fix, lint-fix

refactor: add dev tag to image
  .github/workflows/reusable_build_image.yml
Due: none

tests: Fix tests
  jobs/ml_jobs/retrieval_vector/tests/conftest.py
  jobs/ml_jobs/retrieval_vector/tests/factory/semantic_offer_test.py
Due: format-fix, lint-fix

refacto: Use same mock for retrieval user loading
  jobs/ml_jobs/retrieval_vector/tests/conftest.py
  jobs/ml_jobs/retrieval_vector/tests/factory/recommendation_test.py
  jobs/ml_jobs/retrieval_vector/tests/factory/semantic_offer_test.py
  jobs/ml_jobs/retrieval_vector/tests/factory/similar_offer_test.py
  jobs/ml_jobs/retrieval_vector/tests/factory/tops_test.py
  jobs/ml_jobs/retrieval_vector/tests/retrieval/core/client_test.py
Due: format-fix, lint-fix

(BSR) feat(airflow): add prefix to bq insert jobs
  orchestration/dags/common/operators/bigquery.py
  orchestration/dags/jobs/export/export_clickhouse.py
  orchestration/dags/jobs/export/export_posthog.py
  orchestration/dags/jobs/import/import_metabase.py
  orchestration/dags/jobs/import/import_qpi.py
  orchestration/dags/jobs/ml/algo_training_offer_compliance_model.py
  orchestration/dags/jobs/ml/algo_training_two_towers.py
  orchestration/dags/jobs/ml/artist_linkage.py
  orchestration/dags/jobs/ml/embedding_reduction_item.py
  orchestration/dags/jobs/ml/link_items.py
  orchestration/dags/jobs/ml/retrieval_vector_semantic_build.py
Due: format-fix, lint-fix

(DA-1603) feat(dbt): Fix appsflyer execution_date interval (#4115)
  orchestration/dags/data_gcp_dbt/models/intermediate/appsflyer/int_appsflyer__daily_install_cost.sql
Due: sqlfmt
