Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: python
  stages:
  - commit
  additional_dependencies:
  - ruff==0.5.7

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: python
  stages:
  - commit
  additional_dependencies:
  - ruff==0.5.7

sqlfmt:
  name: SQL Formatting (sqlfmt)
  entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
  ...

deploy: 8b880b9bbc362fa7be96e78267877c97d21d3c0d
  __pycache__/hooks.cpython-310.pyc
  sitemap.xml
  sitemap.xml.gz
Due: none

(BSR-1717) api(address): migrate url to geoplateforme
  jobs/etl_jobs/external/api_gouv/main.py
  jobs/etl_jobs/external/api_gouv/utils/constant.py
  jobs/etl_jobs/external/api_gouv/utils/geocoding.py
Due: format-fix, lint-fix

remove legacy constant
  jobs/etl_jobs/external/api_gouv/utils/constant.py
Due: format-fix, lint-fix

(DE-1634) feat(docs): refactor project dependencies (#4166)
  .github/workflows/reusable_dbt_workflow.yml
  .github/workflows/reusable_deploy_mkdocs.yml
  .github/workflows/reusable_linter.yml
  Makefile
  README.md
  orchestration/Makefile
  orchestration/README.md
  orchestration/airflow/orchestration-requirements.txt
  orchestration/dags/jobs/administration/gcp_launch_vm.py
  orchestration/dags/jobs/ml/algo_training_two_towers.py
  orchestration/k8s-airflow/k8s-worker-requirements.txt
  orchestration/pyproject.toml
  orchestration/uv.lock
  pyproject.toml
  uv.lock
Due: format-fix, lint-fix

(BSR) fix(CD): fix image build tags
  .github/workflows/reusable_build_image.yml
Due: none

(HF) feat(etl): fix archive partition job
  jobs/etl_jobs/internal/bigquery_archive_partition/archive.py
  orchestration/dags/jobs/administration/bigquery_archive_partition.py
Due: format-fix, lint-fix

refactor: Refacto user features query
  orchestration/dags/data_gcp_dbt/models/machine_learning/feature/ml_feat__user_feature.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__ranking_training_data.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__user_statistics.sql
Due: sqlfmt

refactor: Remove 'new_' features from enriched_user
  jobs/etl_jobs/internal/sync_recommendation/sql/create_enriched_user_mv.sql
Due: sqlfmt

fix: Fix ranking_training_data
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__ranking_training_data.sql
Due: sqlfmt

(HF) feat(etl): fix archive partition job
  orchestration/dags/jobs/administration/bigquery_archive_partition.py
Due: format-fix, lint-fix

fix: Fix dbt workflow
  .github/workflows/reusable_dbt_workflow.yml
  .github/workflows/reusable_deploy_composer.yml
Due: none

sync pools
  orchestration/airflow/Dockerfile
  orchestration/airflow/scripts/sync_pools.py
  orchestration/docker-compose.yaml
  pyproject.toml
Due: format-fix, lint-fix

(BSR) refactor(ranking): Update user features to not use weekly data (#4179)
  .github/workflows/reusable_dbt_workflow.yml
  .github/workflows/reusable_deploy_composer.yml
  jobs/etl_jobs/internal/sync_recommendation/sql/create_enriched_user_mv.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/feature/ml_feat__user_feature.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__ranking_training_data.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__user_statistics.sql
Due: sqlfmt

add triggerer
  orchestration/docker-compose.yaml
Due: none

fix: Fix embedding_extraction_item
  orchestration/dags/jobs/ml/embedding_extraction_item.py
Due: format-fix, lint-fix

(HF) feat(etl): fix archive partition job (#4178)
  jobs/etl_jobs/internal/bigquery_archive_partition/archive.py
  orchestration/dags/jobs/administration/bigquery_archive_partition.py
Due: format-fix, lint-fix

various fixes
  orchestration/Makefile
  orchestration/airflow/Dockerfile
  orchestration/airflow/config/pools.json
  orchestration/airflow/orchestration-requirements.txt
  orchestration/airflow/scripts/create_pools.py
  orchestration/airflow/scripts/sync_pools.py
  orchestration/airflow/scripts/verify_pools.py
  orchestration/docker-compose.yaml
  orchestration/k8s-airflow/k8s-worker-requirements.txt
  uv.lock
Due: format-fix, lint-fix

(DE-1756) fix(import): remove fields in mediation and product
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__mediation.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__product.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/mediation.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/product.sql
Due: sqlfmt

(DE-1756) fix(import): remove fields in mediation and product (#4182)
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__mediation.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__product.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/mediation.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/product.sql
Due: sqlfmt

fix triggerer & speedup compose
  orchestration/airflow/config/airflow.cfg
  orchestration/dags/common/config.py
  orchestration/docker-compose.yaml
Due: format-fix, lint-fix

(BSR-1695) fix(archive): fix archiving rules
  jobs/etl_jobs/external/metabase-archiving/utils.py
Due: format-fix, lint-fix

fix: Fix jinja templating
  orchestration/dags/jobs/ml/embedding_extraction_item.py
Due: format-fix, lint-fix

(DE-1695) refactor(archiving): fix metabase archiving rules
  jobs/etl_jobs/external/metabase-archiving/utils.py
Due: format-fix, lint-fix

feat: Rename task
  orchestration/dags/jobs/ml/embedding_extraction_item.py
Due: format-fix, lint-fix

refactor: Use uv in dockerfile
  jobs/ml_jobs/ranking_endpoint/Dockerfile
Due: none

feat: New ranking
  jobs/ml_jobs/ranking_endpoint/.gitignore
  jobs/ml_jobs/ranking_endpoint/app/model.py
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
  jobs/ml_jobs/ranking_endpoint/requirements.in
  jobs/ml_jobs/ranking_endpoint/requirements.txt
  jobs/ml_jobs/ranking_endpoint/src/__init__.py
  jobs/ml_jobs/ranking_endpoint/src/evaluation.py
  jobs/ml_jobs/ranking_endpoint/src/figure.py
  jobs/ml_jobs/ranking_endpoint/src/preprocessing.py
  jobs/ml_jobs/ranking_endpoint/src/utils.py
Due: format-fix, lint-fix

feat: Add new ranking_train_and_build DAG which loads data from gcs
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
  orchestration/dags/jobs/ml/ranking_train_and_build.py
Due: format-fix, lint-fix

fix: Fix data loading
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
Due: format-fix, lint-fix

refactor: Move preprocess embeddings to custom function
  jobs/ml_jobs/ranking_endpoint/app/model.py
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
  jobs/ml_jobs/ranking_endpoint/src/preprocessing.py
Due: format-fix, lint-fix

HACK: local load
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
Due: format-fix, lint-fix

refactor: Refacto config
  orchestration/dags/common/config.py
  orchestration/docker-compose.yaml
Due: format-fix, lint-fix

(DE-1695) refactor(archiving): fix metabase archiving rules (#4183)
  jobs/etl_jobs/external/metabase-archiving/utils.py
Due: format-fix, lint-fix

prefix management for vm spawn from local airflow
  orchestration/dags/common/config.py
  orchestration/docker-compose.yaml
Due: format-fix, lint-fix

(BSR) fix(embedding extraction): Fix embedding_extraction_item (#4180)
  orchestration/dags/jobs/ml/embedding_extraction_item.py
Due: format-fix, lint-fix

refactor: Refacto to use new data
  jobs/ml_jobs/ranking_endpoint/app/model.py
Due: format-fix, lint-fix

deploy: b084c669aef1c6dac9e08b388c5ce841df787786
  __pycache__/hooks.cpython-310.pyc
  sitemap.xml
  sitemap.xml.gz
Due: none

deploy: 47a50a13941277df8b8d256a13207dd40751a481
  __pycache__/hooks.cpython-310.pyc
Due: none

(BSR) fix(CD): fix image build tags (#4177)
  .github/workflows/reusable_build_image.yml
Due: none

(HF) feat(ci): update uv logic for mkdocs
  .github/workflows/reusable_deploy_mkdocs.yml
Due: none

airflow config
  orchestration/airflow/config/airflow.cfg
  orchestration/docker-compose.yaml
Due: none

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfmt: any of: \.sql$
