Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: system
  stages:
  - commit

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: system
  stages:
  - commit

sqlfmt:
  name: SQL Formatting (sqlfmt)
  entry: make sqlfmt
  stages:
  - commit
  language: system

(BSR) feat(docs): update docs text (#3556)
  orchestration/dags/data_gcp_dbt/dbt_project.yml
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/home.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/overview.md
  orchestration/dags/data_gcp_dbt/scripts/dbt_docs.sh
Due: none

improve transformation logic
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__clean_offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__isbn_rayon_editor.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_ean.sql
  orchestration/dags/dependencies/ml/linkage/sql/items_to_link.sql
  orchestration/dags/dependencies/training_data/sql/compliance_offers.sql
Due: sqlfmt

fix alias isbn/ean
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_ean.sql
Due: sqlfmt

add titelive_id
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_ean.sql
Due: sqlfmt

(BSR) fix(metabase): update column name
  jobs/etl_jobs/external/metabase/utils.py
Due: format-fix, lint-fix

(BSR) fix(metabase): update column name (#3557)
  jobs/etl_jobs/external/metabase/utils.py
Due: format-fix, lint-fix

feat: Update schedule interval for offline recommendation DAG to run at 2 AM weekly
  orchestration/dags/jobs/ml/offline_recommendations.py
Due: format-fix, lint-fix

fix
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/pcapi/column__log.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/pro/description__mrt_pro__log.md
  orchestration/dags/data_gcp_dbt/models/intermediate/pcapi/int_pcapi__log.sql
  orchestration/dags/data_gcp_dbt/models/mart/pro/_schema/mrt_pro__log.yml
  orchestration/dags/data_gcp_dbt/models/mart/pro/mrt_pro__log.sql
Due: sqlfmt

refactor: Migrate algo_custom_deployment and import_appsflyer to uv
  jobs/etl_jobs/external/appsflyer/requirements.in
  jobs/etl_jobs/external/appsflyer/requirements.txt
  orchestration/dags/common/config.py
  orchestration/dags/jobs/import/import_appsflyer.py
  orchestration/dags/jobs/ml/algo_custom_deployment.py
Due: format-fix, lint-fix

refactor: Migrate import_sendinblue_hist to uv
  orchestration/dags/jobs/import/import_sendinblue_historical.py
Due: format-fix, lint-fix

refactor: Migrate import_gsheet to uv
  orchestration/dags/jobs/import/import_gsheet.py
Due: format-fix, lint-fix

refactor: Migrate import_sendinblue to uv
  orchestration/dags/jobs/import/import_sendinblue.py
Due: format-fix, lint-fix

refactor: Migrate import_downloads to uv
  orchestration/dags/jobs/import/import_downloads.py
Due: format-fix, lint-fix

refactor: Migrate import_gcs_seed to uv
  orchestration/dags/jobs/import/import_gcs_seed.py
Due: format-fix, lint-fix

refactor: Migrate import_qualtrics to uv
  orchestration/dags/jobs/import/import_qualtrics.py
Due: format-fix, lint-fix

refactor: Migrate import_siren to uv
  orchestration/dags/jobs/import/import_siren.py
Due: format-fix, lint-fix

refactor: Migrate import_social_media to uv
  orchestration/dags/jobs/import/import_social_media.py
Due: format-fix, lint-fix

fix: fix import_social_media
  orchestration/dags/jobs/import/import_social_media.py
Due: format-fix, lint-fix

(DA-3554) feat(Analytics): Add columns to mrt_pro_log (user reviews and suggested categories mod… (#3554)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/pcapi/column__log.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/pro/description__mrt_pro__log.md
  orchestration/dags/data_gcp_dbt/models/intermediate/pcapi/int_pcapi__log.sql
  orchestration/dags/data_gcp_dbt/models/mart/pro/_schema/mrt_pro__log.yml
  orchestration/dags/data_gcp_dbt/models/mart/pro/mrt_pro__log.sql
Due: sqlfmt

(DE-773) feat(dbt): remvoe firebase home events
  orchestration/dags/data_gcp_dbt/models/analytics/firebase/firebase_home_events.sql
  orchestration/dags/data_gcp_dbt/models/analytics/firebase/firebase_home_events_details.sql
Due: sqlfmt

(BSR) feat(dbt): remove analytics backend events table
  orchestration/dags/data_gcp_dbt/models/analytics/backend_events.sql
Due: sqlfmt

deactivate update filters
  jobs/etl_jobs/external/metabase/main.py
Due: format-fix, lint-fix

remove return
  jobs/etl_jobs/external/metabase/main.py
Due: format-fix, lint-fix

(BSR) feat(dbt): remove clean collective_offer
  orchestration/dags/data_gcp_dbt/models/clean/applicative/collective_offer.sql
  orchestration/dags/dependencies/qualtrics/sql/analytics/enriched_qualtrics_pro.sql
Due: sqlfmt

(DE-773) feat(dbt): remvoe firebase home events (#3560)
  orchestration/dags/data_gcp_dbt/models/analytics/firebase/firebase_home_events.sql
  orchestration/dags/data_gcp_dbt/models/analytics/firebase/firebase_home_events_details.sql
Due: sqlfmt

(BSR) feat(dbt): remove analytics backend events table (#3561)
  orchestration/dags/data_gcp_dbt/models/analytics/backend_events.sql
Due: sqlfmt

(BSR) refactor(uv): Migrate import dags to uv (#3559)
  jobs/etl_jobs/external/appsflyer/requirements.in
  jobs/etl_jobs/external/appsflyer/requirements.txt
  orchestration/dags/common/config.py
  orchestration/dags/jobs/import/import_appsflyer.py
  orchestration/dags/jobs/import/import_downloads.py
  orchestration/dags/jobs/import/import_gcs_seed.py
  orchestration/dags/jobs/import/import_gsheet.py
  orchestration/dags/jobs/import/import_qualtrics.py
  orchestration/dags/jobs/import/import_sendinblue.py
  orchestration/dags/jobs/import/import_sendinblue_historical.py
  orchestration/dags/jobs/import/import_siren.py
  orchestration/dags/jobs/import/import_social_media.py
  orchestration/dags/jobs/ml/algo_custom_deployment.py
Due: format-fix, lint-fix

deploy: 2626dd818e6eea710f7e437612c56d3fd4c0613c
  __pycache__/hooks.cpython-310.pyc
  dbt/models/mart/pro/description__mrt_pro__log/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

WIPPP
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_metadata.sql
Due: sqlfmt

fix: error in clickhouse joins
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/monthly_aggregated_venue_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/yearly_aggregated_venue_revenue.sql
Due: sqlfmt

rename date fields in analytics for coherency
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/monthly_aggregated_venue_collective_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/monthly_aggregated_venue_individual_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/monthly_aggregated_venue_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/yearly_aggregated_venue_collective_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/yearly_aggregated_venue_individual_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/yearly_aggregated_venue_revenue.sql
Due: sqlfmt

Expliclty set UTC timezone in import_social_network DAG
  orchestration/dags/jobs/import/import_social_media.py
Due: format-fix, lint-fix

fix: Replace ds with yesterday in order to add consistency betweend manual and scheduled DAGs
  orchestration/dags/jobs/import/import_social_media.py
Due: format-fix, lint-fix

(BSR) fix(DE): Fix tiktok date (#3565)
  orchestration/dags/jobs/import/import_social_media.py
Due: format-fix, lint-fix

rename column expiration month
  jobs/etl_jobs/external/metabase/data/mappings.json
Due: none

fix: Use ds for scheduled DAGs, yesteday for manual
  orchestration/dags/jobs/import/import_social_media.py
Due: format-fix, lint-fix

update column description
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__venue.md
Due: none

fix
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__venue.md
Due: none

Turn offerer_address_id field into STRING
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__venue.yml
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/venue.sql
Due: sqlfmt

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfmt: any of: \.sql$
