Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
# Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
# Add new hook types here to ensure automatic installation when running `pre-commit install`
- pre-commit
- pre-push
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-json
  - id: check-added-large-files

- repo: local
  hooks:
  - id: format-fix
    name: Formatting (ruff)
    entry: ruff format
    language: system
    types: [python]
    stages: [commit]
  - id: lint-fix
    name: Linting (ruff)
    entry: ruff check --fix
    language: system
    types: [python]
    stages: [commit]
  - id: sqlfmt
    name: SQL Formatting (sqlfmt)
    entry: make sqlfmt
    stages: [commit]
    language: system
    types: [sql]
  # - id: sqlfluff-lint-check
  #   name: Lint check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_lint.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-format-check
  #   name: format check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_format.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-fix
  #   name: fix (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_fix.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]

update brevo retention pro
  orchestration/dags/data_gcp_dbt/models/mart/brevo/mrt_brevo__retention_pro.sql
Due: sqlfmt

raise Exception instead of try except
  jobs/etl_jobs/external/adage/main.py
  jobs/etl_jobs/external/adage/scripts/import_adage.py
Due: format-fix, lint-fix

feat: User exp decay
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

feat: Use batch norm to try to reduce batch loss oscilation
  jobs/ml_jobs/algo_training/two_towers_model/models/two_towers_model.py
Due: format-fix, lint-fix

added exception class to resolve maintainability warning raised by sonarqube
  jobs/etl_jobs/external/adage/scripts/import_adage.py
  jobs/etl_jobs/external/adage/scripts/utils.py
Due: format-fix, lint-fix

feat: Add l2 reg and dropout
  jobs/ml_jobs/algo_training/two_towers_model/models/two_towers_model.py
Due: format-fix, lint-fix

deploy: a7ef06fab9e720627dc0bb1ed57bb31924183ea2
  __pycache__/hooks.cpython-310.pyc
  dbt/glossary/appsflyer/column__appsflyer/index.html
  dbt/models/intermediate/appsflyer/description__int_appsflyer__daily_install_attribution/index.html
  dbt/models/intermediate/appsflyer/description__int_appsflyer__daily_install_cost/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

feat: Remove layer norm
  jobs/ml_jobs/algo_training/two_towers_model/models/two_towers_model.py
Due: format-fix, lint-fix

feat: Set lower temperature for softmax
  jobs/ml_jobs/algo_training/two_towers_model/models/two_towers_model.py
Due: format-fix, lint-fix

feat: Use l2 norm
  jobs/ml_jobs/algo_training/two_towers_model/models/two_towers_model.py
Due: format-fix, lint-fix

removed extra spaces
  jobs/etl_jobs/external/adage/main.py
Due: format-fix, lint-fix

(DS) refactor(adage): refactored main of import adage for robustness and clarity (#3753)
  jobs/etl_jobs/external/adage/main.py
  jobs/etl_jobs/external/adage/scripts/import_adage.py
  jobs/etl_jobs/external/adage/scripts/utils.py
Due: format-fix, lint-fix

(DE-939) feat(mob): add labels on dags that trigger a vm (#3744)
  orchestration/dags/jobs/administration/bigquery_alerts.py
  orchestration/dags/jobs/administration/metabase_dbt.py
  orchestration/dags/jobs/administration/metabase_governance.py
  orchestration/dags/jobs/administration/metabase_transition.py
  orchestration/dags/jobs/export/export_clickhouse.py
  orchestration/dags/jobs/export/export_posthog.py
  orchestration/dags/jobs/import/import_gsheet.py
  orchestration/dags/jobs/import/import_qualtrics.py
  orchestration/dags/jobs/import/import_sendinblue.py
  orchestration/dags/jobs/import/import_sendinblue_historical.py
  orchestration/dags/jobs/import/import_siren.py
  orchestration/dags/jobs/import/import_social_media.py
  orchestration/dags/jobs/import/import_zendesk.py
Due: format-fix, lint-fix

removed APPLICATIVE_EXTERNAL_CONNECTION_ID from .env.dbt
  orchestration/dags/data_gcp_dbt/.env.dbt
Due: none

feat: Remove duplicates in training
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

WIP: Replace l2 norm by layer_norm
  jobs/ml_jobs/algo_training/two_towers_model/models/two_towers_model.py
Due: format-fix, lint-fix

Test: Add steps_per_epoch
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

HACK: change validation data
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

WIP: Remove l2 after training
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

WIP: add sum_over_batch_size
  jobs/ml_jobs/algo_training/two_towers_model/models/two_towers_model.py
Due: format-fix, lint-fix

feat: Set 5 epochs per shuffle properly
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

feat: Set restore_best_weights to true
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

(DE) dbt(historization): create a view of latest two tower embeddings with dbt (#3738)
  orchestration/dags/data_gcp_dbt/models/machine_learning/feature/ml_feat__two_tower_last_item_embedding.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/feature/ml_feat__two_tower_last_user_embedding.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: sqlfmt

test
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__venue.sql
Due: sqlfmt

linter
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offerer.sql
Due: sqlfmt

formatting
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offerer.sql
Due: sqlfmt

formatting
  orchestration/dags/data_gcp_dbt/models/analytics/history/bookable_venue_history.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offerer.sql
Due: sqlfmt

feat: Add other layer
  jobs/ml_jobs/algo_training/two_towers_model/models/two_towers_model.py
Due: format-fix, lint-fix

DEBUG: deactivate evaluation to allow more data
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix
