Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
  # Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
  # Add new hook types here to ensure automatic installation when running `pre-commit install`
  - pre-commit
  - pre-push
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: format-fix
        name: Formatting (ruff)
        entry: ruff format
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: lint-fix
        name: Linting (ruff)
        entry: ruff check --fix
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: sqlfmt
        name: SQL Formatting (sqlfmt)
        entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
        stages: [push]
        language: python
        additional_dependencies: ["shandy-sqlfmt[jinjafmt]==0.23.2"]
        types: [sql]
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.3.0
    hooks:
      - id: sqlfluff-fix
        additional_dependencies:
          ["dbt-bigquery==1.8.1", "sqlfluff-templater-dbt"]
        stages: [commit]
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.0
    hooks:
    - id: markdownlint-cli2
      language_version: 24.0.0
      args:
        - --fix

deploy: 65f4ebcf22d5c5e06e6d1f4d4c27c3671e027696
  __pycache__/hooks.cpython-312.pyc
  dbt/glossary/applicative_database/column__collective_offer/index.html
  dbt/models/mart/global/description__mrt_global__collective_offer/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

fix educational_deposit model
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__educational_deposit.sql
Due: sqlfmt

fix educational_deposit model
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/educational_deposit.sql
Due: sqlfmt

fix(endpointmonitoring): update input tables for recommendation endpoint monitoring
  orchestration/dags/jobs/ml/recommendation_endpoint_monitoring.py
Due: format-fix, lint-fix

feat/etl-packaging
  jobs/etl_jobs/PACKAGE_ARCHITECTURE_PROPOSAL.md
  jobs/etl_jobs/README.md
  jobs/etl_jobs/connectors/pyproject.toml
  jobs/etl_jobs/factories/brevo.py
  jobs/etl_jobs/factories/pyproject.toml
  jobs/etl_jobs/http_tools/pyproject.toml
  jobs/etl_jobs/jobs/titelive/gcp_utils.py
  jobs/etl_jobs/pyproject.toml
  jobs/etl_jobs/utils/__init__.py
  jobs/etl_jobs/utils/pyproject.toml
  jobs/etl_jobs/workflows/__init__.py
  jobs/etl_jobs/workflows/brevo/__init__.py
  jobs/etl_jobs/workflows/brevo/config.py
  jobs/etl_jobs/workflows/brevo/load.py
  jobs/etl_jobs/workflows/brevo/main.py
  jobs/etl_jobs/workflows/brevo/pyproject.toml
  jobs/etl_jobs/workflows/brevo/requirements.in
  jobs/etl_jobs/workflows/brevo/requirements.txt
  jobs/etl_jobs/workflows/brevo/tasks.py
  jobs/etl_jobs/workflows/brevo/transform.py
  jobs/etl_jobs/workflows/titelive/__init__.py
  jobs/etl_jobs/workflows/titelive/batching.py
  jobs/etl_jobs/workflows/titelive/config.py
  jobs/etl_jobs/workflows/titelive/image_utils.py
  jobs/etl_jobs/workflows/titelive/load.py
  jobs/etl_jobs/workflows/titelive/logging_utils.py
  jobs/etl_jobs/workflows/titelive/main.py
  jobs/etl_jobs/workflows/titelive/processing.py
  jobs/etl_jobs/workflows/titelive/pyproject.toml
  jobs/etl_jobs/workflows/titelive/requirements.in
  jobs/etl_jobs/workflows/titelive/requirements.txt
  jobs/etl_jobs/workflows/titelive/tasks.py
  jobs/etl_jobs/workflows/titelive/transform.py
  jobs/etl_jobs/workflows/titelive/uv.lock
  orchestration/dags/common/operators/gce.py
  orchestration/dags/jobs/import/import_brevo.py
  orchestration/dags/jobs/import/import_titelive_v2.py
Due: format-fix, lint-fix

chore/applicative: delete deprecated backend table
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/cashflow_log.sql
Due: sqlfmt

chore/applicative: delete deprecated backend table (#4761)
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/cashflow_log.sql
Due: sqlfmt

feat: Update sqlfmt precommit
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: none

deploy: 7763d5a3112bb0caf7a9725723c1d78dbf21efed
  __pycache__/hooks.cpython-312.pyc
  sitemap.xml
  sitemap.xml.gz
Due: none

refactor: Update product_to_link to include more metadatas
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__product_to_link.sql
Due: sqlfmt

WIP: Add refresh_artist_scores.py cli
  jobs/ml_jobs/artist_linkage/cli/refresh_artist_scores.py
  jobs/ml_jobs/artist_linkage/src/constants.py
  jobs/ml_jobs/artist_linkage/src/utils/scoring.py
Due: format-fix, lint-fix

fix booking rules
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__booking.sql
Due: sqlfmt

rename folder
  orchestration/dags/data_gcp_dbt/models/intermediate/metabase/int_metabase__activity.sql
Due: sqlfmt

update educational_institution_model
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__educational_institution.sql
Due: sqlfmt

renamed project name
  jobs/ml_jobs/DAF_pricing_forecast/Makefile
  jobs/ml_jobs/DAF_pricing_forecast/README.md
  jobs/ml_jobs/DAF_pricing_forecast/__init__.py
  jobs/ml_jobs/DAF_pricing_forecast/main.py
  jobs/ml_jobs/DAF_pricing_forecast/pyproject.toml
  jobs/ml_jobs/DAF_pricing_forecast/src/__init__.py
  jobs/ml_jobs/DAF_pricing_forecast/src/constants.py
  jobs/ml_jobs/DAF_pricing_forecast/src/modeling/prophet/prophet_evaluate.py
  jobs/ml_jobs/DAF_pricing_forecast/src/modeling/prophet/prophet_plots.py
  jobs/ml_jobs/DAF_pricing_forecast/src/modeling/prophet/prophet_predict.py
  jobs/ml_jobs/DAF_pricing_forecast/src/modeling/prophet/prophet_train.py
  jobs/ml_jobs/DAF_pricing_forecast/src/prophet_full_pipeline.py
  jobs/ml_jobs/DAF_pricing_forecast/src/prophet_model_configs/daily_prophet.json
  jobs/ml_jobs/DAF_pricing_forecast/src/prophet_model_configs/weekly_prophet.json
  jobs/ml_jobs/DAF_pricing_forecast/src/utils/bigquery.py
  jobs/ml_jobs/DAF_pricing_forecast/src/utils/mlflow.py
  jobs/ml_jobs/DAF_pricing_forecast/tests/__init__.py
  jobs/ml_jobs/DAF_pricing_forecast/tests/hello_test.py
  jobs/ml_jobs/DAF_pricing_forecast/utils/__init__.py
  jobs/ml_jobs/DAF_pricing_forecast/uv.lock
Due: format-fix, lint-fix

removed unnecessary constants
  jobs/ml_jobs/finance/src/mlflow_utils.py
Due: format-fix, lint-fix

added ruff check and fix to makefile
  jobs/ml_jobs/finance/Makefile
  jobs/ml_jobs/finance/pyproject.toml
  jobs/ml_jobs/finance/uv.lock
Due: none

forecast on prediction horizon
  jobs/ml_jobs/finance/src/prophet_full_pipeline.py
  jobs/ml_jobs/finance/src/prophet_model_configs/daily_prophet.json
Due: format-fix, lint-fix

add wekly prophet config
  jobs/ml_jobs/finance/src/prophet_model_configs/weekly_prophet.json
Due: none

removed unnecessary gitignore
  jobs/ml_jobs/finance/.gitignore
Due: none

separated functions in multiple files
  jobs/ml_jobs/finance/pyproject.toml
  jobs/ml_jobs/finance/src/prophet_evaluate.py
  jobs/ml_jobs/finance/src/prophet_plots.py
  jobs/ml_jobs/finance/src/prophet_predict.py
  jobs/ml_jobs/finance/src/prophet_train.py
  jobs/ml_jobs/finance/src/prophet_utils.py
Due: format-fix, lint-fix

init finance
  jobs/ml_jobs/finance/.gitignore
  jobs/ml_jobs/finance/Makefile
  jobs/ml_jobs/finance/README.md
  jobs/ml_jobs/finance/__init__.py
  jobs/ml_jobs/finance/main.py
  jobs/ml_jobs/finance/pyproject.toml
  jobs/ml_jobs/finance/src/__init__.py
  jobs/ml_jobs/finance/src/bigquery_utils.py
  jobs/ml_jobs/finance/src/constants.py
  jobs/ml_jobs/finance/src/prophet_utils.py
  jobs/ml_jobs/finance/src/train.py
  jobs/ml_jobs/finance/tests/__init__.py
  jobs/ml_jobs/finance/tests/hello_test.py
  jobs/ml_jobs/finance/utils/__init__.py
  jobs/ml_jobs/finance/uv.lock
Due: format-fix, lint-fix

changed src structure for clarity
  jobs/ml_jobs/finance/src/modeling/prophet/prophet_evaluate.py
  jobs/ml_jobs/finance/src/modeling/prophet/prophet_plots.py
  jobs/ml_jobs/finance/src/modeling/prophet/prophet_predict.py
  jobs/ml_jobs/finance/src/modeling/prophet/prophet_train.py
  jobs/ml_jobs/finance/src/prophet_full_pipeline.py
  jobs/ml_jobs/finance/src/utils/bigquery.py
  jobs/ml_jobs/finance/src/utils/mlflow.py
Due: format-fix, lint-fix

added docstring and reformatted file for clarity
  jobs/ml_jobs/DAF_pricing_forecast/main.py
  jobs/ml_jobs/DAF_pricing_forecast/pyproject.toml
  jobs/ml_jobs/DAF_pricing_forecast/src/modeling/prophet/prophet_evaluate.py
  jobs/ml_jobs/DAF_pricing_forecast/src/modeling/prophet/prophet_model_configs/daily_pricing.json
  jobs/ml_jobs/DAF_pricing_forecast/src/modeling/prophet/prophet_model_configs/weekly_pricing.json
  jobs/ml_jobs/DAF_pricing_forecast/src/modeling/prophet/prophet_plots.py
  jobs/ml_jobs/DAF_pricing_forecast/src/modeling/prophet/prophet_predict.py
  jobs/ml_jobs/DAF_pricing_forecast/src/modeling/prophet/prophet_train.py
  jobs/ml_jobs/DAF_pricing_forecast/src/prophet_full_pipeline.py
  jobs/ml_jobs/DAF_pricing_forecast/src/utils/bigquery.py
  jobs/ml_jobs/DAF_pricing_forecast/src/utils/constants.py
  jobs/ml_jobs/DAF_pricing_forecast/src/utils/mlflow.py
  jobs/ml_jobs/DAF_pricing_forecast/utils/__init__.py
  jobs/ml_jobs/DAF_pricing_forecast/uv.lock
Due: format-fix, lint-fix

renamed main as main_prophet
  jobs/ml_jobs/DAF_pricing_forecast/main_prophet.py
Due: format-fix, lint-fix

changed naming again
  jobs/ml_jobs/DAF_pricing_forecast/main_prophet.py
  jobs/ml_jobs/DAF_pricing_forecast/src/prophet/evaluate.py
  jobs/ml_jobs/DAF_pricing_forecast/src/prophet/plots.py
  jobs/ml_jobs/DAF_pricing_forecast/src/prophet/predict.py
  jobs/ml_jobs/DAF_pricing_forecast/src/prophet/train.py
Due: format-fix, lint-fix

added pytest to dev deps
  jobs/ml_jobs/finance/pyproject.toml
  jobs/ml_jobs/finance/uv.lock
Due: none

readme
  jobs/ml_jobs/DAF_pricing_forecast/README.md
Due: none

second clean
  jobs/ml_jobs/finance/.gitignore
  jobs/ml_jobs/finance/src/prophet_evaluate.py
  jobs/ml_jobs/finance/src/prophet_model_configs/daily_prophet.json
  jobs/ml_jobs/finance/src/prophet_plots.py
  jobs/ml_jobs/finance/src/prophet_predict.py
  jobs/ml_jobs/finance/src/prophet_train.py
  jobs/ml_jobs/finance/src/train.py
Due: format-fix, lint-fix

moved prophet from modelling o src
  jobs/ml_jobs/DAF_pricing_forecast/main_prophet.py
  jobs/ml_jobs/DAF_pricing_forecast/src/prophet/__init__.py
  jobs/ml_jobs/DAF_pricing_forecast/src/prophet/prophet_evaluate.py
  jobs/ml_jobs/DAF_pricing_forecast/src/prophet/prophet_model_configs/daily_pricing.json
  jobs/ml_jobs/DAF_pricing_forecast/src/prophet/prophet_model_configs/weekly_pricing.json
  jobs/ml_jobs/DAF_pricing_forecast/src/prophet/prophet_plots.py
  jobs/ml_jobs/DAF_pricing_forecast/src/prophet/prophet_predict.py
  jobs/ml_jobs/DAF_pricing_forecast/src/prophet/prophet_train.py
  jobs/ml_jobs/DAF_pricing_forecast/src/utils/__init__.py
Due: format-fix, lint-fix

full train pipeline
  jobs/ml_jobs/finance/pyproject.toml
  jobs/ml_jobs/finance/src/constants.py
  jobs/ml_jobs/finance/src/prophet_evaluate.py
  jobs/ml_jobs/finance/src/prophet_model_configs/daily_prophet.json
  jobs/ml_jobs/finance/src/prophet_plots.py
  jobs/ml_jobs/finance/src/prophet_predict.py
  jobs/ml_jobs/finance/src/prophet_train.py
  jobs/ml_jobs/finance/uv.lock
Due: format-fix, lint-fix

log models to mlflow
  jobs/ml_jobs/finance/pyproject.toml
  jobs/ml_jobs/finance/src/constants.py
  jobs/ml_jobs/finance/src/mlflow_utils.py
  jobs/ml_jobs/finance/src/prophet_full_pipeline.py
  jobs/ml_jobs/finance/src/prophet_plots.py
  jobs/ml_jobs/finance/uv.lock
Due: format-fix, lint-fix

changed job name to finance
  jobs/ml_jobs/finance/Makefile
  jobs/ml_jobs/finance/README.md
  jobs/ml_jobs/finance/__init__.py
  jobs/ml_jobs/finance/main_prophet.py
  jobs/ml_jobs/finance/pyproject.toml
  jobs/ml_jobs/finance/src/__init__.py
  jobs/ml_jobs/finance/src/prophet/__init__.py
  jobs/ml_jobs/finance/src/prophet/evaluate.py
  jobs/ml_jobs/finance/src/prophet/plots.py
  jobs/ml_jobs/finance/src/prophet/predict.py
  jobs/ml_jobs/finance/src/prophet/prophet_model_configs/daily_pricing.json
  jobs/ml_jobs/finance/src/prophet/prophet_model_configs/weekly_pricing.json
  jobs/ml_jobs/finance/src/prophet/train.py
  jobs/ml_jobs/finance/src/utils/__init__.py
  jobs/ml_jobs/finance/src/utils/bigquery.py
  jobs/ml_jobs/finance/src/utils/constants.py
  jobs/ml_jobs/finance/src/utils/mlflow.py
  jobs/ml_jobs/finance/tests/__init__.py
  jobs/ml_jobs/finance/tests/hello_test.py
  jobs/ml_jobs/finance/uv.lock
Due: format-fix, lint-fix

changed config files to YAML
  jobs/ml_jobs/finance/src/prophet/prophet_model_configs/daily_pricing.json
  jobs/ml_jobs/finance/src/prophet/prophet_model_configs/daily_pricing.yaml
  jobs/ml_jobs/finance/src/prophet/prophet_model_configs/weekly_pricing.json
  jobs/ml_jobs/finance/src/prophet/prophet_model_configs/weekly_pricing.yaml
Due: none

changed cpcased variable names to lowercase
  jobs/ml_jobs/finance/main_prophet.py
  jobs/ml_jobs/finance/src/prophet/plots.py
  jobs/ml_jobs/finance/src/prophet/train.py
Due: format-fix, lint-fix

updated yanked numpy version, changed load config for yaml
  jobs/ml_jobs/finance/pyproject.toml
  jobs/ml_jobs/finance/src/prophet/train.py
  jobs/ml_jobs/finance/uv.lock
Due: format-fix, lint-fix

update collective_booking model
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__collective_booking.md
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__collective_booking.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__educational_institution.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__collective_booking.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__collective_booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__educational_institution.sql
Due: sqlfmt

security/mlfow: enforce mlflow >= 3.8.1
  jobs/ml_jobs/algo_training/pyproject.toml
  jobs/ml_jobs/artist_linkage/pyproject.toml
  jobs/ml_jobs/endpoint_monitoring/pyproject.toml
  jobs/ml_jobs/graph_recommendation/pyproject.toml
  jobs/ml_jobs/item_linkage/pyproject.toml
  jobs/ml_jobs/offer_compliance/pyproject.toml
  jobs/ml_jobs/ranking_endpoint/pyproject.toml
  jobs/ml_jobs/retrieval_vector/pyproject.toml
Due: none

lockfiles
  jobs/ml_jobs/algo_training/uv.lock
  jobs/ml_jobs/artist_linkage/pyproject.toml
  jobs/ml_jobs/artist_linkage/uv.lock
  jobs/ml_jobs/clusterisation/uv.lock
  jobs/ml_jobs/embeddings/pyproject.toml
  jobs/ml_jobs/embeddings/uv.lock
  jobs/ml_jobs/endpoint_monitoring/pyproject.toml
  jobs/ml_jobs/endpoint_monitoring/uv.lock
  jobs/ml_jobs/graph_recommendation/pyproject.toml
  jobs/ml_jobs/graph_recommendation/uv.lock
  jobs/ml_jobs/item_linkage/uv.lock
  jobs/ml_jobs/offer_compliance/pyproject.toml
  jobs/ml_jobs/offer_compliance/uv.lock
  jobs/ml_jobs/ranking_endpoint/uv.lock
  jobs/ml_jobs/reduction/pyproject.toml
  jobs/ml_jobs/reduction/uv.lock
  jobs/ml_jobs/retrieval_vector/pyproject.toml
  jobs/ml_jobs/retrieval_vector/uv.lock
  jobs/playground_vm/pyproject.toml
  jobs/playground_vm/uv.lock
Due: none

fix collective_booking model
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__collective_booking.sql
Due: sqlfmt
