Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
# Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
# Add new hook types here to ensure automatic installation when running `pre-commit install`
- pre-commit
- pre-push
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-json
  - id: check-added-large-files

- repo: local
  hooks:
  - id: format-fix
    name: Formatting (ruff)
    entry: ruff format
    language: system
    types: [python]
    stages: [commit]
  - id: lint-fix
    name: Linting (ruff)
    entry: ruff check --fix
    language: system
    types: [python]
    stages: [commit]
  - id: sqlfmt
    name: SQL Formatting (sqlfmt)
    entry: make sqlfmt
    stages: [commit]
    language: system
    types: [sql]
  # - id: sqlfluff-lint-check
  #   name: Lint check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_lint.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-format-check
  #   name: format check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_format.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-fix
  #   name: fix (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_fix.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]

(DE) feat(airflow): assign dbt tasks to private pool (#4056)
  orchestration/dags/common/dbt/utils.py
  orchestration/dags/common/utils.py
  orchestration/dags/jobs/dbt/dbt_dag_run.py
Due: format-fix, lint-fix

feat: update venue_managing_offerer_id (#4007)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offer.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/metric/column__metric.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/native/description__mrt_native__daily_home_module_conversion.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/native/description__mrt_native__daily_venue_map_conversion.md
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/enriched_partner_retention_data.sql
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/enriched_suivi_dms_adage.sql
  orchestration/dags/data_gcp_dbt/models/analytics/offer_moderation.sql
  orchestration/dags/data_gcp_dbt/models/analytics/venue_siren_offers.sql
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__marketing_pro_live_show_email_churned_40_days_ago.sql
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__marketing_pro_live_show_email_last_booking_40_days_ago.sql
  orchestration/dags/data_gcp_dbt/models/export/ministry/_schema/exp_ministry__venue.yml
  orchestration/dags/data_gcp_dbt/models/export/ministry/exp_ministry__venue.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__collective_offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__stock.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/brevo/mrt_brevo__retention_pro.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offer.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__venue.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__venue_tag.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__venue_tag.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/_schema/mrt_native__daily_home_module_conversion.yml
  orchestration/dags/data_gcp_dbt/models/mart/native/_schema/mrt_native__daily_home_offer_displayed.yml
  orchestration/dags/data_gcp_dbt/models/mart/native/_schema/mrt_native__daily_venue_map_conversion.yml
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_home_offer_displayed.sql
  orchestration/dags/data_gcp_dbt/models/mart/pro/mrt_pro__event.sql
Due: sqlfmt

Create v1 mart model
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__iris_socio_demographics.sql
Due: sqlfmt

(DE-1582) feat(dbt): update elementary generation and alert report (#4063)
  orchestration/airflow/orchestration-requirements.in
  orchestration/airflow/orchestration-requirements.txt
  orchestration/dags/common/config.py
  orchestration/dags/common/hooks/monitoring.py
  orchestration/dags/common/operators/monitoring.py
  orchestration/dags/data_gcp_dbt/dbt-requirements.in
  orchestration/dags/data_gcp_dbt/dbt-requirements.txt
  orchestration/dags/data_gcp_dbt/dbt_project.yml
  orchestration/dags/data_gcp_dbt/packages.yml
  orchestration/dags/data_gcp_dbt/scripts/elementary_send_report.sh
  orchestration/dags/jobs/dbt/dbt_artifacts.py
  orchestration/k8s-airflow/k8s-worker-requirements.in
  orchestration/k8s-airflow/k8s-worker-requirements.txt
Due: format-fix, lint-fix

add docs
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/metric/column__metric.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/seed/column__iris.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__iris_socio_demographics.md
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__iris_socio_demographics.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__iris_socio_demographics.sql
Due: sqlfmt

add docs
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__iris_socio_demographics.sql
Due: sqlfmt

(DS-1577) chore(package): Update pytorch (#4060)
  jobs/ml_jobs/clusterisation/requirements.in
  jobs/ml_jobs/clusterisation/requirements.txt
  jobs/ml_jobs/embeddings/requirements.in
  jobs/ml_jobs/embeddings/requirements.txt
  jobs/ml_jobs/item_linkage/requirements.in
  jobs/ml_jobs/item_linkage/requirements.txt
  jobs/ml_jobs/retrieval_vector/api-requirements.in
  jobs/ml_jobs/retrieval_vector/api-requirements.txt
  jobs/ml_jobs/retrieval_vector/requirements.in
  jobs/ml_jobs/retrieval_vector/requirements.txt
Due: none

add field has_extended_search_radius
  orchestration/dags/data_gcp_dbt/models/analytics/firebase/firebase_aggregated_search_events.sql
Due: sqlfmt

(HF) feat(airflow): fix slack bool templating for monitoring
  orchestration/dags/common/operators/monitoring.py
Due: format-fix, lint-fix

feat(recommendation): add semantic_embedding to recommendable items and improve SQL readability
  jobs/ml_jobs/retrieval_vector/app/factory/recommendation.py
  jobs/ml_jobs/retrieval_vector/app/retrieval/constants.py
  jobs/ml_jobs/retrieval_vector/utils.py
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__recommendable_item.sql
Due: format-fix, lint-fix, sqlfmt

add field to final query
  orchestration/dags/data_gcp_dbt/models/analytics/firebase/firebase_aggregated_search_events.sql
Due: sqlfmt

(BSR) feat(git): ignore repo files
  .gitignore
Due: none

bsr: remove useless dbt tests (use built in instead)
  orchestration/dags/data_gcp_dbt/tests/generic/is_valid_booking_intermediary_amout.sql
  orchestration/dags/data_gcp_dbt/tests/generic/is_valid_booking_quantity.sql
  orchestration/dags/data_gcp_dbt/tests/generic/is_valid_booking_status.sql
Due: sqlfmt

booking: refacto mart test & include export tests
  orchestration/dags/data_gcp_dbt/models/export/ministry/_schema/exp_ministry__booking.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__booking.yml
Due: none

booking: remove non applicable test
  orchestration/dags/data_gcp_dbt/models/export/ministry/_schema/exp_ministry__booking.yml
Due: none

review
  orchestration/dags/data_gcp_dbt/models/analytics/firebase/firebase_aggregated_search_events.sql
Due: sqlfmt

feat: kill composer dev & stg
  .github/workflows/on_cd__workflow.yml
Due: none

address: export tests
  orchestration/dags/data_gcp_dbt/models/export/ministry/_schema/exp_ministry__address.yml
  orchestration/dags/data_gcp_dbt/models/export/ministry/exp_ministry__address.sql
Due: sqlfmt

deposit: mart test (deposit amount) & export tests
  orchestration/dags/data_gcp_dbt/models/export/ministry/_schema/exp_ministry__deposit.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__deposit.yml
Due: none

favorite: export tests
  orchestration/dags/data_gcp_dbt/models/export/ministry/_schema/exp_ministry__favorite.yml
Due: none

offer: export tests
  orchestration/dags/data_gcp_dbt/models/export/ministry/_schema/exp_ministry__offer.yml
Due: none

offer_metadata: renaming & export tests
  orchestration/dags/data_gcp_dbt/models/export/ministry/_schema/exp_ministry__offer_metadata.yml
  orchestration/dags/data_gcp_dbt/models/export/ministry/exp_ministry__offer_metadata.sql
Due: sqlfmt

offerer: export tests
  orchestration/dags/data_gcp_dbt/models/export/ministry/_schema/exp_ministry__offerer.yml
Due: none

offerer_address: export tests
  orchestration/dags/data_gcp_dbt/models/export/ministry/_schema/exp_ministry__offerer_representation_address.yml
Due: none

stock: export tests
  orchestration/dags/data_gcp_dbt/models/export/ministry/_schema/exp_ministry__stock.yml
  orchestration/dags/data_gcp_dbt/models/export/ministry/exp_ministry__stock.sql
Due: sqlfmt

user: export tests
  orchestration/dags/data_gcp_dbt/models/export/ministry/_schema/exp_ministry__user.yml
Due: none

venue: export tests
  orchestration/dags/data_gcp_dbt/models/export/ministry/_schema/exp_ministry__venue.yml
  orchestration/dags/data_gcp_dbt/models/export/ministry/exp_ministry__venue.sql
Due: sqlfmt

feat: test data before export pipeline
  orchestration/dags/data_gcp_dbt/scripts/dbt_test.sh
  orchestration/dags/jobs/dbt/dbt_encrypted_export.py
Due: format-fix, lint-fix

formating
  orchestration/dags/data_gcp_dbt/models/export/ministry/exp_ministry__offer_metadata.sql
  orchestration/dags/data_gcp_dbt/models/export/ministry/exp_ministry__stock.sql
Due: sqlfmt

feat: kill composer dev & stg (#4067)
  .github/workflows/on_cd__workflow.yml
Due: none

remove logging with len()
  jobs/ml_jobs/retrieval_vector/app/factory/recommendation.py
Due: format-fix, lint-fix

add reduced 64 semantic embedding to recommandable offers
  jobs/ml_jobs/retrieval_vector/app/factory/recommendation.py
  jobs/ml_jobs/retrieval_vector/utils.py
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__recommendable_item.sql
Due: format-fix, lint-fix, sqlfmt

sqlfmt reformat
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__recommendable_item.sql
Due: sqlfmt

clean tag
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__booking.yml
Due: none

(DA-1574) feat(dbt): Add field has_extended_search_radius (#4065)
  orchestration/dags/data_gcp_dbt/models/analytics/firebase/firebase_aggregated_search_events.sql
Due: sqlfmt

tune exclusion & retries, script verbose
  orchestration/dags/data_gcp_dbt/scripts/dbt_test.sh
  orchestration/dags/jobs/dbt/dbt_encrypted_export.py
Due: format-fix, lint-fix

fix: test script
  orchestration/dags/data_gcp_dbt/scripts/dbt_test.sh
Due: none

feat: remove export tests from artifacts, promote their warning to errors +fail-fast
  orchestration/dags/data_gcp_dbt/models/export/ministry/_schema/exp_ministry__address.yml
  orchestration/dags/data_gcp_dbt/models/export/ministry/_schema/exp_ministry__booking.yml
  orchestration/dags/data_gcp_dbt/models/export/ministry/_schema/exp_ministry__deposit.yml
  orchestration/dags/data_gcp_dbt/models/export/ministry/_schema/exp_ministry__favorite.yml
  orchestration/dags/data_gcp_dbt/models/export/ministry/_schema/exp_ministry__offer.yml
  orchestration/dags/data_gcp_dbt/models/export/ministry/_schema/exp_ministry__offer_metadata.yml
  orchestration/dags/data_gcp_dbt/models/export/ministry/_schema/exp_ministry__offerer.yml
  orchestration/dags/data_gcp_dbt/models/export/ministry/_schema/exp_ministry__offerer_representation_address.yml
  orchestration/dags/data_gcp_dbt/models/export/ministry/_schema/exp_ministry__stock.yml
  orchestration/dags/data_gcp_dbt/models/export/ministry/_schema/exp_ministry__user.yml
  orchestration/dags/data_gcp_dbt/models/export/ministry/_schema/exp_ministry__venue.yml
  orchestration/dags/jobs/dbt/dbt_artifacts.py
  orchestration/dags/jobs/dbt/dbt_encrypted_export.py
Due: format-fix, lint-fix

suppress benign warning
  orchestration/dags/data_gcp_dbt/dbt_project.yml
  orchestration/dags/jobs/dbt/dbt_encrypted_export.py
Due: format-fix, lint-fix
