Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: system
  stages:
  - commit

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: system
  stages:
  - commit

sqlfmt:
  name: SQL Formatting (sqlfmt)
  entry: make sqlfmt
  stages:
  - commit
  language: system

Add new table brevo retention pro
  orchestration/dags/data_gcp_dbt/models/mart/brevo/mrt_brevo__retention_pro.sql
Due: sqlfmt

fix
  orchestration/dags/data_gcp_dbt/models/mart/brevo/mrt_brevo__retention_pro.sql
Due: sqlfmt

WIP13
  jobs/ml_jobs/retrieval_vector/app/logger.py
Due: format-fix, lint-fix

final modification pro_events
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/pro/int_firebase__pro_event.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/pro/int_firebase__pro_event_flattened.sql
Due: sqlfmt

(DE-935) refactor(dbt): remove clean batch of tables (#3621)
  orchestration/dags/data_gcp_dbt/models/clean/applicative/collective_offer_domain.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/criterion.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/offer_criterion.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/user_offerer.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/venue.sql
Due: sqlfmt

(DE-956) feat(mes-process): add ga step to prevent merge master outside allowed hours
  .github/workflows/on_pr_check_hour.yml
Due: none

change cron
  .github/workflows/on_pr_check_hour.yml
Due: none

feat: Add license filter in get_wikimedia_commons_license
  jobs/ml_jobs/artist_linkage/get_wikimedia_commons_license.py
Due: format-fix, lint-fix

feat: Replace http by https image links in extract_from_wikidata
  jobs/ml_jobs/artist_linkage/extract_from_wikidata.py
Due: format-fix, lint-fix

fix: Fix replace
  jobs/ml_jobs/artist_linkage/extract_from_wikidata.py
Due: format-fix, lint-fix

(DA) feat(Analytics): Add table and column descriptions on pro_event and collective_adage_logs (#3546)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/tracking/column__collective_adage_log.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/tracking/column__pro_event.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/collective/description__mrt_collective__adage_log.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/pro/description__mrt_pro__event.md
Due: none

fix: Use allowed_licenses constant
  jobs/ml_jobs/artist_linkage/get_wikimedia_commons_license.py
Due: format-fix, lint-fix

(DE-956) feat(mesprocess): add ga step to prevent merge master outsi… (#3630)
  .github/workflows/on_pr_check_hour.yml
Due: none

(DE-932) feat(dbt): add selectors dbt cli (#3627)
  orchestration/dags/data_gcp_dbt/macros/airflow/ds.sql
  orchestration/dags/data_gcp_dbt/selectors.yml
Due: sqlfmt

(DE-907) feat(artist): Remove image without adequate license (#3631)
  jobs/ml_jobs/artist_linkage/extract_from_wikidata.py
  jobs/ml_jobs/artist_linkage/get_wikimedia_commons_license.py
Due: format-fix, lint-fix

fix formatting
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/pro/int_firebase__pro_event.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/pro/int_firebase__pro_event_flattened.sql
Due: sqlfmt

fix formatting 2
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/pro/int_firebase__pro_event.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/pro/int_firebase__pro_event_flattened.sql
Due: sqlfmt

fix formatting 2
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/pro/int_firebase__pro_event.sql
Due: sqlfmt

fix offer_ean
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_ean.sql
Due: sqlfmt

reformatting
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_ean.sql
Due: sqlfmt

last reformatting
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_ean.sql
Due: sqlfmt

(DE-799) feat(etl): import zendesk (#3615)
  jobs/etl_jobs/external/zendesk/constants.py
  jobs/etl_jobs/external/zendesk/extract.py
  jobs/etl_jobs/external/zendesk/main.py
  jobs/etl_jobs/external/zendesk/pyproject.toml
  jobs/etl_jobs/external/zendesk/requirements.in
  jobs/etl_jobs/external/zendesk/requirements.txt
  jobs/etl_jobs/external/zendesk/utils.py
  orchestration/dags/jobs/import/import_zendesk.py
Due: format-fix, lint-fix

fix query
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/pro/int_firebase__pro_event.sql
Due: sqlfmt

review
  orchestration/dags/data_gcp_dbt/macros/database_utils/create_schema_dev.sql
  orchestration/dags/data_gcp_dbt/macros/database_utils/generate_schema_name.sql
Due: sqlfmt

Revert "review"
  orchestration/dags/data_gcp_dbt/macros/database_utils/create_schema_dev.sql
  orchestration/dags/data_gcp_dbt/macros/database_utils/generate_schema_name.sql
Due: sqlfmt

(BSR) dbt(macro): disable default hard delete snapshot macro
  orchestration/dags/data_gcp_dbt/macros/database_utils/custom_snapshot_config.sql
Due: sqlfmt

(BSR) lint(precommit): enable sqlfmt precommit to match prepush
  .pre-commit-config.yaml
Due: none

(DE) feat(ci): test pr ci
  file_to_test_ci.txt
Due: none

(BSR) ci(protection): restrict push protection schedule to master only
  .github/workflows/on_pr_check_hour.yml
Due: none

debug utc
  .github/workflows/on_pr_check_hour.yml
Due: none

fix timezone
  .github/workflows/on_pr_check_hour.yml
Due: none

(BSR) ci(protection): restrict push protection schedule to master only (#3636)
  .github/workflows/on_pr_check_hour.yml
Due: none

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfmt: any of: \.sql$
