Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
  # Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
  # Add new hook types here to ensure automatic installation when running `pre-commit install`
  - pre-commit
  - pre-push
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: format-fix
        name: Formatting (ruff)
        entry: ruff format
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: lint-fix
        name: Linting (ruff)
        entry: ruff check --fix
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: sqlfmt
        name: SQL Formatting (sqlfmt)
        entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
        stages: [push]
        language: python
        additional_dependencies: ["shandy-sqlfmt[jinjafmt]==0.23.2"]
        types: [sql]
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.3.0
    hooks:
      - id: sqlfluff-fix
        additional_dependencies:
          ["dbt-bigquery==1.8.1", "sqlfluff-templater-dbt"]
        stages: [commit]
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.0
    hooks:
    - id: markdownlint-cli2
      language_version: 24.0.0
      args:
        - --fix

fix(dependencies): add wheels for annotated-doc and annotated-types packages
  jobs/ml_jobs/endpoint_monitoring/uv.lock
Due: none

Implement feature X to enhance user experience and optimize performance
  jobs/ml_jobs/endpoint_monitoring/uv.lock
Due: none

fix: remove redundant client_id retrieval in connect_remote_mlflow function
  jobs/ml_jobs/ranking_endpoint/utils.py
Due: format-fix, lint-fix

(BSR) fix(mlflow): enforce mlflow >= 3.8.1 (#4763)
  jobs/ml_jobs/algo_training/commons/secrets_utils.py
  jobs/ml_jobs/algo_training/pyproject.toml
  jobs/ml_jobs/algo_training/uv.lock
  jobs/ml_jobs/artist_linkage/pyproject.toml
  jobs/ml_jobs/artist_linkage/uv.lock
  jobs/ml_jobs/clusterisation/tools/utils.py
  jobs/ml_jobs/clusterisation/uv.lock
  jobs/ml_jobs/embeddings/pyproject.toml
  jobs/ml_jobs/embeddings/uv.lock
  jobs/ml_jobs/endpoint_monitoring/pyproject.toml
  jobs/ml_jobs/endpoint_monitoring/uv.lock
  jobs/ml_jobs/graph_recommendation/pyproject.toml
  jobs/ml_jobs/graph_recommendation/src/utils/gcp.py
  jobs/ml_jobs/graph_recommendation/uv.lock
  jobs/ml_jobs/item_linkage/pyproject.toml
  jobs/ml_jobs/item_linkage/utils/mlflow_tools.py
  jobs/ml_jobs/item_linkage/uv.lock
  jobs/ml_jobs/offer_compliance/pyproject.toml
  jobs/ml_jobs/offer_compliance/uv.lock
  jobs/ml_jobs/ranking_endpoint/pyproject.toml
  jobs/ml_jobs/ranking_endpoint/utils.py
  jobs/ml_jobs/ranking_endpoint/uv.lock
  jobs/ml_jobs/reduction/pyproject.toml
  jobs/ml_jobs/reduction/tools/utils.py
  jobs/ml_jobs/reduction/uv.lock
  jobs/ml_jobs/retrieval_vector/pyproject.toml
  jobs/ml_jobs/retrieval_vector/uv.lock
  jobs/playground_vm/pyproject.toml
  jobs/playground_vm/utils/secrets_utils.py
  jobs/playground_vm/uv.lock
Due: format-fix, lint-fix

(HF) refactor(metabase): replug Metabase API following upgrade (#4799)
  jobs/etl_jobs/external/metabase-archiving/dependencies.py
  jobs/etl_jobs/external/metabase-archiving/metabase_api.py
  jobs/etl_jobs/external/metabase/native.py
Due: format-fix, lint-fix

feat: Add embed_offer_names_on_namesakes
  jobs/ml_jobs/artist_linkage/cli/embed_offer_names_on_namesakes.py
  jobs/ml_jobs/artist_linkage/src/constants.py
Due: format-fix, lint-fix

feat: Add sentence_transformer
  jobs/ml_jobs/artist_linkage/pyproject.toml
Due: none

refactor: Move product_stats extraction to proper_sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/metadata/ml_metadata__artist_score.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/metadata/ml_metadata__product_stats.sql
Due: sqlfmt

feat: Read HF_TOKEN from secrets
  jobs/ml_jobs/artist_linkage/cli/deduplicate_artists.py
  jobs/ml_jobs/artist_linkage/cli/embed_offer_names_on_namesakes.py
  jobs/ml_jobs/artist_linkage/src/constants.py
Due: format-fix, lint-fix

fix: Fix embed_offer_names script
  jobs/ml_jobs/artist_linkage/cli/embed_offer_names_on_namesakes.py
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

feat: Add deduplicate_artists
  jobs/ml_jobs/artist_linkage/cli/deduplicate_artists.py
  jobs/ml_jobs/artist_linkage/cli/embed_offer_names_on_namesakes.py
  jobs/ml_jobs/artist_linkage/src/constants.py
  jobs/ml_jobs/artist_linkage/src/utils/deduplication.py
Due: format-fix, lint-fix

feat: Update Artist DAG to add deduplication flow
  orchestration/dags/common/config.py
  orchestration/dags/common/operators/gce.py
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

refactor: Move get_secret to gcp.py
  jobs/ml_jobs/artist_linkage/src/utils/gcp.py
  jobs/ml_jobs/artist_linkage/src/utils/loading.py
  jobs/ml_jobs/artist_linkage/src/utils/mlflow.py
Due: format-fix, lint-fix

fix: Fix deduplicate_artist
  jobs/ml_jobs/artist_linkage/cli/deduplicate_artists.py
  jobs/ml_jobs/artist_linkage/src/utils/deduplication.py
Due: format-fix, lint-fix

fix: Small fixes from PR
  jobs/ml_jobs/artist_linkage/cli/deduplicate_artists.py
  jobs/ml_jobs/artist_linkage/src/utils/gcp.py
Due: format-fix, lint-fix

docs: Add dag doc
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

fix: Apply suggestions from code review
  jobs/ml_jobs/artist_linkage/cli/embed_offer_names_on_namesakes.py
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

fix: Fix artist_linkage DAG
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

refactor: Refacto deduplicate_artists
  jobs/ml_jobs/artist_linkage/cli/deduplicate_artists.py
  jobs/ml_jobs/artist_linkage/src/utils/gcp.py
Due: format-fix, lint-fix

refactor: Update uv.lock
  jobs/ml_jobs/artist_linkage/uv.lock
Due: none

chore: Lint files
  jobs/ml_jobs/artist_linkage/pyproject.toml
  jobs/ml_jobs/embeddings/pyproject.toml
  jobs/ml_jobs/endpoint_monitoring/pyproject.toml
  jobs/ml_jobs/graph_recommendation/pyproject.toml
  jobs/ml_jobs/offer_compliance/pyproject.toml
  jobs/ml_jobs/reduction/pyproject.toml
  jobs/playground_vm/pyproject.toml
Due: none

refactor(mlflow): standardize run ID naming and update related code references
  jobs/ml_jobs/algo_training/commons/constants.py
  jobs/ml_jobs/algo_training/two_towers_model/train.py
  jobs/ml_jobs/item_linkage/constants.py
  jobs/ml_jobs/item_linkage/link_items.py
  jobs/ml_jobs/item_linkage/utils/mlflow_tools.py
  jobs/ml_jobs/offer_compliance/constants.py
  jobs/ml_jobs/offer_compliance/train.py
Due: format-fix, lint-fix

feat(artist linkage): update job to handle multi-artist scenarios in product linking
  jobs/ml_jobs/artist_linkage/cli/link_new_products_to_artists.py
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__product_to_link.sql
Due: format-fix, lint-fix, sqlfmt

update firebase_visits
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/firebase/firebase_visits.sql
Due: sqlfmt

(DE-3169) feat(artist deduplication): Add artist deduplication flow (#4792)
  jobs/ml_jobs/artist_linkage/cli/deduplicate_artists.py
  jobs/ml_jobs/artist_linkage/cli/embed_offer_names_on_namesakes.py
  jobs/ml_jobs/artist_linkage/pyproject.toml
  jobs/ml_jobs/artist_linkage/src/constants.py
  jobs/ml_jobs/artist_linkage/src/utils/deduplication.py
  jobs/ml_jobs/artist_linkage/src/utils/gcp.py
  jobs/ml_jobs/artist_linkage/src/utils/loading.py
  jobs/ml_jobs/artist_linkage/src/utils/mlflow.py
  jobs/ml_jobs/artist_linkage/uv.lock
  jobs/ml_jobs/embeddings/pyproject.toml
  jobs/ml_jobs/endpoint_monitoring/pyproject.toml
  jobs/ml_jobs/graph_recommendation/pyproject.toml
  jobs/ml_jobs/offer_compliance/pyproject.toml
  jobs/ml_jobs/reduction/pyproject.toml
  jobs/playground_vm/pyproject.toml
  orchestration/dags/common/config.py
  orchestration/dags/common/operators/gce.py
  orchestration/dags/data_gcp_dbt/models/machine_learning/metadata/ml_metadata__artist_score.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/metadata/ml_metadata__product_stats.sql
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix, sqlfmt

refactor(mlflow): standardize run ID naming and update related code references (#4807)
  jobs/ml_jobs/algo_training/commons/constants.py
  jobs/ml_jobs/algo_training/two_towers_model/train.py
  jobs/ml_jobs/item_linkage/constants.py
  jobs/ml_jobs/item_linkage/link_items.py
  jobs/ml_jobs/item_linkage/utils/mlflow_tools.py
  jobs/ml_jobs/offer_compliance/constants.py
  jobs/ml_jobs/offer_compliance/train.py
Due: format-fix, lint-fix

refactor/macros: implement venue_type_code_label macro
  orchestration/dags/data_gcp_dbt/macros/mappings/venue_type_code_label.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__venue.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/venue.sql
Due: sqlfmt

(DE-3264) feat(dbt): Import dark mode properties (#4802)
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_event.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_event_flattened.sql
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/firebase/firebase_visits.sql
Due: sqlfmt

feat(artist linkage): add product_director to handle stage directors in artist linkage
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__product_to_link.sql
Due: sqlfmt

fix/geolocation: disambiguate offerer address types
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offerer_address.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__venue_address.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/offerer_address.sql
Due: sqlfmt

fix/geolocation: disambiguate offerer address types (#4809)
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offerer_address.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__venue_address.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/offerer_address.sql
Due: sqlfmt

import chronicle tables
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__chronicle.sql
  orchestration/dags/data_gcp_dbt/models/raw/applicative/raw_applicative__chronicle.sql
  orchestration/dags/data_gcp_dbt/models/raw/applicative/raw_applicative__product_chronicle.sql
Due: sqlfmt

refactor: Add genre and professions in wikidata music query + optimization
  jobs/ml_jobs/artist_linkage/queries/extract_music_artists.rq
Due: none

refactor: Add genre and professions in wikidata movie query + optimization
  jobs/ml_jobs/artist_linkage/queries/extract_movie_artists.rq
Due: none

refactor: Add genre and professions in wikidata book query + optimization
  jobs/ml_jobs/artist_linkage/queries/extract_book_artists.rq
  jobs/ml_jobs/artist_linkage/queries/extract_movie_artists.rq
Due: none

refactor: Add genre and professions in wikidata gkg query + optimization
  jobs/ml_jobs/artist_linkage/queries/extract_gkg_artists.rq
Due: none

fix(artist linkage): correct variable references in product_actor selection
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__product_to_link.sql
Due: sqlfmt

chore: Fix group_concat
  jobs/ml_jobs/artist_linkage/queries/extract_book_artists.rq
  jobs/ml_jobs/artist_linkage/queries/extract_gkg_artists.rq
  jobs/ml_jobs/artist_linkage/queries/extract_movie_artists.rq
  jobs/ml_jobs/artist_linkage/queries/extract_music_artists.rq
Due: none
