Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
# Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
# Add new hook types here to ensure automatic installation when running `pre-commit install`
- pre-commit
- pre-push
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-json
  - id: check-added-large-files

- repo: local
  hooks:
  - id: format-fix
    name: Formatting (ruff)
    entry: ruff format
    language: system
    types: [python]
    stages: [commit]
  - id: lint-fix
    name: Linting (ruff)
    entry: ruff check --fix
    language: system
    types: [python]
    stages: [commit]
  - id: sqlfmt
    name: SQL Formatting (sqlfmt)
    entry: make sqlfmt
    stages: [commit]
    language: system
    types: [sql]
  # - id: sqlfluff-lint-check
  #   name: Lint check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_lint.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-format-check
  #   name: format check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_format.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-fix
  #   name: fix (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_fix.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]

(DE-913) feat(brevo): add join with collective offer emails
  orchestration/dags/dependencies/sendinblue/sql/raw/sendinblue_transactional.sql
Due: sqlfmt

docs: Add training_data dbt schemas
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/_schema/ml_reco__training_data_booking.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/_schema/ml_reco__training_data_click.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/_schema/ml_reco__training_data_favorite.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/_schema/ml_reco__training_data_item_feature.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/_schema/ml_reco__training_data_user_feature.yml
Due: none

docs: Add dbt reco table descriptions
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/linkage/description__ml_linkage__artist.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/linkage/description__ml_linkage__product_artist_link.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/recommendation/description__ml_reco__training_data_booking.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/recommendation/description__ml_reco__training_data_click.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/recommendation/description__ml_reco__training_data_favorite.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/recommendation/description__ml_reco__training_data_item_feature.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/recommendation/description__ml_reco__training_data_user_feature.md
Due: none

docs: Add missing columns
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__metric.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__user.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/ml/column_embedding.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/tracking/column__event.md
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/_schema/ml_reco__training_data_click.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/_schema/ml_reco__training_data_item_feature.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/_schema/ml_reco__training_data_user_feature.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/retrieval/_schema/ml_retrieval__semantic_vector_item_embedding.yml
Due: none

(BSR) fix(core): image url handling (#3584)
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_metadata.sql
Due: sqlfmt

deploy: e8ed946fea107ba16b4de0a8bf7aef87ac099762
  __pycache__/hooks.cpython-310.pyc
  dbt/glossary/ml/column__artist/index.html
  dbt/models/export/backend/description__exp_backend__artist/index.html
  dbt/models/machine_learning/linkage/description__ml_linkage__artist/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

fix offer consulted
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_daily_user_video_conversion.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_video_event.sql
Due: sqlfmt

added README.md
  jobs/ml_jobs/algo_training/two_towers_model/README.md
Due: none

trying to solve mlflow module not found
  jobs/ml_jobs/algo_training/two_towers_model/upload_embeddings_to_bq.py
Due: format-fix, lint-fix

Revert "trying to solve mlflow module not found"
  jobs/ml_jobs/algo_training/two_towers_model/upload_embeddings_to_bq.py
Due: format-fix, lint-fix

added uv installer to upload embedding sshoperator
  orchestration/dags/jobs/ml/algo_training_two_towers.py
Due: format-fix, lint-fix

refactor: Use uv in retrieval_vector_build
  orchestration/dags/jobs/ml/retrieval_vector_build.py
Due: format-fix, lint-fix

refactor: Use uv in algo_default_deployment
  orchestration/dags/jobs/ml/algo_default_deployment.py
Due: format-fix, lint-fix

add module name
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_daily_user_video_conversion.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_daily_user_video_module.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_video_event.sql
Due: sqlfmt

fix: Fix typo
  orchestration/dags/jobs/ml/algo_default_deployment.py
Due: format-fix, lint-fix

review: Take review into account
  orchestration/dags/jobs/ml/algo_default_deployment.py
Due: format-fix, lint-fix

(BSR) refactor(uv): use uv in deployment dags (#3585)
  orchestration/dags/jobs/ml/algo_default_deployment.py
  orchestration/dags/jobs/ml/retrieval_vector_build.py
Due: format-fix, lint-fix

fix
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_daily_user_video_conversion.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_daily_user_video_module.sql
Due: sqlfmt

fix where condition
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/monthly_aggregated_venue_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/yearly_aggregated_venue_revenue.sql
Due: sqlfmt

fix where condition (#3590)
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/monthly_aggregated_venue_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/yearly_aggregated_venue_revenue.sql
Due: sqlfmt

add status update in action history as columns
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/action_history.sql
Due: sqlfmt

added expiration delay to constants
  jobs/ml_jobs/algo_training/commons/constants.py
Due: format-fix, lint-fix

clarified README
  jobs/ml_jobs/algo_training/two_towers_model/README.md
Due: none

refacto of code for clarity and less boilerplate code
  jobs/ml_jobs/algo_training/two_towers_model/upload_embeddings_to_bq.py
Due: format-fix, lint-fix

corrected typo in function name
  jobs/ml_jobs/algo_training/two_towers_model/upload_embeddings_to_bq.py
Due: format-fix, lint-fix

add status update in action history as columns (#3591)
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/action_history.sql
Due: sqlfmt

(DA-3906) feat(analytics): Add missing local authority info to offerer model (#3571)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__local_authority.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offerer.md
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offerer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offerer.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offerer.sql
Due: sqlfmt

(DS) feat(reco): T4 historiser embedding des recos (#3589)
  jobs/ml_jobs/algo_training/commons/constants.py
  jobs/ml_jobs/algo_training/two_towers_model/README.md
  jobs/ml_jobs/algo_training/two_towers_model/upload_embeddings_to_bq.py
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__offer_criterion.md
  orchestration/dags/jobs/ml/algo_training_two_towers.py
Due: format-fix, lint-fix

chore: Set doc on same line
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__metric.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__user.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/ml/column__artist.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/ml/column_embedding.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/tracking/column__event.md
Due: none

review: Take review into account
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/tracking/column__event.md
Due: none

WIP: add sqlfluff in precommit
  .pre-commit-config.yaml
Due: none

refactor: Move .sqlfluff file
  .sqlfluff
Due: none

refactor: Clean precommit config
  .pre-commit-config.yaml
Due: none

DEBG
  .pre-commit-config.yaml
  orchestration/dags/data_gcp_dbt/models/machine_learning/compliance/ml_compliance__training_data_offer.sql
Due: sqlfmt

DEBG
  orchestration/dags/data_gcp_dbt/models/machine_learning/compliance/ml_compliance__training_data_offer.sql
Due: sqlfmt

(DE-921) bsr(uv): migrate embedding_clusterisation_item
  orchestration/dags/jobs/ml/embedding_clusterisation_item.py
Due: format-fix, lint-fix

(DE-921) bsr(uv): migrate embedding_extraction_item
  orchestration/dags/jobs/ml/embedding_extraction_item.py
Due: format-fix, lint-fix

WIP: other fluff config
  .sqlfluff
Due: none

(DE-921) refactor(uv): migrate embedding_reduction_item
  orchestration/dags/jobs/ml/embedding_reduction_item.py
Due: format-fix, lint-fix

WIP: other precommit cfg
  .pre-commit-config.yaml
Due: none
