Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
  # Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
  # Add new hook types here to ensure automatic installation when running `pre-commit install`
  - pre-commit
  - pre-push
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: format-fix
        name: Formatting (ruff)
        entry: ruff format
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: lint-fix
        name: Linting (ruff)
        entry: ruff check --fix
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: sqlfmt
        name: SQL Formatting (sqlfmt)
        entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
        stages: [push]
        language: python
        additional_dependencies: ["shandy-sqlfmt[jinjafmt]==0.23.2"]
        types: [sql]
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.3.0
    hooks:
      - id: sqlfluff-fix
        additional_dependencies:
          ["dbt-bigquery==1.8.1", "sqlfluff-templater-dbt"]
        stages: [commit]
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.0
    hooks:
    - id: markdownlint-cli2
      language_version: 24.0.0
      args:
        - --fix

feat: Add tf_keras in requirements
  jobs/ml_jobs/algo_training/pyproject.toml
  jobs/ml_jobs/algo_training/uv.lock
Due: none

feat: Add keras>=3.13.1
  jobs/ml_jobs/algo_training/pyproject.toml
  jobs/ml_jobs/algo_training/uv.lock
Due: none

fix: Fix tests
  jobs/ml_jobs/algo_training/tests/test_evaluate.py
Due: format-fix, lint-fix

chore: Update deps
  jobs/ml_jobs/algo_training/uv.lock
Due: none

chore: Update protobuf
  jobs/ml_jobs/algo_training/uv.lock
Due: none

fixed headcount (#4846)
  jobs/etl_jobs/external/gsheet/gsheet.py
Due: format-fix, lint-fix

chore: Update deps for retrieval vector
  jobs/ml_jobs/retrieval_vector/uv.lock
Due: none

deploy: 9dbe17fb208f7540946203836f82c1fef571553b
  __pycache__/hooks.cpython-312.pyc
  sitemap.xml
  sitemap.xml.gz
Due: none

fix: Enforce strings in delta_artist
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__delta_artist.sql
Due: sqlfmt

(DE-3311) refactor(algo training): Migrate algo training to keras 3 (#4845)
  jobs/ml_jobs/algo_training/pyproject.toml
  jobs/ml_jobs/algo_training/tests/test_evaluate.py
  jobs/ml_jobs/algo_training/two_towers_model/evaluate.py
  jobs/ml_jobs/algo_training/two_towers_model/train.py
  jobs/ml_jobs/algo_training/two_towers_model/upload_embeddings_to_bq.py
  jobs/ml_jobs/algo_training/uv.lock
  jobs/ml_jobs/retrieval_vector/create_vector_database.py
  jobs/ml_jobs/retrieval_vector/pyproject.toml
  jobs/ml_jobs/retrieval_vector/uv.lock
  orchestration/dags/jobs/ml/algo_training_two_towers.py
Due: format-fix, lint-fix

(BSR) refactor(artists): Remove artists without products (#4843)
  jobs/ml_jobs/artist_linkage/cli/get_wikipedia_page_content.py
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__artist.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__delta_artist.sql
Due: format-fix, lint-fix, sqlfmt

debug(unit-test): add tmate to CI for debugging
  .github/workflows/reusable_dbt_workflow.yml
Due: none

fix: Do not remove artists with wikidata_id
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__delta_artist.sql
Due: sqlfmt

(BSR) fix(artist): Do not remove artists with wikidata_id (#4849)
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__delta_artist.sql
Due: sqlfmt

removed run_backtest param to make the DAG run the backtest either way
  jobs/ml_jobs/finance/main.py
  orchestration/dags/jobs/ml/finance_pricing_forecast.py
Due: format-fix, lint-fix

chore: Remove streamlit deps
  jobs/ml_jobs/endpoint_monitoring/pyproject.toml
  jobs/ml_jobs/endpoint_monitoring/uv.lock
Due: none

chore: Upgrade keras to 3.13.2 and add tf_keras
  jobs/ml_jobs/endpoint_monitoring/pyproject.toml
  jobs/ml_jobs/endpoint_monitoring/uv.lock
Due: none

add new DAG to run finance prod models
  orchestration/dags/jobs/ml/finance_pricing_forecast_prod.py
Due: format-fix, lint-fix

chore: Update security updates
  jobs/ml_jobs/endpoint_monitoring/pyproject.toml
  jobs/ml_jobs/endpoint_monitoring/uv.lock
Due: none

refactor: Use keras 2 in tools
  jobs/ml_jobs/endpoint_monitoring/utils/tools.py
Due: format-fix, lint-fix

remove schedule from experimental DAG
  orchestration/dags/jobs/ml/finance_pricing_forecast.py
Due: format-fix, lint-fix

feat: Add uv-secure in precommit
  .pre-commit-config.yaml
Due: none

chore: Remove keras
  jobs/ml_jobs/ranking_endpoint/pyproject.toml
  jobs/ml_jobs/ranking_endpoint/uv.lock
Due: none

chore: Update security updates
  jobs/ml_jobs/ranking_endpoint/uv.lock
Due: none

(DE-3350) chore(deps): Update endpoint monitoring deps (#4851)
  jobs/ml_jobs/endpoint_monitoring/pyproject.toml
  jobs/ml_jobs/endpoint_monitoring/utils/tools.py
  jobs/ml_jobs/endpoint_monitoring/uv.lock
Due: format-fix, lint-fix

fix: Fix DAGs
  orchestration/dags/jobs/ml/algo_custom_deployment.py
  orchestration/dags/jobs/ml/algo_default_deployment.py
Due: format-fix, lint-fix

(BSR) fix(deployment dag): Fix DAGs#4853
  orchestration/dags/jobs/ml/algo_custom_deployment.py
  orchestration/dags/jobs/ml/algo_default_deployment.py
Due: format-fix, lint-fix

correct cv format
  jobs/ml_jobs/finance/forecast/forecasters/configs/prophet/weekly_pricing.yaml
  orchestration/dags/jobs/ml/finance_pricing_forecast.py
  orchestration/dags/jobs/ml/finance_pricing_forecast_prod.py
Due: format-fix, lint-fix

chore: Remove tensorflow
  jobs/ml_jobs/clusterisation/pyproject.toml
  jobs/ml_jobs/clusterisation/uv.lock
Due: none

(DE) chore(reporting): switch epci and commune names to code for disambiguation (#4791)
  orchestration/dags/data_gcp_dbt/macros/external_reporting/get_categories.sql
  orchestration/dags/data_gcp_dbt/macros/external_reporting/get_dimensions.sql
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__institution.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__venue.md
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__collective_offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__educational_institution.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__venue.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/geolocation/int_geo__educational_institution_location.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/geolocation/int_geo__user_location.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/geolocation/int_geo__venue_location.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__booking.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__collective_offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__stock.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__user_beneficiary.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/collective/mrt_collective__eple_aggregated.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_credit_usage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_domain.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_institution.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_offer_booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__beneficiary.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__finance.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_ac.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/finance/mrt_finance__reimbursement.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__collective_booking.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__collective_booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__educational_institution.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user_beneficiary.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__outgoing_cohort.sql
  orchestration/dags/data_gcp_dbt/profiles.yml
Due: sqlfmt

feat: Update python version in clusterisation DAG
  orchestration/dags/jobs/ml/embedding_clusterisation_item.py
Due: format-fix, lint-fix

chore: Update keras to above 3.13
  jobs/ml_jobs/clusterisation/pyproject.toml
  jobs/ml_jobs/clusterisation/uv.lock
Due: none

chore: Update packages
  jobs/ml_jobs/clusterisation/uv.lock
Due: none

chore: Update embedding reduction python to 3.11
  jobs/ml_jobs/reduction/pyproject.toml
  jobs/ml_jobs/reduction/uv.lock
  orchestration/dags/jobs/ml/embedding_reduction_item.py
Due: format-fix, lint-fix

chore: Update keras to above 3.13
  jobs/ml_jobs/reduction/pyproject.toml
  jobs/ml_jobs/reduction/tools/dimension_reduction.py
  jobs/ml_jobs/reduction/uv.lock
Due: format-fix, lint-fix

chore: Update deps
  jobs/ml_jobs/reduction/uv.lock
Due: none

(DE-3349) chore(desp): Update packages ranking (#4852)
  .pre-commit-config.yaml
  jobs/ml_jobs/ranking_endpoint/pyproject.toml
  jobs/ml_jobs/ranking_endpoint/uv.lock
Due: none

Revert "(DE) chore(reporting): switch epci and commune names to code for disambiguation (#4791)"
  orchestration/dags/data_gcp_dbt/macros/external_reporting/get_categories.sql
  orchestration/dags/data_gcp_dbt/macros/external_reporting/get_dimensions.sql
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__institution.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__venue.md
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__collective_offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__educational_institution.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__venue.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/geolocation/int_geo__educational_institution_location.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/geolocation/int_geo__user_location.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/geolocation/int_geo__venue_location.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__booking.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__collective_offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__stock.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__user_beneficiary.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/collective/mrt_collective__eple_aggregated.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_credit_usage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_domain.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_institution.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_offer_booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__beneficiary.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__finance.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_ac.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/finance/mrt_finance__reimbursement.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__collective_booking.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__collective_booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__educational_institution.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user_beneficiary.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__outgoing_cohort.sql
  orchestration/dags/data_gcp_dbt/profiles.yml
Due: sqlfmt

Revert "(DE) chore(reporting): switch epci and commune names to code for disambiguation (#4791)" (#4857)
  orchestration/dags/data_gcp_dbt/macros/external_reporting/get_categories.sql
  orchestration/dags/data_gcp_dbt/macros/external_reporting/get_dimensions.sql
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__institution.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__venue.md
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__collective_offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__educational_institution.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__venue.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/geolocation/int_geo__educational_institution_location.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/geolocation/int_geo__user_location.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/geolocation/int_geo__venue_location.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__booking.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__collective_offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__stock.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__user_beneficiary.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/collective/mrt_collective__eple_aggregated.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_credit_usage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_domain.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_institution.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_offer_booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__beneficiary.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__finance.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_ac.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/finance/mrt_finance__reimbursement.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__collective_booking.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__collective_booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__educational_institution.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user_beneficiary.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__outgoing_cohort.sql
  orchestration/dags/data_gcp_dbt/profiles.yml
Due: sqlfmt

Revert "Revert "(DE) chore(reporting): switch epci and commune names to code for disambiguation (#4791)" (#4857)"
  orchestration/dags/data_gcp_dbt/macros/external_reporting/get_categories.sql
  orchestration/dags/data_gcp_dbt/macros/external_reporting/get_dimensions.sql
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__institution.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__venue.md
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__collective_offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__educational_institution.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__venue.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/geolocation/int_geo__educational_institution_location.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/geolocation/int_geo__user_location.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/geolocation/int_geo__venue_location.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__booking.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__collective_offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__stock.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__user_beneficiary.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/collective/mrt_collective__eple_aggregated.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_credit_usage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_domain.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_institution.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_offer_booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__beneficiary.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__finance.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_ac.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/finance/mrt_finance__reimbursement.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__collective_booking.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__collective_booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__educational_institution.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user_beneficiary.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__outgoing_cohort.sql
  orchestration/dags/data_gcp_dbt/profiles.yml
Due: sqlfmt
