Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: python
  stages:
  - commit
  additional_dependencies:
  - ruff==0.5.7

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: python
  stages:
  - commit
  additional_dependencies:
  - ruff==0.5.7

sqlfmt:
  name: SQL Formatting (sqlfmt)
  entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
  ...

Add activation logs
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/pcapi/column__log.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/pro/description__mrt_pro__log.md
  orchestration/dags/data_gcp_dbt/models/intermediate/pcapi/int_pcapi__log.sql
  orchestration/dags/data_gcp_dbt/models/mart/pro/_schema/mrt_pro__log.yml
  orchestration/dags/data_gcp_dbt/models/mart/pro/mrt_pro__log.sql
Due: sqlfmt

first refactoring
  jobs/ml_jobs/embeddings/configs/available_models.json
  jobs/ml_jobs/embeddings/configs/default-config-item.json
  jobs/ml_jobs/embeddings/configs/new-config.json
  jobs/ml_jobs/embeddings/main.py
  jobs/ml_jobs/embeddings/pyproject.toml
  jobs/ml_jobs/embeddings/pyproject_backup.toml
  jobs/ml_jobs/embeddings/requirements.in
  jobs/ml_jobs/embeddings/requirements.txt
  jobs/ml_jobs/embeddings/tools/embedding_extraction.py
  jobs/ml_jobs/embeddings/tools/langchain_embedding_manager.py
  jobs/ml_jobs/embeddings/utils/constants.py
  jobs/ml_jobs/embeddings/uv.lock
Due: format-fix, lint-fix

feat: Add parse offers
  jobs/etl_jobs/external/titelive/scripts/extract_new_offers_from_titelive.py
  jobs/etl_jobs/external/titelive/scripts/parse_offers.py
Due: format-fix, lint-fix

fix: Remove BOOK CATEGORIES
  jobs/etl_jobs/external/titelive/scripts/parse_offers.py
Due: format-fix, lint-fix

refactor: Remove parsing utils
  jobs/etl_jobs/external/titelive/scripts/parse_offers.py
  jobs/etl_jobs/external/titelive/src/utils/parsing.py
Due: format-fix, lint-fix

chore: Fix warning + Fix for music parsing
  jobs/etl_jobs/external/titelive/scripts/parse_offers.py
Due: format-fix, lint-fix

refactor: Read username and passwords from secrets
  jobs/etl_jobs/external/titelive/pyproject.toml
  jobs/etl_jobs/external/titelive/src/constants.py
  jobs/etl_jobs/external/titelive/src/env_vars.py
  jobs/etl_jobs/external/titelive/src/utils/gcp.py
  jobs/etl_jobs/external/titelive/uv.lock
Due: format-fix, lint-fix

feat: Add logs
  jobs/etl_jobs/external/titelive/src/constants.py
  jobs/etl_jobs/external/titelive/src/utils/requests.py
Due: format-fix, lint-fix

update
  orchestration/dags/data_gcp_dbt/models/intermediate/pcapi/int_pcapi__log.sql
Due: sqlfmt

docs: Add README.md
  jobs/etl_jobs/external/titelive/Makefile
  jobs/etl_jobs/external/titelive/README.md
  jobs/etl_jobs/external/titelive/scripts/extract_new_offers_from_titelive.py
Due: format-fix, lint-fix

update
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_meta_data.sql
Due: sqlfmt

tests: Add tests
  jobs/etl_jobs/external/titelive/.github/copilot-instructions.md
  jobs/etl_jobs/external/titelive/Makefile
  jobs/etl_jobs/external/titelive/README.md
  jobs/etl_jobs/external/titelive/pyproject.toml
  jobs/etl_jobs/external/titelive/tests/README.md
  jobs/etl_jobs/external/titelive/tests/__init__.py
  jobs/etl_jobs/external/titelive/tests/conftest.py
  jobs/etl_jobs/external/titelive/tests/data/sample_responses.json
  jobs/etl_jobs/external/titelive/tests/integration/__init__.py
  jobs/etl_jobs/external/titelive/tests/integration/test_workflow.py
  jobs/etl_jobs/external/titelive/tests/unit/__init__.py
  jobs/etl_jobs/external/titelive/tests/unit/test_gcp.py
  jobs/etl_jobs/external/titelive/tests/unit/test_parse_offers.py
  jobs/etl_jobs/external/titelive/tests/unit/test_requests.py
  jobs/etl_jobs/external/titelive/uv.lock
Due: format-fix, lint-fix

tests: Add tests
  jobs/etl_jobs/external/titelive/pyproject.toml
Due: none

tests: Mock secret manager
  jobs/etl_jobs/external/titelive/tests/conftest.py
Due: format-fix, lint-fix

fix: Fix sounarcloud issues
  jobs/etl_jobs/external/titelive/tests/integration/test_workflow.py
  jobs/etl_jobs/external/titelive/tests/unit/test_parse_offers.py
Due: format-fix, lint-fix

bumped pyarrow to be compatible with macos
  jobs/etl_jobs/external/titelive/pyproject.toml
  jobs/etl_jobs/external/titelive/uv.lock
Due: none

fix: Rename REAMDE.md into README.md
  jobs/ml_jobs/artist_linkage/README.md
Due: none

(BSR) fix(artist): Rename REAMDE.md into README.md #4413
  jobs/ml_jobs/artist_linkage/README.md
Due: none

(DE-2337) feat(artist): Add scripts to fetch data from titelive (#4412)
  Makefile
  jobs/etl_jobs/external/titelive/.github/copilot-instructions.md
  jobs/etl_jobs/external/titelive/.gitignore
  jobs/etl_jobs/external/titelive/Makefile
  jobs/etl_jobs/external/titelive/README.md
  jobs/etl_jobs/external/titelive/__init__.py
  jobs/etl_jobs/external/titelive/data/.gitkeep
  jobs/etl_jobs/external/titelive/pyproject.toml
  jobs/etl_jobs/external/titelive/scripts/extract_new_offers_from_titelive.py
  jobs/etl_jobs/external/titelive/scripts/parse_offers.py
  jobs/etl_jobs/external/titelive/src/__init__.py
  jobs/etl_jobs/external/titelive/src/constants.py
  jobs/etl_jobs/external/titelive/src/utils/__init__.py
  jobs/etl_jobs/external/titelive/src/utils/gcp.py
  jobs/etl_jobs/external/titelive/src/utils/requests.py
  jobs/etl_jobs/external/titelive/tests/README.md
  jobs/etl_jobs/external/titelive/tests/__init__.py
  jobs/etl_jobs/external/titelive/tests/conftest.py
  jobs/etl_jobs/external/titelive/tests/data/sample_responses.json
  jobs/etl_jobs/external/titelive/tests/integration/__init__.py
  jobs/etl_jobs/external/titelive/tests/integration/test_workflow.py
  jobs/etl_jobs/external/titelive/tests/unit/__init__.py
  jobs/etl_jobs/external/titelive/tests/unit/test_gcp.py
  jobs/etl_jobs/external/titelive/tests/unit/test_parse_offers.py
  jobs/etl_jobs/external/titelive/tests/unit/test_requests.py
  jobs/etl_jobs/external/titelive/uv.lock
Due: format-fix, lint-fix

Fix sonarcloud issues
  .pre-commit-config.yaml
  jobs/ml_jobs/endpoint_monitoring/tests/test_analysis_utils.py
  jobs/ml_jobs/endpoint_monitoring/utils/analysis_utils.py
  jobs/ml_jobs/endpoint_monitoring/utils/endpoint.py
  jobs/ml_jobs/endpoint_monitoring/utils/tools.py
  orchestration/dags/dependencies/ml/endpoint_monitoring/sql/user_data.sql
  orchestration/dags/jobs/crons.py
  orchestration/dags/jobs/ml/recommendation_endpoint_monitoring.py
Due: format-fix, lint-fix, sqlfmt

Fix sonarcloud issues bis
  jobs/ml_jobs/endpoint_monitoring/utils/endpoint.py
Due: format-fix, lint-fix

update
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_meta_data.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_metadata.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offer.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offer_metadata.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer_metadata.sql
Due: sqlfmt

update
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_metadata.sql
Due: sqlfmt

(DA-4390) feat(dbt): Update mrt_pro__log and its doc (#4390)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/pcapi/column__log.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/pro/description__mrt_pro__log.md
  orchestration/dags/data_gcp_dbt/models/intermediate/pcapi/int_pcapi__log.sql
  orchestration/dags/data_gcp_dbt/models/mart/pro/_schema/mrt_pro__log.yml
  orchestration/dags/data_gcp_dbt/models/mart/pro/mrt_pro__log.sql
Due: sqlfmt

Update parquet metadata
  jobs/ml_jobs/endpoint_monitoring/main.py
  jobs/ml_jobs/endpoint_monitoring/utils/analysis_utils.py
  orchestration/dags/jobs/ml/recommendation_endpoint_monitoring.py
Due: format-fix, lint-fix

migrated artist linkage to pyproject.toml
  jobs/ml_jobs/artist_linkage/pyproject.toml
  jobs/ml_jobs/artist_linkage/requirements.in
  jobs/ml_jobs/artist_linkage/requirements.txt
  jobs/ml_jobs/artist_linkage/uv.lock
Due: none

migrated artist linkage to pyproject.toml (#4415)
  jobs/ml_jobs/artist_linkage/pyproject.toml
  jobs/ml_jobs/artist_linkage/requirements.in
  jobs/ml_jobs/artist_linkage/requirements.txt
  jobs/ml_jobs/artist_linkage/uv.lock
Due: none

deleted old req files and pyproject backup
  jobs/ml_jobs/embeddings/pyproject_backup.toml
  jobs/ml_jobs/embeddings/requirements.in
  jobs/ml_jobs/embeddings/requirements.txt
  jobs/ml_jobs/reduction/pyproject_backup.toml
  jobs/ml_jobs/reduction/requirements.in
  jobs/ml_jobs/reduction/requirements.txt
Due: none

fix: Update Metabase URL for recommendation endpoint monitoring
  orchestration/dags/jobs/ml/recommendation_endpoint_monitoring.py
Due: format-fix, lint-fix

fix: Correct text in endpoint monitoring Slack block message
  orchestration/dags/common/alerts/endpoint_monitoring.py
Due: format-fix, lint-fix

refactor(linkage): migration to .toml
  jobs/ml_jobs/item_linkage/pyproject.toml
  jobs/ml_jobs/item_linkage/pyproject_backup.toml
  jobs/ml_jobs/item_linkage/requirements.in
  jobs/ml_jobs/item_linkage/requirements.txt
  jobs/ml_jobs/item_linkage/uv.lock
Due: none

fix code insjection in pr title env variable
  .github/workflows/on_pr_check_hour.yml
Due: none

for test only
  .github/workflows/on_pr_check_hour.yml
Due: none

final version
  .github/workflows/on_pr_check_hour.yml
Due: none

deleted old req files and pyproject backup (#4416)
  jobs/ml_jobs/embeddings/pyproject_backup.toml
  jobs/ml_jobs/embeddings/requirements.in
  jobs/ml_jobs/embeddings/requirements.txt
  jobs/ml_jobs/reduction/pyproject_backup.toml
  jobs/ml_jobs/reduction/requirements.in
  jobs/ml_jobs/reduction/requirements.txt
Due: none

(BSR) fix(code_injection): fix code injection in PR title env variable (#4417)
  .github/workflows/on_pr_check_hour.yml
Due: none

bumped tornado to 6.5 to fix dependabot security alert
  jobs/ml_jobs/item_linkage/pyproject.toml
  jobs/ml_jobs/item_linkage/uv.lock
Due: none

bumped tornado to 6.5 to fix dependabot security alert
  jobs/ml_jobs/artist_linkage/pyproject.toml
  jobs/ml_jobs/artist_linkage/uv.lock
Due: none

feat: Add import_titelive DAG
  orchestration/dags/jobs/crons.py
  orchestration/dags/jobs/import/import_titelive.py
Due: format-fix, lint-fix

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfmt: any of: \.sql$
