Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
# Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
# Add new hook types here to ensure automatic installation when running `pre-commit install`
- pre-commit
- pre-push
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-json
  - id: check-added-large-files

- repo: local
  hooks:
  - id: format-fix
    name: Formatting (ruff)
    entry: ruff format
    language: system
    types: [python]
    stages: [commit]
  - id: lint-fix
    name: Linting (ruff)
    entry: ruff check --fix
    language: system
    types: [python]
    stages: [commit]
  - id: sqlfmt
    name: SQL Formatting (sqlfmt)
    entry: make sqlfmt
    stages: [commit]
    language: system
    types: [sql]
  # - id: sqlfluff-lint-check
  #   name: Lint check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_lint.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-format-check
  #   name: format check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_format.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-fix
  #   name: fix (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_fix.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]

(DS) feat(two-towers): implement remove_accidental_hit for sampled softmax loss
  jobs/ml_jobs/algo_training/two_towers_model/models/two_towers_model.py
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

parametrize single tower
  jobs/ml_jobs/algo_training/two_towers_model/models/two_towers_model.py
Due: format-fix, lint-fix

(HF) fix(cron): change clickhouse export cron (#3786)
  orchestration/dags/jobs/crons.py
Due: format-fix, lint-fix

Update models
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offer.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__venue.md
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__headline_offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__venue.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offer.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__venue.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__venue.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/headline_offer.sql
Due: sqlfmt

deploy: 9cd2f05ba678edd4d76b0165283d07d99a51c574
  __pycache__/hooks.cpython-310.pyc
  sitemap.xml
  sitemap.xml.gz
Due: none

feat: update plugins path for k8s airflow
  orchestration/plugins/dbt_docs.py
Due: format-fix, lint-fix

feat: review
  .github/workflows/on_cd__workflow.yml
  orchestration/plugins/dbt_docs.py
Due: format-fix, lint-fix

(BSR) feat(airflow): deploy CI/CD to GKE Airflow (dev) (#3782)
  .github/workflows/on_cd__workflow.yml
  .github/workflows/reusable_deploy_composer.yml
  orchestration/plugins/dbt_docs.py
Due: format-fix, lint-fix

add job to archive partitiosn
  jobs/etl_jobs/internal/bigquery_archive_partition/archive.py
  jobs/etl_jobs/internal/bigquery_archive_partition/main.py
  jobs/etl_jobs/internal/bigquery_archive_partition/requirements.in
  jobs/etl_jobs/internal/bigquery_archive_partition/requirements.txt
  jobs/etl_jobs/internal/bigquery_archive_partition/utils.py
  orchestration/dags/jobs/administration/bigquery_archive_partition.py
Due: format-fix, lint-fix

update package
  jobs/etl_jobs/internal/bigquery_archive_partition/main.py
  jobs/etl_jobs/internal/bigquery_archive_partition/requirements.in
  jobs/etl_jobs/internal/bigquery_archive_partition/requirements.txt
Due: format-fix, lint-fix

fix
  orchestration/dags/jobs/administration/bigquery_archive_partition.py
Due: format-fix, lint-fix

update cron
  orchestration/dags/jobs/administration/bigquery_archive_partition.py
  orchestration/dags/jobs/crons.py
Due: format-fix, lint-fix

update sources
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: none

feat: refactor qualtrics jobs
  jobs/etl_jobs/external/qualtrics/qualtrics_survey_answers.py
  orchestration/dags/data_gcp_dbt/macros/variables/qualtrics_volumes.sql
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/enriched_qualtrics_pro.sql
  orchestration/dags/data_gcp_dbt/models/analytics/qualtrics_answers_ir_jeunes.sql
  orchestration/dags/data_gcp_dbt/models/analytics/qualtrics_answers_ir_pro.sql
  orchestration/dags/data_gcp_dbt/models/export/qualtrics/exp_qualtrics__beneficiary_account.sql
  orchestration/dags/data_gcp_dbt/models/export/qualtrics/exp_qualtrics__venue_account.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/qualtrics/int_qualtrics__nps_beneficiary_answer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/qualtrics/int_qualtrics__nps_pro_answer.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
  orchestration/dags/dependencies/qualtrics/export_qualtrics_data.py
  orchestration/dags/dependencies/qualtrics/raw/qualtrics_exported_template.sql
  orchestration/dags/dependencies/qualtrics/sql/analytics/enriched_qualtrics_pro.sql
  orchestration/dags/dependencies/qualtrics/sql/analytics/qualtrics_answers_ir_jeunes.sql
  orchestration/dags/dependencies/qualtrics/sql/analytics/qualtrics_answers_ir_pro.sql
  orchestration/dags/dependencies/qualtrics/sql/clean/qualtrics_ac.sql
  orchestration/dags/dependencies/qualtrics/sql/clean/qualtrics_ir_jeunes.sql
  orchestration/dags/jobs/export/export_qualtrics_data.py
Due: format-fix, lint-fix, sqlfmt

feat: refactor qualtrics jobs
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/enriched_qualtrics_pro.sql
  orchestration/dags/data_gcp_dbt/models/analytics/qualtrics_answers_ir_jeunes.sql
  orchestration/dags/data_gcp_dbt/models/analytics/qualtrics_answers_ir_pro.sql
  orchestration/dags/data_gcp_dbt/models/export/qualtrics/exp_qualtrics__beneficiary_account.sql
  orchestration/dags/data_gcp_dbt/models/export/qualtrics/exp_qualtrics__venue_account.sql
  orchestration/dags/dependencies/qualtrics/raw/qualtrics_exported_template.sql
Due: sqlfmt

feat: refactor qualtrics jobs
  orchestration/dags/common/macros.py
  orchestration/dags/dependencies/qualtrics/sql/raw/qualtrics_exported_template.sql
  orchestration/dags/jobs/export/export_qualtrics_data.py
Due: format-fix, lint-fix, sqlfmt

parametrize query
  jobs/etl_jobs/internal/bigquery_archive_partition/archive.py
Due: format-fix, lint-fix

(DE-685) dbt(snapshots): update model dependancies to snapshots offer and collective offer (#3745)
  orchestration/dags/data_gcp_dbt/models/analytics/history/bookable_venue_history.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offerer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__venue.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offerer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__venue.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/history/int_history__bookable_venue_snapshot.sql
  orchestration/dags/data_gcp_dbt/models/mart/brevo/mrt_brevo__retention_pro.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__venue.sql
  orchestration/dags/data_gcp_dbt/snapshots/intermediate/global/snasphot_intermediate__bookable_collective_offer.sql
  orchestration/dags/data_gcp_dbt/snapshots/intermediate/global/snasphot_intermediate__bookable_offer.sql
Due: sqlfmt

add logs to addresses job
  jobs/etl_jobs/external/addresses/scripts/fetch_user_location.py
Due: format-fix, lint-fix

fix query
  jobs/etl_jobs/external/addresses/scripts/fetch_user_location.py
Due: format-fix, lint-fix

fix
  jobs/etl_jobs/external/addresses/scripts/fetch_user_location.py
Due: format-fix, lint-fix

enrich log messsage
  jobs/etl_jobs/external/addresses/scripts/fetch_user_location.py
Due: format-fix, lint-fix

feat: adapt job export
  orchestration/dags/jobs/export/export_qualtrics_data.py
Due: format-fix, lint-fix

feat: ruff
  orchestration/dags/common/macros.py
Due: format-fix, lint-fix

(DE-677) dbt(qualtrics): migration export jobs (#3711)
  jobs/etl_jobs/external/qualtrics/qualtrics_survey_answers.py
  orchestration/dags/common/macros.py
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/enriched_qualtrics_pro.sql
  orchestration/dags/data_gcp_dbt/models/analytics/qualtrics_answers_ir_jeunes.sql
  orchestration/dags/data_gcp_dbt/models/analytics/qualtrics_answers_ir_pro.sql
  orchestration/dags/data_gcp_dbt/models/export/qualtrics/exp_qualtrics__beneficiary_account.sql
  orchestration/dags/data_gcp_dbt/models/export/qualtrics/exp_qualtrics__venue_account.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/qualtrics/int_qualtrics__nps_beneficiary_answer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/qualtrics/int_qualtrics__nps_pro_answer.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
  orchestration/dags/dependencies/qualtrics/export_qualtrics_data.py
  orchestration/dags/dependencies/qualtrics/sql/analytics/enriched_qualtrics_pro.sql
  orchestration/dags/dependencies/qualtrics/sql/analytics/qualtrics_answers_ir_pro.sql
  orchestration/dags/dependencies/qualtrics/sql/clean/qualtrics_ac.sql
  orchestration/dags/dependencies/qualtrics/sql/raw/qualtrics_exported_template.sql
  orchestration/dags/jobs/export/export_qualtrics_data.py
Due: format-fix, lint-fix, sqlfmt

(DE-1218) feat(ml_jobs): update mlflow version
  jobs/ml_jobs/artist_linkage/requirements.in
  jobs/ml_jobs/artist_linkage/requirements.txt
  jobs/ml_jobs/item_linkage/requirements.in
  jobs/ml_jobs/item_linkage/requirements.txt
  jobs/ml_jobs/ranking_endpoint/requirements.in
  jobs/ml_jobs/ranking_endpoint/requirements.txt
  jobs/ml_jobs/retrieval_vector/requirements.in
  jobs/ml_jobs/retrieval_vector/requirements.txt
Due: none

added abtest offres vitrines in pro_experiment
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/pro/int_firebase__pro_experiment.sql
Due: sqlfmt

(DE-1222) refactor(snapshot): change check cols strategy
  orchestration/dags/data_gcp_dbt/snapshots/intermediate/global/snasphot_intermediate__bookable_collective_offer.sql
  orchestration/dags/data_gcp_dbt/snapshots/intermediate/global/snasphot_intermediate__bookable_offer.sql
Due: sqlfmt

added abtest offres vitrines in pro_experiment (#3793)
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/pro/int_firebase__pro_experiment.sql
Due: sqlfmt

feat: add algo training
  jobs/ml_jobs/algo_training/requirements.in
  jobs/ml_jobs/algo_training/requirements.txt
Due: none

feat(dbt): update offer references to use new alias for improved clarity
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_item_id.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/input/ml_input__item_metadata.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__available_offer.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__recommendable_item.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__recommendable_offer.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__restrained_item.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_booking.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_click.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_favorite.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_item_feature.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__user_booked_item.sql
Due: sqlfmt

WIP
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_item_id.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/input/ml_input__item_metadata.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__available_offer.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__recommendable_item.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__recommendable_offer.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__restrained_item.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_booking.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_click.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_favorite.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_item_feature.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__user_booked_item.sql
Due: sqlfmt

(DE-1218) feat(ml_jobs): update mlflow version (#3794)
  jobs/ml_jobs/algo_training/requirements.in
  jobs/ml_jobs/algo_training/requirements.txt
  jobs/ml_jobs/artist_linkage/requirements.in
  jobs/ml_jobs/artist_linkage/requirements.txt
  jobs/ml_jobs/item_linkage/requirements.in
  jobs/ml_jobs/item_linkage/requirements.txt
  jobs/ml_jobs/ranking_endpoint/requirements.in
  jobs/ml_jobs/ranking_endpoint/requirements.txt
  jobs/ml_jobs/retrieval_vector/requirements.in
  jobs/ml_jobs/retrieval_vector/requirements.txt
Due: none

feat: add DBT macros for data obfuscation and watermarking
  orchestration/dags/data_gcp_dbt/macros/function_utils/obfuscate_id.sql
  orchestration/dags/data_gcp_dbt/macros/function_utils/watermark_field.sql
  orchestration/dags/data_gcp_dbt/macros/generate_export_tables.sql
Due: sqlfmt

feat: add DuckDB encryption & S3-transfer (VM jobs)
  jobs/etl_jobs/external/encrypted_exports/helpers.py
  jobs/etl_jobs/external/encrypted_exports/main.py
  jobs/etl_jobs/external/encrypted_exports/requirements.in
  jobs/etl_jobs/external/encrypted_exports/requirements.txt
Due: format-fix, lint-fix

feat: add/refactor GCP Secret Manager utilities
  orchestration/dags/common/access_gcp_secrets.py
Due: format-fix, lint-fix

feat: extend common utils for GCS interaction and waiting operators
  orchestration/dags/common/utils.py
Due: format-fix, lint-fix

chore: add dbt_run_operation.sh script
  orchestration/dags/data_gcp_dbt/scripts/dbt_run_operation.sh
Due: none

feat: add masked cron schedule and new DAG for dbt encrypted export
  orchestration/dags/jobs/crons.py
  orchestration/dags/jobs/dbt/dbt_encrypted_export.py
Due: format-fix, lint-fix

update names
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offer.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__venue.md
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__venue.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offer.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__venue.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__venue.sql
Due: sqlfmt
