Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: system
  stages:
  - commit

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: system
  stages:
  - commit

sqlfluff-format-fix:
  name: Formatting (sqlfluff)
  entry: make sqlfluff_format
  language: system
  stages:
  - commit

sqlfluff-lint-fix echo $(git diff --cached --name-only):
  name: Linter (sqlfluff)
  entry: make sqlfluff_fix $(git diff --cached --name-only)
  language: system
  stages:
  - commit

sqlfluff-lint-check:
  name: Lint check (sqlfluff)
  entry: make sqlfluff_lint echo $(git diff --cached --name-only)
  language: system
  stages:
  - commit

feat: Add is_bookable filter
  orchestration/dags/data_gcp_dbt/snapshots/snapshot_intermediate/snasphot_intermediate__bookable_collective_offer.sql
  orchestration/dags/data_gcp_dbt/snapshots/snapshot_intermediate/snasphot_intermediate__bookable_offer.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

feat: Add bookable snapshots
  orchestration/dags/data_gcp_dbt/snapshots/snapshot_intermediate/snasphot_intermediate__bookable_collective_offer.sql
  orchestration/dags/data_gcp_dbt/snapshots/snapshot_intermediate/snasphot_intermediate__bookable_offer.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

feat: Update snapshots
  orchestration/dags/data_gcp_dbt/snapshots/snapshot_intermediate/global/snasphot_intermediate__bookable_collective_offer.sql
  orchestration/dags/data_gcp_dbt/snapshots/snapshot_intermediate/global/snasphot_intermediate__bookable_offer.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

fix: Remove snapshot_at
  orchestration/dags/data_gcp_dbt/snapshots/snapshot_intermediate/snasphot_intermediate__bookable_offer.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

[DE-617] feat: Update text encoder model in offer categorization API
  jobs/ml_jobs/algo_training/offer_categorization/package_api_model.py
Due: format-fix, lint-fix

ft: update and last changes drafted
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__deposit.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__user.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__deposit.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__outgoing_cohorts.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

[DE-581] refactor: Update imports for two_towers_model in test_evaluate.py
  jobs/ml_jobs/algo_training/tests/test_evaluate.py
Due: format-fix, lint-fix

fix: update column name
  orchestration/dags/dependencies/propilote/sql/tmp/taux_utilisation/propilote_tmp_utilisation.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

fix: update column name (#3195)
  orchestration/dags/dependencies/propilote/sql/tmp/taux_utilisation/propilote_tmp_utilisation.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

Update qualtrics_ir_jeunes
  orchestration/dags/dependencies/qualtrics/sql/clean/qualtrics_ir_jeunes.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

fx: filter on event_date
  orchestration/dags/dependencies/qualtrics/sql/clean/qualtrics_ir_jeunes.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

fix qualtrics ac
  orchestration/dags/dependencies/qualtrics/sql/clean/qualtrics_ac.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

Update qualtrics_ir_jeunes (#3196)
  orchestration/dags/dependencies/qualtrics/sql/clean/qualtrics_ac.sql
  orchestration/dags/dependencies/qualtrics/sql/clean/qualtrics_ir_jeunes.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

(DE-631) add utm_campaign in batch table
  jobs/etl_jobs/external/batch/batch_client.py
Due: format-fix, lint-fix

refactor: update DAG configuration parameters
  orchestration/dags/jobs/ml/link_items.py
Due: format-fix, lint-fix

(DE-631) add utm_campaign in batch table (#3197)
  jobs/etl_jobs/external/batch/batch_client.py
Due: format-fix, lint-fix

(dbt) Add bookable snapshots (#3147)
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__collective_stock.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__stock.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_booking.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_collective_booking.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_collective_offer.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_collective_offer_template.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_collective_stock.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_offer.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_offerer_tag.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_offerer_tag_category_mapping.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_offerer_tag_mapping.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_stock.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_venue_criterion.sql
  orchestration/dags/data_gcp_dbt/snapshots/intermediate/global/snasphot_intermediate__bookable_collective_offer.sql
  orchestration/dags/data_gcp_dbt/snapshots/intermediate/global/snasphot_intermediate__bookable_offer.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

[DE-617] feat: Update text encoder model in offer categorization API (#3193)
  jobs/ml_jobs/algo_training/offer_categorization/package_api_model.py
Due: format-fix, lint-fix

[DE-616] refactor: Update loss function in TwoTowersModel
  jobs/ml_jobs/algo_training/two_towers_model/models/two_towers_model.py
Due: format-fix, lint-fix

[DE-581] refactor: Update imports for two_towers_model in deploy_model.py
  jobs/ml_jobs/algo_training/deploy_model.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/metrics.py
Due: format-fix, lint-fix

(batch) retrieve utm campaign for ab test
  jobs/etl_jobs/external/batch/batch_client.py
  jobs/etl_jobs/external/batch/utils.py
Due: format-fix, lint-fix

constrain commands input in dbt manual dag
  orchestration/dags/jobs/dbt/dbt_manual.py
Due: format-fix, lint-fix

state:modified selector
  .github/workflows/scripts/run_dbt_changed_models.sh
Due: none

add mrt_native__session for testing
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__session.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

exclude all but models
  .github/workflows/scripts/run_dbt_changed_models.sh
Due: none

feat: Fix json reading for offer_categorization
  jobs/ml_jobs/algo_training/offer_categorization/package_api_model.py
Due: format-fix, lint-fix

feat: Fix json reading for offer_categorization (#3205)
  jobs/ml_jobs/algo_training/offer_categorization/package_api_model.py
Due: format-fix, lint-fix

feat: Update model reference
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__user.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__user.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__deposit.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

ft: remove cycle on diversification
  orchestration/dags/data_gcp_dbt/models/analytics/diversification/diversification_booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__outgoing_cohorts.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

[DE-616] refactor: Update loss function in TwoTowersModel (#3200)
  jobs/ml_jobs/algo_training/two_towers_model/models/two_towers_model.py
Due: format-fix, lint-fix

feat: reverse diversification dependencies
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__deposit.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__user.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__deposit.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__outgoing_cohorts.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

Update dbt_manual.py
  orchestration/dags/jobs/dbt/dbt_manual.py
Due: format-fix, lint-fix

fix
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__outgoing_cohorts.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

fix case when no ab testing
  jobs/etl_jobs/external/batch/batch_client.py
Due: format-fix, lint-fix

last fixes
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__outgoing_cohorts.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

feat: Update model reference (#3199)
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__user.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__user.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__deposit.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

fix: Update schema name
  orchestration/dags/dependencies/propilote/sql/tmp/taux_participation_eac_ecoles/propilote_tmp_participation_eac_ecoles.sql
  orchestration/dags/dependencies/propilote/sql/tmp/taux_participation_eac_jeunes/propilote_tmp_participation_eac_jeunes.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfluff-format-fix: any of: \.sql$
  sqlfluff-lint-fix echo $(git diff --cached --name-only): any of: \.sql$
  sqlfluff-lint-check: any of: \.sql$
