Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: system
  stages:
  - commit

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: system
  stages:
  - commit

sqlfmt:
  name: SQL Formatting (sqlfmt)
  entry: make sqlfmt
  stages:
  - commit
  language: system

refactor: Update ranking
  docs/team/ds/recommendation.md
Due: none

fix: Fix links
  docs/index.md
Due: none

lint: Lint code
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__booking.md
Due: none

added ranking metrics
  docs/team/ds/recommendation.md
Due: none

feat: Add title
  docs/team/ds/recommendation.md
Due: none

refactor: Update recommendation doc based on Notion
  docs/team/ds/recommendation.md
Due: none

docs: Add comprehensive documentation for the Pass Culture Recommendation Engine, including algorithms, training processes, and model architecture
  docs/team/ds/improve_recommendation.md
  docs/team/ds/recommendation.md
  docs/team/ds/recommendation_fr.md
Due: none

docs: Add base doc overview
  docs/team/ds/fraud_detection.md
  docs/team/ds/linkage.md
  docs/team/ds/overview.md
Due: none

docs: Add detailed documentation for Fraud Detection and Linkage processes
  docs/team/ds/fraud_detection.md
  docs/team/ds/linkage.md
Due: none

refactor: Update recommendation.md
  docs/team/ds/assets/tt-architecture.png
  docs/team/ds/recommendation.md
Due: none

docs: Enhance recommendation documentation with detailed algorithms and training processes
  docs/team/ds/recommendation.md
Due: none

added formula screenshots as assets
  docs/team/ds/assets/MAP_at_k_formula.png
  docs/team/ds/assets/NDCG_formula.png
  docs/team/ds/recommendation.md
Due: none

(BSR) feat(etl): remove legacy job (#3970)
  orchestration/dags/jobs/import/import_sendinblue_historical.py
Due: format-fix, lint-fix

(BSR) docs(DS): Add ds doc in md (#3969)
  docs/index.md
  docs/team/ds/assets/MAP_at_k_formula.png
  docs/team/ds/assets/NDCG_formula.png
  docs/team/ds/assets/retrieval-ranking-architecture.png
  docs/team/ds/assets/tt-architecture.png
  docs/team/ds/fraud_detection.md
  docs/team/ds/linkage.md
  docs/team/ds/overview.md
  docs/team/ds/recommendation.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__booking.md
Due: none

(DE-1405) feat(snapshot): delete unused snapshots
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_booking.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_collective_booking.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_collective_offer.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_collective_offer_template.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_collective_stock.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_offer.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_offerer_tag.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_offerer_tag_category_mapping.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_offerer_tag_mapping.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_stock.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_venue_criterion.sql
Due: sqlfmt

(BSR) feat(docs): mkdocs typos cleanup
  docs/team/de/apis.md
  docs/team/de/data_stack.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offer.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/export/ministry/description__exp_ministry__address.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/export/ministry/description__exp_ministry__offerer_representation_address.md
Due: none

deploy: 324e4b70808472e088739036723eec5f3c1ead5e
  __pycache__/hooks.cpython-310.pyc
  dbt/glossary/applicative_database/column__offer/index.html
  dbt/models/export/ministry/description__exp_ministry__address/index.html
  dbt/models/export/ministry/description__exp_ministry__offer/index.html
  dbt/models/export/ministry/description__exp_ministry__offerer_representation_address/index.html
  dbt/models/machine_learning/compliance/description__ml_compliance__training_data_offer/index.html
  dbt/models/machine_learning/linkage/description__ml_linkage__artist_name_to_link/index.html
  dbt/models/machine_learning/recommendation/description__ml_reco__training_data_item_feature/index.html
  dbt/models/mart/global/description__mrt_global__offer/index.html
  dbt/models/mart/global/description__mrt_global__offer_metadata/index.html
  index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  team/de/data_stack/index.html
  team/ds/assets/MAP_at_k_formula.png
  team/ds/assets/NDCG_formula.png
  team/ds/assets/retrieval-ranking-architecture.png
  team/ds/assets/tt-architecture.png
  team/ds/fraud_detection/index.html
  team/ds/linkage/index.html
  team/ds/overview/index.html
  team/ds/recommendation/index.html
Due: none

(DE-1365) feat(etl): add zendesk ratings + open tickets
  jobs/etl_jobs/external/zendesk/constants.py
  jobs/etl_jobs/external/zendesk/extract.py
  jobs/etl_jobs/external/zendesk/main.py
  orchestration/dags/jobs/import/import_zendesk.py
Due: format-fix, lint-fix

feat: update dag logic
  orchestration/dags/jobs/import/import_user_address.py
Due: format-fix, lint-fix

feat: fix user test logic
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__user.yml
Due: none

feat: improve dag
  orchestration/dags/jobs/import/import_user_address.py
Due: format-fix, lint-fix

(DE-1365) feat(etl): add zendesk ratings + open tickets (#3974)
  jobs/etl_jobs/external/zendesk/constants.py
  jobs/etl_jobs/external/zendesk/extract.py
  jobs/etl_jobs/external/zendesk/main.py
  orchestration/dags/jobs/import/import_zendesk.py
Due: format-fix, lint-fix

(HF) fix(etl): user address bulk task + test (#3973)
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__user.yml
  orchestration/dags/jobs/import/import_user_address.py
Due: format-fix, lint-fix

(BSR) build(pythonpath): add elementary to python path
  orchestration/k8s-airflow/Dockerfile.k8s-worker
Due: none

parametrize elementary script for testing
  orchestration/dags/data_gcp_dbt/scripts/elementary_send_report_k8s.sh
  orchestration/dags/jobs/dbt/dbt_artifacts.py
Due: format-fix, lint-fix

feat: update for empty df zendesk
  jobs/etl_jobs/external/zendesk/main.py
Due: format-fix, lint-fix

(DS) feat(metrics): added scann index to compute metrics (#3955)
  jobs/ml_jobs/algo_training/commons/constants.py
  jobs/ml_jobs/algo_training/two_towers_model/evaluate.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/evaluate.py
Due: format-fix, lint-fix

feat: update for empty df zendesk
  jobs/etl_jobs/external/zendesk/extract.py
  jobs/etl_jobs/external/zendesk/main.py
Due: format-fix, lint-fix

vm stop hook
  orchestration/dags/common/alerts.py
Due: format-fix, lint-fix

(DE) fix(hook): render jinja template in stop_vm hook (#3964)
  orchestration/dags/common/alerts.py
Due: format-fix, lint-fix

(DE-1383) feat(deferal): add default variables to deferal script (#3959)
  orchestration/dags/data_gcp_dbt/.env.dbt
  orchestration/dags/data_gcp_dbt/scripts/defer_local_run.sh
Due: none

(DE) fix(airflow): shift logical date in waiting operator (#3942)
  orchestration/dags/common/utils.py
  orchestration/dags/jobs/crons.py
Due: format-fix, lint-fix

(DE-1405) feat(snapshot): delete unused snapshots (#3971)
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_booking.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_collective_booking.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_collective_offer.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_collective_offer_template.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_collective_stock.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_offer.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_offerer_tag.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_offerer_tag_category_mapping.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_offerer_tag_mapping.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_stock.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_venue_criterion.sql
Due: sqlfmt

lint
  orchestration/dags/dependencies/propilote/sql/tmp/beneficiaires/propilote_tmp_beneficiaires.sql
  orchestration/dags/dependencies/propilote/sql/tmp/taux_utilisation/propilote_tmp_utilisation.sql
Due: sqlfmt

feat: include all tickets in import dag
  jobs/etl_jobs/external/zendesk/constants.py
  jobs/etl_jobs/external/zendesk/extract.py
  jobs/etl_jobs/external/zendesk/main.py
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/zendesk/column__ticket.md
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/_schema/int_zendesk__ticket.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/_schema/int_zendesk__typology_native.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/_schema/int_zendesk__typology_pro.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/int_zendesk__ticket.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/int_zendesk__typology_native.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/int_zendesk__typology_pro.sql
  orchestration/dags/jobs/import/import_zendesk.py
Due: format-fix, lint-fix, sqlfmt

review
  orchestration/dags/dependencies/propilote/sql/tmp/beneficiaires/propilote_tmp_beneficiaires.sql
  orchestration/dags/dependencies/propilote/sql/tmp/taux_utilisation/propilote_tmp_utilisation.sql
Due: sqlfmt

feat: include all tickets in import dag
  jobs/etl_jobs/external/zendesk/extract.py
Due: format-fix, lint-fix

(HF) feat(etl): update for empty df zendesk (#3975)
  jobs/etl_jobs/external/zendesk/constants.py
  jobs/etl_jobs/external/zendesk/extract.py
  jobs/etl_jobs/external/zendesk/main.py
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/zendesk/column__ticket.md
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/_schema/int_zendesk__ticket.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/_schema/int_zendesk__typology_native.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/_schema/int_zendesk__typology_pro.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/int_zendesk__ticket.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/int_zendesk__typology_native.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/int_zendesk__typology_pro.sql
  orchestration/dags/jobs/import/import_zendesk.py
Due: format-fix, lint-fix, sqlfmt

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfmt: any of: \.sql$
