Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
  # Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
  # Add new hook types here to ensure automatic installation when running `pre-commit install`
  - pre-commit
  - pre-push
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: format-fix
        name: Formatting (ruff)
        entry: ruff format
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: lint-fix
        name: Linting (ruff)
        entry: ruff check --fix
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: sqlfmt
        name: SQL Formatting (sqlfmt)
        entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
        stages: [push]
        language: python
        additional_dependencies: ["shandy-sqlfmt[jinjafmt]==0.23.2"]
        types: [sql]
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.3.0
    hooks:
      - id: sqlfluff-fix
        additional_dependencies:
          ["dbt-bigquery==1.8.1", "sqlfluff-templater-dbt"]
        stages: [commit]
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.0
    hooks:
    - id: markdownlint-cli2
      language_version: 24.0.0
      args:
        - --fix

(DS-1969) fix(artists): Read test sets from artists folder #4273
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

feat: Add import artist sql query
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/artist.sql
Due: sqlfmt

feat: Add import artist_alias sql query
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/artist_alias.sql
Due: sqlfmt

PR comments
  jobs/ml_jobs/retrieval_vector/app/retrieval/client.py
  jobs/ml_jobs/retrieval_vector/app/retrieval/reco_client.py
Due: format-fix, lint-fix

feat: Add product_artist_link import sql query
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/product_artist_link.sql
Due: sqlfmt

chore: api base url migration
  jobs/etl_jobs/external/siren/scripts/import_siren.py
Due: format-fix, lint-fix

add kwargs
  jobs/ml_jobs/retrieval_vector/app/retrieval/client.py
Due: format-fix, lint-fix

add tensorflow macos deps to pyproject.toml
  jobs/ml_jobs/retrieval_vector/pyproject.toml
  jobs/ml_jobs/retrieval_vector/uv.lock
Due: none

404 response body
  jobs/etl_jobs/external/siren/scripts/import_siren.py
Due: format-fix, lint-fix

(BSR) fix(retrieval): semantic vector retrieval build (#4264)
  jobs/ml_jobs/retrieval_vector/README.md
  jobs/ml_jobs/retrieval_vector/app/retrieval/client.py
  jobs/ml_jobs/retrieval_vector/app/retrieval/reco_client.py
  jobs/ml_jobs/retrieval_vector/app/retrieval/text_client.py
  jobs/ml_jobs/retrieval_vector/pyproject.toml
  jobs/ml_jobs/retrieval_vector/uv.lock
Due: format-fix, lint-fix

add deposit_reform_category to users with deposit less then 300 euros pre reform
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__deposit.sql
Due: sqlfmt

fix: Fix typo and needless as
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/artist.sql
Due: sqlfmt

(DS-1914) feat(artists): Add artist extraction tables (#4276)
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/artist.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/artist_alias.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/product_artist_link.sql
Due: sqlfmt

refactor: Add ml_linkage_product_to_link
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__product_artist_link.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__product_to_link.sql
Due: sqlfmt

add deposit_reform_category to users with deposit less then 300 euros pre reform (#4277)
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__deposit.sql
Due: sqlfmt

(DE-1855) feat(dbt): add typeform_id to module and special event tables (#4246)
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__special_event.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/contentful/int_contentful__entry.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_daily_user_home_module.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__special_event.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_home_module_conversion.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_user_home_module.sql
  orchestration/dags/data_gcp_dbt/models/raw/applicative/raw_applicative__special_event.sql
Due: sqlfmt

refactor: Add ml_linkage_product_to_link (#4279)
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__product_artist_link.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__product_to_link.sql
Due: sqlfmt

Update offer models with several dates
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offer.md
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__extract_offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offer.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/raw/applicative/raw_applicative__offer_full.sql
  orchestration/dags/data_gcp_dbt/models/raw/applicative/raw_applicative__offer_lite.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__offer.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/sequential/offer_legacy.sql
Due: sqlfmt

refacto: Refacto preprocess.py
  jobs/ml_jobs/artist_linkage/constants.py
  jobs/ml_jobs/artist_linkage/link_new_products_to_artists.py
  jobs/ml_jobs/artist_linkage/preprocess.py
Due: format-fix, lint-fix

refacto: Refacto link_new_products_to_artists.py
  jobs/ml_jobs/artist_linkage/link_new_products_to_artists.py
  jobs/ml_jobs/artist_linkage/preprocess.py
Due: format-fix, lint-fix

clean
  orchestration/dags/data_gcp_dbt/models/clean/applicative/collective_stock.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__boost_cinema_details.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__cds_cinema_details.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__cgr_cinema_details.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__cinema_provider_pivot.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__ems_cinema_details.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__qpi_answers_v4.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__reimbursement_collective.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__reimbursement_individual.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__venue_bank_account_link.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/finance/int_finance__cashflow.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/finance/int_finance__cashflow_batch.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/finance/int_finance__cashflow_pricing.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/finance/int_finance__invoice.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/finance/int_finance__invoice_cashflow.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/finance/int_finance__payment.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/finance/int_finance__payment_status.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/finance/int_finance__pricing.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/finance/int_finance__pricing_line.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/finance/int_finance__pricing_log.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/finance/int_finance__venue_pricing_point_link.sql
Due: sqlfmt

fix linting
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__boost_cinema_details.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__cds_cinema_details.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__cgr_cinema_details.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__ems_cinema_details.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/finance/int_finance__invoice.sql
Due: sqlfmt

delete reimbursment
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__reimbursement_collective.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__reimbursement_individual.sql
Due: sqlfmt

add doc to typeform_id
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__special_event.md
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__special_event.yml
  orchestration/dags/data_gcp_dbt/models/mart/native/_schema/mrt_native__daily_home_module_conversion.yml
  orchestration/dags/data_gcp_dbt/models/mart/native/_schema/mrt_native__daily_user_home_module.yml
Due: none

add doc to typeform_id (#4282)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__special_event.md
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__special_event.yml
  orchestration/dags/data_gcp_dbt/models/mart/native/_schema/mrt_native__daily_home_module_conversion.yml
  orchestration/dags/data_gcp_dbt/models/mart/native/_schema/mrt_native__daily_user_home_module.yml
Due: none

deploy: 79ca7b546d6b26a2a697aa61b90c17197d508858
  __pycache__/hooks.cpython-312.pyc
  dbt/glossary/applicative_database/column__special_event/index.html
  dbt/models/mart/global/description__mrt_global__special_event/index.html
  dbt/models/mart/native/description__mrt_native__daily_home_module_conversion/index.html
  dbt/models/mart/native/description__mrt_native__daily_user_home_module/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

WIP: Add st_analyze_preprocessing.py
  jobs/ml_jobs/artist_linkage/streamlits/st_analyze_preprocessing.py
  jobs/ml_jobs/artist_linkage/tests/utils/data/preprocessing_test_set.csv
Due: format-fix, lint-fix

WIPP
  jobs/ml_jobs/artist_linkage/streamlits/st_analyze_preprocessing.py
  jobs/ml_jobs/artist_linkage/streamlits/st_create_preprocessing_test_set.py
Due: format-fix, lint-fix

clean dependencies + remove reimbursment
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/enriched_partner_retention_data.sql
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/enriched_qpi_answers.sql
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/enriched_reimbursement_data.sql
  orchestration/dags/data_gcp_dbt/models/clean/reimbursement_collective.sql
  orchestration/dags/data_gcp_dbt/models/clean/reimbursement_individual.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__qpi_answers_v4.sql
Due: sqlfmt

feat: Improve preprocessing
  jobs/ml_jobs/artist_linkage/streamlits/st_analyze_preprocessing.py
  jobs/ml_jobs/artist_linkage/tests/utils/data/preprocessing_test_set.csv
Due: format-fix, lint-fix

fix CI
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__qpi_answers_v4.sql
Due: sqlfmt

fix CI
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/enriched_qpi_answers.sql
Due: sqlfmt

feat: Improve comma split preprocessing
  jobs/ml_jobs/artist_linkage/streamlits/st_analyze_preprocessing.py
Due: format-fix, lint-fix

feat: Add whitespace between initials
  jobs/ml_jobs/artist_linkage/streamlits/st_analyze_preprocessing.py
Due: format-fix, lint-fix

fix: Fix test set
  jobs/ml_jobs/artist_linkage/streamlits/st_analyze_preprocessing.py
  jobs/ml_jobs/artist_linkage/tests/utils/data/preprocessing_test_set.csv
Due: format-fix, lint-fix

feat: Improve collectif catching
  jobs/ml_jobs/artist_linkage/utils/preprocessing_utils.py
Due: format-fix, lint-fix

feat: Remove accents from extracted_name
  jobs/ml_jobs/artist_linkage/streamlits/st_analyze_preprocessing.py
  jobs/ml_jobs/artist_linkage/utils/preprocessing_utils.py
Due: format-fix, lint-fix

feat: Add raw_alias in wikidata extract
  jobs/ml_jobs/artist_linkage/extract_from_wikidata.py
Due: format-fix, lint-fix

(AE-1593) fix(legacy): migrate clean/applicative to int + create int for finance models (#4280)
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/enriched_partner_retention_data.sql
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/enriched_qpi_answers.sql
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/enriched_reimbursement_data.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/collective_stock.sql
  orchestration/dags/data_gcp_dbt/models/clean/reimbursement_collective.sql
  orchestration/dags/data_gcp_dbt/models/clean/reimbursement_individual.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__boost_cinema_details.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__cds_cinema_details.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__cgr_cinema_details.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__cinema_provider_pivot.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__ems_cinema_details.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__qpi_answers_v4.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__venue_bank_account_link.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/finance/int_finance__cashflow.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/finance/int_finance__cashflow_batch.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/finance/int_finance__cashflow_pricing.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/finance/int_finance__invoice.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/finance/int_finance__invoice_cashflow.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/finance/int_finance__payment.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/finance/int_finance__payment_status.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/finance/int_finance__pricing.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/finance/int_finance__pricing_line.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/finance/int_finance__pricing_log.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/finance/int_finance__venue_pricing_point_link.sql
Due: sqlfmt

Update offer models with several dates
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer.sql
Due: sqlfmt
