Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
# Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
# Add new hook types here to ensure automatic installation when running `pre-commit install`
- pre-commit
- pre-push
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-json
  - id: check-added-large-files

- repo: local
  hooks:
  - id: format-fix
    name: Formatting (ruff)
    entry: ruff format
    language: system
    types: [python]
    stages: [commit]
  - id: lint-fix
    name: Linting (ruff)
    entry: ruff check --fix
    language: system
    types: [python]
    stages: [commit]
  - id: sqlfmt
    name: SQL Formatting (sqlfmt)
    entry: make sqlfmt
    stages: [commit]
    language: system
    types: [sql]
  # - id: sqlfluff-lint-check
  #   name: Lint check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_lint.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-format-check
  #   name: format check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_format.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-fix
  #   name: fix (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_fix.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]

refactor: Refacto semantic retrieval vector build
  orchestration/dags/jobs/ml/retrieval_vector_semantic_build.py
Due: format-fix, lint-fix

refactor: Take PR into account
  jobs/ml_jobs/retrieval_vector/build_default_model.py
  jobs/ml_jobs/retrieval_vector/build_dummy_model.py
  jobs/ml_jobs/retrieval_vector/build_semantic_model.py
  jobs/ml_jobs/retrieval_vector/create_vector_database.py
  jobs/ml_jobs/retrieval_vector/utils.py
  orchestration/dags/jobs/ml/retrieval_vector_build.py
  orchestration/dags/jobs/ml/retrieval_vector_semantic_build.py
Due: format-fix, lint-fix

docs: Update doc
  jobs/ml_jobs/retrieval_vector/README.md
Due: none

feat: add ssh example job to defer
  orchestration/dags/common/hooks/gce.py
  orchestration/dags/common/operators/gce.py
  orchestration/dags/common/triggers/gce.py
  orchestration/dags/jobs/ml/embedding_clusterisation_item.py
  orchestration/dags/jobs/ml/embedding_extraction_item.py
  orchestration/dags/jobs/ml/embedding_reduction_item.py
Due: format-fix, lint-fix

wip
  orchestration/dags/common/hooks/gce.py
  orchestration/dags/common/operators/gce.py
  orchestration/dags/common/triggers/gce.py
Due: format-fix, lint-fix

feat: improve trigger logic
  orchestration/dags/common/hooks/gce.py
  orchestration/dags/common/operators/gce.py
  orchestration/dags/common/triggers/gce.py
  orchestration/dags/jobs/ml/embedding_extraction_item.py
Due: format-fix, lint-fix

feat: defer ssh (wip)
  orchestration/dags/common/operators/gce.py
  orchestration/dags/common/trigger/gce.py
Due: format-fix, lint-fix

feat: cleanup + refactor + add to embedding extraction item
  orchestration/dags/common/hooks/gce.py
  orchestration/dags/common/operators/gce.py
  orchestration/dags/common/trigger/gce.py
  orchestration/dags/common/triggers/gce.py
  orchestration/dags/jobs/ml/algo_default_deployment.py
  orchestration/dags/jobs/ml/embedding_extraction_item.py
Due: format-fix, lint-fix

wip
  orchestration/dags/common/operators/gce.py
  orchestration/dags/jobs/ml/algo_default_deployment.py
Due: format-fix, lint-fix

feat: fix + improve
  orchestration/dags/common/hooks/gce.py
  orchestration/dags/common/operators/gce.py
  orchestration/dags/jobs/ml/embedding_extraction_item.py
Due: format-fix, lint-fix

(HF) feat(contentful): remove unused blocks (#4121)
  jobs/etl_jobs/external/contentful/contentful_client.py
Due: format-fix, lint-fix

(DS-1620) refactor(retrieval): Separate model building and docker build and push from retrieval + Update doc (#4120)
  .markdownlint.jsonc
  .pre-commit-config.yaml
  jobs/ml_jobs/retrieval_vector/Makefile
  jobs/ml_jobs/retrieval_vector/README.md
  jobs/ml_jobs/retrieval_vector/build_and_push_docker_image.py
  jobs/ml_jobs/retrieval_vector/create_vector_database.py
  jobs/ml_jobs/retrieval_vector/deploy_dummy.py
  jobs/ml_jobs/retrieval_vector/deploy_model.py
  jobs/ml_jobs/retrieval_vector/deploy_semantic.py
  jobs/ml_jobs/retrieval_vector/utils.py
  orchestration/dags/jobs/ml/retrieval_vector_build.py
  orchestration/dags/jobs/ml/retrieval_vector_semantic_build.py
Due: format-fix, lint-fix

(DE-1641) refactor(airflow): split images on registry (#4116)
  .github/workflows/reusable_build_image.yml
Due: none

(BSR) feat(docs): add snapshots documentation
  orchestration/dags/data_gcp_dbt/snapshots/intermediate/schema.yml
  orchestration/dags/data_gcp_dbt/snapshots/intermediate/snasphot_intermediate__bookable_collective_offer.sql
  orchestration/dags/data_gcp_dbt/snapshots/intermediate/snasphot_intermediate__bookable_offer.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/schema.yml
  orchestration/dags/data_gcp_dbt/snapshots/schema.yml
Due: sqlfmt

(BSR) refactor(clean): remove clean beneficiary fraud check
  orchestration/dags/data_gcp_dbt/models/analytics/eple_aggregated.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/beneficiary_fraud_check.sql
Due: sqlfmt

fix: Fix train_set_size for ehp
  orchestration/dags/jobs/ml/algo_training_two_towers.py
Due: format-fix, lint-fix

wip
  orchestration/Makefile
  orchestration/airflow/Dockerfile
  orchestration/k8s-airflow/Dockerfile.k8s-worker
  orchestration/pyproject.toml
Due: none

(BSR) feat(cd): fix mkdocs deployment
  .github/workflows/reusable_deploy_mkdocs.yml
Due: none

(HF) feat(airflow): fix url elementary report
  orchestration/dags/common/config.py
Due: format-fix, lint-fix

(HF) feat(dbt): add recompile job to elementary end
  orchestration/dags/jobs/dbt/dbt_artifacts.py
Due: format-fix, lint-fix

(BSR) chore(airflow): Remove legacy job
  jobs/etl_jobs/internal/export_posthog/bq.py
  jobs/etl_jobs/internal/export_posthog/event.py
  jobs/etl_jobs/internal/export_posthog/main.py
  jobs/etl_jobs/internal/export_posthog/pyproject.toml
  jobs/etl_jobs/internal/export_posthog/requirements.in
  jobs/etl_jobs/internal/export_posthog/requirements.txt
  jobs/etl_jobs/internal/export_posthog/utils.py
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/overview.md
  orchestration/dags/data_gcp_dbt/models/export/posthog/exp_posthog__adage_log.sql
  orchestration/dags/data_gcp_dbt/models/export/posthog/exp_posthog__native_event.sql
  orchestration/dags/data_gcp_dbt/models/export/posthog/exp_posthog__pro_event.sql
  orchestration/dags/data_gcp_dbt/models/export/posthog/schema.yml
  orchestration/dags/jobs/export/export_posthog.py
Due: format-fix, lint-fix, sqlfmt

rename fields and table to diversity
  jobs/etl_jobs/external/metabase/data/mappings.json
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/metric/column__metric.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/metric/diversity/description__int_metric__diversity_daily_booking.md
  orchestration/dags/data_gcp_dbt/models/analytics/aggregated_weekly_user_data.sql
  orchestration/dags/data_gcp_dbt/models/analytics/diversification/diversity_booking.sql
  orchestration/dags/data_gcp_dbt/models/analytics/diversification/diversity_raw.sql
  orchestration/dags/data_gcp_dbt/models/analytics/firebase/firebase_aggregated_daily_campaign_events.sql
  orchestration/dags/data_gcp_dbt/models/analytics/firebase/firebase_aggregated_search_events.sql
  orchestration/dags/data_gcp_dbt/models/analytics/firebase_aggregated_similar_offer_events.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/feature/ml_feat__user_feature.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__ranking_endpoint_training.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__ranking_training_data.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/_schema/mrt_native__daily_home_module_conversion.yml
  orchestration/dags/data_gcp_dbt/models/mart/native/_schema/mrt_native__daily_venue_map_conversion.yml
  orchestration/dags/data_gcp_dbt/models/mart/native/_schema/mrt_native__outgoing_cohort.yml
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_home_module_conversion.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_venue_map_conversion.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__outgoing_cohort.sql
Due: sqlfmt

formatting
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_venue_map_conversion.sql
Due: sqlfmt

(HF) feat(dbt): add recompile job to elementary end (#4127)
  orchestration/dags/jobs/dbt/dbt_artifacts.py
Due: format-fix, lint-fix

fix
  jobs/etl_jobs/external/metabase/data/mappings.json
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__outgoing_cohort.sql
Due: sqlfmt

(BSR) fix(build): typo
  Makefile
Due: none

(BSR) refactor(clean): remove clean beneficiary fraud check (#4126)
  orchestration/dags/data_gcp_dbt/models/analytics/eple_aggregated.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/beneficiary_fraud_check.sql
Due: sqlfmt

(BSR) fix(build): typo (#4130)
  Makefile
Due: none

import isSoftDeleted field and filter global tables
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__venue.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__venue.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/venue.sql
Due: sqlfmt

build: init dbt project & setup local connection to clickhouse database
  orchestration/dags/dbt_clickhouse/.env.template
  orchestration/dags/dbt_clickhouse/.gitignore
  orchestration/dags/dbt_clickhouse/Makefile
  orchestration/dags/dbt_clickhouse/analyses/.gitkeep
  orchestration/dags/dbt_clickhouse/dbt_project.yml
  orchestration/dags/dbt_clickhouse/macros/.gitkeep
  orchestration/dags/dbt_clickhouse/packages.yml
  orchestration/dags/dbt_clickhouse/profiles.yml
  orchestration/dags/dbt_clickhouse/requirements.txt
  orchestration/dags/dbt_clickhouse/seeds/.gitkeep
  orchestration/dags/dbt_clickhouse/snapshots/.gitkeep
  orchestration/dags/dbt_clickhouse/tests/.gitkeep
Due: none

rename fields in propilote tables
  .sqlfluffignore
  orchestration/dags/dependencies/propilote/export_propilote.py
  orchestration/dags/dependencies/propilote/sql/tmp/diversity/propilote_tmp_diversity.sql
Due: format-fix, lint-fix, sqlfmt

add GRANT_17_18 to outgoing_cohort
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__outgoing_cohort.sql
Due: sqlfmt

fix typo
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__outgoing_cohort.sql
Due: sqlfmt

docs: README.md
  orchestration/dags/dbt_clickhouse/README.md
Due: none

astro stuff
  Makefile
  automations/create_microservice.py
  orchestration/.dockerignore
  orchestration/airflow/Dockerfile
  orchestration/dags/jobs/dbt/dbt_dag_run_astro.py
  orchestration/docker-compose.yaml
  orchestration/pyproject.toml
  orchestration/uv.lock
Due: format-fix, lint-fix

(BSR) chore(airflow): Remove legacy job (#4128)
  jobs/etl_jobs/internal/export_posthog/bq.py
  jobs/etl_jobs/internal/export_posthog/event.py
  jobs/etl_jobs/internal/export_posthog/main.py
  jobs/etl_jobs/internal/export_posthog/pyproject.toml
  jobs/etl_jobs/internal/export_posthog/requirements.in
  jobs/etl_jobs/internal/export_posthog/requirements.txt
  jobs/etl_jobs/internal/export_posthog/utils.py
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/overview.md
  orchestration/dags/data_gcp_dbt/models/export/posthog/exp_posthog__adage_log.sql
  orchestration/dags/data_gcp_dbt/models/export/posthog/exp_posthog__native_event.sql
  orchestration/dags/data_gcp_dbt/models/export/posthog/exp_posthog__pro_event.sql
  orchestration/dags/data_gcp_dbt/models/export/posthog/schema.yml
  orchestration/dags/jobs/export/export_posthog.py
Due: format-fix, lint-fix, sqlfmt

fix: typo
  automations/create_microservice.py
Due: format-fix, lint-fix

migration: artifacts bucket deferal
  orchestration/dags/data_gcp_dbt/.env.dbt
  orchestration/dags/data_gcp_dbt/scripts/defer_local_run.sh
Due: none

(BSR) fix(miscellaneous): typo & deprecated variables (#4135)
  automations/create_microservice.py
  orchestration/dags/data_gcp_dbt/.env.dbt
  orchestration/dags/data_gcp_dbt/scripts/defer_local_run.sh
Due: format-fix, lint-fix
