Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: system
  stages:
  - commit

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: system
  stages:
  - commit

sqlfmt:
  name: SQL Formatting (sqlfmt)
  entry: make sqlfmt
  stages:
  - commit
  language: system

review
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/social_network/column__instagram.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/social_network/column__publication.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/social_network/column__tiktok.md
  orchestration/dags/data_gcp_dbt/models/intermediate/instagram/int_instagram__publication_detail.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/instagram/int_instagram_publication_detail.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/tiktok/int_tiktok__publication_detail.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/tiktok/int_tiktok__publication_detail.yml
  orchestration/dags/data_gcp_dbt/models/mart/marketing/_schema/mrt_marketing__social_network_publication.yml
  orchestration/dags/data_gcp_dbt/models/mart/marketing/mrt_marketing__social_network_publication.sql
Due: sqlfmt

fix linter
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/pro/int_firebase__pro_experiment.sql
Due: sqlfmt

(DA-3748) feat(dbt): Create int_firebase__pro_experiment and doc (#3748)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/firebase/description__int_firebase__pro_experiment.md
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/pro/int_firebase__pro_experiment.sql
Due: sqlfmt

(DA-3956) feat(Analytics): Add social network models
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/social_network/column__instagram.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/social_network/column__publication.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/social_network/column__tiktok.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/instagram/description__int_instagram__publication_detail.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/tiktok/description__int_tiktok__publication_detail.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/marketing/description__mrt_marketing__social_network_publication.md
  orchestration/dags/data_gcp_dbt/models/intermediate/instagram/int_instagram__publication_detail.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/instagram/int_instagram_publication_detail.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/tiktok/int_tiktok__publication_detail.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/tiktok/int_tiktok__publication_detail.yml
  orchestration/dags/data_gcp_dbt/models/mart/marketing/_schema/mrt_marketing__social_network_publication.yml
  orchestration/dags/data_gcp_dbt/models/mart/marketing/mrt_marketing__social_network_publication.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: sqlfmt

changed on_failure_alert in dags to comined
  orchestration/dags/jobs/administration/bigquery_alerts.py
  orchestration/dags/jobs/administration/metabase_governance.py
  orchestration/dags/jobs/export/export_clickhouse.py
  orchestration/dags/jobs/export/export_posthog.py
  orchestration/dags/jobs/export/export_propilote.py
  orchestration/dags/jobs/export/export_qualtrics_data.py
  orchestration/dags/jobs/import/import_adage.py
  orchestration/dags/jobs/import/import_addresses.py
  orchestration/dags/jobs/import/import_api_referentials.py
  orchestration/dags/jobs/import/import_appsflyer.py
  orchestration/dags/jobs/import/import_batch.py
  orchestration/dags/jobs/import/import_contentful.py
  orchestration/dags/jobs/import/import_dms_subscriptions.py
  orchestration/dags/jobs/import/import_downloads.py
  orchestration/dags/jobs/import/import_gcs_seed.py
  orchestration/dags/jobs/import/import_gsheet.py
  orchestration/dags/jobs/import/import_qualtrics.py
  orchestration/dags/jobs/import/import_sendinblue.py
  orchestration/dags/jobs/import/import_sendinblue_historical.py
  orchestration/dags/jobs/import/import_siren.py
  orchestration/dags/jobs/import/import_social_media.py
  orchestration/dags/jobs/import/import_zendesk.py
  orchestration/dags/jobs/ml/algo_custom_deployment.py
  orchestration/dags/jobs/ml/algo_default_deployment.py
  orchestration/dags/jobs/ml/algo_training_offer_categorization.py
  orchestration/dags/jobs/ml/algo_training_offer_compliance_model.py
  orchestration/dags/jobs/ml/algo_training_two_towers.py
  orchestration/dags/jobs/ml/artist_linkage.py
  orchestration/dags/jobs/ml/artist_wikidata_dump.py
  orchestration/dags/jobs/ml/embedding_clusterisation_item.py
  orchestration/dags/jobs/ml/embedding_extraction_item.py
  orchestration/dags/jobs/ml/embedding_reduction_item.py
  orchestration/dags/jobs/ml/link_offers.py
  orchestration/dags/jobs/ml/offline_recommendations.py
  orchestration/dags/jobs/ml/ranking_endpoint_build.py
  orchestration/dags/jobs/ml/retrieval_vector_build.py
  orchestration/dags/jobs/ml/retrieval_vector_semantic_build.py
Due: format-fix, lint-fix

feat: add docs
  orchestration/dags/data_gcp_dbt/models/mart/native/_schema/mrt_native__monthly_beneficiary_coverage.yml
Due: none

changed on_failure_alert in dags to comined (#3767)
  orchestration/dags/jobs/administration/bigquery_alerts.py
  orchestration/dags/jobs/administration/metabase_governance.py
  orchestration/dags/jobs/export/export_clickhouse.py
  orchestration/dags/jobs/export/export_posthog.py
  orchestration/dags/jobs/export/export_propilote.py
  orchestration/dags/jobs/export/export_qualtrics_data.py
  orchestration/dags/jobs/import/import_adage.py
  orchestration/dags/jobs/import/import_addresses.py
  orchestration/dags/jobs/import/import_api_referentials.py
  orchestration/dags/jobs/import/import_appsflyer.py
  orchestration/dags/jobs/import/import_batch.py
  orchestration/dags/jobs/import/import_contentful.py
  orchestration/dags/jobs/import/import_dms_subscriptions.py
  orchestration/dags/jobs/import/import_downloads.py
  orchestration/dags/jobs/import/import_gcs_seed.py
  orchestration/dags/jobs/import/import_gsheet.py
  orchestration/dags/jobs/import/import_qualtrics.py
  orchestration/dags/jobs/import/import_sendinblue.py
  orchestration/dags/jobs/import/import_sendinblue_historical.py
  orchestration/dags/jobs/import/import_siren.py
  orchestration/dags/jobs/import/import_social_media.py
  orchestration/dags/jobs/import/import_zendesk.py
  orchestration/dags/jobs/ml/algo_custom_deployment.py
  orchestration/dags/jobs/ml/algo_default_deployment.py
  orchestration/dags/jobs/ml/algo_training_offer_categorization.py
  orchestration/dags/jobs/ml/algo_training_offer_compliance_model.py
  orchestration/dags/jobs/ml/algo_training_two_towers.py
  orchestration/dags/jobs/ml/artist_linkage.py
  orchestration/dags/jobs/ml/artist_wikidata_dump.py
  orchestration/dags/jobs/ml/embedding_clusterisation_item.py
  orchestration/dags/jobs/ml/embedding_extraction_item.py
  orchestration/dags/jobs/ml/embedding_reduction_item.py
  orchestration/dags/jobs/ml/link_offers.py
  orchestration/dags/jobs/ml/offline_recommendations.py
  orchestration/dags/jobs/ml/ranking_endpoint_build.py
  orchestration/dags/jobs/ml/retrieval_vector_build.py
  orchestration/dags/jobs/ml/retrieval_vector_semantic_build.py
Due: format-fix, lint-fix

feat: update pre-commit logic
  .pre-commit-ci-dbt-config.yaml
Due: none

add aggregation level
  orchestration/dags/data_gcp_dbt/models/intermediate/brevo/int_brevo__transactional_native.sql
Due: sqlfmt

Update retention_partner_history and add scheduled offer notion
  orchestration/dags/data_gcp_dbt/models/analytics/history/retention_partner_history.sql
Due: sqlfmt

renaming
  orchestration/dags/data_gcp_dbt/models/intermediate/history/int_history__bookable_venue_snapshot.sql
Due: sqlfmt

renaming
  orchestration/dags/data_gcp_dbt/models/intermediate/history/bookable_venue_history_snapshot.sql
Due: sqlfmt

(DE-998) feat(clickhouse): generalize compression to intermediate tables
  jobs/etl_jobs/internal/export_clickhouse/schema/intermediate/booking.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/intermediate/collective_booking.sql
Due: sqlfmt

(DA-3751) feat(dbt): Add "PRO - " to newsletter pro campaign names (#3751)
  jobs/etl_jobs/external/brevo/main.py
  jobs/etl_jobs/external/brevo/utils.py
  orchestration/dags/data_gcp_dbt/models/intermediate/brevo/int_brevo__transactional_native.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/brevo/int_brevo__transactional_pro.sql
  orchestration/dags/dependencies/sendinblue/sql/analytics/sendinblue_newsletters_performance.sql
  orchestration/dags/dependencies/sendinblue/sql/raw/sendinblue_transactional.sql
Due: format-fix, lint-fix, sqlfmt

fix
  orchestration/dags/data_gcp_dbt/models/analytics/history/retention_partner_history.sql
Due: sqlfmt

add partner_type
  orchestration/dags/data_gcp_dbt/models/analytics/history/retention_partner_history.sql
Due: sqlfmt

apply formatting
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/pro/int_firebase__pro_event.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/pro/int_firebase__pro_visit.sql
Due: sqlfmt

(DA-3757) feat(dbt): Update firebase_pro_event and visit (fields) (#3757)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/tracking/column__pro_event.md
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/pro/int_firebase__pro_event.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/pro/int_firebase__pro_event_flattened.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/pro/int_firebase__pro_visit.sql
  orchestration/dags/data_gcp_dbt/models/mart/pro/_schema/mrt_pro__event.yml
  orchestration/dags/data_gcp_dbt/models/mart/pro/mrt_pro__event.sql
Due: sqlfmt

(DE-998) feat(clickhouse): generalize compression to intermediate tables (#3769)
  jobs/etl_jobs/internal/export_clickhouse/schema/intermediate/booking.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/intermediate/collective_booking.sql
Due: sqlfmt

feat: Set restore_best_weights to true
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

WIP: Replace l2 norm by layer_norm
  jobs/ml_jobs/algo_training/two_towers_model/models/two_towers_model.py
Due: format-fix, lint-fix

HACK: change validation data
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

feat: Set 5 epochs per shuffle properly
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

WIP: Remove l2 after training
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

feat: Remove duplicates in training
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

Test: Add steps_per_epoch
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

WIP: add sum_over_batch_size
  jobs/ml_jobs/algo_training/two_towers_model/models/two_towers_model.py
Due: format-fix, lint-fix

feat: Set lower temperature for softmax
  jobs/ml_jobs/algo_training/two_towers_model/models/two_towers_model.py
Due: format-fix, lint-fix

feat: Use l2 norm
  jobs/ml_jobs/algo_training/two_towers_model/models/two_towers_model.py
Due: format-fix, lint-fix

DEBUG: deactivate evaluation to allow more data
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

feat: Increase learning rate
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

lint: lint files
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/firebase/description__int_firebase__pro_experiment.md
  orchestration/dags/data_gcp_dbt/models/mart/pro/_schema/mrt_pro__event.yml
Due: none

(DE-1027) feat(dbt): migrate beneficiary coverage to mrt model (#3764)
  .pre-commit-ci-dbt-config.yaml
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__deposit.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/metric/column__metric.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/seed/column__population.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/seed/description__int_seed__monthy_population_france.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/native/description__mrt_native__daily_user_deposit.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/native/description__mrt_native__monthly_beneficiary_coverage.md
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/aggregated_daily_user_used_activity.sql
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/aggregated_monthly_user_used_booking_activity.sql
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/user_penetration.sql
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/user_penetration_cohorts.sql
  orchestration/dags/data_gcp_dbt/models/analytics/firebase/firebase_aggregated_daily_campaign_events.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/seed/int_seed__monthly_france_population.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/seed/schema/int_seed__monthly_france_population.yml
  orchestration/dags/data_gcp_dbt/models/mart/native/_schema/mrt_native__daily_user_deposit.yml
  orchestration/dags/data_gcp_dbt/models/mart/native/_schema/mrt_native__monthly_beneficiary_coverage.yml
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_user_deposit.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__monthly_beneficiary_coverage.sql
  orchestration/dags/dependencies/propilote/sql/tmp/beneficiaires/propilote_tmp_beneficiaires.sql
  orchestration/dags/dependencies/propilote/sql/tmp/taux_couverture/propilote_tmp_couverture.sql
Due: sqlfmt

Remove str casting for inputs
  jobs/ml_jobs/algo_training/two_towers_model/models/two_towers_model.py
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

feat: Add candidate_sampling_probability
  jobs/ml_jobs/algo_training/two_towers_model/models/two_towers_model.py
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

(DE-1077) feat(seed): add & update qpv_population seed
  jobs/etl_jobs/internal/gcs_seed/tables_config.py
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/seed/column__qpv.md
Due: format-fix, lint-fix

(DE-1077) feat(seed): add & update qpv_population seed
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/seed/description__int_seed__qpv_population.md
  orchestration/dags/data_gcp_dbt/models/intermediate/seed/int_seed__qpv_population.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/seed/schema/int_seed__qpv_population.yml
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: sqlfmt

feat: Use numerical input layer
  jobs/ml_jobs/algo_training/two_towers_model/models/two_towers_model.py
  jobs/ml_jobs/algo_training/two_towers_model/train.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/layers.py
Due: format-fix, lint-fix

Update field partner_type of global_cultural_partner
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__cultural_partner.sql
Due: sqlfmt

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfmt: any of: \.sql$
