Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
# Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
# Add new hook types here to ensure automatic installation when running `pre-commit install`
- pre-commit
- pre-push
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-json
  - id: check-added-large-files

- repo: local
  hooks:
  - id: format-fix
    name: Formatting (ruff)
    entry: ruff format
    language: system
    types: [python]
    stages: [commit]
  - id: lint-fix
    name: Linting (ruff)
    entry: ruff check --fix
    language: system
    types: [python]
    stages: [commit]
  - id: sqlfmt
    name: SQL Formatting (sqlfmt)
    entry: make sqlfmt
    stages: [commit]
    language: system
    types: [sql]
  # - id: sqlfluff-lint-check
  #   name: Lint check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_lint.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-format-check
  #   name: format check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_format.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-fix
  #   name: fix (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_fix.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]

fix second case when
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__clean_offer.sql
Due: sqlfmt

refactor: Remove upload_parquet deprecated function
  jobs/ml_jobs/artist_linkage/cluster.py
  jobs/ml_jobs/artist_linkage/get_wikimedia_commons_license.py
  jobs/ml_jobs/artist_linkage/preprocess.py
  jobs/ml_jobs/artist_linkage/utils/gcs_utils.py
Due: format-fix, lint-fix

refactor: Replace prints by logger.info
  jobs/ml_jobs/artist_linkage/extract_from_wikidata.py
  jobs/ml_jobs/artist_linkage/utils/clustering_utils.py
Due: format-fix, lint-fix

mettre certficat dans /etc et modfication du README
  orchestration/README.md
  orchestration/airflow/Dockerfile.netskope
Due: none

fix
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer.sql
Due: sqlfmt

add alias
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer.sql
Due: sqlfmt

modfication .gitignore
  orchestration/airflow/.gitignore
  orchestration/airflow/etc/.gitignore
Due: none

update yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__venue.yml
Due: none

DEBUG
  orchestration/airflow/.gitignore
Due: none

fix
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__venue.yml
Due: none

(BSR) feat(alerting): alert when alerting fails (fix false negative) (#3539)
  orchestration/dags/jobs/administration/bigquery_alerts.py
Due: format-fix, lint-fix

put SHELL: /bin/bash to Makefile and updated README
  orchestration/Makefile
  orchestration/README.md
Due: none

(DS) refactor(dockerfiles): change placement of certificate file and update README and .gitignore (#3542)
  orchestration/Makefile
  orchestration/README.md
  orchestration/airflow/.gitignore
  orchestration/airflow/Dockerfile.netskope
  orchestration/airflow/etc/.gitignore
Due: none

removed extra spaces in logger message
  jobs/ml_jobs/clusterisation/tools/clusterisation.py
Due: format-fix, lint-fix

add table desription
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__educational_deposit.md
Due: none

Add a new column
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/pcapi/column__log.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/pro/description__mrt_pro__log.md
  orchestration/dags/data_gcp_dbt/models/intermediate/pcapi/int_pcapi__log.sql
  orchestration/dags/data_gcp_dbt/models/mart/pro/_schema/mrt_pro__log.yml
  orchestration/dags/data_gcp_dbt/models/mart/pro/mrt_pro__log.sql
Due: sqlfmt

fix typo
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__educational_deposit.md
Due: none

add table doc
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__favorite.md
Due: none

fix
  orchestration/dags/data_gcp_dbt/models/intermediate/pcapi/int_pcapi__log.sql
Due: sqlfmt

A offer_data_api_call_id column
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/pcapi/column__log.md
  orchestration/dags/data_gcp_dbt/models/intermediate/pcapi/int_pcapi__log.sql
  orchestration/dags/data_gcp_dbt/models/mart/pro/_schema/mrt_pro__log.yml
  orchestration/dags/data_gcp_dbt/models/mart/pro/mrt_pro__log.sql
Due: sqlfmt

(DE-875) fix(dbt): remove hard_delete param from dbt_project
  orchestration/dags/data_gcp_dbt/dbt_project.yml
Due: none

doc pro_event, adage_log
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/tracking/column__collective_adage_log.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/tracking/column__pro_event.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/collective/description__mrt_collective__adage_log.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/pro/description__mrt_pro__event.md
Due: none

(DA-3899) docs(dbt): Add dbt doc for mrt native event (#3522)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/tracking/column__event.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/tracking/column__native_event.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/native/description__mrt_native__event.md
Due: none

Add doc venue_tag_label
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__venue_tag.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__venue_tag.md
Due: none

(DE-875) fix(dbt): remove hard_delete param from dbt_project (#3545)
  orchestration/dags/data_gcp_dbt/dbt_project.yml
Due: none

Ad dbt doc for mrt_pro_log (with no field added)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/pcapi/column__log.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/pro/description__mrt_pro__log.md
Due: none

add doc
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__educational_institution.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__institution.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__metric.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__educational_institution.md
Due: none

fix
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__cultural_partner.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__cultural_partner.md
Due: none

(DE-816) fix(clickhouse): apply same revenue formula as BO
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/monthly_aggregated_venue_collective_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/monthly_aggregated_venue_individual_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/yearly_aggregated_venue_collective_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/yearly_aggregated_venue_individual_revenue.sql
Due: sqlfmt

doc offer_criterion
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offer_criterion.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__offer_criterion.md
Due: none

update doc
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__educational_deposit.md
Due: none

fix error
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/pro/description__mrt_pro__event.md
Due: none

fix error bis
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/collective/description__mrt_collective__adage_log.md
Due: none

update doc
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__educational_institution.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__institution.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__metric.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__educational_institution.md
Due: none

(DA-3899) docs(dbt): Add doc for global educational deposit (#3528)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__educational_deposit.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__educational_deposit.md
Due: none

(DA-3899) docs(dbt): Add doc for global favorite (#3524)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__favorite.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__user.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__favorite.md
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__user.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__favorite.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__user.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__favorite.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user.sql
Due: sqlfmt

(DE-816) fix(clickhouse): apply same revenue formula as BO (#3550)
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/monthly_aggregated_venue_collective_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/monthly_aggregated_venue_individual_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/yearly_aggregated_venue_collective_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/yearly_aggregated_venue_individual_revenue.sql
Due: sqlfmt

(DE-848) feat(artist): Generate artist_id and add missing columns in dbt (#3498) (#3504)
  jobs/ml_jobs/artist_linkage/cluster.py
  jobs/ml_jobs/artist_linkage/extract_from_wikidata.py
  jobs/ml_jobs/artist_linkage/get_wikimedia_commons_license.py
  jobs/ml_jobs/artist_linkage/match_artists_on_wikidata.py
  jobs/ml_jobs/artist_linkage/preprocess.py
  jobs/ml_jobs/artist_linkage/utils/clustering_utils.py
  jobs/ml_jobs/artist_linkage/utils/gcs_utils.py
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/ml/column__artist.md
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/_schema/ml_linkage__artist_alias.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/_schema/ml_linkage__product_artist_link.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__artist.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__artist_alias.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__product_artist_link.sql
Due: format-fix, lint-fix, sqlfmt

update doc
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__metric.md
Due: none
