Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: system
  stages:
  - commit

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: system
  stages:
  - commit

sqlfmt:
  name: SQL Formatting (sqlfmt)
  entry: make sqlfmt
  stages:
  - commit
  language: system

refactor Remove * from model and rename un ml_linkage__artist_name_to_link.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/artist/input/ml_linkage__artist_name_to_link.sql
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix, sqlfmt

add docs
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__metric.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__user.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_native__outgoing_cohorts.md
  orchestration/dags/data_gcp_dbt/models/mart/native/_schema/mrt_native__outgoing_cohorts.yml
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__outgoing_cohorts.sql
Due: sqlfmt

Add artist_name_to_link.yml schema
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/artist/input/schema/ml_linkage__artist_name_to_link.yml
Due: none

Add uniqueness test
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/artist/input/schema/ml_linkage__artist_name_to_link.yml
Due: none

update column doc
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__user.md
Due: none

(DA-3876) feat(Analytics): Refacto user activity (#3491)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__user.md
  orchestration/dags/data_gcp_dbt/models/clean/user_beneficiary.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__user.sql
Due: sqlfmt

update video models
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_daily_user_video_conversion.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_daily_user_video_module.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_video_event.sql
Due: sqlfmt

(DE) feat(firebase): backfill partition dag
  orchestration/dags/dependencies/firebase/sql/raw/firebase_events.sql
  orchestration/dags/dependencies/firebase/sql/raw/firebase_pro_events.sql
  orchestration/dags/jobs/import/import_firebase.py
Due: format-fix, lint-fix, sqlfmt

Update video models
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_daily_user_video_conversion.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_daily_user_video_module.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_video_event.sql
Due: sqlfmt

fix
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_daily_user_video_conversion.sql
Due: sqlfmt

(BSR) feat(analytics): Update firebase logic (#3492)
  orchestration/dags/dependencies/firebase/sql/raw/firebase_events.sql
  orchestration/dags/jobs/import/import_firebase.py
Due: format-fix, lint-fix, sqlfmt

add documentation on columns
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/brevo/column__brevo.md
Due: none

install: Update install target to work for DA
  Makefile
Due: none

fix typo
  orchestration/dags/data_gcp_dbt/models/intermediate/brevo/int_brevo__transactional_jeune.yml
Due: none

install: Update install target to work for DA (#3496)
  Makefile
Due: none

feat: Replace offer_number by total_offer_count
  jobs/ml_jobs/artist_linkage/constants.py
  jobs/ml_jobs/artist_linkage/evaluate.py
  jobs/ml_jobs/artist_linkage/preprocess.py
  jobs/ml_jobs/artist_linkage/tests/utils/clustering_utils_test.py
  jobs/ml_jobs/artist_linkage/tests/utils/preprocessing_utils_test.py
  jobs/ml_jobs/artist_linkage/utils/clustering_utils.py
  jobs/ml_jobs/artist_linkage/utils/preprocessing_utils.py
Due: format-fix, lint-fix

refactor: Rename item_numer in total_item_count
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/artist/input/ml_linkage__artist_name_to_link.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/artist/input/schema/ml_linkage__artist_name_to_link.yml
Due: sqlfmt

refactor: Rename is_synchronized into offer_is_synchronized
  jobs/ml_jobs/artist_linkage/cluster.py
  jobs/ml_jobs/artist_linkage/constants.py
  jobs/ml_jobs/artist_linkage/evaluate.py
  jobs/ml_jobs/artist_linkage/preprocess.py
  jobs/ml_jobs/artist_linkage/streamlits/st_explore_and_clusterize_data.py
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/artist/input/ml_linkage__artist_name_to_link.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/artist/input/schema/ml_linkage__artist_name_to_link.yml
Due: format-fix, lint-fix, sqlfmt

rename table & fields
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/brevo/column__brevo.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/brevo/description__int_brevo__transactional_jeune.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/brevo/description__int_brevo__transactional_native.md
  orchestration/dags/data_gcp_dbt/models/intermediate/brevo/int_brevo__transactional_native.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/brevo/int_brevo__transactional_native.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/brevo/int_brevo__transactional_pro.sql
Due: sqlfmt

add docs on pro side
  orchestration/dags/data_gcp_dbt/models/intermediate/brevo/int_brevo__transactional_pro.yml
Due: none

(DE-815) refactor(snapshot): reset dbt filter in int_raw__offer
  orchestration/dags/data_gcp_dbt/models/intermediate/raw/int_raw__offer.sql
Due: sqlfmt

Refacto yml doc
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/ml/column__artist.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/ml/linkage/description__ml_linkage__artist_name_to_link.md
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/artist/input/schema/ml_linkage__artist_name_to_link.yml
Due: none

fix: Fix paths
  mkdocs.yml
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/linkage/artist/description__ml_linkage__artist_name_to_link.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/overview.md
Due: none

fix: Ensure ratio_synchronized_data is not null
  jobs/ml_jobs/artist_linkage/cluster.py
Due: format-fix, lint-fix

fix: Fix preprocessing for data without comas in name
  jobs/ml_jobs/artist_linkage/match_artists_on_wikidata.py
Due: format-fix, lint-fix

fix: Fix offer_is_synchronized renaming for test sets
  jobs/ml_jobs/artist_linkage/evaluate.py
Due: format-fix, lint-fix

(DE-825) feat(ae): Migrate artist linkage to dbt (1/2) (#3488)
  jobs/ml_jobs/artist_linkage/cluster.py
  jobs/ml_jobs/artist_linkage/constants.py
  jobs/ml_jobs/artist_linkage/evaluate.py
  jobs/ml_jobs/artist_linkage/match_artists_on_wikidata.py
  jobs/ml_jobs/artist_linkage/preprocess.py
  jobs/ml_jobs/artist_linkage/streamlits/st_explore_and_clusterize_data.py
  jobs/ml_jobs/artist_linkage/tests/utils/clustering_utils_test.py
  jobs/ml_jobs/artist_linkage/tests/utils/preprocessing_utils_test.py
  jobs/ml_jobs/artist_linkage/utils/clustering_utils.py
  jobs/ml_jobs/artist_linkage/utils/preprocessing_utils.py
  mkdocs.yml
  orchestration/dags/common/config.py
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/ml/column__artist.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/linkage/artist/description__ml_linkage__artist_name_to_link.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/overview.md
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/artist/input/ml_linkage__artist_name_to_link.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/artist/input/schema/ml_linkage__artist_name_to_link.yml
  orchestration/dags/dependencies/ml/linkage/import_artists.py
  orchestration/dags/dependencies/ml/linkage/sql/artists_to_link.sql
  orchestration/dags/dependencies/ml/linkage/sql/create_artist_alias_table.sql
  orchestration/dags/dependencies/ml/linkage/sql/create_artist_table.sql
  orchestration/dags/dependencies/ml/linkage/sql/create_product_artist_link_table.sql
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix, sqlfmt

feat: Add cache reset before querying qlever
  jobs/ml_jobs/artist_linkage/extract_from_wikidata.py
Due: format-fix, lint-fix

fix(dms): remove problematic entry from demarches_pro list
  jobs/etl_jobs/external/dms/utils.py
Due: format-fix, lint-fix

(DE) feat(dag): clickhouse batch export for sandbox and backfill
  orchestration/dags/jobs/crons.py
  orchestration/dags/jobs/export/export_clickhouse_batch.py
Due: format-fix, lint-fix

fix(dms): remove problematic entry from demarches_pro list (#3500)
  jobs/etl_jobs/external/dms/utils.py
Due: format-fix, lint-fix

feat: Add cache reset before querying qlever (#3498)
  jobs/ml_jobs/artist_linkage/extract_from_wikidata.py
Due: format-fix, lint-fix

feat: Add ml_linkage_artist__artist schema
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/artist/_schema/ml_linkage_artist__artist.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/artist/ml_linkage_artist__artist.sql
Due: sqlfmt

feat: Add ml_linkage_artist__product_artist_link schema
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/artist/_schema/ml_linkage_artist__product_artist_link.yml
Due: none

refactor: Rename and move files
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/artist/ml_linkage__artist.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/artist/ml_linkage__artist_alias.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/artist/ml_linkage__artist_name_to_link.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/artist/ml_linkage_product_artist_link.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/artist/schema/ml_linkage__artist_name_to_link.yml
Due: sqlfmt

feat: Add ml_linkage__artist_alias_table.sql and ml_linkage_product_artist_link_table.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/artist/output/ml_linkage__artist_alias_table.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/artist/output/ml_linkage_product_artist_link_table.sql
Due: sqlfmt

feat: Add ml_linkage__artist_table.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/artist/output/ml_linkage__artist_table.sql
Due: sqlfmt

feat: Add export_data_with_dbt task
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

refactor: Remove deprecated tables
  orchestration/dags/dependencies/ml/linkage/create_artist_alias_table.py
  orchestration/dags/dependencies/ml/linkage/create_artist_table.py
  orchestration/dags/dependencies/ml/linkage/create_product_artist_link_table.py
  orchestration/dags/dependencies/ml/linkage/sql/create_artist_alias_table.sql
  orchestration/dags/dependencies/ml/linkage/sql/create_artist_table.sql
  orchestration/dags/dependencies/ml/linkage/sql/create_product_artist_link_table.sql
Due: format-fix, lint-fix, sqlfmt

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfmt: any of: \.sql$
