Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: system
  stages:
  - commit

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: system
  stages:
  - commit

sqlfluff-format-fix:
  name: Formatting (sqlfluff)
  entry: make sqlfluff_format
  language: system
  stages:
  - commit

sqlfluff-lint-fix echo $(git diff --cached --name-only):
  name: Linter (sqlfluff)
  entry: make sqlfluff_fix $(git diff --cached --name-only)
  language: system
  stages:
  - commit

sqlfluff-lint-check:
  name: Lint check (sqlfluff)
  entry: make sqlfluff_lint echo $(git diff --cached --name-only)
  language: system
  stages:
  - commit

increase invovation timeout for long model
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__stats_display_cum_daily_consult_per_offerer_last_180_days.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

update macro with elementary profile
  orchestration/dags/data_gcp_dbt/macros/generate_schema_name.sql
  orchestration/dags/data_gcp_dbt/macros/get_custom_alias.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

improve verbosity
  orchestration/dags/common/utils.py
Due: format-fix, lint-fix

fix: Remove comma typo
  orchestration/dags/common/hooks/network.py
Due: format-fix, lint-fix

refacotr: Remove unused data in docker-compose and refacto
  orchestration/Makefile
  orchestration/docker-compose.yaml
Due: none

disable partial parsing at job level
  orchestration/dags/data_gcp_dbt/dbt_project.yml
  orchestration/dags/jobs/dbt/dbt_dag_run.py
Due: format-fix, lint-fix

remove custom alert from data quality dag
  orchestration/dags/jobs/dbt/dbt_artifacts.py
Due: format-fix, lint-fix

fix linter
  orchestration/dags/jobs/dbt/dbt_artifacts.py
Due: format-fix, lint-fix

deploy dbt docs generated artifacts
  .github/workflows/reusable_deploy_composer.yml
Due: none

remove unused dbt packages
  orchestration/dags/data_gcp_dbt/README.md
  orchestration/dags/data_gcp_dbt/macros/audit/compare_relations.sql
  orchestration/dags/data_gcp_dbt/packages.yml
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

refactor: refacto dockercompose
  orchestration/Makefile
  orchestration/docker-compose.yaml
Due: none

Update int_global__user.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__user.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

feat: update subquery name
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__extract_offer.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

feat: Readd VPC_HOST_EHP
  orchestration/dags/common/config.py
  orchestration/dags/common/hooks/gce.py
  orchestration/dags/common/hooks/network.py
  orchestration/dags/common/operators/gce.py
  orchestration/dags/jobs/export/export_clickhouse.py
  orchestration/dags/launch_vm.py
Due: format-fix, lint-fix

brute force no concurrency
  orchestration/dags/data_gcp_dbt/scripts/dbt_run.sh
  orchestration/dags/jobs/dbt/dbt_dag_run.py
Due: format-fix, lint-fix

[DE-581] refactor: Remove unused code for triplet model training
  jobs/ml_jobs/algo_training/triplet_model/__init__.py
  jobs/ml_jobs/algo_training/triplet_model/models/match_model.py
  jobs/ml_jobs/algo_training/triplet_model/models/triplet_model.py
  jobs/ml_jobs/algo_training/triplet_model/train.py
  jobs/ml_jobs/algo_training/triplet_model/utils/callbacks.py
  jobs/ml_jobs/algo_training/triplet_model/utils/dataset_utils.py
  jobs/ml_jobs/algo_training/triplet_model/utils/model_utils.py
Due: format-fix, lint-fix

[DE-581] refactor: Remove unused code for triplet model training
  jobs/ml_jobs/algo_training/baseline_model/__init__.py
  jobs/ml_jobs/algo_training/baseline_model/models/baseline_model.py
  jobs/ml_jobs/algo_training/baseline_model/models/match_model.py
  jobs/ml_jobs/algo_training/baseline_model/train.py
Due: format-fix, lint-fix

[DE-581] refactor: Remove unused code for algo training
  orchestration/dags/jobs/ml/algo_training.py
  orchestration/dags/jobs/ml/algo_training_baseline.py
  orchestration/dags/jobs/ml/algo_training_qpi.py
Due: format-fix, lint-fix

Add elementary schema + remove re_data
  orchestration/dags/data_gcp_dbt/dbt_project.yml
  orchestration/dags/jobs/dbt/dbt_artifacts.py
Due: format-fix, lint-fix

[DE-581] refactor: Update imports for two_towers_model in evaluate.py, preprocess.py, and train.py
  jobs/ml_jobs/algo_training/two_towers_model/evaluate.py
  jobs/ml_jobs/algo_training/two_towers_model/preprocess.py
  jobs/ml_jobs/algo_training/two_towers_model/train.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/__init__.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/callbacks.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/constants.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/data_collect_queries.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/diversification.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/evaluate.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/layers.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/metrics.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/mlflow_tools.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/secrets_utils.py
  jobs/ml_jobs/algo_training/utils/__init__.py
  jobs/ml_jobs/algo_training/utils/constants.py
  orchestration/dags/jobs/ml/algo_training_two_towers.py
Due: format-fix, lint-fix

(DE-582) elementary in dag (#3136)
  orchestration/dags/common/config.py
  orchestration/dags/data_gcp_dbt/dbt-requirements.in
  orchestration/dags/data_gcp_dbt/dbt-requirements.txt
  orchestration/dags/data_gcp_dbt/dbt_project.yml
  orchestration/dags/data_gcp_dbt/macros/generate_schema_name.sql
  orchestration/dags/data_gcp_dbt/macros/get_custom_alias.sql
  orchestration/dags/data_gcp_dbt/packages.yml
  orchestration/dags/data_gcp_dbt/scripts/elementary_send_report.sh
  orchestration/dags/jobs/dbt/dbt_artifacts.py
Due: format-fix, lint-fix, sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

same for critical tests
  orchestration/dags/data_gcp_dbt/scripts/dbt_test_model.sh
Due: none

add --vars flag to doc generate CD
  .github/workflows/reusable_deploy_composer.yml
Due: none

increase invovation timeout for long model (#3163)
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__stats_display_cum_daily_consult_per_offerer_last_180_days.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

improve verbosity (#3164)
  orchestration/dags/common/utils.py
Due: format-fix, lint-fix

Dbt/airflow/artifacts-management (#3165)
  .github/workflows/reusable_deploy_composer.yml
  orchestration/dags/data_gcp_dbt/dbt_project.yml
  orchestration/dags/data_gcp_dbt/scripts/dbt_run.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_test_model.sh
Due: none

fix: update field in eple_aggregated
  orchestration/dags/data_gcp_dbt/models/analytics/eple_aggregated.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

add tmp prefix for artifacts replicate folders
  orchestration/dags/data_gcp_dbt/scripts/dbt_run.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_test_model.sh
Due: none

set default value to fix ELEMENTARY_PYTHON_PATH import
  orchestration/dags/common/config.py
Due: format-fix, lint-fix

fix: Fix parameter input to DAG
  orchestration/dags/common/operators/gce.py
  orchestration/dags/launch_vm.py
Due: format-fix, lint-fix

Set a trap to ensure the temporary folder is deleted even if the script fails
  orchestration/dags/data_gcp_dbt/scripts/dbt_run.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_run_tag.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_snapshot.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_test_model.sh
Due: none

fix: Fix typo
  orchestration/dags/common/hooks/network.py
Due: format-fix, lint-fix

refactor: Move network constants to network.py
  orchestration/dags/common/config.py
  orchestration/dags/common/hooks/network.py
Due: format-fix, lint-fix

Set a trap to ensure the temporary folder is deleted even if the script fails (#3170)
  orchestration/dags/data_gcp_dbt/scripts/dbt_run.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_run_tag.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_snapshot.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_test_model.sh
Due: none

Add network interface so that vm are also in vpc-data-ehp for ehp (#3153)
  orchestration/Makefile
  orchestration/dags/common/config.py
  orchestration/dags/common/hooks/gce.py
  orchestration/dags/common/hooks/network.py
  orchestration/dags/common/operators/gce.py
  orchestration/dags/jobs/export/export_clickhouse.py
  orchestration/dags/launch_vm.py
  orchestration/docker-compose.yaml
Due: format-fix, lint-fix

feat: Update offer depedencies
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/enriched_partner_retention_data.sql
  orchestration/dags/data_gcp_dbt/models/analytics/history/bookable_venue_history.sql
  orchestration/dags/data_gcp_dbt/models/analytics/offer_moderation.sql
  orchestration/dags/data_gcp_dbt/models/clean/item_metadata.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

fix/elementary add env for report summary
  orchestration/dags/data_gcp_dbt/scripts/elementary_send_report.sh
Due: none

fix/elementary add env for report summary (#3171)
  orchestration/dags/data_gcp_dbt/scripts/elementary_send_report.sh
Due: none

feat: Update offer depedencies (#3166)
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/enriched_partner_retention_data.sql
  orchestration/dags/data_gcp_dbt/models/analytics/history/bookable_venue_history.sql
  orchestration/dags/data_gcp_dbt/models/analytics/offer_moderation.sql
  orchestration/dags/data_gcp_dbt/models/clean/item_metadata.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfluff-format-fix: any of: \.sql$
  sqlfluff-lint-fix echo $(git diff --cached --name-only): any of: \.sql$
  sqlfluff-lint-check: any of: \.sql$
