Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
  # Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
  # Add new hook types here to ensure automatic installation when running `pre-commit install`
  - pre-commit
  - pre-push
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: format-fix
        name: Formatting (ruff)
        entry: ruff format
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: lint-fix
        name: Linting (ruff)
        entry: ruff check --fix
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: sqlfmt
        name: SQL Formatting (sqlfmt)
        entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
        stages: [push]
        language: python
        additional_dependencies: ["shandy-sqlfmt[jinjafmt]==0.23.2"]
        types: [sql]
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.3.0
    hooks:
      - id: sqlfluff-fix
        additional_dependencies:
          ["dbt-bigquery==1.8.1", "sqlfluff-templater-dbt"]
        stages: [commit]
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.0
    hooks:
    - id: markdownlint-cli2
      language_version: 24.0.0
      args:
        - --fix

changed src structure for clarity
  jobs/ml_jobs/finance/src/modeling/prophet/prophet_evaluate.py
  jobs/ml_jobs/finance/src/modeling/prophet/prophet_plots.py
  jobs/ml_jobs/finance/src/modeling/prophet/prophet_predict.py
  jobs/ml_jobs/finance/src/modeling/prophet/prophet_train.py
  jobs/ml_jobs/finance/src/prophet_full_pipeline.py
  jobs/ml_jobs/finance/src/utils/bigquery.py
  jobs/ml_jobs/finance/src/utils/mlflow.py
Due: format-fix, lint-fix

renamed project name
  jobs/ml_jobs/DAF_pricing_forecast/Makefile
  jobs/ml_jobs/DAF_pricing_forecast/README.md
  jobs/ml_jobs/DAF_pricing_forecast/__init__.py
  jobs/ml_jobs/DAF_pricing_forecast/main.py
  jobs/ml_jobs/DAF_pricing_forecast/pyproject.toml
  jobs/ml_jobs/DAF_pricing_forecast/src/__init__.py
  jobs/ml_jobs/DAF_pricing_forecast/src/constants.py
  jobs/ml_jobs/DAF_pricing_forecast/src/modeling/prophet/prophet_evaluate.py
  jobs/ml_jobs/DAF_pricing_forecast/src/modeling/prophet/prophet_plots.py
  jobs/ml_jobs/DAF_pricing_forecast/src/modeling/prophet/prophet_predict.py
  jobs/ml_jobs/DAF_pricing_forecast/src/modeling/prophet/prophet_train.py
  jobs/ml_jobs/DAF_pricing_forecast/src/prophet_full_pipeline.py
  jobs/ml_jobs/DAF_pricing_forecast/src/prophet_model_configs/daily_prophet.json
  jobs/ml_jobs/DAF_pricing_forecast/src/prophet_model_configs/weekly_prophet.json
  jobs/ml_jobs/DAF_pricing_forecast/src/utils/bigquery.py
  jobs/ml_jobs/DAF_pricing_forecast/src/utils/mlflow.py
  jobs/ml_jobs/DAF_pricing_forecast/tests/__init__.py
  jobs/ml_jobs/DAF_pricing_forecast/tests/hello_test.py
  jobs/ml_jobs/DAF_pricing_forecast/utils/__init__.py
  jobs/ml_jobs/DAF_pricing_forecast/uv.lock
Due: format-fix, lint-fix

added docstring and reformatted file for clarity
  jobs/ml_jobs/DAF_pricing_forecast/main.py
  jobs/ml_jobs/DAF_pricing_forecast/pyproject.toml
  jobs/ml_jobs/DAF_pricing_forecast/src/modeling/prophet/prophet_evaluate.py
  jobs/ml_jobs/DAF_pricing_forecast/src/modeling/prophet/prophet_model_configs/daily_pricing.json
  jobs/ml_jobs/DAF_pricing_forecast/src/modeling/prophet/prophet_model_configs/weekly_pricing.json
  jobs/ml_jobs/DAF_pricing_forecast/src/modeling/prophet/prophet_plots.py
  jobs/ml_jobs/DAF_pricing_forecast/src/modeling/prophet/prophet_predict.py
  jobs/ml_jobs/DAF_pricing_forecast/src/modeling/prophet/prophet_train.py
  jobs/ml_jobs/DAF_pricing_forecast/src/prophet_full_pipeline.py
  jobs/ml_jobs/DAF_pricing_forecast/src/utils/bigquery.py
  jobs/ml_jobs/DAF_pricing_forecast/src/utils/constants.py
  jobs/ml_jobs/DAF_pricing_forecast/src/utils/mlflow.py
  jobs/ml_jobs/DAF_pricing_forecast/utils/__init__.py
  jobs/ml_jobs/DAF_pricing_forecast/uv.lock
Due: format-fix, lint-fix

renamed main as main_prophet
  jobs/ml_jobs/DAF_pricing_forecast/main_prophet.py
Due: format-fix, lint-fix

moved prophet from modelling o src
  jobs/ml_jobs/DAF_pricing_forecast/main_prophet.py
  jobs/ml_jobs/DAF_pricing_forecast/src/prophet/__init__.py
  jobs/ml_jobs/DAF_pricing_forecast/src/prophet/prophet_evaluate.py
  jobs/ml_jobs/DAF_pricing_forecast/src/prophet/prophet_model_configs/daily_pricing.json
  jobs/ml_jobs/DAF_pricing_forecast/src/prophet/prophet_model_configs/weekly_pricing.json
  jobs/ml_jobs/DAF_pricing_forecast/src/prophet/prophet_plots.py
  jobs/ml_jobs/DAF_pricing_forecast/src/prophet/prophet_predict.py
  jobs/ml_jobs/DAF_pricing_forecast/src/prophet/prophet_train.py
  jobs/ml_jobs/DAF_pricing_forecast/src/utils/__init__.py
Due: format-fix, lint-fix

readme
  jobs/ml_jobs/DAF_pricing_forecast/README.md
Due: none

added new fields
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__collective_booking.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__educational_deposit.md
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__educational_deposit.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__educational_deposit.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__educational_deposit.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/collective_booking.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/educational_deposit.sql
Due: sqlfmt

changed naming again
  jobs/ml_jobs/DAF_pricing_forecast/main_prophet.py
  jobs/ml_jobs/DAF_pricing_forecast/src/prophet/evaluate.py
  jobs/ml_jobs/DAF_pricing_forecast/src/prophet/plots.py
  jobs/ml_jobs/DAF_pricing_forecast/src/prophet/predict.py
  jobs/ml_jobs/DAF_pricing_forecast/src/prophet/train.py
Due: format-fix, lint-fix

changed job name to finance
  jobs/ml_jobs/finance/Makefile
  jobs/ml_jobs/finance/README.md
  jobs/ml_jobs/finance/__init__.py
  jobs/ml_jobs/finance/main_prophet.py
  jobs/ml_jobs/finance/pyproject.toml
  jobs/ml_jobs/finance/src/__init__.py
  jobs/ml_jobs/finance/src/prophet/__init__.py
  jobs/ml_jobs/finance/src/prophet/evaluate.py
  jobs/ml_jobs/finance/src/prophet/plots.py
  jobs/ml_jobs/finance/src/prophet/predict.py
  jobs/ml_jobs/finance/src/prophet/prophet_model_configs/daily_pricing.json
  jobs/ml_jobs/finance/src/prophet/prophet_model_configs/weekly_pricing.json
  jobs/ml_jobs/finance/src/prophet/train.py
  jobs/ml_jobs/finance/src/utils/__init__.py
  jobs/ml_jobs/finance/src/utils/bigquery.py
  jobs/ml_jobs/finance/src/utils/constants.py
  jobs/ml_jobs/finance/src/utils/mlflow.py
  jobs/ml_jobs/finance/tests/__init__.py
  jobs/ml_jobs/finance/tests/hello_test.py
  jobs/ml_jobs/finance/uv.lock
Due: format-fix, lint-fix

added new fields
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__educational_deposit.sql
Due: sqlfmt

added location_type in collective_offer model (#4740)
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__collective_booking.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__collective_booking.sql
Due: sqlfmt

fix
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__collective_booking.md
Due: none

Improve documentation
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__user.md
Due: none

chore/monitoring: remove appsflyer freshness alerts
  jobs/etl_jobs/internal/bigquery_alerts/utils.py
Due: format-fix, lint-fix

feat/monitoring: add schedule label 'never' for fine grain freshness alert disabling in dbt models
  jobs/etl_jobs/internal/bigquery_alerts/utils.py
Due: format-fix, lint-fix

feat/instagram: transient error handling
  jobs/etl_jobs/external/instagram/extract.py
  jobs/etl_jobs/external/instagram/main.py
  jobs/etl_jobs/external/instagram/requirements.in
  jobs/etl_jobs/external/instagram/requirements.txt
  jobs/etl_jobs/external/instagram/utils.py
Due: format-fix, lint-fix

clean/dbt: remove unused sources
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: none

Update jobs/etl_jobs/external/instagram/extract.py
  jobs/etl_jobs/external/instagram/extract.py
Due: format-fix, lint-fix

refactor
  jobs/etl_jobs/external/instagram/extract.py
Due: format-fix, lint-fix

Refactor LLM tools and prediction models; remove unused files and improve filtering logic
  jobs/ml_jobs/edito_semantic_search/.env
  jobs/ml_jobs/edito_semantic_search/Dockerfile
  jobs/ml_jobs/edito_semantic_search/Makefile
  jobs/ml_jobs/edito_semantic_search/README.md
  jobs/ml_jobs/edito_semantic_search/app/.env
  jobs/ml_jobs/edito_semantic_search/app/app.py
  jobs/ml_jobs/edito_semantic_search/app/constants.py
  jobs/ml_jobs/edito_semantic_search/app/llm/action.txt
  jobs/ml_jobs/edito_semantic_search/app/llm/llm_tools.py
  jobs/ml_jobs/edito_semantic_search/app/llm/system_prompt.txt
  jobs/ml_jobs/edito_semantic_search/app/models/predictions.py
  jobs/ml_jobs/edito_semantic_search/app/models/validators.py
  jobs/ml_jobs/edito_semantic_search/app/post_process/panachage.py
  jobs/ml_jobs/edito_semantic_search/app/routes.py
  jobs/ml_jobs/edito_semantic_search/app/search/client.py
  jobs/ml_jobs/edito_semantic_search/build_and_push_docker_image.py
  jobs/ml_jobs/edito_semantic_search/build_lancedb_index.py
  jobs/ml_jobs/edito_semantic_search/build_lancedb_table.py
  jobs/ml_jobs/edito_semantic_search/constants.py
  jobs/ml_jobs/edito_semantic_search/deploy_model.py
  jobs/ml_jobs/edito_semantic_search/deploy_to_docker_registery.sh
  jobs/ml_jobs/edito_semantic_search/inspect_lancedb_scalar_table.py
  jobs/ml_jobs/edito_semantic_search/notes.py
  jobs/ml_jobs/edito_semantic_search/streamlits/st_visualise_api_response.py
  jobs/ml_jobs/edito_semantic_search/streamlits/st_visualise_predictions.py
  jobs/ml_jobs/edito_semantic_search/tests/hello_test.py
  jobs/ml_jobs/edito_semantic_search/tests/test_predict_filters.py
  jobs/ml_jobs/edito_semantic_search/utils/__init__.py
Due: format-fix, lint-fix

feat: Add action prompt for cultural event curation and refine Docker container registry path
  jobs/ml_jobs/edito_semantic_search/app/llm/action_prompt.txt
  jobs/ml_jobs/edito_semantic_search/build_and_push_docker_image.py
  jobs/ml_jobs/edito_semantic_search/constants.py
Due: format-fix, lint-fix

feat/airflow: tasks priority & pool management for GCE derived operators
  orchestration/dags/common/operators/gce.py
Due: format-fix, lint-fix

chore/titelive: increase task priority to avoid vm cleaning timeout
  orchestration/dags/jobs/import/import_titelive.py
Due: format-fix, lint-fix

feat: Update Dockerfile and dependencies for improved environment configuration and CPU-only support for PyTorch
  jobs/ml_jobs/edito_semantic_search/Dockerfile
  jobs/ml_jobs/edito_semantic_search/app/search/client.py
  jobs/ml_jobs/edito_semantic_search/constants.py
  jobs/ml_jobs/edito_semantic_search/pyproject.toml
  jobs/ml_jobs/edito_semantic_search/uv.lock
Due: format-fix, lint-fix

added collective_stock_price_detail
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__collective_offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__collective_offer.sql
Due: sqlfmt

(DE) feat(instagram): transient error handling (#4744)
  jobs/etl_jobs/external/instagram/extract.py
  jobs/etl_jobs/external/instagram/main.py
  jobs/etl_jobs/external/instagram/requirements.in
  jobs/etl_jobs/external/instagram/requirements.txt
  jobs/etl_jobs/external/instagram/utils.py
Due: format-fix, lint-fix

(DE-3065) feat(dbt): add user_age_at_creation to user and user_beneficiary (#4731)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__user.md
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__user.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__user.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__user_beneficiary.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__user.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__user_beneficiary.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user_beneficiary.sql
Due: sqlfmt

add territories kpis
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__booking.sql
Due: sqlfmt

update template xlsx
  jobs/etl_jobs/external/external_reporting/templates/export_template.xlsx
Due: none

feat: Enhance prediction logging and error handling in API routes
  jobs/ml_jobs/edito_semantic_search/app/llm/llm_tools.py
  jobs/ml_jobs/edito_semantic_search/app/routes.py
Due: format-fix, lint-fix

(DE) feat(airflow): add sshGCE operators tasks priority and pool for titelive etl (#4746)
  orchestration/dags/common/operators/gce.py
  orchestration/dags/jobs/import/import_titelive.py
Due: format-fix, lint-fix

(DE) chore(monitoring): remove appsflyer freshness alerts (#4742)
  jobs/etl_jobs/internal/bigquery_alerts/utils.py
Due: format-fix, lint-fix

added price_detail in collective_offer
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__collective_offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__collective_offer.sql
Due: sqlfmt

update template xlsx (#4747)
  jobs/etl_jobs/external/external_reporting/templates/export_template.xlsx
Due: none

add doc
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__collective_offer.md
Due: none

deploy: d9869a08323fcddc5538d164b1549598b4938dc2
  __pycache__/hooks.cpython-312.pyc
  dbt/glossary/applicative_database/column__user/index.html
  dbt/models/mart/finance/description__mrt_finance__reimbursement/index.html
  dbt/models/mart/global/description__mrt_global__collective_booking/index.html
  dbt/models/mart/global/description__mrt_global__user/index.html
  dbt/models/mart/global/description__mrt_global__user_beneficiary/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

doc
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__collective_offer.yml
Due: none

hotfix/airflow: deduplicate template fields from baseOperator
  orchestration/dags/common/operators/gce.py
Due: format-fix, lint-fix

hotfix/airflow: deduplicate template fields from baseOperator (#4751)
  orchestration/dags/common/operators/gce.py
Due: format-fix, lint-fix
