Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
# Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
# Add new hook types here to ensure automatic installation when running `pre-commit install`
- pre-commit
- pre-push
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-json
  - id: check-added-large-files

- repo: local
  hooks:
  - id: format-fix
    name: Formatting (ruff)
    entry: ruff format
    language: system
    types: [python]
    stages: [commit]
  - id: lint-fix
    name: Linting (ruff)
    entry: ruff check --fix
    language: system
    types: [python]
    stages: [commit]
  - id: sqlfmt
    name: SQL Formatting (sqlfmt)
    entry: make sqlfmt
    stages: [commit]
    language: system
    types: [sql]
  # - id: sqlfluff-lint-check
  #   name: Lint check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_lint.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-format-check
  #   name: format check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_format.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-fix
  #   name: fix (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_fix.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]

(BSR) dbt(packages): replace deprecated and update other packages
  orchestration/dags/data_gcp_dbt/packages.yml
Due: none

(HF) refactor(archiving): remove past offer context archiving
  orchestration/dags/jobs/administration/bigquery_archive_partition.py
Due: format-fix, lint-fix

feat: Add .gitignore
  jobs/ml_jobs/ranking_endpoint/.gitignore
Due: none

fix: Fix train and test figures mismatch
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
Due: format-fix, lint-fix

(DE) ci(airflow): deploy airflow on k8s stg env
  .github/workflows/on_cd__workflow.yml
Due: none

(DE) ci(airflow): deploy airflow on k8s stg env (#4000)
  .github/workflows/on_cd__workflow.yml
Due: none

(BSR) dbt(packages): replace deprecated and update other packages (#3999)
  orchestration/dags/data_gcp_dbt/packages.yml
Due: none

(BSR) fix(ranking): Fix ranking figures (#4003)
  jobs/ml_jobs/ranking_endpoint/.gitignore
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
Due: format-fix, lint-fix

sqlfuff
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/enriched_partner_retention_data.sql
  orchestration/dags/data_gcp_dbt/models/analytics/history/bookable_venue_history.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offerer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/brevo/mrt_brevo__retention_pro.sql
Due: sqlfmt

sqlfuff
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offerer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__venue.sql
Due: sqlfmt

(BSR) feat(ranking): Add dot product in ranking training data (#4001)
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__ranking_training_data.sql
Due: sqlfmt

(DE) fix(cd): fix github env name
  .github/workflows/on_cd__workflow.yml
Due: none

(DE) fix(cd): fix github env name (#4005)
  .github/workflows/on_cd__workflow.yml
Due: none

(DE-809) feat(dbt): Switch bookable venue history to snapshot (#4004)
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/enriched_partner_retention_data.sql
  orchestration/dags/data_gcp_dbt/models/analytics/history/bookable_venue_history.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offerer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/brevo/mrt_brevo__retention_pro.sql
Due: sqlfmt

(HF) refactor(archiving): remove past offer context archiving (#4002)
  orchestration/dags/jobs/administration/bigquery_archive_partition.py
Due: format-fix, lint-fix

DEBUG: Hack for training
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
  jobs/ml_jobs/ranking_endpoint/utils.py
Due: format-fix, lint-fix

refactor: Add feature mapping
  jobs/ml_jobs/ranking_endpoint/app/model.py
Due: format-fix, lint-fix

WIP: update preprocess data
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
Due: format-fix, lint-fix

feat: Add map_features_columns to add missing values
  jobs/ml_jobs/ranking_endpoint/app/model.py
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
  jobs/ml_jobs/ranking_endpoint/preprocessing.py
Due: format-fix, lint-fix

feat: get embeddings from json
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
Due: format-fix, lint-fix

chore: Add print
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
Due: format-fix, lint-fix

feat: Add item_user similarity
  jobs/ml_jobs/ranking_endpoint/app/model.py
Due: format-fix, lint-fix

(BSR) dbt(packages): skip chmod on elementary_send_report.sh
  orchestration/dags/data_gcp_dbt/scripts/elementary_send_report.sh
Due: none

WIP: deactivate retrain on whole
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
Due: format-fix, lint-fix

sqlfluff
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/aggregated_daily_offer_consultation_data.sql
  orchestration/dags/data_gcp_dbt/models/export/ministry/exp_ministry__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offer.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__venue.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__favorite.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__consultation.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_home_offer_displayed.sql
Due: sqlfmt

format
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_home_offer_displayed.sql
Due: sqlfmt

feat: Add logging
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
Due: format-fix, lint-fix

(DE-1415) feat(dbt): update institution location source (#3982)
  orchestration/dags/data_gcp_dbt/models/intermediate/geolocation/int_geo__institution_location.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/seed/int_seed__institution_metadata.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__educational_institution.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/educational_institution.sql
Due: sqlfmt

feat: Try other splitting
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
Due: format-fix, lint-fix

sqlfluff
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__cultural_partner.sql
Due: sqlfmt

(BSR) ci(fix): remove airflow manual deployement on stg
  .github/workflows/on_cd__workflow.yml
Due: none

(BSR) ci(fix): remove airflow manual deployement on stg (#4008)
  .github/workflows/on_cd__workflow.yml
Due: none

feat: Move csv saving to parquet
  jobs/ml_jobs/ranking_endpoint/.gitignore
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
Due: format-fix, lint-fix

WIP: debug
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
Due: format-fix, lint-fix

fix doc native_daily_home_offer_displayed
  orchestration/dags/data_gcp_dbt/models/mart/native/_schema/mrt_native__daily_home_offer_displayed.yml
Due: none

WIP: Add embeds
  jobs/ml_jobs/ranking_endpoint/app/model.py
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
Due: format-fix, lint-fix

DEBUG
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
Due: format-fix, lint-fix

fix ci
  orchestration/dags/data_gcp_dbt/models/mart/native/_schema/mrt_native__daily_home_offer_displayed.yml
Due: none

(BSR) chore(cleaning): remove deprecated table user_pro_flags
  orchestration/dags/data_gcp_dbt/models/clean/applicative/user_pro_flags.sql
  orchestration/dags/data_gcp_dbt/scripts/elementary_send_report_k8s.sh
Due: sqlfmt

last fix
  orchestration/dags/data_gcp_dbt/models/mart/native/_schema/mrt_native__daily_home_offer_displayed.yml
Due: none
