Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: system
  stages:
  - commit

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: system
  stages:
  - commit

sqlfmt:
  name: SQL Formatting (sqlfmt)
  entry: make sqlfmt
  stages:
  - commit
  language: system

feat: add doc + update table name
  jobs/etl_jobs/internal/sync_recommendation/services/database.py
  jobs/etl_jobs/internal/sync_recommendation/utils/constant.py
  orchestration/dags/jobs/api/sync_bigquery_to_cloudsql_recommendation_tables.py
  orchestration/dags/jobs/api/sync_cloudsql_recommendation_tables_to_bigquery.py
Due: format-fix, lint-fix

feat: add doc + update table name
  jobs/etl_jobs/internal/sync_recommendation/jobs/hourly_sql_to_bq/cloudsql_to_gcs.py
  orchestration/dags/jobs/api/sync_cloudsql_recommendation_tables_to_bigquery.py
  orchestration/dags/jobs/crons.py
Due: format-fix, lint-fix

feat: add doc + update table name
  orchestration/dags/jobs/api/sync_cloudsql_recommendation_tables_to_bigquery.py
Due: format-fix, lint-fix

(BSR) feat(api): hourly import cloudsql + refactor export job logic (#3924)
  jobs/etl_jobs/internal/export_recommendation/README.md
  jobs/etl_jobs/internal/export_recommendation/jobs/export.py
  jobs/etl_jobs/internal/export_recommendation/jobs/import_sql.py
  jobs/etl_jobs/internal/export_recommendation/jobs/materialize.py
  jobs/etl_jobs/internal/sync_recommendation/README.md
  jobs/etl_jobs/internal/sync_recommendation/bq_to_sql.py
  jobs/etl_jobs/internal/sync_recommendation/jobs/daily_bq_to_sql/export_to_gcs.py
  jobs/etl_jobs/internal/sync_recommendation/jobs/daily_bq_to_sql/gcs_to_sql.py
  jobs/etl_jobs/internal/sync_recommendation/jobs/daily_bq_to_sql/sql_materialize.py
  jobs/etl_jobs/internal/sync_recommendation/jobs/hourly_sql_to_bq/cloudsql_to_gcs.py
  jobs/etl_jobs/internal/sync_recommendation/jobs/hourly_sql_to_bq/gcs_to_bq.py
  jobs/etl_jobs/internal/sync_recommendation/jobs/hourly_sql_to_bq/rm_sql_table.py
  jobs/etl_jobs/internal/sync_recommendation/pyproject.toml
  jobs/etl_jobs/internal/sync_recommendation/requirements.in
  jobs/etl_jobs/internal/sync_recommendation/requirements.txt
  jobs/etl_jobs/internal/sync_recommendation/services/database.py
  jobs/etl_jobs/internal/sync_recommendation/services/materialized_view.py
  jobs/etl_jobs/internal/sync_recommendation/services/storage.py
  jobs/etl_jobs/internal/sync_recommendation/sql/create_enriched_user_mv.sql
  jobs/etl_jobs/internal/sync_recommendation/sql/create_iris_france_mv.sql
  jobs/etl_jobs/internal/sync_recommendation/sql/create_item_ids_mv.sql
  jobs/etl_jobs/internal/sync_recommendation/sql/create_non_recommendable_items_mv.sql
  jobs/etl_jobs/internal/sync_recommendation/sql/create_recommendable_offers_raw_mv.sql
  jobs/etl_jobs/internal/sync_recommendation/sql_to_bq.py
  jobs/etl_jobs/internal/sync_recommendation/utils/bq_config.py
  jobs/etl_jobs/internal/sync_recommendation/utils/constant.py
  jobs/etl_jobs/internal/sync_recommendation/utils/secret.py
  jobs/etl_jobs/internal/sync_recommendation/utils/sql_config.py
  jobs/etl_jobs/internal/sync_recommendation/utils/validate.py
  orchestration/dags/jobs/api/sync_bigquery_to_cloudsql_recommendation_tables.py
  orchestration/dags/jobs/api/sync_cloudsql_recommendation_tables_to_bigquery.py
  orchestration/dags/jobs/crons.py
Due: format-fix, lint-fix, sqlfmt

(HF) feat(api): sync api typo error
  orchestration/dags/jobs/api/sync_cloudsql_recommendation_tables_to_bigquery.py
Due: format-fix, lint-fix

feat: Add proper fillna and fix status calculation
  jobs/ml_jobs/ranking_endpoint/src/preprocessing.py
Due: format-fix, lint-fix

(DE) feat(vm): instance name prefix + disable stop vm hook for simple tasks (#4037)
  orchestration/dags/common/alerts.py
  orchestration/dags/common/config.py
Due: format-fix, lint-fix

(BSR) chore(collectiveSubcategoryId): DB change remove subcategory id from collective objects
  orchestration/dags/data_gcp_dbt/models/analytics/venue_siren_offers.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__collective_offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__collective_offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__collective_booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__collective_offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__educational_institution.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__collective_offer.sql
  orchestration/dags/dependencies/applicative_database/sql/clean/history/collective_offer_history.sql
  orchestration/dags/dependencies/applicative_database/sql/clean/history/collective_offer_template_history.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/collective_offer.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/collective_offer_template.sql
  orchestration/tests/data_analytics/config.py
Due: format-fix, lint-fix, sqlfmt

update doc
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__collective_booking.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__collective_offer.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__educational_institution.yml
Due: none

feat: Allow to use 0 embeddings
  jobs/ml_jobs/ranking_endpoint/app/model.py
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
  jobs/ml_jobs/ranking_endpoint/src/preprocessing.py
Due: format-fix, lint-fix

(BSR) chore(collectiveSubcategoryId): DB change remove subcategory id… (#4036)
  orchestration/dags/data_gcp_dbt/models/analytics/venue_siren_offers.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__collective_offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__collective_offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__collective_booking.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__collective_offer.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__educational_institution.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__collective_booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__collective_offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__educational_institution.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__collective_offer.sql
  orchestration/dags/dependencies/applicative_database/sql/clean/history/collective_offer_history.sql
  orchestration/dags/dependencies/applicative_database/sql/clean/history/collective_offer_template_history.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/collective_offer.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/collective_offer_template.sql
  orchestration/tests/data_analytics/config.py
Due: format-fix, lint-fix, sqlfmt

fix: Fix connect_remote_mlflow
  jobs/ml_jobs/ranking_endpoint/src/utils.py
Due: format-fix, lint-fix

feat: Reset Emb dim to 64
  jobs/ml_jobs/ranking_endpoint/app/model.py
Due: format-fix, lint-fix

feat: New split
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
  jobs/ml_jobs/ranking_endpoint/src/preprocessing.py
Due: format-fix, lint-fix

(BSR) feat(etl): add past_offer_context history table
  jobs/etl_jobs/internal/bigquery_archive_partition/archive.py
  jobs/etl_jobs/internal/bigquery_archive_partition/main.py
  orchestration/dags/jobs/administration/bigquery_archive_partition.py
Due: format-fix, lint-fix

(BSR) fix(dbt): fix macro behavior for elementary profile
  orchestration/dags/data_gcp_dbt/macros/database_utils/get_custom_alias.sql
Due: sqlfmt

(BSR) feat(etl): add past_offer_context history table
  orchestration/dags/jobs/administration/bigquery_archive_partition.py
Due: format-fix, lint-fix

(BSR) feat(api): remove legacy job
  .github/workflows/reusable_test_orchestration.yml
  orchestration/dags/common/config.py
  orchestration/dags/dependencies/export_cloudsql_tables_to_bigquery/config.py
  orchestration/dags/dependencies/export_cloudsql_tables_to_bigquery/sql/raw/past_offer_context.sql
  orchestration/dags/dependencies/export_cloudsql_tables_to_bigquery/sql/tmp/past_offer_context.sql
  orchestration/dags/jobs/api/export_cloudsql_tables_to_bigquery.py
Due: format-fix, lint-fix, sqlfmt

feat: Set EMBEDDING DIM to 0
  jobs/ml_jobs/ranking_endpoint/app/model.py
Due: format-fix, lint-fix

feat: Refacto preprocessing to fix parquet saving
  jobs/ml_jobs/ranking_endpoint/src/preprocessing.py
Due: format-fix, lint-fix

feat: Add item_id in data
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
  jobs/ml_jobs/ranking_endpoint/src/evaluation.py
  jobs/ml_jobs/ranking_endpoint/src/preprocessing.py
Due: format-fix, lint-fix

WIP feat: Evaluate on unique session id instead of user id
  jobs/ml_jobs/ranking_endpoint/src/evaluation.py
Due: format-fix, lint-fix

feat: Add random ndcg
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
Due: format-fix, lint-fix

feat: Split data on user_x_event_date
  jobs/ml_jobs/ranking_endpoint/app/model.py
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
  jobs/ml_jobs/ranking_endpoint/src/preprocessing.py
Due: format-fix, lint-fix

feat: Split train val also on hour_user_id
  jobs/ml_jobs/ranking_endpoint/app/model.py
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
Due: format-fix, lint-fix

(BSR) dbt(packages): source dbt_airflow_macros from official package hub
  orchestration/dags/data_gcp_dbt/packages.yml
Due: none

fix: Set proper url for backend api
  jobs/etl_jobs/internal/import_api_referentials/main.py
Due: format-fix, lint-fix

(BSR) fix(api referentials): Set proper url for backend api (#4044)
  jobs/etl_jobs/internal/import_api_referentials/main.py
Due: format-fix, lint-fix

(BSR) fix(dbt): fix macro behavior for elementary profile (#4039)
  orchestration/dags/data_gcp_dbt/macros/database_utils/get_custom_alias.sql
Due: sqlfmt

feat: Add popular ndcg
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
Due: format-fix, lint-fix

Add is_headline_offer parameter to ConsultOffer event
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_event.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_event_flattened.sql
Due: sqlfmt

Add is_headline_offer parameter to ConsultOffer event
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_event_flattened.sql
Due: sqlfmt

(BSR) feat(api): remove legacy job (#4042)
  .github/workflows/reusable_test_orchestration.yml
  orchestration/dags/common/config.py
  orchestration/dags/dependencies/export_cloudsql_tables_to_bigquery/config.py
  orchestration/dags/dependencies/export_cloudsql_tables_to_bigquery/sql/raw/past_offer_context.sql
  orchestration/dags/dependencies/export_cloudsql_tables_to_bigquery/sql/tmp/past_offer_context.sql
  orchestration/dags/jobs/api/export_cloudsql_tables_to_bigquery.py
Due: format-fix, lint-fix, sqlfmt

feat: update typo airflow
  orchestration/dags/jobs/administration/bigquery_archive_partition.py
Due: format-fix, lint-fix

(DA-4045) feat(dbt): Add headline offer parameter to Consultoffer event (#4045)
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_event.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_event_flattened.sql
Due: sqlfmt

feat: Remove user_deposit_remaining_credit
  jobs/ml_jobs/ranking_endpoint/app/model.py
  jobs/ml_jobs/ranking_endpoint/src/preprocessing.py
Due: format-fix, lint-fix

(BSR) feat(etl): add past_offer_context history table (#4040)
  jobs/etl_jobs/internal/bigquery_archive_partition/archive.py
  jobs/etl_jobs/internal/bigquery_archive_partition/main.py
  orchestration/dags/jobs/administration/bigquery_archive_partition.py
Due: format-fix, lint-fix

feat: Remove offer_item_rank
  jobs/ml_jobs/ranking_endpoint/app/model.py
Due: format-fix, lint-fix

HACK: local load
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
Due: format-fix, lint-fix

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfmt: any of: \.sql$
