Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: python
  stages:
  - commit
  additional_dependencies:
  - ruff==0.5.7

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: python
  stages:
  - commit
  additional_dependencies:
  - ruff==0.5.7

sqlfmt:
  name: SQL Formatting (sqlfmt)
  entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
  ...

testing: disable schedule
  orchestration/dags/jobs/import/import_brevo.py
Due: format-fix, lint-fix

fix: Fix DAG
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

refactor: Add booking and offer counts in product_to_link
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__product_to_link.sql
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix, sqlfmt

made oa changes in collective_offer
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__adage_home_playlist_moving_offerers.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__collective_offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__collective_offer.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/collective_offer.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/collective_offer_template.sql
Due: sqlfmt

fix indentation
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__adage_home_playlist_moving_offerers.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__collective_offer.sql
Due: sqlfmt

fix indentation
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__adage_home_playlist_moving_offerers.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__collective_offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__collective_offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__collective_offer.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/collective_offer.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/collective_offer_template.sql
Due: sqlfmt

fix error
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__collective_offer.sql
Due: sqlfmt

add doc
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__collective_offer.md
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__collective_offer.yml
Due: none

fix indentation
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__collective_offer.yml
Due: none

docs: Update orchastration doc (#4312)
  orchestration/README.md
  orchestration/airflow/README.md
Due: none

Update orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__collective_offer.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__collective_offer.md
Due: none

(DA-1895) feat(dbt): Added OA changes in global_collective_offer (#4317)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__collective_offer.md
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__adage_home_playlist_moving_offerers.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__collective_offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__collective_offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__collective_offer.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__collective_offer.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/collective_offer.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/collective_offer_template.sql
Due: sqlfmt

testing: avoid vm conflict
  orchestration/dags/jobs/import/import_brevo.py
Due: format-fix, lint-fix

feat: support async for transactional
  jobs/etl_jobs/http_custom/clients.py
  jobs/etl_jobs/jobs/brevo/main.py
  jobs/etl_jobs/jobs/brevo/utils.py
Due: format-fix, lint-fix

feat: add async mode to dag
  jobs/etl_jobs/jobs/brevo/main.py
  orchestration/dags/jobs/import/import_brevo.py
Due: format-fix, lint-fix

feat: assert date are ordered
  jobs/etl_jobs/jobs/brevo/main.py
Due: format-fix, lint-fix

fix: async flag
  jobs/etl_jobs/jobs/brevo/main.py
Due: format-fix, lint-fix

style: rename http module & cleaner logging
  jobs/etl_jobs/connectors/brevo.py
  jobs/etl_jobs/http_tools/__init__.py
  jobs/etl_jobs/http_tools/clients.py
  jobs/etl_jobs/http_tools/rate_limiters.py
  jobs/etl_jobs/jobs/brevo/main.py
  jobs/etl_jobs/jobs/brevo/utils.py
Due: format-fix, lint-fix

fix: Fix preprocessing
  jobs/ml_jobs/artist_linkage/utils/preprocessing_utils.py
Due: format-fix, lint-fix

add doc
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__deposit.md
Due: none

fix typo
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__deposit.md
Due: none

update doc
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__user.md
Due: none

add doc for deps
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offer.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/export/ministry/description__exp_ministry__favorite.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/export/ministry/description__exp_ministry__offer.md
Due: none

fix indentation
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offerer_address.md
Due: none

(DE) ci(dbt): skip model testing when no models have been modified
  .github/workflows/reusable_dbt_workflow.yml
  .github/workflows/scripts/run_dbt_changed_models.sh
Due: none

(DE) ci(dbt): skip model testing when no models have been modified (#4323)
  .github/workflows/reusable_dbt_workflow.yml
  .github/workflows/scripts/run_dbt_changed_models.sh
Due: none

doc booking
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__booking.md
Due: none

fix error
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__user.md
Due: none

(DE) ci(dbt): skip model testing when no models have been modified (#4323)
  .github/workflows/scripts/run_dbt_changed_models.sh
Due: none

rrrr
  .github/workflows/scripts/run_dbt_changed_models.sh
Due: none

chore: remove deprecated metrics -> impressions
  jobs/etl_jobs/external/instagram/extract.py
  jobs/etl_jobs/external/instagram/utils.py
Due: format-fix, lint-fix

refactor: Adapt evaluate to new workflow
  jobs/ml_jobs/artist_linkage/evaluate.py
Due: format-fix, lint-fix

refactor: Clean evaluate code
  jobs/ml_jobs/artist_linkage/evaluate.py
Due: format-fix, lint-fix

refactor: Update dag
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

refactor: Remove match_artists_on_wikidata
  jobs/ml_jobs/artist_linkage/link_new_products_to_artists.py
  jobs/ml_jobs/artist_linkage/link_products_to_artists_from_scratch.py
  jobs/ml_jobs/artist_linkage/match_artists_on_wikidata.py
  jobs/ml_jobs/artist_linkage/preprocess.py
  jobs/ml_jobs/artist_linkage/streamlits/st_analyze_preprocessing.py
  jobs/ml_jobs/artist_linkage/streamlits/st_explore_and_clusterize_data.py
  jobs/ml_jobs/artist_linkage/streamlits/st_investigate_syncho_backend.py
  jobs/ml_jobs/artist_linkage/utils/loading.py
  jobs/ml_jobs/artist_linkage/utils/matching.py
Due: format-fix, lint-fix

refactor: Rename deprecated script
  jobs/ml_jobs/artist_linkage/cluster_deprecated.py
Due: format-fix, lint-fix

update beneficiary model
  orchestration/dags/data_gcp_dbt/models/mart/propilote/PPG/ephemerals_kpis/mrt_propilote__ppg_beneficiary.sql
Due: sqlfmt

fix: Fix docker-compose for prod executions
  orchestration/docker-compose.yaml
Due: none

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfmt: any of: \.sql$
