Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: system
  stages:
  - commit

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: system
  stages:
  - commit

sqlfmt:
  name: SQL Formatting (sqlfmt)
  entry: make sqlfmt
  stages:
  - commit
  language: system

feat: replace music types by old music types
  jobs/etl_jobs/internal/import_api_referentials/main.py
Due: format-fix, lint-fix

lint: fix sql linting
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/pro/int_firebase__pro_visit.sql
Due: sqlfmt

(BSR) fix(apiref): Fix pcapi requirements in import api referentials (#3392)
  jobs/etl_jobs/internal/import_api_referentials/main.py
  jobs/etl_jobs/internal/import_api_referentials/pyproject.toml
  jobs/etl_jobs/internal/import_api_referentials/requirements.in
  jobs/etl_jobs/internal/import_api_referentials/requirements.txt
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/pro/int_firebase__pro_visit.sql
  orchestration/dags/jobs/import/import_api_referentials.py
Due: format-fix, lint-fix, sqlfmt

(DA-3868) docs(dbt): Add dbt doc for global models (#3384)
  orchestration/dags/data_gcp_dbt/models/_documentation/glossary/applicative_database/column__booking.md
  orchestration/dags/data_gcp_dbt/models/_documentation/glossary/applicative_database/column__collective_booking.md
  orchestration/dags/data_gcp_dbt/models/_documentation/glossary/applicative_database/column__collective_offer.md
  orchestration/dags/data_gcp_dbt/models/_documentation/glossary/applicative_database/column__deposit.md
  orchestration/dags/data_gcp_dbt/models/_documentation/models/mart/global/description__mrt_global__booking.md
  orchestration/dags/data_gcp_dbt/models/_documentation/models/mart/global/description__mrt_global__collective_offer.md
Due: none

update doc description
  docs/hooks.py
  orchestration/dags/data_gcp_dbt/models/_documentation/models/mart/collective/description__mrt_collective__adage_log.md
  orchestration/dags/data_gcp_dbt/models/_documentation/models/mart/global/description__mrt_global__address.md
  orchestration/dags/data_gcp_dbt/models/_documentation/models/mart/global/description__mrt_global__educational_deposit.md
  orchestration/dags/data_gcp_dbt/models/_documentation/models/mart/global/description__mrt_global__educational_institution.md
  orchestration/dags/data_gcp_dbt/models/_documentation/models/mart/global/description__mrt_global__favorite.md
  orchestration/dags/data_gcp_dbt/models/_documentation/models/mart/global/description__mrt_global__local_authority.md
  orchestration/dags/data_gcp_dbt/models/_documentation/models/mart/global/description__mrt_global__offer_criterion.md
  orchestration/dags/data_gcp_dbt/models/_documentation/models/mart/global/description__mrt_global__offer_metadata.md
  orchestration/dags/data_gcp_dbt/models/_documentation/models/mart/global/description__mrt_global__offerer_address.md
  orchestration/dags/data_gcp_dbt/models/_documentation/models/mart/global/description__mrt_global__offerer_tag.md
  orchestration/dags/data_gcp_dbt/models/_documentation/models/mart/global/description__mrt_global__stock.md
  orchestration/dags/data_gcp_dbt/models/_documentation/models/mart/global/description__mrt_global__user.md
  orchestration/dags/data_gcp_dbt/models/_documentation/models/mart/global/description__mrt_global__venue_provider.md
  orchestration/dags/data_gcp_dbt/models/_documentation/models/mart/global/description__mrt_global__venue_tag.md
  orchestration/dags/data_gcp_dbt/models/_documentation/models/mart/native/description__mrt_native__consultation.md
  orchestration/dags/data_gcp_dbt/models/_documentation/models/mart/native/description__mrt_native__event.md
  orchestration/dags/data_gcp_dbt/models/_documentation/models/mart/pro/description__mrt_pro__event.md
  orchestration/dags/data_gcp_dbt/models/_documentation/models/mart/pro/description__mrt_pro__log.md
  orchestration/dags/data_gcp_dbt/models/_documentation/models/mart/pro/description__mrt_pro__visit.md
Due: format-fix, lint-fix

add venue_image_source to global venue
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__venue.sql
Due: sqlfmt

update docs
  docs/.gitignore
  docs/dbt
  docs/hooks.py
  mkdocs.yml
  orchestration/dags/data_gcp_dbt/models/_documentation/glossary.md
  orchestration/dags/data_gcp_dbt/models/_documentation/glossary/contentful/column__contentful_entry.md
  orchestration/dags/data_gcp_dbt/models/_documentation/glossary/pcapi/column__log.md
  orchestration/dags/data_gcp_dbt/models/_documentation/glossary/pcreco/column_id.md
  orchestration/dags/data_gcp_dbt/models/_documentation/glossary/tracking/columm__native_search.md
  orchestration/dags/data_gcp_dbt/models/_documentation/glossary/tracking/column__collective_adage_log.md
  orchestration/dags/data_gcp_dbt/models/_documentation/glossary/tracking/column__event.md
  orchestration/dags/data_gcp_dbt/models/_documentation/glossary/tracking/column__event_metric.md
  orchestration/dags/data_gcp_dbt/models/_documentation/glossary/tracking/column__native_consultation.md
  orchestration/dags/data_gcp_dbt/models/_documentation/glossary/tracking/column__native_home_module.md
  orchestration/dags/data_gcp_dbt/models/_documentation/glossary/tracking/column__pro_event.md
  orchestration/dags/data_gcp_dbt/models/_documentation/glossary/tracking/native/column__native_event.md
  orchestration/dags/data_gcp_dbt/models/_documentation/models/mart/native/description__mrt_native__consultation.md
  orchestration/dags/data_gcp_dbt/models/_documentation/models/mart/native/description__mrt_native__daily_home_offer_displayed.md
  orchestration/dags/data_gcp_dbt/models/_documentation/models/mart/native/description__mrt_native__daily_user_home_module.md
Due: format-fix, lint-fix

add docs
  mkdocs.yml
  orchestration/dags/data_gcp_dbt/models/_documentation/home.md
  orchestration/dags/data_gcp_dbt/models/_documentation/overview.md
Due: none

add venue_image_source field
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__venue.sql
Due: sqlfmt

feat: Add create artist table query
  orchestration/dags/dependencies/ml/linkage/sql/artists_to_link.sql
  orchestration/dags/dependencies/ml/linkage/sql/create_artist_table.sql
Due: sqlfmt

feat: Add create product artist link table
  orchestration/dags/dependencies/ml/linkage/sql/create_product_artist_link_table.sql
Due: sqlfmt

WIP feat: Add export data in artist DAG
  orchestration/dags/dependencies/ml/linkage/create_artist_table.py
  orchestration/dags/dependencies/ml/linkage/create_product_artist_link_table.py
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

update mrt_native__log
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__log.sql
Due: sqlfmt

(DE-665) refactor(importraw) switch import raw to snapshot for a batch of tables
  orchestration/dags/data_gcp_dbt/models/intermediate/raw/int_raw__booking.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/raw/int_raw__collective_booking.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/raw/int_raw__collective_offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/raw/int_raw__deposit.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/raw/int_raw__venue.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__booking.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__collective_booking.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__collective_offer.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__deposit.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__venue.sql
Due: sqlfmt

(DE-757) feat(artist): Create product artist link table (#3396)
  orchestration/dags/dependencies/ml/linkage/create_artist_table.py
  orchestration/dags/dependencies/ml/linkage/create_product_artist_link_table.py
  orchestration/dags/dependencies/ml/linkage/sql/artists_to_link.sql
  orchestration/dags/dependencies/ml/linkage/sql/create_artist_table.sql
  orchestration/dags/dependencies/ml/linkage/sql/create_product_artist_link_table.sql
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix, sqlfmt

feat: Add license on wikimedia images
  jobs/ml_jobs/artist_linkage/get_wikimedia_commons_license.py
Due: format-fix, lint-fix

feat: Get wikimedia commons in artist DAG
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

refactor: Small changes after export integration
  jobs/ml_jobs/artist_linkage/get_wikimedia_commons_license.py
  orchestration/dags/dependencies/ml/linkage/sql/create_artist_table.sql
Due: format-fix, lint-fix, sqlfmt

remove constraints file from requirements
  orchestration/k8s-airflow/k8s-worker-requirements.in
  orchestration/k8s-airflow/k8s-worker-requirements.txt
Due: none

(DE-765) feat(artist): Add license on wikimedia images (#3397)
  jobs/ml_jobs/artist_linkage/get_wikimedia_commons_license.py
  orchestration/dags/dependencies/ml/linkage/sql/create_artist_table.sql
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix, sqlfmt

wip
  orchestration/dags/data_gcp_dbt/dbt-requirements.in
  orchestration/dags/data_gcp_dbt/dbt-requirements.txt
  orchestration/dags/data_gcp_dbt/dbt_score_rules/mrt_rules.py
  orchestration/dags/data_gcp_dbt/pyproject.toml
Due: format-fix, lint-fix

remove: mysql from requirements
  orchestration/k8s-airflow/Dockerfile.k8s-worker
  orchestration/k8s-airflow/k8s-worker-requirements.in
  orchestration/k8s-airflow/k8s-worker-requirements.txt
Due: none

(DE-678) build(airflow): remove constraint file from requirements (#3399)
  orchestration/k8s-airflow/Dockerfile.k8s-worker
  orchestration/k8s-airflow/k8s-worker-requirements.in
  orchestration/k8s-airflow/k8s-worker-requirements.txt
Due: none

(DE-665) refactor(importraw): switch import raw to snapshot for a batch of tables (#3398)
  orchestration/dags/data_gcp_dbt/models/intermediate/raw/int_raw__booking.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/raw/int_raw__collective_booking.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/raw/int_raw__collective_offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/raw/int_raw__deposit.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/raw/int_raw__venue.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__booking.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__collective_booking.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__collective_offer.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__deposit.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__venue.sql
Due: sqlfmt

(DE-718) refactor(brevo): add granularity on transac tables (#3370)
  jobs/etl_jobs/external/brevo/brevo_transactional.py
  orchestration/dags/data_gcp_dbt/models/intermediate/brevo/int_brevo__transactional_jeune.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/brevo/int_brevo__transactional_pro.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: format-fix, lint-fix, sqlfmt

(BSR) feat(import): remove isActive for internal users
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/internal_user.sql
Due: sqlfmt

(DE-670) feat(dataquality): add cardinality test (#3388)
  orchestration/dags/data_gcp_dbt/macros/custom_test/cardinality_equality.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__booking.yml
Due: sqlfmt

DEBUG: Fake commit
  orchestration/airflow/Dockerfile
Due: none

expected revenue for scheduled event
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/monthly_aggregated_venue_collective_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/monthly_aggregated_venue_individual_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/monthly_aggregated_venue_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/yearly_aggregated_venue_collective_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/yearly_aggregated_venue_individual_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/yearly_aggregated_venue_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/intermediate/booking.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/intermediate/collective_booking.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/tmp/intermediate_booking.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/tmp/intermediate_collective_booking.sql
  orchestration/dags/data_gcp_dbt/models/export/clickhouse/exp_clickhouse__booking.sql
  orchestration/dags/data_gcp_dbt/models/export/clickhouse/exp_clickhouse__collective_booking.sql
Due: sqlfmt

key columns documentation
  orchestration/dags/data_gcp_dbt/models/_documentation/glossary/applicative_database/column__collective_stock.md
  orchestration/dags/data_gcp_dbt/models/_documentation/glossary/applicative_database/column__stock.md
Due: none

wip
  orchestration/dags/data_gcp_dbt/dbt-requirements.in
  orchestration/dags/data_gcp_dbt/dbt-requirements.txt
  orchestration/dags/data_gcp_dbt/scripts/coverage.py
  orchestration/dags/data_gcp_dbt/scripts/dbt_coverage.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_docs.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_score.sh
  orchestration/dags/data_gcp_dbt/scripts/hide_macros.py
Due: format-fix, lint-fix

feat: Add create artist alias table and remove null artist_id in the alias table
  orchestration/dags/dependencies/ml/linkage/create_artist_alias_table.py
  orchestration/dags/dependencies/ml/linkage/sql/create_artist_alias_table.sql
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix, sqlfmt

(DE-759) feat(artist): Add create artist alias table
  orchestration/dags/dependencies/ml/linkage/create_artist_alias_table.py
  orchestration/dags/dependencies/ml/linkage/sql/create_artist_alias_table.sql
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix, sqlfmt

bump airflow container image version to 2.9.3
  orchestration/k8s-airflow/Dockerfile.k8s-worker
Due: none

bump requirements
  orchestration/k8s-airflow/k8s-worker-requirements.in
  orchestration/k8s-airflow/k8s-worker-requirements.txt
Due: none

(DE) build(airflow): bump airflow container image version to 2.9.3 (#3405)
  orchestration/k8s-airflow/Dockerfile.k8s-worker
  orchestration/k8s-airflow/k8s-worker-requirements.in
  orchestration/k8s-airflow/k8s-worker-requirements.txt
Due: none

(DE-413) feat(docs): add mkdocs deploy to ci/cd
  .github/workflows/on_cd__workflow.yml
  .github/workflows/on_ci__workflow.yml
  .github/workflows/on_pr__title_checker.yml
  .github/workflows/on_pr_review__gpt.yml
  .github/workflows/reusable_deploy_mkdocs.yml
Due: none

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfmt: any of: \.sql$
