Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
  # Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
  # Add new hook types here to ensure automatic installation when running `pre-commit install`
  - pre-commit
  - pre-push
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: format-fix
        name: Formatting (ruff)
        entry: ruff format
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: lint-fix
        name: Linting (ruff)
        entry: ruff check --fix
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: sqlfmt
        name: SQL Formatting (sqlfmt)
        entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
        stages: [push]
        language: python
        additional_dependencies: ["shandy-sqlfmt[jinjafmt]==0.23.2"]
        types: [sql]
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.3.0
    hooks:
      - id: sqlfluff-fix
        additional_dependencies:
          ["dbt-bigquery==1.8.1", "sqlfluff-templater-dbt"]
        stages: [commit]
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.0
    hooks:
    - id: markdownlint-cli2
      language_version: 24.0.0
      args:
        - --fix

(HF) fix(adage): deduplicate (#4822)
  jobs/etl_jobs/external/adage/scripts/import_adage.py
Due: format-fix, lint-fix

(DE-3302) docs(repo): add explanations on the project directories (#4817)
  README.md
  docs/index.md
  docs/project_structure_and_data_flow.md
  mkdocs.yml
Due: none

lint/sql
  orchestration/dags/data_gcp_dbt/models/intermediate/seed/int_seed__monthly_france_population.sql
Due: sqlfmt

(DE) feat(dbt): change archiving rules (#4706)
  jobs/etl_jobs/external/metabase-archiving/utils.py
  orchestration/dags/data_gcp_dbt/models/intermediate/metabase/int_metabase__activity.sql
Due: format-fix, lint-fix, sqlfmt

refactor/failsafe: shift fail date to Jan 15th
  orchestration/dags/data_gcp_dbt/models/intermediate/seed/int_seed__monthly_france_population.sql
Due: sqlfmt

(DE) feat(dbt): insee data validity failsafe (#4815)
  orchestration/dags/data_gcp_dbt/dbt_project.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/history/int_history__bookable_venue.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/seed/int_seed__monthly_france_population.sql
Due: sqlfmt

(DE-3305) chore(desp): Update artist linkage packages (#4821)
  jobs/ml_jobs/artist_linkage/pyproject.toml
  jobs/ml_jobs/artist_linkage/uv.lock
Due: none

add exhaustive list
  orchestration/dags/data_gcp_dbt/macros/external_reporting/get_categories.sql
Due: sqlfmt

refactor: update BigQuery dataset handling in preprocessing and main functions
  jobs/ml_jobs/finance/forecast/engines/prophet/preprocessing.py
  jobs/ml_jobs/finance/forecast/utils/bigquery.py
  jobs/ml_jobs/finance/forecast/utils/constants.py
  jobs/ml_jobs/finance/main.py
  orchestration/dags/jobs/crons.py
  orchestration/dags/jobs/ml/finance_pricing_forecast.py
Due: format-fix, lint-fix

Apply suggestions from code review
  jobs/ml_jobs/finance/forecast/engines/prophet/model_config.py
Due: format-fix, lint-fix

refactor: update prepare_data method to include dataset parameter
  jobs/ml_jobs/finance/forecast/engines/prophet/model_config.py
  jobs/ml_jobs/finance/forecast/forecasters/forecast_model.py
  jobs/ml_jobs/finance/forecast/forecasters/prophet_model.py
  jobs/ml_jobs/finance/tests/test_prophet_model.py
Due: format-fix, lint-fix

(DS) feat(finance): resolve previous PR comments, create DAG and save forecasts to bigquery (#4801)
  jobs/ml_jobs/finance/README.md
  jobs/ml_jobs/finance/forecast/__init__.py
  jobs/ml_jobs/finance/forecast/engines/prophet/__init__.py
  jobs/ml_jobs/finance/forecast/engines/prophet/evaluate.py
  jobs/ml_jobs/finance/forecast/engines/prophet/forecast.py
  jobs/ml_jobs/finance/forecast/engines/prophet/model_config.py
  jobs/ml_jobs/finance/forecast/engines/prophet/plots.py
  jobs/ml_jobs/finance/forecast/engines/prophet/preprocessing.py
  jobs/ml_jobs/finance/forecast/engines/prophet/train.py
  jobs/ml_jobs/finance/forecast/forecasters/configs/prophet/daily_pricing.yaml
  jobs/ml_jobs/finance/forecast/forecasters/configs/prophet/weekly_pricing.yaml
  jobs/ml_jobs/finance/forecast/forecasters/forecast_model.py
  jobs/ml_jobs/finance/forecast/forecasters/prophet_model.py
  jobs/ml_jobs/finance/forecast/utils/__init__.py
  jobs/ml_jobs/finance/forecast/utils/bigquery.py
  jobs/ml_jobs/finance/forecast/utils/constants.py
  jobs/ml_jobs/finance/forecast/utils/mlflow.py
  jobs/ml_jobs/finance/main.py
  jobs/ml_jobs/finance/pyproject.toml
  jobs/ml_jobs/finance/src/forecast_engines/prophet/model_config.py
  jobs/ml_jobs/finance/src/utils/bigquery.py
  jobs/ml_jobs/finance/tests/test_prophet_model.py
  jobs/ml_jobs/finance/uv.lock
  orchestration/dags/common/alerts/ml_training.py
  orchestration/dags/jobs/crons.py
  orchestration/dags/jobs/ml/finance_pricing_forecast.py
Due: format-fix, lint-fix

added schools with no bookings (#4826)
  orchestration/dags/data_gcp_dbt/models/mart/collective/mrt_collective__eple_aggregated.sql
Due: sqlfmt

feat/dbt: set ml features with macros
  orchestration/dags/data_gcp_dbt/macros/schema.yml
  orchestration/dags/data_gcp_dbt/macros/variables/discovery_vars.sql
  orchestration/dags/data_gcp_dbt/macros/variables/ml_features.sql
Due: sqlfmt

fix archiving rule
  jobs/etl_jobs/external/metabase-archiving/utils.py
Due: format-fix, lint-fix

update list
  orchestration/dags/data_gcp_dbt/macros/external_reporting/get_categories.sql
Due: sqlfmt

fix archiving rule (#4827)
  jobs/etl_jobs/external/metabase-archiving/utils.py
Due: format-fix, lint-fix

refactor/hash: stateful hash fingerprint
  jobs/ml_jobs/embeddings/main.py
  jobs/ml_jobs/embeddings/utils/bigquery.py
  orchestration/dags/data_gcp_dbt/macros/variables/ml_features.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/input/ml_input__item_embedding_extraction.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/input/ml_input__item_metadata.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: format-fix, lint-fix, sqlfmt

update list (#4828)
  orchestration/dags/data_gcp_dbt/macros/external_reporting/get_categories.sql
Due: sqlfmt

feat: Restore toml and lock
  jobs/ml_jobs/retrieval_vector/pyproject.toml
  jobs/ml_jobs/retrieval_vector/uv.lock
Due: none

feat: Update mlflow to above 3.8.1
  jobs/ml_jobs/retrieval_vector/pyproject.toml
  jobs/ml_jobs/retrieval_vector/uv.lock
Due: none

feat: Add sys_platform support
  jobs/ml_jobs/retrieval_vector/pyproject.toml
  jobs/ml_jobs/retrieval_vector/uv.lock
Due: none

refactor: Rename main.py into run_recommendation_monitoring_tests
  jobs/ml_jobs/endpoint_monitoring/run_recommendation_monitoring_tests.py
Due: format-fix, lint-fix

fix: Fix end_monitoring_dag (+ small refacto)
  orchestration/dags/jobs/ml/recommendation_endpoint_monitoring.py
Due: format-fix, lint-fix

refactor: Downgrade keras<3
  jobs/ml_jobs/retrieval_vector/pyproject.toml
  jobs/ml_jobs/retrieval_vector/uv.lock
Due: none

fix: Fix SCHEDULE_DICT
  orchestration/dags/jobs/crons.py
Due: format-fix, lint-fix

fix: Update typer version
  jobs/ml_jobs/endpoint_monitoring/pyproject.toml
  jobs/ml_jobs/endpoint_monitoring/uv.lock
  orchestration/dags/jobs/ml/recommendation_endpoint_monitoring.py
Due: format-fix, lint-fix

refactor: Update _template for ml and etl MS
  jobs/etl_jobs/_template/requirements.in
  jobs/ml_jobs/_template/requirements.in
  jobs/ml_jobs/_template/streamlits/.gitignore
  jobs/ml_jobs/_template/streamlits/st_analize.py
Due: format-fix, lint-fix

fix: Downgrade keras
  jobs/ml_jobs/endpoint_monitoring/pyproject.toml
  jobs/ml_jobs/endpoint_monitoring/uv.lock
  orchestration/dags/jobs/ml/recommendation_endpoint_monitoring.py
Due: format-fix, lint-fix

(DE-3310) fix(build tt api): Fix uv and pyproject.toml after bad upgrade (#4831)
  jobs/ml_jobs/retrieval_vector/pyproject.toml
  jobs/ml_jobs/retrieval_vector/uv.lock
Due: none

(DE-3313) fix(sheriff): Fix endpoint monitoring dag (#4830)
  jobs/etl_jobs/_template/requirements.in
  jobs/ml_jobs/_template/requirements.in
  jobs/ml_jobs/_template/streamlits/.gitignore
  jobs/ml_jobs/_template/streamlits/st_analize.py
  jobs/ml_jobs/endpoint_monitoring/pyproject.toml
  jobs/ml_jobs/endpoint_monitoring/run_recommendation_monitoring_tests.py
  jobs/ml_jobs/endpoint_monitoring/uv.lock
  orchestration/dags/jobs/crons.py
  orchestration/dags/jobs/ml/recommendation_endpoint_monitoring.py
Due: format-fix, lint-fix

fix ratio amount_spent in educational_institution model
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__educational_institution.md
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__educational_institution.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__educational_institution.sql
Due: sqlfmt

review
  jobs/ml_jobs/embeddings/main.py
  jobs/ml_jobs/embeddings/utils/bigquery.py
Due: format-fix, lint-fix

(BSR) feat(reporting): update logic
  orchestration/dags/jobs/crons.py
  orchestration/dags/jobs/export/export_external_reporting.py
Due: format-fix, lint-fix

fix ratio amount_spent in educational_institution model
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__educational_institution.sql
Due: sqlfmt

feat: Update transformers MS
  jobs/ml_jobs/retrieval_vector/uv.lock
Due: none

(DE) feat(dbt): Add specific fncc indicators on external reportings (#4754)
  orchestration/dags/data_gcp_dbt/macros/external_reporting/get_eac_objects.sql
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/collective/description__mrt_external_reporting__eac_institution.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/individual/description__mrt_external_reporting__booking.md
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/_schema/mrt_external_reporting__eac_institution.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_coverage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_institution.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/_schema/mrt_external_reporting__booking.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/mrt_external_reporting__individual.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_ac.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_venue.sql
Due: sqlfmt

fix/state-dependency: item_embedding_extraction processing flag is now only source dependant
  orchestration/dags/data_gcp_dbt/models/machine_learning/input/ml_input__item_embedding_extraction.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/input/ml_input__item_metadata.sql
Due: sqlfmt

chore: Upgrade aiohttp to latest
  jobs/ml_jobs/retrieval_vector/uv.lock
Due: none
