Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
  # Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
  # Add new hook types here to ensure automatic installation when running `pre-commit install`
  - pre-commit
  - pre-push
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: format-fix
        name: Formatting (ruff)
        entry: ruff format
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: lint-fix
        name: Linting (ruff)
        entry: ruff check --fix
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: sqlfmt
        name: SQL Formatting (sqlfmt)
        entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
        stages: [push]
        language: python
        additional_dependencies: ["shandy-sqlfmt[jinjafmt]==0.23.2"]
        types: [sql]
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.3.0
    hooks:
      - id: sqlfluff-fix
        additional_dependencies:
          ["dbt-bigquery==1.8.1", "sqlfluff-templater-dbt"]
        stages: [commit]
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.0
    hooks:
    - id: markdownlint-cli2
      language_version: 24.0.0
      args:
        - --fix

fix: Remove duplicated wiki_id dbt docs
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/ml/column__artist.md
  orchestration/dags/data_gcp_dbt/models/export/backend/_schema/exp_backend__artist.yml
Due: none

fix/clickhouse: typo (#4679)
  orchestration/dags/dependencies/export_clickhouse/export_clickhouse.py
Due: format-fix, lint-fix

remove old geographics columns on venue table
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__venue.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/venue.sql
Due: sqlfmt

remove on int model
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__venue.sql
Due: sqlfmt

(DE-3001) feat(artist): Add wikipedia summaries and urls in dbt (#4681)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/ml/column__artist.md
  orchestration/dags/data_gcp_dbt/models/export/backend/_schema/exp_backend__artist.yml
  orchestration/dags/data_gcp_dbt/models/export/backend/_schema/exp_backend__artist_delta.yml
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__artist.sql
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__artist_delta.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/_schema/ml_linkage__artist.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/_schema/ml_linkage__delta_artist.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__artist.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__delta_artist.sql
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix, sqlfmt

remove dependencies on external reportings
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__cultural_partner.sql
Due: sqlfmt

sqlfmt
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__cultural_partner.sql
Due: sqlfmt

(DE) feat(dbt): remove old geographics columns on venue table (#4682)
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__venue.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__venue.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/venue.sql
Due: sqlfmt

delete old venue address
  orchestration/dags/data_gcp_dbt/models/intermediate/api_gouv/address/int_api_gouv__venue_address.sql
Due: sqlfmt

delete old venue address (#4684)
  orchestration/dags/data_gcp_dbt/models/intermediate/api_gouv/address/int_api_gouv__venue_address.sql
Due: sqlfmt

fix: Fix artist_wikidata_dump (#4675)
  orchestration/dags/jobs/ml/artist_wikidata_dump.py
Due: format-fix, lint-fix

fix
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__cultural_partner.sql
Due: sqlfmt

Change strategy of flow to full refresh (#4680)
  orchestration/dags/data_gcp_dbt/models/intermediate/history/user_beneficiary_information_history/int_history__user_beneficiary_information_history.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user_beneficiary_information_history.sql
Due: sqlfmt

auto: Add edito_semantic_search as ml microservice
  jobs/ml_jobs/edito_semantic_search/Makefile
  jobs/ml_jobs/edito_semantic_search/README.md
  jobs/ml_jobs/edito_semantic_search/__init__.py
  jobs/ml_jobs/edito_semantic_search/main.py
  jobs/ml_jobs/edito_semantic_search/pyproject.toml
  jobs/ml_jobs/edito_semantic_search/streamlits/.gitignore
  jobs/ml_jobs/edito_semantic_search/streamlits/st_analize.py
  jobs/ml_jobs/edito_semantic_search/tests/__init__.py
  jobs/ml_jobs/edito_semantic_search/tests/hello_test.py
  jobs/ml_jobs/edito_semantic_search/utils/__init__.py
  jobs/ml_jobs/edito_semantic_search/uv.lock
Due: format-fix, lint-fix

deploy: 1273fb6c47da0e21567289d723f5af5f13e755e5
  __pycache__/hooks.cpython-312.pyc
  sitemap.xml
  sitemap.xml.gz
Due: none

fix user benef history mrt + deposit
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__deposit.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user_beneficiary_information_history.sql
Due: sqlfmt

fix doc
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__user_beneficiary_information_history.yml
Due: none

(DE) feat(dbt): delete geo information offerers (#4638)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offerer.md
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offerer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offerer.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offerer.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offerer.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__offerer.sql
Due: sqlfmt

(HF) fix(dbt): fix user benef history mrt + deposit (#4686)
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__deposit.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__user_beneficiary_information_history.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user_beneficiary_information_history.sql
Due: sqlfmt

deploy: b3fe691411fa4661c9ef06b26c6659e8864ef689
  __pycache__/hooks.cpython-312.pyc
  dbt/glossary/applicative_database/column__offerer/index.html
  dbt/models/mart/global/description__mrt_global__offerer/index.html
  dbt/models/mart/global/description__mrt_global__user_beneficiary_information_history/index.html
  search/search_index.json
Due: none

feat/snapshot: volume anomalies
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/schema.yml
  orchestration/dags/data_gcp_dbt/tests/generic/snapshot_volume_anomalies.sql
Due: sqlfmt

test/dbt: unit testing snapshot volume anomaly test
  orchestration/dags/data_gcp_dbt/seeds/generate_mock_snapshot.py
  orchestration/dags/data_gcp_dbt/seeds/mock_snapshot.csv
  orchestration/dags/data_gcp_dbt/seeds/schema.yml
Due: format-fix, lint-fix

fix(airflow): use instance-level ThreadPoolExecutor in gce hook
  orchestration/dags/common/hooks/gce.py
Due: format-fix, lint-fix

fix(hooks): add cleanup dunder methods for GCEHook to prevent connection leak on context closing
  orchestration/dags/common/hooks/gce.py
  orchestration/dags/common/operators/gce.py
Due: format-fix, lint-fix

add logs and exceptions
  jobs/etl_jobs/external/metabase-archiving/dependencies.py
Due: format-fix, lint-fix

fix exception type
  jobs/etl_jobs/external/metabase-archiving/dependencies.py
Due: format-fix, lint-fix

update call card route metabase
  jobs/etl_jobs/external/metabase-archiving/metabase_api.py
Due: format-fix, lint-fix

remove exception
  jobs/etl_jobs/external/metabase-archiving/dependencies.py
Due: format-fix, lint-fix

add temp logs
  jobs/etl_jobs/external/metabase-archiving/dependencies.py
Due: format-fix, lint-fix

test a fix
  jobs/etl_jobs/external/metabase-archiving/dependencies.py
Due: format-fix, lint-fix

test a fix2
  jobs/etl_jobs/external/metabase-archiving/dependencies.py
Due: format-fix, lint-fix

(DE-2873) feat(graph): Create custom metapath2vec to handle multiple metapaths best params lrdecay (#4674)
  jobs/ml_jobs/graph_recommendation/src/config.py
  jobs/ml_jobs/graph_recommendation/src/custom_metapath2vec.py
  jobs/ml_jobs/graph_recommendation/src/embedding_builder.py
  jobs/ml_jobs/graph_recommendation/src/utils/mlflow.py
  jobs/ml_jobs/graph_recommendation/tests/custom_metapath2vec_test.py
  jobs/ml_jobs/graph_recommendation/tests/embedding_builder_test.py
  orchestration/dags/jobs/ml/algo_training_graph_embeddings.py
Due: format-fix, lint-fix

feat/airflow: snapshot gcs backup dag
  orchestration/dags/common/config.py
  orchestration/dags/common/dbt/dag_utils.py
  orchestration/dags/jobs/administration/bigquery_snaphot_backup.py
Due: format-fix, lint-fix

fix: dag schedule
  orchestration/dags/jobs/administration/bigquery_snaphot_backup.py
  orchestration/dags/jobs/crons.py
Due: format-fix, lint-fix

DEBUG
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

feat(recommendation_past_offer_context_sink): create DBT model post_offer_context base on recommendation sink logs
  orchestration/dags/data_gcp_dbt/models/intermediate/pcreco/int_pcreco__past_offer_context.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/pcreco/int_pcreco__past_offer_context_sink.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: sqlfmt

refactor/dag: cache parsed dbt manifest & fix waiting task alias
  orchestration/dags/common/dbt/dag_utils.py
  orchestration/dags/common/utils.py
  orchestration/dags/jobs/administration/bigquery_snaphot_backup.py
Due: format-fix, lint-fix

cleaning
  orchestration/dags/common/config.py
  orchestration/dags/jobs/administration/bigquery_snaphot_backup.py
Due: format-fix, lint-fix
