Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
# Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
# Add new hook types here to ensure automatic installation when running `pre-commit install`
- pre-commit
- pre-push
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-json
  - id: check-added-large-files

- repo: local
  hooks:
  - id: format-fix
    name: Formatting (ruff)
    entry: ruff format
    language: system
    types: [python]
    stages: [commit]
  - id: lint-fix
    name: Linting (ruff)
    entry: ruff check --fix
    language: system
    types: [python]
    stages: [commit]
  - id: sqlfmt
    name: SQL Formatting (sqlfmt)
    entry: make sqlfmt
    stages: [commit]
    language: system
    types: [sql]
  # - id: sqlfluff-lint-check
  #   name: Lint check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_lint.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-format-check
  #   name: format check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_format.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-fix
  #   name: fix (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_fix.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]

fix threshold for tests to 1% and add specific native event tests threshold
  orchestration/dags/data_gcp_dbt/dbt_project.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/schema/int_firebase__native_event_flattened.yaml
  orchestration/dags/data_gcp_dbt/tests/generic/not_null_proportion_native_event_test.sql
Due: sqlfmt

fix threshold for tests to 1% and add specific native event tests threshold
  orchestration/dags/data_gcp_dbt/tests/generic/not_null_proportion_native_event_test.sql
Due: sqlfmt

(HF) fix(dag): fix dag argd environment
  orchestration/dags/jobs/administration/bigquery_archive_partition.py
Due: format-fix, lint-fix

(HF) fix(dag): fix dag argd environment (#3810)
  orchestration/dags/jobs/administration/bigquery_archive_partition.py
Due: format-fix, lint-fix

fix: module path & git ignore
  orchestration/dags/data_gcp_dbt/.gitignore
  orchestration/dags/jobs/dbt/dbt_encrypted_export.py
Due: format-fix, lint-fix

fix bigquery dag json
  orchestration/dags/jobs/administration/bigquery_archive_partition.py
Due: format-fix, lint-fix

fix sync_all_columns on bookable_venue_history
  orchestration/dags/data_gcp_dbt/models/analytics/history/bookable_venue_history.sql
Due: sqlfmt

fix total_venues is ambiguous inside o
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__venue.sql
Due: sqlfmt

fix json
  jobs/etl_jobs/internal/bigquery_archive_partition/archive.py
  orchestration/dags/jobs/administration/bigquery_archive_partition.py
Due: format-fix, lint-fix

fix
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__venue.sql
Due: sqlfmt

fix sync_all_columns on bookable_venue_history (#3811)
  orchestration/dags/data_gcp_dbt/models/analytics/history/bookable_venue_history.sql
Due: sqlfmt

fix doc
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offer.md
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offer.yml
Due: none

fix: module path & git ignore (#3812)
  orchestration/dags/data_gcp_dbt/.gitignore
  orchestration/dags/jobs/dbt/dbt_encrypted_export.py
Due: format-fix, lint-fix

add nullif
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/headline_offer.sql
Due: sqlfmt

(DA-3806) feat(dbt): V2 - Import headline offer model (#3806)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offer.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__venue.md
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__venue.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offer.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__venue.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__venue.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/headline_offer.sql
Due: sqlfmt

deploy: 133cef1ed51bf21f8c5678445570c14f106fc54b
  __pycache__/hooks.cpython-310.pyc
  dbt/glossary/applicative_database/column__offer/index.html
  dbt/glossary/applicative_database/column__venue/index.html
  dbt/models/mart/global/description__mrt_global__offer/index.html
  dbt/models/mart/global/description__mrt_global__venue/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

(BSR) feat(zendesk): add recipient to ticket imports
  jobs/etl_jobs/external/zendesk/constants.py
Due: format-fix, lint-fix

Revert "(DA-3806) feat(dbt): V2 - Import headline offer model (#3806)"
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offer.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__venue.md
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__venue.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offer.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__venue.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__venue.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/headline_offer.sql
Due: sqlfmt

(BSR) feat(zendesk): add recipient to ticket imports (#3814)
  jobs/etl_jobs/external/zendesk/constants.py
Due: format-fix, lint-fix

Revert "(DA-3806) feat(dbt): V2 - Import headline offer model (#3806)" (#3815)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offer.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__venue.md
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__venue.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offer.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__venue.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__venue.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/headline_offer.sql
Due: sqlfmt

deploy: d64ce4c337de694dfb028605b92d5956a2b2f28f
  __pycache__/hooks.cpython-310.pyc
  dbt/glossary/applicative_database/column__offer/index.html
  dbt/glossary/applicative_database/column__venue/index.html
  dbt/models/mart/global/description__mrt_global__offer/index.html
  dbt/models/mart/global/description__mrt_global__venue/index.html
  search/search_index.json
Due: none

escape double quotes
  orchestration/dags/jobs/administration/bigquery_archive_partition.py
Due: format-fix, lint-fix

linter
  orchestration/dags/jobs/administration/bigquery_archive_partition.py
Due: format-fix, lint-fix

change for class logic
  jobs/etl_jobs/internal/bigquery_archive_partition/archive.py
  jobs/etl_jobs/internal/bigquery_archive_partition/main.py
  orchestration/dags/jobs/administration/bigquery_archive_partition.py
Due: format-fix, lint-fix

fix json parsing
  orchestration/dags/jobs/administration/bigquery_archive_partition.py
Due: format-fix, lint-fix

remove unused replace
  orchestration/dags/jobs/administration/bigquery_archive_partition.py
Due: format-fix, lint-fix

fix linter
  jobs/etl_jobs/internal/bigquery_archive_partition/archive.py
  orchestration/dags/jobs/administration/bigquery_archive_partition.py
Due: format-fix, lint-fix

(BSR) (feat): clean tmp files + fix slack alert in dev
  orchestration/dags/common/alerts.py
  orchestration/dags/data_gcp_dbt/scripts/dbt_clean_tmp_folders.sh
  orchestration/dags/data_gcp_dbt/scripts/helpers.sh
  orchestration/dags/jobs/dbt/dbt_dag_run.py
Due: format-fix, lint-fix

(BSR) feat(etl_job): update import date from airflow job
  jobs/etl_jobs/external/zendesk/extract.py
  jobs/etl_jobs/external/zendesk/main.py
  orchestration/dags/jobs/import/import_zendesk.py
Due: format-fix, lint-fix

(DE-1222) refactor(dbt): delete bookable_offer_history
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/enriched_monthly_bookable_item_discoverability.sql
  orchestration/dags/data_gcp_dbt/models/analytics/history/bookable_partner_history.sql
  orchestration/dags/data_gcp_dbt/models/analytics/history/bookable_venue_history.sql
  orchestration/dags/data_gcp_dbt/models/clean/bookable_offer_history.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/history/int_history__bookable_offer.sql
Due: sqlfmt

sqlfmt
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/enriched_monthly_bookable_item_discoverability.sql
Due: sqlfmt

(BSR) feat(etl_job): update import date from airflow job
  orchestration/dags/jobs/import/import_zendesk.py
Due: format-fix, lint-fix

fixes
  orchestration/dags/common/alerts.py
  orchestration/dags/data_gcp_dbt/scripts/helpers.sh
Due: format-fix, lint-fix

(DE-1247) refactor(metabase): update archiving script
  jobs/etl_jobs/external/metabase-archiving/archiving.py
  jobs/etl_jobs/external/metabase-archiving/main.py
  jobs/etl_jobs/external/metabase-archiving/utils.py
  orchestration/dags/data_gcp_dbt/models/intermediate/metabase/int_metabase__activity.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/metabase/int_metabase__aggregated_card_activity.sql
Due: format-fix, lint-fix, sqlfmt

fix sqlfmt
  orchestration/dags/data_gcp_dbt/models/intermediate/metabase/int_metabase__activity.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/metabase/int_metabase__aggregated_card_activity.sql
Due: sqlfmt

add more description
  jobs/etl_jobs/external/metabase-archiving/utils.py
Due: format-fix, lint-fix

chore: dbt generic test intermediary amount
  orchestration/dags/data_gcp_dbt/tests/generic/is_valid_booking_intermediary_amout.sql
Due: sqlfmt

feat: dbt set critical tests for global_booking & global_offer
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__booking.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offer.yml
Due: none

chore: elementary report remove html attachement (#3822)
  orchestration/dags/data_gcp_dbt/scripts/elementary_send_report.sh
Due: none

(DE-1138) fix(archive): fix json parsing in archive partitions dag (#3817)
  jobs/etl_jobs/internal/bigquery_archive_partition/archive.py
  jobs/etl_jobs/internal/bigquery_archive_partition/main.py
  orchestration/dags/jobs/administration/bigquery_archive_partition.py
Due: format-fix, lint-fix
