Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
  # Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
  # Add new hook types here to ensure automatic installation when running `pre-commit install`
  - pre-commit
  - pre-push
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: format-fix
        name: Formatting (ruff)
        entry: ruff format
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: lint-fix
        name: Linting (ruff)
        entry: ruff check --fix
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: sqlfmt
        name: SQL Formatting (sqlfmt)
        entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
        stages: [push]
        language: python
        additional_dependencies: ["shandy-sqlfmt[jinjafmt]==0.23.2"]
        types: [sql]
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.3.0
    hooks:
      - id: sqlfluff-fix
        additional_dependencies:
          ["dbt-bigquery==1.8.1", "sqlfluff-templater-dbt"]
        stages: [commit]
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.0
    hooks:
    - id: markdownlint-cli2
      language_version: 24.0.0
      args:
        - --fix

Refactor creation_date_penalty_factor calculation for improved readability
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__recommendable_item.sql
Due: sqlfmt

double run for comparison
  jobs/etl_jobs/jobs/brevo/config.py
  orchestration/dags/dependencies/brevo/import_brevo.py
  orchestration/dags/dependencies/brevo/sql/analytics/brevo_newsletters_performance.sql
  orchestration/dags/dependencies/brevo/sql/analytics/brevo_transactional_performance.sql
  orchestration/dags/dependencies/brevo/sql/clean/brevo_transactional.sql
  orchestration/dags/dependencies/brevo/sql/raw/brevo_transactional.sql
  orchestration/dags/jobs/import/import_brevo.py
Due: format-fix, lint-fix, sqlfmt

sonarcloud review
  jobs/etl_jobs/http_tools/clients.py
  jobs/etl_jobs/jobs/brevo/utils.py
Due: format-fix, lint-fix

(DE-2133) feat(http): http base clients for api calls, implementation refactoring Brevo v2-> connector, header base rate limiter, async mode (#4318)
  jobs/etl_jobs/__init__.py
  jobs/etl_jobs/connectors/__init__.py
  jobs/etl_jobs/connectors/brevo.py
  jobs/etl_jobs/http_tools/__init__.py
  jobs/etl_jobs/http_tools/clients.py
  jobs/etl_jobs/http_tools/rate_limiters.py
  jobs/etl_jobs/jobs/__init__.py
  jobs/etl_jobs/jobs/brevo/__init__.py
  jobs/etl_jobs/jobs/brevo/config.py
  jobs/etl_jobs/jobs/brevo/main.py
  jobs/etl_jobs/jobs/brevo/pyproject.toml
  jobs/etl_jobs/jobs/brevo/requirements.in
  jobs/etl_jobs/jobs/brevo/requirements.txt
  jobs/etl_jobs/jobs/brevo/utils.py
  orchestration/dags/dependencies/brevo/import_brevo.py
  orchestration/dags/dependencies/brevo/sql/analytics/brevo_newsletters_performance.sql
  orchestration/dags/dependencies/brevo/sql/analytics/brevo_transactional_performance.sql
  orchestration/dags/dependencies/brevo/sql/clean/brevo_transactional.sql
  orchestration/dags/dependencies/brevo/sql/raw/brevo_transactional.sql
  orchestration/dags/jobs/import/import_brevo.py
Due: format-fix, lint-fix, sqlfmt

(HF) docs(dbt): deleted column doc
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__collective_offer.md
Due: none

(HF) docs(dbt): deleted column doc (#4334)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__collective_offer.md
Due: none

refactor: Update function names and improve model loading process
  jobs/ml_jobs/reco_integration_test/main.py
  jobs/ml_jobs/reco_integration_test/pyproject.toml
  jobs/ml_jobs/reco_integration_test/utils/model_utils.py
  jobs/ml_jobs/reco_integration_test/utils/tools.py
Due: format-fix, lint-fix

refactor: Update function names and improve model loading process
  jobs/ml_jobs/reco_integration_test/call_endpoint_utils.py
  jobs/ml_jobs/reco_integration_test/main.py
  jobs/ml_jobs/reco_integration_test/pyproject.toml
  jobs/ml_jobs/reco_integration_test/sql/user_data.sql
  jobs/ml_jobs/reco_integration_test/utils/analysis_utils.py
  jobs/ml_jobs/reco_integration_test/utils/model_utils.py
  jobs/ml_jobs/reco_integration_test/utils/tools.py
Due: format-fix, lint-fix, sqlfmt

debug: enable ssh on action runner
  .github/workflows/reusable_dbt_workflow.yml
Due: none

debug: enable ssh on action runner (#4336)
  .github/workflows/reusable_dbt_workflow.yml
Due: none

Revert "debug: enable ssh on action runner (#4336)"
  .github/workflows/reusable_dbt_workflow.yml
Due: none

Revert "debug: enable ssh on action runner (#4336)" (#4337)
  .github/workflows/reusable_dbt_workflow.yml
Due: none

deploy: d401956edaacf9c3c248c4bbb182657a6c7e2102
  __pycache__/hooks.cpython-312.pyc
  dbt/glossary/applicative_database/column__collective_offer/index.html
  dbt/models/mart/global/description__mrt_global__collective_offer/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

refactor: Simplify SQL query structure and improve readability
  jobs/ml_jobs/reco_integration_test/sql/user_data.sql
Due: sqlfmt

factorize beneficiary model
  orchestration/dags/data_gcp_dbt/models/mart/propilote/PPG/ephemerals_kpis/mrt_propilote__ppg_beneficiary.sql
Due: sqlfmt

sqlfmt
  orchestration/dags/data_gcp_dbt/models/mart/propilote/PPG/ephemerals_kpis/mrt_propilote__ppg_beneficiary.sql
Due: sqlfmt

troubleshooting capitalized letters in BQ tables metadata
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__deposit.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__venue.sql
Due: sqlfmt

Re-add blocs business + adapt script for re-running specific modules only
  jobs/etl_jobs/external/contentful/contentful_client.py
  jobs/etl_jobs/external/contentful/main.py
  orchestration/dags/jobs/import/import_contentful.py
Due: format-fix, lint-fix

snapshot collective offer
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__collective_offer.sql
Due: sqlfmt

fix target table name
  jobs/etl_jobs/jobs/brevo/utils.py
Due: format-fix, lint-fix

fix
  jobs/etl_jobs/external/contentful/main.py
Due: format-fix, lint-fix

update diversity model with categorial kpis
  orchestration/dags/data_gcp_dbt/models/mart/propilote/PPG/ephemerals_kpis/mrt_propilote__ppg_diversity.sql
Due: sqlfmt

sqlfmt
  orchestration/dags/data_gcp_dbt/models/mart/propilote/PPG/ephemerals_kpis/mrt_propilote__ppg_diversity.sql
Due: sqlfmt

adapt template offer id and add unicity test (#4198)
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__collective_offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__collective_booking.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__collective_offer.yml
Due: sqlfmt

refactor: remove offline recommendation job and related files
  jobs/ml_jobs/offline_recommendation/access_gcp_secrets.py
  jobs/ml_jobs/offline_recommendation/main.py
  jobs/ml_jobs/offline_recommendation/pyproject.toml
  jobs/ml_jobs/offline_recommendation/requirements.in
  jobs/ml_jobs/offline_recommendation/requirements.txt
  jobs/ml_jobs/offline_recommendation/tests/__init__.py
  jobs/ml_jobs/offline_recommendation/tests/offline_recommendation_test.py
  jobs/ml_jobs/offline_recommendation/utils.py
  orchestration/dags/dependencies/ml/offline_recommendation/export_to_backend.py
  orchestration/dags/dependencies/ml/offline_recommendation/import_users.py
  orchestration/dags/dependencies/ml/offline_recommendation/sql/export_backend/day_plus_two_after_booking.sql
  orchestration/dags/dependencies/ml/offline_recommendation/sql/export_backend/first_booking.sql
  orchestration/dags/dependencies/ml/offline_recommendation/sql/import/day_plus_two_after_booking.sql
  orchestration/dags/dependencies/ml/offline_recommendation/sql/import/first_booking.sql
Due: format-fix, lint-fix, sqlfmt

(BSR) fix(dependabot): upgrade pyarrow to 14.0.1 (#4327)
  jobs/ml_jobs/offline_recommendation/requirements.in
  jobs/ml_jobs/offline_recommendation/requirements.txt
  jobs/ml_jobs/retrieval_vector/pyproject.toml
  jobs/ml_jobs/retrieval_vector/uv.lock
Due: none

(BSR) fix(dependabot): bump setuptools to 78.1.1 to fix critical alert (#4328)
  jobs/ml_jobs/algo_training/requirements.in
  jobs/ml_jobs/algo_training/requirements.txt
  jobs/ml_jobs/artist_linkage/requirements.in
  jobs/ml_jobs/artist_linkage/requirements.txt
  jobs/ml_jobs/clusterisation/requirements.in
  jobs/ml_jobs/clusterisation/requirements.txt
  jobs/ml_jobs/embeddings/requirements.in
  jobs/ml_jobs/embeddings/requirements.txt
  jobs/ml_jobs/item_linkage/requirements.in
  jobs/ml_jobs/item_linkage/requirements.txt
  jobs/ml_jobs/ranking_endpoint/requirements.in
  jobs/ml_jobs/ranking_endpoint/requirements.txt
  jobs/ml_jobs/reduction/requirements.in
  jobs/ml_jobs/reduction/requirements.txt
Due: none

fix target table name (#4338)
  jobs/etl_jobs/jobs/brevo/utils.py
Due: format-fix, lint-fix

Revert "(BSR) fix(dependabot): upgrade pyarrow to 14.0.1 (#4327)"
  jobs/ml_jobs/offline_recommendation/requirements.in
  jobs/ml_jobs/offline_recommendation/requirements.txt
  jobs/ml_jobs/retrieval_vector/pyproject.toml
  jobs/ml_jobs/retrieval_vector/uv.lock
Due: none

Revert "(BSR) fix(dependabot): bump setuptools to 78.1.1 to fix critical alert (#4328)"
  jobs/ml_jobs/algo_training/requirements.in
  jobs/ml_jobs/algo_training/requirements.txt
  jobs/ml_jobs/artist_linkage/requirements.in
  jobs/ml_jobs/artist_linkage/requirements.txt
  jobs/ml_jobs/clusterisation/requirements.in
  jobs/ml_jobs/clusterisation/requirements.txt
  jobs/ml_jobs/embeddings/requirements.in
  jobs/ml_jobs/embeddings/requirements.txt
  jobs/ml_jobs/item_linkage/requirements.in
  jobs/ml_jobs/item_linkage/requirements.txt
  jobs/ml_jobs/ranking_endpoint/requirements.in
  jobs/ml_jobs/ranking_endpoint/requirements.txt
  jobs/ml_jobs/reduction/requirements.in
  jobs/ml_jobs/reduction/requirements.txt
Due: none

fix: handle template- prefix in humanized id function
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__collective_offer.sql
Due: sqlfmt

fix: handle template- prefix in humanized id function (#4341)
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__collective_offer.sql
Due: sqlfmt

refactor: Update call_endpoint function to handle item_id and user_id dynamically; enhance data fetching logic
  jobs/ml_jobs/reco_integration_test/call_endpoint_utils.py
  jobs/ml_jobs/reco_integration_test/constants.py
  jobs/ml_jobs/reco_integration_test/main.py
  jobs/ml_jobs/reco_integration_test/sql/item_data.sql
  jobs/ml_jobs/reco_integration_test/utils/tools.py
Due: format-fix, lint-fix, sqlfmt

refactor: Update endpoint import path and improve data fetching logic; enhance readability and structure
  jobs/ml_jobs/reco_integration_test/main.py
  jobs/ml_jobs/reco_integration_test/utils/endpoint.py
  jobs/ml_jobs/reco_integration_test/utils/tools.py
Due: format-fix, lint-fix

deploy: 3415c378b13e9aa7830e3b532d80b7979135a22f
  __pycache__/hooks.cpython-312.pyc
  sitemap.xml
  sitemap.xml.gz
Due: none

refactor: Update model loading process and enhance embedding extraction; improve data handling and readability
  jobs/ml_jobs/reco_integration_test/main.py
  jobs/ml_jobs/reco_integration_test/utils/endpoint.py
  jobs/ml_jobs/reco_integration_test/utils/tools.py
Due: format-fix, lint-fix

(BSR) dbt(schedule): enforce models schedules in config
  orchestration/dags/data_gcp_dbt/models/analytics/aggregated_weekly_user_data.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/seed/int_seed__monthly_france_population.sql
Due: sqlfmt

add docs
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/propilote/column__propilote.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/propilote/description__mrt_propilote__ppg_beneficiary.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/propilote/description__mrt_propilote__ppg_coverage.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/propilote/description__mrt_propilote__ppg_deposit_usage.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/propilote/description__mrt_propilote__ppg_diversity.md
  orchestration/dags/data_gcp_dbt/models/mart/native/_schema/mrt_native__outgoing_cohort.yml
  orchestration/dags/data_gcp_dbt/models/mart/propilote/PPG/ephemerals_kpis/schema/mrt_propilote__ppg_beneficiary.yml
  orchestration/dags/data_gcp_dbt/models/mart/propilote/PPG/ephemerals_kpis/schema/mrt_propilote__ppg_coverage.yml
  orchestration/dags/data_gcp_dbt/models/mart/propilote/PPG/ephemerals_kpis/schema/mrt_propilote__ppg_deposit_usage.yml
  orchestration/dags/data_gcp_dbt/models/mart/propilote/PPG/ephemerals_kpis/schema/mrt_propilote__ppg_diversity.yml
Due: none

rename schema
  orchestration/dags/data_gcp_dbt/models/mart/propilote/PPG/ephemerals_kpis/_schema/mrt_propilote__ppg_beneficiary.yml
  orchestration/dags/data_gcp_dbt/models/mart/propilote/PPG/ephemerals_kpis/_schema/mrt_propilote__ppg_coverage.yml
  orchestration/dags/data_gcp_dbt/models/mart/propilote/PPG/ephemerals_kpis/_schema/mrt_propilote__ppg_deposit_usage.yml
  orchestration/dags/data_gcp_dbt/models/mart/propilote/PPG/ephemerals_kpis/_schema/mrt_propilote__ppg_diversity.yml
Due: none

fix dbt_project
  orchestration/dags/data_gcp_dbt/dbt_project.yml
  orchestration/dags/data_gcp_dbt/models/mart/propilote/PPG/ephemerals_kpis/_schema/mrt_propilote__ppg_beneficiary.yml
  orchestration/dags/data_gcp_dbt/models/mart/propilote/PPG/ephemerals_kpis/_schema/mrt_propilote__ppg_coverage.yml
  orchestration/dags/data_gcp_dbt/models/mart/propilote/PPG/ephemerals_kpis/_schema/mrt_propilote__ppg_deposit_usage.yml
Due: none
