Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: system
  stages:
  - commit

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: system
  stages:
  - commit

sqlfluff-format-fix:
  name: Formatting (sqlfluff)
  entry: make sqlfluff_format
  language: system
  stages:
  - commit

sqlfluff-lint-fix echo $(git diff --cached --name-only):
  name: Linter (sqlfluff)
  entry: make sqlfluff_fix $(git diff --cached --name-only)
  language: system
  stages:
  - commit

sqlfluff-lint-check:
  name: Lint check (sqlfluff)
  entry: make sqlfluff_lint echo $(git diff --cached --name-only)
  language: system
  stages:
  - commit

security: constrain commands input in dbt manual dag (#3202)
  orchestration/dags/jobs/dbt/dbt_manual.py
Due: format-fix, lint-fix

feat: Train catboost on GPU
  jobs/ml_jobs/algo_training/offer_categorization/train.py
Due: format-fix, lint-fix

activate virtual env with uv
  orchestration/dags/common/operators/gce.py
Due: format-fix, lint-fix

fix: Update schema name (#3207)
  orchestration/dags/dependencies/propilote/sql/tmp/taux_participation_eac_ecoles/propilote_tmp_participation_eac_ecoles.sql
  orchestration/dags/dependencies/propilote/sql/tmp/taux_participation_eac_jeunes/propilote_tmp_participation_eac_jeunes.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

switch import adresses dag for testing
  orchestration/dags/common/operators/gce.py
  orchestration/dags/jobs/import/import_addresses.py
Due: format-fix, lint-fix

Create first mrt outgoing cohorts model (#3135)
  orchestration/dags/data_gcp_dbt/models/analytics/diversification/diversification_booking.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__deposit.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__user.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__deposit.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__outgoing_cohorts.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

[DE-233](retrieval) feat: refactor and add tests api
  jobs/ml_jobs/retrieval_vector/Dockerfile
  jobs/ml_jobs/retrieval_vector/README.md
  jobs/ml_jobs/retrieval_vector/api-requirements.in
  jobs/ml_jobs/retrieval_vector/api-requirements.txt
  jobs/ml_jobs/retrieval_vector/app/__init__.py
  jobs/ml_jobs/retrieval_vector/app/app.py
  jobs/ml_jobs/retrieval_vector/app/factory/handler.py
  jobs/ml_jobs/retrieval_vector/app/factory/handler_factory.py
  jobs/ml_jobs/retrieval_vector/app/factory/recommendation.py
  jobs/ml_jobs/retrieval_vector/app/factory/semantic.py
  jobs/ml_jobs/retrieval_vector/app/factory/similar_offer.py
  jobs/ml_jobs/retrieval_vector/app/factory/tops.py
  jobs/ml_jobs/retrieval_vector/app/logger.py
  jobs/ml_jobs/retrieval_vector/app/model.py
  jobs/ml_jobs/retrieval_vector/app/models.py
  jobs/ml_jobs/retrieval_vector/app/retrieval/client.py
  jobs/ml_jobs/retrieval_vector/app/retrieval/constants.py
  jobs/ml_jobs/retrieval_vector/app/retrieval/core/filter.py
  jobs/ml_jobs/retrieval_vector/app/retrieval/core/reranker.py
  jobs/ml_jobs/retrieval_vector/app/retrieval/model_config.py
  jobs/ml_jobs/retrieval_vector/app/retrieval/reco_client.py
  jobs/ml_jobs/retrieval_vector/app/retrieval/text_client.py
  jobs/ml_jobs/retrieval_vector/app/retrieval/utils.py
  jobs/ml_jobs/retrieval_vector/app/routes.py
  jobs/ml_jobs/retrieval_vector/app/services.py
  jobs/ml_jobs/retrieval_vector/deploy_dummy.py
  jobs/ml_jobs/retrieval_vector/deploy_model.py
  jobs/ml_jobs/retrieval_vector/deploy_semantic.py
  jobs/ml_jobs/retrieval_vector/pytest.ini
  jobs/ml_jobs/retrieval_vector/requirements.in
  jobs/ml_jobs/retrieval_vector/requirements.txt
  jobs/ml_jobs/retrieval_vector/tests/__init__.py
  jobs/ml_jobs/retrieval_vector/tests/conftest.py
  jobs/ml_jobs/retrieval_vector/tests/factory/handler_test.py
  jobs/ml_jobs/retrieval_vector/tests/factory/recommendation_test.py
  jobs/ml_jobs/retrieval_vector/tests/factory/semantic_offer_test.py
  jobs/ml_jobs/retrieval_vector/tests/factory/similar_offer_test.py
  jobs/ml_jobs/retrieval_vector/tests/factory/tops_test.py
  jobs/ml_jobs/retrieval_vector/tests/retrieval/core/filter_test.py
  jobs/ml_jobs/retrieval_vector/utils.py
Due: format-fix, lint-fix

fix: remove devices=0 in Catboost
  jobs/ml_jobs/algo_training/offer_categorization/train.py
Due: format-fix, lint-fix

feat: add tests for client
  jobs/ml_jobs/retrieval_vector/app/factory/similar_offer.py
  jobs/ml_jobs/retrieval_vector/app/retrieval/client.py
  jobs/ml_jobs/retrieval_vector/app/retrieval/core/reranker.py
  jobs/ml_jobs/retrieval_vector/app/retrieval/reco_client.py
  jobs/ml_jobs/retrieval_vector/tests/conftest.py
  jobs/ml_jobs/retrieval_vector/tests/factory/similar_offer_test.py
  jobs/ml_jobs/retrieval_vector/tests/retrieval/core/client_test.py
  jobs/ml_jobs/retrieval_vector/tests/utils.py
Due: format-fix, lint-fix

(batch) retrieve utm campaign for ab test (#3201)
  jobs/etl_jobs/external/batch/batch_client.py
  jobs/etl_jobs/external/batch/utils.py
Due: format-fix, lint-fix

add department name to tables
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__collective_offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__venue.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/geolocation/int_geo__institution_location.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/geolocation/int_geo__user_location.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/geolocation/int_geo__venue_location.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__booking.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__collective_offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__stock.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__user.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__collective_booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__collective_offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__deposit.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__educational_institution.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__favorite.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__venue_provider.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

fix
  orchestration/dags/data_gcp_dbt/dbt_project.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/geolocation/int_geo__user_location.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

add new provider fields into offer, fix one field
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

feat: update dockerfile
  jobs/ml_jobs/retrieval_vector/Dockerfile
Due: none

fix: Update collective_is_bookable calculation
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__collective_offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__collective_stock.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

feat: Update history models ref
  orchestration/dags/data_gcp_dbt/models/analytics/history/bookable_venue_history.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__venue.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

fix: Update collective_is_bookable calculation (#3206)
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__collective_offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__collective_stock.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

fix
  orchestration/dags/data_gcp_dbt/models/intermediate/geolocation/int_geo__venue_location.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

switch merging engine
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/daily_aggregated_offer_event.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/monthly_aggregated_offerer_collective_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/monthly_aggregated_offerer_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/yearly_aggregated_offerer_collective_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/yearly_aggregated_offerer_revenue.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

feat: Factorize logs models
  .github/workflows/scripts/run_dbt_changed_models.sh
  orchestration/dags/data_gcp_dbt/models/analytics/adage_logs.sql
  orchestration/dags/data_gcp_dbt/models/analytics/api_logs.sql
  orchestration/dags/data_gcp_dbt/models/analytics/app_native_logs.sql
  orchestration/dags/data_gcp_dbt/models/analytics/app_pro_logs.sql
  orchestration/dags/data_gcp_dbt/models/analytics/backoffice_logs.sql
  orchestration/dags/data_gcp_dbt/models/analytics/collective_logs.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__user.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/pcapi/int_pcapi__backoffice_log.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/pcapi/int_pcapi__collective_log.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/pcapi/int_pcapi__log.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/pcapi/int_pcapi__native_log.sql
  orchestration/dags/data_gcp_dbt/models/mart/pro/mrt_pro__log.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

fix: Remove t4 for algo training categorization because it is not working
  orchestration/dags/jobs/ml/algo_training_offer_categorization.py
Due: format-fix, lint-fix

[DE-489](import) feat: add instagram import
  jobs/etl_jobs/external/instagram/extract.py
  jobs/etl_jobs/external/instagram/main.py
  jobs/etl_jobs/external/instagram/pyproject.toml
  jobs/etl_jobs/external/instagram/requirements.in
  jobs/etl_jobs/external/instagram/requirements.txt
  jobs/etl_jobs/external/instagram/utils.py
  orchestration/dags/jobs/import/import_social_media.py
  orchestration/dags/jobs/import/import_tiktok.py
Due: format-fix, lint-fix

fix: Remove t4 for algo training categorization because it is not working (#3212)
  orchestration/dags/jobs/ml/algo_training_offer_categorization.py
Due: format-fix, lint-fix

feat: Rename test_fraction in ratio and set in to 0.1
  jobs/ml_jobs/algo_training/offer_categorization/split_data.py
  orchestration/dags/jobs/ml/algo_training_offer_categorization.py
Due: format-fix, lint-fix

feat: Add early stopping on training
  jobs/ml_jobs/algo_training/offer_categorization/train.py
Due: format-fix, lint-fix

fix: Replace test_ratio type
  jobs/ml_jobs/algo_training/offer_categorization/split_data.py
  orchestration/dags/jobs/ml/algo_training_offer_categorization.py
Due: format-fix, lint-fix

remove pyenv install and setup install operator
  orchestration/dags/common/operators/gce.py
Due: format-fix, lint-fix

(DE-588) add volume monitoring on native event
  orchestration/dags/data_gcp_dbt/models/mart/native/schema/mrt_native__event.yml
Due: none

(fix) batch remove unused key from dict
  jobs/etl_jobs/external/batch/batch_client.py
Due: format-fix, lint-fix

feat: Make split using stratify
  jobs/ml_jobs/algo_training/offer_categorization/train.py
Due: format-fix, lint-fix

WIP: feat: Add num_boost_round parameter in train
  jobs/ml_jobs/algo_training/offer_categorization/train.py
Due: format-fix, lint-fix

(fix) batch remove unused key from dict (#3216)
  jobs/etl_jobs/external/batch/batch_client.py
Due: format-fix, lint-fix

feat: Add num_boost_round parameter in DAG
  jobs/ml_jobs/algo_training/offer_categorization/train.py
  orchestration/dags/jobs/ml/algo_training_offer_categorization.py
Due: format-fix, lint-fix

refactor InstallDependenciesOperator
  orchestration/dags/common/operators/gce.py
Due: format-fix, lint-fix

filtering export path for uv
  orchestration/dags/common/operators/gce.py
Due: format-fix, lint-fix

test dag
  orchestration/dags/jobs/import/import_addresses.py
Due: format-fix, lint-fix

temp: Take only last 30 days events in daily_aggragated_offer_event
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/daily_aggregated_offer_event.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

fix: Add missing parenthesis
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/daily_aggregated_offer_event.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

fix launch vm
  orchestration/dags/common/operators/gce.py
  orchestration/dags/jobs/import/import_addresses.py
  orchestration/dags/launch_vm.py
Due: format-fix, lint-fix

debug: reduce to 7 days
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/daily_aggregated_offer_event.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfluff-format-fix: any of: \.sql$
  sqlfluff-lint-fix echo $(git diff --cached --name-only): any of: \.sql$
  sqlfluff-lint-check: any of: \.sql$
