Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: python
  stages:
  - commit
  additional_dependencies:
  - ruff==0.5.7

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: python
  stages:
  - commit
  additional_dependencies:
  - ruff==0.5.7

sqlfmt:
  name: SQL Formatting (sqlfmt)
  entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
  ...

Remove unused utility scripts and add endpoint monitoring functionality
  jobs/ml_jobs/endpoint_monitoring/Makefile
  jobs/ml_jobs/endpoint_monitoring/README.md
  jobs/ml_jobs/endpoint_monitoring/__init__.py
  jobs/ml_jobs/endpoint_monitoring/constants.py
  jobs/ml_jobs/endpoint_monitoring/main.py
  jobs/ml_jobs/endpoint_monitoring/pyproject.toml
  jobs/ml_jobs/endpoint_monitoring/recommendation_integration_test_stg_20250725T120000_integration_tests_reports.parquet
  jobs/ml_jobs/endpoint_monitoring/recommendation_integration_test_stg_20250725T120000_integration_tests_reports.parquet:Zone.Identifier
  jobs/ml_jobs/endpoint_monitoring/streamlits/.gitignore
  jobs/ml_jobs/endpoint_monitoring/streamlits/st_analize.py
  jobs/ml_jobs/endpoint_monitoring/tests/__init__.py
  jobs/ml_jobs/endpoint_monitoring/tests/hello_test.py
  jobs/ml_jobs/endpoint_monitoring/tests/test_analysis_utils.py
  jobs/ml_jobs/endpoint_monitoring/utils/__init__.py
  jobs/ml_jobs/endpoint_monitoring/utils/analysis_utils.py
  jobs/ml_jobs/endpoint_monitoring/utils/endpoint.py
  jobs/ml_jobs/endpoint_monitoring/utils/tools.py
  jobs/ml_jobs/endpoint_monitoring/uv.lock
  jobs/ml_jobs/reco_integration_test/utils/model_utils.py
  jobs/ml_jobs/reco_integration_test/utils/similarity_utils.py
  jobs/ml_jobs/reco_integration_test/utils/slack_utils.py
  orchestration/dags/common/alerts/endpoint_monitoring.py
  orchestration/dags/dependencies/ml/endpoint_monitoring/sql/item_data.sql
  orchestration/dags/dependencies/ml/endpoint_monitoring/sql/user_data.sql
  orchestration/dags/jobs/crons.py
  orchestration/dags/jobs/ml/constants.py
  orchestration/dags/jobs/ml/recommendation_endpoint_monitoring.py
Due: format-fix, lint-fix, sqlfmt

refactor: Simplify endpoint processing by consolidating logic; enhance performance and clarity
  jobs/ml_jobs/endpoint_monitoring/README.md
  orchestration/dags/dependencies/ml/endpoint_monitoring/sql/item_data.sql
Due: sqlfmt

refactor: Simplify endpoint processing by consolidating logic; enhance performance and clarity
  jobs/ml_jobs/endpoint_monitoring/README.md
  orchestration/dags/dependencies/ml/endpoint_monitoring/sql/item_data.sql
  orchestration/dags/jobs/crons.py
  orchestration/dags/jobs/ml/recommendation_endpoint_monitoring.py
Due: format-fix, lint-fix, sqlfmt

refactor(offline_recommendation): remove unused files and clean up codebase
  jobs/ml_jobs/offline_recommendation/access_gcp_secrets.py
  jobs/ml_jobs/offline_recommendation/main.py
  jobs/ml_jobs/offline_recommendation/pyproject.toml
  jobs/ml_jobs/offline_recommendation/requirements.in
  jobs/ml_jobs/offline_recommendation/requirements.txt
  jobs/ml_jobs/offline_recommendation/tests/__init__.py
  jobs/ml_jobs/offline_recommendation/tests/offline_recommendation_test.py
  jobs/ml_jobs/offline_recommendation/utils.py
  orchestration/dags/dependencies/ml/offline_recommendation/export_to_backend.py
  orchestration/dags/dependencies/ml/offline_recommendation/import_users.py
  orchestration/dags/dependencies/ml/offline_recommendation/sql/export_backend/day_plus_two_after_booking.sql
  orchestration/dags/dependencies/ml/offline_recommendation/sql/export_backend/first_booking.sql
  orchestration/dags/dependencies/ml/offline_recommendation/sql/import/day_plus_two_after_booking.sql
  orchestration/dags/dependencies/ml/offline_recommendation/sql/import/first_booking.sql
Due: format-fix, lint-fix, sqlfmt

docs(README): add comprehensive documentation for item linkage workflow
  jobs/ml_jobs/item_linkage/README.md
Due: none

(DA-2156) docs(dbt): Add dbt doc for subcategories (#4348)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__subcategories.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/applicative/description__subcategories.md
Due: none

(HF) fix(dbt): inject scheduled date in SQL from airflow context python (#4354)
  orchestration/dags/common/dbt/dbt_executors.py
  orchestration/dags/data_gcp_dbt/macros/airflow/is_first_day_of_month.sql
Due: format-fix, lint-fix, sqlfmt

(BSR) dbt(schedule): enforce models schedules in config (#4343)
  orchestration/dags/data_gcp_dbt/models/analytics/aggregated_weekly_user_data.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/seed/int_seed__monthly_france_population.sql
Due: sqlfmt

fix default arg param
  orchestration/dags/jobs/import/import_contentful.py
Due: format-fix, lint-fix

Add description for better usage
  orchestration/dags/jobs/import/import_contentful.py
Due: format-fix, lint-fix

(DA-2156) docs(dbt): Add dbt doc for global offer (#4342)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offer.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/export/ministry/description__exp_ministry__favorite.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/export/ministry/description__exp_ministry__offer.md
Due: none

create mrt finance model
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/metric/column__metric.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/finance/description__mrt_finance__reimbursement.md
  orchestration/dags/data_gcp_dbt/models/intermediate/finance/int_finance__booking_incident.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/finance/int_finance__event.sql
  orchestration/dags/data_gcp_dbt/models/mart/finance/mrt_finance__reimbursement.sql
  orchestration/dags/data_gcp_dbt/models/mart/finance/mrt_finance__reimbursement.yml
Due: sqlfmt

sqlfmt
  orchestration/dags/data_gcp_dbt/models/mart/finance/mrt_finance__reimbursement.sql
Due: sqlfmt

(AE-1912) feat(contentful): Import contentful blocs business (#4350)
  jobs/etl_jobs/external/contentful/contentful_client.py
  jobs/etl_jobs/external/contentful/main.py
  jobs/etl_jobs/external/contentful/requirements.in
  jobs/etl_jobs/external/contentful/requirements.txt
  orchestration/dags/jobs/import/import_contentful.py
Due: format-fix, lint-fix

refactor(offline_recommendation): remove unused files and clean up codebase (#4355)
  jobs/ml_jobs/offline_recommendation/access_gcp_secrets.py
  jobs/ml_jobs/offline_recommendation/main.py
  jobs/ml_jobs/offline_recommendation/pyproject.toml
  jobs/ml_jobs/offline_recommendation/requirements.in
  jobs/ml_jobs/offline_recommendation/requirements.txt
  jobs/ml_jobs/offline_recommendation/tests/__init__.py
  jobs/ml_jobs/offline_recommendation/tests/offline_recommendation_test.py
  jobs/ml_jobs/offline_recommendation/utils.py
  orchestration/dags/dependencies/ml/offline_recommendation/export_to_backend.py
  orchestration/dags/dependencies/ml/offline_recommendation/import_users.py
  orchestration/dags/dependencies/ml/offline_recommendation/sql/export_backend/day_plus_two_after_booking.sql
  orchestration/dags/dependencies/ml/offline_recommendation/sql/export_backend/first_booking.sql
  orchestration/dags/dependencies/ml/offline_recommendation/sql/import/day_plus_two_after_booking.sql
  orchestration/dags/dependencies/ml/offline_recommendation/sql/import/first_booking.sql
Due: format-fix, lint-fix, sqlfmt

factorize finance model
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/metric/column__metric.md
  orchestration/dags/data_gcp_dbt/models/mart/finance/mrt_finance__reimbursement.sql
  orchestration/dags/data_gcp_dbt/models/mart/finance/mrt_finance__reimbursement.yml
Due: sqlfmt

(BSR) feat(ggshield): added ggshield to precommit (#4347)
  .gitignore
  .pre-commit-config.yaml
  Makefile
  README.md
  pyproject.toml
  uv.lock
Due: none

refactor: Remove unused Streamlit analysis script to streamline codebase
  jobs/ml_jobs/endpoint_monitoring/streamlits/st_analize.py
Due: format-fix, lint-fix

add tests
  tests/README.md
  tests/conftest.py
  tests/pytest.ini
  tests/scripts/run_job_tests.py
  tests/scripts/test_runner.sh
  tests/unit/etl_jobs/conftest.py
  tests/unit/etl_jobs/external/contentful/conftest.py
  tests/unit/etl_jobs/external/contentful/test_contentful_client.py
Due: format-fix, lint-fix

refactor: Enhance endpoint processing by modularizing call handling and improving metrics analysis
  jobs/ml_jobs/endpoint_monitoring/main.py
  jobs/ml_jobs/endpoint_monitoring/utils/analysis_utils.py
  jobs/ml_jobs/endpoint_monitoring/utils/endpoint.py
Due: format-fix, lint-fix

fix ggshield install for linux
  Makefile
Due: none

Historize everyday instead or every week
  orchestration/dags/jobs/crons.py
Due: format-fix, lint-fix

create ppg finance ephemeral model
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/description__mrt_external_reporting__ppg_finance.md
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG/ephemerals_kpis/_schema/mrt_external_reporting__ppg_finance.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG/ephemerals_kpis/mrt_external_reporting__ppg_finance.sql
  orchestration/dags/data_gcp_dbt/models/mart/finance/mrt_finance__reimbursement.sql
Due: sqlfmt

sqlfmt
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG/ephemerals_kpis/mrt_external_reporting__ppg_finance.sql
Due: sqlfmt

factorize finance model
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG/ephemerals_kpis/mrt_external_reporting__ppg_finance.sql
  orchestration/dags/data_gcp_dbt/models/mart/finance/mrt_finance__reimbursement.yml
Due: sqlfmt

fix
  jobs/etl_jobs/external/contentful/requirements.in
  jobs/etl_jobs/external/contentful/requirements.txt
  orchestration/dags/jobs/import/import_contentful.py
Due: format-fix, lint-fix

fix
  jobs/etl_jobs/external/contentful/main.py
  jobs/etl_jobs/external/contentful/pyproject.toml
  orchestration/dags/jobs/import/import_contentful.py
Due: format-fix, lint-fix

(HF) fix(sendinblue): defer legacy import job
  orchestration/dags/jobs/import/import_sendinblue.py
Due: format-fix, lint-fix

fix reqs
  jobs/etl_jobs/external/contentful/requirements.txt
Due: none

(HF) fix(contentful): Fix contentul pyarrow, bump python version (#4360)
  jobs/etl_jobs/external/contentful/main.py
  jobs/etl_jobs/external/contentful/pyproject.toml
  jobs/etl_jobs/external/contentful/requirements.in
  jobs/etl_jobs/external/contentful/requirements.txt
  orchestration/dags/jobs/import/import_contentful.py
Due: format-fix, lint-fix

fix ggshield install for linux (#4358)
  Makefile
Due: none

Historize everyday instead or every week (#4359)
  orchestration/dags/jobs/crons.py
Due: format-fix, lint-fix

(HF) fix(sendinblue): defer legacy import job (#4361)
  orchestration/dags/jobs/import/import_sendinblue.py
Due: format-fix, lint-fix

add fields to seach_events table
  orchestration/dags/data_gcp_dbt/models/analytics/firebase/firebase_aggregated_search_events.sql
Due: sqlfmt

fix typo
  orchestration/dags/data_gcp_dbt/models/analytics/firebase/firebase_aggregated_search_events.sql
Due: sqlfmt

disable precommit
  orchestration/dags/data_gcp_dbt/models/analytics/firebase/firebase_aggregated_search_events.sql
Due: sqlfmt

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfmt: any of: \.sql$
