Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: system
  stages:
  - commit

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: system
  stages:
  - commit

sqlfmt:
  name: SQL Formatting (sqlfmt)
  entry: make sqlfmt
  stages:
  - commit
  language: system

(HF) fix(brevo): change audience_size to be delivered (#3687)
  jobs/etl_jobs/external/brevo/brevo_newsletters.py
Due: format-fix, lint-fix

fix: Set appropriate log config
  jobs/ml_jobs/ranking_endpoint/Dockerfile
Due: none

fix: Use more data for dev and staging on ranking endpoint build
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__ranking_endpoint_training.sql
Due: sqlfmt

lint: Lint ranking_endpoint_training query
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__ranking_endpoint_training.sql
Due: sqlfmt

(DE-939) feat(ranking): Update vertex ai logguer (#3681)
  jobs/ml_jobs/ranking_endpoint/Dockerfile
  jobs/ml_jobs/ranking_endpoint/app/app.py
  jobs/ml_jobs/ranking_endpoint/app/custom_logging/config.json
  jobs/ml_jobs/ranking_endpoint/app/custom_logging/filter.py
  jobs/ml_jobs/ranking_endpoint/app/custom_logging/logger.py
Due: format-fix, lint-fix

Add files via upload
  orchestration/dags/data_gcp_dbt/package-lock.yml
Due: none

update .sqlfluff
  .sqlfluff
Due: none

chore: Add comment
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__ranking_endpoint_training.sql
Due: sqlfmt

refactor: Remove internal user in training_data_click
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__user_statistics.sql
Due: sqlfmt

fix: Remove on_pr_check_hour not working
  .github/workflows/on_pr_check_hour.yml
Due: none

(DE) feat(ci): activate branch protection
  .github/workflows/on_pr_check_hour.yml
Due: none

update yaml
  .github/workflows/on_pr_check_hour.yml
Due: none

use gh
  .github/workflows/on_pr_check_hour.yml
Due: none

setup GH_token
  .github/workflows/on_pr_check_hour.yml
Due: none

add permissions
  .github/workflows/on_pr_check_hour.yml
Due: none

test ga
  .github/workflows/on_pr_check_hour.yml
Due: none

v0.1
  .github/workflows/on_pr_check_hour.yml
Due: none

fix repo
  .github/workflows/on_pr_check_hour.yml
Due: none

compute token
  .github/workflows/on_pr_check_hour.yml
Due: none

try review pr
  .github/workflows/on_pr_check_hour.yml
Due: none

setup token
  .github/workflows/on_pr_check_hour.yml
Due: none

add repo param
  .github/workflows/on_pr_check_hour.yml
Due: none

add same token as gpt
  .github/workflows/on_pr_check_hour.yml
Due: none

more rights
  .github/workflows/on_pr_check_hour.yml
Due: none

try with pr rights
  .github/workflows/on_pr_check_hour.yml
Due: none

add schema dtype
  jobs/etl_jobs/external/instagram/extract.py
  jobs/etl_jobs/external/instagram/main.py
  jobs/etl_jobs/external/instagram/utils.py
Due: format-fix, lint-fix

(DE) build(airflow): add flask-oidc requirement for login
  orchestration/k8s-airflow/k8s-worker-requirements.in
  orchestration/k8s-airflow/k8s-worker-requirements.txt
Due: none

refactor: Remove internal user in training_data_click (#3697)
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__user_statistics.sql
Due: sqlfmt

fix: Fix query
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__ranking_endpoint_training.sql
Due: sqlfmt

add schema dtype
  jobs/etl_jobs/external/instagram/utils.py
Due: format-fix, lint-fix

split in 2 jobs
  .github/workflows/on_pr_check_hour.yml
  .github/workflows/on_schedule_rerun_workflow.yml
  .github/workflows/reusable_rerun_workflow.yml
Due: none

add on_schedule
  .github/workflows/on_schedule_rerun_workflow.yml
Due: none

(DE) build(airflow): add flask-oidc requirement for login (#3700)
  orchestration/k8s-airflow/k8s-worker-requirements.in
  orchestration/k8s-airflow/k8s-worker-requirements.txt
Due: none

add pr trigger to test workflow
  .github/workflows/on_schedule_rerun_workflow.yml
Due: none

(DE-730) feat(etl): add daily account stats for instagram (#3692)
  jobs/etl_jobs/external/instagram/extract.py
  jobs/etl_jobs/external/instagram/main.py
  jobs/etl_jobs/external/instagram/utils.py
Due: format-fix, lint-fix

review update models
  orchestration/dags/data_gcp_dbt/models/intermediate/appsflyer/int_appsflyer__cohort_report.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/appsflyer/int_appsflyer__cost_report.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/appsflyer/int_appsflyer__daily_install_attribution.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/appsflyer/int_appsflyer__daily_install_cost.sql
  orchestration/dags/data_gcp_dbt/models/mart/marketing/mrt_marketing__acquisition_campaign.sql
  orchestration/dags/data_gcp_dbt/models/mart/marketing/mrt_marketing__daily_install_acquisition_campaign.sql
Due: sqlfmt

review update models
  orchestration/dags/data_gcp_dbt/models/intermediate/appsflyer/int_appsflyer__daily_install_attribution.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/appsflyer/int_appsflyer__daily_install_cost.sql
  orchestration/dags/data_gcp_dbt/models/mart/marketing/mrt_marketing__daily_install_acquisition_campaign.sql
Due: sqlfmt

update pr types
  .github/workflows/on_schedule_rerun_workflow.yml
Due: none

add secrets
  .github/workflows/on_schedule_rerun_workflow.yml
  .github/workflows/reusable_rerun_workflow.yml
Due: none

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfmt: any of: \.sql$
