Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: python
  stages:
  - commit
  additional_dependencies:
  - ruff==0.5.7

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: python
  stages:
  - commit
  additional_dependencies:
  - ruff==0.5.7

sqlfmt:
  name: SQL Formatting (sqlfmt)
  entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
  ...

cleaning
  jobs/ml_jobs/graph_recommendation/scratchs/evaluation_main_flow.py
  jobs/ml_jobs/graph_recommendation/src/utils/commons.py
  jobs/ml_jobs/graph_recommendation/src/utils/retrieval.py
Due: format-fix, lint-fix

fix: renaming after merge
  jobs/ml_jobs/graph_recommendation/src/evaluation.py
  jobs/ml_jobs/graph_recommendation/src/utils/metadata_metrics.py
  jobs/ml_jobs/graph_recommendation/src/utils/retrieval.py
  orchestration/dags/jobs/ml/algo_training_graph_embeddings.py
Due: format-fix, lint-fix

feat: mlflow logging
  jobs/ml_jobs/graph_recommendation/pyproject.toml
  jobs/ml_jobs/graph_recommendation/scripts/cli.py
  jobs/ml_jobs/graph_recommendation/src/utils/commons.py
  jobs/ml_jobs/graph_recommendation/uv.lock
  orchestration/dags/jobs/ml/algo_training_graph_embeddings.py
Due: format-fix, lint-fix

add conditionnal download of images + clean env vars
  jobs/etl_jobs/external/titelive/config.py
  jobs/etl_jobs/external/titelive/src/scripts/download_images.py
  jobs/etl_jobs/external/titelive/src/scripts/run_incremental.py
  jobs/etl_jobs/external/titelive/src/utils/bigquery.py
  jobs/etl_jobs/external/titelive/src/utils/image_download.py
Due: format-fix, lint-fix

feat: training parameters and loss log on mlflow
  jobs/ml_jobs/graph_recommendation/src/embedding_builder.py
Due: format-fix, lint-fix

(DE-2674) feat(evaluation): retrieval evaluation metrics (#4546)
  jobs/ml_jobs/graph_recommendation/.gitignore
  jobs/ml_jobs/graph_recommendation/Makefile
  jobs/ml_jobs/graph_recommendation/pyproject.toml
  jobs/ml_jobs/graph_recommendation/scripts/cli.py
  jobs/ml_jobs/graph_recommendation/src/constants.py
  jobs/ml_jobs/graph_recommendation/src/embedding_builder.py
  jobs/ml_jobs/graph_recommendation/src/graph_builder.py
  jobs/ml_jobs/graph_recommendation/src/heterograph_builder.py
  jobs/ml_jobs/graph_recommendation/src/utils/__init__.py
  jobs/ml_jobs/graph_recommendation/src/utils/commons.py
  jobs/ml_jobs/graph_recommendation/src/utils/graph_stats.py
  jobs/ml_jobs/graph_recommendation/src/utils/metadata_metrics.py
  jobs/ml_jobs/graph_recommendation/src/utils/recommendation_metrics.py
  jobs/ml_jobs/graph_recommendation/src/utils/retrieval.py
  jobs/ml_jobs/graph_recommendation/tests/base_metrics_test.py
  jobs/ml_jobs/graph_recommendation/tests/metadata_metrics_test.py
  jobs/ml_jobs/graph_recommendation/uv.lock
  orchestration/dags/jobs/ml/algo_training_graph_embeddings.py
Due: format-fix, lint-fix

fix tests
  jobs/etl_jobs/external/titelive/main.py
  jobs/etl_jobs/external/titelive/src/scripts/download_images.py
  jobs/etl_jobs/external/titelive/tests/integration/scripts/test_download_images.py
  jobs/etl_jobs/external/titelive/tests/integration/scripts/test_run_incremental.py
  jobs/etl_jobs/external/titelive/tests/unit/utils/test_bigquery.py
Due: format-fix, lint-fix

add docs
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__cultural_partner.md
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__cultural_partner.yml
  orchestration/dags/data_gcp_dbt/models/mart/native/_schema/mrt_native__outgoing_cohort.yml
Due: none

sqlfmt
  orchestration/dags/data_gcp_dbt/models/mart/native/_schema/mrt_native__outgoing_cohort.yml
Due: none

fix: mock patch mlflow component in embedding builder test
  jobs/ml_jobs/graph_recommendation/tests/embedding_builder_test.py
Due: format-fix, lint-fix

fix: upload mlflow artifacts from tempfile
  jobs/ml_jobs/graph_recommendation/pyproject.toml
  jobs/ml_jobs/graph_recommendation/scripts/cli.py
  jobs/ml_jobs/graph_recommendation/src/evaluation.py
  jobs/ml_jobs/graph_recommendation/src/utils/commons.py
  jobs/ml_jobs/graph_recommendation/src/utils/graph_stats.py
  jobs/ml_jobs/graph_recommendation/src/utils/retrieval.py
  jobs/ml_jobs/graph_recommendation/uv.lock
  orchestration/dags/jobs/ml/algo_training_graph_embeddings.py
Due: format-fix, lint-fix

feat: optional mlflow disable decorator for tests
  jobs/ml_jobs/graph_recommendation/scripts/cli.py
  jobs/ml_jobs/graph_recommendation/src/embedding_builder.py
  jobs/ml_jobs/graph_recommendation/src/evaluation.py
  jobs/ml_jobs/graph_recommendation/src/utils/commons.py
  jobs/ml_jobs/graph_recommendation/tests/embedding_builder_test.py
Due: format-fix, lint-fix

test: evaluation
  jobs/ml_jobs/graph_recommendation/tests/evaluation_test.py
Due: format-fix, lint-fix

extand test + inspi titelive
  jobs/etl_jobs/external/metabase/Makefile
  jobs/etl_jobs/external/metabase/tests/test_replace_table.py
Due: format-fix, lint-fix

ipdate pyproject
  jobs/etl_jobs/external/metabase/README.md
  jobs/etl_jobs/external/metabase/pyproject.toml
  jobs/etl_jobs/external/metabase/uv.lock
Due: none

review
  jobs/ml_jobs/graph_recommendation/scripts/cli.py
Due: format-fix, lint-fix

docs: Update base README.md
  Makefile
  README.md
Due: none

docs: Update base README.md (#4551)
  Makefile
  README.md
Due: none

fix doc
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__cultural_partner.md
Due: none

review
  jobs/ml_jobs/graph_recommendation/scripts/cli.py
  jobs/ml_jobs/graph_recommendation/src/embedding_builder.py
  jobs/ml_jobs/graph_recommendation/src/evaluation.py
  jobs/ml_jobs/graph_recommendation/src/graph_builder.py
  jobs/ml_jobs/graph_recommendation/src/heterograph_builder.py
  jobs/ml_jobs/graph_recommendation/src/utils/gcp.py
  jobs/ml_jobs/graph_recommendation/src/utils/graph_stats.py
  jobs/ml_jobs/graph_recommendation/src/utils/mlflow.py
Due: format-fix, lint-fix

(DE-2740) feat(orchestration): add dependency between titelive and db
  orchestration/dags/common/dbt/dag_utils.py
  orchestration/dags/data_gcp_dbt/macros/database_utils/custom_snapshot_config.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__titelive_products.sql
Due: format-fix, lint-fix, sqlfmt

fix tests
  jobs/ml_jobs/graph_recommendation/tests/evaluation_test.py
Due: format-fix, lint-fix

fix: metrics logs
  jobs/ml_jobs/graph_recommendation/src/utils/mlflow.py
Due: format-fix, lint-fix

(DE-2678) feat(logging): Mlfow logs: model hyperparameters, training and evaluation metrics (#4550)
  jobs/ml_jobs/graph_recommendation/pyproject.toml
  jobs/ml_jobs/graph_recommendation/scripts/cli.py
  jobs/ml_jobs/graph_recommendation/src/constants.py
  jobs/ml_jobs/graph_recommendation/src/embedding_builder.py
  jobs/ml_jobs/graph_recommendation/src/evaluation.py
  jobs/ml_jobs/graph_recommendation/src/graph_builder.py
  jobs/ml_jobs/graph_recommendation/src/heterograph_builder.py
  jobs/ml_jobs/graph_recommendation/src/utils/commons.py
  jobs/ml_jobs/graph_recommendation/src/utils/gcp.py
  jobs/ml_jobs/graph_recommendation/src/utils/graph_stats.py
  jobs/ml_jobs/graph_recommendation/src/utils/metadata_metrics.py
  jobs/ml_jobs/graph_recommendation/src/utils/mlflow.py
  jobs/ml_jobs/graph_recommendation/src/utils/retrieval.py
  jobs/ml_jobs/graph_recommendation/tests/embedding_builder_test.py
  jobs/ml_jobs/graph_recommendation/tests/evaluation_test.py
  jobs/ml_jobs/graph_recommendation/uv.lock
  orchestration/dags/jobs/ml/algo_training_graph_embeddings.py
Due: format-fix, lint-fix

feat: grid search
  jobs/ml_jobs/graph_recommendation/scripts/cli.py
  jobs/ml_jobs/graph_recommendation/src/embedding_builder.py
  jobs/ml_jobs/graph_recommendation/src/heterograph_builder.py
  orchestration/dags/common/grid_search.py
  orchestration/dags/jobs/ml/algo_training_graph_embeddings.py
  orchestration/dags/jobs/ml/algo_training_graph_embeddings_grid.py
Due: format-fix, lint-fix

fix
  orchestration/dags/common/grid_search.py
  orchestration/dags/jobs/ml/algo_training_graph_embeddings_grid.py
Due: format-fix, lint-fix

docs
  orchestration/dags/common/grid_search.py
  orchestration/dags/jobs/ml/algo_training_graph_embeddings_grid.py
Due: format-fix, lint-fix

add model exp_backend__product_delta with tests and docs
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/export/backend/description__exp_product_delta.md
  orchestration/dags/data_gcp_dbt/models/export/backend/_schema/exp_backend__product_delta.yml
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__product_delta.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: sqlfmt

lint: make schedule_mapping a function (so that we do not import a non constant variable from a module)
  jobs/etl_jobs/internal/bigquery_alerts/main.py
  jobs/etl_jobs/internal/bigquery_alerts/utils.py
Due: format-fix, lint-fix

feat: ParameterSearchMode, orthogonal/combinatirics
  orchestration/dags/common/grid_search.py
  orchestration/dags/jobs/ml/algo_training_graph_embeddings_grid.py
Due: format-fix, lint-fix

refactor: Use mrt_global__ instead of int_global__ in training_data_booking
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_booking.sql
Due: sqlfmt

refactor: Use mrt_global__ instead of int_applicative__ in available_offer
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__available_offer.sql
Due: sqlfmt

refactor: Use mrt_global__ instead of int_global__ in training_data_click
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_click.sql
Due: sqlfmt

refactor: Use mrt_global__ instead of int_global__ in training_data_favorite
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_favorite.sql
Due: sqlfmt

refactor: Use mrt_global__booking in user_booked_item
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__user_booked_item.sql
Due: sqlfmt

refactor: Use mrt_global__ instead of int_applicative__ in offer_feature
  orchestration/dags/data_gcp_dbt/models/machine_learning/feature/ml_feat__offer_feature.sql
Due: sqlfmt

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfmt: any of: \.sql$
