Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: system
  stages:
  - commit

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: system
  stages:
  - commit

sqlfmt:
  name: SQL Formatting (sqlfmt)
  entry: make sqlfmt
  stages:
  - commit
  language: system

formatting
  orchestration/dags/data_gcp_dbt/models/intermediate/qualtrics/int_qualtrics__ac.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/qualtrics/int_qualtrics__ir_answer_pro.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/qualtrics/int_qualtrics__ir_jeunes.sql
  orchestration/dags/data_gcp_dbt/models/mart/ux/mrt_ux__ir_answer_jeunes.sql
  orchestration/dags/data_gcp_dbt/models/mart/ux/mrt_ux__pro.sql
Due: sqlfmt

Test: Add steps_per_epoch
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

feat: Add dropout
  jobs/ml_jobs/algo_training/two_towers_model/models/two_towers_model.py
Due: format-fix, lint-fix

changed name of historization table and the dataset where it is stored
  jobs/ml_jobs/algo_training/two_towers_model/upload_embeddings_to_bq.py
  orchestration/dags/jobs/ml/algo_training_two_towers.py
Due: format-fix, lint-fix

corrected typo
  jobs/ml_jobs/algo_training/two_towers_model/upload_embeddings_to_bq.py
Due: format-fix, lint-fix

new dbt model for latest two tower embeddings
  orchestration/dags/data_gcp_dbt/.env.dbt
  orchestration/dags/data_gcp_dbt/models/machine_learning/feature/ml_feat__two_tower_last_item_embedding.sql
Due: sqlfmt

renamed dbt model
  orchestration/dags/data_gcp_dbt/models/machine_learning/feature/ml_feat__tow_tower_last_item_embedding.sql
Due: sqlfmt

added sources tables to yaml
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: none

feat: Add l2 reg
  jobs/ml_jobs/algo_training/two_towers_model/models/two_towers_model.py
Due: format-fix, lint-fix

feat: Decrease l2 reg
  jobs/ml_jobs/algo_training/two_towers_model/models/two_towers_model.py
Due: format-fix, lint-fix

(DS) refactor(histo): Historisation tables rename and change dataset (#3737)
  jobs/ml_jobs/algo_training/two_towers_model/upload_embeddings_to_bq.py
  orchestration/dags/jobs/ml/algo_training_two_towers.py
Due: format-fix, lint-fix

HACK: change validation data
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

feat: Decrease learning rate
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

schema renaming
  orchestration/dags/data_gcp_dbt/models/mart/survey/mrt_survey__ir_answer_jeunes.sql
  orchestration/dags/data_gcp_dbt/models/mart/survey/mrt_survey__pro.sql
Due: sqlfmt

feat: Decrease learning rate more 1e4
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

feat: Set restore_best_weights to true
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

feat: Remove duplicates in training
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

(BSR) fix(brevo): remove non existing parameter
  jobs/etl_jobs/external/brevo/main.py
Due: format-fix, lint-fix

Add doc
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/tracking/column__pro_event.md
  orchestration/dags/data_gcp_dbt/models/mart/pro/_schema/mrt_pro__event.yml
Due: none

Update page_name
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/pro/int_firebase__pro_event.sql
Due: sqlfmt

(BSR) fix(brevo): remove non existing parameter (#3740)
  jobs/etl_jobs/external/brevo/main.py
Due: format-fix, lint-fix

update models
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/appsflyer/column__appsflyer.md
  orchestration/dags/data_gcp_dbt/models/intermediate/appsflyer/_schema/int_appsflyer__daily_install_attribution.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/appsflyer/_schema/int_appsflyer__daily_install_cost.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/appsflyer/int_appsflyer__daily_install_attribution.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/appsflyer/int_appsflyer__daily_install_cost.sql
  orchestration/dags/data_gcp_dbt/models/mart/marketing/mrt_marketing__daily_install_acquisition_campaign.sql
Due: sqlfmt

update models
  orchestration/dags/data_gcp_dbt/models/intermediate/appsflyer/int_appsflyer__daily_install_attribution.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/appsflyer/int_appsflyer__daily_install_cost.sql
  orchestration/dags/data_gcp_dbt/models/mart/marketing/mrt_marketing__daily_install_acquisition_campaign.sql
Due: sqlfmt

Update enriched_reimbursement_data
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/enriched_reimbursement_data.sql
Due: sqlfmt

update dependancies
  orchestration/dags/data_gcp_dbt/models/analytics/history/bookable_venue_history.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__venue.sql
Due: sqlfmt

Update enriched_reimbursement_data (#3742)
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/enriched_reimbursement_data.sql
Due: sqlfmt

update
  orchestration/dags/data_gcp_dbt/models/analytics/history/bookable_venue_history.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__venue.sql
Due: sqlfmt

added dag_name label to DAGs
  orchestration/dags/jobs/import/import_adage.py
  orchestration/dags/jobs/import/import_addresses.py
  orchestration/dags/jobs/import/import_api_referentials.py
  orchestration/dags/jobs/import/import_appsflyer.py
  orchestration/dags/jobs/import/import_batch.py
  orchestration/dags/jobs/import/import_contentful.py
  orchestration/dags/jobs/import/import_dms_subscriptions.py
  orchestration/dags/jobs/import/import_downloads.py
  orchestration/dags/jobs/import/import_gcs_seed.py
  orchestration/dags/jobs/ml/algo_custom_deployment.py
  orchestration/dags/jobs/ml/algo_default_deployment.py
  orchestration/dags/jobs/ml/algo_training_offer_categorization.py
  orchestration/dags/jobs/ml/algo_training_offer_compliance_model.py
  orchestration/dags/jobs/ml/algo_training_two_towers.py
  orchestration/dags/jobs/ml/artist_linkage.py
  orchestration/dags/jobs/ml/artist_wikidata_dump.py
  orchestration/dags/jobs/ml/embedding_clusterisation_item.py
  orchestration/dags/jobs/ml/embedding_extraction_item.py
  orchestration/dags/jobs/ml/embedding_reduction_item.py
  orchestration/dags/jobs/ml/link_items.py
  orchestration/dags/jobs/ml/link_offers.py
  orchestration/dags/jobs/ml/offline_recommendations.py
  orchestration/dags/jobs/ml/ranking_endpoint_build.py
  orchestration/dags/jobs/ml/retrieval_vector_build.py
  orchestration/dags/jobs/ml/retrieval_vector_semantic_build.py
  orchestration/dags/launch_vm.py
Due: format-fix, lint-fix

(DE-939) feat(mob): add labels on dags that trigger a vm
  orchestration/dags/jobs/administration/bigquery_alerts.py
  orchestration/dags/jobs/administration/metabase_dbt.py
  orchestration/dags/jobs/administration/metabase_governance.py
  orchestration/dags/jobs/administration/metabase_transition.py
  orchestration/dags/jobs/export/export_clickhouse.py
  orchestration/dags/jobs/export/export_posthog.py
  orchestration/dags/jobs/import/import_gsheet.py
  orchestration/dags/jobs/import/import_qualtrics.py
  orchestration/dags/jobs/import/import_sendinblue.py
  orchestration/dags/jobs/import/import_sendinblue_historical.py
  orchestration/dags/jobs/import/import_siren.py
  orchestration/dags/jobs/import/import_social_media.py
  orchestration/dags/jobs/import/import_zendesk.py
Due: format-fix, lint-fix

added dag_name label to DAGs (#3743)
  orchestration/dags/jobs/import/import_adage.py
  orchestration/dags/jobs/import/import_addresses.py
  orchestration/dags/jobs/import/import_api_referentials.py
  orchestration/dags/jobs/import/import_appsflyer.py
  orchestration/dags/jobs/import/import_batch.py
  orchestration/dags/jobs/import/import_contentful.py
  orchestration/dags/jobs/import/import_dms_subscriptions.py
  orchestration/dags/jobs/import/import_downloads.py
  orchestration/dags/jobs/import/import_gcs_seed.py
  orchestration/dags/jobs/ml/algo_custom_deployment.py
  orchestration/dags/jobs/ml/algo_default_deployment.py
  orchestration/dags/jobs/ml/algo_training_offer_categorization.py
  orchestration/dags/jobs/ml/algo_training_offer_compliance_model.py
  orchestration/dags/jobs/ml/algo_training_two_towers.py
  orchestration/dags/jobs/ml/artist_linkage.py
  orchestration/dags/jobs/ml/artist_wikidata_dump.py
  orchestration/dags/jobs/ml/embedding_clusterisation_item.py
  orchestration/dags/jobs/ml/embedding_extraction_item.py
  orchestration/dags/jobs/ml/embedding_reduction_item.py
  orchestration/dags/jobs/ml/link_items.py
  orchestration/dags/jobs/ml/link_offers.py
  orchestration/dags/jobs/ml/offline_recommendations.py
  orchestration/dags/jobs/ml/ranking_endpoint_build.py
  orchestration/dags/jobs/ml/retrieval_vector_build.py
  orchestration/dags/jobs/ml/retrieval_vector_semantic_build.py
  orchestration/dags/launch_vm.py
Due: format-fix, lint-fix

test new stop hook
  orchestration/dags/common/hooks/gce.py
  orchestration/dags/common/operators/gce.py
  orchestration/dags/launch_vm_test.py
Due: format-fix, lint-fix

(DE-939) feat(mob): add on_failure callback stop vm
  orchestration/dags/common/alerts.py
  orchestration/dags/jobs/administration/metabase_dbt.py
Due: format-fix, lint-fix

changed dag name
  orchestration/dags/launch_vm_test.py
Due: format-fix, lint-fix

review
  orchestration/dags/data_gcp_dbt/models/intermediate/appsflyer/int_appsflyer__daily_install_attribution.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/appsflyer/int_appsflyer__daily_install_cost.sql
Due: sqlfmt

(BSR) refactor(addresses): reduce users to beneficiary
  jobs/etl_jobs/external/addresses/scripts/fetch_user_location.py
Due: format-fix, lint-fix

fix typo
  jobs/etl_jobs/external/addresses/scripts/fetch_user_location.py
Due: format-fix, lint-fix

(BSR) refactor(addresses): reduce users to beneficiary (#3746)
  jobs/etl_jobs/external/addresses/scripts/fetch_user_location.py
Due: format-fix, lint-fix

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfmt: any of: \.sql$
