Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: system
  stages:
  - commit

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: system
  stages:
  - commit

sqlfluff-format-fix:
  name: Formatting (sqlfluff)
  entry: make sqlfluff_format
  language: system
  stages:
  - commit

sqlfluff-lint-fix echo $(git diff --cached --name-only):
  name: Linter (sqlfluff)
  entry: make sqlfluff_fix $(git diff --cached --name-only)
  language: system
  stages:
  - commit

sqlfluff-lint-check:
  name: Lint check (sqlfluff)
  entry: make sqlfluff_lint echo $(git diff --cached --name-only)
  language: system
  stages:
  - commit

feat: fix venue_siren_offers (add clustering fields)
  orchestration/dags/data_gcp_dbt/macros/custom_incremental_config.sql
  orchestration/dags/data_gcp_dbt/macros/custom_table_config.sql
  orchestration/dags/data_gcp_dbt/models/analytics/venue_siren_offers.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

fix: is_theme_subscribed field (#3128)
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__user.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

fix: Update category columns references
  orchestration/dags/data_gcp_dbt/models/analytics/diversification/diversification_raw.sql
  orchestration/dags/data_gcp_dbt/models/clean/user_item_discovery.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/input/ml_input__item_embedding_clusterisation.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/input/ml_input__item_embedding_extraction.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__available_offer.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

fix: Update wrong columns references
  orchestration/dags/data_gcp_dbt/models/analytics/diversification/diversification_raw.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__available_offer.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

feat: add require_partition_filter to partition tables
  orchestration/dags/data_gcp_dbt/models/clean/bookable_collective_offer_history.sql
  orchestration/dags/data_gcp_dbt/models/clean/bookable_offer_history.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_consultation.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_daily_user_home_module.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_home_offer_displayed.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_home_module_conversion.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_home_offer_displayed.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_home_recommendation_offer.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

feat: fix venue_siren_offers (add clustering fields) (#3133)
  orchestration/dags/data_gcp_dbt/macros/custom_incremental_config.sql
  orchestration/dags/data_gcp_dbt/macros/custom_table_config.sql
  orchestration/dags/data_gcp_dbt/models/analytics/venue_siren_offers.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

fix: Update column references
  orchestration/dags/data_gcp_dbt/models/clean/user_item_discovery.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

fix: Update discovery features
  orchestration/dags/data_gcp_dbt/macros/discovery_vars.sql
  orchestration/dags/data_gcp_dbt/models/analytics/diversification/diversification_booking.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

fix: Add missing alias
  orchestration/dags/data_gcp_dbt/models/analytics/diversification/diversification_booking.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

(dbt) Migrate offer_metadata (#3129)
  orchestration/dags/data_gcp_dbt/macros/discovery_vars.sql
  orchestration/dags/data_gcp_dbt/models/analytics/diversification/diversification_booking.sql
  orchestration/dags/data_gcp_dbt/models/analytics/diversification/diversification_raw.sql
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/enriched_offer_metadata.sql
  orchestration/dags/data_gcp_dbt/models/clean/item_metadata.sql
  orchestration/dags/data_gcp_dbt/models/clean/offer_metadata.sql
  orchestration/dags/data_gcp_dbt/models/clean/user_item_discovery.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_metadata.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/input/ml_input__item_embedding_clusterisation.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/input/ml_input__item_embedding_extraction.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__available_offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer_metadata.sql
  orchestration/dags/dependencies/ml/offline_recommendation/sql/import/day_plus_two_after_booking.sql
  orchestration/dags/dependencies/ml/offline_recommendation/sql/import/first_booking.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

(DE-582) elementary in dag
  orchestration/dags/data_gcp_dbt/packages.yml
  orchestration/dags/data_gcp_dbt/scripts/elementary_send_report.sh
  orchestration/dags/dbt-requirements.in
  orchestration/dags/dbt-requirements.txt
  orchestration/dags/jobs/dbt/dbt_artifacts.py
Due: format-fix, lint-fix

feat: Add cluster to mrt_global__booking and offer_criterion
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer_criterion.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

fix: Add custom_table_config
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer_criterion.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

fix: Update custo_table_config
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer_criterion.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

(dbt) Add cluster to mrt_global__booking and offer_criterion (#3138)
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer_criterion.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

(mob) add microservice for dbt in makefile (#2816)
  README.md
  orchestration/dags/data_gcp_dbt/dbt-requirements.in
  orchestration/dags/data_gcp_dbt/dbt-requirements.txt
Due: none

[DE-995] feat: import region_department as seed
  jobs/etl_jobs/internal/bigquery_alerts/utils.py
  jobs/etl_jobs/internal/gcs_seed/tables_config.py
  orchestration/dags/data_gcp_dbt/models/analytics/region_department.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: format-fix, lint-fix, sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

fix: Correct wrong join
  orchestration/dags/data_gcp_dbt/models/analytics/eple_aggregated.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__educational_institution.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

(ml) feat: decrease autoscaling cpu target
  jobs/ml_jobs/algo_training/deploy_model.py
Due: format-fix, lint-fix

fix: Correct wrong join (#3140)
  orchestration/dags/data_gcp_dbt/models/analytics/eple_aggregated.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__educational_institution.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

(fix) metabase script add missing arguments
  jobs/etl_jobs/external/metabase/main.py
Due: format-fix, lint-fix

(fix) metabase script add missing arguments (#3142)
  jobs/etl_jobs/external/metabase/main.py
Due: format-fix, lint-fix

fix: Fix Dockerfile and use uv to accelerate
  orchestration/airflow/Dockerfile
Due: none

lint: lint Docker
  orchestration/airflow/Dockerfile
Due: none

test req file
  orchestration/dags/data_gcp_dbt/dbt-requirements.in
  orchestration/dags/data_gcp_dbt/dbt-requirements.txt
Due: none

update configs & flags dbt v1.8
  orchestration/dags/data_gcp_dbt/dbt_project.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/schema/mrt_global__booking.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/schema/mrt_global__offer.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/schema/mrt_global__venue.yml
  orchestration/dags/data_gcp_dbt/models/mart/native/schema/mrt_native__event.yml
  orchestration/dags/data_gcp_dbt/profiles.yml
Due: none

disable parsial parsing
  orchestration/dags/data_gcp_dbt/dbt_project.yml
Due: none

update configs & flags dbt v1.8 (#3143)
  orchestration/dags/data_gcp_dbt/dbt_project.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/schema/mrt_global__booking.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/schema/mrt_global__offer.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/schema/mrt_global__venue.yml
  orchestration/dags/data_gcp_dbt/models/mart/native/schema/mrt_native__event.yml
  orchestration/dags/data_gcp_dbt/profiles.yml
Due: none

update .sh
  orchestration/dags/data_gcp_dbt/scripts/elementary_send_report.sh
Due: none

[DE](fix): Fix orchestration docker and use uv (#3144)
  orchestration/airflow/Dockerfile
Due: none

[DE-995] feat: import region_department as seed
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/user_penetration.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offerer.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

[DE-995] feat: import region_department as seed
  orchestration/dags/data_gcp_dbt/models/analytics/offer_moderation.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

[DE-995] feat: import region_department as seed (#3139)
  jobs/etl_jobs/internal/bigquery_alerts/utils.py
  jobs/etl_jobs/internal/gcs_seed/tables_config.py
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/user_penetration.sql
  orchestration/dags/data_gcp_dbt/models/analytics/offer_moderation.sql
  orchestration/dags/data_gcp_dbt/models/analytics/region_department.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offerer.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: format-fix, lint-fix, sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

(analytics) feat: update applicative logic (tmp fix)
  orchestration/dags/jobs/import/import_applicative_database.py
Due: format-fix, lint-fix

feat: add require_partition_filter to partition tables (#3134)
  orchestration/dags/data_gcp_dbt/models/clean/bookable_collective_offer_history.sql
  orchestration/dags/data_gcp_dbt/models/clean/bookable_offer_history.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_consultation.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_daily_user_home_module.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_home_offer_displayed.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_home_module_conversion.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_home_offer_displayed.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_home_recommendation_offer.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

feat: Accelerate Docker Build by reducing redondant builds
  orchestration/docker-compose.yaml
Due: none

refactor: Refacto Makefile
  orchestration/Makefile
Due: none

feat: Update doc
  orchestration/Makefile
  orchestration/README.md
Due: none

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfluff-format-fix: any of: \.sql$
  sqlfluff-lint-fix echo $(git diff --cached --name-only): any of: \.sql$
  sqlfluff-lint-check: any of: \.sql$
