Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: system
  stages:
  - commit

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: system
  stages:
  - commit

sqlfmt:
  name: SQL Formatting (sqlfmt)
  entry: make sqlfmt
  stages:
  - commit
  language: system

revert import download changes
  jobs/etl_jobs/external/downloads/main.py
  orchestration/dags/dependencies/downloads/import_downloads.py
  orchestration/dags/jobs/import/import_downloads.py
Due: format-fix, lint-fix

remove unecessary appsflyer requirements
  jobs/etl_jobs/external/appsflyer/requirements.in
  jobs/etl_jobs/external/appsflyer/requirements.txt
Due: none

BSR - add aliasing
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__booking.sql
Due: sqlfmt

exclude offer_ids in int_applicative__stock not in int_global__offer
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__stock.sql
Due: sqlfmt

review: typo
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__booking.sql
Due: sqlfmt

update search
  orchestration/dags/data_gcp_dbt/models/analytics/firebase/firebase_aggregated_search_events.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_consultation.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_event.sql
Due: sqlfmt

fix
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__consultation.sql
Due: sqlfmt

better deployement infos on slack
  .github/workflows/reusable_deploy_composer.yml
Due: none

(DE-648) dbt(analytics): fix offerer id null global booking (#3300)
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__stock.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__booking.sql
Due: sqlfmt

(DE-659) refactor(dags): switch uv batch1 (#3265)
  jobs/etl_jobs/external/appsflyer/core/utils.py
  jobs/etl_jobs/external/appsflyer/requirements.in
  jobs/etl_jobs/external/downloads/main.py
  jobs/etl_jobs/external/downloads/requirements.in
  orchestration/dags/common/hooks/image.py
  orchestration/dags/common/operators/gce.py
  orchestration/dags/jobs/administration/bigquery_alerts.py
  orchestration/dags/jobs/administration/metabase_governance.py
  orchestration/dags/jobs/administration/metabase_transition.py
  orchestration/dags/jobs/export/export_clickhouse.py
  orchestration/dags/jobs/export/export_posthog.py
  orchestration/dags/jobs/import/import_adage.py
  orchestration/dags/jobs/import/import_batch.py
  orchestration/dags/jobs/import/import_contentful.py
  orchestration/dags/jobs/import/import_dms_subscriptions.py
  orchestration/dags/jobs/import/import_documentation.py
Due: format-fix, lint-fix

export dbt profile path in hook
  orchestration/dags/data_gcp_dbt/scripts/defer_local_run.sh
Due: none

refactor: Move sparql queries to artist linkage job
  jobs/ml_jobs/artist_linkage/queries/extract_book_artists.rq
  jobs/ml_jobs/artist_linkage/queries/extract_gkg_artists.rq
  jobs/ml_jobs/artist_linkage/queries/extract_movie_artists.rq
  jobs/ml_jobs/artist_linkage/queries/extract_music_artists.rq
Due: none

feat: Update pandas to 2.2.3
  jobs/ml_jobs/artist_linkage/requirements.in
  jobs/ml_jobs/artist_linkage/requirements.txt
Due: none

refactor: Refacto merge_data
  jobs/ml_jobs/artist_linkage/extract_from_wikidata.py
Due: format-fix, lint-fix

feat: Add postprocessing stage
  jobs/ml_jobs/artist_linkage/extract_from_wikidata.py
Due: format-fix, lint-fix

refactor: Refacto SPARQL queries
  orchestration/dags/dependencies/ml/linkage/sparql/extract_book_artists.rq
  orchestration/dags/dependencies/ml/linkage/sparql/extract_gkg_artists.rq
  orchestration/dags/dependencies/ml/linkage/sparql/extract_movie_artists.rq
  orchestration/dags/dependencies/ml/linkage/sparql/extract_music_artists.rq
Due: none

feat: Add extract_movie_artists sparql query
  orchestration/dags/dependencies/ml/linkage/sparql/extract_movie_artists.rq
Due: none

feat: Add loguru in artist requirements
  jobs/ml_jobs/artist_linkage/requirements.in
  jobs/ml_jobs/artist_linkage/requirements.txt
Due: none

feat: Add merging step in extract_from_wikidata
  jobs/ml_jobs/artist_linkage/extract_from_wikidata.py
Due: format-fix, lint-fix

feat: Add extract_from_wikidata
  jobs/ml_jobs/artist_linkage/extract_from_wikidata.py
Due: format-fix, lint-fix

feat: Add book and music queries
  orchestration/dags/dependencies/ml/linkage/sparql/extract_book_artists.rq
  orchestration/dags/dependencies/ml/linkage/sparql/extract_music_artists.rq
Due: none

feat: Add extract_from_wikidata step in artist linkage DAG
  jobs/ml_jobs/artist_linkage/extract_from_wikidata.py
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

feat: Add gkg query
  orchestration/dags/dependencies/ml/linkage/sparql/extract_gkg_artists.rq
Due: none

refactor: Add constants for tags
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

(DE-671) feat(DS): Add fetch wikidata in artist linkage dag (#3299)
  jobs/ml_jobs/artist_linkage/extract_from_wikidata.py
  jobs/ml_jobs/artist_linkage/queries/extract_book_artists.rq
  jobs/ml_jobs/artist_linkage/queries/extract_gkg_artists.rq
  jobs/ml_jobs/artist_linkage/queries/extract_movie_artists.rq
  jobs/ml_jobs/artist_linkage/queries/extract_music_artists.rq
  jobs/ml_jobs/artist_linkage/requirements.in
  jobs/ml_jobs/artist_linkage/requirements.txt
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

set scripts exit trap as early as possible
  orchestration/dags/data_gcp_dbt/scripts/dbt_run.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_run_tag.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_snapshot.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_test_model.sh
Due: none

(DE-519) feat(dbt): artifacts pulling and dbt hook for local dev automatic deferal (#3224)
  orchestration/dags/data_gcp_dbt/.env.buckets
  orchestration/dags/data_gcp_dbt/scripts/defer_local_run.sh
Due: none

typo
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/monthly_aggregated_venue_collective_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/monthly_aggregated_venue_individual_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/monthly_aggregated_venue_revenue.sql
Due: sqlfmt

typo (#3303)
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/monthly_aggregated_venue_collective_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/monthly_aggregated_venue_individual_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/monthly_aggregated_venue_revenue.sql
Due: sqlfmt

refactor: move ruff and sqlfmt to precommit venv
  .pre-commit-config.yaml
Due: none

(DE) (fix) : Refactor variable names to use correct naming convention
  jobs/ml_jobs/algo_training/two_towers_model/configs/default-features.json
  jobs/ml_jobs/algo_training/two_towers_model/configs/pretrained-feature-with-ts.json
  jobs/ml_jobs/algo_training/two_towers_model/configs/pretrained-features.json
  jobs/ml_jobs/algo_training/two_towers_model/configs/pretrained-sequence-features.json
  jobs/ml_jobs/algo_training/two_towers_model/configs/test-1-features.json
  jobs/ml_jobs/algo_training/two_towers_model/configs/test-4-features.json
  jobs/ml_jobs/algo_training/two_towers_model/evaluate.py
  jobs/ml_jobs/algo_training/two_towers_model/models/two_towers_model.py
  jobs/ml_jobs/algo_training/two_towers_model/preprocess.py
  jobs/ml_jobs/algo_training/two_towers_model/train.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/evaluate.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/layers.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/metrics.py
  orchestration/dags/dependencies/training_data/sql/recommendation_item_features.sql
  orchestration/dags/dependencies/training_data/sql/training_data_bookings_lastXevents.sql
  orchestration/dags/jobs/ml/algo_training_two_towers.py
Due: format-fix, lint-fix, sqlfmt

set scripts exit trap as early as possible (#3302)
  orchestration/dags/data_gcp_dbt/scripts/dbt_run.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_run_tag.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_snapshot.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_test_model.sh
Due: none

wip
  jobs/ml_jobs/algo_training/two_towers_model/models/two_towers_model.py
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

wip
  jobs/ml_jobs/algo_training/two_towers_model/models/two_towers_model.py
Due: format-fix, lint-fix

Add fields in offer and booking
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__booking.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__stock.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer.sql
Due: sqlfmt

lint: fix sql linting
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer.sql
Due: sqlfmt

refactor: move ruff and sqlfmt to precommit venv (#3304)
  .pre-commit-config.yaml
Due: none

wip
  jobs/ml_jobs/algo_training/two_towers_model/models/two_towers_model.py
  jobs/ml_jobs/algo_training/two_towers_model/train.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/callbacks.py
Due: format-fix, lint-fix

(BSR) feat(export): add slack alert for clickhouse+posthog
  orchestration/dags/jobs/export/export_clickhouse.py
  orchestration/dags/jobs/export/export_posthog.py
Due: format-fix, lint-fix

(BSR) feat(export): add slack alert for clickhouse+posthog (#3307)
  orchestration/dags/jobs/export/export_clickhouse.py
  orchestration/dags/jobs/export/export_posthog.py
Due: format-fix, lint-fix

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfmt: any of: \.sql$
