Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
  # Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
  # Add new hook types here to ensure automatic installation when running `pre-commit install`
  - pre-commit
  - pre-push
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: format-fix
        name: Formatting (ruff)
        entry: ruff format
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: lint-fix
        name: Linting (ruff)
        entry: ruff check --fix
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: sqlfmt
        name: SQL Formatting (sqlfmt)
        entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
        stages: [push]
        language: python
        additional_dependencies: ["shandy-sqlfmt[jinjafmt]==0.23.2"]
        types: [sql]
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.3.0
    hooks:
      - id: sqlfluff-fix
        additional_dependencies:
          ["dbt-bigquery==1.8.1", "sqlfluff-templater-dbt"]
        stages: [commit]
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.0
    hooks:
    - id: markdownlint-cli2
      language_version: 24.0.0
      args:
        - --fix

added sept-dec student_headcount
  jobs/etl_jobs/external/gsheet/gsheet.py
Due: format-fix, lint-fix

fix linter
  jobs/etl_jobs/external/gsheet/gsheet.py
Due: format-fix, lint-fix

add coalesce and epci to beneficiary
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/mrt_external_reporting__eac.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/mrt_external_reporting__beneficiary.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/mrt_external_reporting__coverage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/mrt_external_reporting__cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/mrt_external_reporting__deposit_usage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/mrt_external_reporting__diversity.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/mrt_external_reporting__finance.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/mrt_external_reporting__individual.sql
Due: sqlfmt

sqlfmt
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/mrt_external_reporting__eac.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/mrt_external_reporting__coverage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/mrt_external_reporting__cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/mrt_external_reporting__deposit_usage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/mrt_external_reporting__diversity.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/mrt_external_reporting__finance.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/mrt_external_reporting__individual.sql
Due: sqlfmt

add raw_applicative model
  orchestration/dags/data_gcp_dbt/models/raw/applicative/raw_applicative__offer_reminder.sql
Due: sqlfmt

add int_applicative model
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_reminder.sql
Due: sqlfmt

add mrt_global model
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offer.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__offer_reminder.md
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offer_reminder.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer_reminder.sql
Due: sqlfmt

fix
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__cultural_partner.sql
Due: sqlfmt

fix
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__cultural_partner.sql
Due: sqlfmt

almost good
  jobs/etl_jobs/external/titelive/config.py
  jobs/etl_jobs/external/titelive/main.py
  jobs/etl_jobs/external/titelive/pyproject.toml
  jobs/etl_jobs/external/titelive/src/api/auth.py
  jobs/etl_jobs/external/titelive/src/api/client.py
  jobs/etl_jobs/external/titelive/src/constants.py
  jobs/etl_jobs/external/titelive/src/modes/download_images.py
  jobs/etl_jobs/external/titelive/src/modes/run_incremental.py
  jobs/etl_jobs/external/titelive/src/scripts/__init__.py
  jobs/etl_jobs/external/titelive/src/scripts/download_images.py
  jobs/etl_jobs/external/titelive/src/scripts/run_incremental.py
  jobs/etl_jobs/external/titelive/src/scripts/run_init.py
  jobs/etl_jobs/external/titelive/src/transformers/__init__.py
  jobs/etl_jobs/external/titelive/src/utils/api_transform.py
  jobs/etl_jobs/external/titelive/src/utils/batching.py
  jobs/etl_jobs/external/titelive/src/utils/bigquery.py
  jobs/etl_jobs/external/titelive/src/utils/image_download.py
  jobs/etl_jobs/external/titelive/uv.lock
  orchestration/dags/jobs/import/import_titelive.py
Due: format-fix, lint-fix

add EPCI to cultural_partner model
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/mrt_external_reporting__cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__cultural_partner.sql
Due: sqlfmt

sqlfmt
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/mrt_external_reporting__cultural_partner.sql
Due: sqlfmt

add epci to deposit and diversity model
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/mrt_external_reporting__deposit_usage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/mrt_external_reporting__diversity.sql
Due: sqlfmt

fix airflow pb with MA budget
  jobs/etl_jobs/external/gsheet/gsheet.py
Due: format-fix, lint-fix

add tests
  jobs/etl_jobs/external/titelive/src/scripts/download_images.py
  jobs/etl_jobs/external/titelive/src/utils/bigquery.py
  jobs/etl_jobs/external/titelive/tests/conftest.py
  jobs/etl_jobs/external/titelive/tests/integration/scripts/__init__.py
  jobs/etl_jobs/external/titelive/tests/integration/scripts/test_download_images.py
  jobs/etl_jobs/external/titelive/tests/integration/scripts/test_run_incremental.py
  jobs/etl_jobs/external/titelive/tests/integration/scripts/test_run_init.py
  jobs/etl_jobs/external/titelive/tests/test_placeholder.py
  jobs/etl_jobs/external/titelive/tests/unit/__init__.py
  jobs/etl_jobs/external/titelive/tests/unit/api/__init__.py
  jobs/etl_jobs/external/titelive/tests/unit/api/test_auth.py
  jobs/etl_jobs/external/titelive/tests/unit/api/test_client.py
  jobs/etl_jobs/external/titelive/tests/unit/utils/__init__.py
  jobs/etl_jobs/external/titelive/tests/unit/utils/test_api_transform.py
  jobs/etl_jobs/external/titelive/tests/unit/utils/test_batching.py
  jobs/etl_jobs/external/titelive/tests/unit/utils/test_bigquery.py
  jobs/etl_jobs/external/titelive/tests/unit/utils/test_gcp.py
  jobs/etl_jobs/external/titelive/tests/unit/utils/test_image_download.py
  orchestration/dags/jobs/import/import_titelive.py
Due: format-fix, lint-fix

(DA-4539) feat(dbt): Update cultural partner model (#4539)
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__cultural_partner.sql
Due: sqlfmt

fix gsheet name
  jobs/etl_jobs/external/gsheet/gsheet.py
Due: format-fix, lint-fix

last test
  jobs/etl_jobs/external/titelive/config.py
  jobs/etl_jobs/external/titelive/src/scripts/run_init.py
  jobs/etl_jobs/external/titelive/src/utils/api_transform.py
  jobs/etl_jobs/external/titelive/src/utils/bigquery.py
  jobs/etl_jobs/external/titelive/tests/integration/scripts/test_run_incremental.py
  jobs/etl_jobs/external/titelive/tests/integration/scripts/test_run_init.py
  jobs/etl_jobs/external/titelive/tests/unit/utils/test_api_transform.py
  jobs/etl_jobs/external/titelive/tests/unit/utils/test_bigquery.py
Due: format-fix, lint-fix

add epci and city granularity to external reportings models
  orchestration/dags/data_gcp_dbt/models/analytics/eple_aggregated.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_credit_usage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_domain.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_offer_booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/mrt_external_reporting__cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/mrt_external_reporting__deposit_usage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/mrt_external_reporting__diversity.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__outgoing_cohort.sql
Due: sqlfmt

sqlfmt
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_credit_usage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_domain.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_offer_booking.sql
Due: sqlfmt

change materialization for eac ephemerals
  orchestration/dags/data_gcp_dbt/dbt_project.yml
Due: none

(DE-2466) feat(dbt): Import offer_reminder table (#4544)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offer.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__offer_reminder.md
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_reminder.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offer_reminder.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer_reminder.sql
  orchestration/dags/data_gcp_dbt/models/raw/applicative/raw_applicative__offer_reminder.sql
Due: sqlfmt

update format for meg headcount
  jobs/etl_jobs/external/gsheet/gsheet.py
Due: format-fix, lint-fix

fix eac_domain model
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_domain.sql
Due: sqlfmt

sqlfmt
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_domain.sql
Due: sqlfmt

fix dates
  jobs/etl_jobs/external/titelive/src/scripts/run_incremental.py
  jobs/etl_jobs/external/titelive/src/scripts/run_init.py
  orchestration/dags/data_gcp_dbt/models/sources.yml
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/schema.yml
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__titelive_products.sql
Due: format-fix, lint-fix, sqlfmt

clean
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__titelive_products.sql
Due: sqlfmt

retrieval evaluation
  jobs/ml_jobs/graph_recommendation/.gitignore
  jobs/ml_jobs/graph_recommendation/pyproject.toml
  jobs/ml_jobs/graph_recommendation/scripts/cli.py
  jobs/ml_jobs/graph_recommendation/src/constants.py
  jobs/ml_jobs/graph_recommendation/src/graph_builder.py
  jobs/ml_jobs/graph_recommendation/src/heterograph_builder.py
  jobs/ml_jobs/graph_recommendation/src/utils/__init__.py
  jobs/ml_jobs/graph_recommendation/src/utils/graph_stats.py
  jobs/ml_jobs/graph_recommendation/src/utils/metadata_metrics.py
  jobs/ml_jobs/graph_recommendation/src/utils/recommendation_metrics.py
  jobs/ml_jobs/graph_recommendation/src/utils/retrieval.py
  jobs/ml_jobs/graph_recommendation/tests/base_metrics_test.py
  jobs/ml_jobs/graph_recommendation/tests/metadata_metrics_test.py
  jobs/ml_jobs/graph_recommendation/uv.lock
Due: format-fix, lint-fix

fix tests
  jobs/etl_jobs/external/titelive/tests/integration/scripts/test_run_incremental.py
Due: format-fix, lint-fix

(HF) fix(metabase): fix script & add tests
  jobs/etl_jobs/external/metabase/native.py
  jobs/etl_jobs/external/metabase/tests/test_replace_table.py
Due: format-fix, lint-fix

review
  jobs/ml_jobs/graph_recommendation/.gitignore
  jobs/ml_jobs/graph_recommendation/scratchs/evaluation_main_flow.py
  jobs/ml_jobs/graph_recommendation/src/constants.py
  jobs/ml_jobs/graph_recommendation/src/embedding_builder.py
  jobs/ml_jobs/graph_recommendation/src/utils/recommendation_metrics.py
  jobs/ml_jobs/graph_recommendation/src/utils/retrieval.py
Due: format-fix, lint-fix

downgrade python version for recommenders
  jobs/ml_jobs/graph_recommendation/Makefile
  jobs/ml_jobs/graph_recommendation/pyproject.toml
  jobs/ml_jobs/graph_recommendation/uv.lock
  orchestration/dags/jobs/ml/algo_training_graph_embeddings.py
Due: format-fix, lint-fix

feat: evaluation pipeline
  jobs/ml_jobs/graph_recommendation/src/constants.py
  jobs/ml_jobs/graph_recommendation/src/evaluation.py
  jobs/ml_jobs/graph_recommendation/src/utils/retrieval.py
Due: format-fix, lint-fix

feat: cli evaluate command
  jobs/ml_jobs/graph_recommendation/scripts/cli.py
Due: format-fix, lint-fix

feat: add evaluation task to dag
  orchestration/dags/jobs/ml/algo_training_graph_embeddings.py
Due: format-fix, lint-fix

sonar-cloud: cognitive complexity
  jobs/ml_jobs/graph_recommendation/src/embedding_builder.py
  jobs/ml_jobs/graph_recommendation/src/utils/recommendation_metrics.py
  jobs/ml_jobs/graph_recommendation/src/utils/retrieval.py
Due: format-fix, lint-fix

sonar-cloud: tests
  jobs/ml_jobs/graph_recommendation/tests/metadata_metrics_test.py
Due: format-fix, lint-fix
