Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

.pre-commit-config.yaml:

default_install_hook_types:
# Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
# Add new hook types here to ensure automatic installation when running `pre-commit install`
- pre-commit
- pre-push
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-json
  - id: check-added-large-files

- repo: local
  hooks:
  - id: format-fix
    name: Formatting (ruff)
    entry: ruff format
    language: system
    types: [python]
    stages: [commit]
  - id: lint-fix
    name: Linting (ruff)
    entry: ruff check --fix
    language: system
    types: [python]
    stages: [commit]
  - id: sqlfluff-format-fix
    name: Formatting (sqlfluff)
    entry: make sqlfluff_format
    language: system
    types: [sql]
    stages: [commit]
  - id: sqlfluff-lint-fix echo $(git diff --cached --name-only)
    name: Linter (sqlfluff)
    entry: make sqlfluff_fix $(git diff --cached --name-only)
    language: system
    types: [sql]
    stages: [commit]
  - id: sqlfluff-lint-check
    name: Lint check (sqlfluff)
    entry: make sqlfluff_lint echo $(git diff --cached --name-only)
    language: system
    types: [sql]
    stages: [commit]

set instances types list
  orchestration/dags/common/config.py
  orchestration/dags/launch_vm.py
Due: format-fix, lint-fix

fix elementary run (#3181)
  orchestration/dags/jobs/dbt/dbt_artifacts.py
Due: format-fix, lint-fix

(DE-420) update deprecated packages (#3178)
  orchestration/airflow/orchestration-requirements.in
  orchestration/airflow/orchestration-requirements.txt
  orchestration/dags/data_gcp_dbt/dbt-requirements.in
  orchestration/dags/data_gcp_dbt/dbt-requirements.txt
Due: none

add postal code to offerer table
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offerer.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

add postal code to offerer table (#3183)
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offerer.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

(dbt) Factorize user and deposit KPIs calculations (#3145)
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__user.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__booking.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__deposit.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__stock.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__user.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__user_statistics.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__deposit.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

review include comments
  orchestration/dags/common/operators/gce.py
  orchestration/dags/launch_vm.py
Due: format-fix, lint-fix

mute warning & set flag -> require_explicit_package_overrides_for_builtin_materializations: false
  orchestration/dags/data_gcp_dbt/dbt_project.yml
Due: none

(DE-589) fix dbt weekly
  orchestration/dags/common/utils.py
  orchestration/dags/jobs/crons.py
  orchestration/dags/jobs/dbt/dbt_weekly_tables.py
Due: format-fix, lint-fix

[HOTFIX](applicative) fix: typo error sql in join
  orchestration/dags/dependencies/applicative_database/sql/clean/history/offer_history.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

[DE-581] refactor: Optimize metrics.py for two_towers_model
  jobs/ml_jobs/algo_training/two_towers_model/utils/metrics.py
Due: format-fix, lint-fix

[HOTFIX](applicative) fix: typo error sql in join (#3187)
  orchestration/dags/dependencies/applicative_database/sql/clean/history/offer_history.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

[DE-581] refactor: Update imports for two_towers_model in package_api_model.py
  jobs/ml_jobs/algo_training/fraud/offer_compliance_model/package_api_model.py
Due: format-fix, lint-fix

[HOTFIX](applicative) fix: typo error
  orchestration/dags/dependencies/applicative_database/sql/clean/history/offer_history.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

remove unnecessary weekly flag
  orchestration/dags/common/utils.py
  orchestration/dags/jobs/dbt/dbt_weekly_tables.py
Due: format-fix, lint-fix

[HOTFIX](applicative) fix: typo error (#3188)
  orchestration/dags/dependencies/applicative_database/sql/clean/history/offer_history.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

feat: Create mrt_native__session
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__session.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

ft: create first mrt outgoing cohorts model
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__outgoing_cohorts.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

fix
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__outgoing_cohorts.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

ft: update mrt model computation
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__outgoing_cohorts.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

ft: factorize code
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__deposit.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__user.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__outgoing_cohorts.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

fix: update field booking_types
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

tweak hooks & operators
  orchestration/dags/common/config.py
  orchestration/dags/common/hooks/gce.py
  orchestration/dags/common/operators/gce.py
  orchestration/dags/launch_vm.py
Due: format-fix, lint-fix

pull necessary artifacts only + print
  .github/workflows/reusable_dbt_workflow.yml
Due: none

fix: Update wrong columns names
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__session.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

fix: Test if embedding is str before reading with json (#3175)
  jobs/ml_jobs/algo_training/fraud/offer_compliance_model/package_api_model.py
Due: format-fix, lint-fix

pull necessary artifacts only + print (#3191)
  .github/workflows/reusable_dbt_workflow.yml
Due: none

clean ci DB changed models parents to enforce deferal
  .github/workflows/reusable_dbt_workflow.yml
  .github/workflows/scripts/clean_ci_db.sh
  .github/workflows/scripts/run_dbt_changed_models.sh
  orchestration/dags/data_gcp_dbt/macros/clean_ci_views.sql
  orchestration/dags/data_gcp_dbt/models/analytics/diversification/diversification_booking.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

favor models builts in db
  .github/workflows/reusable_dbt_workflow.yml
  .github/workflows/scripts/run_dbt_changed_models.sh
Due: none

De 565/uv install packages on v ms (#3176)
  orchestration/dags/common/config.py
  orchestration/dags/common/operators/gce.py
  orchestration/dags/launch_vm.py
Due: format-fix, lint-fix

mute warning & set flag -> require_explicit_package_overrides_for_builtin_materializations: false (#3185)
  orchestration/dags/data_gcp_dbt/dbt_project.yml
Due: none

fix: add alias to column
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__booking.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

change schedule
  orchestration/dags/jobs/crons.py
Due: format-fix, lint-fix

(DE-589) fix dbt weekly (#3186)
  orchestration/dags/jobs/crons.py
  orchestration/dags/jobs/dbt/dbt_weekly_tables.py
Due: format-fix, lint-fix

(ranking) feat: update code logic + add workers
  jobs/ml_jobs/ranking_endpoint/Dockerfile
  jobs/ml_jobs/ranking_endpoint/api-requirements.in
  jobs/ml_jobs/ranking_endpoint/api-requirements.txt
  jobs/ml_jobs/ranking_endpoint/app/app.py
  jobs/ml_jobs/ranking_endpoint/app/model.py
  jobs/ml_jobs/ranking_endpoint/requirements.in
  jobs/ml_jobs/ranking_endpoint/requirements.txt
Due: format-fix, lint-fix

(ranking) feat: update code logic + add workers (#3189)
  jobs/ml_jobs/ranking_endpoint/Dockerfile
  jobs/ml_jobs/ranking_endpoint/api-requirements.in
  jobs/ml_jobs/ranking_endpoint/api-requirements.txt
  jobs/ml_jobs/ranking_endpoint/app/app.py
  jobs/ml_jobs/ranking_endpoint/app/model.py
  jobs/ml_jobs/ranking_endpoint/requirements.in
  jobs/ml_jobs/ranking_endpoint/requirements.txt
Due: format-fix, lint-fix

feat: Add invalidate_hard_deletes parameter
  orchestration/dags/data_gcp_dbt/snapshots/snapshot_intermediate/snasphot_intermediate__bookable_collective_offer.sql
  orchestration/dags/data_gcp_dbt/snapshots/snapshot_intermediate/snasphot_intermediate__bookable_offer.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

Update folders
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_booking.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_collective_booking.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_collective_offer.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_collective_offer_template.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_collective_stock.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_offer.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_offerer_tag.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_offerer_tag_category_mapping.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_offerer_tag_mapping.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_stock.sql
  orchestration/dags/data_gcp_dbt/snapshots/applicative/snapshot__applicative_venue_criterion.sql
  orchestration/dags/data_gcp_dbt/snapshots/intermediate/global/snasphot_intermediate__bookable_collective_offer.sql
  orchestration/dags/data_gcp_dbt/snapshots/intermediate/global/snasphot_intermediate__bookable_offer.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

feat: Update stock is_bookable definition
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__collective_stock.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__stock.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check
