Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: python
  stages:
  - commit
  additional_dependencies:
  - ruff==0.5.7

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: python
  stages:
  - commit
  additional_dependencies:
  - ruff==0.5.7

sqlfmt:
  name: SQL Formatting (sqlfmt)
  entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
  ...

feat: Add cluster by in global_offer table
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer_metadata.sql
Due: sqlfmt

fix: Remove item_id in global_offer_metadata
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer_metadata.sql
Due: sqlfmt

feat: Add cluster by in offer_item_id
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_item_id.sql
Due: sqlfmt

revers sqlfluff ignore
  .sqlfluffignore
Due: none

refacto
  orchestration/dags/data_gcp_dbt/macros/external_reporting/generate_metric_by_dimensions.sql
  orchestration/dags/data_gcp_dbt/macros/external_reporting/generate_top_ranking.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__beneficiary_refactored.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_ac_refactored.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_format_refactored.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_labeled_venue_refactored.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_offer_category_refactored.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_offer_label_refactored.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_offer_refactored.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_venue_refactored.sql
Due: sqlfmt

refacto
  .sqlfluffignore
  orchestration/dags/data_gcp_dbt/macros/external_reporting/generate_metric_by_dimensions.sql
  orchestration/dags/data_gcp_dbt/macros/external_reporting/generate_top_ranking.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__beneficiary_refactored.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__coverage_refactored.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__deposit_usage_refactored.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_ac_refactored.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_format_refactored.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_labeled_venue_refactored.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_offer_category_refactored.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_offer_label_refactored.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_offer_refactored.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_venue_refactored.sql
Due: sqlfmt

refacto
  orchestration/dags/data_gcp_dbt/macros/external_reporting/generate_coverage_metrics_by_age.sql
  orchestration/dags/data_gcp_dbt/macros/external_reporting/get_age_groups.sql
  orchestration/dags/data_gcp_dbt/macros/external_reporting/get_dimensions.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_coverage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_domain.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_offer_booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__beneficiary.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__coverage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__deposit_usage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__diversity.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__finance.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_ac.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_format.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_labeled_venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_offer_category.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_offer_label.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_venue.sql
Due: sqlfmt

(DE) feat(dbt): Adapt cultural partner external model with venues (#4585)
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__cultural_partner.sql
Due: sqlfmt

refacto
  orchestration/dags/data_gcp_dbt/macros/external_reporting/generate_activity_metrics.sql
  orchestration/dags/data_gcp_dbt/macros/external_reporting/generate_coverage_metrics_by_age.sql
  orchestration/dags/data_gcp_dbt/macros/external_reporting/generate_deposit_usage_metrics.sql
  orchestration/dags/data_gcp_dbt/macros/external_reporting/generate_metric_by_dimensions.sql
  orchestration/dags/data_gcp_dbt/macros/external_reporting/get_activity_list.sql
  orchestration/dags/data_gcp_dbt/macros/external_reporting/get_age_groups.sql
  orchestration/dags/data_gcp_dbt/macros/external_reporting/get_categories.sql
  orchestration/dags/data_gcp_dbt/macros/external_reporting/get_dimensions.sql
  orchestration/dags/data_gcp_dbt/macros/external_reporting/get_domains.sql
  orchestration/dags/data_gcp_dbt/macros/external_reporting/get_eac_objects.sql
  orchestration/dags/data_gcp_dbt/macros/external_reporting/get_partner_types.sql
  orchestration/dags/data_gcp_dbt/macros/external_reporting/metric_select.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_coverage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_domain.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_offer_booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__beneficiary.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__coverage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__deposit_usage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__diversity.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__finance.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_ac.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_ac_refactored.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_format.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_format_refactored.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_labeled_venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_labeled_venue_refactored.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_offer_category.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_offer_category_refactored.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_offer_label.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_offer_label_refactored.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_offer_refactored.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_venue_refactored.sql
Due: sqlfmt

feat: add refactored external_reporting models with macro support
  orchestration/dags/data_gcp_dbt/macros/external_reporting/get_dimensions.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_cultural_partner_refactored.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_domain_refactored.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_offer_booking_refactored.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__beneficiary_refactored.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__coverage_refactored.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__cultural_partner_refactored.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__deposit_usage_refactored.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__diversity_refactored.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__finance_refactored.sql
Due: sqlfmt

last touch
  orchestration/dags/data_gcp_dbt/macros/external_reporting/get_dimensions.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_domain_refactored.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_offer_booking_refactored.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__beneficiary_refactored.sql
Due: sqlfmt

last touch
  orchestration/dags/data_gcp_dbt/macros/external_reporting/get_dimensions.sql
Due: sqlfmt

Et voila
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_cultural_partner_refactored.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_domain.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_domain_refactored.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_offer_booking_refactored.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__beneficiary.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__beneficiary_refactored.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__coverage_refactored.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__cultural_partner_refactored.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__deposit_usage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__deposit_usage_refactored.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__diversity.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__diversity_refactored.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__finance_refactored.sql
Due: sqlfmt

(BSR) refactor(dbt): Add cluster id in offer metadata (#4626)
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_item_id.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer_metadata.sql
Due: sqlfmt

fix: forbidden gcs json dump in parquet columns
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__product_delta.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/raw/int_raw__product_titelive_details.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__titelive_products.sql
Due: sqlfmt

fix: Coalesce default name in wikidata
  jobs/ml_jobs/artist_linkage/queries/extract_book_artists.rq
  jobs/ml_jobs/artist_linkage/queries/extract_gkg_artists.rq
  jobs/ml_jobs/artist_linkage/queries/extract_movie_artists.rq
  jobs/ml_jobs/artist_linkage/queries/extract_music_artists.rq
Due: none

feat: Add table schemas for delta tables
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/export/backend/description__exp_backend__artist_alias_delta.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/export/backend/description__exp_backend__artist_delta.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/export/backend/description__exp_backend__product_artist_link_delta.md
  orchestration/dags/data_gcp_dbt/models/export/backend/_schema/exp_backend__artist_alias_delta.yml
  orchestration/dags/data_gcp_dbt/models/export/backend/_schema/exp_backend__artist_delta.yml
  orchestration/dags/data_gcp_dbt/models/export/backend/_schema/exp_backend__product_artist_link_delta.yml
Due: none

feat: Add column__delta.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/ml/column__delta.md
Due: none

feat: Add not_null tests
  orchestration/dags/data_gcp_dbt/models/export/backend/_schema/exp_backend__artist_delta.yml
  orchestration/dags/data_gcp_dbt/models/export/backend/_schema/exp_backend__product_artist_link_delta.yml
Due: none

enforce json type
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__product_delta.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/raw/int_raw__product_titelive_details.sql
Due: sqlfmt

remove unecessary hash
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__titelive_products.sql
Due: sqlfmt

(DE) fix(elementary): route compute intensive task to dedicated heavy worker
  orchestration/dags/jobs/dbt/dbt_artifacts.py
Due: format-fix, lint-fix

fix after review
  orchestration/dags/data_gcp_dbt/macros/external_reporting/get_dimensions.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__beneficiary.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__deposit_usage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__diversity.sql
Due: sqlfmt

fix after review
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__beneficiary.sql
Due: sqlfmt

fix: Update pd.merge from left to inner on wikidata
  jobs/ml_jobs/artist_linkage/refresh_artist_metadatas.py
Due: format-fix, lint-fix

make download images deferrable for init
  orchestration/dags/jobs/import/import_titelive.py
Due: format-fix, lint-fix

fix + doc
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__user_beneficiary_information_history.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user_beneficiary_information_history.sql
Due: sqlfmt

add user beneficiary information history
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user_beneficiary_information_history.sql
Due: sqlfmt

add user beneficiary information history
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__user_beneficiary_information_history.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user_beneficiary_information_history.sql
Due: sqlfmt

add mrt
  orchestration/dags/data_gcp_dbt/macros/generate_seed_geolocation_query.sql
  orchestration/dags/data_gcp_dbt/macros/schema.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/history/user_beneficiary_information_history/int_history__user_beneficiary_information_history.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/history/user_beneficiary_information_history/int_history__user_beneficiary_information_history_base.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__user_beneficiary_information_history.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user_beneficiary_information_history.sql
Due: sqlfmt

fix after review
  orchestration/dags/jobs/import/import_titelive.py
Due: format-fix, lint-fix

add mrt
  orchestration/dags/data_gcp_dbt/macros/generate_seed_geolocation_query.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/history/user_beneficiary_information_history/int_history__user_beneficiary_information_history.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/history/user_beneficiary_information_history/int_history__user_beneficiary_information_history_base.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user_beneficiary_information_history.sql
Due: sqlfmt

ok
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user_beneficiary_information_history.sql
Due: sqlfmt

fix after review 1
  orchestration/dags/data_gcp_dbt/macros/normalize_address.sql
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__user.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__user_beneficiary_information_history.md
  orchestration/dags/data_gcp_dbt/models/intermediate/history/user_beneficiary_information_history/int_history__user_beneficiary_information_history.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/history/user_beneficiary_information_history/int_history__user_beneficiary_information_history_base.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__user_beneficiary_information_history.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user_beneficiary_information_history.sql
Due: sqlfmt

fix after review 1
  orchestration/dags/data_gcp_dbt/macros/normalize_address.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/history/user_beneficiary_information_history/int_history__user_beneficiary_information_history.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/history/user_beneficiary_information_history/int_history__user_beneficiary_information_history_base.sql
Due: sqlfmt

(DE-2943) fix(artists): Fix empty artist names on wikidata (#4628)
  jobs/ml_jobs/artist_linkage/queries/extract_book_artists.rq
  jobs/ml_jobs/artist_linkage/queries/extract_gkg_artists.rq
  jobs/ml_jobs/artist_linkage/queries/extract_movie_artists.rq
  jobs/ml_jobs/artist_linkage/queries/extract_music_artists.rq
  jobs/ml_jobs/artist_linkage/refresh_artist_metadatas.py
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/ml/column__delta.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/export/backend/description__exp_backend__artist_alias_delta.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/export/backend/description__exp_backend__artist_delta.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/export/backend/description__exp_backend__product_artist_link_delta.md
  orchestration/dags/data_gcp_dbt/models/export/backend/_schema/exp_backend__artist_alias_delta.yml
  orchestration/dags/data_gcp_dbt/models/export/backend/_schema/exp_backend__artist_delta.yml
  orchestration/dags/data_gcp_dbt/models/export/backend/_schema/exp_backend__product_artist_link_delta.yml
Due: format-fix, lint-fix

(DE) fix(elementary): route compute intensive task to dedicated heavy worker (#4629)
  orchestration/dags/jobs/dbt/dbt_artifacts.py
Due: format-fix, lint-fix

test
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__collective_offer.md
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__collective_offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__collective_offer.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__collective_offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__educational_institution.sql
Due: sqlfmt

feat: Add get_wikipedia_page_content
  jobs/ml_jobs/artist_linkage/constants.py
  jobs/ml_jobs/artist_linkage/get_wikimedia_commons_license.py
  jobs/ml_jobs/artist_linkage/get_wikipedia_page_content.py
  jobs/ml_jobs/artist_linkage/pyproject.toml
  jobs/ml_jobs/artist_linkage/uv.lock
Due: format-fix, lint-fix

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfmt: any of: \.sql$
