Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
# Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
# Add new hook types here to ensure automatic installation when running `pre-commit install`
- pre-commit
- pre-push
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-json
  - id: check-added-large-files

- repo: local
  hooks:
  - id: format-fix
    name: Formatting (ruff)
    entry: ruff format
    language: system
    types: [python]
    stages: [commit]
  - id: lint-fix
    name: Linting (ruff)
    entry: ruff check --fix
    language: system
    types: [python]
    stages: [commit]
  - id: sqlfmt
    name: SQL Formatting (sqlfmt)
    entry: make sqlfmt
    stages: [commit]
    language: system
    types: [sql]
  # - id: sqlfluff-lint-check
  #   name: Lint check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_lint.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-format-check
  #   name: format check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_format.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-fix
  #   name: fix (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_fix.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]

fix: Fix query
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__recommendable_offer.sql
Due: sqlfmt

feat: Update create_recommendable_offers_raw_mv.sql
  jobs/etl_jobs/internal/sync_recommendation/sql/create_recommendable_offers_raw_mv.sql
Due: sqlfmt

feat: Update create_enriched_user_mv.sql
  jobs/etl_jobs/internal/sync_recommendation/sql/create_enriched_user_mv.sql
Due: sqlfmt

feat: Update user_statistics
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__user_statistics.sql
Due: sqlfmt

feat: Update recommendable_offer
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__recommendable_offer.sql
Due: sqlfmt

refactor: Update training days to ranking
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__home_interaction.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__ranking_training_data.sql
Due: sqlfmt

fix: Add proper columns to bq_config
  jobs/etl_jobs/internal/sync_recommendation/utils/bq_config.py
Due: format-fix, lint-fix

feat: Add weekly tag for ranking_endpoint_training
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__ranking_endpoint_training.sql
Due: sqlfmt

(BSR) fix(alerting): add templating to block message slack (#4092)
  orchestration/dags/common/operators/slack.py
Due: format-fix, lint-fix

(HF) feat(ci): update bucket to k8s
  .github/workflows/on_ci__workflow.yml
  .github/workflows/reusable_dbt_workflow.yml
Due: none

(HF) feat(ci): update bucket to k8s
  .github/workflows/reusable_dbt_workflow.yml
Due: none

(HF) feat(ci): update bucket to k8s (#4095)
  .github/workflows/on_ci__workflow.yml
  .github/workflows/reusable_dbt_workflow.yml
Due: none

feat: cleanup CI
  .github/workflows/reusable_test_orchestration.yml
  Makefile
  orchestration/.gitignore
  uv.lock
Due: none

feat: cleanup CI
  Makefile
Due: none

feat: cleanup CI
  .github/workflows/reusable_dbt_workflow.yml
Due: none

feat: add lock + cleanup
  orchestration/Makefile
  orchestration/airflow/orchestration-requirements.txt
  orchestration/uv.lock
Due: none

feat: review updates
  orchestration/Makefile
  orchestration/README.md
  orchestration/airflow/orchestration-requirements.txt
  orchestration/k8s-airflow/k8s-worker-requirements.txt
Due: none

feat: exclude export test from dev & stg ci
  orchestration/dags/data_gcp_dbt/dbt_project.yml
Due: none

fix: Remove empty alias in wikidata extract
  jobs/ml_jobs/artist_linkage/extract_from_wikidata.py
Due: format-fix, lint-fix

refactor: Move normalize_string_series to preprocessing_utils
  jobs/ml_jobs/artist_linkage/extract_from_wikidata.py
  jobs/ml_jobs/artist_linkage/match_artists_on_wikidata.py
  jobs/ml_jobs/artist_linkage/utils/preprocessing_utils.py
Due: format-fix, lint-fix

fix: Remove double string normalization
  jobs/ml_jobs/artist_linkage/match_artists_on_wikidata.py
Due: format-fix, lint-fix

(BSR) feat(cd): add k8s prod airflow deployment
  .github/workflows/on_cd__workflow.yml
  .github/workflows/on_ci__workflow.yml
Due: none

(BSR) feat(cd): add k8s prod airflow deployment (#4097)
  .github/workflows/on_cd__workflow.yml
  .github/workflows/on_ci__workflow.yml
Due: none

(BSR) feat(k8s): remove legacy deps
  orchestration/k8s-airflow/Dockerfile.k8s-worker
  orchestration/k8s-airflow/README.md
Due: none

(BSR) feat(k8s): remove legacy deps
  orchestration/k8s-airflow/Dockerfile.k8s-worker
Due: none

(BSR) feat(applicative_database): include original birth date + check date (#4087)
  orchestration/dags/data_gcp_dbt/models/clean/user_beneficiary.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__user.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__user_booked_item.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/beneficiary_fraud_check.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/user.sql
Due: sqlfmt

wip
  orchestration/dags/common/operators/gce.py
  orchestration/dags/jobs/ml/algo_default_deployment.py
Due: format-fix, lint-fix

feat: defer ssh (wip)
  orchestration/dags/common/operators/gce.py
  orchestration/dags/common/trigger/gce.py
Due: format-fix, lint-fix

(DE-1636) feat(alert): add alert on Metabase
  orchestration/dags/data_gcp_dbt/models/mart/alerting/_schema/mrt_alerting__metabase_cost.yml
  orchestration/dags/data_gcp_dbt/models/mart/alerting/mrt_alerting__metabase_cost.sql
  orchestration/dags/jobs/dbt/dbt_artifacts.py
Due: format-fix, lint-fix, sqlfmt

sql linter
  orchestration/dags/data_gcp_dbt/models/mart/alerting/mrt_alerting__metabase_cost.sql
Due: sqlfmt

fix dag
  orchestration/dags/jobs/dbt/dbt_artifacts.py
Due: format-fix, lint-fix

define columns
  orchestration/dags/data_gcp_dbt/models/mart/alerting/_schema/mrt_alerting__metabase_cost.yml
Due: none

(DE) build(CD): push airflow image artifact registry prod
  .github/workflows/on_cd__workflow.yml
Due: none

add description
  orchestration/dags/data_gcp_dbt/models/mart/alerting/_schema/mrt_alerting__metabase_cost.yml
Due: none

refactor: Clean artist preprocessing
  jobs/ml_jobs/artist_linkage/match_artists_on_wikidata.py
  jobs/ml_jobs/artist_linkage/utils/preprocessing_utils.py
Due: format-fix, lint-fix

feat: cleanup + refactor + add to embedding extraction item
  orchestration/dags/common/hooks/gce.py
  orchestration/dags/common/operators/gce.py
  orchestration/dags/common/trigger/gce.py
  orchestration/dags/common/triggers/gce.py
  orchestration/dags/jobs/ml/algo_default_deployment.py
  orchestration/dags/jobs/ml/embedding_extraction_item.py
Due: format-fix, lint-fix

(HF) feat(cd): fix uv pip install for mkdocs files
  .github/workflows/reusable_deploy_mkdocs.yml
Due: none
