Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: system
  stages:
  - commit

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: system
  stages:
  - commit

sqlfmt:
  name: SQL Formatting (sqlfmt)
  entry: make sqlfmt
  stages:
  - commit
  language: system

use passculture action to build & push image
  .github/workflows/CD_workflow.yml
  .github/workflows/reusable_build_image.yml
Due: none

fix join on int_global__booking
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__booking.sql
Due: sqlfmt

fix join on int_global__booking (#3341)
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__booking.sql
Due: sqlfmt

(DE-667) feat(ml): improve two towers logic
  jobs/ml_jobs/algo_training/two_towers_model/models/two_towers_model.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/metrics.py
Due: format-fix, lint-fix

(DE-667) feat(ml): improve two towers logic
  jobs/ml_jobs/algo_training/two_towers_model/utils/metrics.py
Due: format-fix, lint-fix

(DE-667) fix(retrieval): improve logic + fixes (#3272)
  jobs/ml_jobs/algo_training/commons/data_collect_queries.py
  jobs/ml_jobs/algo_training/requirements.in
  jobs/ml_jobs/algo_training/requirements.txt
  jobs/ml_jobs/algo_training/two_towers_model/models/match_model.py
  jobs/ml_jobs/algo_training/two_towers_model/models/two_towers_model.py
  jobs/ml_jobs/algo_training/two_towers_model/preprocess.py
  jobs/ml_jobs/algo_training/two_towers_model/train.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/callbacks.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/layers.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/metrics.py
  orchestration/dags/jobs/ml/algo_training_two_towers.py
Due: format-fix, lint-fix

(DE-678) ci(Airflow): build & push airflow image k8s (#3336)
  .github/workflows/CD_workflow.yml
  .github/workflows/reusable_build_image.yml
  orchestration/k8s-airflow/Dockerfile.k8s-worker
  orchestration/k8s-airflow/k8s-worker-requirements.in
  orchestration/k8s-airflow/k8s-worker-requirements.txt
Due: none

fix: Remove uv pip sync in SSHGCE operator (#3335)
  orchestration/dags/common/operators/gce.py
Due: format-fix, lint-fix

fix typo
  .github/workflows/CD_workflow.yml
Due: none

improve import schema
  jobs/etl_jobs/external/metabase-archiving/dependencies.py
Due: format-fix, lint-fix

(HF) fix(metabase): fix dependency table (#3339)
  jobs/etl_jobs/external/metabase-archiving/dependencies.py
Due: format-fix, lint-fix

fix typo (#3343)
  .github/workflows/CD_workflow.yml
Due: none

ugly if formating output
  .github/workflows/CD_workflow.yml
Due: none

(DE) fix(ci): format output (#3344)
  .github/workflows/CD_workflow.yml
Due: none

(HF) fix(ml): training typo fix
  orchestration/dags/dependencies/training_data/sql/training_data_bookings.sql
Due: sqlfmt

(HF) fix(ml): training typo fix
  orchestration/dags/dependencies/training_data/sql/training_data_clicks.sql
  orchestration/dags/dependencies/training_data/sql/training_data_favorites.sql
Due: sqlfmt

(HF) fix(qualtrics): enriched_qualtrics_pro
  orchestration/dags/dependencies/qualtrics/sql/analytics/enriched_qualtrics_pro.sql
Due: sqlfmt

fix
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__consultation.sql
Due: sqlfmt

(DE-694) feat(gpt) add gpt reviewer
  .github/workflows/ci_gpt.yml
  jobs/etl_jobs/external/adage/main.py
Due: format-fix, lint-fix

add step to ci gpt
  .github/workflows/ci_gpt.yml
Due: none

add permission
  .github/workflows/ci_gpt.yml
Due: none

update secret
  .github/workflows/ci_gpt.yml
Due: none

(HF) fix(qualtrics): enriched_qualtrics_pro (#3345)
  orchestration/dags/dependencies/qualtrics/sql/analytics/enriched_qualtrics_pro.sql
Due: sqlfmt

(BSR) feat(applicative): remove user_pro_new_nav_state
  orchestration/dags/data_gcp_dbt/models/clean/applicative/user_pro_new_nav_state.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/user_pro_new_nav_state.sql
Due: sqlfmt

give up google secret
  .github/workflows/ci_gpt.yml
Due: none

(BSR) feat(applicative): remove user_pro_new_nav_state (#3348)
  orchestration/dags/data_gcp_dbt/models/clean/applicative/user_pro_new_nav_state.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/user_pro_new_nav_state.sql
Due: sqlfmt

remove dummy code
  jobs/etl_jobs/external/adage/main.py
Due: format-fix, lint-fix

(BSR) feat(dbt): add legacy contentful models
  orchestration/dags/data_gcp_dbt/models/analytics/contentful_entries.sql
  orchestration/dags/data_gcp_dbt/models/analytics/contentful_tags.sql
Due: sqlfmt

handle env dependent applicative external connection id
  orchestration/dags/data_gcp_dbt/.env.buckets
  orchestration/dags/data_gcp_dbt/.env.dbt
  orchestration/dags/data_gcp_dbt/scripts/defer_local_run.sh
Due: none

(BSR) feat(dbt): add legacy contentful models (#3349)
  orchestration/dags/data_gcp_dbt/models/analytics/contentful_entries.sql
  orchestration/dags/data_gcp_dbt/models/analytics/contentful_tags.sql
Due: sqlfmt

reviews
  orchestration/dags/dependencies/training_data/sql/training_data_bookings.sql
  orchestration/dags/dependencies/training_data/sql/training_data_favorites.sql
Due: sqlfmt

(BSR) feat(ml): remove unused semantic model in default deployment
  orchestration/dags/jobs/ml/algo_default_deployment.py
Due: format-fix, lint-fix

(DE-732) feat(dbt): handle env dependent applicative external connection id #3350
  orchestration/dags/data_gcp_dbt/.env.buckets
  orchestration/dags/data_gcp_dbt/.env.dbt
  orchestration/dags/data_gcp_dbt/scripts/defer_local_run.sh
Due: none

handle local target, replace function for seemless fixe (replace create if not exists later)
  orchestration/dags/data_gcp_dbt/macros/udf_js/dehumanize_id_function.sql
  orchestration/dags/data_gcp_dbt/macros/udf_js/humanize_id_function.sql
Due: sqlfmt

handle local target, replace function for seemless fixe (replace create if not exists later) (#3352)
  orchestration/dags/data_gcp_dbt/macros/udf_js/dehumanize_id_function.sql
  orchestration/dags/data_gcp_dbt/macros/udf_js/humanize_id_function.sql
Due: sqlfmt

(HF) fix(ml): training typo fix (#3347)
  orchestration/dags/dependencies/training_data/sql/training_data_bookings.sql
  orchestration/dags/dependencies/training_data/sql/training_data_clicks.sql
  orchestration/dags/dependencies/training_data/sql/training_data_favorites.sql
Due: sqlfmt

catch & propagate scripts exit code to airflow
  orchestration/dags/data_gcp_dbt/scripts/dbt_clean.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_compile.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_deps.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_manifest.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_run.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_run_tag.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_snapshot.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_test.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_test_model.sh
  orchestration/dags/data_gcp_dbt/scripts/elementary_send_report.sh
Due: none

catch & propagate scripts exit code to airflow (#3353)
  orchestration/dags/data_gcp_dbt/scripts/dbt_clean.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_compile.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_deps.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_manifest.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_run.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_run_tag.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_snapshot.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_test.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_test_model.sh
  orchestration/dags/data_gcp_dbt/scripts/elementary_send_report.sh
Due: none

fix name native consultations
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__consultation.sql
Due: sqlfmt

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfmt: any of: \.sql$
