Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
  # Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
  # Add new hook types here to ensure automatic installation when running `pre-commit install`
  - pre-commit
  - pre-push
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: format-fix
        name: Formatting (ruff)
        entry: ruff format
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: lint-fix
        name: Linting (ruff)
        entry: ruff check --fix
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: sqlfmt
        name: SQL Formatting (sqlfmt)
        entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
        stages: [push]
        language: python
        additional_dependencies: ["shandy-sqlfmt[jinjafmt]==0.23.2"]
        types: [sql]
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.3.0
    hooks:
      - id: sqlfluff-fix
        additional_dependencies:
          ["dbt-bigquery==1.8.1", "sqlfluff-templater-dbt"]
        stages: [commit]
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.0
    hooks:
    - id: markdownlint-cli2
      language_version: 24.0.0
      args:
        - --fix

(BSR) fix(reco): propagate columns deletion from PR #4179
  jobs/etl_jobs/internal/sync_recommendation/utils/bq_config.py
Due: format-fix, lint-fix

style: use schedule dict
  orchestration/dags/jobs/ml/embedding_extraction_item.py
Due: format-fix, lint-fix

(BSR) fix(reco): propagate columns deletion from PR #4179 (#4186)
  jobs/etl_jobs/internal/sync_recommendation/utils/bq_config.py
Due: format-fix, lint-fix

remove taskflow syntax (no async) for deferal
  orchestration/dags/jobs/ml/embedding_extraction_item.py
Due: format-fix, lint-fix

feat(workflows_github-app): ajout d'un job get-token pour l'authentification GitHub App dans plusieurs workflows
  .github/workflows/on_cd__workflow.yml
  .github/workflows/on_ci__workflow.yml
  .github/workflows/on_pr_review__gpt.yml
  .github/workflows/on_schedule_rerun_check_hour.yml
  .github/workflows/reusable_dbt_workflow.yml
  .github/workflows/reusable_deploy_mkdocs.yml
  .github/workflows/reusable_github_app_auth.yml
Due: none

feat(github app): ajout des secrets pour l'authentification GitHub App dans plusieurs workflows
  .github/workflows/on_cd__workflow.yml
  .github/workflows/on_ci__workflow.yml
  .github/workflows/on_pr_review__gpt.yml
  .github/workflows/on_schedule_rerun_check_hour.yml
  .github/workflows/reusable_dbt_workflow.yml
  .github/workflows/reusable_github_app_auth.yml
Due: none

(HF) fix(archive): fix sql filter condition
  jobs/etl_jobs/external/metabase-archiving/utils.py
Due: format-fix, lint-fix

(BSR) feat(dbt): script to backfill events
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_event.sql
  orchestration/dags/data_gcp_dbt/scripts/dbt_batch_backfill.sh
Due: sqlfmt

(BSR) feat(dbt): script to backfill events
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_event.sql
Due: sqlfmt

(HF) feat(export): fix variable naming
  jobs/etl_jobs/external/encrypted_exports/helpers/transfer.py
Due: format-fix, lint-fix

feat build(airflow): ensure airflow logfiles ownership
  orchestration/k8s-airflow/Dockerfile.k8s-worker
Due: none

(DE-1634) feat(docs): refactor project dependencies (#4166)
  .github/workflows/reusable_dbt_workflow.yml
  .github/workflows/reusable_deploy_mkdocs.yml
  .github/workflows/reusable_linter.yml
  Makefile
  README.md
  orchestration/Makefile
  orchestration/README.md
  orchestration/airflow/orchestration-requirements.txt
  orchestration/dags/jobs/administration/gcp_launch_vm.py
  orchestration/dags/jobs/ml/algo_training_two_towers.py
  orchestration/k8s-airflow/k8s-worker-requirements.txt
  orchestration/pyproject.toml
  orchestration/uv.lock
  pyproject.toml
  uv.lock
Due: format-fix, lint-fix

(BSR) fix(embedding extraction): Fix embedding_extraction_item (#4180)
  orchestration/dags/jobs/ml/embedding_extraction_item.py
Due: format-fix, lint-fix

(DE-1756) fix(import): remove fields in mediation and product (#4182)
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__mediation.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__product.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/mediation.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/product.sql
Due: sqlfmt

(HF) feat(ci): update uv logic for mkdocs
  .github/workflows/reusable_deploy_mkdocs.yml
Due: none

(BSR) fix(CD): fix image build tags (#4177)
  .github/workflows/reusable_build_image.yml
Due: none

(DE-1695) refactor(archiving): fix metabase archiving rules (#4183)
  jobs/etl_jobs/external/metabase-archiving/utils.py
Due: format-fix, lint-fix

(HF) feat(etl): fix archive partition job (#4178)
  jobs/etl_jobs/internal/bigquery_archive_partition/archive.py
  orchestration/dags/jobs/administration/bigquery_archive_partition.py
Due: format-fix, lint-fix

(BSR) refactor(ranking): Update user features to not use weekly data (#4179)
  .github/workflows/reusable_dbt_workflow.yml
  .github/workflows/reusable_deploy_composer.yml
  jobs/etl_jobs/internal/sync_recommendation/sql/create_enriched_user_mv.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/feature/ml_feat__user_feature.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__ranking_training_data.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__user_statistics.sql
Due: sqlfmt

small fixes
  orchestration/dags/data_gcp_dbt/scripts/defer_local_run.py
  uv.lock
Due: format-fix, lint-fix

(DE-1718) feat(local): python deferal script
  orchestration/dags/data_gcp_dbt/scripts/defer_local_run_.py
  pyproject.toml
  uv.lock
Due: format-fix, lint-fix

(HF) fix(archive): fix sql filter condition (#4189)
  jobs/etl_jobs/external/metabase-archiving/utils.py
Due: format-fix, lint-fix

(HF) feat(export): fix variable naming
  jobs/etl_jobs/external/encrypted_exports/helpers/encrypt.py
  jobs/etl_jobs/external/encrypted_exports/helpers/transfer.py
  jobs/etl_jobs/external/encrypted_exports/main.py
Due: format-fix, lint-fix

refactor: Refacto to use new data
  jobs/ml_jobs/ranking_endpoint/app/model.py
Due: format-fix, lint-fix

refactor: Move preprocess embeddings to custom function
  jobs/ml_jobs/ranking_endpoint/app/model.py
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
  jobs/ml_jobs/ranking_endpoint/src/preprocessing.py
Due: format-fix, lint-fix

refactor: Use uv in dockerfile
  jobs/ml_jobs/ranking_endpoint/Dockerfile
Due: none

feat: Add new ranking_train_and_build DAG which loads data from gcs
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
  orchestration/dags/jobs/ml/ranking_train_and_build.py
Due: format-fix, lint-fix

feat: New ranking
  jobs/ml_jobs/ranking_endpoint/.gitignore
  jobs/ml_jobs/ranking_endpoint/app/model.py
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
  jobs/ml_jobs/ranking_endpoint/requirements.in
  jobs/ml_jobs/ranking_endpoint/requirements.txt
  jobs/ml_jobs/ranking_endpoint/src/__init__.py
  jobs/ml_jobs/ranking_endpoint/src/evaluation.py
  jobs/ml_jobs/ranking_endpoint/src/figure.py
  jobs/ml_jobs/ranking_endpoint/src/preprocessing.py
  jobs/ml_jobs/ranking_endpoint/src/utils.py
Due: format-fix, lint-fix

HACK: local load
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
Due: format-fix, lint-fix

fix: Fix data loading
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
Due: format-fix, lint-fix

refactor: Refacto config
  orchestration/dags/common/config.py
  orchestration/docker-compose.yaml
Due: format-fix, lint-fix

(BSR) feat(cost): add airflow origin for bq costs
  orchestration/dags/data_gcp_dbt/models/mart/monitoring/mrt_monitoring__bigquery_cost.sql
Due: sqlfmt

(BSR) feat(cost): add airflow origin for bq costs (#4193)
  orchestration/dags/data_gcp_dbt/models/mart/monitoring/mrt_monitoring__bigquery_cost.sql
Due: sqlfmt

(HF) feat(export): fix variable naming
  jobs/etl_jobs/external/encrypted_exports/helpers/encrypt.py
  jobs/etl_jobs/external/encrypted_exports/helpers/transfer.py
Due: format-fix, lint-fix

(HF) feat(export): fix prefix on encrypt transfer
  jobs/etl_jobs/external/encrypted_exports/helpers/transfer.py
Due: format-fix, lint-fix

(HF) feat(export): fix prefix on encrypt transfer
  orchestration/dags/data_gcp_dbt/models/export/ministry/exp_ministry__geo_iris.sql
Due: sqlfmt

(HF) feat(export): fix prefix on encrypt transfer
  jobs/etl_jobs/external/encrypted_exports/helpers/encrypt.py
Due: format-fix, lint-fix
