Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
# Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
# Add new hook types here to ensure automatic installation when running `pre-commit install`
- pre-commit
- pre-push
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-json
  - id: check-added-large-files

- repo: local
  hooks:
  - id: format-fix
    name: Formatting (ruff)
    entry: ruff format
    language: system
    types: [python]
    stages: [commit]
  - id: lint-fix
    name: Linting (ruff)
    entry: ruff check --fix
    language: system
    types: [python]
    stages: [commit]
  - id: sqlfmt
    name: SQL Formatting (sqlfmt)
    entry: make sqlfmt
    stages: [commit]
    language: system
    types: [sql]
  # - id: sqlfluff-lint-check
  #   name: Lint check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_lint.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-format-check
  #   name: format check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_format.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-fix
  #   name: fix (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_fix.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]

refactor: Add user_id and sessions_id in native_home_offer_displayed (#3877)
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_daily_user_home_module.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_home_offer_displayed.sql
Due: sqlfmt

(DA-1276) feat(dbt): add geoloc_radius_filter to collective_adage_logs (#3868)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/tracking/column__collective_adage_log.md
  orchestration/dags/data_gcp_dbt/models/intermediate/pcapi/int_pcapi__adage_log.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/pcapi/int_pcapi__log.sql
  orchestration/dags/data_gcp_dbt/models/mart/collective/_schema/mrt_collective__adage_log.yml
  orchestration/dags/data_gcp_dbt/models/mart/collective/mrt_collective__adage_log.sql
Due: sqlfmt

(DE-1352) refactor(exportCloudSql): Refacto export cloud sql dag (#3883)
  orchestration/dags/dependencies/export_cloudsql_tables_to_bigquery/config.py
  orchestration/dags/dependencies/export_cloudsql_tables_to_bigquery/import_cloudsql.py
  orchestration/dags/dependencies/export_cloudsql_tables_to_bigquery/sql/raw/past_offer_context.sql
  orchestration/dags/jobs/api/export_cloudsql_tables_to_bigquery.py
  orchestration/tests/dags_test.py
Due: format-fix, lint-fix, sqlfmt

add calculate_exact_age to macros
  orchestration/dags/data_gcp_dbt/macros/function_utils/calculate_exact_age.sql
Due: sqlfmt

test deposit
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__deposit.yml
Due: none

fix typo
  orchestration/dags/data_gcp_dbt/macros/function_utils/calculate_exact_age.sql
Due: sqlfmt

Migrate old analytics models to dbt int
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_booking.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_visit.sql
Due: sqlfmt

fix user age calculation in models
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/aggregated_daily_offer_consultation_data.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_user_deposit.sql
Due: sqlfmt

add test booking
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__booking.yml
Due: none

Update orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_visit.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_visit.sql
Due: sqlfmt

add user_birth_date test
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__user.yml
  orchestration/dags/data_gcp_dbt/tests/generic/is_valid_beneficiary_birth_date.sql
Due: sqlfmt

fix typo review
  orchestration/dags/data_gcp_dbt/macros/function_utils/calculate_exact_age.sql
Due: sqlfmt

add user_birth_date test
  orchestration/dags/data_gcp_dbt/tests/generic/is_valid_beneficiary_birth_date.sql
Due: sqlfmt

(DE-1313) feat(docs): add details about zendesk tickets in int table.
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/zendesk/column__zendesk_typology.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/zendesk/description__int_zendesk__daily_macro_usage.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/zendesk/description__int_zendesk__ticket.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/zendesk/description__int_zendesk__typology_native.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/zendesk/description__int_zendesk__typology_pro.md
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/int_zendesk__ticket.sql
Due: sqlfmt

(DE-1313) feat(docs): add details about zendesk tickets in int table.
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/zendesk/description__int_zendesk__typology_native.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/zendesk/description__int_zendesk__typology_pro.md
Due: none

(DE-1313) feat(docs): add details about zendesk tickets in int table. (#3886)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/zendesk/column__zendesk_typology.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/zendesk/description__int_zendesk__daily_macro_usage.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/zendesk/description__int_zendesk__ticket.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/zendesk/description__int_zendesk__typology_native.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/zendesk/description__int_zendesk__typology_pro.md
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/int_zendesk__ticket.sql
Due: sqlfmt

Refactor Firebase native visit model column names
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_visit.sql
Due: sqlfmt

Improve formatting and readability of Firebase native visit model
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_visit.sql
Due: sqlfmt

(DE-1333) feat(dbt): Fix user age calculations
  orchestration/dags/data_gcp_dbt/macros/function_utils/calculate_exact_age.sql
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/aggregated_daily_offer_consultation_data.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_user_deposit.sql
Due: sqlfmt

feat(recommendation): add new models and documentation for available and recommendable offers
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/recommendation/description__ml_reco__available_offer.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/recommendation/description_ml_reco__recommendable_offer.md
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/_schema/ml_reco__available_offer.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/_schema/ml_reco__recommendable_offer.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/_schema/ml_reco__training_data_item_feature.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/_schema/ml_reco__training_data_user_feature.yml
Due: none

(HF) fix(test): add condition to excluded inactive user
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__booking.yml
Due: none

(DE-1225) feat(dbt): update user-addresses new job
  orchestration/dags/data_gcp_dbt/models/intermediate/api_gouv/address/int_api_gouv__user_address.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__user.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/geolocation/int_geo__user_location.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__user.sql
  orchestration/dags/jobs/import/import_addresses.py
Due: format-fix, lint-fix, sqlfmt

(DE-1225) feat(dbt): update user-addresses new job
  orchestration/dags/data_gcp_dbt/models/intermediate/api_gouv/address/int_api_gouv__user_address.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__user.sql
Due: sqlfmt

(DE-1225) feat(dbt): update user-addresses new job
  orchestration/dags/data_gcp_dbt/models/intermediate/api_gouv/address/int_api_gouv__user_address.sql
Due: sqlfmt

add field to int_applicative models
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__booking.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__deposit.sql
Due: sqlfmt

add field to int_applicative models
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__deposit.sql
Due: sqlfmt

add field to int_global models
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__booking.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__deposit.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__user.sql
Due: sqlfmt

rename fields
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__user.sql
Due: sqlfmt

(HF) fix(test): add condition to excluded inactive user (#3888)
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__booking.yml
Due: none

add fields to mrt_global models
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__deposit.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__user.md
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__booking.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__deposit.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__favorite.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__user.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__deposit.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__favorite.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user.sql
Due: sqlfmt

fix typo
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__favorite.sql
Due: sqlfmt
