Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
# Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
# Add new hook types here to ensure automatic installation when running `pre-commit install`
- pre-commit
- pre-push
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-json
  - id: check-added-large-files

- repo: local
  hooks:
  - id: format-fix
    name: Formatting (ruff)
    entry: ruff format
    language: system
    types: [python]
    stages: [commit]
  - id: lint-fix
    name: Linting (ruff)
    entry: ruff check --fix
    language: system
    types: [python]
    stages: [commit]
  - id: sqlfmt
    name: SQL Formatting (sqlfmt)
    entry: make sqlfmt
    stages: [commit]
    language: system
    types: [sql]
  # - id: sqlfluff-lint-check
  #   name: Lint check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_lint.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-format-check
  #   name: format check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_format.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-fix
  #   name: fix (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_fix.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]

Ultime update consultation model
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__consultation.sql
Due: sqlfmt

fix typo
  orchestration/dags/data_gcp_dbt/models/analytics/firebase/firebase_booking_origin.sql
Due: sqlfmt

update query
  orchestration/dags/data_gcp_dbt/models/analytics/firebase/firebase_booking_origin.sql
Due: sqlfmt

exclude compilation error from CI
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_event.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_event_flattened.sql
Due: sqlfmt

modified README to include new standard to generate a GCP key
  orchestration/README.md
Due: none

(BSR) fix(doc): update for airflow local installation with docker (#3475)
  orchestration/README.md
  orchestration/docker-compose.yaml
Due: none

(DE-820) feat(dbt): remove thumbcount filter
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__product.sql
Due: sqlfmt

updated README.md
  orchestration/README.md
Due: none

(DE) fix(clickhouse): fix yearly revenue value
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/yearly_aggregated_venue_individual_revenue.sql
Due: sqlfmt

(BSR) dbt(incremental): prevent erasing native_event & flattened while running dbt in full refresh mode (#3476)
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_event.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_event_flattened.sql
Due: sqlfmt

(bsr) dbt(incremental): variabilize full_refresh_lookback and enforce partition filtering with full refresh
  orchestration/dags/data_gcp_dbt/dbt_project.yml
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/aggregated_daily_offer_consultation_data.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_consultation.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/metric/discovery/int_metric__discovery_daily_consultation.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__consultation.sql
Due: sqlfmt

(bsr) dbt(incremental): variabilize full_refresh_lookback and enforce partition filtering with full refresh (#3480)
  orchestration/dags/data_gcp_dbt/dbt_project.yml
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/aggregated_daily_offer_consultation_data.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_consultation.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/metric/discovery/int_metric__discovery_daily_consultation.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__consultation.sql
Due: sqlfmt

changed the dockerfile to use so it gets the path defined in .env file
  orchestration/docker-compose.yaml
Due: none

(DA-3477) feat(analytics): Ultime update consultation model
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__consultation.sql
Due: sqlfmt

(DA-3477) feat(analytics): Ultime update consultation model (#3484)
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__consultation.sql
Due: sqlfmt

Dockerfile to use with netskope
  orchestration/airflow/Dockerfile.netskope
Due: none

updated README.md file to specify fix for netskope
  orchestration/README.md
Due: none

(PC-33139) docs: conformite-licences-depots-publiques (#3479)
  LICENSE
Due: none

(DE) fix(clickhouse): fix yearly revenue value (#3483)
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/yearly_aggregated_venue_individual_revenue.sql
Due: sqlfmt

(DE-433) fix(netskope): install airflow via netskope v2 with two dockerfiles (#3485)
  orchestration/README.md
  orchestration/airflow/Dockerfile.netskope
  orchestration/docker-compose.yaml
Due: none

(DE-820) feat(dbt): remove thumbcount filter (#3481)
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__product.sql
Due: sqlfmt

feat: Add ml_linkage__artists_to_link.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/artist/input/ml_linkage__artists_to_link.sql
Due: sqlfmt

feat: Remove artists_to_link from dags dependencies
  orchestration/dags/dependencies/ml/linkage/import_artists.py
  orchestration/dags/dependencies/ml/linkage/sql/artists_to_link.sql
Due: format-fix, lint-fix, sqlfmt

exclude virtual venues from outgoing cohorts
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__booking.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__stock.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__outgoing_cohorts.sql
Due: sqlfmt

feat: Update artist_linkage dag
  orchestration/dags/common/config.py
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

feat: Move linked_artists_table to ML_PREPROC_DATASET
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

(BSR) fix(alerts): fix util function to remove alerting when not needed
  orchestration/dags/common/alerts.py
Due: format-fix, lint-fix

(DA-3867) feat(Analytics): Add fields to firebase_booking_origin (#3478)
  orchestration/dags/data_gcp_dbt/models/analytics/firebase/firebase_booking_origin.sql
Due: sqlfmt

fix: Replace bigquery_tmp_dataset by bigquery_ml_preproc_dataset for artist output tables
  orchestration/dags/dependencies/ml/linkage/sql/create_artist_alias_table.sql
  orchestration/dags/dependencies/ml/linkage/sql/create_artist_table.sql
  orchestration/dags/dependencies/ml/linkage/sql/create_product_artist_link_table.sql
Due: sqlfmt

review: logging
  orchestration/dags/common/alerts.py
Due: format-fix, lint-fix

aggregate collective revenue over school years
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/school_yearly_aggregated_venue_collective_revenue.sql
Due: sqlfmt

feat: Add ml_linkage__artist_table.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/artist/output/ml_linkage__artist_table.sql
Due: sqlfmt

feat: Add ml_linkage__artist_alias_table.sql and ml_linkage_product_artist_link_table.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/artist/output/ml_linkage__artist_alias_table.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/artist/output/ml_linkage_product_artist_link_table.sql
Due: sqlfmt

refactor: Remove deprecated tables
  orchestration/dags/dependencies/ml/linkage/create_artist_alias_table.py
  orchestration/dags/dependencies/ml/linkage/create_artist_table.py
  orchestration/dags/dependencies/ml/linkage/create_product_artist_link_table.py
  orchestration/dags/dependencies/ml/linkage/sql/create_artist_alias_table.sql
  orchestration/dags/dependencies/ml/linkage/sql/create_artist_table.sql
  orchestration/dags/dependencies/ml/linkage/sql/create_product_artist_link_table.sql
Due: format-fix, lint-fix, sqlfmt

update user_activity
  orchestration/dags/data_gcp_dbt/models/clean/user_beneficiary.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__user.sql
Due: sqlfmt

(BSR) feat(analytics): Update firebase logic
  orchestration/dags/dependencies/firebase/sql/raw/firebase_events.sql
  orchestration/dags/jobs/import/import_firebase.py
Due: format-fix, lint-fix, sqlfmt

feat: Add export_data_with_dbt task
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix
