Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: python
  stages:
  - commit
  additional_dependencies:
  - ruff==0.5.7

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: python
  stages:
  - commit
  additional_dependencies:
  - ruff==0.5.7

sqlfmt:
  name: SQL Formatting (sqlfmt)
  entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
  ...

feat: Add algo_training_graph_embeddings
  orchestration/dags/jobs/crons.py
  orchestration/dags/jobs/ml/algo_training_graph_embeddings.py
Due: format-fix, lint-fix

lint: Lint dag
  orchestration/dags/jobs/ml/algo_training_graph_embeddings.py
Due: format-fix, lint-fix

re-align uv conf root
  pyproject.toml
  uv.lock
Due: none

restore to master uv
  pyproject.toml
  uv.lock
Due: none

fix env pbs
  jobs/etl_jobs/external/titelive/uv.lock
Due: none

feat: Load embeddings inside bq
  orchestration/dags/jobs/ml/algo_training_graph_embeddings.py
Due: format-fix, lint-fix

AE: item metadata for graph embeddings refactored
  orchestration/dags/data_gcp_dbt/models/machine_learning/input/ml_input__item_graph_embedding.sql
Due: sqlfmt

(DE) feat(dbt): Add soft deleted venue to exp ministry model (#4518)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/export/ministry/description__exp_ministry__venue_removed.md
  orchestration/dags/data_gcp_dbt/models/export/ministry/_schema/exp_ministry__venue_removed.yml
  orchestration/dags/data_gcp_dbt/models/export/ministry/exp_ministry__venue.sql
  orchestration/dags/data_gcp_dbt/models/export/ministry/exp_ministry__venue_removed.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/raw/int_raw__venue_removed.sql
Due: sqlfmt

switch product_artist_link to backend import
  orchestration/dags/data_gcp_dbt/models/machine_learning/input/ml_input__item_graph_embedding.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: sqlfmt

(DE-2672) dbt(graph-embeddings): item metadata for graph embeddings input (#4529)
  orchestration/dags/data_gcp_dbt/models/machine_learning/input/ml_input__item_graph_embedding.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: sqlfmt

refactor: Use less training steps for embedding builder
  jobs/ml_jobs/graph_recommendation/src/graph_recommendation/embedding_builder.py
Due: format-fix, lint-fix

fix: Fix parquet path CLI
  jobs/ml_jobs/graph_recommendation/scripts/cli.py
  jobs/ml_jobs/graph_recommendation/src/graph_recommendation/heterograph_builder.py
Due: format-fix, lint-fix

OK for init
  jobs/etl_jobs/external/titelive/src/api/client.py
  jobs/etl_jobs/external/titelive/src/transformers/api_transform.py
  jobs/etl_jobs/http_tools/clients.py
  jobs/etl_jobs/http_tools/rate_limiters.py
  orchestration/dags/jobs/import/import_titelive.py
Due: format-fix, lint-fix

fix: Fix security hotspot
  jobs/ml_jobs/graph_recommendation/src/graph_recommendation/embedding_builder.py
Due: format-fix, lint-fix

(DE-2644) feat(dbt): Add event field to ghseet import (#4509)
  jobs/etl_jobs/external/gsheet/gsheet.py
Due: format-fix, lint-fix

feat: Add gpu in vm creation
  orchestration/dags/jobs/ml/algo_training_graph_embeddings.py
Due: format-fix, lint-fix

test: Remove useless test
  jobs/ml_jobs/graph_recommendation/tests/embedding_builder_test.py
Due: format-fix, lint-fix

test: Refacto test with duplicated lines
  jobs/ml_jobs/graph_recommendation/tests/embedding_builder_test.py
Due: format-fix, lint-fix

refactor: Move files to proper architecture and remove duplicates
  jobs/ml_jobs/graph_recommendation/.github/copilot-instructions.md
  jobs/ml_jobs/graph_recommendation/README.md
  jobs/ml_jobs/graph_recommendation/scripts/cli.py
  jobs/ml_jobs/graph_recommendation/src/__init__.py
  jobs/ml_jobs/graph_recommendation/src/constants.py
  jobs/ml_jobs/graph_recommendation/src/embedding_builder.py
  jobs/ml_jobs/graph_recommendation/src/graph_builder.py
  jobs/ml_jobs/graph_recommendation/src/heterograph_builder.py
  jobs/ml_jobs/graph_recommendation/src/utils/preprocessing.py
  jobs/ml_jobs/graph_recommendation/tests/embedding_builder_test.py
  jobs/ml_jobs/graph_recommendation/tests/graph_builder_test.py
  jobs/ml_jobs/graph_recommendation/tests/heterograph_builder_test.py
Due: format-fix, lint-fix

(DE-2663) feat(graph embedings): Add heterograph training with metapath2vec (#4517)
  jobs/ml_jobs/graph_recommendation/.github/copilot-instructions.md
  jobs/ml_jobs/graph_recommendation/.gitignore
  jobs/ml_jobs/graph_recommendation/Makefile
  jobs/ml_jobs/graph_recommendation/README.md
  jobs/ml_jobs/graph_recommendation/__init__.py
  jobs/ml_jobs/graph_recommendation/data/.gitkeep
  jobs/ml_jobs/graph_recommendation/pyproject.toml
  jobs/ml_jobs/graph_recommendation/scripts/cli.py
  jobs/ml_jobs/graph_recommendation/src/__init__.py
  jobs/ml_jobs/graph_recommendation/src/constants.py
  jobs/ml_jobs/graph_recommendation/src/embedding_builder.py
  jobs/ml_jobs/graph_recommendation/src/graph_builder.py
  jobs/ml_jobs/graph_recommendation/src/heterograph_builder.py
  jobs/ml_jobs/graph_recommendation/src/utils/preprocessing.py
  jobs/ml_jobs/graph_recommendation/tests/__init__.py
  jobs/ml_jobs/graph_recommendation/tests/embedding_builder_test.py
  jobs/ml_jobs/graph_recommendation/tests/graph_builder_test.py
  jobs/ml_jobs/graph_recommendation/tests/heterograph_builder_test.py
  jobs/ml_jobs/graph_recommendation/uv.lock
Due: format-fix, lint-fix

refactor: Use less training steps for embedding builder
  jobs/ml_jobs/graph_recommendation/src/embedding_builder.py
Due: format-fix, lint-fix

fix: Fix parquet path CLI
  jobs/ml_jobs/graph_recommendation/scripts/cli.py
  jobs/ml_jobs/graph_recommendation/src/heterograph_builder.py
Due: format-fix, lint-fix

refactor: rename ml_input__item_graph_embedding.sql into ml_graph_recommendation__item_with_metadata_to_embed.sql and use it in DAG
  orchestration/dags/common/config.py
  orchestration/dags/data_gcp_dbt/models/machine_learning/graph_recommendation/ml_graph_recommendation__item_with_metadata_to_embed.sql
  orchestration/dags/jobs/ml/algo_training_graph_embeddings.py
Due: format-fix, lint-fix, sqlfmt

fix: Fix default schedule
  orchestration/dags/jobs/ml/algo_training_graph_embeddings.py
Due: format-fix, lint-fix

refactor: Update poll_interval default to 300
  orchestration/dags/common/operators/gce.py
  orchestration/dags/jobs/import/import_sendinblue.py
  orchestration/dags/jobs/ml/algo_training_two_towers.py
  orchestration/dags/jobs/ml/embedding_clusterisation_item.py
  orchestration/dags/jobs/ml/embedding_extraction_item.py
  orchestration/dags/jobs/ml/embedding_reduction_item.py
Due: format-fix, lint-fix

feat: Use deferrable training in graph_embeddinggs dag
  orchestration/dags/jobs/ml/algo_training_graph_embeddings.py
Due: format-fix, lint-fix

add field special_event_end_date
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__special_event.md
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__special_event.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__special_event.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__special_event.sql
  orchestration/dags/data_gcp_dbt/models/raw/applicative/raw_applicative__special_event.sql
Due: sqlfmt

feat: Add default train_only_on_10k_rows flag to reduce training
  orchestration/dags/jobs/ml/algo_training_graph_embeddings.py
Due: format-fix, lint-fix

adapt init-bq strategy
  jobs/etl_jobs/external/titelive/config.py
  jobs/etl_jobs/external/titelive/main.py
  jobs/etl_jobs/external/titelive/src/constants.py
  jobs/etl_jobs/external/titelive/src/modes/init_bq.py
  jobs/etl_jobs/external/titelive/src/modes/run_incremental.py
  jobs/etl_jobs/external/titelive/src/utils/bigquery.py
Due: format-fix, lint-fix

pr: Take PR into account
  orchestration/dags/jobs/ml/algo_training_graph_embeddings.py
Due: format-fix, lint-fix

(HF) fix(airflow): dbt artifact trigger condition
  orchestration/dags/jobs/dbt/dbt_artifacts.py
Due: format-fix, lint-fix

(DE-2673) feat(graph): Add algo_training_graph_embeddings DAG (#4530)
  jobs/ml_jobs/graph_recommendation/scripts/cli.py
  jobs/ml_jobs/graph_recommendation/src/embedding_builder.py
  jobs/ml_jobs/graph_recommendation/src/heterograph_builder.py
  orchestration/dags/common/config.py
  orchestration/dags/common/operators/gce.py
  orchestration/dags/data_gcp_dbt/models/machine_learning/graph_recommendation/ml_graph_recommendation__item_with_metadata_to_embed.sql
  orchestration/dags/jobs/crons.py
  orchestration/dags/jobs/import/import_sendinblue.py
  orchestration/dags/jobs/ml/algo_training_graph_embeddings.py
  orchestration/dags/jobs/ml/algo_training_two_towers.py
  orchestration/dags/jobs/ml/embedding_clusterisation_item.py
  orchestration/dags/jobs/ml/embedding_extraction_item.py
  orchestration/dags/jobs/ml/embedding_reduction_item.py
Due: format-fix, lint-fix, sqlfmt

feat: remove linkless items prepocessing step
  jobs/ml_jobs/graph_recommendation/src/constants.py
  jobs/ml_jobs/graph_recommendation/src/heterograph_builder.py
  jobs/ml_jobs/graph_recommendation/src/utils/preprocessing.py
Due: format-fix, lint-fix

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfmt: any of: \.sql$
