Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
  # Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
  # Add new hook types here to ensure automatic installation when running `pre-commit install`
  - pre-commit
  - pre-push
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: format-fix
        name: Formatting (ruff)
        entry: ruff format
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: lint-fix
        name: Linting (ruff)
        entry: ruff check --fix
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: sqlfmt
        name: SQL Formatting (sqlfmt)
        entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
        stages: [push]
        language: python
        additional_dependencies: ["shandy-sqlfmt[jinjafmt]==0.23.2"]
        types: [sql]
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.3.0
    hooks:
      - id: sqlfluff-fix
        additional_dependencies:
          ["dbt-bigquery==1.8.1", "sqlfluff-templater-dbt"]
        stages: [commit]
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.0
    hooks:
    - id: markdownlint-cli2
      language_version: 24.0.0
      args:
        - --fix

Modify srien API route
  jobs/etl_jobs/external/siren/scripts/import_siren.py
  jobs/etl_jobs/external/siren/scripts/utils.py
Due: format-fix, lint-fix

Modify siren API route (#4306)
  jobs/etl_jobs/external/siren/scripts/import_siren.py
  jobs/etl_jobs/external/siren/scripts/utils.py
Due: format-fix, lint-fix

Clean CI from Composer to Airflow
  .github/workflows/on_cd__workflow.yml
  .github/workflows/reusable_deploy_airflow.yml
Due: none

clean composer partout sauf dans les anciennes tâches liées à composer
  .github/workflows/README.md
  .github/workflows/on_cd__workflow.yml
  .github/workflows/reusable_deploy_airflow.yml
  jobs/etl_jobs/external/metabase-dbt/main.py
  orchestration/README.md
  orchestration/dags/data_gcp_dbt/.env.dbt
  orchestration/dags/data_gcp_dbt/scripts/defer_local_run.py
Due: format-fix, lint-fix

Update orchestration/README.md
  orchestration/README.md
Due: none

(BSR) refactor(CI): Clean CI from Composer to Airflow (#4307)
  .github/workflows/README.md
  .github/workflows/on_cd__workflow.yml
  .github/workflows/reusable_deploy_airflow.yml
  jobs/etl_jobs/external/metabase-dbt/main.py
  orchestration/README.md
  orchestration/dags/data_gcp_dbt/.env.dbt
  orchestration/dags/data_gcp_dbt/scripts/defer_local_run.py
Due: format-fix, lint-fix

bsr: add lookback var to mrt native event
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__event.sql
Due: sqlfmt

(DE) ci(hotfixes): feat - allow hotfix pushes on master in the morning
  .github/workflows/on_pr_check_hour.yml
Due: none

deploy: 0cebda5551c05c80eeb881f4f6d27dab40a80b89
  __pycache__/hooks.cpython-312.pyc
  sitemap.xml
  sitemap.xml.gz
Due: none

bsr: add lookback var to mrt native event
  orchestration/dags/data_gcp_dbt/models/analytics/firebase/firebase_visits.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_event_flattened.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__event.sql
Due: sqlfmt

(DE) ci(hotfixes): feat - allow hotfix pushes on master in the morning (#4309)
  .github/workflows/on_pr_check_hour.yml
Due: none

(DE) feat(clickhouse): export venue offer statistics to clickhouse (#4284)
  jobs/etl_jobs/internal/export_clickhouse/core/update.py
  jobs/etl_jobs/internal/export_clickhouse/schema/intermediate/venue_offer_statistic.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/tmp/intermediate_venue_offer_statistic.sql
  orchestration/dags/dependencies/export_clickhouse/export_clickhouse.py
Due: format-fix, lint-fix, sqlfmt

feat: rate limiter probe api backoff time and wait accordingly
  jobs/etl_jobs/external/brevo/brevo_newsletters.py
  jobs/etl_jobs/external/brevo/brevo_transactional.py
  jobs/etl_jobs/external/brevo/main.py
  jobs/etl_jobs/external/brevo/utils.py
Due: format-fix, lint-fix

feat: force wait over api backoff time and defer task to free worker up
  orchestration/dags/jobs/import/import_sendinblue.py
Due: format-fix, lint-fix

working
  jobs/etl_jobs/external/brevo_refacto/.gitignore
  jobs/etl_jobs/external/brevo_refacto/client.py
  jobs/etl_jobs/external/brevo_refacto/config.py
  jobs/etl_jobs/external/brevo_refacto/etl.py
  jobs/etl_jobs/external/brevo_refacto/main.py
  jobs/etl_jobs/external/brevo_refacto/pyproject.toml
  jobs/etl_jobs/external/brevo_refacto/requirements.in
  jobs/etl_jobs/external/brevo_refacto/requirements.txt
Due: format-fix, lint-fix

Use Two API keys + ThreadsPool
  jobs/etl_jobs/external/brevo/brevo_transactional.py
  jobs/etl_jobs/external/brevo/main.py
  jobs/etl_jobs/external/brevo/utils.py
Due: format-fix, lint-fix

fix: Fix clean_names (preprocessing v1)
  jobs/ml_jobs/artist_linkage/utils/preprocessing_utils.py
Due: format-fix, lint-fix

refactor: Refacto preprocessing for delta
  jobs/ml_jobs/artist_linkage/artist_linkage_config.json
  jobs/ml_jobs/artist_linkage/link_new_products_to_artists.py
  jobs/ml_jobs/artist_linkage/utils/preprocessing_utils.py
Due: format-fix, lint-fix

docs: Update orchastration doc
  orchestration/README.md
  orchestration/airflow/README.md
Due: none

feat: Add link_products_to_artists_from_scratch.py
  jobs/ml_jobs/artist_linkage/link_products_to_artists_from_scratch.py
Due: format-fix, lint-fix

refactor: Create matching utils
  jobs/ml_jobs/artist_linkage/constants.py
  jobs/ml_jobs/artist_linkage/link_new_products_to_artists.py
  jobs/ml_jobs/artist_linkage/link_products_to_artists_from_scratch.py
  jobs/ml_jobs/artist_linkage/utils/matching.py
Due: format-fix, lint-fix

refactor: Update and rename create artist_delta
  jobs/ml_jobs/artist_linkage/link_new_products_to_artists.py
  jobs/ml_jobs/artist_linkage/link_products_to_artists_from_scratch.py
  jobs/ml_jobs/artist_linkage/utils/matching.py
Due: format-fix, lint-fix

refactor: Update linkage DAG to use link from scratch script
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

Use Two API keys + ThreadsPool (#4311)
  jobs/etl_jobs/external/brevo/brevo_transactional.py
  jobs/etl_jobs/external/brevo/main.py
  jobs/etl_jobs/external/brevo/utils.py
Due: format-fix, lint-fix

import_brevo DAG timeout to 4h
  orchestration/dags/jobs/import/import_sendinblue.py
Due: format-fix, lint-fix

import_brevo DAG timeout to 4h (#4314)
  orchestration/dags/jobs/import/import_sendinblue.py
Due: format-fix, lint-fix

deploy: bc773cced26a0522584294c1c11618f0261979d5
  __pycache__/hooks.cpython-312.pyc
  sitemap.xml
  sitemap.xml.gz
Due: none

(DS-1887) feat(reco): Add retrieval integration test
  jobs/ml_jobs/reco_integration_test/Makefile
  jobs/ml_jobs/reco_integration_test/README.md
  jobs/ml_jobs/reco_integration_test/__init__.py
  jobs/ml_jobs/reco_integration_test/call_endpoint_utils.py
  jobs/ml_jobs/reco_integration_test/constants.py
  jobs/ml_jobs/reco_integration_test/main.py
  jobs/ml_jobs/reco_integration_test/pyproject.toml
  jobs/ml_jobs/reco_integration_test/requirements.txt
  jobs/ml_jobs/reco_integration_test/sql/user_data.sql
  jobs/ml_jobs/reco_integration_test/streamlits/.gitignore
  jobs/ml_jobs/reco_integration_test/streamlits/st_analize.py
  jobs/ml_jobs/reco_integration_test/tests/__init__.py
  jobs/ml_jobs/reco_integration_test/tests/hello_test.py
  jobs/ml_jobs/reco_integration_test/utils.py
  jobs/ml_jobs/reco_integration_test/utils/__init__.py
  jobs/ml_jobs/reco_integration_test/utils/tools.py
  jobs/ml_jobs/reco_integration_test/uv.lock
Due: format-fix, lint-fix, sqlfmt

feat: custom brevo response header rate limiter
  jobs/etl_jobs/jobs/brevo/main.py
  jobs/etl_jobs/jobs/brevo/utils.py
Due: format-fix, lint-fix

refactor: custom http clients, and rate limiters
  jobs/etl_jobs/__init__.py
  jobs/etl_jobs/http_custom/__init__.py
  jobs/etl_jobs/http_custom/clients.py
  jobs/etl_jobs/http_custom/rate_limiters.py
Due: format-fix, lint-fix

refactor: brevo etl job v2
  jobs/etl_jobs/jobs/__init__.py
  jobs/etl_jobs/jobs/brevo/__init__.py
  jobs/etl_jobs/jobs/brevo/config.py
  jobs/etl_jobs/jobs/brevo/main.py
  jobs/etl_jobs/jobs/brevo/pyproject.toml
  jobs/etl_jobs/jobs/brevo/requirements.in
  jobs/etl_jobs/jobs/brevo/requirements.txt
  jobs/etl_jobs/jobs/brevo/utils.py
Due: format-fix, lint-fix

feat: brevo connector
  jobs/etl_jobs/connectors/__init__.py
  jobs/etl_jobs/connectors/brevo.py
Due: format-fix, lint-fix

refactor: brevo dag v2
  orchestration/dags/jobs/import/import_brevo.py
Due: format-fix, lint-fix

fix: newletter global stats header
  jobs/etl_jobs/connectors/brevo.py
  jobs/etl_jobs/jobs/brevo/main.py
Due: format-fix, lint-fix

structure
  jobs/etl_jobs/jobs/brevo/config.py
  jobs/etl_jobs/jobs/brevo/main.py
  jobs/etl_jobs/jobs/brevo/utils.py
Due: format-fix, lint-fix

refactor: Refacto get_products_to_remove_and_link
  jobs/ml_jobs/artist_linkage/link_new_products_to_artists.py
  jobs/ml_jobs/artist_linkage/utils/matching.py
Due: format-fix, lint-fix

fix: Fix inner merge
  jobs/ml_jobs/artist_linkage/link_new_products_to_artists.py
Due: format-fix, lint-fix

fix: Small fixes
  jobs/ml_jobs/artist_linkage/constants.py
  jobs/ml_jobs/artist_linkage/link_new_products_to_artists.py
  jobs/ml_jobs/artist_linkage/link_products_to_artists_from_scratch.py
  jobs/ml_jobs/artist_linkage/utils/matching.py
  jobs/ml_jobs/artist_linkage/utils/preprocessing_utils.py
Due: format-fix, lint-fix

improve dict
  jobs/ml_jobs/reco_integration_test/main.py
Due: format-fix, lint-fix
