Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

.pre-commit-config.yaml:

default_install_hook_types:
# Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
# Add new hook types here to ensure automatic installation when running `pre-commit install`
- pre-commit
- pre-push
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-json
  - id: check-added-large-files

- repo: local
  hooks:
  - id: format-fix
    name: Formatting (ruff)
    entry: ruff format
    language: system
    types: [python]
    stages: [commit]
  - id: lint-fix
    name: Linting (ruff)
    entry: ruff check --fix
    language: system
    types: [python]
    stages: [commit]
  - id: sqlfluff-format-fix
    name: Formatting (sqlfluff)
    entry: make sqlfluff_format
    language: system
    types: [sql]
    stages: [commit]
  - id: sqlfluff-lint-fix echo $(git diff --cached --name-only)
    name: Linter (sqlfluff)
    entry: make sqlfluff_fix $(git diff --cached --name-only)
    language: system
    types: [sql]
    stages: [commit]
  - id: sqlfluff-lint-check
    name: Lint check (sqlfluff)
    entry: make sqlfluff_lint echo $(git diff --cached --name-only)
    language: system
    types: [sql]
    stages: [commit]

[DE-514](ranking) feat: keep only one node worker
  orchestration/dags/jobs/ml/algo_default_deployment.py
Due: format-fix, lint-fix

fix warning condition
  jobs/etl_jobs/internal/bigquery_alerts/main.py
Due: format-fix, lint-fix

revert
  jobs/etl_jobs/internal/bigquery_alerts/main.py
Due: format-fix, lint-fix

fix bucket computation
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_home_offer_displayed.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

fix
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_home_offer_displayed.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

feat: add entry_id dimension to display tables
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_home_offer_displayed.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_home_offer_displayed.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

Fix display model (#3082)
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_home_offer_displayed.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_home_offer_displayed.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

(DE-550) add tags to batch campaigns
  jobs/etl_jobs/external/batch/batch_client.py
  jobs/etl_jobs/external/batch/main.py
Due: format-fix, lint-fix

(DE-550) add tags to batch campaigns (#3083)
  jobs/etl_jobs/external/batch/batch_client.py
  jobs/etl_jobs/external/batch/main.py
Due: format-fix, lint-fix

(DE-455) feat/add dbt tests on native event tableg (#2917)
  orchestration/dags/data_gcp_dbt/models/mart/native/schema/mrt_native__daily_home_recommendation_offer.yml
  orchestration/dags/data_gcp_dbt/models/mart/native/schema/mrt_native__event.yml
Due: none

[DE-514](ranking) feat: keep only one node worker (#3081)
  orchestration/dags/jobs/ml/algo_default_deployment.py
Due: format-fix, lint-fix

[DE-478](gsheet) feat: add tiktok objectives gsheet
  jobs/etl_jobs/external/gsheet/gsheet.py
Due: format-fix, lint-fix

update gsheet name
  jobs/etl_jobs/external/gsheet/gsheet.py
Due: format-fix, lint-fix

[DE-478](gsheet) feat: add tiktok objectives gsheet (#3085)
  jobs/etl_jobs/external/gsheet/gsheet.py
Due: format-fix, lint-fix

add check flag to github action
  .github/workflows/reusable_dbt_workflow.yml
  orchestration/dags/data_gcp_dbt/scripts/sqlfluff_lint.sh
Due: none

add check flag to format step in ci
  .github/workflows/reusable_dbt_workflow.yml
  orchestration/dags/data_gcp_dbt/models/clean/available_stock_information.sql
  orchestration/dags/data_gcp_dbt/scripts/sqlfluff_format.sh
  orchestration/dags/data_gcp_dbt/scripts/sqlfluff_lint.sh
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

(code cleaning) remove great expectations
  orchestration/README.md
  orchestration/airflow/orchestration-requirements.in
  orchestration/airflow/orchestration-requirements.txt
  orchestration/dags/dependencies/great_expectations/config_enriched.py
  orchestration/dags/dependencies/great_expectations/config_historical.py
  orchestration/dags/dependencies/great_expectations/great_expectations_context.py
  orchestration/dags/dependencies/great_expectations/run_tests.py
  orchestration/dags/dependencies/great_expectations/utils.py
  orchestration/dags/great_expectations/.gitignore
  orchestration/dags/great_expectations/great_expectations.yml
  orchestration/dags/jobs/import/tests_great_expectations.py
Due: format-fix, lint-fix

(code cleaning) remove great expectations (#3086)
  orchestration/README.md
  orchestration/airflow/orchestration-requirements.in
  orchestration/airflow/orchestration-requirements.txt
  orchestration/dags/dependencies/great_expectations/config_enriched.py
  orchestration/dags/dependencies/great_expectations/config_historical.py
  orchestration/dags/dependencies/great_expectations/great_expectations_context.py
  orchestration/dags/dependencies/great_expectations/run_tests.py
  orchestration/dags/dependencies/great_expectations/utils.py
  orchestration/dags/great_expectations/.gitignore
  orchestration/dags/great_expectations/great_expectations.yml
  orchestration/dags/jobs/import/tests_great_expectations.py
Due: format-fix, lint-fix

fix/batch fix api response parsing
  jobs/etl_jobs/external/batch/batch_client.py
Due: format-fix, lint-fix

fix/batch fix api response parsing (#3087)
  jobs/etl_jobs/external/batch/batch_client.py
Due: format-fix, lint-fix

remove flag for v1 merge
  .github/workflows/reusable_dbt_workflow.yml
  orchestration/dags/data_gcp_dbt/scripts/sqlfluff_lint.sh
Due: none

remove dummy changes for testing purposes
  orchestration/dags/data_gcp_dbt/macros/custom_incremental_config.sql
  orchestration/dags/data_gcp_dbt/macros/extract_params_int_value.sql
  orchestration/dags/data_gcp_dbt/models/clean/available_stock_information.sql
  orchestration/dags/data_gcp_dbt/models/export/clickhouse/exp_clickhouse__collective_booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_home_module_conversion.sql
  orchestration/dags/data_gcp_dbt/scripts/sqlfluff_lint.sh
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

feat: Update dependencies + upload columns mapping
  jobs/etl_jobs/external/metabase/data/mappings.json
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__stock.sql
  orchestration/tests/data_analytics/config.py
Due: format-fix, lint-fix, sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

fix: Remove stock_booking_information
  orchestration/dags/data_gcp_dbt/models/analytics/stock_booking_information.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

feat: Migrate collective_offer_domain_name
  orchestration/dags/data_gcp_dbt/models/analytics/collective_offer_domain_name.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__collective_offer_domain.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

feat: Create mrt_global__collective_offer_domain.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__collective_offer_domain.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

feat: Update dossiers query limit to 5 in DMS query
  jobs/etl_jobs/external/dms/dms_query.py
  jobs/etl_jobs/external/dms/main.py
Due: format-fix, lint-fix

feat: Update instance type for default ML deployment
  orchestration/dags/jobs/ml/algo_default_deployment.py
Due: format-fix, lint-fix

(dbt) Migrate collective_offer_domain_name (#3090)
  orchestration/dags/data_gcp_dbt/models/analytics/collective_offer_domain_name.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__collective_offer_domain.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__collective_offer_domain.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

(dbt) Migrate stock_booking_information (#3088)
  jobs/etl_jobs/external/metabase/data/mappings.json
  orchestration/dags/data_gcp_dbt/models/analytics/stock_booking_information.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__stock.sql
  orchestration/tests/data_analytics/config.py
Due: format-fix, lint-fix, sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

feat: Create discovery_session model and fix native_consultation model
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_consultation.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/metric/discovery/int_metric__discovery_session_score.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

fix
  orchestration/dags/data_gcp_dbt/models/intermediate/metric/discovery/int_metric__discovery_daily_consultation.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

feat: Add mrt_native__consultation
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_consultation.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__consultation.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__consultation_discovery.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__session.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check
