Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: system
  stages:
  - commit

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: system
  stages:
  - commit

sqlfmt:
  name: SQL Formatting (sqlfmt)
  entry: make sqlfmt
  stages:
  - commit
  language: system

(DE) build(airflow): add gcloud to image
  orchestration/k8s-airflow/Dockerfile.k8s-worker
Due: none

(DE-969) fix(dbt): Fix training data click queries so that elementary tests are green (#3677)
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_click.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__user_statistics.sql
Due: sqlfmt

(BSR) lint(metabase): Lint int_metabase__internal_dbt_exposure.sql and int_metabase__activity.sql (#3674)
  orchestration/dags/data_gcp_dbt/models/intermediate/metabase/int_metabase__activity.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/metabase/int_metabase__internal_dbt_exposure.sql
Due: sqlfmt

(DE) build(airflow): add gcloud to image (#3680)
  orchestration/k8s-airflow/Dockerfile.k8s-worker
Due: none

- add source table for dms in sources.yml - creation of dms int tables (jeune + pro)
  orchestration/dags/data_gcp_dbt/models/intermediate/api_gouv/dms/int_api_gouv__dms_jeune.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/api_gouv/dms/int_api_gouv__dms_pro.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: sqlfmt

(DE) build(airflow): sso support requirements
  orchestration/k8s-airflow/k8s-worker-requirements.in
  orchestration/k8s-airflow/k8s-worker-requirements.txt
Due: none

(DE) build(airflow): sso support requirements (#3685)
  orchestration/k8s-airflow/k8s-worker-requirements.in
  orchestration/k8s-airflow/k8s-worker-requirements.txt
Due: none

deploy: abb852c032c1a6bb72b11e285ed2edcbb716ec88
  __pycache__/hooks.cpython-310.pyc
  sitemap.xml
  sitemap.xml.gz
Due: none

(HF) fix(brevo): change audience_size to be delivered
  jobs/etl_jobs/external/brevo/brevo_newsletters.py
Due: format-fix, lint-fix

wip add headline model
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__headline_offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__venue.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__venue.sql
Due: sqlfmt

wip add headline model
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__headline_offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__venue.sql
Due: sqlfmt

(DE-893) feat(seed) import new insee qpv file
  jobs/etl_jobs/internal/gcs_seed/tables_config.py
  orchestration/dags/data_gcp_dbt/models/intermediate/geolocation/int_geo__institution_location.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/geolocation/int_geo__user_location.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/geolocation/int_geo__venue_location.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/seed/int_seed__geo_iris.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/seed/int_seed__priority_neighborhood.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/seed/int_seed__priority_urban_district.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/seed/schema/int_seed__priority_neighborhood.yml
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: format-fix, lint-fix, sqlfmt

(HF) feat(applicative): fix rayon and book_editor (#3682)
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_ean.sql
Due: sqlfmt

requirements & basic functions for parquet encryption
  jobs/etl_jobs/external/export_deps/pyproject.toml
  jobs/etl_jobs/external/export_deps/requirements.in
  jobs/etl_jobs/external/export_deps/requirements.txt
  jobs/etl_jobs/external/export_deps/utils.py
Due: format-fix, lint-fix

refactor(dbt): rename columns for clarity in dms_pro SQL model
  orchestration/dags/data_gcp_dbt/models/intermediate/api_gouv/dms/int_api_gouv__dms_pro.sql
Due: sqlfmt

(DE-958) feat(dbt): Migrate dms from clean to dbt (#3686)
  orchestration/dags/data_gcp_dbt/models/intermediate/api_gouv/dms/int_api_gouv__dms_jeune.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/api_gouv/dms/int_api_gouv__dms_pro.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: sqlfmt

(DE-965) feat(dbt): add first zendesk models (#3657)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__technical_partner.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/zendesk/column__ticket.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/zendesk/column__zendesk_macro.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/zendesk/column__zendesk_typology.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/zendesk/description__int_zendesk__daily_macro_usage.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/zendesk/description__int_zendesk__ticket.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/zendesk/description__int_zendesk__typology_native.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/zendesk/description__int_zendesk__typology_pro.md
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/_schema/int_zendesk__daily_macro_usage.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/_schema/int_zendesk__ticket.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/_schema/int_zendesk__typology_native.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/_schema/int_zendesk__typology_pro.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/int_zendesk__daily_macro_usage.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/int_zendesk__ticket.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/int_zendesk__typology_native.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/int_zendesk__typology_pro.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: sqlfmt

rename: dbt dms model → replace jeune by native
  orchestration/dags/data_gcp_dbt/models/intermediate/api_gouv/dms/int_api_gouv__dms_native.sql
Due: sqlfmt

refactor: Update logger (as in retrieval_vector)
  jobs/ml_jobs/ranking_endpoint/Dockerfile
  jobs/ml_jobs/ranking_endpoint/app/app.py
  jobs/ml_jobs/ranking_endpoint/app/custom_logging/config.json
  jobs/ml_jobs/ranking_endpoint/app/custom_logging/filter.py
  jobs/ml_jobs/ranking_endpoint/app/custom_logging/logger.py
Due: format-fix, lint-fix

(DE-893) feat(seed) Import new QPV seed data
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/seed/column__insee.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/seed/column__qpv.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/seed/description__int_seed__priority_urban_district.md
  orchestration/dags/data_gcp_dbt/models/intermediate/api_gouv/address/int_api_gouv__user_address.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/geolocation/int_geo__institution_location.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/geolocation/int_geo__user_location.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/geolocation/int_geo__venue_location.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/seed/int_seed__priority_urban_district.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/seed/schema/int_seed__priority_neighborhood.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/seed/schema/int_seed__priority_urban_district.yml
  orchestration/dags/dependencies/qualtrics/sql/clean/qualtrics_ir_jeunes.sql
Due: sqlfmt

(DE-893) feat(seed) Import new QPV seed data
  orchestration/dags/data_gcp_dbt/models/intermediate/geolocation/int_geo__user_location.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/geolocation/int_geo__venue_location.sql
  orchestration/dags/dependencies/qualtrics/sql/clean/qualtrics_ir_jeunes.sql
Due: sqlfmt

(DE-893) feat(seed) Import new QPV seed data
  orchestration/dags/data_gcp_dbt/models/intermediate/seed/int_seed__priority_urban_district.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/seed/schema/int_seed__priority_urban_district.yml
Due: sqlfmt

main encryption workflow with obfuscation template
  jobs/etl_jobs/external/export_deps/main.py
  jobs/etl_jobs/external/export_deps/requirements.in
  jobs/etl_jobs/external/export_deps/requirements.txt
  jobs/etl_jobs/external/export_deps/utils.py
Due: format-fix, lint-fix

(DE-730) feat(etl): add daily account stats for instagram
  jobs/etl_jobs/external/instagram/extract.py
  jobs/etl_jobs/external/instagram/main.py
  jobs/etl_jobs/external/instagram/utils.py
Due: format-fix, lint-fix

switch to AESGCM ciphering + revamp obfuscation
  jobs/etl_jobs/external/export_deps/utils.py
Due: format-fix, lint-fix

(DE-730) feat(etl): add daily account stats for instagram
  jobs/etl_jobs/external/instagram/main.py
Due: format-fix, lint-fix

(DE-730) feat(etl): add daily account stats for instagram
  jobs/etl_jobs/external/instagram/main.py
  jobs/etl_jobs/external/instagram/utils.py
Due: format-fix, lint-fix

replace safe cast
  orchestration/dags/data_gcp_dbt/models/intermediate/seed/int_seed__movie_arthouse_and_heritage_label.sql
Due: sqlfmt

feat: add bookclub account
  jobs/etl_jobs/external/instagram/utils.py
Due: format-fix, lint-fix

feat: add bookclub account
  jobs/etl_jobs/external/instagram/main.py
Due: format-fix, lint-fix

feat: add bookclub account
  jobs/etl_jobs/external/instagram/extract.py
Due: format-fix, lint-fix

(DA-3821) feat(dbt): Add new logs to int_pcapi__backoffice_log (#3662)
  orchestration/dags/data_gcp_dbt/models/intermediate/pcapi/int_pcapi__backoffice_log.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/pcapi/int_pcapi__log.sql
Due: sqlfmt

(DE-958) feat(dbt): Migrate dms from clean to dbt (#3690)
  orchestration/dags/data_gcp_dbt/models/intermediate/api_gouv/dms/int_api_gouv__dms_native.sql
Due: sqlfmt

fix raw source and column aliases
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_metadata.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/seed/int_seed__movie_arthouse_and_heritage_label.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offer_metadata.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer_metadata.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: sqlfmt

fix alias
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_metadata.sql
Due: sqlfmt

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfmt: any of: \.sql$
