Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
  # Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
  # Add new hook types here to ensure automatic installation when running `pre-commit install`
  - pre-commit
  - pre-push
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: format-fix
        name: Formatting (ruff)
        entry: ruff format
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: lint-fix
        name: Linting (ruff)
        entry: ruff check --fix
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: sqlfmt
        name: SQL Formatting (sqlfmt)
        entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
        stages: [push]
        language: python
        additional_dependencies: ["shandy-sqlfmt[jinjafmt]==0.23.2"]
        types: [sql]
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.3.0
    hooks:
      - id: sqlfluff-fix
        additional_dependencies:
          ["dbt-bigquery==1.8.1", "sqlfluff-templater-dbt"]
        stages: [commit]
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.0
    hooks:
    - id: markdownlint-cli2
      language_version: 24.0.0
      args:
        - --fix

(HF) fix(dbt): fix cli args (#4299)
  orchestration/dags/common/dbt/dbt_executors.py
Due: format-fix, lint-fix

deploy: ecf953f7d2e35ee50b3c47d23e12065a5d730126
  __pycache__/hooks.cpython-312.pyc
Due: none

update model and incremental config
  orchestration/dags/data_gcp_dbt/dbt_project.yml
  orchestration/dags/data_gcp_dbt/models/mart/propilote/PPG/ephemerals_kpis/mrt_propilote__ppg_beneficiaries.sql
  orchestration/dags/data_gcp_dbt/models/mart/propilote/PPG/ephemerals_kpis/mrt_propilote__ppg_beneficiary.sql
Due: sqlfmt

sqlfmt
  orchestration/dags/data_gcp_dbt/models/mart/propilote/PPG/ephemerals_kpis/mrt_propilote__ppg_beneficiary.sql
Due: sqlfmt

refactor: Change ml_linkage__product_to_link to table instead of view
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__product_to_link.sql
Due: sqlfmt

refactor: Change ml_linkage__product_to_link to table instead of view (#4300)
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__product_to_link.sql
Due: sqlfmt

create ppg kpis model part 1
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__monthly_beneficiary_coverage.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__outgoing_cohort.sql
  orchestration/dags/data_gcp_dbt/models/mart/propilote/PPG/ephemerals_kpis/mrt_propilote__ppg_beneficiary.sql
  orchestration/dags/data_gcp_dbt/models/mart/propilote/PPG/ephemerals_kpis/mrt_propilote__ppg_coverage.sql
  orchestration/dags/data_gcp_dbt/models/mart/propilote/PPG/ephemerals_kpis/mrt_propilote__ppg_deposit_usage.sql
  orchestration/dags/data_gcp_dbt/models/mart/propilote/PPG/ephemerals_kpis/mrt_propilote__ppg_diversity.sql
Due: sqlfmt

create ppg kpis model part 1
  orchestration/dags/data_gcp_dbt/models/mart/propilote/PPG/ephemerals_kpis/mrt_propilote__ppg_beneficiary.sql
  orchestration/dags/data_gcp_dbt/models/mart/propilote/PPG/ephemerals_kpis/mrt_propilote__ppg_coverage.sql
  orchestration/dags/data_gcp_dbt/models/mart/propilote/PPG/ephemerals_kpis/mrt_propilote__ppg_deposit_usage.sql
  orchestration/dags/data_gcp_dbt/models/mart/propilote/PPG/ephemerals_kpis/mrt_propilote__ppg_diversity.sql
Due: sqlfmt

relationship booking to stock
  orchestration/dags/data_gcp_dbt/models/intermediate/global/_schema/int_global__booking.yaml
Due: none

left join on global models to alert on missing values
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__booking.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__collective_offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__stock.sql
Due: sqlfmt

add relationship tests on global tables
  orchestration/dags/data_gcp_dbt/models/intermediate/global/_schema/int_global__offer.yaml
  orchestration/dags/data_gcp_dbt/models/intermediate/global/_schema/int_global__stock.yaml
  orchestration/dags/data_gcp_dbt/models/intermediate/global/_schema/int_global__venue.yaml
Due: none

fix linter
  .github/workflows/on_cd__workflow.yml
Due: none

(DE) fix(dbt): fix dbt executor global cli flag parsing
  orchestration/dags/common/dbt/dbt_executors.py
Due: format-fix, lint-fix

Add Rate Limit for Transactional Pro
  jobs/etl_jobs/external/brevo/brevo_transactional.py
  jobs/etl_jobs/external/brevo/utils.py
  orchestration/dags/jobs/import/import_sendinblue.py
Due: format-fix, lint-fix

Refacto Artist Linkage dag
  jobs/ml_jobs/artist_linkage/link_new_products_to_artists.py
  jobs/ml_jobs/artist_linkage/utils/preprocessing_utils.py
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

fix: column name typo
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_event_flattened.sql
Due: sqlfmt

docs: troubleshout dbt incremental hook
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_event_flattened.sql
Due: sqlfmt

feat: Export files to delta tables
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

fix: remove unecessary dbt clean command
  orchestration/dags/common/dbt/dbt_executors.py
Due: format-fix, lint-fix

fix: dbt dag trigger rules
  orchestration/dags/jobs/dbt/dbt_run_dag.py
Due: format-fix, lint-fix

refactor: Set link from scratch to default
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

feat: Export delta artist tables to ml_preproc dataset
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__delta_artist.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__delta_artist_alias.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__delta_product_artist_link.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: sqlfmt

feat: Add export delta tables
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__artist_alias_delta.sql
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__artist_delta.sql
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__product_artist_link_delta.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__delta_product_artist_link.sql
Due: sqlfmt

Add Rate Limit for Transactional Pro (#4302)
  jobs/etl_jobs/external/brevo/brevo_transactional.py
  jobs/etl_jobs/external/brevo/utils.py
  orchestration/dags/jobs/import/import_sendinblue.py
Due: format-fix, lint-fix

review
  orchestration/dags/common/dbt/dbt_executors.py
Due: format-fix, lint-fix

fix: Replace artist_name by postprocessed_artist_name and filter existing artist ids
  jobs/ml_jobs/artist_linkage/link_new_products_to_artists.py
Due: format-fix, lint-fix

(DE) fix(dbt): fix dbt executor global cli flag parsing (#4301)
  orchestration/dags/common/dbt/dbt_executors.py
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_event_flattened.sql
  orchestration/dags/jobs/dbt/dbt_run_dag.py
Due: format-fix, lint-fix, sqlfmt

feat: Add wiki id to artist keys
  jobs/ml_jobs/artist_linkage/link_new_products_to_artists.py
Due: format-fix, lint-fix

fix(schema): Enhance dimension anomaly detection and update data tests for offer model
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/_schema/ml_reco__recommendable_item.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/_schema/ml_reco__recommendable_offer.yml
Due: none

(BSR) feat(recommendation): add new models and documentation for available … (#3887)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/recommendation/description__ml_reco__available_offer.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/recommendation/description_ml_reco__recommendable_offer.md
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/_schema/ml_reco__available_offer.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/_schema/ml_reco__recommendable_offer.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/_schema/ml_reco__training_data_item_feature.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/_schema/ml_reco__training_data_user_feature.yml
Due: none

refactor: Add artist_linkage_config.json
  jobs/ml_jobs/artist_linkage/artist_linkage_config.json
  jobs/ml_jobs/artist_linkage/constants.py
  jobs/ml_jobs/artist_linkage/link_new_products_to_artists.py
  jobs/ml_jobs/artist_linkage/streamlits/st_analyze_preprocessing.py
  jobs/ml_jobs/artist_linkage/streamlits/st_investigate_syncho_backend.py
  jobs/ml_jobs/artist_linkage/utils/preprocessing_utils.py
Due: format-fix, lint-fix

refactor: Use column names from constants
  jobs/ml_jobs/artist_linkage/constants.py
  jobs/ml_jobs/artist_linkage/link_new_products_to_artists.py
Due: format-fix, lint-fix

refactor: Define class values
  jobs/ml_jobs/artist_linkage/constants.py
  jobs/ml_jobs/artist_linkage/link_new_products_to_artists.py
Due: format-fix, lint-fix

refactor: Reimport keys from constants
  jobs/ml_jobs/artist_linkage/constants.py
  jobs/ml_jobs/artist_linkage/link_new_products_to_artists.py
Due: format-fix, lint-fix

refactor: Use ML_BUCKET_TEMP instead of MLFLOW_BUCKET
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

(HF) fix(test): fix condition to parse cli_flags
  orchestration/dags/common/dbt/dbt_executors.py
Due: format-fix, lint-fix

(HF) fix(test): fix condition to parse cli_flags (#4305)
  orchestration/dags/common/dbt/dbt_executors.py
Due: format-fix, lint-fix

fix: Fix assign
  jobs/ml_jobs/artist_linkage/link_new_products_to_artists.py
Due: format-fix, lint-fix

(DS-1918) feat(artist sync): Sync new products to existing artist database (#4278)
  jobs/ml_jobs/artist_linkage/artist_linkage_config.json
  jobs/ml_jobs/artist_linkage/constants.py
  jobs/ml_jobs/artist_linkage/extract_from_wikidata.py
  jobs/ml_jobs/artist_linkage/link_new_products_to_artists.py
  jobs/ml_jobs/artist_linkage/preprocess.py
  jobs/ml_jobs/artist_linkage/streamlits/st_analyze_preprocessing.py
  jobs/ml_jobs/artist_linkage/streamlits/st_create_preprocessing_test_set.py
  jobs/ml_jobs/artist_linkage/streamlits/st_investigate_syncho_backend.py
  jobs/ml_jobs/artist_linkage/tests/utils/data/preprocessing_test_set.csv
  jobs/ml_jobs/artist_linkage/utils/preprocessing_utils.py
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

(DS-1917) feat(artist): Export delta tables to backend (#4303)
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__artist_alias_delta.sql
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__artist_delta.sql
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__product_artist_link_delta.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__delta_artist.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__delta_artist_alias.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__delta_product_artist_link.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: sqlfmt
