Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: system
  stages:
  - commit

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: system
  stages:
  - commit

sqlfmt:
  name: SQL Formatting (sqlfmt)
  entry: make sqlfmt
  stages:
  - commit
  language: system

(DE) build(airflow): upgrade base image
  orchestration/k8s-airflow/Dockerfile.k8s-worker
Due: none

add image build dispatch workflow
  .github/workflows/build_image.yml
Due: none

unquote
  orchestration/k8s-airflow/Dockerfile.k8s-worker
Due: none

(DE-1132) feat(referentials): fix import offer_types
  jobs/etl_jobs/internal/import_api_referentials/data/music_types_deprecated_20250401.csv
  jobs/etl_jobs/internal/import_api_referentials/main.py
Due: format-fix, lint-fix

update dependencies
  orchestration/k8s-airflow/k8s-worker-requirements.in
  orchestration/k8s-airflow/k8s-worker-requirements.txt
Due: none

sonar cloud
  orchestration/k8s-airflow/Dockerfile.k8s-worker
Due: none

jinja templating dag param
  orchestration/dags/jobs/dbt/dbt_artifacts.py
Due: format-fix, lint-fix

(BSR) feat(import): remove import national program data
  orchestration/dags/data_gcp_dbt/models/clean/applicative/national_program_offer_link_history.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/national_program_offer_template_link_history.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/national_program_offer_link_history.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/national_program_offer_template_link_history.sql
Due: sqlfmt

(DE) build(airflow): upgrade base image (#3991)
  .github/workflows/build_image.yml
  orchestration/dags/jobs/dbt/dbt_artifacts.py
  orchestration/k8s-airflow/Dockerfile.k8s-worker
  orchestration/k8s-airflow/k8s-worker-requirements.in
  orchestration/k8s-airflow/k8s-worker-requirements.txt
Due: format-fix, lint-fix

switch elementary path to python3.11
  orchestration/k8s-airflow/Dockerfile.k8s-worker
Due: none

fix dispatch workflow
  .github/workflows/on_dispatch__build_image.yml
Due: none

(DE) build(elementary): fix elementary executable path & workflow dispatch (#3994)
  .github/workflows/on_dispatch__build_image.yml
  orchestration/k8s-airflow/Dockerfile.k8s-worker
Due: none

update source geoloc query
  orchestration/dags/data_gcp_dbt/models/intermediate/geolocation/int_geo__institution_location.sql
Due: sqlfmt

format
  orchestration/dags/data_gcp_dbt/models/intermediate/geolocation/int_geo__institution_location.sql
Due: sqlfmt

set url as constant
  jobs/etl_jobs/internal/import_api_referentials/main.py
Due: format-fix, lint-fix

quickfix
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/educational_institution.sql
Due: sqlfmt

update dag
  orchestration/dags/jobs/import/import_api_referentials.py
Due: format-fix, lint-fix

update url
  jobs/etl_jobs/internal/import_api_referentials/main.py
Due: format-fix, lint-fix

(DE-1132) feat(referentials): fix import offer_types (#3992)
  jobs/etl_jobs/internal/import_api_referentials/data/music_types_deprecated_20250401.csv
  jobs/etl_jobs/internal/import_api_referentials/main.py
  orchestration/dags/jobs/import/import_api_referentials.py
Due: format-fix, lint-fix

(HF) fix(archive): reduce limit and increase schedule (#3989)
  jobs/etl_jobs/internal/bigquery_archive_partition/main.py
  orchestration/dags/jobs/crons.py
Due: format-fix, lint-fix

feat(dbt): Add documentation and schema for int_applicative__offer_item_id model
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/applicative/description__int_applicative__offer_item_id.md
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/_schema/int_applicative__offer_item_id.yml
  orchestration/dags/jobs/crons.py
Due: format-fix, lint-fix

feat: Introduce DPP class for sampling and update constants with new semantic embedding
  jobs/ml_jobs/ranking_endpoint/app/model.py
  jobs/ml_jobs/retrieval_vector/app/retrieval/constants.py
  jobs/ml_jobs/retrieval_vector/utils.py
Due: format-fix, lint-fix

(BSR) feat(import): remove import national program data (#3993)
  orchestration/dags/data_gcp_dbt/models/clean/applicative/national_program_offer_link_history.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/national_program_offer_template_link_history.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/national_program_offer_link_history.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/national_program_offer_template_link_history.sql
Due: sqlfmt

fix
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__educational_institution.sql
Due: sqlfmt

fix path
  orchestration/k8s-airflow/Dockerfile copy.k8s-worker
Due: none

(BSR) fix(snapshot): dependency forcing
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__offer.sql
Due: sqlfmt

(BSR) fix(snapshot): dependency forcing (#3995)
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__offer.sql
Due: sqlfmt

fix linter
  .pre-commit-config.yaml
Due: none

remove snapshot
  Makefile
Due: none

add missing guillemet
  .pre-commit-config.yaml
  Makefile
Due: none

(HF) fix(linter): remove snapshots folder (#3996)
  .pre-commit-config.yaml
  Makefile
Due: none

fix-propilote-query-incremental
  orchestration/dags/dependencies/propilote/sql/analytics/propilote_kpis.sql
  orchestration/dags/dependencies/propilote/sql/tmp/beneficiaires/propilote_tmp_beneficiaires.sql
  orchestration/dags/dependencies/propilote/sql/tmp/diversification/propilote_tmp_diversification.sql
  orchestration/dags/dependencies/propilote/sql/tmp/montant_24_mois/propilote_tmp_montant_24_mois.sql
  orchestration/dags/dependencies/propilote/sql/tmp/taux_couverture/propilote_tmp_couverture.sql
  orchestration/dags/dependencies/propilote/sql/tmp/taux_participation_eac_ecoles/propilote_tmp_participation_eac_ecoles.sql
  orchestration/dags/dependencies/propilote/sql/tmp/taux_participation_eac_jeunes/propilote_tmp_participation_eac_jeunes.sql
  orchestration/dags/dependencies/propilote/sql/tmp/taux_utilisation/propilote_tmp_utilisation.sql
Due: sqlfmt

fix linter
  orchestration/dags/dependencies/propilote/sql/tmp/taux_participation_eac_ecoles/propilote_tmp_participation_eac_ecoles.sql
  orchestration/dags/dependencies/propilote/sql/tmp/taux_participation_eac_jeunes/propilote_tmp_participation_eac_jeunes.sql
Due: sqlfmt

feat: Add dot product between user and item emb.
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__ranking_training_data.sql
Due: sqlfmt

feat: Add item_user similarity
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__ranking_training_data.sql
Due: sqlfmt

lint: lint sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__ranking_training_data.sql
Due: sqlfmt

(DE) build(airflow): switch back to mon stage build
  orchestration/k8s-airflow/Dockerfile.k8s-worker
Due: none

add mysqlclient's native build dependencies
  orchestration/k8s-airflow/Dockerfile.k8s-worker
  orchestration/k8s-airflow/k8s-worker-requirements.in
Due: none

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfmt: any of: \.sql$
