Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: python
  stages:
  - commit
  additional_dependencies:
  - ruff==0.5.7

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: python
  stages:
  - commit
  additional_dependencies:
  - ruff==0.5.7

sqlfmt:
  name: SQL Formatting (sqlfmt)
  entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
  ...

refactor: Update dep constraints for reduction
  jobs/ml_jobs/reduction/pyproject.toml
  jobs/ml_jobs/reduction/uv.lock
Due: none

refactor: Update dep constraints for playground_vm
  jobs/playground_vm/pyproject.toml
  jobs/playground_vm/uv.lock
Due: none

refactor: Update dep constraints for template microservices
  jobs/etl_jobs/_template/requirements.in
  jobs/ml_jobs/_template/requirements.in
Due: none

add manual rsync for compile result in bucket (#4452)
  orchestration/dags/jobs/dbt/dbt_run_dag.py
Due: format-fix, lint-fix

migrate /historization
  jobs/etl_jobs/internal/bigquery_archive_partition/archive.py
  jobs/etl_jobs/internal/bigquery_archive_partition/utils.py
  orchestration/dags/common/config.py
  orchestration/dags/jobs/administration/bigquery_archive_partition.py
  orchestration/dags/jobs/administration/bigquery_historize_applicative_database.py
Due: format-fix, lint-fix

refactor: Update thumb_path
  orchestration/dags/jobs/import/import_titelive.py
Due: format-fix, lint-fix

(DE-2475) refactor(pyproject.toml): Remove hardcoded deps in pyproject.toml (#4451)
  .gitignore
  README.md
  automations/export_requirements.py
  jobs/etl_jobs/_template/requirements.in
  jobs/etl_jobs/external/contentful/pyproject.toml
  jobs/etl_jobs/external/contentful/uv.lock
  jobs/etl_jobs/external/titelive/pyproject.toml
  jobs/etl_jobs/external/titelive/uv.lock
  jobs/etl_jobs/internal/sync_recommendation/pyproject.toml
  jobs/etl_jobs/internal/sync_recommendation/uv.lock
  jobs/ml_jobs/_template/requirements.in
  jobs/ml_jobs/algo_training/pyproject.toml
  jobs/ml_jobs/algo_training/two_towers_model/train.py
  jobs/ml_jobs/algo_training/uv.lock
  jobs/ml_jobs/artist_linkage/pyproject.toml
  jobs/ml_jobs/artist_linkage/uv.lock
  jobs/ml_jobs/clusterisation/pyproject.toml
  jobs/ml_jobs/clusterisation/uv.lock
  jobs/ml_jobs/embeddings/pyproject.toml
  jobs/ml_jobs/embeddings/uv.lock
  jobs/ml_jobs/item_linkage/pyproject.toml
  jobs/ml_jobs/item_linkage/pyproject_backup.toml
  jobs/ml_jobs/item_linkage/uv.lock
  jobs/ml_jobs/ranking_endpoint/app/pyproject.toml
  jobs/ml_jobs/ranking_endpoint/app/uv.lock
  jobs/ml_jobs/ranking_endpoint/pyproject.toml
  jobs/ml_jobs/ranking_endpoint/uv.lock
  jobs/ml_jobs/reduction/pyproject.toml
  jobs/ml_jobs/reduction/uv.lock
  jobs/playground_vm/pyproject.toml
  jobs/playground_vm/uv.lock
Due: format-fix, lint-fix

(DE-2269) ci(dbt): build changed models
  .github/workflows/reusable_dbt_workflow.yml
Due: none

test: add dummy field to test CI
  .github/workflows/reusable_dbt_workflow.yml
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__venue.sql
Due: sqlfmt

fix: exclude useless modifications
  .github/workflows/reusable_dbt_workflow.yml
Due: none

include incremental models
  .github/workflows/reusable_dbt_workflow.yml
Due: none

test: add dummy field to incremental model
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__marketing_pro_live_show_email_last_booking_40_days_ago.sql
Due: sqlfmt

test: modified tested model
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_item_id.sql
Due: sqlfmt

bump version
  orchestration/k8s-airflow/Dockerfile.k8s-worker
Due: none

update gg cli version for airflow workers
  orchestration/k8s-airflow/Dockerfile.k8s-worker
Due: none

refactor: Update thumb_path (#4453)
  orchestration/dags/jobs/import/import_titelive.py
Due: format-fix, lint-fix

refactor: Add upload_images parameter in import_titelive DAG
  orchestration/dags/jobs/import/import_titelive.py
Due: format-fix, lint-fix

test: modified macro dependent nodes +1 children
  .github/workflows/reusable_dbt_workflow.yml
Due: none

test: dummy modif macro
  orchestration/dags/data_gcp_dbt/macros/generate_export_tables.sql
Due: sqlfmt

(DA-4411) feat(dbt): Add backend offer_meta_data for offer video url (#4411)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offer.md
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_metadata.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offer_metadata.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer_metadata.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/offer_meta_data.sql
Due: sqlfmt

(DE) feat(dbt): create eac top models (#4439)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/metric/column__metric.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/collective/description__mrt_external_reporting__top_ac.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/collective/description__mrt_external_reporting__top_format.md
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/_schema/mrt_external_reporting__top_ac.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/_schema/mrt_external_reporting__top_format.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_ac.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_format.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_offer_category.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_venue.sql
Due: sqlfmt

(DE-2250) chore(artists): Remove unused artist tables (#4430)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/linkage/description__ml_linkage__artist_name_to_link.md
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/_schema/ml_linkage__artist_name_to_link.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__artist_name_to_link.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix, sqlfmt

HF-adage-add-scholar-year (#4446)
  jobs/etl_jobs/external/adage/scripts/import_adage.py
Due: format-fix, lint-fix

(BSR) fix(propilote): use domain.label in where condition for eac_domain model (#4437)
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_domain.sql
Due: sqlfmt

(DE) feat(dbt): Adapt external reporting collective models (#4442)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/individual/description__mrt_external_reporting__top_labeled_venue.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/individual/description__mrt_external_reporting__top_offer_label.md
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_coverage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_credit_usage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_domain.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_offer_booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/mrt_external_reporting__eac.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/mrt_external_reporting__beneficiary.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/mrt_external_reporting__cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/mrt_external_reporting__individual.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/_schema/mrt_external_reporting__top_labeled_venue.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/_schema/mrt_external_reporting__top_offer_label.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_labeled_venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_offer_category.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_offer_label.sql
Due: sqlfmt

(DE-2286) dbt(propilote): create one big table propilote eac kpis (#4435)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/collective/description__mrt_external_reporting__eac.md
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/mrt_external_reporting__eac.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/mrt_external_reporting__eac.yml
Due: sqlfmt

(HF) fix(raw): remove field in raw bank account (#4440)
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/bank_account.sql
Due: sqlfmt

fix eac cultural partner model (#4444)
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_cultural_partner.sql
Due: sqlfmt

(BSR) fix(dependabot): fix deepdiff critical alert (#4432)
  orchestration/airflow/orchestration-requirements.txt
  orchestration/k8s-airflow/k8s-worker-requirements.txt
  pyproject.toml
  uv.lock
Due: none

(BSR) fix(packages): Fix offer compliance deps (#4447)
  jobs/ml_jobs/offer_compliance/pyproject.toml
  jobs/ml_jobs/offer_compliance/uv.lock
Due: none

(DE-2420) refactor(packages): Refacto retrieval vector deps (#4445)
  jobs/ml_jobs/ranking_endpoint/deploy_to_docker_registery.sh
  jobs/ml_jobs/retrieval_vector/Dockerfile
  jobs/ml_jobs/retrieval_vector/build_and_push_docker_image.py
  jobs/ml_jobs/retrieval_vector/deploy_to_docker_registery.sh
  jobs/ml_jobs/retrieval_vector/pyproject.toml
  jobs/ml_jobs/retrieval_vector/utils.py
  jobs/ml_jobs/retrieval_vector/uv.lock
Due: format-fix, lint-fix

test: config change
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__marketing_pro_email_last_booking_40_days_ago.sql
Due: sqlfmt

Revert "refactor: Update thumb_path (#4453)"
  orchestration/dags/jobs/import/import_titelive.py
Due: format-fix, lint-fix

add raw applicative model
  orchestration/dags/data_gcp_dbt/models/raw/applicative/raw_applicative__fraudulent_booking_tag.sql
Due: sqlfmt

Revert "migrate /historization"
  jobs/etl_jobs/internal/bigquery_archive_partition/archive.py
  jobs/etl_jobs/internal/bigquery_archive_partition/utils.py
  orchestration/dags/common/config.py
  orchestration/dags/jobs/administration/bigquery_archive_partition.py
  orchestration/dags/jobs/administration/bigquery_historize_applicative_database.py
Due: format-fix, lint-fix

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfmt: any of: \.sql$
