Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
# Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
# Add new hook types here to ensure automatic installation when running `pre-commit install`
- pre-commit
- pre-push
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-json
  - id: check-added-large-files

- repo: local
  hooks:
  - id: format-fix
    name: Formatting (ruff)
    entry: ruff format
    language: system
    types: [python]
    stages: [commit]
  - id: lint-fix
    name: Linting (ruff)
    entry: ruff check --fix
    language: system
    types: [python]
    stages: [commit]
  - id: sqlfmt
    name: SQL Formatting (sqlfmt)
    entry: make sqlfmt
    stages: [commit]
    language: system
    types: [sql]
  # - id: sqlfluff-lint-check
  #   name: Lint check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_lint.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-format-check
  #   name: format check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_format.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-fix
  #   name: fix (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_fix.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]

(DS) refactor(dockerfile): refactor dockerfile that launches airflow locally to suit proxy by using build targets (#3714)
  orchestration/README.md
  orchestration/airflow/Dockerfile
  orchestration/airflow/Dockerfile.netskope
  orchestration/docker-compose.yaml
Due: none

update .sqlfluff (#3696)
  .sqlfluff
Due: none

WIP
  jobs/ml_jobs/item_linkage/prepare_tables.py
  orchestration/dags/jobs/ml/link_items_updated.py
Due: format-fix, lint-fix

WIP
  jobs/ml_jobs/item_linkage/model/semantic_space.py
Due: format-fix, lint-fix

(BSR) docs(ci): remove doc conditions in Notion
  .github/PULL_REQUEST_TEMPLATE/DA_ticket_template.md
  .github/PULL_REQUEST_TEMPLATE/DE_ticket_template.md
  .github/PULL_REQUEST_TEMPLATE/DS_ticket_template.md
Due: none

WIP
  jobs/ml_jobs/item_linkage/build_semantic_space.py
Due: format-fix, lint-fix

WIP
  orchestration/dags/dependencies/ml/linkage/sql/linkage_item_candidates_data.sql
Due: sqlfmt

(DA-3872) feat(Analytics): Add acquisition_campaign model (#3669)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/appsflyer/column__appsflyer.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/appsflyer/description__int_appsflyer__daily_install_attribution.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/appsflyer/description__int_appsflyer__daily_install_cost.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/marketing/description__mrt_marketing__daily_install_acquisition_campaign.md
  orchestration/dags/data_gcp_dbt/models/intermediate/appsflyer/_schema/int_appsflyer__daily_install_attribution.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/appsflyer/_schema/int_appsflyer__daily_install_cost.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/appsflyer/int_appsflyer__daily_install_attribution.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/appsflyer/int_appsflyer__daily_install_cost.sql
  orchestration/dags/data_gcp_dbt/models/mart/marketing/_schema/mrt_marketing__daily_install_acquisition_campaign.yml
  orchestration/dags/data_gcp_dbt/models/mart/marketing/mrt_marketing__daily_install_acquisition_campaign.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: sqlfmt

(BSR) feat(clickhouse): compress native_event (#3720)
  jobs/etl_jobs/internal/export_clickhouse/schema/intermediate/native_event.sql
Due: sqlfmt

(BSR) docs(ci): remove doc conditions in Notion (#3721)
  .github/PULL_REQUEST_TEMPLATE/DA_ticket_template.md
  .github/PULL_REQUEST_TEMPLATE/DE_ticket_template.md
  .github/PULL_REQUEST_TEMPLATE/DS_ticket_template.md
Due: none

(BSR) refactor(clean): remove import batch 1 (#3684)
  orchestration/dags/data_gcp_dbt/models/clean/applicative/deposit.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/educational_deposit.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/favorite.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/stock.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/user.sql
Due: sqlfmt

(BSR) refactor(cardinality): set cardinality test on int_global_booking
  orchestration/dags/data_gcp_dbt/models/intermediate/global/_schema/int_global_booking.yaml
  orchestration/dags/data_gcp_dbt/models/intermediate/global/properties.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__booking.yml
Due: none

fix format yaml
  orchestration/dags/data_gcp_dbt/models/intermediate/global/_schema/int_global__booking.yaml
Due: none

(BSR) refactor(cardinality): set cardinality test on int_global_booking (#3723)
  orchestration/dags/data_gcp_dbt/models/intermediate/global/_schema/int_global__booking.yaml
  orchestration/dags/data_gcp_dbt/models/intermediate/global/properties.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__booking.yml
Due: none

WIP
  jobs/ml_jobs/item_linkage/utils/common.py
  orchestration/dags/jobs/ml/link_items_updated.py
Due: format-fix, lint-fix

WIP
  jobs/ml_jobs/item_linkage/evaluate.py
  orchestration/dags/jobs/ml/link_items_updated.py
Due: format-fix, lint-fix

WIP
  jobs/ml_jobs/item_linkage/evaluate.py
Due: format-fix, lint-fix

fix: Add poetry export plugin in import_api_referentials
  jobs/etl_jobs/internal/import_api_referentials/requirements.in
  jobs/etl_jobs/internal/import_api_referentials/requirements.txt
Due: none

fix: Add poetry export plugin in import_api_referentials (#3725)
  jobs/etl_jobs/internal/import_api_referentials/requirements.in
  jobs/etl_jobs/internal/import_api_referentials/requirements.txt
Due: none

(DE-986) feat(brevo): separate pro and native api keys
  jobs/etl_jobs/external/brevo/main.py
  orchestration/dags/dependencies/sendinblue/sql/analytics/sendinblue_newsletters_performance.sql
  orchestration/dags/jobs/import/import_sendinblue.py
Due: format-fix, lint-fix, sqlfmt

WIP
  jobs/ml_jobs/item_linkage/link_items.py
Due: format-fix, lint-fix

make ruff_fix
  orchestration/dags/jobs/import/import_sendinblue.py
Due: format-fix, lint-fix

deploy: c9b514eddd92f0f56ec6eda91d50755a964aa7ab
  __pycache__/hooks.cpython-310.pyc
  sitemap.xml
  sitemap.xml.gz
Due: none

(BSR) fix(addresses): remove condition to prioritize new users
  jobs/etl_jobs/external/addresses/scripts/fetch_user_location.py
Due: format-fix, lint-fix

(BSR) fix(addresses): remove condition to prioritize new users (#3727)
  jobs/etl_jobs/external/addresses/scripts/fetch_user_location.py
Due: format-fix, lint-fix

(DE-986) feat(brevo): separate pro and native api keys (#3726)
  jobs/etl_jobs/external/brevo/main.py
  orchestration/dags/dependencies/sendinblue/sql/analytics/sendinblue_newsletters_performance.sql
  orchestration/dags/jobs/import/import_sendinblue.py
Due: format-fix, lint-fix, sqlfmt

(BSR) feat(vm): add base_dir parameter to launch vm dag to facilitate dev
  orchestration/dags/launch_vm.py
Due: format-fix, lint-fix

BSR: remove uv installer
  orchestration/dags/common/operators/gce.py
  orchestration/dags/jobs/administration/metabase_dbt.py
  orchestration/dags/launch_vm.py
Due: format-fix, lint-fix

test2
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__artist.sql
Due: sqlfmt

fix mistake
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__venue.sql
Due: sqlfmt

(BSR) refactor(install): clean non uv legacy, add base dir option to launch_vm (#3728)
  orchestration/dags/common/operators/gce.py
  orchestration/dags/jobs/administration/metabase_dbt.py
  orchestration/dags/launch_vm.py
Due: format-fix, lint-fix

base class and workflow
  jobs/etl_jobs/external/export_deps/export_logs.py
  jobs/etl_jobs/external/export_deps/key_management.py
  jobs/etl_jobs/external/export_deps/main.py
  jobs/etl_jobs/external/export_deps/notebook.ipynb
  jobs/etl_jobs/external/export_deps/requirements.in
  jobs/etl_jobs/external/export_deps/requirements.txt
  jobs/etl_jobs/external/export_deps/transfer.py
Due: format-fix, lint-fix

WIPPP: Add airflow_monitoring_v2
  orchestration/dags/airflow_monitorng_v2.py
Due: format-fix, lint-fix

WIPP: v2
  orchestration/dags/airflow_monitorng_v2.py
Due: format-fix, lint-fix

WIP: filter current dag id
  orchestration/dags/airflow_monitorng_v2.py
Due: format-fix, lint-fix

fix doc
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__venue.yml
Due: none

fix doc 2
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__venue.md
Due: none
