Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: system
  stages:
  - commit

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: system
  stages:
  - commit

sqlfmt:
  name: SQL Formatting (sqlfmt)
  entry: make sqlfmt
  stages:
  - commit
  language: system

feat: Update user_statistics
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__user_statistics.sql
Due: sqlfmt

dummmy commit to test ci
  orchestration/dags/data_gcp_dbt/models/intermediate/gcp/int_gcp__bigquery_cost.sql
Due: sqlfmt

deploy: da5168bb73a88d3e961a10452e88f691294c1982
  __pycache__/hooks.cpython-310.pyc
  sitemap.xml
  sitemap.xml.gz
Due: none

(DE-1279) feat(dbt): Update diversification booking dependancies (#4029)
  orchestration/dags/data_gcp_dbt/models/analytics/aggregated_weekly_user_data.sql
  orchestration/dags/data_gcp_dbt/models/analytics/firebase/firebase_aggregated_daily_campaign_events.sql
  orchestration/dags/data_gcp_dbt/models/analytics/firebase/firebase_aggregated_search_events.sql
  orchestration/dags/data_gcp_dbt/models/analytics/firebase_aggregated_similar_offer_events.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__ranking_endpoint_training.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_home_module_conversion.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_venue_map_conversion.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__outgoing_cohort.sql
Due: sqlfmt

fix doc native_daily_home_offer_displayed
  orchestration/dags/data_gcp_dbt/models/mart/native/_schema/mrt_native__daily_home_offer_displayed.yml
Due: none

sqlfluff
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__cultural_partner.sql
Due: sqlfmt

format
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_home_offer_displayed.sql
Due: sqlfmt

last fix
  orchestration/dags/data_gcp_dbt/models/mart/native/_schema/mrt_native__daily_home_offer_displayed.yml
Due: none

format
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__cultural_partner.sql
Due: sqlfmt

fix ci
  orchestration/dags/data_gcp_dbt/models/mart/native/_schema/mrt_native__daily_home_offer_displayed.yml
Due: none

sqlfluff
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/aggregated_daily_offer_consultation_data.sql
  orchestration/dags/data_gcp_dbt/models/export/ministry/exp_ministry__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offer.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__venue.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__favorite.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__consultation.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_home_offer_displayed.sql
Due: sqlfmt

update dependancies to offerer_id field
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/aggregated_daily_offer_consultation_data.sql
  orchestration/dags/data_gcp_dbt/models/export/ministry/exp_ministry__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offer.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__venue.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__favorite.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__consultation.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_home_offer_displayed.sql
Due: sqlfmt

update dependancies
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/enriched_suivi_dms_adage.sql
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__marketing_pro_live_show_email_churned_40_days_ago.sql
  orchestration/dags/data_gcp_dbt/models/export/ministry/_schema/exp_ministry__venue.yml
  orchestration/dags/data_gcp_dbt/models/export/ministry/exp_ministry__venue.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__collective_offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/brevo/mrt_brevo__retention_pro.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__venue_tag.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__venue_tag.sql
Due: sqlfmt

update dependancies
  orchestration/dags/data_gcp_dbt/models/mart/brevo/mrt_brevo__retention_pro.sql
Due: sqlfmt

(BSR) fix(brevo): fix unset variables
  jobs/etl_jobs/external/brevo/brevo_transactional.py
Due: format-fix, lint-fix

update dependancies
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__marketing_pro_live_show_email_last_booking_40_days_ago.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__cultural_partner.sql
Due: sqlfmt

(BSR) fix(brevo): fix unset variables (#4048)
  jobs/etl_jobs/external/brevo/brevo_transactional.py
Due: format-fix, lint-fix

update not dbt dependancies
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/enriched_partner_retention_data.sql
  orchestration/dags/data_gcp_dbt/models/analytics/offer_moderation.sql
  orchestration/dags/data_gcp_dbt/models/analytics/venue_siren_offers.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__stock.sql
  orchestration/dags/data_gcp_dbt/models/mart/pro/mrt_pro__event.sql
Due: sqlfmt

format
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/enriched_partner_retention_data.sql
  orchestration/dags/data_gcp_dbt/models/analytics/offer_moderation.sql
  orchestration/dags/data_gcp_dbt/models/mart/pro/mrt_pro__event.sql
Due: sqlfmt

add missing doc to changed models
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/metric/column__metric.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/native/description__mrt_native__daily_home_module_conversion.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/native/description__mrt_native__daily_venue_map_conversion.md
  orchestration/dags/data_gcp_dbt/models/mart/native/_schema/mrt_native__daily_home_module_conversion.yml
  orchestration/dags/data_gcp_dbt/models/mart/native/_schema/mrt_native__daily_venue_map_conversion.yml
Due: none

fix
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/metric/column__metric.md
Due: none

fmt
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/metric/column__metric.md
Due: none

total diversification metric
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/metric/column__metric.md
Due: none

(BSR) feat(archive): increase limit rate for archiving
  orchestration/dags/jobs/administration/bigquery_archive_partition.py
  orchestration/dags/jobs/crons.py
Due: format-fix, lint-fix

last fix doc
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offer.md
Due: none

fix: Use fillna to set default values properly
  jobs/ml_jobs/retrieval_vector/utils.py
Due: format-fix, lint-fix

fix: Use fillna to set default values properly in retrieval vector ms (#4050)
  jobs/ml_jobs/retrieval_vector/utils.py
Due: format-fix, lint-fix

feat: add new tables for archiving
  jobs/etl_jobs/internal/bigquery_archive_partition/archive.py
  jobs/etl_jobs/internal/bigquery_archive_partition/main.py
  orchestration/dags/jobs/administration/bigquery_archive_partition.py
Due: format-fix, lint-fix

(BSR) fix(linkage): cast candidate id as string
  orchestration/dags/dependencies/ml/linkage/sql/build_mapping.sql
Due: sqlfmt

handle NaN
  jobs/ml_jobs/item_linkage/evaluate.py
  orchestration/dags/dependencies/ml/linkage/sql/build_mapping.sql
Due: format-fix, lint-fix, sqlfmt

fix: Fix num_batches computation
  jobs/ml_jobs/retrieval_vector/utils.py
Due: format-fix, lint-fix

(BSR) fix(retrieval vector): Fix num_batches computation (#4053)
  jobs/ml_jobs/retrieval_vector/utils.py
Due: format-fix, lint-fix

fix: Correct result formatting and add logging for retrieval results
  jobs/ml_jobs/retrieval_vector/app/retrieval/client.py
Due: format-fix, lint-fix

feat: Add mrt_native__daily_home_module_conversion.yml
  orchestration/dags/data_gcp_dbt/models/mart/native/_schema/mrt_native__daily_home_module_conversion.yml
Due: none

feat: Add mrt_native__daily_venue_map_conversion.yml
  orchestration/dags/data_gcp_dbt/models/mart/native/_schema/mrt_native__daily_venue_map_conversion.yml
Due: none

(DE) fix(elementary): hotfix elementary-report script for airflow k8s
  orchestration/dags/data_gcp_dbt/scripts/elementary_send_report.sh
  orchestration/dags/data_gcp_dbt/scripts/elementary_send_report_k8s.sh
  orchestration/dags/jobs/dbt/dbt_artifacts.py
Due: format-fix, lint-fix

(DE) feat(airflow): assign dbt tasks to private pool
  orchestration/dags/common/dbt/utils.py
  orchestration/dags/common/utils.py
  orchestration/dags/jobs/dbt/dbt_dag_run.py
Due: format-fix, lint-fix

(DE) fix(elementary): hotfix elementary-report script for airflow k8s (#4055)
  orchestration/dags/data_gcp_dbt/scripts/elementary_send_report.sh
  orchestration/dags/data_gcp_dbt/scripts/elementary_send_report_k8s.sh
  orchestration/dags/jobs/dbt/dbt_artifacts.py
Due: format-fix, lint-fix

(DE) feat(ean): remove jsonData ean (#4020)
  orchestration/dags/data_gcp_dbt/models/raw/applicative/raw_applicative__offer_lite.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/product.sql
Due: sqlfmt

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfmt: any of: \.sql$
