Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: system
  stages:
  - commit

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: system
  stages:
  - commit

sqlfmt:
  name: SQL Formatting (sqlfmt)
  entry: make sqlfmt
  stages:
  - commit
  language: system

deploy: ef1a7196fcd41398434ccc7816bd5462e5fc6644
  __pycache__/hooks.cpython-310.pyc
  dbt/glossary/applicative_database/column__venue/index.html
  dbt/models/mart/global/description__mrt_global__venue/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

(DA-3872) feat(Analytics): Fix acquisition_campaign model (#3741)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/appsflyer/column__appsflyer.md
  orchestration/dags/data_gcp_dbt/models/intermediate/appsflyer/_schema/int_appsflyer__daily_install_attribution.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/appsflyer/_schema/int_appsflyer__daily_install_cost.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/appsflyer/int_appsflyer__daily_install_attribution.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/appsflyer/int_appsflyer__daily_install_cost.sql
  orchestration/dags/data_gcp_dbt/models/mart/marketing/mrt_marketing__daily_install_acquisition_campaign.sql
Due: sqlfmt

changed StopGCEOperator to DeleteGCEOPerator and created a StopGCEOperator which only stops the VM
  orchestration/dags/common/operators/gce.py
  orchestration/dags/jobs/administration/bigquery_alerts.py
  orchestration/dags/jobs/administration/metabase_dbt.py
  orchestration/dags/jobs/administration/metabase_governance.py
  orchestration/dags/jobs/administration/metabase_transition.py
  orchestration/dags/jobs/export/export_clickhouse.py
  orchestration/dags/jobs/export/export_posthog.py
  orchestration/dags/jobs/import/import_adage.py
  orchestration/dags/jobs/import/import_addresses.py
  orchestration/dags/jobs/import/import_api_referentials.py
  orchestration/dags/jobs/import/import_appsflyer.py
  orchestration/dags/jobs/import/import_batch.py
  orchestration/dags/jobs/import/import_contentful.py
  orchestration/dags/jobs/import/import_dms_subscriptions.py
  orchestration/dags/jobs/import/import_downloads.py
  orchestration/dags/jobs/import/import_gcs_seed.py
  orchestration/dags/jobs/import/import_gsheet.py
  orchestration/dags/jobs/import/import_qualtrics.py
  orchestration/dags/jobs/import/import_sendinblue.py
  orchestration/dags/jobs/import/import_sendinblue_historical.py
  orchestration/dags/jobs/import/import_siren.py
  orchestration/dags/jobs/import/import_social_media.py
  orchestration/dags/jobs/import/import_zendesk.py
  orchestration/dags/jobs/ml/algo_custom_deployment.py
  orchestration/dags/jobs/ml/algo_default_deployment.py
  orchestration/dags/jobs/ml/algo_training_offer_categorization.py
  orchestration/dags/jobs/ml/algo_training_offer_compliance_model.py
  orchestration/dags/jobs/ml/algo_training_two_towers.py
  orchestration/dags/jobs/ml/artist_linkage.py
  orchestration/dags/jobs/ml/artist_wikidata_dump.py
  orchestration/dags/jobs/ml/embedding_clusterisation_item.py
  orchestration/dags/jobs/ml/embedding_extraction_item.py
  orchestration/dags/jobs/ml/embedding_reduction_item.py
  orchestration/dags/jobs/ml/link_items.py
  orchestration/dags/jobs/ml/link_offers.py
  orchestration/dags/jobs/ml/ranking_endpoint_build.py
  orchestration/dags/jobs/ml/retrieval_vector_build.py
  orchestration/dags/jobs/ml/retrieval_vector_semantic_build.py
  orchestration/dags/launch_vm_test.py
Due: format-fix, lint-fix

update dependancies
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offerer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offerer.sql
Due: sqlfmt

update venue tables dependancies
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__venue.sql
Due: sqlfmt

Create int_firebase__pro_experiment
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/firebase/description__int_firebase__pro_experiment.md
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/pro/int_firebase__pro_experiment.sql
Due: sqlfmt

fix description
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/firebase/description__int_firebase__pro_experiment.md
Due: none

removed test file from branch
  orchestration/dags/launch_vm_test.py
Due: format-fix, lint-fix

fix
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/pro/int_firebase__pro_experiment.sql
Due: sqlfmt

modified log message to a more explicit one
  orchestration/dags/common/hooks/gce.py
Due: format-fix, lint-fix

(DE) build(airflow): bake dbt scripts in image
  orchestration/dags/common/config.py
  orchestration/dags/common/dbt/utils.py
  orchestration/dags/jobs/dbt/dbt_artifacts.py
  orchestration/dags/jobs/dbt/dbt_dag_run.py
  orchestration/dags/jobs/dbt/dbt_monthly_tables.py
  orchestration/dags/jobs/dbt/dbt_weekly_tables.py
  orchestration/k8s-airflow/Dockerfile.k8s-worker
Due: format-fix, lint-fix

(DE) build(airflow): CD inculde changed shell scripts in image builing condition
  .github/workflows/on_cd__workflow.yml
Due: none

(DE) ci(build): add image build to workflow dispatch
  .github/workflows/on_cd__workflow.yml
Due: none

(DE) ci(build): add image build to workflow dispatch (#3750)
  .github/workflows/on_cd__workflow.yml
Due: none

feat: Set clipnorm to 1 to reduce gradients
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

put uv version in config file
  orchestration/dags/common/config.py
  orchestration/dags/common/operators/gce.py
Due: format-fix, lint-fix

feat: Use batch norm to try to reduce batch loss oscilation
  jobs/ml_jobs/algo_training/two_towers_model/models/two_towers_model.py
Due: format-fix, lint-fix

Add "PRO - " to newsletter pro campaign names
  orchestration/dags/dependencies/sendinblue/sql/analytics/sendinblue_newsletters_performance.sql
Due: sqlfmt

review: os path join
  orchestration/dags/common/dbt/utils.py
  orchestration/dags/jobs/dbt/dbt_artifacts.py
  orchestration/dags/jobs/dbt/dbt_dag_run.py
  orchestration/dags/jobs/dbt/dbt_monthly_tables.py
  orchestration/dags/jobs/dbt/dbt_weekly_tables.py
Due: format-fix, lint-fix

dockerfile typo
  orchestration/k8s-airflow/Dockerfile.k8s-worker
Due: none

put installs table in sources and referenced table from source in model
  orchestration/dags/data_gcp_dbt/models/intermediate/appsflyer/int_appsflyer__daily_install_cost.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: sqlfmt

docker image context change for file copy
  .github/workflows/reusable_build_image.yml
  orchestration/k8s-airflow/Dockerfile.k8s-worker
Due: none

feat: Set 5 epochs per shuffle properly
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

feat: User exp decay
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

put installs table in sources and referenced table from source in model (#3752)
  orchestration/dags/data_gcp_dbt/models/intermediate/appsflyer/int_appsflyer__daily_install_cost.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: sqlfmt

feat: Increase decay step
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

feat: Decrease decay_rate
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

update snapshots dependancies to applicative tables
  orchestration/dags/data_gcp_dbt/snapshots/intermediate/global/snasphot_intermediate__bookable_collective_offer.sql
  orchestration/dags/data_gcp_dbt/snapshots/intermediate/global/snasphot_intermediate__bookable_offer.sql
Due: sqlfmt

fix
  orchestration/dags/data_gcp_dbt/models/analytics/history/bookable_venue_history.sql
Due: sqlfmt

feat: Use step_decay
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

feat: Really small lr
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

refactored main of import adage for robustness and clarity
  jobs/etl_jobs/external/adage/main.py
Due: format-fix, lint-fix

fix
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offerer.sql
Due: sqlfmt

Flag pro/native in the import from api
  jobs/etl_jobs/external/brevo/main.py
  jobs/etl_jobs/external/brevo/utils.py
  orchestration/dags/data_gcp_dbt/models/intermediate/brevo/int_brevo__transactional_native.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/brevo/int_brevo__transactional_pro.sql
  orchestration/dags/dependencies/sendinblue/sql/analytics/sendinblue_newsletters_performance.sql
  orchestration/dags/dependencies/sendinblue/sql/raw/sendinblue_transactional.sql
Due: format-fix, lint-fix, sqlfmt

formatting sql
  orchestration/dags/data_gcp_dbt/models/intermediate/brevo/int_brevo__transactional_native.sql
Due: sqlfmt

fix
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__venue.sql
Due: sqlfmt

fix
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__venue.sql
Due: sqlfmt

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfmt: any of: \.sql$
