Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
  # Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
  # Add new hook types here to ensure automatic installation when running `pre-commit install`
  - pre-commit
  - pre-push
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: format-fix
        name: Formatting (ruff)
        entry: ruff format
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: lint-fix
        name: Linting (ruff)
        entry: ruff check --fix
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: sqlfmt
        name: SQL Formatting (sqlfmt)
        entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
        stages: [push]
        language: python
        additional_dependencies: ["shandy-sqlfmt[jinjafmt]==0.23.2"]
        types: [sql]
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.3.0
    hooks:
      - id: sqlfluff-fix
        additional_dependencies:
          ["dbt-bigquery==1.8.1", "sqlfluff-templater-dbt"]
        stages: [commit]
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.0
    hooks:
    - id: markdownlint-cli2
      language_version: 24.0.0
      args:
        - --fix

fix: training config update
  jobs/ml_jobs/graph_recommendation/src/embedding_builder.py
Due: format-fix, lint-fix

quickfix
  orchestration/dags/jobs/ml/poc/algo_training_graph_embeddings_grid_search_poc.py
Due: format-fix, lint-fix

quickfix
  jobs/ml_jobs/graph_recommendation/src/embedding_builder.py
Due: format-fix, lint-fix

fix: points default config
  jobs/ml_jobs/graph_recommendation/src/constants.py
  jobs/ml_jobs/graph_recommendation/src/utils/mlflow.py
  orchestration/dags/jobs/ml/poc/algo_training_graph_embeddings_grid_search_poc.py
Due: format-fix, lint-fix

fix: mlfow refresh token
  jobs/ml_jobs/graph_recommendation/scripts/cli.py
  jobs/ml_jobs/graph_recommendation/src/embedding_builder.py
  jobs/ml_jobs/graph_recommendation/src/utils/mlflow.py
Due: format-fix, lint-fix

refactor: Rename default*config in *config
  jobs/ml_jobs/graph_recommendation/scripts/cli.py
  jobs/ml_jobs/graph_recommendation/src/constants.py
  jobs/ml_jobs/graph_recommendation/src/embedding_builder.py
  jobs/ml_jobs/graph_recommendation/src/evaluation.py
  jobs/ml_jobs/graph_recommendation/tests/embedding_builder_test.py
  jobs/ml_jobs/graph_recommendation/tests/evaluation_test.py
Due: format-fix, lint-fix

refactor: Refacto config
  jobs/ml_jobs/graph_recommendation/src/config.py
  jobs/ml_jobs/graph_recommendation/src/constants.py
  jobs/ml_jobs/graph_recommendation/src/embedding_builder.py
Due: format-fix, lint-fix

refactor: Refacto embedding_training
  jobs/ml_jobs/graph_recommendation/scripts/cli.py
  jobs/ml_jobs/graph_recommendation/src/config.py
  jobs/ml_jobs/graph_recommendation/src/embedding_builder.py
  jobs/ml_jobs/graph_recommendation/src/evaluation.py
Due: format-fix, lint-fix

refactor: Refacto evaluation
  jobs/ml_jobs/graph_recommendation/scripts/cli.py
  jobs/ml_jobs/graph_recommendation/src/evaluation.py
  jobs/ml_jobs/graph_recommendation/src/utils/retrieval.py
  jobs/ml_jobs/graph_recommendation/tests/evaluation_test.py
Due: format-fix, lint-fix

revers sqlfluff ignore
  .sqlfluffignore
Due: none

test: Fix tests
  jobs/ml_jobs/graph_recommendation/src/config.py
  jobs/ml_jobs/graph_recommendation/tests/embedding_builder_test.py
  jobs/ml_jobs/graph_recommendation/tests/evaluation_test.py
Due: format-fix, lint-fix

fix: Add walk_length as property
  jobs/ml_jobs/graph_recommendation/src/config.py
Due: format-fix, lint-fix

add dependency with raw applicative
  orchestration/dags/jobs/import/import_titelive.py
Due: format-fix, lint-fix

(DE-2740) feat(orchestration): add dependency between titelive and dbt (#4552)
  orchestration/dags/common/dbt/dag_utils.py
  orchestration/dags/data_gcp_dbt/macros/database_utils/custom_snapshot_config.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__titelive_products.sql
  orchestration/dags/jobs/import/import_titelive.py
Due: format-fix, lint-fix, sqlfmt

make download images deferrable for init
  orchestration/dags/jobs/import/import_titelive.py
Due: format-fix, lint-fix

fix after review
  orchestration/dags/jobs/import/import_titelive.py
Due: format-fix, lint-fix

add trigger rule + cron
  orchestration/dags/jobs/crons.py
  orchestration/dags/jobs/import/import_titelive.py
Due: format-fix, lint-fix

add no_image logic
  jobs/etl_jobs/external/titelive/src/scripts/download_images.py
  jobs/etl_jobs/external/titelive/tests/integration/scripts/test_download_images.py
Due: format-fix, lint-fix

adjust tasks dependencies
  orchestration/dags/jobs/import/import_titelive.py
Due: format-fix, lint-fix

fix error
  jobs/etl_jobs/external/gsheet/gsheet.py
Due: format-fix, lint-fix

fix dbt syntax
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/export/backend/description__exp_product_delta.md
  orchestration/dags/data_gcp_dbt/models/export/backend/_schema/exp_backend__product_delta.yml
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__product_delta.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: sqlfmt

(DA-2618) feat(dbt): update studentheadcount 2025-2026 sept-dec (#4543)
  jobs/etl_jobs/external/gsheet/gsheet.py
Due: format-fix, lint-fix

remove extension from image
  jobs/etl_jobs/external/titelive/src/scripts/download_images.py
  jobs/etl_jobs/external/titelive/tests/integration/scripts/test_download_images.py
Due: format-fix, lint-fix

cast columns as int instead of floats
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
Due: format-fix, lint-fix

refactor: Update double brackets in check_dbt_changes.sh
  .github/workflows/scripts/check_dbt_changes.sh
Due: none

refactor: Update double brackets in check_find_tests.sh
  .github/workflows/scripts/find_tests.sh
Due: none

refactor: Update double brackets in dbt_batch_backfill.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_batch_backfill.sh
Due: none

refactor: Update double brackets in dbt_whereis.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_whereis.sh
Due: none

(HF) perf(titelive): make download images deferrable for init (#4566)
  jobs/etl_jobs/external/titelive/src/scripts/download_images.py
  jobs/etl_jobs/external/titelive/tests/integration/scripts/test_download_images.py
  orchestration/dags/jobs/crons.py
  orchestration/dags/jobs/import/import_titelive.py
Due: format-fix, lint-fix

(BSR) fix(sonarqube): fix SonarQube errors
  jobs/etl_jobs/external/appsflyer/api_import.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/layers.py
  orchestration/dags/data_gcp_dbt/scripts/sqlfluff_lint.sh
  orchestration/dags/jobs/export/export_propilote.py
  orchestration/dags/jobs/import/import_appsflyer.py
Due: format-fix, lint-fix

double brackets dbtwhereis
  orchestration/dags/data_gcp_dbt/scripts/dbt_whereis.sh
Due: none

(BSR) refactor(5S): Refactor bash brackets (#4577)
  .github/workflows/scripts/check_dbt_changes.sh
  .github/workflows/scripts/find_tests.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_batch_backfill.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_whereis.sh
Due: none

cast columns as int instead of floats (#4578)
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
Due: format-fix, lint-fix

(BSR) fix(sonarqube): fix SonarQube errors (#4576)
  jobs/etl_jobs/external/appsflyer/api_import.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/layers.py
  orchestration/dags/data_gcp_dbt/scripts/sqlfluff_lint.sh
  orchestration/dags/jobs/export/export_propilote.py
  orchestration/dags/jobs/import/import_appsflyer.py
Due: format-fix, lint-fix

test: fix tests
  jobs/ml_jobs/graph_recommendation/src/embedding_builder.py
  jobs/ml_jobs/graph_recommendation/tests/embedding_builder_test.py
Due: format-fix, lint-fix

modify decide_execution_mode
  orchestration/dags/jobs/import/import_titelive.py
Due: format-fix, lint-fix

refactor: Remove load_metadata table
  jobs/ml_jobs/graph_recommendation/src/evaluation.py
  jobs/ml_jobs/graph_recommendation/src/utils/retrieval.py
Due: format-fix, lint-fix

fix branching
  orchestration/dags/jobs/import/import_titelive.py
Due: format-fix, lint-fix
