Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
# Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
# Add new hook types here to ensure automatic installation when running `pre-commit install`
- pre-commit
- pre-push
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-json
  - id: check-added-large-files

- repo: local
  hooks:
  - id: format-fix
    name: Formatting (ruff)
    entry: ruff format
    language: system
    types: [python]
    stages: [commit]
  - id: lint-fix
    name: Linting (ruff)
    entry: ruff check --fix
    language: system
    types: [python]
    stages: [commit]
  - id: sqlfmt
    name: SQL Formatting (sqlfmt)
    entry: make sqlfmt
    stages: [commit]
    language: system
    types: [sql]
  # - id: sqlfluff-lint-check
  #   name: Lint check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_lint.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-format-check
  #   name: format check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_format.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-fix
  #   name: fix (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_fix.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]

(DE-1374) feat(dbt): Add region field to social network models (#3913)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/social_network/column__publication.md
  orchestration/dags/data_gcp_dbt/models/intermediate/instagram/int_instagram__publication_detail.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/instagram/int_instagram_publication_detail.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/tiktok/int_tiktok__publication_detail.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/tiktok/int_tiktok__publication_detail.yml
  orchestration/dags/data_gcp_dbt/models/mart/marketing/_schema/mrt_marketing__social_network_publication.yml
  orchestration/dags/data_gcp_dbt/models/mart/marketing/mrt_marketing__social_network_publication.sql
Due: sqlfmt

add new fields
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/appsflyer/column__appsflyer.md
  orchestration/dags/data_gcp_dbt/models/intermediate/appsflyer/_schema/int_appsflyer__daily_install_attribution.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/appsflyer/int_appsflyer__daily_install_attribution.sql
  orchestration/dags/data_gcp_dbt/models/mart/marketing/_schema/mrt_marketing__daily_install_acquisition_campaign.yml
  orchestration/dags/data_gcp_dbt/models/mart/marketing/mrt_marketing__daily_install_acquisition_campaign.sql
Due: sqlfmt

deploy: 6fa3cf7dbcac19b3a27117968b2893c95a352718
  __pycache__/hooks.cpython-310.pyc
  dbt/glossary/social_network/column__publication/index.html
  dbt/models/intermediate/instagram/description__int_instagram__publication_detail/index.html
  dbt/models/intermediate/tiktok/description__int_tiktok__publication_detail/index.html
  dbt/models/mart/marketing/description__mrt_marketing__social_network_publication/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

feat: Add weekly tag on queries while we are tuning it
  orchestration/dags/data_gcp_dbt/models/machine_learning/feature/ml_feat__offer_feature.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/feature/ml_feat__user_daily_iris_location.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/feature/ml_feat__user_feature.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__home_interaction.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__ranking_training_data.sql
Due: sqlfmt

fix end of files
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__booking.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offer.md
Due: none

(DE) refactor(pcapi): switch pcapi module subcategory_v2 to subcategory in api referential job
  jobs/etl_jobs/internal/import_api_referentials/README.md
  jobs/etl_jobs/internal/import_api_referentials/main.py
Due: format-fix, lint-fix

resolved PR comments
  jobs/ml_jobs/algo_training/commons/constants.py
  jobs/ml_jobs/algo_training/requirements.in
  jobs/ml_jobs/algo_training/tests/test_evaluate.py
  jobs/ml_jobs/algo_training/two_towers_model/evaluate.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/evaluate.py
Due: format-fix, lint-fix

review checked
  orchestration/dags/data_gcp_dbt/models/raw/applicative/raw_applicative__offer_full.sql
  orchestration/dags/data_gcp_dbt/models/raw/applicative/raw_applicative__offer_lite.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__offer.sql
Due: sqlfmt

sqlfmt
  orchestration/dags/data_gcp_dbt/models/raw/applicative/raw_applicative__offer_full.sql
  orchestration/dags/data_gcp_dbt/models/raw/applicative/raw_applicative__offer_lite.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__offer.sql
Due: sqlfmt

(DE) refactor(callback): fecth instance name in task context
  orchestration/dags/common/alerts.py
Due: format-fix, lint-fix

(DS) refactor(metrics): refactored Two Tower evaluation code (#3880)
  jobs/ml_jobs/algo_training/commons/constants.py
  jobs/ml_jobs/algo_training/requirements.in
  jobs/ml_jobs/algo_training/requirements.txt
  jobs/ml_jobs/algo_training/tests/test_evaluate.py
  jobs/ml_jobs/algo_training/two_towers_model/README.md
  jobs/ml_jobs/algo_training/two_towers_model/evaluate.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/diversification.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/evaluate.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/metrics.py
  orchestration/dags/jobs/ml/algo_training_two_towers.py
Due: format-fix, lint-fix

feat(dbt): Enhance item_id logic and update dataset references in DAG
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_item_id.sql
  orchestration/dags/jobs/ml/link_items.py
Due: format-fix, lint-fix, sqlfmt

update apt
  orchestration/dags/jobs/import/import_api_referentials.py
Due: format-fix, lint-fix

feat(dbt): Enhance item_id logic and update dataset references in DAG
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_item_id.sql
Due: sqlfmt

(DE) refactor(callback): fecth instance name in task context (#3921)
  orchestration/dags/common/alerts.py
Due: format-fix, lint-fix

(DE-1362) feat(ml): update cloudsql export to vm (#3898)
  jobs/etl_jobs/internal/export_recommendation/README.md
  jobs/etl_jobs/internal/export_recommendation/config.py
  jobs/etl_jobs/internal/export_recommendation/jobs/export.py
  jobs/etl_jobs/internal/export_recommendation/jobs/import_sql.py
  jobs/etl_jobs/internal/export_recommendation/jobs/materialize.py
  jobs/etl_jobs/internal/export_recommendation/main.py
  jobs/etl_jobs/internal/export_recommendation/pyproject.toml
  jobs/etl_jobs/internal/export_recommendation/requirements.in
  jobs/etl_jobs/internal/export_recommendation/requirements.txt
  jobs/etl_jobs/internal/export_recommendation/sql/create_enriched_user_mv.sql
  jobs/etl_jobs/internal/export_recommendation/sql/create_iris_france_mv.sql
  jobs/etl_jobs/internal/export_recommendation/sql/create_item_ids_mv.sql
  jobs/etl_jobs/internal/export_recommendation/sql/create_non_recommendable_items_mv.sql
  jobs/etl_jobs/internal/export_recommendation/sql/create_recommendable_offers_raw_mv.sql
  jobs/etl_jobs/internal/export_recommendation/utils.py
  orchestration/dags/jobs/api/recommendation_cloud_sql.py
  orchestration/dags/jobs/api/sync_bq_to_cloudsql_recommendation_tables.py
  orchestration/dags/jobs/crons.py
  orchestration/dags/jobs/export/export_clickhouse.py
  orchestration/dags/ressources/tables.csv
  orchestration/tests/dags_test.py
Due: format-fix, lint-fix, sqlfmt

(DE-1295) feat(ranking): Add training ranking query based on home playlists (#3892)
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_home_offer_displayed.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/feature/ml_feat__offer_feature.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/feature/ml_feat__user_daily_iris_location.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/feature/ml_feat__user_feature.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__home_interaction.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__ranking_training_data.sql
Due: sqlfmt

added function to plot metrics evolution with k values
  jobs/ml_jobs/algo_training/two_towers_model/evaluate.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/evaluate.py
Due: format-fix, lint-fix

feat: hourly import cloudsql
  jobs/etl_jobs/internal/export_recommendation/README.md
  jobs/etl_jobs/internal/export_recommendation/jobs/cloudsql_to_bq.py
  jobs/etl_jobs/internal/export_recommendation/jobs/import_sql.py
  jobs/etl_jobs/internal/export_recommendation/jobs/materialize.py
  jobs/etl_jobs/internal/export_recommendation/main.py
  jobs/etl_jobs/internal/export_recommendation/requirements.in
  jobs/etl_jobs/internal/export_recommendation/utils.py
  orchestration/dags/jobs/api/import_cloudsql_tables_to_bigquery_hourly.py
Due: format-fix, lint-fix

feat: add docs
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__venue.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/qualtrics/column_qualtrics_response.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/native/description__mrt_native__nps_beneficiary.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/pro/description__mrt_pro__nps_venue.md
  orchestration/dags/data_gcp_dbt/models/mart/native/_schema/mrt_native__nps_beneficiary.yml
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__nps_beneficiary.sql
  orchestration/dags/data_gcp_dbt/models/mart/pro/_schema/mrt_pro__nps_venue.yml
  orchestration/dags/data_gcp_dbt/models/mart/pro/mrt_pro__nps_venue.sql
Due: sqlfmt

fix models config
  orchestration/dags/data_gcp_dbt/models/intermediate/instagram/int_instagram__publication_detail.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/tiktok/int_tiktok__publication_detail.sql
Due: sqlfmt

added function to plot metrics evolution with k values (#3923)
  jobs/ml_jobs/algo_training/two_towers_model/evaluate.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/evaluate.py
Due: format-fix, lint-fix

(DE) fix(clickhouse): reorder columns collective booking (#3918)
  jobs/etl_jobs/internal/export_clickhouse/schema/tmp/intermediate_collective_booking.sql
Due: sqlfmt

Add offer_compliance as ml microservice
  jobs/ml_jobs/offer_compliance/Makefile
  jobs/ml_jobs/offer_compliance/README.md
  jobs/ml_jobs/offer_compliance/__init__.py
  jobs/ml_jobs/offer_compliance/main.py
  jobs/ml_jobs/offer_compliance/pyproject.toml
  jobs/ml_jobs/offer_compliance/requirements.in
  jobs/ml_jobs/offer_compliance/requirements.txt
  jobs/ml_jobs/offer_compliance/streamlits/.gitignore
  jobs/ml_jobs/offer_compliance/streamlits/st_analize.py
  jobs/ml_jobs/offer_compliance/tests/__init__.py
  jobs/ml_jobs/offer_compliance/tests/main_test.py
  jobs/ml_jobs/offer_compliance/utils/__init__.py
Due: format-fix, lint-fix

fix: Update sentence transformers to 2.7
  jobs/ml_jobs/offer_compliance/pyproject.toml
  jobs/ml_jobs/offer_compliance/uv.lock
Due: none

refactor: Remove installer in DAGs
  orchestration/dags/common/operators/gce.py
  orchestration/dags/launch_vm.py
Due: format-fix, lint-fix

Move offer_compliance from training to offer_compliance ms
  jobs/ml_jobs/algo_training/fraud/__init__.py
  jobs/ml_jobs/algo_training/fraud/offer_compliance_model/__init__.py
  jobs/ml_jobs/offer_compliance/configs/default.json
  jobs/ml_jobs/offer_compliance/configs/pretrained_feature_encoding.json
  jobs/ml_jobs/offer_compliance/evaluate.py
  jobs/ml_jobs/offer_compliance/main.py
  jobs/ml_jobs/offer_compliance/package_api_model.py
  jobs/ml_jobs/offer_compliance/preprocess.py
  jobs/ml_jobs/offer_compliance/split_data.py
  jobs/ml_jobs/offer_compliance/streamlits/.gitignore
  jobs/ml_jobs/offer_compliance/streamlits/st_analize.py
  jobs/ml_jobs/offer_compliance/tests/__init__.py
  jobs/ml_jobs/offer_compliance/tests/main_test.py
  jobs/ml_jobs/offer_compliance/train.py
  jobs/ml_jobs/offer_compliance/utils/__init__.py
  jobs/ml_jobs/offer_compliance/utils/constants.py
  jobs/ml_jobs/offer_compliance/utils/tools.py
Due: format-fix, lint-fix

refactor: Update imports
  jobs/ml_jobs/offer_compliance/Makefile
  jobs/ml_jobs/offer_compliance/constants.py
  jobs/ml_jobs/offer_compliance/evaluate.py
  jobs/ml_jobs/offer_compliance/package_api_model.py
  jobs/ml_jobs/offer_compliance/preprocess.py
  jobs/ml_jobs/offer_compliance/split_data.py
  jobs/ml_jobs/offer_compliance/train.py
  jobs/ml_jobs/offer_compliance/utils/constants.py
  jobs/ml_jobs/offer_compliance/utils/data_collect_queries.py
  jobs/ml_jobs/offer_compliance/utils/mlflow_tools.py
  jobs/ml_jobs/offer_compliance/utils/secrets_utils.py
Due: format-fix, lint-fix

WIP
  jobs/ml_jobs/offer_compliance/evaluate.py
  jobs/ml_jobs/offer_compliance/package_api_model.py
  jobs/ml_jobs/offer_compliance/preprocess.py
  jobs/ml_jobs/offer_compliance/train.py
Due: format-fix, lint-fix

fix: Add gcsfs
  jobs/ml_jobs/offer_compliance/pyproject.toml
  jobs/ml_jobs/offer_compliance/uv.lock
Due: none

refactor: Use uv lock instead of requirements.txt
  jobs/ml_jobs/offer_compliance/pyproject.toml
  jobs/ml_jobs/offer_compliance/requirements.in
  jobs/ml_jobs/offer_compliance/requirements.txt
  jobs/ml_jobs/offer_compliance/uv.lock
Due: none

refactor: Remove torch catboost and sentence transformers from algo-training
  jobs/ml_jobs/algo_training/requirements.in
  jobs/ml_jobs/algo_training/requirements.txt
Due: none

feat: Add offer_compliance uv project
  jobs/ml_jobs/offer_compliance/pyproject.toml
Due: none

refactor: Update DAG
  orchestration/dags/jobs/ml/algo_training_offer_compliance_model.py
Due: format-fix, lint-fix

refactor: Remove unnecessary env variables
  jobs/ml_jobs/offer_compliance/constants.py
  jobs/ml_jobs/offer_compliance/evaluate.py
  jobs/ml_jobs/offer_compliance/package_api_model.py
  jobs/ml_jobs/offer_compliance/preprocess.py
  jobs/ml_jobs/offer_compliance/train.py
Due: format-fix, lint-fix

refactor: Add uv sync command in make_install_command in gce.py
  orchestration/dags/common/operators/gce.py
Due: format-fix, lint-fix

refactor: Remove unnecessary env variables for algo training two tower
  jobs/ml_jobs/algo_training/commons/constants.py
  jobs/ml_jobs/algo_training/two_towers_model/evaluate.py
  jobs/ml_jobs/offer_compliance/constants.py
Due: format-fix, lint-fix

feat: Readd deleted DAG
  orchestration/dags/jobs/ml/algo_training_offer_compliance_model.py
Due: format-fix, lint-fix

refactor: Add imports in uv lock
  jobs/ml_jobs/offer_compliance/pyproject.toml
  jobs/ml_jobs/offer_compliance/utils/tools.py
  jobs/ml_jobs/offer_compliance/uv.lock
Due: format-fix, lint-fix

fix models config (#3926)
  orchestration/dags/data_gcp_dbt/models/intermediate/instagram/int_instagram__publication_detail.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/tiktok/int_tiktok__publication_detail.sql
Due: sqlfmt
