Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
# Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
# Add new hook types here to ensure automatic installation when running `pre-commit install`
- pre-commit
- pre-push
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-json
  - id: check-added-large-files

- repo: local
  hooks:
  - id: format-fix
    name: Formatting (ruff)
    entry: ruff format
    language: system
    types: [python]
    stages: [commit]
  - id: lint-fix
    name: Linting (ruff)
    entry: ruff check --fix
    language: system
    types: [python]
    stages: [commit]
  - id: sqlfmt
    name: SQL Formatting (sqlfmt)
    entry: make sqlfmt
    stages: [commit]
    language: system
    types: [sql]
  # - id: sqlfluff-lint-check
  #   name: Lint check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_lint.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-format-check
  #   name: format check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_format.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-fix
  #   name: fix (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_fix.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]

(BSR) fix(airflow): way-around taskflow rendering limitation with current operators
  orchestration/dags/jobs/import/import_user_address.py
Due: format-fix, lint-fix

(HF) feat(airflow): update address_job context
  orchestration/dags/jobs/import/import_user_address.py
Due: format-fix, lint-fix

feat: update metabase uris
  jobs/etl_jobs/external/metabase-archiving/main.py
  jobs/etl_jobs/external/metabase-archiving/utils.py
  jobs/etl_jobs/external/metabase-dbt/utils.py
  jobs/etl_jobs/external/metabase/main.py
  jobs/etl_jobs/external/metabase/utils.py
Due: format-fix, lint-fix

separated novelty in a doffernt plot for readibility and added plots for baselines scann==1.3.0
  jobs/ml_jobs/algo_training/two_towers_model/evaluate.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/evaluate.py
Due: format-fix, lint-fix

update institution location source
  orchestration/dags/data_gcp_dbt/models/intermediate/geolocation/int_geo__institution_location.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/seed/int_seed__institution_metadata.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__educational_institution.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/educational_institution.sql
Due: sqlfmt

feat: update metabase uris
  jobs/etl_jobs/external/metabase-archiving/dependencies.py
  jobs/etl_jobs/external/metabase-archiving/main.py
  jobs/etl_jobs/external/metabase-archiving/utils.py
Due: format-fix, lint-fix

(BSR) feat(api): update metabase uris for k8s (#3980)
  jobs/etl_jobs/external/metabase-archiving/dependencies.py
  jobs/etl_jobs/external/metabase-archiving/main.py
  jobs/etl_jobs/external/metabase-archiving/utils.py
  jobs/etl_jobs/external/metabase-dbt/utils.py
  jobs/etl_jobs/external/metabase/main.py
  jobs/etl_jobs/external/metabase/utils.py
Due: format-fix, lint-fix

deploy: bd96431e17d5a77a30e345ba4de23d2fda63e805
  __pycache__/hooks.cpython-310.pyc
  dbt/glossary/zendesk/column__ticket/index.html
  dbt/models/intermediate/zendesk/description__int_zendesk__ticket/index.html
  dbt/models/intermediate/zendesk/description__int_zendesk__typology_native/index.html
  dbt/models/intermediate/zendesk/description__int_zendesk__typology_pro/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

feat(utils): modify SQL query to exclude category and rename it to search_group_name
  jobs/ml_jobs/retrieval_vector/utils.py
Due: format-fix, lint-fix

fix: Fix trigger rule for algo TT
  orchestration/dags/jobs/ml/algo_training_two_towers.py
Due: format-fix, lint-fix

refactor: Remove unneeded parameters
  jobs/ml_jobs/algo_training/commons/constants.py
  jobs/ml_jobs/algo_training/two_towers_model/evaluate.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/evaluate.py
  orchestration/dags/jobs/ml/algo_training_two_towers.py
Due: format-fix, lint-fix

feat: Set dummy models as a DAG parameter
  jobs/ml_jobs/algo_training/two_towers_model/evaluate.py
  orchestration/dags/jobs/ml/algo_training_two_towers.py
Due: format-fix, lint-fix

typed plot functions
  jobs/ml_jobs/algo_training/two_towers_model/utils/evaluate.py
Due: format-fix, lint-fix

(DS) feat(metrics): enhanced metrics plots readibility and added baseline metrics to plots (#3981)
  jobs/ml_jobs/algo_training/two_towers_model/evaluate.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/evaluate.py
Due: format-fix, lint-fix

fix: Set dummy to False as default
  jobs/ml_jobs/algo_training/two_towers_model/evaluate.py
Due: format-fix, lint-fix

(BSR) fix(TT): Fix branch operator + Small Refacto (#3983)
  jobs/ml_jobs/algo_training/commons/constants.py
  jobs/ml_jobs/algo_training/two_towers_model/evaluate.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/evaluate.py
  orchestration/dags/jobs/ml/algo_training_two_towers.py
Due: format-fix, lint-fix

(DE-1249) feat(snapshot): add custom strategy snapshot offer (#3856)
  orchestration/dags/data_gcp_dbt/macros/airflow/is_first_day_of_month.sql
  orchestration/dags/data_gcp_dbt/models/raw/applicative/raw_applicative__offer_full.sql
  orchestration/dags/data_gcp_dbt/models/raw/applicative/raw_applicative__offer_lite.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__offer.sql
Due: sqlfmt

(DE-1245) feat(dbt): Update propilote for the new deposit (#3948)
  orchestration/dags/dependencies/propilote/sql/tmp/beneficiaires/propilote_tmp_beneficiaires.sql
  orchestration/dags/dependencies/propilote/sql/tmp/taux_utilisation/propilote_tmp_utilisation.sql
Due: sqlfmt

(BSR) feat(dbt): add zendesk int new job
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/zendesk/column__survey_response.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/zendesk/column__ticket.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/zendesk/description__int_zendesk__survey_response.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/zendesk/description__int_zendesk__ticket.md
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/_schema/int_zendesk__survey_response.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/_schema/int_zendesk__ticket.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/int_zendesk__survey_response.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/int_zendesk__ticket.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/int_zendesk__typology_native.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/int_zendesk__typology_pro.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: sqlfmt

deploy: 07e41b3df053bc33f7b1f316e81697169ed9a8bd
  __pycache__/hooks.cpython-310.pyc
  sitemap.xml
  sitemap.xml.gz
Due: none

feat: fix missing geo-code for St Martin
  orchestration/dags/data_gcp_dbt/models/intermediate/api_gouv/address/int_api_gouv__user_address.sql
Due: sqlfmt

deploy: 07e41b3df053bc33f7b1f316e81697169ed9a8bd
  __pycache__/hooks.cpython-310.pyc
Due: none

feat: Remove drop duplicate in train data for tt
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

feat: Add generate_svd_baseline and move baseline predictions / plots to utils
  jobs/ml_jobs/algo_training/two_towers_model/evaluate.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/baseline_prediction.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/evaluate.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/plotting.py
Due: format-fix, lint-fix

refactor: Remove second for loop
  jobs/ml_jobs/algo_training/two_towers_model/utils/baseline_prediction.py
Due: format-fix, lint-fix

feat: Use num_recommendations
  jobs/ml_jobs/algo_training/two_towers_model/utils/baseline_prediction.py
Due: format-fix, lint-fix

feat: Add svd computation
  jobs/ml_jobs/algo_training/two_towers_model/utils/evaluate.py
Due: format-fix, lint-fix

refactor: Refacto evaluate
  jobs/ml_jobs/algo_training/two_towers_model/utils/evaluate.py
Due: format-fix, lint-fix

refactor: Replace DPP implementation with new sampling method and update imports
  jobs/ml_jobs/ranking_endpoint/api-requirements.in
  jobs/ml_jobs/ranking_endpoint/api-requirements.txt
  jobs/ml_jobs/ranking_endpoint/app/DPP.py
  jobs/ml_jobs/ranking_endpoint/app/app.py
  jobs/ml_jobs/ranking_endpoint/app/dpp.py
  jobs/ml_jobs/ranking_endpoint/app/model.py
  jobs/ml_jobs/ranking_endpoint/requirements.in
  jobs/ml_jobs/ranking_endpoint/requirements.txt
Due: format-fix, lint-fix

(BSR) feat(dbt): add zendesk int new job (#3985)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/zendesk/column__survey_response.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/zendesk/column__ticket.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/zendesk/description__int_zendesk__survey_response.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/zendesk/description__int_zendesk__ticket.md
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/_schema/int_zendesk__survey_response.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/_schema/int_zendesk__ticket.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/int_zendesk__survey_response.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/int_zendesk__ticket.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/int_zendesk__typology_native.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/int_zendesk__typology_pro.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: sqlfmt

(BSR) feat(dbt): fix St Marting missing geo-code (#3986)
  orchestration/dags/data_gcp_dbt/models/intermediate/api_gouv/address/int_api_gouv__user_address.sql
Due: sqlfmt

(HF) fix(filter): fix filter int_raw_offer
  orchestration/dags/data_gcp_dbt/models/intermediate/raw/int_raw__offer.sql
Due: sqlfmt

feat: Add svd plots
  jobs/ml_jobs/algo_training/two_towers_model/evaluate.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/plotting.py
Due: format-fix, lint-fix

(HF) fix(filter): fix filter int_raw_offer (#3988)
  orchestration/dags/data_gcp_dbt/models/intermediate/raw/int_raw__offer.sql
Due: sqlfmt

(DE-1442) feat(TT dummy): Add svd as dummy model (#3987)
  jobs/ml_jobs/algo_training/two_towers_model/evaluate.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/baseline_prediction.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/evaluate.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/plotting.py
Due: format-fix, lint-fix

feat: Remove drop duplicate in train data for tt (#3956)
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

(HF) fix(archive): reduce limit and increase schedule
  jobs/etl_jobs/internal/bigquery_archive_partition/main.py
  orchestration/dags/jobs/crons.py
Due: format-fix, lint-fix

multi stage build
  orchestration/k8s-airflow/Dockerfile.k8s-worker
Due: none

(BSR) build(elementary): path management (#3976)
  orchestration/dags/data_gcp_dbt/scripts/elementary_send_report_k8s.sh
  orchestration/dags/jobs/dbt/dbt_artifacts.py
  orchestration/k8s-airflow/Dockerfile.k8s-worker
Due: format-fix, lint-fix
