Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: system
  stages:
  - commit

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: system
  stages:
  - commit

sqlfmt:
  name: SQL Formatting (sqlfmt)
  entry: make sqlfmt
  stages:
  - commit
  language: system

fix jpp
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__consultation.sql
Due: sqlfmt

create and activate venv in job folder+ templatize python version
  jobs/etl_jobs/external/appsflyer/api_import.py
  jobs/etl_jobs/external/appsflyer/core/utils.py
  orchestration/dags/common/operators/gce.py
Due: format-fix, lint-fix

add uv sync step before command
  orchestration/dags/common/operators/gce.py
Due: format-fix, lint-fix

(BSR) fix(applicative): typo error
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__extract_offer.sql
Due: sqlfmt

Add ConsultArtist to native table and posthog
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__event.sql
Due: sqlfmt

update firebase_visits
  orchestration/dags/data_gcp_dbt/models/analytics/firebase/firebase_visits.sql
Due: sqlfmt

(BSR) feat(analytics) : add event id to pricing table (#3242)
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/pricing.sql
Due: sqlfmt

(DA-3270) feat(analytics): Add ConsultArtist event to native table and posthog (#3270)
  orchestration/dags/data_gcp_dbt/models/analytics/firebase/firebase_visits.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__event.sql
Due: sqlfmt

add template offers to int collective offer domain (#3258)
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__collective_offer_domain.sql
Due: sqlfmt

(BSR) fix(applicative): typo error (#3269)
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__extract_offer.sql
Due: sqlfmt

wip
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

(HF) fix(applicative): typo error
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/pricing.sql
Due: sqlfmt

(HF) fix(applicative): typo error (#3273)
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/pricing.sql
Due: sqlfmt

refactor: Update docker compose command
  orchestration/Makefile
Due: none

refactor: Update docker-compose
  orchestration/docker-compose.yaml
Due: none

(BSR) refactor(DE): Update docker-compose commands and config (#3274)
  orchestration/Makefile
  orchestration/docker-compose.yaml
Due: none

[fix]Refactor variable names to use correct naming convention
  jobs/ml_jobs/record_linkage/main.py
  jobs/ml_jobs/record_linkage/postprocess.py
  jobs/ml_jobs/record_linkage/tools/linkage.py
Due: format-fix, lint-fix

(DE-652) feat(analytics): custom schemas for local development (#3262)
  orchestration/dags/data_gcp_dbt/dbt_project.yml
  orchestration/dags/data_gcp_dbt/macros/create_schema_dev.sql
  orchestration/dags/data_gcp_dbt/macros/generate_schema_name.sql
  orchestration/dags/data_gcp_dbt/macros/set_table_expiration_dev.sql
Due: sqlfmt

add waiting operator in bq alert
  orchestration/dags/jobs/administration/bigquery_alerts.py
Due: format-fix, lint-fix

add waiting operator in bq alert (#3277)
  orchestration/dags/jobs/administration/bigquery_alerts.py
Due: format-fix, lint-fix

add PR title format in template
  .github/pull_request_template.md
Due: none

add PR title format in template (#3278)
  .github/pull_request_template.md
Due: none

add snapshot check config
  orchestration/dags/data_gcp_dbt/dbt_project.yml
  orchestration/dags/data_gcp_dbt/macros/custom_snapshot_config.sql
Due: sqlfmt

add intermediate sources
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/enriched_suivi_dms_adage.sql
  orchestration/dags/data_gcp_dbt/models/analytics/offer_moderation.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/offerer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offerer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/source/int_source__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/source/int_source__offerer.sql
  orchestration/dags/data_gcp_dbt/snapshots/source/snapshot_source__offerer.sql
Due: sqlfmt

fix: Remove bad CUDA allocation
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

undo removing clean offerer
  orchestration/dags/data_gcp_dbt/models/clean/applicative/offerer.sql
Due: sqlfmt

update refs
  orchestration/dags/data_gcp_dbt/models/clean/applicative/offer.sql
  orchestration/dags/data_gcp_dbt/models/clean/user_beneficiary.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__extract_offer.sql
Due: sqlfmt

remove snapshots from ci
  .github/workflows/scripts/run_dbt_changed_models.sh
Due: none

aggregate collective & individual revenues
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/monthly_aggregated_venue_individual_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/monthly_aggregated_venue_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/yearly_aggregated_venue_individual_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/yearly_aggregated_venue_revenue.sql
  orchestration/dags/dependencies/export_clickhouse/export_clickhouse.py
Due: format-fix, lint-fix, sqlfmt

Add a procedure_id for dms pro export (#3255)
  jobs/etl_jobs/external/dms/utils.py
Due: format-fix, lint-fix

update column names (#3266)
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__outgoing_cohorts.sql
Due: sqlfmt

(DE) fix(linkage): Refactor variable names to use correct naming convention (#3276)
  jobs/ml_jobs/record_linkage/main.py
  jobs/ml_jobs/record_linkage/postprocess.py
  jobs/ml_jobs/record_linkage/tools/linkage.py
Due: format-fix, lint-fix

remove applicative conn id
  .github/workflows/CI_workflow.yml
  .github/workflows/reusable_dbt_workflow.yml
  orchestration/dags/data_gcp_dbt/macros/custom_snapshot_config.sql
Due: sqlfmt

applicative conn id
  .github/workflows/CI_workflow.yml
  .github/workflows/reusable_dbt_workflow.yml
Due: none

add missing variable
  .github/workflows/reusable_dbt_workflow.yml
Due: none

add table materialization for offerer
  orchestration/dags/data_gcp_dbt/models/intermediate/source/int_source__offerer.sql
Due: sqlfmt

typo
  jobs/etl_jobs/internal/export_clickhouse/schema/tmp/intermediate_collective_booking.sql
Due: sqlfmt

match orderings
  jobs/etl_jobs/internal/export_clickhouse/schema/tmp/intermediate_booking.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/tmp/intermediate_collective_booking.sql
Due: sqlfmt

fix schemas
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/monthly_aggregated_venue_individual_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/monthly_aggregated_venue_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/yearly_aggregated_venue_individual_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/yearly_aggregated_venue_revenue.sql
Due: sqlfmt

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfmt: any of: \.sql$
