Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: python
  stages:
  - commit
  additional_dependencies:
  - ruff==0.5.7

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: python
  stages:
  - commit
  additional_dependencies:
  - ruff==0.5.7

sqlfmt:
  name: SQL Formatting (sqlfmt)
  entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
  ...

fix
  orchestration/dags/data_gcp_dbt/models/analytics/firebase/firebase_aggregated_search_events.sql
Due: sqlfmt

(BSR) refactor(contentful): reduce cognitive complexity & fix playlist parsing
  jobs/etl_jobs/external/contentful/contentful_client.py
  jobs/etl_jobs/external/contentful/main.py
  orchestration/dags/jobs/import/import_contentful.py
Due: format-fix, lint-fix

review: better error handling
  jobs/etl_jobs/external/contentful/contentful_client.py
Due: format-fix, lint-fix

(BSR) refactor(contentful): reduce cognitive complexity (#4363)
  jobs/etl_jobs/external/contentful/contentful_client.py
  jobs/etl_jobs/external/contentful/main.py
  orchestration/dags/jobs/import/import_contentful.py
Due: format-fix, lint-fix

deploy: 2397724a0e44b59dc2d12b3b6d1e023d1af57a13
  __pycache__/hooks.cpython-312.pyc
  sitemap.xml
  sitemap.xml.gz
Due: none

create cultural partner ephemeral model
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offerer.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG/ephemerals_kpis/_schema/mrt_external_reporting__ppg_cultural_partner.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG/ephemerals_kpis/mrt_external_reporting__ppg_cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__cultural_partner.sql
Due: sqlfmt

sqlfmt
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG/ephemerals_kpis/mrt_external_reporting__ppg_cultural_partner.sql
Due: sqlfmt

add docs for cultural partner model
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG/ephemerals_kpis/_schema/mrt_external_reporting__ppg_cultural_partner.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__cultural_partner.yml
Due: none

fix
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__cultural_partner.md
Due: none

add ppg_cultural_partner description
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/description__mrt_external_reporting__ppg_cultural_partner.md
Due: none

rename fields
  jobs/etl_jobs/external/metabase/data/mappings.json
  orchestration/dags/data_gcp_dbt/models/analytics/firebase/firebase_aggregated_search_events.sql
Due: sqlfmt

Adjust postal code test threshold
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__user.yml
Due: none

add offerer_is_epn field in global tables
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offerer_tag.md
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__booking.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offerer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__stock.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG/ephemerals_kpis/mrt_external_reporting__ppg_finance.sql
  orchestration/dags/data_gcp_dbt/models/mart/finance/mrt_finance__reimbursement.sql
  orchestration/dags/data_gcp_dbt/models/mart/finance/mrt_finance__reimbursement.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__booking.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offer.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offerer.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__stock.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__venue.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offerer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__stock.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__venue.sql
Due: sqlfmt

sqlfmt
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offerer.sql
  orchestration/dags/data_gcp_dbt/models/mart/finance/mrt_finance__reimbursement.sql
Due: sqlfmt

create mrt_external_reporting__ppg model
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/description__mrt_external_reporting__ppg.md
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG/mrt_external_reporting__ppg.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG/mrt_external_reporting__ppg.yml
Due: sqlfmt

sqlfmt
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG/mrt_external_reporting__ppg.sql
Due: sqlfmt

refactor: Modularize call processing and enhance metrics analysis; update configuration for ID handling
  jobs/ml_jobs/endpoint_monitoring/main.py
  jobs/ml_jobs/endpoint_monitoring/utils/analysis_utils.py
  orchestration/dags/jobs/ml/recommendation_endpoint_monitoring.py
Due: format-fix, lint-fix

fix: handle null values in stock price calculations and remove redundant data tests
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/_schema/ml_reco__recommendable_item.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_item_feature.sql
Due: sqlfmt

fix: handle null values in stock price calculations and remove redundant data tests (#4366)
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/_schema/ml_reco__recommendable_item.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_item_feature.sql
Due: sqlfmt

refactor: switch old table
  orchestration/dags/data_gcp_dbt/models/mart/marketing/mrt_marketing__newsletters_native.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: sqlfmt

(AE-2209) dbt(test): Adjust postal code test threshold (#4365)
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__user.yml
Due: none

refactor: http_tools, add retry logic for server errors, request & response stats & logging
  jobs/etl_jobs/http_tools/clients.py
  jobs/etl_jobs/http_tools/rate_limiters.py
Due: format-fix, lint-fix

WIP
  poc_lancedb/README.md
  poc_lancedb/import_data.py
  poc_lancedb/poc_chatbot_lancedb.py
  poc_lancedb/pyproject.toml
Due: format-fix, lint-fix

refactor: instagram etl
  jobs/etl_jobs/connectors/instagram.py
  jobs/etl_jobs/jobs/instagram/__init__.py
  jobs/etl_jobs/jobs/instagram/config.py
  jobs/etl_jobs/jobs/instagram/main.py
  jobs/etl_jobs/jobs/instagram/pyproject.toml
  jobs/etl_jobs/jobs/instagram/requirements.in
  jobs/etl_jobs/jobs/instagram/requirements.txt
  jobs/etl_jobs/jobs/instagram/utils.py
Due: format-fix, lint-fix

refactor: brevo with updated http_tools
  jobs/etl_jobs/connectors/brevo.py
  jobs/etl_jobs/jobs/brevo/main.py
  jobs/etl_jobs/jobs/brevo/utils.py
Due: format-fix, lint-fix

fix: Readd async-timeout in artist linkage
  jobs/ml_jobs/artist_linkage/requirements.in
  jobs/ml_jobs/artist_linkage/requirements.txt
Due: none

fix: Readd async-timeout in clusterisation
  jobs/ml_jobs/clusterisation/requirements.in
  jobs/ml_jobs/clusterisation/requirements.txt
Due: none

fix: Readd async-timeout in embedding
  jobs/ml_jobs/embeddings/requirements.in
  jobs/ml_jobs/embeddings/requirements.txt
Due: none

fix: Readd async-timeout in item linkage
  jobs/ml_jobs/item_linkage/requirements.in
  jobs/ml_jobs/item_linkage/requirements.txt
Due: none

fix: Readd async-timeout in ranking enpoint
  jobs/ml_jobs/ranking_endpoint/requirements.in
  jobs/ml_jobs/ranking_endpoint/requirements.txt
Due: none

fix: Readd async-timeout in reduction
  jobs/ml_jobs/reduction/requirements.in
  jobs/ml_jobs/reduction/requirements.txt
Due: none

(BSR) fix(deps): Fix ml jobs dependencies after setuptools update (#4368)
  jobs/ml_jobs/artist_linkage/requirements.in
  jobs/ml_jobs/artist_linkage/requirements.txt
  jobs/ml_jobs/clusterisation/requirements.in
  jobs/ml_jobs/clusterisation/requirements.txt
  jobs/ml_jobs/embeddings/requirements.in
  jobs/ml_jobs/embeddings/requirements.txt
  jobs/ml_jobs/item_linkage/requirements.in
  jobs/ml_jobs/item_linkage/requirements.txt
  jobs/ml_jobs/ranking_endpoint/requirements.in
  jobs/ml_jobs/ranking_endpoint/requirements.txt
  jobs/ml_jobs/reduction/requirements.in
  jobs/ml_jobs/reduction/requirements.txt
Due: none

fix: Fix dbt artist tables
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__artist.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__artist.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__delta_artist.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: sqlfmt

fix: Fix dbt artist_alias tables
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__artist_alias.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__artist_alias.sql
Due: sqlfmt

fix: Fix dbt product_artist_link tables
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__product_artist_link.sql
Due: sqlfmt

(BSR) fix(artist): Fix artist tables loading into dbt (#4369)
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__artist.sql
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__artist_alias.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__artist.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__artist_alias.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__delta_artist.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__product_artist_link.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: sqlfmt

index renamed
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/description__mrt_external_reporting__ppg_individual.md
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_individual/ephemerals_kpis/_schema/mrt_external_reporting__ppg_beneficiary.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_individual/ephemerals_kpis/_schema/mrt_external_reporting__ppg_coverage.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_individual/ephemerals_kpis/_schema/mrt_external_reporting__ppg_cultural_partner.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_individual/ephemerals_kpis/_schema/mrt_external_reporting__ppg_deposit_usage.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_individual/ephemerals_kpis/_schema/mrt_external_reporting__ppg_diversity.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_individual/ephemerals_kpis/_schema/mrt_external_reporting__ppg_finance.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_individual/ephemerals_kpis/mrt_external_reporting__ppg_beneficiary.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_individual/ephemerals_kpis/mrt_external_reporting__ppg_coverage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_individual/ephemerals_kpis/mrt_external_reporting__ppg_cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_individual/ephemerals_kpis/mrt_external_reporting__ppg_deposit_usage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_individual/ephemerals_kpis/mrt_external_reporting__ppg_diversity.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_individual/ephemerals_kpis/mrt_external_reporting__ppg_finance.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_individual/mrt_external_reporting__ppg_individual.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_individual/mrt_external_reporting__ppg_individual.yml
Due: sqlfmt

create top offer category model
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/metric/column__metric.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/description__mrt_external_reporting__ppg_top_offer_category.md
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_individual/mrt_external_reporting__ppg_individual.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_top/mrt_external_reporting__ppg_top_offer_category.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_top/mrt_external_reporting__ppg_top_offer_category.yml
Due: sqlfmt

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfmt: any of: \.sql$
