Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
  # Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
  # Add new hook types here to ensure automatic installation when running `pre-commit install`
  - pre-commit
  - pre-push
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: format-fix
        name: Formatting (ruff)
        entry: ruff format
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: lint-fix
        name: Linting (ruff)
        entry: ruff check --fix
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: sqlfmt
        name: SQL Formatting (sqlfmt)
        entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
        stages: [push]
        language: python
        additional_dependencies: ["shandy-sqlfmt[jinjafmt]==0.23.2"]
        types: [sql]
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.3.0
    hooks:
      - id: sqlfluff-fix
        additional_dependencies:
          ["dbt-bigquery==1.8.1", "sqlfluff-templater-dbt"]
        stages: [commit]
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.0
    hooks:
    - id: markdownlint-cli2
      language_version: 24.0.0
      args:
        - --fix

fix: Fix get_wikimedia_commons_license failing on enmpty DF
  jobs/ml_jobs/artist_linkage/get_wikimedia_commons_license.py
Due: format-fix, lint-fix

add removed_offers models
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/export/ministry/description__exp_ministry__offer_removed.md
  orchestration/dags/data_gcp_dbt/models/export/ministry/_schema/exp_ministry__offer_removed.yml
  orchestration/dags/data_gcp_dbt/models/export/ministry/exp_ministry__offer_removed.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/raw/int_raw__offer_removed.sql
Due: sqlfmt

fmt
  orchestration/dags/data_gcp_dbt/models/intermediate/raw/int_raw__offer_removed.sql
Due: sqlfmt

docs: Add logging
  jobs/ml_jobs/artist_linkage/utils/matching.py
Due: format-fix, lint-fix

(HF) fix(ministry): plug models to int for venue & offerer (#4426)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/export/ministry/description__exp_ministry__offer.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/export/ministry/description__exp_ministry__offer_removed.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/export/ministry/description__exp_ministry__venue.md
  orchestration/dags/data_gcp_dbt/models/export/ministry/_schema/exp_ministry__offer_removed.yml
  orchestration/dags/data_gcp_dbt/models/export/ministry/_schema/exp_ministry__offerer.yml
  orchestration/dags/data_gcp_dbt/models/export/ministry/_schema/exp_ministry__venue.yml
  orchestration/dags/data_gcp_dbt/models/export/ministry/exp_ministry__deposit.sql
  orchestration/dags/data_gcp_dbt/models/export/ministry/exp_ministry__offer_metadata.sql
  orchestration/dags/data_gcp_dbt/models/export/ministry/exp_ministry__offer_removed.sql
  orchestration/dags/data_gcp_dbt/models/export/ministry/exp_ministry__offerer.sql
  orchestration/dags/data_gcp_dbt/models/export/ministry/exp_ministry__user.sql
  orchestration/dags/data_gcp_dbt/models/export/ministry/exp_ministry__user_address.sql
  orchestration/dags/data_gcp_dbt/models/export/ministry/exp_ministry__venue.sql
  orchestration/dags/data_gcp_dbt/models/export/ministry/exp_ministry__venue_address.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__user.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/raw/int_raw__offer_removed.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user.sql
Due: sqlfmt

chore: Remove artist_linked source
  orchestration/dags/data_gcp_dbt/models/sources.yml
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

chore: Remove deprecated artist_name_to_link
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/linkage/description__ml_linkage__artist_name_to_link.md
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/_schema/ml_linkage__artist_name_to_link.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__artist_name_to_link.sql
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix, sqlfmt

refactor: Remove raw_linkage since it can add linkage to unfiltered products
  jobs/ml_jobs/artist_linkage/constants.py
  jobs/ml_jobs/artist_linkage/link_new_products_to_artists.py
  jobs/ml_jobs/artist_linkage/utils/matching.py
Due: format-fix, lint-fix

fix eac_offer_booking
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_offer_booking.sql
Due: sqlfmt

chore: Add more logging
  jobs/ml_jobs/artist_linkage/link_new_products_to_artists.py
  jobs/ml_jobs/artist_linkage/utils/matching.py
Due: format-fix, lint-fix

(DE-2399) fix(artists): Fix get_wikimedia_commons_license failing on empty DF (#4429)
  jobs/ml_jobs/artist_linkage/constants.py
  jobs/ml_jobs/artist_linkage/get_wikimedia_commons_license.py
  jobs/ml_jobs/artist_linkage/link_new_products_to_artists.py
  jobs/ml_jobs/artist_linkage/utils/matching.py
Due: format-fix, lint-fix

compiled requierment files using uv export after installing uv pip install deepdiff==8.6.1
  orchestration/airflow/orchestration-requirements.txt
Due: none

compiled requierment files for k8S using uv export after installing uv pip install deepdiff==8.6.1
  orchestration/k8s-airflow/k8s-worker-requirements.txt
Due: none

update domain model
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offerer.md
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_domain.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offerer.yml
Due: sqlfmt

sqlfmt
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_domain.sql
Due: sqlfmt

fix: Fix titelive parsing
  jobs/etl_jobs/external/titelive/scripts/parse_products.py
Due: format-fix, lint-fix

(BSR) fix(titelive): Fix titelive parsing (#4433)
  jobs/etl_jobs/external/titelive/scripts/parse_products.py
Due: format-fix, lint-fix

iter
  jobs/etl_jobs/external/ppg/configs.py
  jobs/etl_jobs/external/ppg/core.py
  jobs/etl_jobs/external/ppg/excel_handler.py
  jobs/etl_jobs/external/ppg/main.py
  jobs/etl_jobs/external/ppg/resumé_auvergne_rhone_alpes.xlsx
  jobs/etl_jobs/external/ppg/utils.py
Due: format-fix, lint-fix

(DE) feat(dbt): Propilote - collective (#4389)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offerer.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/collective/description__mrt_external_reporting__eac_credit_usage.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/collective/description__mrt_external_reporting__eac_cultural_partner.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/collective/description__mrt_external_reporting__eac_domain.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/collective/description__mrt_external_reporting__eac_offer_booking.md
  orchestration/dags/data_gcp_dbt/models/analytics/eple_aggregated.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/_schema/mrt_external_reporting__eac_credit_usage.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/_schema/mrt_external_reporting__eac_cultural_partner.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/_schema/mrt_external_reporting__eac_domain.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/_schema/mrt_external_reporting__eac_offer_booking.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_credit_usage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_domain.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_offer_booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/mrt_external_reporting__cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offerer.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offerer.sql
Due: sqlfmt

chore: pin deepdiff to security patched version and upgrade dbt-core for compatibility
  orchestration/airflow/orchestration-requirements.txt
  orchestration/k8s-airflow/k8s-worker-requirements.txt
  pyproject.toml
  uv.lock
Due: none

(DE-2286) dbt(propilote): create one big table propilote eac kpis
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/mrt_external_reporting__eac.sql
Due: sqlfmt

add doc for eac global model
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/collective/description__mrt_external_reporting__eac.md
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/mrt_external_reporting__eac.yml
Due: none

(DE-2286) dbt(propilote): create one big table propilote eac kpis (#4435)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/collective/description__mrt_external_reporting__eac.md
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/mrt_external_reporting__eac.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/mrt_external_reporting__eac.yml
Due: sqlfmt

(bsr) fix(propilote): use domain.label in where condition for eac_domain model
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_domain.sql
Due: sqlfmt

(BSR) fix(propilote): use domain.label in where condition for eac_domain model (#4437)
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_domain.sql
Due: sqlfmt

Implement code changes to enhance functionality and improve performance across various modules.
  poc_lancedb/README.md
  poc_lancedb/app.py
  poc_lancedb/compare_rag_vs_labellised.py
  poc_lancedb/compare_rag_vs_labellised_app.py
  poc_lancedb/import_data.py
  poc_lancedb/main_app.py
  poc_lancedb/poc_chatbot_lancedb.py
  poc_lancedb/pyproject.toml
  poc_lancedb/sql/offer_embeddings.sql
  poc_lancedb/sql/offer_tags.sql
  poc_lancedb/sql/offer_tags_enriched.sql
  poc_lancedb/tag_descriptions.py
  poc_lancedb/uv.lock
Due: format-fix, lint-fix, sqlfmt

(DE) fix(airflow): skip snapshot historization when schedule not matched
  orchestration/dags/common/utils.py
  orchestration/dags/jobs/administration/bigquery_historize_applicative_database.py
Due: format-fix, lint-fix

add tree structure
  jobs/etl_jobs/external/ppg/requirements.in
  jobs/etl_jobs/external/ppg/requirements.txt
  jobs/etl_jobs/external/ppg2/__init__.py
  jobs/etl_jobs/external/ppg2/config.py
  jobs/etl_jobs/external/ppg2/main.py
  jobs/etl_jobs/external/ppg2/utils/__init__.py
  jobs/etl_jobs/external/ppg2/utils/data_utils.py
  jobs/etl_jobs/external/ppg2/utils/file_utils.py
  jobs/etl_jobs/external/ppg2/xlsx_utils/__init__.py
  jobs/etl_jobs/external/ppg2/xlsx_utils/core.py
Due: format-fix, lint-fix

feat: report planner
  jobs/etl_jobs/external/ppg2/main.py
  jobs/etl_jobs/external/ppg2/utils/data_utils.py
  jobs/etl_jobs/external/ppg2/xlsx_utils/core.py
Due: format-fix, lint-fix

(DA-4411) feat(dbt): Add backend offer_meta_data for offer video url (#4411)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offer.md
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_metadata.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offer_metadata.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer_metadata.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/offer_meta_data.sql
Due: sqlfmt

add logs transfer ministry
  jobs/etl_jobs/external/encrypted_exports/helpers/transfer.py
Due: format-fix, lint-fix

add last top models
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/metric/column__metric.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/collective/description__mrt_external_reporting__top_ac.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/collective/description__mrt_external_reporting__top_format.md
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/_schema/mrt_external_reporting__top_ac.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/_schema/mrt_external_reporting__top_format.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_ac.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_format.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_offer.sql
Due: sqlfmt

sqlfmt
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_format.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_venue.sql
Due: sqlfmt

(DE) feat(dbt): create eac top models (#4439)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/metric/column__metric.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/collective/description__mrt_external_reporting__top_ac.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/collective/description__mrt_external_reporting__top_format.md
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/_schema/mrt_external_reporting__top_ac.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/_schema/mrt_external_reporting__top_format.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_ac.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_format.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_offer_category.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_venue.sql
Due: sqlfmt

(HF) fix(raw): remove field in raw bank account
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/bank_account.sql
Due: sqlfmt

(HF) fix(raw): remove field in raw bank account (#4440)
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/bank_account.sql
Due: sqlfmt

rollback to txt reauirements files
  jobs/ml_jobs/retrieval_vector/api-requirements.in
  jobs/ml_jobs/retrieval_vector/api-requirements.txt
  jobs/ml_jobs/retrieval_vector/pyproject_backup.toml
  jobs/ml_jobs/retrieval_vector/requirements.in
  jobs/ml_jobs/retrieval_vector/requirements.txt
Due: none
