Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: system
  stages:
  - commit

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: system
  stages:
  - commit

sqlfmt:
  name: SQL Formatting (sqlfmt)
  entry: make sqlfmt
  stages:
  - commit
  language: system

(BSR) refactor(dms): streamline DMS data fetching by consolidating functions and utilizing constants
  jobs/etl_jobs/external/dms/dms_query_w_champs.py
  jobs/etl_jobs/external/dms/dms_query_wo_champs.py
  jobs/etl_jobs/external/dms/main.py
  jobs/etl_jobs/external/dms/utils.py
Due: format-fix, lint-fix

WIP: debug
  jobs/ml_jobs/retrieval_vector/api-requirements.in
  jobs/ml_jobs/retrieval_vector/api-requirements.txt
  jobs/ml_jobs/retrieval_vector/app/logger.py
Due: format-fix, lint-fix

(BSR) refactor(import): simplify parameter assignment in DMS subscriptions DAG
  jobs/etl_jobs/external/dms/main.py
  jobs/etl_jobs/external/dms/parse_dms_subscriptions_to_tabular.py
  orchestration/dags/jobs/import/import_dms_subscriptions.py
Due: format-fix, lint-fix

(DE-935) refactor(dbt): remove clean user_offerer
  orchestration/dags/data_gcp_dbt/models/clean/applicative/user_offerer.sql
Due: sqlfmt

*(BSR) refactor(dms): remove project_id parameter from functions and utilize GCP_PROJECT_ID constant
  jobs/etl_jobs/external/dms/constants.py
  jobs/etl_jobs/external/dms/main.py
  jobs/etl_jobs/external/dms/parse_dms_subscriptions_to_tabular.py
  jobs/etl_jobs/external/dms/utils.py
  orchestration/dags/jobs/import/import_dms_subscriptions.py
Due: format-fix, lint-fix

fix error sur master
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_ean.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/pro/int_firebase__pro_event.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/pro/int_firebase__pro_event_flattened.sql
Due: sqlfmt

WIP2
  jobs/ml_jobs/retrieval_vector/app/logger.py
Due: format-fix, lint-fix

WIP3
  jobs/ml_jobs/retrieval_vector/app/logger.py
Due: format-fix, lint-fix

dummy path
  orchestration/dags/data_gcp_dbt/dbt_project.yml
Due: none

WIP4
  jobs/ml_jobs/retrieval_vector/app/logger.py
Due: format-fix, lint-fix

wip
  orchestration/dags/data_gcp_dbt/dbt-requirements.in
  orchestration/dags/data_gcp_dbt/dbt-requirements.txt
Due: none

remove local authority model
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__local_authority.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__local_authority.md
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__local_authority.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__local_authority.sql
Due: sqlfmt

WIP5
  jobs/ml_jobs/retrieval_vector/app/logger.py
Due: format-fix, lint-fix

fix macro
  orchestration/dags/data_gcp_dbt/macros/database_utils/create_schema_dev.sql
Due: sqlfmt

docs: Fix typo
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/recommendation/description__ml_reco__training_data_favorite.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/recommendation/description__ml_reco__training_data_item_feature.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/recommendation/description__ml_reco__training_data_user_feature.md
Due: none

(BSR) docs(dbt): Fix typo (#3625)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/recommendation/description__ml_reco__training_data_favorite.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/recommendation/description__ml_reco__training_data_item_feature.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/recommendation/description__ml_reco__training_data_user_feature.md
Due: none

WIP6
  jobs/ml_jobs/retrieval_vector/app/logger.py
Due: format-fix, lint-fix

remove local authority model (#3624)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__local_authority.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__local_authority.md
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__local_authority.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__local_authority.sql
Due: sqlfmt

refactor(dms): clean duplication
  jobs/etl_jobs/external/dms/main.py
Due: format-fix, lint-fix

(BSR) refactor(sql): reorganize offer metadata SQL for improved clarity and consistency
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_metadata.sql
Due: sqlfmt

refactor(dms): consolidate 'pro' schema fields into a single list for improved maintainability
  jobs/etl_jobs/external/dms/constants.py
Due: format-fix, lint-fix

refactor(dms): standardize formatting of 'pro' schema field definition
  jobs/etl_jobs/external/dms/constants.py
Due: format-fix, lint-fix

(BSR) refactor(dms): Update 'Champs' Handling (#3620)
  jobs/etl_jobs/external/dms/constants.py
  jobs/etl_jobs/external/dms/dms_query_w_champs.py
  jobs/etl_jobs/external/dms/dms_query_wo_champs.py
  jobs/etl_jobs/external/dms/main.py
  jobs/etl_jobs/external/dms/parse_dms_subscriptions_to_tabular.py
  jobs/etl_jobs/external/dms/utils.py
  orchestration/dags/data_gcp_dbt/models/analytics/dms_pro.sql
  orchestration/dags/dependencies/dms_subscriptions/sql/clean/dms_cleaned.sql
  orchestration/dags/jobs/import/import_dms_subscriptions.py
Due: format-fix, lint-fix, sqlfmt

(BSR) refactor(sql): reorganize offer metadata SQL for improved clarity and consistency (#3626)
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_metadata.sql
Due: sqlfmt

remove doc
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__user_offerer.md
Due: none

remove dummy commit in dbt project
  orchestration/dags/data_gcp_dbt/dbt_project.yml
Due: none

reput user_offerer doc
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__user_offerer.md
Due: none

WIP7
  jobs/ml_jobs/retrieval_vector/app/logger.py
Due: format-fix, lint-fix

WIP8
  jobs/ml_jobs/retrieval_vector/app/logger.py
Due: format-fix, lint-fix

(review): improve code and logic
  jobs/etl_jobs/external/zendesk/constants.py
  jobs/etl_jobs/external/zendesk/extract.py
  jobs/etl_jobs/external/zendesk/main.py
  jobs/etl_jobs/external/zendesk/utils.py
  orchestration/dags/jobs/import/import_zendesk.py
Due: format-fix, lint-fix

remove clean collective_offfer_domai
  orchestration/dags/data_gcp_dbt/models/clean/applicative/collective_offer_domain.sql
Due: sqlfmt

(review): docstring fix
  jobs/etl_jobs/external/zendesk/extract.py
Due: format-fix, lint-fix

remove clean venue
  orchestration/dags/data_gcp_dbt/models/clean/applicative/venue.sql
Due: sqlfmt

remove clean criterion tables
  orchestration/dags/data_gcp_dbt/models/clean/applicative/criterion.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/offer_criterion.sql
Due: sqlfmt

WIP9
  jobs/ml_jobs/retrieval_vector/app/logger.py
Due: format-fix, lint-fix

(DE-932) feat(dbt): add selectors in dbt cli
  orchestration/dags/data_gcp_dbt/macros/airflow/ds.sql
  orchestration/dags/data_gcp_dbt/selectors.yml
Due: sqlfmt

fix fmt
  orchestration/dags/data_gcp_dbt/macros/airflow/ds.sql
Due: sqlfmt

WIP10
  jobs/ml_jobs/retrieval_vector/app/logger.py
Due: format-fix, lint-fix

WIP11
  jobs/ml_jobs/retrieval_vector/app/logger.py
Due: format-fix, lint-fix

Add mrt brevo retention pro
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/brevo/column__brevo.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/brevo/description__mrt_brevo_retention_pro.md
  orchestration/dags/data_gcp_dbt/models/mart/brevo/_schema/mrt_brevo__retention_pro.yml
  orchestration/dags/data_gcp_dbt/models/mart/brevo/mrt_brevo__retention_pro.sql
Due: sqlfmt

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfmt: any of: \.sql$
