Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: python
  stages:
  - commit
  additional_dependencies:
  - ruff==0.5.7

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: python
  stages:
  - commit
  additional_dependencies:
  - ruff==0.5.7

sqlfmt:
  name: SQL Formatting (sqlfmt)
  entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
  ...

removed unnecessary env variables and put input into env
  .github/workflows/reusable_build_image.yml
Due: none

fix: Fix return type of chunk_dataframe
  jobs/ml_jobs/graph_recommendation/src/utils/retrieval.py
Due: format-fix, lint-fix

test: Fix tests
  jobs/ml_jobs/graph_recommendation/tests/evaluation_test.py
Due: format-fix, lint-fix

(DS-2554) feat(dbt): add model exp_backend__product_delta with tests and docs (#4554)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/export/backend/description__exp_product_delta.md
  orchestration/dags/data_gcp_dbt/models/export/backend/_schema/exp_backend__product_delta.yml
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__product_delta.sql
Due: sqlfmt

chore: Remove dead code
  jobs/ml_jobs/graph_recommendation/src/utils/gcp.py
Due: format-fix, lint-fix

fix: Fix import
  jobs/ml_jobs/graph_recommendation/scripts/cli.py
Due: format-fix, lint-fix

fix: Fix parameter call
  jobs/ml_jobs/graph_recommendation/scripts/cli.py
Due: format-fix, lint-fix

chore: Factorize mocks
  jobs/ml_jobs/graph_recommendation/tests/evaluation_test.py
Due: format-fix, lint-fix

fix branching (#4580)
  orchestration/dags/jobs/import/import_titelive.py
Due: format-fix, lint-fix

pr: Take pr into account
  jobs/ml_jobs/graph_recommendation/src/constants.py
  jobs/ml_jobs/graph_recommendation/src/evaluation.py
Due: format-fix, lint-fix

(DE-2806) refactor(graph evaluation): Refacto loading in graph evaluation (#4582)
  jobs/ml_jobs/graph_recommendation/scripts/cli.py
  jobs/ml_jobs/graph_recommendation/src/config.py
  jobs/ml_jobs/graph_recommendation/src/constants.py
  jobs/ml_jobs/graph_recommendation/src/embedding_builder.py
  jobs/ml_jobs/graph_recommendation/src/evaluation.py
  jobs/ml_jobs/graph_recommendation/src/utils/gcp.py
  jobs/ml_jobs/graph_recommendation/src/utils/retrieval.py
  jobs/ml_jobs/graph_recommendation/tests/embedding_builder_test.py
  jobs/ml_jobs/graph_recommendation/tests/evaluation_test.py
Due: format-fix, lint-fix

feat: mlflow auth manager & token refresher context
  jobs/ml_jobs/graph_recommendation/scripts/cli.py
  jobs/ml_jobs/graph_recommendation/src/utils/mlflow.py
Due: format-fix, lint-fix

add log msg
  jobs/etl_jobs/external/metabase/main.py
Due: format-fix, lint-fix

add logger
  jobs/etl_jobs/external/metabase/main.py
Due: format-fix, lint-fix

feat: add point to grid strategy
  orchestration/dags/jobs/ml/poc/algo_training_graph_embeddings_grid_search_poc.py
Due: format-fix, lint-fix

stash first changes
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_daily_item_viewed.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_daily_item_viewed_raw.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase_native_daily_item_viewed_enriched.sql
Due: sqlfmt

sqlfmt
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_daily_item_viewed_raw.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase_native_daily_item_viewed_enriched.sql
Due: sqlfmt

update external cultural partner model
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/mrt_external_reporting__cultural_partner.sql
Due: sqlfmt

sqlfmt
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/mrt_external_reporting__cultural_partner.sql
Due: sqlfmt

fix
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/mrt_external_reporting__cultural_partner.sql
Due: sqlfmt

(DE) feat(dbt): Adapt cultural partner external model with venues (#4585)
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/mrt_external_reporting__cultural_partner.sql
Due: sqlfmt

Normalize titelive format article
  jobs/etl_jobs/external/titelive/src/utils/api_transform.py
  jobs/etl_jobs/external/titelive/tests/unit/utils/test_api_transform.py
Due: format-fix, lint-fix

add density_label in eple_aggregated
  orchestration/dags/data_gcp_dbt/models/analytics/eple_aggregated.sql
Due: sqlfmt

refactor: rsyncignore
  .github/workflows/README.md
  .github/workflows/reusable_deploy_airflow.yml
  orchestration/dags/.rsyncignore
  orchestration/dags/jobs/ml/poc/.rsyncignore
  orchestration/dags/jobs/ml/poc/algo_training_graph_embeddings_grid_search_poc.py
Due: format-fix, lint-fix

fix error
  orchestration/dags/data_gcp_dbt/models/analytics/eple_aggregated.sql
Due: sqlfmt

review
  jobs/ml_jobs/graph_recommendation/src/embedding_builder.py
  jobs/ml_jobs/graph_recommendation/src/utils/mlflow.py
Due: format-fix, lint-fix

(DS) feat(mlflow): auth manager & token refresher context (#4583)
  jobs/ml_jobs/graph_recommendation/scripts/cli.py
  jobs/ml_jobs/graph_recommendation/src/embedding_builder.py
  jobs/ml_jobs/graph_recommendation/src/utils/mlflow.py
Due: format-fix, lint-fix

(DA) feat(dbt): Added info in eple_aggregated (#4589)
  orchestration/dags/data_gcp_dbt/models/analytics/eple_aggregated.sql
Due: sqlfmt

fix to get all eans from /search
  jobs/etl_jobs/external/titelive/src/scripts/download_images.py
  jobs/etl_jobs/external/titelive/src/scripts/run_incremental.py
  jobs/etl_jobs/external/titelive/src/scripts/run_init.py
  jobs/etl_jobs/external/titelive/src/utils/api_transform.py
  jobs/etl_jobs/external/titelive/src/utils/ean_processing.py
  jobs/etl_jobs/external/titelive/tests/integration/scripts/test_download_images.py
  jobs/etl_jobs/external/titelive/tests/unit/utils/test_api_transform.py
  jobs/etl_jobs/external/titelive/tests/unit/utils/test_ean_processing.py
Due: format-fix, lint-fix

add minitry in global_collective_booking
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__collective_booking.sql
Due: sqlfmt

add doc
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__collective_booking.yml
Due: none

cleaning: remove tqdm breaking raiflow logs
  jobs/ml_jobs/graph_recommendation/src/graph_builder.py
  jobs/ml_jobs/graph_recommendation/src/heterograph_builder.py
  jobs/ml_jobs/graph_recommendation/src/utils/retrieval.py
Due: format-fix, lint-fix

fix tests
  jobs/etl_jobs/external/titelive/tests/integration/scripts/test_run_incremental.py
  jobs/etl_jobs/external/titelive/tests/integration/scripts/test_run_init.py
Due: format-fix, lint-fix

fix indentation
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__collective_booking.yml
Due: none

removed unnecessary env variables and put input into env (#4581)
  .github/workflows/reusable_build_image.yml
Due: none

make download images deferrable for init
  orchestration/dags/jobs/import/import_titelive.py
Due: format-fix, lint-fix

fix after review
  orchestration/dags/jobs/import/import_titelive.py
Due: format-fix, lint-fix

add user beneficiary information history
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user_beneficiary_information_history.sql
Due: sqlfmt

add user beneficiary information history
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__user_beneficiary_information_history.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user_beneficiary_information_history.sql
Due: sqlfmt

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfmt: any of: \.sql$
