Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
  # Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
  # Add new hook types here to ensure automatic installation when running `pre-commit install`
  - pre-commit
  - pre-push
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: format-fix
        name: Formatting (ruff)
        entry: ruff format
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: lint-fix
        name: Linting (ruff)
        entry: ruff check --fix
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: sqlfmt
        name: SQL Formatting (sqlfmt)
        entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
        stages: [push]
        language: python
        additional_dependencies: ["shandy-sqlfmt[jinjafmt]==0.23.2"]
        types: [sql]
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.3.0
    hooks:
      - id: sqlfluff-fix
        additional_dependencies:
          ["dbt-bigquery==1.8.1", "sqlfluff-templater-dbt"]
        stages: [commit]
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.0
    hooks:
    - id: markdownlint-cli2
      language_version: 24.0.0
      args:
        - --fix

change archiving rules
  jobs/etl_jobs/external/metabase-archiving/utils.py
  orchestration/dags/data_gcp_dbt/models/intermediate/metabase/int_metabase__activity.sql
Due: format-fix, lint-fix, sqlfmt

add doc
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__educational_institution.md
Due: none

feat: Add retrieve_artist_biographies_from_artist_table script
  jobs/ml_jobs/artist_linkage/cli/retrieve_artist_biographies_from_artist_table.py
Due: format-fix, lint-fix

feat: Add skip_llm_summerization option
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

chore: Fix typo
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

fix: Fix input files
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

refactor: Rename files to add transformation order
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

change images cpu et gpu
  orchestration/dags/common/hooks/image.py
Due: format-fix, lint-fix

change images cpu only
  orchestration/dags/common/hooks/image.py
Due: format-fix, lint-fix

sqlfmt
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__offer.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__titelive_products.sql
Due: sqlfmt

(DE) dbt(snapshot): volume anomaly testing (#4688)
  orchestration/dags/data_gcp_dbt/seeds/generate_mock_snapshot.py
  orchestration/dags/data_gcp_dbt/seeds/mock_snapshot.csv
  orchestration/dags/data_gcp_dbt/seeds/schema.yml
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/schema.yml
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__offer.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__titelive_products.sql
  orchestration/dags/data_gcp_dbt/tests/generic/snapshot_volume_anomalies.sql
Due: format-fix, lint-fix, sqlfmt

fix: Update API endpoint and adjust payload for visualization script; enhance constants for database access
  jobs/ml_jobs/edito_semantic_search/Makefile
  jobs/ml_jobs/edito_semantic_search/app/constants.py
  jobs/ml_jobs/edito_semantic_search/app/post_process/panachage.py
  jobs/ml_jobs/edito_semantic_search/app/routes.py
  jobs/ml_jobs/edito_semantic_search/constants.py
  jobs/ml_jobs/edito_semantic_search/streamlits/st_visualise_api_response.py
Due: format-fix, lint-fix

remove offerer_address (#4704)
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offerer.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__offerer.sql
Due: sqlfmt

(DE) feat(recommendation_past_offer_context_sink): replace past_offer_cont… (#4700)
  orchestration/dags/data_gcp_dbt/models/intermediate/pcreco/int_pcreco__displayed_offer_event.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/pcreco/int_pcreco__past_offer_context_sink.sql
Due: sqlfmt

add epci/com level to finance and offer_booking models
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/_schema/mrt_external_reporting__eac_coverage.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/_schema/mrt_external_reporting__eac_credit_usage.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/_schema/mrt_external_reporting__eac_cultural_partner.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/_schema/mrt_external_reporting__eac_domain.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/_schema/mrt_external_reporting__eac_offer_booking.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_coverage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_credit_usage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_domain.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_offer_booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__finance.sql
  orchestration/dags/data_gcp_dbt/models/mart/finance/mrt_finance__reimbursement.sql
Due: sqlfmt

add docs
  orchestration/dags/data_gcp_dbt/models/mart/finance/mrt_finance__reimbursement.yml
Due: none

(DE-3119) refactor(artist): Add refresh metadata without llm flow (#4702)
  jobs/ml_jobs/artist_linkage/cli/retrieve_artist_biographies_from_artist_table.py
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

feat: Implement LLM thematic filtering and refactor prediction logic for improved clarity and performance
  jobs/ml_jobs/edito_semantic_search/app/llm/llm_tools.py
  jobs/ml_jobs/edito_semantic_search/app/routes.py
Due: format-fix, lint-fix

feat: Add transfer_wikimedia_images_to_gcs
  jobs/ml_jobs/artist_linkage/cli/get_wikimedia_commons_license.py
  jobs/ml_jobs/artist_linkage/cli/transfer_wikimedia_images_to_gcs.py
  jobs/ml_jobs/artist_linkage/src/constants.py
Due: format-fix, lint-fix

refactor: Refacto step namings in artist_linkage
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

refactor: Add tqdm in run_parallel_image_transfers
  jobs/ml_jobs/artist_linkage/cli/transfer_wikimedia_images_to_gcs.py
Due: format-fix, lint-fix

feat: Add transfer_wikimedia_images_to_gcs_on_delta_tables
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

refactor: Rename steps to remove 'on_delta_talbles'
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

fix: Fix typo
  jobs/ml_jobs/artist_linkage/cli/transfer_wikimedia_images_to_gcs.py
  jobs/ml_jobs/artist_linkage/src/constants.py
Due: format-fix, lint-fix

(DA) feat(dbt): Remove unused columns in eple_aggregated (#4671)
  orchestration/dags/data_gcp_dbt/models/analytics/eple_aggregated.sql
Due: sqlfmt

WIP feat: Add session
  jobs/ml_jobs/artist_linkage/cli/transfer_wikimedia_images_to_gcs.py
Due: format-fix, lint-fix

refactor: Increase MAX_WORKERS and reduce retries
  jobs/ml_jobs/artist_linkage/cli/transfer_wikimedia_images_to_gcs.py
Due: format-fix, lint-fix

refactor: Check file existence before downloading it
  jobs/ml_jobs/artist_linkage/cli/transfer_wikimedia_images_to_gcs.py
Due: format-fix, lint-fix

fix(bigquery_snapshot_backup): split schema backup for InsertJobOperator compatibility and enforce idempotent historization with hash check (#4703)
  orchestration/dags/jobs/administration/bigquery_snaphot_backup.py
Due: format-fix, lint-fix

refactor: Set POOL_MAXSIZE as MAX_WORKERS
  jobs/ml_jobs/artist_linkage/cli/transfer_wikimedia_images_to_gcs.py
Due: format-fix, lint-fix

feat: Decrease MAX_WORKERS to 10
  jobs/ml_jobs/artist_linkage/cli/transfer_wikimedia_images_to_gcs.py
Due: format-fix, lint-fix

refactor: Add adapter for gcloud
  jobs/ml_jobs/artist_linkage/cli/transfer_wikimedia_images_to_gcs.py
Due: format-fix, lint-fix

Revert "(DE) feat(recommendation_past_offer_context_sink): replace past_offer…"
  orchestration/dags/data_gcp_dbt/models/intermediate/pcreco/int_pcreco__displayed_offer_event.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/pcreco/int_pcreco__past_offer_context_sink.sql
Due: sqlfmt

Revert "(DE) feat(recommendation_past_offer_context_sink): replace past_offer…" (#4710)
  orchestration/dags/data_gcp_dbt/models/intermediate/pcreco/int_pcreco__displayed_offer_event.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/pcreco/int_pcreco__past_offer_context_sink.sql
Due: sqlfmt

Revert "Revert "(DE) feat(recommendation_past_offer_context_sink): replace pa…"
  orchestration/dags/data_gcp_dbt/models/intermediate/pcreco/int_pcreco__displayed_offer_event.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/pcreco/int_pcreco__past_offer_context_sink.sql
Due: sqlfmt

Revert "Revert "(DE) feat(recommendation_past_offer_context_sink): replace pa…" (#4711)
  orchestration/dags/data_gcp_dbt/models/intermediate/pcreco/int_pcreco__displayed_offer_event.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/pcreco/int_pcreco__past_offer_context_sink.sql
Due: sqlfmt

refactor: Add try except block in download images
  jobs/ml_jobs/artist_linkage/cli/transfer_wikimedia_images_to_gcs.py
Due: format-fix, lint-fix
