Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: system
  stages:
  - commit

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: system
  stages:
  - commit

sqlfmt:
  name: SQL Formatting (sqlfmt)
  entry: make sqlfmt
  stages:
  - commit
  language: system

doc global stock
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__booking.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__stock.md
Due: none

add dbt doc mrt_global__offerer
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offerer.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__offerer.md
Due: none

delete cargo source for uv
  orchestration/dags/common/operators/gce.py
Due: format-fix, lint-fix

update doc
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__user.md
Due: none

test pro events & remove where_condition
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/schema/int_firebase__native_event_flattened.yaml
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/pro/schema/int_firebase__pro_event.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/pro/schema/int_firebase__pro_event_flattened.yml
Due: none

fix doc global_stock
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__stock.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__booking.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__stock.md
Due: none

add dbt doc global_venue_provider
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__venue_provider.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__venue_provider.md
Due: none

delete cargo source for uv (#3418)
  orchestration/dags/common/operators/gce.py
Due: format-fix, lint-fix

add user offerer doc
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__user_offerer.md
Due: none

update permissions
  .github/workflows/on_ci__workflow.yml
Due: none

(BSR) fix(ci): update permissions (#3421)
  .github/workflows/on_ci__workflow.yml
Due: none

(DE-778) test(firebase): generic test missing partitions + test firebase events (#3409)
  orchestration/dags/data_gcp_dbt/macros/test_utils/check_date_partition_count.sql
  orchestration/dags/data_gcp_dbt/macros/test_utils/get_missing_date_partitions.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/schema/int_firebase__native_event_flattened.yaml
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/pro/schema/int_firebase__pro_event.yml
  orchestration/dags/data_gcp_dbt/tests/generic/generic_has_no_missing_partitions.sql
Due: sqlfmt

(BSR) fix(ci): add permissions to CD
  .github/workflows/on_cd__workflow.yml
Due: none

bsr - organize dbt macro folder
  orchestration/dags/data_gcp_dbt/macros/database_utils/create_schema_dev.sql
  orchestration/dags/data_gcp_dbt/macros/database_utils/custom_incremental_config.sql
  orchestration/dags/data_gcp_dbt/macros/database_utils/custom_snapshot_config.sql
  orchestration/dags/data_gcp_dbt/macros/database_utils/custom_table_config.sql
  orchestration/dags/data_gcp_dbt/macros/database_utils/generate_schema_name.sql
  orchestration/dags/data_gcp_dbt/macros/database_utils/get_custom_alias.sql
  orchestration/dags/data_gcp_dbt/macros/database_utils/set_table_expiration_dev.sql
  orchestration/dags/data_gcp_dbt/macros/function_utils/extract_params_int_value.sql
  orchestration/dags/data_gcp_dbt/macros/function_utils/extract_params_string_value.sql
  orchestration/dags/data_gcp_dbt/macros/function_utils/extract_str_to_array_field.sql
  orchestration/dags/data_gcp_dbt/macros/function_utils/udf_js/dehumanize_id_function.sql
  orchestration/dags/data_gcp_dbt/macros/function_utils/udf_js/humanize_id_function.sql
  orchestration/dags/data_gcp_dbt/macros/variables/discovery_vars.sql
  orchestration/dags/data_gcp_dbt/macros/variables/get_environment_mediation_url.sql
  orchestration/dags/data_gcp_dbt/tests/generic/cardinality_equality.sql
  orchestration/dags/data_gcp_dbt/tests/generic/not_null_proportion_test.sql
Due: sqlfmt

DA-3871 global_venue doc
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__venue.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__venue.md
Due: none

update dbt doc global_venue_provider
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__venue_provider.md
Due: none

DA-3871 doc collective_booking
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__collective_booking.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__collective_booking.md
Due: none

update dbt doc global_offerer
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offerer.md
Due: none

feat: update clickouse secrets
  jobs/etl_jobs/internal/export_clickhouse/core/utils.py
  orchestration/dags/common/operators/gce.py
Due: format-fix, lint-fix

doc offer metadata
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__offer_metadata.md
Due: none

(BSR) feat(abtest): update two tower model to v1.2
  jobs/ml_jobs/algo_training/two_towers_model/models/two_towers_model.py
  orchestration/dags/jobs/ml/algo_default_deployment.py
  orchestration/dags/jobs/ml/retrieval_vector_build.py
  orchestration/dags/jobs/ml/retrieval_vector_semantic_build.py
Due: format-fix, lint-fix

add column doc
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offer_metadata.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__user_offerer.md
Due: none

(BSR) feat(abtest): update two tower model to v1.2
  orchestration/dags/jobs/ml/algo_training_two_towers.py
Due: format-fix, lint-fix

restart shell after uv install
  orchestration/dags/common/operators/gce.py
Due: format-fix, lint-fix

move and rename model
  orchestration/dags/data_gcp_dbt/models/intermediate/pcapi/int_pcapi__log.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/pcapi/int_pcapi__native_user_feedback.sql
Due: sqlfmt

(BSR) feat(firebase): update projects for firebase native
  orchestration/dags/dependencies/firebase/import_firebase.py
Due: format-fix, lint-fix

(DA-3785) feat(Analytics): Add int_pcapi__native_user_feedback model (#3367)
  orchestration/dags/data_gcp_dbt/models/intermediate/pcapi/int_pcapi__log.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/pcapi/int_pcapi__native_user_feedback.sql
Due: sqlfmt

temporary fix disable doc for particular test in CD
  .github/workflows/on_cd__workflow.yml
  .github/workflows/reusable_deploy_mkdocs.yml
  orchestration/dags/data_gcp_dbt/tests/generic/generic_has_no_missing_partitions.sql
Due: sqlfmt

remove deploy test
  .github/workflows/on_cd__workflow.yml
Due: none

(DE) ci(deployment): temporary fix disable doc for particular test in CD (#3431)
  .github/workflows/reusable_deploy_mkdocs.yml
  orchestration/dags/data_gcp_dbt/tests/generic/generic_has_no_missing_partitions.sql
Due: sqlfmt

restart shell after uv install (#3429)
  orchestration/dags/common/operators/gce.py
Due: format-fix, lint-fix

bsr - organize dbt macro folder (#3425)
  orchestration/dags/data_gcp_dbt/macros/database_utils/create_schema_dev.sql
  orchestration/dags/data_gcp_dbt/macros/database_utils/custom_incremental_config.sql
  orchestration/dags/data_gcp_dbt/macros/database_utils/custom_snapshot_config.sql
  orchestration/dags/data_gcp_dbt/macros/database_utils/custom_table_config.sql
  orchestration/dags/data_gcp_dbt/macros/database_utils/generate_schema_name.sql
  orchestration/dags/data_gcp_dbt/macros/database_utils/get_custom_alias.sql
  orchestration/dags/data_gcp_dbt/macros/database_utils/set_table_expiration_dev.sql
  orchestration/dags/data_gcp_dbt/macros/function_utils/extract_params_int_value.sql
  orchestration/dags/data_gcp_dbt/macros/function_utils/extract_params_string_value.sql
  orchestration/dags/data_gcp_dbt/macros/function_utils/extract_str_to_array_field.sql
  orchestration/dags/data_gcp_dbt/macros/function_utils/udf_js/dehumanize_id_function.sql
  orchestration/dags/data_gcp_dbt/macros/function_utils/udf_js/humanize_id_function.sql
  orchestration/dags/data_gcp_dbt/macros/variables/discovery_vars.sql
  orchestration/dags/data_gcp_dbt/macros/variables/get_environment_mediation_url.sql
  orchestration/dags/data_gcp_dbt/tests/generic/cardinality_equality.sql
  orchestration/dags/data_gcp_dbt/tests/generic/not_null_proportion_test.sql
Due: sqlfmt

(BSR) feat(abtest): update two tower model to v1.2 (#3428)
  jobs/ml_jobs/algo_training/two_towers_model/models/two_towers_model.py
  orchestration/dags/jobs/ml/algo_default_deployment.py
  orchestration/dags/jobs/ml/algo_training_two_towers.py
  orchestration/dags/jobs/ml/retrieval_vector_build.py
  orchestration/dags/jobs/ml/retrieval_vector_semantic_build.py
Due: format-fix, lint-fix

deploy: c4e461724934fd73373debed32d20932942e9616
  __pycache__/hooks.cpython-310.pyc
Due: none

feat: Add missing libraries for orchestration on ubuntu
  Makefile
Due: none

refactor: Remove pyenv from make targets
  Makefile
  README.md
Due: none

feat: Add delete_python_version_files
  Makefile
Due: none

feat: Update install doc
  README.md
Due: none

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfmt: any of: \.sql$
