Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: system
  stages:
  - commit

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: system
  stages:
  - commit

sqlfmt:
  name: SQL Formatting (sqlfmt)
  entry: make sqlfmt
  stages:
  - commit
  language: system

Update sendinblue transactionnal tables for pro
  orchestration/dags/data_gcp_dbt/models/intermediate/brevo/int_brevo__transactional_pro.sql
  orchestration/dags/data_gcp_dbt/models/mart/brevo/mrt_brevo__transactional_pro.sql
  orchestration/dags/dependencies/sendinblue/sql/raw/sendinblue_transactional.sql
Due: sqlfmt

linter
  orchestration/dags/dependencies/sendinblue/sql/raw/sendinblue_transactional.sql
Due: sqlfmt

linter
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__cultural_partner.sql
Due: sqlfmt

add doc
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/brevo/column__brevo.md
  orchestration/dags/data_gcp_dbt/models/intermediate/brevo/int_brevo__transactional_pro.yml
  orchestration/dags/data_gcp_dbt/models/mart/brevo/_schema/mrt_brevo__transactional_pro.yml
Due: none

(DA-3773) feat(dbt): update sendinblue transactionnal (#3773)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/brevo/column__brevo.md
  orchestration/dags/data_gcp_dbt/models/intermediate/brevo/int_brevo__transactional_pro.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/brevo/int_brevo__transactional_pro.yml
  orchestration/dags/data_gcp_dbt/models/mart/brevo/_schema/mrt_brevo__transactional_pro.yml
  orchestration/dags/data_gcp_dbt/models/mart/brevo/mrt_brevo__transactional_pro.sql
  orchestration/dags/dependencies/sendinblue/sql/raw/sendinblue_transactional.sql
Due: sqlfmt

(DE-1077) feat(seed): add & update qpv_population seed (#3771)
  jobs/etl_jobs/internal/gcs_seed/tables_config.py
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/seed/column__qpv.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/seed/description__int_seed__qpv_population.md
  orchestration/dags/data_gcp_dbt/models/intermediate/seed/int_seed__qpv_population.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/seed/schema/int_seed__qpv_population.yml
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: format-fix, lint-fix, sqlfmt

fix: Small fixes
  jobs/ml_jobs/algo_training/two_towers_model/models/two_towers_model.py
  jobs/ml_jobs/algo_training/two_towers_model/train.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/layers.py
Due: format-fix, lint-fix

Test: Increase embedding size
  jobs/ml_jobs/algo_training/two_towers_model/configs/default-features.json
Due: none

feat: Add candidate_sampling_probability
  jobs/ml_jobs/algo_training/two_towers_model/models/two_towers_model.py
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

(BSR) fix(dbt): rename population decimal age in user_penetretion
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/user_penetration.sql
Due: sqlfmt

(BSR) fix(dbt): rename population decimal age in user_penetretion (#3774)
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/user_penetration.sql
Due: sqlfmt

(DE-1078) feat(dbt): update ean logic following backend switch (#3765)
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__extract_offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_ean.sql
  orchestration/dags/data_gcp_dbt/models/raw/applicative/raw_applicative__offer_lite.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/product.sql
Due: sqlfmt

(HF) feat(docs): remove enddocs token
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/native/description__mrt_native__monthly_beneficiary_coverage.md
Due: none

TEST: feat: Update avg diversification scrore computation to speed it up
  jobs/ml_jobs/algo_training/two_towers_model/utils/metrics.py
Due: format-fix, lint-fix

(HF) fix(propilote): fix table naming
  orchestration/dags/dependencies/propilote/sql/tmp/taux_couverture/propilote_tmp_couverture.sql
Due: sqlfmt

feat: Update avg diversification scrore computation to speed it up
  jobs/ml_jobs/algo_training/two_towers_model/utils/metrics.py
Due: format-fix, lint-fix

(HF) fix(propilote): fix table naming
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/user_penetration.sql
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/user_penetration_cohorts.sql
  orchestration/dags/dependencies/propilote/export_propilote.py
  orchestration/dags/dependencies/propilote/sql/tmp/beneficiaires/propilote_tmp_beneficiaires.sql
  orchestration/dags/dependencies/propilote/sql/tmp/montant_24_mois/propilote_tmp_montant_24_mois.sql
  orchestration/dags/dependencies/propilote/sql/tmp/taux_couverture/propilote_tmp_couverture.sql
  orchestration/dags/dependencies/propilote/sql/tmp/taux_participation_eac_ecoles/propilote_tmp_participation_eac_ecoles.sql
  orchestration/dags/dependencies/propilote/sql/tmp/taux_participation_eac_jeunes/propilote_tmp_participation_eac_jeunes.sql
  orchestration/dags/dependencies/propilote/sql/tmp/taux_retention_partenaires/propilote_tmp_taux_retention_partenaires.sql
  orchestration/dags/dependencies/propilote/sql/tmp/taux_utilisation/propilote_tmp_utilisation.sql
Due: format-fix, lint-fix, sqlfmt

clean: Remove train/val separation
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

drop legacy tables
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/aggregated_daily_user_used_activity.sql
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/aggregated_monthly_user_used_booking_activity.sql
  orchestration/dags/dependencies/propilote/sql/tmp/beneficiaires/propilote_tmp_beneficiaires.sql
Due: sqlfmt

clean: Remove comments
  jobs/ml_jobs/algo_training/two_towers_model/models/two_towers_model.py
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

clean: Clean two_towers_model
  jobs/ml_jobs/algo_training/two_towers_model/models/two_towers_model.py
Due: format-fix, lint-fix

(HF) fix(propilote): fix table naming (#3777)
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/aggregated_daily_user_used_activity.sql
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/aggregated_monthly_user_used_booking_activity.sql
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/user_penetration.sql
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/user_penetration_cohorts.sql
  orchestration/dags/dependencies/propilote/export_propilote.py
  orchestration/dags/dependencies/propilote/sql/tmp/beneficiaires/propilote_tmp_beneficiaires.sql
  orchestration/dags/dependencies/propilote/sql/tmp/montant_24_mois/propilote_tmp_montant_24_mois.sql
  orchestration/dags/dependencies/propilote/sql/tmp/taux_couverture/propilote_tmp_couverture.sql
  orchestration/dags/dependencies/propilote/sql/tmp/taux_participation_eac_ecoles/propilote_tmp_participation_eac_ecoles.sql
  orchestration/dags/dependencies/propilote/sql/tmp/taux_participation_eac_jeunes/propilote_tmp_participation_eac_jeunes.sql
  orchestration/dags/dependencies/propilote/sql/tmp/taux_retention_partenaires/propilote_tmp_taux_retention_partenaires.sql
  orchestration/dags/dependencies/propilote/sql/tmp/taux_utilisation/propilote_tmp_utilisation.sql
Due: format-fix, lint-fix, sqlfmt

feat: Update callbacks
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

fix: Remove repeat dataset
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

(DE-931) dbt(tests): switch global offer unicity to critical
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offer.yml
Due: none

Update culture scientifique
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__venue_tag.sql
Due: sqlfmt

(DE-931) dbt(tests): switch global offer unicity to critical (#3778)
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offer.yml
Due: none

fix
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__venue_tag.sql
Due: sqlfmt

fix
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__cultural_partner.sql
Due: sqlfmt

feat: Debug => Switch from NumericalFeature to IntegerEmbeddingLayer
  jobs/ml_jobs/algo_training/two_towers_model/models/two_towers_model.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/layers.py
Due: format-fix, lint-fix

debug on debug
  jobs/ml_jobs/algo_training/two_towers_model/train.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/layers.py
Due: format-fix, lint-fix

(DE-931) dbt(tests): critical tests only in dbt run dag
  orchestration/dags/common/dbt/utils.py
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offer.yml
  orchestration/dags/data_gcp_dbt/scripts/dbt_test_model.sh
Due: format-fix, lint-fix

(DE-931) dbt(tests): critical tests only in dbt run dag (#3779)
  orchestration/dags/common/dbt/utils.py
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offer.yml
  orchestration/dags/data_gcp_dbt/scripts/dbt_test_model.sh
Due: format-fix, lint-fix

debug on debug on debug
  jobs/ml_jobs/algo_training/two_towers_model/models/two_towers_model.py
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

(HF) feat(dbt): fix extract_offer table
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__extract_offer.sql
Due: sqlfmt

(HF) feat(dbt): fix extract_offer table (#3780)
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__extract_offer.sql
Due: sqlfmt

(BSR) feat(import): Add more schedule time to cloudsql import
  orchestration/dags/jobs/api/export_cloudsql_tables_to_bigquery.py
Due: format-fix, lint-fix

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfmt: any of: \.sql$
