Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: python
  stages:
  - commit
  additional_dependencies:
  - ruff==0.5.7

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: python
  stages:
  - commit
  additional_dependencies:
  - ruff==0.5.7

sqlfmt:
  name: SQL Formatting (sqlfmt)
  entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
  ...

fix
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_offer_category.sql
Due: sqlfmt

fix: inverse rank for masked data -> _ranked suffix
  jobs/etl_jobs/external/ppg/config.py
  jobs/etl_jobs/external/ppg/services/data.py
Due: format-fix, lint-fix

fix: reorder 1st breakdown
  jobs/etl_jobs/external/ppg/config.py
  jobs/etl_jobs/external/ppg/services/data.py
Due: format-fix, lint-fix

feat: Add embedding_builder
  jobs/ml_jobs/graph_recommendation/pyproject.toml
  jobs/ml_jobs/graph_recommendation/src/graph_recommendation/embedding_builder.py
  jobs/ml_jobs/graph_recommendation/uv.lock
Due: format-fix, lint-fix

refactor: Update graph_embeddings
  jobs/ml_jobs/graph_recommendation/src/graph_recommendation/embedding_builder.py
Due: format-fix, lint-fix

feat: Add callbacks for training
  jobs/ml_jobs/graph_recommendation/.gitignore
  jobs/ml_jobs/graph_recommendation/src/graph_recommendation/embedding_builder.py
Due: format-fix, lint-fix

docs
  jobs/etl_jobs/external/ppg/README.md
Due: none

feat: Add lancedb and update train function
  jobs/ml_jobs/graph_recommendation/pyproject.toml
  jobs/ml_jobs/graph_recommendation/src/graph_recommendation/embedding_builder.py
  jobs/ml_jobs/graph_recommendation/uv.lock
Due: format-fix, lint-fix

WIP: optimize data transfer
  jobs/ml_jobs/graph_recommendation/src/graph_recommendation/embedding_builder.py
Due: format-fix, lint-fix

fix: Add missing wikidata_id in artist_delta table (#4483)
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__artist_delta.sql
Due: sqlfmt

WIP: update params and optimizer
  jobs/ml_jobs/graph_recommendation/src/graph_recommendation/embedding_builder.py
Due: format-fix, lint-fix

fix
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/mrt_external_reporting__cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/mrt_external_reporting__finance.sql
Due: sqlfmt

sqlfmt
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/mrt_external_reporting__cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/mrt_external_reporting__finance.sql
Due: sqlfmt

fix path
  orchestration/dags/jobs/administration/bigquery_historize_applicative_database.py
Due: format-fix, lint-fix

refactor: tops partitioning and ordering config
  jobs/etl_jobs/external/ppg/config.py
  jobs/etl_jobs/external/ppg/services/data.py
  jobs/etl_jobs/external/ppg/services/orchestration.py
Due: format-fix, lint-fix

fix path (#4502)
  orchestration/dags/jobs/administration/bigquery_historize_applicative_database.py
Due: format-fix, lint-fix

WIP: try other params
  jobs/ml_jobs/graph_recommendation/src/graph_recommendation/embedding_builder.py
Due: format-fix, lint-fix

(DE) feat(dbt): Fix error in external reporting eac credit usage model (#4500)
  jobs/etl_jobs/external/ppg/Makefile
  jobs/etl_jobs/external/ppg/README.md
  jobs/etl_jobs/external/ppg/config.py
  jobs/etl_jobs/external/ppg/core.py
  jobs/etl_jobs/external/ppg/main.py
  jobs/etl_jobs/external/ppg/services/data.py
  jobs/etl_jobs/external/ppg/services/excel_layout.py
  jobs/etl_jobs/external/ppg/services/excel_writer.py
  jobs/etl_jobs/external/ppg/services/orchestration.py
  jobs/etl_jobs/external/ppg/services/tracking.py
  jobs/etl_jobs/external/ppg/templates/export_template.xlsx
  jobs/etl_jobs/external/ppg/utils/data_utils.py
  jobs/etl_jobs/external/ppg/utils/duckdb_utils.py
  jobs/etl_jobs/external/ppg/utils/file_utils.py
  jobs/etl_jobs/external/ppg/utils/verbose_logger.py
  jobs/etl_jobs/external/ppg/uv.lock
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_credit_usage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/mrt_external_reporting__cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/mrt_external_reporting__finance.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_offer_category.sql
  orchestration/dags/jobs/export/export_ppg.py
Due: format-fix, lint-fix, sqlfmt

deploy: c3831ebc5360aa3c3ddafb9fd7241f9c37da3fc2
  __pycache__/hooks.cpython-312.pyc
  sitemap.xml
  sitemap.xml.gz
Due: none

(HF) fix(metabase): typo
  orchestration/dags/dependencies/metabase/sql/raw/report_card.sql
Due: sqlfmt

(HF) fix(metabase): typo (#4504)
  orchestration/dags/dependencies/metabase/sql/raw/report_card.sql
Due: sqlfmt

deploy: 7473326d39fd4465d3c433a69562b363c8b7725d
  __pycache__/hooks.cpython-312.pyc
  sitemap.xml
  sitemap.xml.gz
Due: none

WIP: add torch cluster
  jobs/ml_jobs/graph_recommendation/pyproject.toml
  jobs/ml_jobs/graph_recommendation/src/graph_recommendation/embedding_builder.py
  jobs/ml_jobs/graph_recommendation/uv.lock
Due: format-fix, lint-fix

fix bucket name in QPI_exports
  orchestration/dags/jobs/import/import_qpi.py
Due: format-fix, lint-fix

fix bucket name in QPI_exports (#4506)
  orchestration/dags/jobs/import/import_qpi.py
Due: format-fix, lint-fix

feat: Use heterograph_builder
  jobs/ml_jobs/graph_recommendation/src/graph_recommendation/heterograph_builder.py
Due: format-fix, lint-fix

deploy: 770a9dafe381bb713aa8d7e88ddf6960fcb2f4b9
  __pycache__/hooks.cpython-312.pyc
Due: none

feat: Update cli
  jobs/ml_jobs/graph_recommendation/scripts/cli.py
  jobs/ml_jobs/graph_recommendation/src/graph_recommendation/heterograph_builder.py
Due: format-fix, lint-fix

fix bucket name
  orchestration/dags/jobs/import/import_dms_subscriptions.py
Due: format-fix, lint-fix

add event field
  jobs/etl_jobs/external/gsheet/gsheet.py
Due: format-fix, lint-fix

fix bucket name (#4508)
  orchestration/dags/jobs/import/import_dms_subscriptions.py
Due: format-fix, lint-fix

(BSR) build(airflow): include google-cloud-bigquery-storage to airflow image for bigqueryHook performance
  orchestration/airflow/orchestration-requirements.txt
  orchestration/k8s-airflow/k8s-worker-requirements.txt
  pyproject.toml
  uv.lock
Due: none

deploy: b5b83a4ea13c6fe84923adf5583bce3615348020
  __pycache__/hooks.cpython-312.pyc
Due: none

WIP: refactor: Update embedding_builder.py to use metapath to vec
  jobs/ml_jobs/graph_recommendation/src/graph_recommendation/embedding_builder.py
Due: format-fix, lint-fix

feat: Add GCS upload functionality and update embedding dimension
  jobs/ml_jobs/retrieval_vector/create_vector_database.py
  jobs/ml_jobs/retrieval_vector/pyproject.toml
  orchestration/dags/jobs/ml/retrieval_vector_semantic_build.py
Due: format-fix, lint-fix

refacto user_role
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__user.sql
Due: sqlfmt

update int_applicative__user
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__user.sql
Due: sqlfmt

renaming
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__user_beneficiary.md
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__user_beneficiary.yml
Due: none

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfmt: any of: \.sql$
