Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
  # Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
  # Add new hook types here to ensure automatic installation when running `pre-commit install`
  - pre-commit
  - pre-push
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: format-fix
        name: Formatting (ruff)
        entry: ruff format
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: lint-fix
        name: Linting (ruff)
        entry: ruff check --fix
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: sqlfmt
        name: SQL Formatting (sqlfmt)
        entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
        stages: [push]
        language: python
        additional_dependencies: ["shandy-sqlfmt[jinjafmt]==0.23.2"]
        types: [sql]
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.3.0
    hooks:
      - id: sqlfluff-fix
        additional_dependencies:
          ["dbt-bigquery==1.8.1", "sqlfluff-templater-dbt"]
        stages: [commit]
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.0
    hooks:
    - id: markdownlint-cli2
      language_version: 24.0.0
      args:
        - --fix

(DE-1770) feat(firebase): add firebase performance data (#4244)
  orchestration/dags/dependencies/firebase/import_firebase.py
  orchestration/dags/dependencies/firebase/sql/raw/firebase_performance.sql
  orchestration/dags/jobs/import/import_firebase.py
Due: format-fix, lint-fix, sqlfmt

deploy: 752ea04aca54e8777e0af339c64b601a1778d6b9
  __pycache__/hooks.cpython-312.pyc
  sitemap.xml
  sitemap.xml.gz
Due: none

fix: disable defered airflow task
  orchestration/dags/jobs/ml/algo_training_two_towers.py
  orchestration/dags/jobs/ml/embedding_clusterisation_item.py
  orchestration/dags/jobs/ml/embedding_extraction_item.py
  orchestration/dags/jobs/ml/embedding_reduction_item.py
Due: format-fix, lint-fix

fix: disable defered airflow task (#4291)
  orchestration/dags/jobs/ml/algo_training_two_towers.py
  orchestration/dags/jobs/ml/embedding_clusterisation_item.py
  orchestration/dags/jobs/ml/embedding_extraction_item.py
  orchestration/dags/jobs/ml/embedding_reduction_item.py
Due: format-fix, lint-fix

create first ppg_beneficiaries model
  orchestration/dags/data_gcp_dbt/dbt_project.yml
  orchestration/dags/data_gcp_dbt/macros/function_utils/generate_group_type_columns.sql
  orchestration/dags/data_gcp_dbt/models/mart/propilote/PPG/ephemerals_kpis/mrt_propilote__ppg_beneficiaries.sql
Due: sqlfmt

fmt
  orchestration/dags/data_gcp_dbt/macros/function_utils/generate_group_type_columns.sql
  orchestration/dags/data_gcp_dbt/models/mart/propilote/PPG/ephemerals_kpis/mrt_propilote__ppg_beneficiaries.sql
Due: sqlfmt

(HF) fix(firebase): add deepcopy firebase performance config
  orchestration/dags/jobs/import/import_firebase.py
Due: format-fix, lint-fix

(HF) fix(firebase): add deepcopy firebase performance config (#4292)
  orchestration/dags/jobs/import/import_firebase.py
Due: format-fix, lint-fix

(HF) fix(firebase): add missing comma
  orchestration/dags/dependencies/firebase/sql/raw/firebase_performance.sql
Due: sqlfmt

create macro and properties for ppg kpis
  orchestration/dags/data_gcp_dbt/dbt_project.yml
  orchestration/dags/data_gcp_dbt/macros/function_utils/generate_group_type_columns.sql
Due: sqlfmt

create first ppg kpi model
  orchestration/dags/data_gcp_dbt/models/mart/propilote/PPG/ephemerals_kpis/mrt_propilote__ppg_beneficiary.sql
Due: sqlfmt

(BSR) fix(firebase): enforce bookingId type
  orchestration/dags/data_gcp_dbt/macros/function_utils/extract_params_int_value.sql
  orchestration/dags/data_gcp_dbt/macros/function_utils/extract_params_string_value.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_event_flattened.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/pro/int_firebase__pro_event_flattened.sql
Due: sqlfmt

Revert "fix: disable defered airflow task (#4291)"
  orchestration/dags/jobs/ml/algo_training_two_towers.py
  orchestration/dags/jobs/ml/embedding_clusterisation_item.py
  orchestration/dags/jobs/ml/embedding_extraction_item.py
  orchestration/dags/jobs/ml/embedding_reduction_item.py
Due: format-fix, lint-fix

fix: enforce offerId as string Type
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_event_flattened.sql
Due: sqlfmt

Revert "fix: disable defered airflow task (#4291)" (#4295)
  orchestration/dags/jobs/ml/algo_training_two_towers.py
  orchestration/dags/jobs/ml/embedding_clusterisation_item.py
  orchestration/dags/jobs/ml/embedding_extraction_item.py
  orchestration/dags/jobs/ml/embedding_reduction_item.py
Due: format-fix, lint-fix

lint
  orchestration/dags/data_gcp_dbt/macros/function_utils/extract_params_int_value.sql
  orchestration/dags/data_gcp_dbt/macros/function_utils/extract_params_string_value.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_event_flattened.sql
  orchestration/dags/data_gcp_dbt/snapshots/intermediate/snasphot_intermediate__bookable_collective_offer.sql
  orchestration/dags/data_gcp_dbt/snapshots/intermediate/snasphot_intermediate__bookable_offer.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__offer.sql
Due: sqlfmt

(DE-2014) refactor(dbt): switch dbt dag to python operators + monthly/weekly dynamic skip (#4288)
  orchestration/dags/common/dbt/dag_utils.py
  orchestration/dags/common/dbt/dbt_executors.py
  orchestration/dags/data_gcp_dbt/macros/airflow/is_first_day_of_month.sql
  orchestration/dags/data_gcp_dbt/scripts/dbt_clean.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_clean_tmp_folders.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_compile.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_deps.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_docs.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_manifest.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_run.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_run_operation.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_run_tag.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_snapshot.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_test.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_test_model.sh
  orchestration/dags/data_gcp_dbt/scripts/defer_local_run.sh
  orchestration/dags/data_gcp_dbt/scripts/helpers.sh
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__offer.sql
  orchestration/dags/jobs/crons.py
  orchestration/dags/jobs/dbt/dbt_artifacts.py
  orchestration/dags/jobs/dbt/dbt_encrypted_export.py
  orchestration/dags/jobs/dbt/dbt_monthly_tables.py
  orchestration/dags/jobs/dbt/dbt_run_dag.py
  orchestration/dags/jobs/dbt/dbt_weekly_tables.py
Due: format-fix, lint-fix, sqlfmt

(BSR) fix(firebase): enforce bookingId type (#4294)
  orchestration/dags/data_gcp_dbt/macros/function_utils/extract_params_int_value.sql
  orchestration/dags/data_gcp_dbt/macros/function_utils/extract_params_string_value.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_event_flattened.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/pro/int_firebase__pro_event_flattened.sql
  orchestration/dags/data_gcp_dbt/snapshots/intermediate/snasphot_intermediate__bookable_collective_offer.sql
  orchestration/dags/data_gcp_dbt/snapshots/intermediate/snasphot_intermediate__bookable_offer.sql
Due: sqlfmt

sqlfmt
  .github/workflows/on_cd__workflow.yml
Due: none

deploy: 4c468e19fe7687f02b49619a90140268664bc044
  __pycache__/hooks.cpython-312.pyc
  sitemap.xml
  sitemap.xml.gz
Due: none

(DE) fix(dbt): type management global cli flags
  orchestration/dags/common/dbt/dbt_executors.py
Due: format-fix, lint-fix

add trim + split
  orchestration/dags/common/dbt/dbt_executors.py
Due: format-fix, lint-fix

refactor: Update link_new_products_to_artists
  jobs/ml_jobs/artist_linkage/link_new_products_to_artists.py
Due: format-fix, lint-fix

WIPP
  jobs/ml_jobs/artist_linkage/streamlits/st_analyze_preprocessing.py
  jobs/ml_jobs/artist_linkage/streamlits/st_create_preprocessing_test_set.py
Due: format-fix, lint-fix

refacto: Refacto preprocess.py
  jobs/ml_jobs/artist_linkage/constants.py
  jobs/ml_jobs/artist_linkage/link_new_products_to_artists.py
  jobs/ml_jobs/artist_linkage/preprocess.py
Due: format-fix, lint-fix

feat: Add whitespace between initials
  jobs/ml_jobs/artist_linkage/streamlits/st_analyze_preprocessing.py
Due: format-fix, lint-fix

feat: Improve preprocessing
  jobs/ml_jobs/artist_linkage/streamlits/st_analyze_preprocessing.py
  jobs/ml_jobs/artist_linkage/tests/utils/data/preprocessing_test_set.csv
Due: format-fix, lint-fix

WIP: Add st_analyze_preprocessing.py
  jobs/ml_jobs/artist_linkage/streamlits/st_analyze_preprocessing.py
  jobs/ml_jobs/artist_linkage/tests/utils/data/preprocessing_test_set.csv
Due: format-fix, lint-fix

fix: Fix test set
  jobs/ml_jobs/artist_linkage/streamlits/st_analyze_preprocessing.py
  jobs/ml_jobs/artist_linkage/tests/utils/data/preprocessing_test_set.csv
Due: format-fix, lint-fix

feat: Remove accents from extracted_name
  jobs/ml_jobs/artist_linkage/streamlits/st_analyze_preprocessing.py
  jobs/ml_jobs/artist_linkage/utils/preprocessing_utils.py
Due: format-fix, lint-fix

feat: Improve collectif catching
  jobs/ml_jobs/artist_linkage/utils/preprocessing_utils.py
Due: format-fix, lint-fix

feat: Add raw_alias in wikidata extract
  jobs/ml_jobs/artist_linkage/extract_from_wikidata.py
Due: format-fix, lint-fix

refacto: Refacto link_new_products_to_artists.py
  jobs/ml_jobs/artist_linkage/link_new_products_to_artists.py
  jobs/ml_jobs/artist_linkage/preprocess.py
Due: format-fix, lint-fix

feat: Improve comma split preprocessing
  jobs/ml_jobs/artist_linkage/streamlits/st_analyze_preprocessing.py
Due: format-fix, lint-fix

handle different cases for global cli flags
  orchestration/dags/common/dbt/dbt_executors.py
Due: format-fix, lint-fix

style: normalize flag
  orchestration/dags/jobs/dbt/dbt_encrypted_export.py
Due: format-fix, lint-fix

(DE) fix(dbt): type management global cli flags (#4297)
  orchestration/dags/common/dbt/dbt_executors.py
  orchestration/dags/jobs/dbt/dbt_encrypted_export.py
Due: format-fix, lint-fix

(HF) fix(dbt): fix cli args
  orchestration/dags/common/dbt/dbt_executors.py
Due: format-fix, lint-fix

fix
  orchestration/dags/common/dbt/dbt_executors.py
Due: format-fix, lint-fix
