Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
  # Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
  # Add new hook types here to ensure automatic installation when running `pre-commit install`
  - pre-commit
  - pre-push
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: format-fix
        name: Formatting (ruff)
        entry: ruff format
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: lint-fix
        name: Linting (ruff)
        entry: ruff check --fix
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: sqlfmt
        name: SQL Formatting (sqlfmt)
        entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
        stages: [push]
        language: python
        additional_dependencies: ["shandy-sqlfmt[jinjafmt]==0.23.2"]
        types: [sql]
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.3.0
    hooks:
      - id: sqlfluff-fix
        additional_dependencies:
          ["dbt-bigquery==1.8.1", "sqlfluff-templater-dbt"]
        stages: [commit]
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.0
    hooks:
    - id: markdownlint-cli2
      language_version: 24.0.0
      args:
        - --fix

fix/layout: match lexique header size modification in template
  jobs/etl_jobs/external/external_reporting/config.py
  jobs/etl_jobs/external/external_reporting/services/orchestration.py
  jobs/etl_jobs/external/external_reporting/utils/verbose_logger.py
Due: format-fix, lint-fix

fix(metadata): correct data type casting in completion score macro and update required creator metadata format
  orchestration/dags/data_gcp_dbt/macros/function_utils/completion_score.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/metadata/ml_metadata__item_quality.sql
Due: sqlfmt

created dependabot yaml file to open PR only for security updates and with formatted commit message
  dependabot.yml
Due: none

pr LIMIT to 5
  dependabot.yml
Due: none

(BSR) chore(dependabot): created dependabot yaml file to open PR only for security updates and with formatted commit message (#4793)
  dependabot.yml
Due: none

fix doublons
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/eple_aggregated.sql
Due: sqlfmt

(DE) refactor(adage): Update adage api call (#4783)
  jobs/etl_jobs/external/adage/main.py
  jobs/etl_jobs/external/adage/scripts/import_adage.py
  jobs/etl_jobs/external/adage/scripts/utils.py
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/adage.sql
Due: format-fix, lint-fix, sqlfmt

feat(utils): add JSON import and enhance MLflow token retrieval with service account credentials
  jobs/ml_jobs/ranking_endpoint/utils.py
Due: format-fix, lint-fix

(BSR) refactor(dag): remove historization dag
  orchestration/dags/jobs/administration/bigquery_historize_applicative_database.py
Due: format-fix, lint-fix

fix(utils): correct secret retrieval for service account in connect_remote_mlflow
  jobs/ml_jobs/ranking_endpoint/utils.py
Due: format-fix, lint-fix

refactor/embeddings: semantic emb as array(float64)
  jobs/ml_jobs/embeddings_v2/configs/default-config-item.json
  jobs/ml_jobs/embeddings_v2/main.py
  jobs/ml_jobs/embeddings_v2/pyproject.toml
  jobs/ml_jobs/embeddings_v2/tools/__init__.py
  jobs/ml_jobs/embeddings_v2/tools/config.py
  jobs/ml_jobs/embeddings_v2/tools/embedding_extraction.py
  jobs/ml_jobs/embeddings_v2/utils/__init__.py
  jobs/ml_jobs/embeddings_v2/utils/bigquery.py
  jobs/ml_jobs/embeddings_v2/utils/download.py
  jobs/ml_jobs/embeddings_v2/utils/file_handler.py
  jobs/ml_jobs/embeddings_v2/utils/logging.py
  jobs/ml_jobs/embeddings_v2/uv.lock
  orchestration/dags/jobs/ml/embedding_extraction_item_v2.py
Due: format-fix, lint-fix

add field activity to venue tables
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__venue.md
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__venue.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__venue.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__venue.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/venue.sql
Due: sqlfmt

migrate eple_aggregated from legacy to mrt_collective
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/metric/column__metric.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/collective/description__mrt_collective__eple_aggregated.md
  orchestration/dags/data_gcp_dbt/models/mart/collective/_schema/mrt_collective__eple_aggregated.yml
  orchestration/dags/data_gcp_dbt/models/mart/collective/mrt_collective__eple_aggregated.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_credit_usage.sql
Due: sqlfmt

refactor/embeddings: embedding reduction job as array(float64)
  jobs/ml_jobs/reduction_v2/configs/reduction/default-config.json
  jobs/ml_jobs/reduction_v2/dimension_reduction.py
  jobs/ml_jobs/reduction_v2/pyproject.toml
  jobs/ml_jobs/reduction_v2/tools/__init__.py
  jobs/ml_jobs/reduction_v2/tools/dimension_reduction.py
  jobs/ml_jobs/reduction_v2/tools/reduction_tools.py
  jobs/ml_jobs/reduction_v2/tools/utils.py
  jobs/ml_jobs/reduction_v2/uv.lock
  orchestration/dags/data_gcp_dbt/models/machine_learning/feature/ml_feat__item_embedding_v2.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/input/ml_input__item_embedding_extraction_v2.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
  orchestration/dags/jobs/ml/embedding_reduction_item_v2.py
Due: format-fix, lint-fix, sqlfmt

refactor/embeddings: embedding culterisation jobs as array(float64)
  jobs/ml_jobs/clusterisation_v2/README.md
  jobs/ml_jobs/clusterisation_v2/cluster/generate.py
  jobs/ml_jobs/clusterisation_v2/cluster/preprocess.py
  jobs/ml_jobs/clusterisation_v2/configs/cluster/default-config.json
  jobs/ml_jobs/clusterisation_v2/configs/cluster/unconstrained-config.json
  jobs/ml_jobs/clusterisation_v2/pyproject.toml
  jobs/ml_jobs/clusterisation_v2/tools/__init__.py
  jobs/ml_jobs/clusterisation_v2/tools/clusterisation.py
  jobs/ml_jobs/clusterisation_v2/tools/preprocessing.py
  jobs/ml_jobs/clusterisation_v2/tools/utils.py
  jobs/ml_jobs/clusterisation_v2/uv.lock
  orchestration/dags/data_gcp_dbt/models/machine_learning/compliance/ml_compliance__training_data_offer_v2.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/feature/ml_feat__item_feature_28_day_v2.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/input/ml_input__item_embedding_clusterisation_v2.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_click_v2.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_item_feature_v2.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
  orchestration/dags/jobs/ml/embedding_clusterisation_item_v2.py
Due: format-fix, lint-fix, sqlfmt

rremove cron
  orchestration/dags/jobs/crons.py
Due: format-fix, lint-fix

(DA-3242) feat(dbt): refacto eple_aggregated (#4790)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/metric/column__metric.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/collective/description__mrt_collective__eple_aggregated.md
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/eple_aggregated.sql
  orchestration/dags/data_gcp_dbt/models/mart/collective/_schema/mrt_collective__eple_aggregated.yml
  orchestration/dags/data_gcp_dbt/models/mart/collective/mrt_collective__eple_aggregated.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_credit_usage.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__collective_booking.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__collective_booking.sql
Due: sqlfmt

add docs
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__institution.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__venue.md
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__collective_booking.yml
Due: none

propagate epci & city code to individual reporting
  orchestration/dags/data_gcp_dbt/macros/external_reporting/get_dimensions.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__booking.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__stock.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__user_beneficiary.sql
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/eple_aggregated.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__beneficiary.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/kpis_segments/mrt_external_reporting__finance.sql
  orchestration/dags/data_gcp_dbt/models/mart/finance/mrt_finance__reimbursement.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__educational_institution.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user_beneficiary.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__outgoing_cohort.sql
Due: sqlfmt

refactor: Rename columns in sparql queries
  jobs/ml_jobs/artist_linkage/queries/extract_book_artists.rq
  jobs/ml_jobs/artist_linkage/queries/extract_gkg_artists.rq
  jobs/ml_jobs/artist_linkage/queries/extract_movie_artists.rq
  jobs/ml_jobs/artist_linkage/queries/extract_music_artists.rq
Due: none

refactor: Rename columns for wikidata_id and description
  jobs/ml_jobs/artist_linkage/cli/evaluate.py
  jobs/ml_jobs/artist_linkage/cli/extract_from_wikidata.py
  jobs/ml_jobs/artist_linkage/cli/link_new_products_to_artists.py
  jobs/ml_jobs/artist_linkage/cli/refresh_artist_metadatas.py
  jobs/ml_jobs/artist_linkage/src/constants.py
  jobs/ml_jobs/artist_linkage/src/utils/matching.py
Due: format-fix, lint-fix

refactor: Update ml_linkage__delta_artist.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__delta_artist.sql
Due: sqlfmt

refactor: Rename wikimedia columns
  jobs/ml_jobs/artist_linkage/cli/get_wikimedia_commons_license.py
  jobs/ml_jobs/artist_linkage/cli/transfer_wikimedia_images_to_gcs.py
  jobs/ml_jobs/artist_linkage/src/constants.py
Due: format-fix, lint-fix

refactor: Update delta_artist sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__delta_artist.sql
Due: sqlfmt

feat: Import artist scores as well as mediation_uuid in applicative artist
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/artist.sql
Due: sqlfmt

fix: Fix delta_artist_alias sql
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/ml/column__wikidata.md
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__artist_alias_delta.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__delta_artist_alias.sql
Due: sqlfmt

Add logging and replace dataset_query by legacy
  jobs/etl_jobs/external/metabase-archiving/dependencies.py
  jobs/etl_jobs/external/metabase-archiving/metabase_api.py
  jobs/etl_jobs/external/metabase/native.py
Due: format-fix, lint-fix

match quotes
  jobs/etl_jobs/external/metabase-archiving/dependencies.py
Due: format-fix, lint-fix

replace mbql by query
  jobs/etl_jobs/external/metabase-archiving/dependencies.py
  jobs/etl_jobs/external/metabase-archiving/metabase_api.py
  jobs/etl_jobs/external/metabase/native.py
Due: format-fix, lint-fix

rework metabase
  jobs/etl_jobs/external/metabase-archiving/dependencies.py
  jobs/etl_jobs/external/metabase-archiving/metabase_api.py
  jobs/etl_jobs/external/metabase/native.py
Due: format-fix, lint-fix

updates
  jobs/etl_jobs/external/metabase-archiving/dependencies.py
Due: format-fix, lint-fix

fix
  jobs/etl_jobs/external/metabase-archiving/dependencies.py
Due: format-fix, lint-fix

fix 2
  jobs/etl_jobs/external/metabase-archiving/dependencies.py
Due: format-fix, lint-fix

fix 3
  jobs/etl_jobs/external/metabase-archiving/dependencies.py
Due: format-fix, lint-fix

(DE-3249) refactor(artist dag): Rename wiki_id and description keys (#4798)
  jobs/ml_jobs/artist_linkage/cli/evaluate.py
  jobs/ml_jobs/artist_linkage/cli/extract_from_wikidata.py
  jobs/ml_jobs/artist_linkage/cli/get_wikimedia_commons_license.py
  jobs/ml_jobs/artist_linkage/cli/link_new_products_to_artists.py
  jobs/ml_jobs/artist_linkage/cli/refresh_artist_metadatas.py
  jobs/ml_jobs/artist_linkage/cli/transfer_wikimedia_images_to_gcs.py
  jobs/ml_jobs/artist_linkage/queries/extract_book_artists.rq
  jobs/ml_jobs/artist_linkage/queries/extract_gkg_artists.rq
  jobs/ml_jobs/artist_linkage/queries/extract_movie_artists.rq
  jobs/ml_jobs/artist_linkage/queries/extract_music_artists.rq
  jobs/ml_jobs/artist_linkage/src/constants.py
  jobs/ml_jobs/artist_linkage/src/utils/matching.py
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/ml/column__wikidata.md
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__artist_alias_delta.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__delta_artist.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__delta_artist_alias.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/artist.sql
Due: format-fix, lint-fix, sqlfmt

propagate epci & city code to eac reporting
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_credit_usage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_offer_booking.sql
Due: sqlfmt

add logging
  jobs/etl_jobs/external/metabase-archiving/dependencies.py
Due: format-fix, lint-fix

fix metabase
  jobs/etl_jobs/external/metabase-archiving/dependencies.py
Due: format-fix, lint-fix

add legacy_query
  jobs/etl_jobs/external/metabase-archiving/dependencies.py
Due: format-fix, lint-fix
