Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: python
  stages:
  - commit
  additional_dependencies:
  - ruff==0.5.7

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: python
  stages:
  - commit
  additional_dependencies:
  - ruff==0.5.7

sqlfmt:
  name: SQL Formatting (sqlfmt)
  entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
  ...

fix int global venue
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__venue.sql
Due: sqlfmt

fix
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__venue.sql
Due: sqlfmt

fix
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/eple_aggregated.sql
Due: sqlfmt

adapt institution coverage kpis
  orchestration/dags/data_gcp_dbt/macros/external_reporting/get_eac_objects.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_coverage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_institution.sql
Due: sqlfmt

add docs
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/collective/description__mrt_external_reporting__eac_institution.md
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/_schema/mrt_external_reporting__eac_institution.yml
Due: none

fix
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/kpis_segments/mrt_external_reporting__eac_institution.sql
Due: sqlfmt

fix doc
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__collective_booking.md
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__collective_booking.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__collective_booking.sql
Due: sqlfmt

fix: update tensorflow version to 2.16.0 in dependencies
  jobs/ml_jobs/endpoint_monitoring/pyproject.toml
  jobs/ml_jobs/endpoint_monitoring/uv.lock
Due: none

fix doc
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__collective_booking.yml
Due: none

cleaned trainig pipeline
  jobs/ml_jobs/finance/README.md
  jobs/ml_jobs/finance/main_prophet.py
  jobs/ml_jobs/finance/pyproject.toml
  jobs/ml_jobs/finance/src/prophet/evaluate.py
  jobs/ml_jobs/finance/src/prophet/forecast.py
  jobs/ml_jobs/finance/src/prophet/model_config.py
  jobs/ml_jobs/finance/src/prophet/plots.py
  jobs/ml_jobs/finance/src/prophet/predict.py
  jobs/ml_jobs/finance/src/prophet/preprocessing.py
  jobs/ml_jobs/finance/src/prophet/prophet_model_configs/daily_pricing.yaml
  jobs/ml_jobs/finance/src/prophet/prophet_model_configs/weekly_pricing.yaml
  jobs/ml_jobs/finance/src/prophet/train.py
  jobs/ml_jobs/finance/src/utils/bigquery.py
  jobs/ml_jobs/finance/src/utils/constants.py
  jobs/ml_jobs/finance/src/utils/mlflow.py
  jobs/ml_jobs/finance/tests/hello_test.py
  jobs/ml_jobs/finance/uv.lock
Due: format-fix, lint-fix

Refactor code structure for improved readability and maintainability
  jobs/ml_jobs/algo_training/pyproject.toml
  jobs/ml_jobs/algo_training/uv.lock
  jobs/ml_jobs/endpoint_monitoring/pyproject.toml
  jobs/ml_jobs/endpoint_monitoring/uv.lock
Due: none

fix
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__educational_institution.sql
Due: sqlfmt

(DE) feat(dbt): Fix partner id in collective models (#4768)
  jobs/etl_jobs/external/external_reporting/templates/export_template.xlsx
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__venue.sql
Due: sqlfmt

(DA) feat(dbt): update collective models to fit the new calendar (#4760)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__collective_booking.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__educational_deposit.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__educational_institution.md
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__collective_booking.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__collective_offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__collective_stock.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__educational_deposit.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__educational_institution.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__collective_booking.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__educational_deposit.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__educational_institution.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__collective_booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__educational_deposit.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__educational_institution.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/collective_booking.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/educational_deposit.sql
Due: sqlfmt

Refactor code structure for improved readability and maintainability
  jobs/ml_jobs/endpoint_monitoring/pyproject.toml
  jobs/ml_jobs/endpoint_monitoring/uv.lock
Due: none

fix: update pyarrow version to 14.0.1 and adjust dependency markers in uv.lock
  jobs/ml_jobs/retrieval_vector/pyproject.toml
  jobs/ml_jobs/retrieval_vector/uv.lock
Due: none

fix: update pyarrow version to 14.0.1 in pyproject.toml and uv.lock
  jobs/ml_jobs/clusterisation/pyproject.toml
  jobs/ml_jobs/clusterisation/uv.lock
  jobs/ml_jobs/reduction/pyproject.toml
  jobs/ml_jobs/reduction/uv.lock
Due: none

(DE-3192) fix(deps): Fix dependabot for endpoint monitoring job (#4757)
  jobs/ml_jobs/algo_training/pyproject.toml
  jobs/ml_jobs/algo_training/uv.lock
  jobs/ml_jobs/clusterisation/pyproject.toml
  jobs/ml_jobs/clusterisation/uv.lock
  jobs/ml_jobs/endpoint_monitoring/Makefile
  jobs/ml_jobs/endpoint_monitoring/pyproject.toml
  jobs/ml_jobs/endpoint_monitoring/streamlits/.gitignore
  jobs/ml_jobs/endpoint_monitoring/uv.lock
  jobs/ml_jobs/reduction/pyproject.toml
  jobs/ml_jobs/reduction/uv.lock
  jobs/ml_jobs/retrieval_vector/pyproject.toml
  jobs/ml_jobs/retrieval_vector/uv.lock
Due: none

created interfaces for model
  jobs/ml_jobs/finance/main.py
  jobs/ml_jobs/finance/main_prophet.py
  jobs/ml_jobs/finance/src/interfaces.py
  jobs/ml_jobs/finance/src/prophet/evaluate.py
  jobs/ml_jobs/finance/src/prophet/forecast.py
  jobs/ml_jobs/finance/src/prophet/model.py
  jobs/ml_jobs/finance/src/prophet/model_config.py
  jobs/ml_jobs/finance/src/prophet/plots.py
  jobs/ml_jobs/finance/src/prophet/preprocessing.py
  jobs/ml_jobs/finance/src/prophet/prophet_model_configs/daily_pricing.yaml
  jobs/ml_jobs/finance/src/prophet/prophet_model_configs/weekly_pricing.yaml
  jobs/ml_jobs/finance/src/prophet/train.py
  jobs/ml_jobs/finance/src/utils/mlflow.py
Due: format-fix, lint-fix

added test to prophet
  jobs/ml_jobs/finance/tests/hello_test.py
  jobs/ml_jobs/finance/tests/test_prophet_model.py
Due: format-fix, lint-fix

feat/reporting: concurrency
  jobs/etl_jobs/external/external_reporting/config.py
  jobs/etl_jobs/external/external_reporting/core.py
  jobs/etl_jobs/external/external_reporting/main.py
  jobs/etl_jobs/external/external_reporting/services/orchestration.py
  jobs/etl_jobs/external/external_reporting/services/tracking.py
  jobs/etl_jobs/external/external_reporting/utils/duckdb_utils.py
  jobs/etl_jobs/external/external_reporting/utils/verbose_logger.py
  jobs/etl_jobs/memory_mode_analysis.md
Due: format-fix, lint-fix

fix/thread: limit duckdb to 1 thread per worker
  jobs/etl_jobs/external/external_reporting/core.py
Due: format-fix, lint-fix

perf/worker: reduce fetcher concurency to give heavy task workers (xls writer) more cpu slices
  jobs/etl_jobs/external/external_reporting/core.py
  jobs/etl_jobs/external/external_reporting/main.py
  jobs/etl_jobs/external/external_reporting/services/orchestration.py
Due: format-fix, lint-fix

chore/dag: adjust parameters to multi-threading feature
  jobs/etl_jobs/memory_mode_analysis.md
  orchestration/dags/jobs/export/export_external_reporting.py
Due: format-fix, lint-fix

Revert "update template"
  jobs/etl_jobs/external/external_reporting/templates/export_template.xlsx
Due: none

cleaning
  jobs/etl_jobs/external/external_reporting/config.py
  jobs/etl_jobs/external/external_reporting/main.py
Due: format-fix, lint-fix

test/duckdb_utils: mock connection's cursor() method
  jobs/etl_jobs/external/external_reporting/tests/conftest.py
Due: format-fix, lint-fix

(BSR) firebase perf: increase window
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/performance/int_firebase__performance.sql
  orchestration/dags/data_gcp_dbt/models/mart/monitoring/mrt_monitoring__firebase_performance_tti.sql
Due: sqlfmt

(BSR) firebase perf: increase window (#4781)
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/performance/int_firebase__performance.sql
  orchestration/dags/data_gcp_dbt/models/mart/monitoring/mrt_monitoring__firebase_performance_tti.sql
Due: sqlfmt

modified project structure for clarity
  jobs/ml_jobs/finance/main.py
  jobs/ml_jobs/finance/src/forecast_engines/prophet/__init__.py
  jobs/ml_jobs/finance/src/forecast_engines/prophet/configs/daily_pricing.yaml
  jobs/ml_jobs/finance/src/forecast_engines/prophet/configs/weekly_pricing.yaml
  jobs/ml_jobs/finance/src/forecast_engines/prophet/evaluate.py
  jobs/ml_jobs/finance/src/forecast_engines/prophet/forecast.py
  jobs/ml_jobs/finance/src/forecast_engines/prophet/model_config.py
  jobs/ml_jobs/finance/src/forecast_engines/prophet/plots.py
  jobs/ml_jobs/finance/src/forecast_engines/prophet/preprocessing.py
  jobs/ml_jobs/finance/src/forecast_engines/prophet/train.py
  jobs/ml_jobs/finance/src/forecasters/forecast_model.py
  jobs/ml_jobs/finance/src/forecasters/prophet_model.py
  jobs/ml_jobs/finance/tests/test_prophet_model.py
Due: format-fix, lint-fix

(DS) feat(finance): add finance to ml_jobs (#4735)
  jobs/ml_jobs/finance/Makefile
  jobs/ml_jobs/finance/README.md
  jobs/ml_jobs/finance/__init__.py
  jobs/ml_jobs/finance/main.py
  jobs/ml_jobs/finance/pyproject.toml
  jobs/ml_jobs/finance/src/__init__.py
  jobs/ml_jobs/finance/src/forecast_engines/prophet/__init__.py
  jobs/ml_jobs/finance/src/forecast_engines/prophet/configs/daily_pricing.yaml
  jobs/ml_jobs/finance/src/forecast_engines/prophet/configs/weekly_pricing.yaml
  jobs/ml_jobs/finance/src/forecast_engines/prophet/evaluate.py
  jobs/ml_jobs/finance/src/forecast_engines/prophet/forecast.py
  jobs/ml_jobs/finance/src/forecast_engines/prophet/model_config.py
  jobs/ml_jobs/finance/src/forecast_engines/prophet/plots.py
  jobs/ml_jobs/finance/src/forecast_engines/prophet/preprocessing.py
  jobs/ml_jobs/finance/src/forecast_engines/prophet/train.py
  jobs/ml_jobs/finance/src/forecasters/forecast_model.py
  jobs/ml_jobs/finance/src/forecasters/prophet_model.py
  jobs/ml_jobs/finance/src/utils/__init__.py
  jobs/ml_jobs/finance/src/utils/bigquery.py
  jobs/ml_jobs/finance/src/utils/constants.py
  jobs/ml_jobs/finance/src/utils/mlflow.py
  jobs/ml_jobs/finance/tests/__init__.py
  jobs/ml_jobs/finance/tests/test_prophet_model.py
  jobs/ml_jobs/finance/uv.lock
Due: format-fix, lint-fix

feat(metadata): add item and offer quality models with completion score and associated features
  orchestration/dags/data_gcp_dbt/models/export/backend/_schema/exp_backend__offer_quality.yml
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__offer_quality.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/metadata/_schema/ml_metadata__item_quality.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/metadata/_schema/ml_metadata__offer_quality.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/metadata/ml_metadata__item_quality.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/metadata/ml_metadata__offer_quality.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: sqlfmt

Refactor code structure for improved readability and maintainability
  jobs/ml_jobs/algo_training/pyproject.toml
  jobs/ml_jobs/algo_training/uv.lock
  jobs/ml_jobs/ranking_endpoint/pyproject.toml
  jobs/ml_jobs/ranking_endpoint/uv.lock
  jobs/ml_jobs/retrieval_vector/pyproject.toml
  jobs/ml_jobs/retrieval_vector/uv.lock
Due: none

(BSR) feat(adage): fix api calls
  jobs/etl_jobs/external/adage/main.py
  jobs/etl_jobs/external/adage/scripts/import_adage.py
  orchestration/dags/data_gcp_dbt/models/legacy/analytics/adage.sql
Due: format-fix, lint-fix, sqlfmt

add utils.py
  jobs/etl_jobs/external/adage/scripts/utils.py
Due: format-fix, lint-fix

fix
  jobs/etl_jobs/external/adage/scripts/import_adage.py
Due: format-fix, lint-fix

feat: Add artist_pro_search_score
  orchestration/dags/data_gcp_dbt/models/machine_learning/metadata/ml_metadata__artist_score.sql
Due: sqlfmt

feat: Add artist_pro_search_score in exp_backend
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__artist_score.sql
Due: sqlfmt

docs: Update dbt docs
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/ml/column__artist.md
  orchestration/dags/data_gcp_dbt/models/export/backend/_schema/exp_backend__artist_score.yml
Due: none

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfmt: any of: \.sql$
