Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: python
  stages:
  - commit
  additional_dependencies:
  - ruff==0.5.7

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: python
  stages:
  - commit
  additional_dependencies:
  - ruff==0.5.7

sqlfmt:
  name: SQL Formatting (sqlfmt)
  entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
  ...

Update orchestration/dags/data_gcp_dbt/seeds/schema.yml
  orchestration/dags/data_gcp_dbt/seeds/schema.yml
Due: none

lint
  orchestration/dags/data_gcp_dbt/tests/generic/snapshot_volume_anomalies.sql
Due: sqlfmt

fix: handle missing files
  orchestration/dags/common/dbt/dag_utils.py
Due: format-fix, lint-fix

refactor(ml): add content-hash based change detection for item embeddings
  orchestration/dags/data_gcp_dbt/models/machine_learning/input/ml_input__item_embedding_extraction.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/input/ml_input__item_metadata.sql
Due: sqlfmt

(BSR) chore(airflow): deprecated DummyOperator
  orchestration/dags/jobs/administration/bigquery_alerts.py
  orchestration/dags/jobs/administration/gcp_launch_vm.py
  orchestration/dags/jobs/administration/metabase_transition.py
  orchestration/dags/jobs/api/sync_bigquery_to_cloudsql_recommendation_tables.py
  orchestration/dags/jobs/dbt/dbt_manual.py
  orchestration/dags/jobs/export/export_propilote.py
  orchestration/dags/jobs/export/export_qualtrics_data.py
  orchestration/dags/jobs/import/import_adage.py
  orchestration/dags/jobs/import/import_api_referentials.py
  orchestration/dags/jobs/import/import_applicative_database.py
  orchestration/dags/jobs/import/import_appsflyer.py
  orchestration/dags/jobs/import/import_batch.py
  orchestration/dags/jobs/import/import_dms_subscriptions.py
  orchestration/dags/jobs/import/import_downloads.py
  orchestration/dags/jobs/import/import_firebase.py
  orchestration/dags/jobs/import/import_gcs_seed.py
  orchestration/dags/jobs/import/import_metabase.py
  orchestration/dags/jobs/import/import_qpi.py
  orchestration/dags/jobs/import/import_sendinblue.py
  orchestration/dags/jobs/import/import_siren.py
  orchestration/dags/jobs/ml/algo_training_offer_compliance_model.py
  orchestration/dags/jobs/ml/algo_training_two_towers.py
  orchestration/dags/jobs/ml/embedding_clusterisation_item.py
  orchestration/dags/jobs/ml/embedding_reduction_item.py
  orchestration/dags/jobs/ml/link_items.py
Due: format-fix, lint-fix

sonarcloud
  orchestration/dags/common/dbt/dag_utils.py
Due: format-fix, lint-fix

chore(gcs): route backup to appropriate storage bucket
  orchestration/dags/jobs/administration/bigquery_snaphot_backup.py
Due: format-fix, lint-fix

fix(initialization): condition self-reference to pre existence
  orchestration/dags/data_gcp_dbt/models/machine_learning/input/ml_input__item_metadata.sql
Due: sqlfmt

new daily pricing model
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/ml/column__finance.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/finance/description__ml_finance__daily_pricing.md
  orchestration/dags/data_gcp_dbt/models/machine_learning/finance/_schema/ml_finance__daily_pricing.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/finance/ml_finance__daily_pricing.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/finance/ml_finance__weekly_pricing.sql
Due: sqlfmt

new daily pricing model
  orchestration/dags/data_gcp_dbt/models/machine_learning/finance/ml_finance__daily_pricing.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/finance/ml_finance__weekly_pricing.sql
Due: sqlfmt

(BSR) chore(airflow): deprecated DummyOperator (#4692)
  orchestration/dags/jobs/administration/bigquery_alerts.py
  orchestration/dags/jobs/administration/gcp_launch_vm.py
  orchestration/dags/jobs/administration/metabase_transition.py
  orchestration/dags/jobs/api/sync_bigquery_to_cloudsql_recommendation_tables.py
  orchestration/dags/jobs/dbt/dbt_manual.py
  orchestration/dags/jobs/export/export_propilote.py
  orchestration/dags/jobs/export/export_qualtrics_data.py
  orchestration/dags/jobs/import/import_adage.py
  orchestration/dags/jobs/import/import_api_referentials.py
  orchestration/dags/jobs/import/import_applicative_database.py
  orchestration/dags/jobs/import/import_appsflyer.py
  orchestration/dags/jobs/import/import_batch.py
  orchestration/dags/jobs/import/import_dms_subscriptions.py
  orchestration/dags/jobs/import/import_downloads.py
  orchestration/dags/jobs/import/import_firebase.py
  orchestration/dags/jobs/import/import_gcs_seed.py
  orchestration/dags/jobs/import/import_metabase.py
  orchestration/dags/jobs/import/import_qpi.py
  orchestration/dags/jobs/import/import_sendinblue.py
  orchestration/dags/jobs/import/import_siren.py
  orchestration/dags/jobs/ml/algo_training_offer_compliance_model.py
  orchestration/dags/jobs/ml/algo_training_two_towers.py
  orchestration/dags/jobs/ml/embedding_clusterisation_item.py
  orchestration/dags/jobs/ml/embedding_reduction_item.py
  orchestration/dags/jobs/ml/link_items.py
Due: format-fix, lint-fix

(DS) feat(finance): daily pricing model (#4694)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/ml/column__finance.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/finance/description__ml_finance__daily_pricing.md
  orchestration/dags/data_gcp_dbt/models/machine_learning/finance/_schema/ml_finance__daily_pricing.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/finance/ml_finance__daily_pricing.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/finance/ml_finance__weekly_pricing.sql
Due: sqlfmt

dbt dag manifest caching
  orchestration/dags/common/dbt/dag_utils.py
Due: format-fix, lint-fix

(DE) feat(airflow): create snapshot gcs backup dag (#4689)
  orchestration/dags/common/dbt/dag_utils.py
  orchestration/dags/common/utils.py
  orchestration/dags/jobs/administration/bigquery_snaphot_backup.py
  orchestration/dags/jobs/crons.py
Due: format-fix, lint-fix

moved sqlfmt fix to precommit instaed of pre-push
  .pre-commit-config.yaml
Due: none

moved sqlfmt fix to precommit instaed of pre-push (#4695)
  .pre-commit-config.yaml
Due: none

feat: Add biography and wikipedia_url in import artist
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/artist.sql
Due: sqlfmt

feat: Add biography and wikipedia_url in import artist (#4696)
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/artist.sql
Due: sqlfmt

feat(recommendation_past_offer_context_sink): create DBT model post_offer_context base on recommendation sink logs (#4691)
  orchestration/dags/data_gcp_dbt/models/intermediate/pcreco/int_pcreco__past_offer_context.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/pcreco/int_pcreco__past_offer_context_sink.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: sqlfmt

chore: Remove deprecated MS
  jobs/etl_jobs/external/titelive_ml/.github/copilot-instructions.md
  jobs/etl_jobs/external/titelive_ml/.gitignore
  jobs/etl_jobs/external/titelive_ml/Makefile
  jobs/etl_jobs/external/titelive_ml/README.md
  jobs/etl_jobs/external/titelive_ml/__init__.py
  jobs/etl_jobs/external/titelive_ml/data/.gitkeep
  jobs/etl_jobs/external/titelive_ml/pyproject.toml
  jobs/etl_jobs/external/titelive_ml/scripts/extract_new_products_from_titelive.py
  jobs/etl_jobs/external/titelive_ml/scripts/generate_metadatas_with_llms.py
  jobs/etl_jobs/external/titelive_ml/scripts/parse_products.py
  jobs/etl_jobs/external/titelive_ml/scripts/upload_titelive_images_to_gcs.py
  jobs/etl_jobs/external/titelive_ml/src/__init__.py
  jobs/etl_jobs/external/titelive_ml/src/constants.py
  jobs/etl_jobs/external/titelive_ml/src/llm_config.py
  jobs/etl_jobs/external/titelive_ml/src/utils/__init__.py
  jobs/etl_jobs/external/titelive_ml/src/utils/gcp.py
  jobs/etl_jobs/external/titelive_ml/src/utils/llm.py
  jobs/etl_jobs/external/titelive_ml/src/utils/requests.py
  jobs/etl_jobs/external/titelive_ml/tests/README.md
  jobs/etl_jobs/external/titelive_ml/tests/__init__.py
  jobs/etl_jobs/external/titelive_ml/tests/conftest.py
  jobs/etl_jobs/external/titelive_ml/tests/data/sample_responses.json
  jobs/etl_jobs/external/titelive_ml/tests/integration/__init__.py
  jobs/etl_jobs/external/titelive_ml/tests/integration/test_workflow.py
  jobs/etl_jobs/external/titelive_ml/tests/unit/__init__.py
  jobs/etl_jobs/external/titelive_ml/tests/unit/test_gcp.py
  jobs/etl_jobs/external/titelive_ml/tests/unit/test_parse_products.py
  jobs/etl_jobs/external/titelive_ml/tests/unit/test_requests.py
  jobs/etl_jobs/external/titelive_ml/uv.lock
  orchestration/dags/jobs/import/import_titelive_ml.py
Due: format-fix, lint-fix

(DE) refactor(airflow): prevent memory leaks & improve scheduler performance (#4697)
  orchestration/dags/common/hooks/gce.py
  orchestration/dags/common/operators/gce.py
Due: format-fix, lint-fix

feat(recommendation_past_offer_context_sink): replace past_offer_context DBT base on Postgres with the new DBT base on sink logs recommendation
  orchestration/dags/data_gcp_dbt/models/intermediate/pcreco/int_pcreco__displayed_offer_event.sql
Due: sqlfmt

chore: Remove titelive_ml in SCHEDULED_DICT
  orchestration/dags/jobs/crons.py
Due: format-fix, lint-fix

(BSR) chore(titelive): Remove deprecated titelive_ml MS (#4699)
  jobs/etl_jobs/external/titelive_ml/.github/copilot-instructions.md
  jobs/etl_jobs/external/titelive_ml/.gitignore
  jobs/etl_jobs/external/titelive_ml/Makefile
  jobs/etl_jobs/external/titelive_ml/README.md
  jobs/etl_jobs/external/titelive_ml/__init__.py
  jobs/etl_jobs/external/titelive_ml/data/.gitkeep
  jobs/etl_jobs/external/titelive_ml/pyproject.toml
  jobs/etl_jobs/external/titelive_ml/scripts/extract_new_products_from_titelive.py
  jobs/etl_jobs/external/titelive_ml/scripts/generate_metadatas_with_llms.py
  jobs/etl_jobs/external/titelive_ml/scripts/parse_products.py
  jobs/etl_jobs/external/titelive_ml/scripts/upload_titelive_images_to_gcs.py
  jobs/etl_jobs/external/titelive_ml/src/__init__.py
  jobs/etl_jobs/external/titelive_ml/src/constants.py
  jobs/etl_jobs/external/titelive_ml/src/llm_config.py
  jobs/etl_jobs/external/titelive_ml/src/utils/__init__.py
  jobs/etl_jobs/external/titelive_ml/src/utils/gcp.py
  jobs/etl_jobs/external/titelive_ml/src/utils/llm.py
  jobs/etl_jobs/external/titelive_ml/src/utils/requests.py
  jobs/etl_jobs/external/titelive_ml/tests/README.md
  jobs/etl_jobs/external/titelive_ml/tests/__init__.py
  jobs/etl_jobs/external/titelive_ml/tests/conftest.py
  jobs/etl_jobs/external/titelive_ml/tests/data/sample_responses.json
  jobs/etl_jobs/external/titelive_ml/tests/integration/__init__.py
  jobs/etl_jobs/external/titelive_ml/tests/integration/test_workflow.py
  jobs/etl_jobs/external/titelive_ml/tests/unit/__init__.py
  jobs/etl_jobs/external/titelive_ml/tests/unit/test_gcp.py
  jobs/etl_jobs/external/titelive_ml/tests/unit/test_parse_products.py
  jobs/etl_jobs/external/titelive_ml/tests/unit/test_requests.py
  jobs/etl_jobs/external/titelive_ml/uv.lock
  orchestration/dags/jobs/crons.py
  orchestration/dags/jobs/import/import_titelive_ml.py
Due: format-fix, lint-fix

test
  orchestration/dags/data_gcp_dbt/models/intermediate/pcreco/int_pcreco__past_offer_context_sink.sql
Due: sqlfmt

chore: Remove link_products_to_artists_from_scratch
  jobs/ml_jobs/artist_linkage/cli/link_products_to_artists_from_scratch.py
Due: format-fix, lint-fix

test 2
  orchestration/dags/data_gcp_dbt/models/intermediate/pcreco/int_pcreco__past_offer_context_sink.sql
Due: sqlfmt

refactor: Remove full_rebuild_flow
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

alors peut etreeeeeeee
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__ranking_endpoint_training.sql
Due: sqlfmt

refactor: Remove not delta artists tables
  orchestration/dags/data_gcp_dbt/models/export/backend/_schema/exp_backend__artist.yml
  orchestration/dags/data_gcp_dbt/models/export/backend/_schema/exp_backend__artist_alias.yml
  orchestration/dags/data_gcp_dbt/models/export/backend/_schema/exp_backend__product_artist_link.yml
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__artist.sql
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__artist_alias.sql
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__product_artist_link.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/_schema/ml_linkage__artist.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/_schema/ml_linkage__artist_alias.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/_schema/ml_linkage__product_artist_link.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__artist.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__artist_alias.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__product_artist_link.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: sqlfmt

encore un test
  orchestration/dags/data_gcp_dbt/models/intermediate/pcreco/int_pcreco__displayed_offer_event.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__ranking_endpoint_training.sql
Due: sqlfmt

test rollback current date
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__ranking_endpoint_training.sql
Due: sqlfmt

Refactor code structure for improved readability and maintainability
  jobs/ml_jobs/edito_semantic_search/Dockerfile
  jobs/ml_jobs/edito_semantic_search/Makefile
  jobs/ml_jobs/edito_semantic_search/app/__init__.py
  jobs/ml_jobs/edito_semantic_search/app/app.py
  jobs/ml_jobs/edito_semantic_search/app/constants.py
  jobs/ml_jobs/edito_semantic_search/app/llm/llm_tools.py
  jobs/ml_jobs/edito_semantic_search/app/logging/config.json
  jobs/ml_jobs/edito_semantic_search/app/models/predictions.py
  jobs/ml_jobs/edito_semantic_search/app/post_process/panachage.py
  jobs/ml_jobs/edito_semantic_search/app/routes.py
  jobs/ml_jobs/edito_semantic_search/app/search/__init__.py
  jobs/ml_jobs/edito_semantic_search/app/search/client.py
  jobs/ml_jobs/edito_semantic_search/app/search/table_query.py
  jobs/ml_jobs/edito_semantic_search/app/search/vector_search.py
  jobs/ml_jobs/edito_semantic_search/build_lancedb_index.py
  jobs/ml_jobs/edito_semantic_search/build_lancedb_table.py
  jobs/ml_jobs/edito_semantic_search/constants.py
  jobs/ml_jobs/edito_semantic_search/main.py
  jobs/ml_jobs/edito_semantic_search/pyproject.toml
  jobs/ml_jobs/edito_semantic_search/streamlits/st_visualise_api_response.py
  jobs/ml_jobs/edito_semantic_search/streamlits/st_visualise_predictions.py
  jobs/ml_jobs/edito_semantic_search/uv.lock
Due: format-fix, lint-fix

fix(bigquery_snapshot_backup): split schema backup for InsertJobOperator compatibility and enforce idempotent historization with hash check
  orchestration/dags/jobs/administration/bigquery_snaphot_backup.py
Due: format-fix, lint-fix

remove offerer_address
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offerer.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__offerer.sql
Due: sqlfmt

add modify scholar_year in collective_booking and educational_institution
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__collective_booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__collective_booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__educational_institution.sql
Due: sqlfmt

(BSR) refactor(artist): Remove artist from scratch flow (#4701)
  jobs/ml_jobs/artist_linkage/cli/link_products_to_artists_from_scratch.py
  orchestration/dags/data_gcp_dbt/models/export/backend/_schema/exp_backend__artist.yml
  orchestration/dags/data_gcp_dbt/models/export/backend/_schema/exp_backend__artist_alias.yml
  orchestration/dags/data_gcp_dbt/models/export/backend/_schema/exp_backend__product_artist_link.yml
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__artist.sql
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__artist_alias.sql
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__product_artist_link.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/_schema/ml_linkage__artist.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/_schema/ml_linkage__artist_alias.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/_schema/ml_linkage__product_artist_link.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__artist.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__artist_alias.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__product_artist_link.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix, sqlfmt

add columns in yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__collective_booking.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__educational_institution.yml
Due: none

add doc
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__collective_booking.md
Due: none

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfmt: any of: \.sql$
