Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
# Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
# Add new hook types here to ensure automatic installation when running `pre-commit install`
- pre-commit
- pre-push
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-json
  - id: check-added-large-files

- repo: local
  hooks:
  - id: format-fix
    name: Formatting (ruff)
    entry: ruff format
    language: system
    types: [python]
    stages: [commit]
  - id: lint-fix
    name: Linting (ruff)
    entry: ruff check --fix
    language: system
    types: [python]
    stages: [commit]
  - id: sqlfmt
    name: SQL Formatting (sqlfmt)
    entry: make sqlfmt
    stages: [commit]
    language: system
    types: [sql]
  # - id: sqlfluff-lint-check
  #   name: Lint check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_lint.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-format-check
  #   name: format check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_format.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-fix
  #   name: fix (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_fix.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]

refactor: Use dag_run.run_type == 'manual' explicit check
  orchestration/dags/jobs/import/import_social_media.py
Due: format-fix, lint-fix

fix
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__venue.md
Due: none

update
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__venue.yml
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/venue.sql
Due: sqlfmt

(BSR) fix(social): Use ds for scheduled DAGs, yesteday for manual (#3567)
  orchestration/dags/jobs/import/import_social_media.py
Due: format-fix, lint-fix

(DE-866) feat(dbt): Enhance image URL generation logic in offer metadata model
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_metadata.sql
Due: sqlfmt

rectify upload task parameter
  orchestration/dags/jobs/ml/algo_training_two_towers.py
Due: format-fix, lint-fix

(DE-866) feat(dbt): Enhance image URL generation logic in offer metadata model (#3570)
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_metadata.sql
Due: sqlfmt

formatting correctly upload task param
  orchestration/dags/jobs/ml/algo_training_two_towers.py
Due: format-fix, lint-fix

add fields to global offerer
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offerer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offerer.sql
Due: sqlfmt

use datetime to convert unix to date
  jobs/ml_jobs/algo_training/two_towers_model/upload_embeddings_to_bq.py
Due: format-fix, lint-fix

Add ml_reco__training_data_bookings
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_bookings.sql
Due: sqlfmt

Add ml_reco__training_data_clicks and favorites
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_clicks.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_favorites.sql
  orchestration/dags/dependencies/training_data/sql/training_data_bookings.sql
Due: sqlfmt

refactor: Renaming in singular and add materialization
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_booking.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_click.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_favorite.sql
Due: sqlfmt

refactor: Move other training_data queries to dbt
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_aggregated_users.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_enriched_users.sql
  orchestration/dags/dependencies/training_data/sql/training_data_aggregated_users.sql
  orchestration/dags/dependencies/training_data/sql/training_data_enriched_clicks.sql
Due: sqlfmt

refactor: Rename to singular
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_aggregated_user.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_enriched_user.sql
Due: sqlfmt

fix: Use ds macro
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_booking.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_click.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_favorite.sql
Due: sqlfmt

refactor: Use table in proper dataset in algo training
  orchestration/dags/jobs/ml/algo_training_two_towers.py
Due: format-fix, lint-fix

refactor: Remove deprecated tables
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_aggregated_user.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_enriched_user.sql
Due: sqlfmt

refactor: Remove process_training_data
  orchestration/dags/jobs/ml/process_training_data.py
Due: format-fix, lint-fix

fix: fix typo in training_data_click
  orchestration/dags/dependencies/training_data/sql/training_data_enriched_clicks.sql
Due: sqlfmt

feat: Set training_data_booking as a table in order to allow Download in parquet
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_booking.sql
Due: sqlfmt

WIP: preprocess migration squashed
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_booking.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_click.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_favorite.sql
  orchestration/dags/dependencies/training_data/sql/training_data_aggregated_offers.sql
  orchestration/dags/dependencies/training_data/sql/training_data_aggregated_users.sql
  orchestration/dags/dependencies/training_data/sql/training_data_bookings.sql
  orchestration/dags/dependencies/training_data/sql/training_data_clicks.sql
  orchestration/dags/dependencies/training_data/sql/training_data_enriched_clicks.sql
  orchestration/dags/dependencies/training_data/sql/training_data_enriched_users.sql
  orchestration/dags/dependencies/training_data/sql/training_data_favorites.sql
  orchestration/dags/jobs/ml/algo_training_two_towers.py
  orchestration/dags/jobs/ml/process_training_data.py
Due: format-fix, lint-fix, sqlfmt

refactor: Use uv in algo_training_two_towers DAG
  orchestration/dags/jobs/ml/algo_training_two_towers.py
  orchestration/dags/jobs/ml/artist_linkage.py
  orchestration/dags/jobs/ml/artist_wikidata_dump.py
  orchestration/dags/jobs/ml/link_items.py
Due: format-fix, lint-fix

feat: Move item_features, user_features and training_data_enriched_clicks to dbt
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_enriched_click.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_item_feature.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_user_feature.sql
  orchestration/dags/dependencies/training_data/sql/recommendation_item_features.sql
  orchestration/dags/dependencies/training_data/sql/training_data_enriched_clicks.sql
Due: sqlfmt

refactor: Remove first import tasks from two tower dag
  orchestration/dags/jobs/ml/algo_training_two_towers.py
Due: format-fix, lint-fix

refactor: Refacto two tower DAG structure and adapt it to dbt tables
  orchestration/dags/dependencies/training_data/sql/recommendation_test_data.sql
  orchestration/dags/dependencies/training_data/sql/recommendation_training_data.sql
  orchestration/dags/dependencies/training_data/sql/recommendation_validation_data.sql
  orchestration/dags/jobs/ml/algo_training_two_towers.py
Due: format-fix, lint-fix, sqlfmt

WIP: Two Tower Migration
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_enriched_click.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_item_feature.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_user_feature.sql
  orchestration/dags/dependencies/training_data/sql/recommendation_item_features.sql
  orchestration/dags/dependencies/training_data/sql/recommendation_test_data.sql
  orchestration/dags/dependencies/training_data/sql/recommendation_training_data.sql
  orchestration/dags/dependencies/training_data/sql/recommendation_validation_data.sql
  orchestration/dags/dependencies/training_data/sql/training_data_enriched_clicks.sql
  orchestration/dags/jobs/ml/algo_training_two_towers.py
  orchestration/dags/jobs/ml/artist_linkage.py
  orchestration/dags/jobs/ml/artist_wikidata_dump.py
  orchestration/dags/jobs/ml/link_items.py
Due: format-fix, lint-fix, sqlfmt

refactor: Migrate compliance_offers
  orchestration/dags/data_gcp_dbt/models/machine_learning/compliance/ml_compliance__offer.sql
  orchestration/dags/dependencies/training_data/sql/compliance_offers.sql
Due: sqlfmt

refactor: Update compliance dag
  orchestration/dags/common/config.py
  orchestration/dags/jobs/ml/algo_training_offer_compliance_model.py
Due: format-fix, lint-fix

refactor: Use uv in compliance training DAG
  orchestration/dags/jobs/ml/algo_training_offer_compliance_model.py
Due: format-fix, lint-fix

fix user_activity
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__user.sql
Due: sqlfmt

DA-3807 add collectiver_offer_template date range in collective_offer table
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__collective_offer.sql
Due: sqlfmt

DA-3807 added in int_global also
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__collective_offer.sql
Due: sqlfmt

DA-3807 fix error
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__collective_offer.sql
Due: sqlfmt

DA-3807 add doc
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__collective_offer.md
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__collective_offer.yml
Due: none

(DA-3876) feat(Analytics): add collectiver_offer_template date range in collective_offer… (#3576)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__collective_offer.md
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__collective_offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__collective_offer.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__collective_offer.sql
Due: sqlfmt

replace jeune by native
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/brevo/description__int_brevo__transactional_native.md
Due: none

refactor: Move crons value to crons.py
  orchestration/dags/jobs/crons.py
  orchestration/dags/jobs/dbt/dbt_artifacts.py
  orchestration/dags/jobs/dbt/dbt_dag_run.py
  orchestration/dags/jobs/dbt/dbt_monthly_tables.py
  orchestration/dags/jobs/dbt/dbt_weekly_tables.py
  orchestration/dags/jobs/export/export_applicative_snapshot.py
  orchestration/dags/jobs/export/export_clickhouse.py
  orchestration/dags/jobs/ml/algo_training_two_towers.py
Due: format-fix, lint-fix

docs: Add md_doc for algo training two tower DAG
  orchestration/dags/jobs/ml/algo_training_two_towers.py
Due: format-fix, lint-fix

(DE-814) fix(clickhouse): fix join (#3564)
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/monthly_aggregated_venue_collective_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/monthly_aggregated_venue_individual_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/monthly_aggregated_venue_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/yearly_aggregated_venue_collective_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/yearly_aggregated_venue_individual_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/yearly_aggregated_venue_revenue.sql
Due: sqlfmt
