Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
  # Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
  # Add new hook types here to ensure automatic installation when running `pre-commit install`
  - pre-commit
  - pre-push
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: format-fix
        name: Formatting (ruff)
        entry: ruff format
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: lint-fix
        name: Linting (ruff)
        entry: ruff check --fix
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: sqlfmt
        name: SQL Formatting (sqlfmt)
        entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
        stages: [push]
        language: python
        additional_dependencies: ["shandy-sqlfmt[jinjafmt]==0.23.2"]
        types: [sql]
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.3.0
    hooks:
      - id: sqlfluff-fix
        additional_dependencies:
          ["dbt-bigquery==1.8.1", "sqlfluff-templater-dbt"]
        stages: [commit]
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.0
    hooks:
    - id: markdownlint-cli2
      language_version: 24.0.0
      args:
        - --fix

Delete future_offer
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offer.md
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offer.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/future_offer.sql
Due: sqlfmt

Delete future_offer
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer.sql
Due: sqlfmt

delete source
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: none

(DA-4283) feat(dbt): Add fields to offer model and delete future_offer (#4283)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offer.md
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__extract_offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offer.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer.sql
  orchestration/dags/data_gcp_dbt/models/raw/applicative/raw_applicative__offer_full.sql
  orchestration/dags/data_gcp_dbt/models/raw/applicative/raw_applicative__offer_lite.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__offer.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/future_offer.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/sequential/offer_legacy.sql
Due: sqlfmt

(DE) feat(clickhouse): export venue offer statistics to clickhouse
  jobs/etl_jobs/internal/export_clickhouse/schema/intermediate/venue_offer_statistic.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/tmp/intermediate_venue_offer_statistic.sql
  orchestration/dags/dependencies/export_clickhouse/export_clickhouse.py
Due: format-fix, lint-fix, sqlfmt

single partition table
  jobs/etl_jobs/internal/export_clickhouse/schema/intermediate/venue_offer_statistic.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/tmp/intermediate_venue_offer_statistic.sql
Due: sqlfmt

feat: update overwrite -> handle unpartitionned table
  jobs/etl_jobs/internal/export_clickhouse/core/update.py
  orchestration/dags/dependencies/export_clickhouse/export_clickhouse.py
Due: format-fix, lint-fix

deploy: bc52483983cdb63b9ae3363c49a9eb4070d1422b
  __pycache__/hooks.cpython-312.pyc
  dbt/glossary/applicative_database/column__offer/index.html
  dbt/models/export/ministry/description__exp_ministry__offer/index.html
  dbt/models/mart/global/description__mrt_global__offer/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

style: naming coherence
  orchestration/dags/jobs/import/import_brevo.py
Due: format-fix, lint-fix

feat: add exponential backoff to api calls
  jobs/etl_jobs/external/brevo/brevo_newsletters.py
  jobs/etl_jobs/external/brevo/brevo_transactional.py
Due: format-fix, lint-fix

remove clean tables migrated to int
  orchestration/dags/data_gcp_dbt/models/clean/applicative/boost_cinema_details.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/cashflow.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/cashflow_batch.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/cashflow_pricing.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/cds_cinema_details.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/cgr_cinema_details.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/cinema_provider_pivot.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/ems_cinema_details.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/invoice.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/invoice_cashflow.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/payment.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/payment_status.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/pricing.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/pricing_line.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/pricing_log.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/venue_bank_account_link.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/venue_pricing_point_link.sql
  orchestration/dags/data_gcp_dbt/models/clean/qpi_answers_v4.sql
Due: sqlfmt

(DE) build(airflow): set up triggerer for local dev (#4270)
  orchestration/Makefile
  orchestration/airflow/Dockerfile
  orchestration/airflow/config/airflow.cfg
  orchestration/airflow/config/pools.json
  orchestration/airflow/orchestration-requirements.txt
  orchestration/airflow/scripts/create_pools.py
  orchestration/airflow/scripts/sync_pools.py
  orchestration/airflow/scripts/verify_pools.py
  orchestration/dags/common/config.py
  orchestration/dags/common/operators/gce.py
  orchestration/dags/common/triggers/gce.py
  orchestration/dags/jobs/ml/embedding_extraction_item.py
  orchestration/docker-compose.yaml
  orchestration/k8s-airflow/k8s-worker-requirements.txt
  pyproject.toml
  uv.lock
Due: format-fix, lint-fix

feat: defer vm tasks to triggerer
  orchestration/dags/jobs/import/import_brevo.py
Due: format-fix, lint-fix

update offer_is_bookable rule
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer.sql
Due: sqlfmt

sqlfmt
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer.sql
Due: sqlfmt

fix: Update bucket name configuration to use ML_BUCKET_TEMP
  orchestration/dags/jobs/api/sync_bigquery_to_cloudsql_recommendation_tables.py
Due: format-fix, lint-fix

(DE-2056) feat(test): add relationship test on offer_id
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/_schema/int_applicative__offer.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer.sql
Due: sqlfmt

refactor: dbt dag python excecutor
  orchestration/dags/common/dbt/dbt_executors.py
  orchestration/dags/common/dbt/utils_v2.py
  orchestration/dags/jobs/dbt/dbt_dag_run_v2.py
Due: format-fix, lint-fix

emptyoperator
  orchestration/dags/common/dbt/utils_v2.py
  orchestration/dags/jobs/dbt/dbt_dag_run_v2.py
Due: format-fix, lint-fix

feat: dynamicaly skip airflow task for dbt nodes based on their schedule tag
  orchestration/dags/common/dbt/dbt_executors.py
  orchestration/dags/common/dbt/utils_v2.py
  orchestration/dags/jobs/crons.py
  orchestration/dags/jobs/dbt/dbt_dag_run_v2.py
Due: format-fix, lint-fix

refactor: dbt artifacts
  orchestration/dags/common/dbt/dbt_executors.py
  orchestration/dags/jobs/crons.py
  orchestration/dags/jobs/dbt/dbt_artifacts_v2.py
Due: format-fix, lint-fix

delete mediation
  orchestration/dags/data_gcp_dbt/models/clean/applicative/mediation.sql
Due: sqlfmt

fix: offer snapshot dependencies
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__offer.sql
Due: sqlfmt

feat: add tmp/global artifacts path in compilation
  orchestration/dags/common/dbt/dbt_executors.py
  orchestration/dags/jobs/dbt/dbt_artifacts_v2.py
  orchestration/dags/jobs/dbt/dbt_dag_run_v2.py
Due: format-fix, lint-fix

(AE-1593) fix(clean tables): remove clean tables migrated to int (#4286)
  orchestration/dags/data_gcp_dbt/models/clean/applicative/boost_cinema_details.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/cashflow.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/cashflow_batch.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/cashflow_pricing.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/cds_cinema_details.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/cgr_cinema_details.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/cinema_provider_pivot.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/ems_cinema_details.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/invoice.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/invoice_cashflow.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/mediation.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/payment.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/payment_status.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/pricing.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/pricing_line.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/pricing_log.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/venue_bank_account_link.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/venue_pricing_point_link.sql
  orchestration/dags/data_gcp_dbt/models/clean/qpi_answers_v4.sql
Due: sqlfmt

fix: remove no write json flag in compile command
  orchestration/dags/common/dbt/dbt_executors.py
  orchestration/dags/jobs/dbt/dbt_artifacts_v2.py
  orchestration/dags/jobs/dbt/dbt_dag_run_v2.py
Due: format-fix, lint-fix

cleaning
  orchestration/dags/common/dbt/dag_utils.py
  orchestration/dags/common/dbt/utils.py
  orchestration/dags/jobs/crons.py
  orchestration/dags/jobs/dbt/dbt_artifacts.py
  orchestration/dags/jobs/dbt/dbt_artifacts_v2.py
  orchestration/dags/jobs/dbt/dbt_dag_run.py
  orchestration/dags/jobs/dbt/dbt_dag_run_v2.py
  orchestration/dags/jobs/dbt/dbt_monthly_tables.py
  orchestration/dags/jobs/dbt/dbt_weekly_tables.py
Due: format-fix, lint-fix

remove dummy test on applicative offer
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/_schema/int_applicative__offer.yml
Due: none

fix(docs): Correct descriptions in available and recommendable offer documentation
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/recommendation/description__ml_reco__available_offer.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/recommendation/description_ml_reco__recommendable_offer.md
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/_schema/ml_reco__recommendable_item.yml
Due: none

fix(docs): Update documentation references and clean up data tests in recommendable models
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/recommendation/description__ml_reco__available_offer.md
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/_schema/ml_reco__recommendable_item.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/_schema/ml_reco__recommendable_offer.yml
Due: none

feat: add dbt run-operation for obfuscation task in dbt_encrypted_export
  orchestration/dags/common/dbt/dbt_executors.py
  orchestration/dags/jobs/dbt/dbt_dag_run.py
  orchestration/dags/jobs/dbt/dbt_encrypted_export.py
Due: format-fix, lint-fix

cleaning: remove deprecated scripts
  orchestration/dags/data_gcp_dbt/scripts/dbt_clean.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_compile.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_deps.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_docs.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_manifest.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_run.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_run_operation.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_run_tag.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_snapshot.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_test.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_test_model.sh
  orchestration/dags/data_gcp_dbt/scripts/defer_local_run.sh
Due: none

add prod data
  orchestration/dags/dependencies/firebase/import_firebase.py
Due: format-fix, lint-fix

style: factorize columns
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__offer.sql
Due: sqlfmt

feat: add verbose to macro is_first_of_month
  orchestration/dags/data_gcp_dbt/macros/airflow/is_first_day_of_month.sql
Due: sqlfmt

(BSR) feat(twotowers): defer training & evaluation to triggerer
  orchestration/dags/data_gcp_dbt/profiles.yml
  orchestration/dags/jobs/ml/algo_training_two_towers.py
Due: format-fix, lint-fix

cleaning
  orchestration/dags/data_gcp_dbt/scripts/dbt_clean_tmp_folders.sh
  orchestration/dags/data_gcp_dbt/scripts/helpers.sh
  orchestration/dags/jobs/crons.py
  orchestration/dags/jobs/dbt/dbt_run_dag.py
Due: format-fix, lint-fix

bsr: explicit columns import
  orchestration/dags/dependencies/firebase/sql/raw/firebase_performance.sql
Due: sqlfmt

(BSR) feat(two-towers): defer training & evaluation to triggerer (#4289)
  orchestration/dags/data_gcp_dbt/profiles.yml
  orchestration/dags/jobs/ml/algo_training_two_towers.py
Due: format-fix, lint-fix
