Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
# Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
# Add new hook types here to ensure automatic installation when running `pre-commit install`
- pre-commit
- pre-push
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-json
  - id: check-added-large-files

- repo: local
  hooks:
  - id: format-fix
    name: Formatting (ruff)
    entry: ruff format
    language: system
    types: [python]
    stages: [commit]
  - id: lint-fix
    name: Linting (ruff)
    entry: ruff check --fix
    language: system
    types: [python]
    stages: [commit]
  - id: sqlfmt
    name: SQL Formatting (sqlfmt)
    entry: make sqlfmt
    stages: [commit]
    language: system
    types: [sql]
  # - id: sqlfluff-lint-check
  #   name: Lint check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_lint.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-format-check
  #   name: format check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_format.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-fix
  #   name: fix (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_fix.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]

(BSR) fix(qualtrics): switch offerer table (#3507)
  jobs/ml_jobs/artist_linkage/requirements.txt
  jobs/ml_jobs/item_linkage/requirements.txt
  orchestration/dags/dependencies/qualtrics/export_qualtrics_data.py
  orchestration/dags/dependencies/qualtrics/sql/analytics/enriched_qualtrics_pro.sql
Due: format-fix, lint-fix, sqlfmt

(DA-3510) feat(Analytics): update native consultation model to eliminate duplicated rows (#3510)
  orchestration/dags/data_gcp_dbt/models/mart/native/_schema/mrt_native__consultation.yml
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__consultation.sql
Due: sqlfmt

add doc
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__favorite.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__user.md
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__user.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__favorite.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__user.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__favorite.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user.sql
Due: sqlfmt

(BSR) ci(docs): move dbt docs check before dbt run & test
  .github/workflows/reusable_dbt_workflow.yml
Due: none

add doc for venue provider
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__venue_provider.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__venue_provider.md
Due: none

Doc cultural partner
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__cultural_partner.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__cultural_partner.md
Due: none

add doc column native home offer displayed
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/tracking/column__native_home_offer_displayed.md
Due: none

test CI
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__address.sql
Due: sqlfmt

description home offer displayed
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/tracking/column__event_metric.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/tracking/column__native_home_offer_displayed.md
Due: none

doc format
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__educational_deposit.md
Due: none

(BSR) fix(qualtrics): remove order by
  orchestration/dags/data_gcp_dbt/models/clean/qpi_answers_v4.sql
Due: sqlfmt

Add table and column descriptions
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__collective_offer.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__collective_offer_domain.md
Due: none

dry-run dbt before docs check
  .github/workflows/reusable_dbt_workflow.yml
  .github/workflows/scripts/run_dbt_changed_models.sh
Due: none

add doc for local authority
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__local_authority.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__local_authority.md
Due: none

(BSR) fix(qualtrics): remove order by (#3529)
  orchestration/dags/data_gcp_dbt/models/clean/qpi_answers_v4.sql
Due: sqlfmt

remove duplicate doc
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/tracking/column__event.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/tracking/column__native_event.md
Due: none

remove duplicated
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/tracking/column__native_event.md
Due: none

Address tables documentation
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__address.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offerer_address.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__address.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__offerer_address.md
Due: none

Add doc and 2 new columns on mrt pro log
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/pcapi/column__log.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/pro/description__mrt_pro__log.md
  orchestration/dags/data_gcp_dbt/models/intermediate/pcapi/int_pcapi__log.sql
  orchestration/dags/data_gcp_dbt/models/mart/pro/_schema/mrt_pro__log.yml
  orchestration/dags/data_gcp_dbt/models/mart/pro/mrt_pro__log.sql
Due: sqlfmt

add doc for offerer tag
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offerer_tag.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/global/description__mrt_global__offerer_tag.md
Due: none

remove duplicates
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/tracking/column__event.md
Due: none

added adage_logs doc
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/tracking/column__collective_adage_log.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/collective/description__mrt_collective__adage_log.md
Due: none

(BSR) fix(alerts): fix util function to remove alerting when not needed (#3486)
  orchestration/dags/common/alerts.py
Due: format-fix, lint-fix

fix
  orchestration/dags/data_gcp_dbt/models/intermediate/pcapi/int_pcapi__log.sql
Due: sqlfmt

Add field venue_is_open_to_public to venue tables
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__venue.md
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__venue.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__venue.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__venue.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__venue.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/venue.sql
Due: sqlfmt

deploy: 0132d259cbc01efcba9c125b607d4ca0827b6d8a
  __pycache__/hooks.cpython-310.pyc
  sitemap.xml
  sitemap.xml.gz
Due: none

fix: Remove artist names without cluster_id
  jobs/ml_jobs/artist_linkage/cluster.py
Due: format-fix, lint-fix

feat: Add representative flag to later construct the artist table
  jobs/ml_jobs/artist_linkage/match_artists_on_wikidata.py
Due: format-fix, lint-fix

docs: Add doc for match_artists_on_wikidata
  jobs/ml_jobs/artist_linkage/match_artists_on_wikidata.py
Due: format-fix, lint-fix

refactor: Remove null values in product_artist_link
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__product_artist_link.sql
Due: sqlfmt

fix: Add max to avoid 0 division in alias score
  jobs/ml_jobs/artist_linkage/match_artists_on_wikidata.py
Due: format-fix, lint-fix

fix: replace image_file_url by img
  jobs/ml_jobs/artist_linkage/match_artists_on_wikidata.py
Due: format-fix, lint-fix

feat: Add artist uuid
  jobs/ml_jobs/artist_linkage/match_artists_on_wikidata.py
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__artist.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__artist_alias.sql
Due: format-fix, lint-fix, sqlfmt

docs: Update dbt schemas
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/_schema/ml_linkage__artist_alias.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/_schema/ml_linkage__product_artist_link.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__artist.sql
Due: sqlfmt

(DE-836) feat(isbn) clean isbn/ean values in offer models
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__clean_offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__extract_offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__isbn_rayon_editor.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer.sql
  orchestration/dags/dependencies/ml/linkage/sql/items_to_link.sql
  orchestration/dags/dependencies/training_data/sql/compliance_offers.sql
Due: sqlfmt

docs: Update dbt doc
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/ml/column__artist.md
Due: none

fix case when
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__clean_offer.sql
Due: sqlfmt

(BSR) feat(alerting): alert when alerting fails (fix false negative)
  orchestration/dags/jobs/administration/bigquery_alerts.py
Due: format-fix, lint-fix
