Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: system
  stages:
  - commit

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: system
  stages:
  - commit

sqlfmt:
  name: SQL Formatting (sqlfmt)
  entry: make sqlfmt
  stages:
  - commit
  language: system

feat: Add ml_linkage_artist__artist_alias schema
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/artist/_schema/ml_linkage_artist__artist_alias.yml
Due: none

refactor: Fix dbt model
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/artist/ml_linkage_artist__product_artist_link.sql
Due: sqlfmt

refactor: rename ml_linkage_artist__artist columns to fit dbt standard
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/artist/ml_linkage_artist__artist.sql
Due: sqlfmt

refactor: Rename and move files to be consistent with the dbt standard
  orchestration/dags/common/config.py
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/linkage/artist/description__ml_linkage__artist_name_to_link.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/linkage/artist/description__ml_linkage_artist__artist_name_to_link.md
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/artist/_schema/ml_linkage_artist__artist_name_to_link.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/artist/ml_linkage_artist__artist.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/artist/ml_linkage_artist__artist_alias.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/artist/ml_linkage_artist__artist_name_to_link.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/artist/ml_linkage_artist__product_artist_link.sql
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix, sqlfmt

feat: Add tornado in algo training requirements
  jobs/ml_jobs/algo_training/requirements.in
  jobs/ml_jobs/algo_training/requirements.txt
Due: none

(DE-70) feat: Update SQL import scripts and Python utility functions for offline recommendations
  jobs/ml_jobs/offline_recommendation/utils.py
  orchestration/dags/dependencies/ml/offline_recommendation/sql/import/day_plus_fifty_after_deposit.sql
  orchestration/dags/dependencies/ml/offline_recommendation/sql/import/day_plus_thirty_inactivity.sql
  orchestration/dags/dependencies/ml/offline_recommendation/sql/import/day_plus_two_after_booking.sql
  orchestration/dags/dependencies/ml/offline_recommendation/sql/import/first_booking.sql
  orchestration/dags/jobs/ml/offline_recommendations.py
Due: format-fix, lint-fix, sqlfmt

docs: Update dbt doc
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/ml/column__artist.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/ml/column__wikidata.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/linkage/artist/description__ml_linkage_artist__artist.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/linkage/artist/description__ml_linkage_artist__artist_alias.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/linkage/artist/description__ml_linkage_artist__product_artist_link.md
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/artist/_schema/ml_linkage_artist__artist_alias.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/artist/ml_linkage_artist__artist_alias.sql
Due: sqlfmt

add constraint tornado for security purpose
  jobs/etl_jobs/_template/requirements.in
  jobs/etl_jobs/_template/requirements.txt
  jobs/ml_jobs/_template/requirements.in
  jobs/ml_jobs/_template/requirements.txt
  jobs/ml_jobs/artist_linkage/requirements.in
  jobs/ml_jobs/artist_linkage/requirements.txt
  jobs/ml_jobs/item_linkage/requirements.in
  jobs/ml_jobs/item_linkage/requirements.txt
  jobs/playground_vm/requirements.in
  jobs/playground_vm/requirements.txt
Due: none

fix: Fix dbt schema
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/ml/column__artist.md
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/artist/_schema/ml_linkage_artist__artist.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/artist/_schema/ml_linkage_artist__artist_alias.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/artist/_schema/ml_linkage_artist__product_artist_link.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/artist/ml_linkage_artist__artist.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: sqlfmt

fix: Fix artist linkage dag
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

added SHELL bin/bash to fix python not found error
  orchestration/Makefile
Due: none

add stock_lite model
  orchestration/dags/data_gcp_dbt/models/raw/applicative/raw_applicative__stock_lite.sql
  orchestration/dags/data_gcp_dbt/snapshots/raw_applicative/snapshot_raw__stock.sql
Due: sqlfmt

fix: Remove GLOBAL_CLI_FLAGS in artist_linkage
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

refactor: Rename column__is_synchronised into column__offer_is_synchronised
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offer.md
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/artist/_schema/ml_linkage_artist__artist_name_to_link.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offer.yml
Due: none

fix: Set target as ENV_SHORT_NAME
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

fix: Set APPLICATIVE_EXTERNAL_CONNECTION_ID in docker-compose
  orchestration/docker-compose.yaml
Due: none

fix: Fix dbt_model name in artist_linkage dag
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

fix: Replace artist_name by artist_offer_name in test
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/artist/_schema/ml_linkage_artist__artist_alias.yml
Due: none

import product mediation
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__product_mediation.sql
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/product_mediation.sql
Due: sqlfmt

fix: Fix default BIGQUERY_ML_LINKAGE_ARTIST_DATASET value
  orchestration/dags/common/config.py
Due: format-fix, lint-fix

exclude cancelled bookings in subquery
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__outgoing_cohorts.sql
Due: sqlfmt

refactor: Rename dbt files
  orchestration/dags/common/config.py
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/linkage/artist/description__ml_linkage_artist__artist.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/linkage/artist/description__ml_linkage_artist__artist_alias.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/linkage/artist/description__ml_linkage_artist__artist_name_to_link.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/linkage/artist/description__ml_linkage_artist__product_artist_link.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/linkage/description__ml_linkage__artist.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/linkage/description__ml_linkage__artist_alias.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/linkage/description__ml_linkage__artist_name_to_link.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/linkage/description__ml_linkage__product_artist_link.md
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/_schema/ml_linkage__artist.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/_schema/ml_linkage__artist_alias.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/_schema/ml_linkage__artist_name_to_link.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/_schema/ml_linkage__product_artist_link.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__artist.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__artist_alias.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__artist_name_to_link.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__product_artist_link.sql
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix, sqlfmt

refactor: Remove dbt run task
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix

refactor: Rename artist_linked
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__artist.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__artist_alias.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__product_artist_link.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix, sqlfmt

(DE-839) feat(security): constraint tornado package for security purposes (#3503)
  jobs/etl_jobs/_template/requirements.in
  jobs/etl_jobs/_template/requirements.txt
  jobs/ml_jobs/_template/requirements.in
  jobs/ml_jobs/_template/requirements.txt
  jobs/ml_jobs/algo_training/requirements.in
  jobs/ml_jobs/algo_training/requirements.txt
  jobs/ml_jobs/artist_linkage/requirements.in
  jobs/ml_jobs/artist_linkage/requirements.txt
  jobs/ml_jobs/item_linkage/requirements.in
  jobs/ml_jobs/item_linkage/requirements.txt
  jobs/playground_vm/requirements.in
  jobs/playground_vm/requirements.txt
Due: none

(BSR) fix(qualtrics): switch offerer table
  jobs/etl_jobs/_template/requirements.in
  jobs/etl_jobs/_template/requirements.txt
  jobs/ml_jobs/_template/requirements.in
  jobs/ml_jobs/_template/requirements.txt
  jobs/ml_jobs/algo_training/requirements.in
  jobs/ml_jobs/algo_training/requirements.txt
  jobs/ml_jobs/artist_linkage/requirements.in
  jobs/ml_jobs/artist_linkage/requirements.txt
  jobs/ml_jobs/item_linkage/requirements.in
  jobs/ml_jobs/item_linkage/requirements.txt
  jobs/playground_vm/requirements.in
  jobs/playground_vm/requirements.txt
  orchestration/dags/dependencies/qualtrics/sql/analytics/enriched_qualtrics_pro.sql
Due: sqlfmt

qualtrics_ac: allow field addition
  orchestration/dags/dependencies/qualtrics/export_qualtrics_data.py
Due: format-fix, lint-fix

fix uuid column
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/product_mediation.sql
Due: sqlfmt

add table to sources
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: none

refactor: change artist tables into view
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__artist.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__artist_alias.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__artist_name_to_link.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__product_artist_link.sql
  orchestration/dags/jobs/ml/artist_linkage.py
Due: format-fix, lint-fix, sqlfmt

docs: Add description for artist_linked
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: none

export event scheduled date (stock beginning) and reimbursement date
  orchestration/dags/data_gcp_dbt/models/export/clickhouse/exp_clickhouse__booking.sql
  orchestration/dags/data_gcp_dbt/models/export/clickhouse/exp_clickhouse__collective_booking.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__booking.sql
Due: sqlfmt

include export to clickhouse schema and aggregate according to BO definition
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/monthly_aggregated_venue_collective_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/monthly_aggregated_venue_individual_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/yearly_aggregated_venue_collective_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/analytics/yearly_aggregated_venue_individual_revenue.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/intermediate/booking.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/intermediate/collective_booking.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/tmp/intermediate_booking.sql
  jobs/etl_jobs/internal/export_clickhouse/schema/tmp/intermediate_collective_booking.sql
Due: sqlfmt

(DA-3891) feat(DA): Import product mediation table (#3506)
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__product_mediation.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
  orchestration/dags/dependencies/applicative_database/sql/raw/parallel/product_mediation.sql
Due: sqlfmt

feat: Enhance logging for offline recommendations and update GCP project variable
  jobs/ml_jobs/offline_recommendation/main.py
  jobs/ml_jobs/offline_recommendation/utils.py
Due: format-fix, lint-fix

feat: Add new queries for offline recommendations and implement corresponding SQL files
  orchestration/dags/dependencies/ml/offline_recommendation/export_to_backend.py
  orchestration/dags/dependencies/ml/offline_recommendation/import_users.py
  orchestration/dags/dependencies/ml/offline_recommendation/sql/export_backend/day_plus_fifty_after_deposit.sql
  orchestration/dags/dependencies/ml/offline_recommendation/sql/export_backend/day_plus_thirty_inactivity.sql
  orchestration/dags/jobs/ml/offline_recommendations.py
Due: format-fix, lint-fix, sqlfmt

feat: Update SQL query to join global_offer table for item_id retrieval
  orchestration/dags/dependencies/ml/offline_recommendation/sql/import/day_plus_fifty_after_deposit.sql
Due: sqlfmt

Update native consultation model to eliminate duplicated rows
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__consultation.sql
Due: sqlfmt

(DE-828) feat(artist): Migrate linkage to dbt postpro (p2) (#3490)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offer.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/ml/column__artist.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/ml/column__wikidata.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/linkage/description__ml_linkage__artist.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/linkage/description__ml_linkage__artist_alias.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/linkage/description__ml_linkage__artist_name_to_link.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/machine_learning/linkage/description__ml_linkage__product_artist_link.md
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/_schema/ml_linkage__artist.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/_schema/ml_linkage__artist_alias.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/_schema/ml_linkage__artist_name_to_link.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/_schema/ml_linkage__product_artist_link.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__artist.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__artist_alias.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__artist_name_to_link.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/ml_linkage__product_artist_link.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offer.yml
  orchestration/dags/data_gcp_dbt/models/sources.yml
  orchestration/dags/dependencies/ml/linkage/create_artist_alias_table.py
  orchestration/dags/dependencies/ml/linkage/create_artist_table.py
  orchestration/dags/dependencies/ml/linkage/create_product_artist_link_table.py
  orchestration/dags/dependencies/ml/linkage/sql/create_artist_alias_table.sql
  orchestration/dags/dependencies/ml/linkage/sql/create_artist_table.sql
  orchestration/dags/jobs/ml/artist_linkage.py
  orchestration/docker-compose.yaml
Due: format-fix, lint-fix, sqlfmt

rename field booking_types
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__deposit.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__user.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__outgoing_cohorts.sql
Due: sqlfmt

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfmt: any of: \.sql$
