Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
# Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
# Add new hook types here to ensure automatic installation when running `pre-commit install`
- pre-commit
- pre-push
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-json
  - id: check-added-large-files

- repo: local
  hooks:
  - id: format-fix
    name: Formatting (ruff)
    entry: ruff format
    language: system
    types: [python]
    stages: [commit]
  - id: lint-fix
    name: Linting (ruff)
    entry: ruff check --fix
    language: system
    types: [python]
    stages: [commit]
  - id: sqlfmt
    name: SQL Formatting (sqlfmt)
    entry: make sqlfmt
    stages: [commit]
    language: system
    types: [sql]
  # - id: sqlfluff-lint-check
  #   name: Lint check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_lint.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-format-check
  #   name: format check (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_format.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]
  # - id: sqlfluff-fix
  #   name: fix (sqlfluff)
  #   entry: orchestration/dags/data_gcp_dbt/scripts/sqlfluff_fix.sh
  #   language: script
  #   types: [sql]
  #   stages: [commit]

(HF) fix(addresses): fix import addresses
  jobs/etl_jobs/external/addresses/scripts/fetch_user_location.py
  orchestration/dags/jobs/import/import_addresses.py
Due: format-fix, lint-fix

apply ruff format
  orchestration/dags/jobs/import/import_addresses.py
Due: format-fix, lint-fix

(BSR) refactor(clean): remove dependencies stock (#3666)
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/enriched_reimbursement_data.sql
  orchestration/dags/data_gcp_dbt/models/analytics/offer_moderation.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__stock.sql
Due: sqlfmt

(BSR) refactor(clean): remove dependencies educational deposit (#3665)
  orchestration/dags/data_gcp_dbt/models/analytics/eple_aggregated.sql
Due: sqlfmt

deploy: 4469f8d8783f153fab87c1babf714aa96f0dd171
  __pycache__/hooks.cpython-310.pyc
  dbt/glossary/applicative_database/column__collective_offer/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

lint: Format internal_dbt_exposure.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/metabase/int_metabase__activity.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/metabase/int_metabase__internal_dbt_exposure.sql
Due: sqlfmt

fix: Fix table reference
  orchestration/dags/data_gcp_dbt/models/intermediate/metabase/int_metabase__internal_dbt_exposure.sql
Due: sqlfmt

feat: review
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/zendesk/description__int_zendesk__daily_macro_usage.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/zendesk/description__int_zendesk__ticket.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/zendesk/description__int_zendesk__typology_native.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/intermediate/zendesk/description__int_zendesk__typology_pro.md
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/_schema/int_zendesk__typology_native.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/int_zendesk__ticket.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/int_zendesk__typology_native.sql
Due: sqlfmt

feat: review
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__technical_partner.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/zendesk/column__ticket.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/zendesk/column__zendesk_ticket.md
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/_schema/int_zendesk__ticket.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/_schema/int_zendesk__typology_native.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/_schema/int_zendesk__typology_pro.yml
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/int_zendesk__ticket.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/int_zendesk__typology_native.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/int_zendesk__typology_pro.sql
Due: sqlfmt

(BSR) refactor(clean): remove dependencies favorites
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/enriched_partner_retention_data.sql
Due: sqlfmt

feat: review
  orchestration/dags/data_gcp_dbt/models/intermediate/zendesk/int_zendesk__ticket.sql
Due: sqlfmt

fix: Replace left by inner join for training_data_click
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_click.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__user_statistics.sql
Due: sqlfmt

fix: Replace left by inner join for training_data_click
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_click.sql
Due: sqlfmt

format: Format queries
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_click.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__user_statistics.sql
Due: sqlfmt

fix: Fix table reference
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_click.sql
Due: sqlfmt

add two last models
  orchestration/dags/data_gcp_dbt/models/analytics/diversification/diversification_raw.sql
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/enriched_reimbursement_data.sql
Due: sqlfmt

add reformatting
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/enriched_reimbursement_data.sql
Due: sqlfmt

chore: Uniformize table names
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_click.sql
Due: sqlfmt

(DE-624) feat(dbt): improve sh logic for dbt compile (#3672)
  orchestration/dags/data_gcp_dbt/scripts/dbt_run.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_run_tag.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_snapshot.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_test_model.sh
  orchestration/dags/data_gcp_dbt/scripts/helpers.sh
Due: none

chore: Add comment
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__training_data_click.sql
Due: sqlfmt

(BSR) Add flask-openid for sso support
  orchestration/k8s-airflow/k8s-worker-requirements.txt
Due: none

(BSR) Add flask-openid for sso support (#3678)
  orchestration/k8s-airflow/k8s-worker-requirements.txt
Due: none

(BSR) refactor(clean): remove dependencies favorites, user & deposit (#3676)
  orchestration/dags/data_gcp_dbt/models/analytics/diversification/diversification_raw.sql
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/enriched_partner_retention_data.sql
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/enriched_reimbursement_data.sql
Due: sqlfmt

(HF) fix(addresses): fix import addresses (#3673)
  jobs/etl_jobs/external/addresses/scripts/fetch_user_location.py
  orchestration/dags/jobs/import/import_addresses.py
Due: format-fix, lint-fix

add int model and movie label to offer metadata model
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offer.md
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_metadata.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/seed/int_seed__movie_arthouse_and_heritage_label.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/_schema/mrt_global__offer_metadata.yml
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__offer_metadata.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: sqlfmt

add int model and movie label to offer metadata model
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_metadata.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/seed/int_seed__movie_arthouse_and_heritage_label.sql
Due: sqlfmt

fix alias
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_metadata.sql
Due: sqlfmt

Update networkx version to 3.0 in requirements files
  jobs/ml_jobs/item_linkage/assign_linked_ids.py
  jobs/ml_jobs/item_linkage/build_semantic_space.py
  jobs/ml_jobs/item_linkage/constants.py
  jobs/ml_jobs/item_linkage/evaluate.py
  jobs/ml_jobs/item_linkage/link_items.py
  jobs/ml_jobs/item_linkage/linkage_candidates.py
  jobs/ml_jobs/item_linkage/preprocess.py
  jobs/ml_jobs/item_linkage/requirements.in
  jobs/ml_jobs/item_linkage/requirements.txt
  jobs/ml_jobs/item_linkage/utils/mlflow_tools.py
  orchestration/dags/jobs/ml/link_items.py
  orchestration/dags/jobs/ml/link_items_updated.py
  orchestration/dags/jobs/ml/link_unmatched_offers.py
Due: format-fix, lint-fix

(DA-3866) feat(analytics): Update pc pro url link to redirect to backoffice (#3645)
  orchestration/dags/data_gcp_dbt/models/analytics/offer_moderation.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__collective_offer.sql
Due: sqlfmt

feat: Update logger to redirect errors and warning to stderr and stdout otherwise
  jobs/ml_jobs/retrieval_vector/Dockerfile
  jobs/ml_jobs/retrieval_vector/app/logger.py
  jobs/ml_jobs/retrieval_vector/app/logging.conf
Due: format-fix, lint-fix

fix: Readd missing logger
  jobs/ml_jobs/retrieval_vector/app/logger.py
Due: format-fix, lint-fix

refactor: use json logging config to allow filter
  jobs/ml_jobs/retrieval_vector/Dockerfile
  jobs/ml_jobs/retrieval_vector/app/app.py
  jobs/ml_jobs/retrieval_vector/app/factory/handler.py
  jobs/ml_jobs/retrieval_vector/app/factory/recommendation.py
  jobs/ml_jobs/retrieval_vector/app/factory/semantic.py
  jobs/ml_jobs/retrieval_vector/app/factory/similar_offer.py
  jobs/ml_jobs/retrieval_vector/app/factory/tops.py
  jobs/ml_jobs/retrieval_vector/app/logger.py
  jobs/ml_jobs/retrieval_vector/app/logging.conf
  jobs/ml_jobs/retrieval_vector/app/logging/config.json
  jobs/ml_jobs/retrieval_vector/app/logging/filter.py
  jobs/ml_jobs/retrieval_vector/app/logging/logger.py
  jobs/ml_jobs/retrieval_vector/app/retrieval/client.py
  jobs/ml_jobs/retrieval_vector/app/retrieval/core/reranker.py
  jobs/ml_jobs/retrieval_vector/app/routes.py
Due: format-fix, lint-fix

feat: Set stdout log level to INFO
  jobs/ml_jobs/retrieval_vector/app/logger.py
  jobs/ml_jobs/retrieval_vector/app/logging.conf
Due: format-fix, lint-fix

clean: Refacto logging module
  jobs/ml_jobs/retrieval_vector/app/logger.py
Due: format-fix, lint-fix

exclude titelive pro logs
  orchestration/dags/data_gcp_dbt/models/intermediate/pcapi/int_pcapi__backoffice_log.sql
Due: sqlfmt

(DE-936) feat(DS): Update retrieval logger to redirect errors and warning to stderr and stdout (#3671)
  jobs/ml_jobs/retrieval_vector/Dockerfile
  jobs/ml_jobs/retrieval_vector/app/app.py
  jobs/ml_jobs/retrieval_vector/app/factory/handler.py
  jobs/ml_jobs/retrieval_vector/app/factory/recommendation.py
  jobs/ml_jobs/retrieval_vector/app/factory/semantic.py
  jobs/ml_jobs/retrieval_vector/app/factory/similar_offer.py
  jobs/ml_jobs/retrieval_vector/app/factory/tops.py
  jobs/ml_jobs/retrieval_vector/app/logger.py
  jobs/ml_jobs/retrieval_vector/app/logging/config.json
  jobs/ml_jobs/retrieval_vector/app/logging/filter.py
  jobs/ml_jobs/retrieval_vector/app/logging/logger.py
  jobs/ml_jobs/retrieval_vector/app/retrieval/client.py
  jobs/ml_jobs/retrieval_vector/app/retrieval/core/reranker.py
  jobs/ml_jobs/retrieval_vector/app/routes.py
Due: format-fix, lint-fix

(HF) feat(applicative): fix rayon and book_editor
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer_ean.sql
Due: sqlfmt

(BSR) refactor(clean): remove import batch 1
  orchestration/dags/data_gcp_dbt/models/clean/applicative/deposit.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/educational_deposit.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/favorite.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/stock.sql
  orchestration/dags/data_gcp_dbt/models/clean/applicative/user.sql
Due: sqlfmt
