Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
  # Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
  # Add new hook types here to ensure automatic installation when running `pre-commit install`
  - pre-commit
  - pre-push
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: format-fix
        name: Formatting (ruff)
        entry: ruff format
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: lint-fix
        name: Linting (ruff)
        entry: ruff check --fix
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: sqlfmt
        name: SQL Formatting (sqlfmt)
        entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
        stages: [push]
        language: python
        additional_dependencies: ["shandy-sqlfmt[jinjafmt]==0.23.2"]
        types: [sql]
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.3.0
    hooks:
      - id: sqlfluff-fix
        additional_dependencies:
          ["dbt-bigquery==1.8.1", "sqlfluff-templater-dbt"]
        stages: [commit]
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.0
    hooks:
    - id: markdownlint-cli2
      language_version: 24.0.0
      args:
        - --fix

refactor: Remove dependency between sync dag and dbt
  orchestration/dags/jobs/api/sync_bigquery_to_cloudsql_recommendation_tables.py
Due: format-fix, lint-fix

refactor: Change sync_bq_to_cloudsql_recommendation_table
  orchestration/dags/jobs/crons.py
Due: format-fix, lint-fix

(DE-1770) feat(dbt): add mart firebase performance model
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/performance/int_firebase__performance.sql
  orchestration/dags/data_gcp_dbt/models/mart/monitoring/mrt_monitoring__firebase_performance_tti.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: sqlfmt

fix formatting
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/performance/int_firebase__performance.sql
  orchestration/dags/data_gcp_dbt/models/mart/monitoring/mrt_monitoring__firebase_performance_tti.sql
Due: sqlfmt

rename execution date to partition_month and adapt incremental conditions
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/propilote/column__propilote.md
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_collective/ephemerals_kpis/_schema/mrt_external_reporting__ppg_eac_student_coverage.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_collective/ephemerals_kpis/mrt_external_reporting__ppg_eac_student_coverage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_individual/ephemerals_kpis/_schema/mrt_external_reporting__ppg_beneficiary.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_individual/ephemerals_kpis/_schema/mrt_external_reporting__ppg_coverage.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_individual/ephemerals_kpis/_schema/mrt_external_reporting__ppg_cultural_partner.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_individual/ephemerals_kpis/_schema/mrt_external_reporting__ppg_deposit_usage.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_individual/ephemerals_kpis/_schema/mrt_external_reporting__ppg_diversity.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_individual/ephemerals_kpis/_schema/mrt_external_reporting__ppg_finance.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_individual/ephemerals_kpis/mrt_external_reporting__ppg_beneficiary.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_individual/ephemerals_kpis/mrt_external_reporting__ppg_coverage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_individual/ephemerals_kpis/mrt_external_reporting__ppg_cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_individual/ephemerals_kpis/mrt_external_reporting__ppg_deposit_usage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_individual/ephemerals_kpis/mrt_external_reporting__ppg_diversity.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_individual/ephemerals_kpis/mrt_external_reporting__ppg_finance.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_individual/mrt_external_reporting__ppg_individual.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_individual/mrt_external_reporting__ppg_individual.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_top/_schema/mrt_external_reporting__ppg_top_offer.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_top/_schema/mrt_external_reporting__ppg_top_offer_category.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_top/_schema/mrt_external_reporting__ppg_top_venue.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_top/mrt_external_reporting__ppg_top_offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_top/mrt_external_reporting__ppg_top_offer_category.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_top/mrt_external_reporting__ppg_top_venue.sql
Due: sqlfmt

sqlfmt
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_collective/ephemerals_kpis/mrt_external_reporting__ppg_eac_student_coverage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_individual/ephemerals_kpis/mrt_external_reporting__ppg_beneficiary.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_individual/ephemerals_kpis/mrt_external_reporting__ppg_cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_individual/ephemerals_kpis/mrt_external_reporting__ppg_deposit_usage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_individual/mrt_external_reporting__ppg_individual.sql
Due: sqlfmt

fix top model
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_top/mrt_external_reporting__ppg_top_offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_top/mrt_external_reporting__ppg_top_offer_category.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_top/mrt_external_reporting__ppg_top_venue.sql
Due: sqlfmt

sqlfmt
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_top/mrt_external_reporting__ppg_top_offer_category.sql
Due: sqlfmt

fix: update BigQuery table and GCS file references for chatbot dataset
  poc_lancedb/import_data.py
Due: format-fix, lint-fix

add coverage 15 and 16
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_individual/ephemerals_kpis/mrt_external_reporting__ppg_coverage.sql
Due: sqlfmt

fix: Fix artist_alias dbt tests
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/_schema/ml_linkage__artist_alias.yml
Due: none

fix: Fix artist_alias dbt tests (#4374)
  orchestration/dags/data_gcp_dbt/models/machine_learning/linkage/_schema/ml_linkage__artist_alias.yml
Due: none

(DS-2260) refactor(sync bq): Remove dependency between sync dag and dbt (#4372)
  orchestration/dags/jobs/api/sync_bigquery_to_cloudsql_recommendation_tables.py
  orchestration/dags/jobs/crons.py
Due: format-fix, lint-fix

fix: categories discrepencies & missing field
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_individual/ephemerals_kpis/mrt_external_reporting__ppg_cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_individual/ephemerals_kpis/mrt_external_reporting__ppg_diversity.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_individual/ephemerals_kpis/mrt_external_reporting__ppg_finance.sql
Due: sqlfmt

dev conf -> TO REVERT
  orchestration/dags/data_gcp_dbt/dbt_project.yml
  orchestration/dags/data_gcp_dbt/models/analytics/history/bookable_partner_history.sql
  orchestration/dags/data_gcp_dbt/models/clean/bookable_collective_offer_history.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_individual/mrt_external_reporting__ppg_individual.sql
  orchestration/dags/data_gcp_dbt/profiles.yml
Due: sqlfmt

(HF) fix(firebase): add daily logic for performance data
  orchestration/dags/dependencies/firebase/sql/raw/firebase_performance.sql
Due: sqlfmt

format
  orchestration/dags/dependencies/firebase/sql/raw/firebase_performance.sql
Due: sqlfmt

Add offer_validation in exp_ministry_offer with int_global__offer
  orchestration/dags/data_gcp_dbt/models/export/ministry/_schema/exp_ministry__offer.yml
  orchestration/dags/data_gcp_dbt/models/export/ministry/exp_ministry__offer.sql
Due: sqlfmt

(HF) fix(firebase): add daily logic for performance data (#4375)
  orchestration/dags/dependencies/firebase/sql/raw/firebase_performance.sql
Due: sqlfmt

homogeneisation categories in phemerals models
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_individual/ephemerals_kpis/mrt_external_reporting__ppg_diversity.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_individual/ephemerals_kpis/mrt_external_reporting__ppg_finance.sql
Due: sqlfmt

sqlfmt
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/PPG_individual/ephemerals_kpis/mrt_external_reporting__ppg_finance.sql
Due: sqlfmt

remove ppg name
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/collective/description__mrt_external_reporting__eac_student_coverage.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/collective/description__mrt_external_reporting__ppg_eac_student_coverage.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/individual/description__mrt_external_reporting__beneficiary.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/individual/description__mrt_external_reporting__coverage.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/individual/description__mrt_external_reporting__cultural_partner.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/individual/description__mrt_external_reporting__deposit_usage.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/individual/description__mrt_external_reporting__diversity.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/individual/description__mrt_external_reporting__finance.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/individual/description__mrt_external_reporting__individual.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/individual/description__mrt_external_reporting__ppg_top_offer.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/individual/description__mrt_external_reporting__ppg_top_offer_category.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/individual/description__mrt_external_reporting__ppg_top_venue.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/individual/description__mrt_external_reporting__top_offer.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/individual/description__mrt_external_reporting__top_offer_category.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/individual/description__mrt_external_reporting__top_venue.md
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/_schema/mrt_external_reporting__eac_student_coverage.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_student_coverage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/_schema/mrt_external_reporting__beneficiary.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/_schema/mrt_external_reporting__coverage.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/_schema/mrt_external_reporting__cultural_partner.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/_schema/mrt_external_reporting__deposit_usage.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/_schema/mrt_external_reporting__diversity.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/_schema/mrt_external_reporting__finance.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/mrt_external_reporting__beneficiary.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/mrt_external_reporting__coverage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/mrt_external_reporting__cultural_partner.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/mrt_external_reporting__deposit_usage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/mrt_external_reporting__diversity.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/ephemerals_kpis/mrt_external_reporting__finance.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/mrt_external_reporting__individual.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/mrt_external_reporting__individual.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/_schema/mrt_external_reporting__top_offer.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/_schema/mrt_external_reporting__top_offer_category.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/_schema/mrt_external_reporting__top_venue.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_offer.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_offer_category.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/top/mrt_external_reporting__top_venue.sql
Due: sqlfmt

update validation column description
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offer.md
Due: none

(DE-2277) dbt(exp_ministry): Add offer_validation in exp_ministry_offer with int_global__offer (#4376)
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/applicative_database/column__offer.md
  orchestration/dags/data_gcp_dbt/models/export/ministry/_schema/exp_ministry__offer.yml
  orchestration/dags/data_gcp_dbt/models/export/ministry/exp_ministry__offer.sql
Due: sqlfmt

fix
  orchestration/dags/data_gcp_dbt/dbt_project.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/individual/mrt_external_reporting__individual.sql
Due: sqlfmt

deploy: d46f0263557ecba58b4cdabce67f7577033a85ab
  __pycache__/hooks.cpython-312.pyc
  dbt/glossary/applicative_database/column__offer/index.html
  dbt/models/export/ministry/description__exp_ministry__offer/index.html
  dbt/models/machine_learning/compliance/description__ml_compliance__training_data_offer/index.html
  dbt/models/machine_learning/linkage/description__ml_linkage__artist_alias/index.html
  dbt/models/mart/global/description__mrt_global__offer/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

(HF) fix(ministry): add filter to fix test in ministry offer
  orchestration/dags/data_gcp_dbt/models/export/ministry/exp_ministry__offer.sql
Due: sqlfmt

(HF) fix(ministry): add filter to fix test in ministry offer (#4378)
  orchestration/dags/data_gcp_dbt/models/export/ministry/exp_ministry__offer.sql
Due: sqlfmt

add doc
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/monitoring/description__mrt_monitoring__firebase_performance_tti.md
  orchestration/dags/data_gcp_dbt/models/mart/monitoring/_schema/mrt_monitoring__firebase_performance_tti.yml
Due: none

add doc clean
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/glossary/tracking/column__event.md
  orchestration/dags/data_gcp_dbt/models/mart/monitoring/_schema/mrt_monitoring__firebase_performance_tti.yml
Due: none

(BSR) fix(vm): switch stop -> delete instance
  orchestration/dags/jobs/dbt/dbt_encrypted_export.py
Due: format-fix, lint-fix

(AE-1912) feat(contentful): Add python tests to contentful job (#4353)
  jobs/etl_jobs/external/contentful/pyproject.toml
  jobs/etl_jobs/external/contentful/requirements.in
  jobs/etl_jobs/external/contentful/requirements.txt
  jobs/etl_jobs/external/contentful/tests/conftest.py
  jobs/etl_jobs/external/contentful/tests/test_contentful_client.py
  jobs/etl_jobs/external/contentful/uv.lock
Due: format-fix, lint-fix

(BSR) fix(vm): switch stop -> delete instance (#4379)
  orchestration/dags/jobs/dbt/dbt_encrypted_export.py
Due: format-fix, lint-fix

create institution_coverage model and doc & add coalesce in deposit amounts
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/collective/description__mrt_external_reporting__eac_institution_coverage.md
  orchestration/dags/data_gcp_dbt/models/analytics/history/bookable_partner_history.sql
  orchestration/dags/data_gcp_dbt/models/clean/bookable_collective_offer_history.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__deposit.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/_schema/mrt_external_reporting__eac_institution_coverage.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_institution_coverage.sql
Due: sqlfmt

sqlmt
  orchestration/dags/data_gcp_dbt/models/analytics/history/bookable_partner_history.sql
  orchestration/dags/data_gcp_dbt/models/clean/bookable_collective_offer_history.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__deposit.sql
Due: sqlfmt

deploy: a5810ccb6abf6b0b20cf0b9ed0f0548c8e4076e1
  __pycache__/hooks.cpython-312.pyc
  sitemap.xml
  sitemap.xml.gz
Due: none

fixed dimension anolalies false warning by tolerating 5% spike and drop
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/_schema/ml_reco__recommendable_item.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/_schema/ml_reco__recommendable_offer.yml
Due: none

fixed dimension anolalies false warning by tolerating 5% spike and drop (#4381)
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/_schema/ml_reco__recommendable_item.yml
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/_schema/ml_reco__recommendable_offer.yml
Due: none

factorize eac coverage models
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/collective/description__mrt_external_reporting__eac_coverage.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/collective/description__mrt_external_reporting__eac_institution_coverage.md
  orchestration/dags/data_gcp_dbt/models/_dbt_docs/models/mart/external_reporting/collective/description__mrt_external_reporting__eac_student_coverage.md
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/_schema/mrt_external_reporting__eac_coverage.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/_schema/mrt_external_reporting__eac_institution_coverage.yml
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_coverage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_institution_coverage.sql
  orchestration/dags/data_gcp_dbt/models/mart/external_reporting/collective/ephemerals_kpis/mrt_external_reporting__eac_student_coverage.sql
Due: sqlfmt
