Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfmt

.pre-commit-config.yaml:

default_install_hook_types:
  # Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
  # Add new hook types here to ensure automatic installation when running `pre-commit install`
  - pre-commit
  - pre-push
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: format-fix
        name: Formatting (ruff)
        entry: ruff format
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: lint-fix
        name: Linting (ruff)
        entry: ruff check --fix
        language: python
        types: [python]
        stages: [commit]
        additional_dependencies: [ruff==0.5.7]
      - id: sqlfmt
        name: SQL Formatting (sqlfmt)
        entry: sqlfmt --exclude "**/.venv/**" --exclude "**/venv/**" --exclude "orchestration/dags/data_gcp_dbt/target/dbt_packages/**" --exclude "**/orchestration/dags/dependencies/applicative_database/sql/raw/**" --exclude "**/orchestration/dags/data_gcp_dbt/snapshots/**"
        stages: [push]
        language: python
        additional_dependencies: ["shandy-sqlfmt[jinjafmt]==0.23.2"]
        types: [sql]
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.3.0
    hooks:
      - id: sqlfluff-fix
        additional_dependencies:
          ["dbt-bigquery==1.8.1", "sqlfluff-templater-dbt"]
        stages: [commit]
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.0
    hooks:
    - id: markdownlint-cli2
      language_version: 24.0.0
      args:
        - --fix

(HF) fix(ci): fix project name
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: none

(HF) fix(source): fix project name
  orchestration/dags/data_gcp_dbt/models/sources.yml
Due: none

(DE-1398) feat(bq): add clustering config (#4215)
  orchestration/dags/data_gcp_dbt/models/analytics/aggregated_weekly_user_data.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_daily_user_home_module.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_home_offer_displayed.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__booking.sql
Due: sqlfmt

feat: split train test on user x itemid
  jobs/ml_jobs/ranking_endpoint/app/model.py
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
  jobs/ml_jobs/ranking_endpoint/src/preprocessing.py
Due: format-fix, lint-fix

feat: Readd context
  jobs/ml_jobs/ranking_endpoint/app/model.py
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
Due: format-fix, lint-fix

add 15_16 users
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__deposit.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__user.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user.sql
Due: sqlfmt

add 15_16 users formatting
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__user.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user.sql
Due: sqlfmt

Update backend tables with venue_is_open_to_public
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__adage_home_playlist_local_offerers.sql
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__adage_home_playlist_new_venues.sql
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__marketing_pro_email_churned_40_days_ago.sql
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__marketing_pro_email_last_booking_40_days_ago.sql
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__marketing_pro_live_show_email_churned_40_days_ago.sql
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__marketing_pro_live_show_email_last_booking_40_days_ago.sql
Due: sqlfmt

WIPPPPP
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
  jobs/ml_jobs/ranking_endpoint/src/preprocessing.py
Due: format-fix, lint-fix

feat: Add dependabot.yml
  .github/dependabot.yml
Due: none

feat: Add dependabot.yml (#4227)
  .github/dependabot.yml
Due: none

Update backend tables with venue_is_open_to_public (#4226)
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__adage_home_playlist_local_offerers.sql
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__adage_home_playlist_new_venues.sql
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__marketing_pro_email_churned_40_days_ago.sql
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__marketing_pro_email_last_booking_40_days_ago.sql
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__marketing_pro_live_show_email_churned_40_days_ago.sql
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__marketing_pro_live_show_email_last_booking_40_days_ago.sql
Due: sqlfmt

feat: Update dependabot.yml
  .github/dependabot.yml
Due: none

(BSR) feat(dependabot): Update dependabot.yml #4233
  .github/dependabot.yml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

Update dependabot.yml (#4234)
  .github/dependabot.yml
Due: none

Revert "Update dependabot.yml (#4234)"
  .github/dependabot.yml
Due: none

Revert "Update dependabot.yml (#4234)" (#4235)
  .github/dependabot.yml
Due: none

debug: Add cron
  .github/dependabot.yml
Due: none

debug: fake pyproject description
  jobs/ml_jobs/retrieval_vector/pyproject.toml
Due: none

debug: fake pyproject description (#4237)
  jobs/ml_jobs/retrieval_vector/pyproject.toml
Due: none

debug: Allows both security and version updates
  .github/dependabot.yml
Due: none

debug: Allows both security and version updates (#4238)
  .github/dependabot.yml
Due: none

(DA-1757) feat(dbt): Add 15_16 users (#4225)
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__deposit.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__user.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user.sql
Due: sqlfmt

(BSR) feat(dependabot): add sync reco group
  .github/dependabot.yml
Due: none

change project
  .github/dependabot.yml
Due: none

(BSR) feat(dependabot): add sync reco group (#4240)
  .github/dependabot.yml
Due: none

feat: Add bare pyproject.toml
  jobs/etl_jobs/internal/sync_recommendation/pyproject.toml
  jobs/etl_jobs/internal/sync_recommendation/uv.lock
Due: none

feat: Add uv.lock based on requirements.txt
  jobs/etl_jobs/internal/sync_recommendation/pyproject.toml
  jobs/etl_jobs/internal/sync_recommendation/uv.lock
Due: none

feat: Delete requirements
  jobs/etl_jobs/internal/sync_recommendation/requirements.in
  jobs/etl_jobs/internal/sync_recommendation/requirements.txt
Due: none

feat: Update dependabot.yml to only push security updates
  .github/dependabot.yml
Due: none

chore: Update uv lock
  jobs/ml_jobs/retrieval_vector/uv.lock
Due: none

(BSR) feat(dependabot): Move sync reco to uv and update dependabot.yml (#4241)
  .github/dependabot.yml
  jobs/etl_jobs/internal/sync_recommendation/pyproject.toml
  jobs/etl_jobs/internal/sync_recommendation/requirements.in
  jobs/etl_jobs/internal/sync_recommendation/requirements.txt
  jobs/etl_jobs/internal/sync_recommendation/uv.lock
Due: none

Revert "debug: fake pyproject description (#4237)"
  jobs/ml_jobs/retrieval_vector/pyproject.toml
Due: none

add typeform_id to module and special event tables
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__special_event.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/contentful/int_contentful__entry.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_daily_user_home_module.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__special_event.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_home_module_conversion.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_user_home_module.sql
  orchestration/dags/data_gcp_dbt/models/raw/applicative/raw_applicative__special_event.sql
Due: sqlfmt

(BSR) chore(prrevert): debug: fake pyporjct description
  jobs/ml_jobs/retrieval_vector/pyproject.toml
Due: none

feat: Update dependabot.yml to only push security updates for pip
  .github/dependabot.yml
Due: none

(BSR) feat(dependabot): Update dependabot.yml to only push security updates for pip #4243
  .github/dependabot.yml
Due: none

feat: Compute ndcg on data with enough interactions
  jobs/ml_jobs/ranking_endpoint/app/model.py
  jobs/ml_jobs/ranking_endpoint/deploy_model.py
  jobs/ml_jobs/ranking_endpoint/src/preprocessing.py
Due: format-fix, lint-fix

(DE-1770) feat(firebase): add firebase performance data
  orchestration/dags/dependencies/firebase/import_firebase.py
  orchestration/dags/dependencies/firebase/sql/raw/firebase_performance.sql
  orchestration/dags/jobs/import/import_firebase.py
Due: format-fix, lint-fix, sqlfmt
