Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

format-fix:
  name: Formatting (ruff)
  entry: ruff format
  language: system
  stages:
  - commit

lint-fix:
  name: Linting (ruff)
  entry: ruff check --fix
  language: system
  stages:
  - commit

sqlfluff-format-fix:
  name: Formatting (sqlfluff)
  entry: make sqlfluff_format
  language: system
  stages:
  - commit

sqlfluff-lint-fix echo $(git diff --cached --name-only):
  name: Linter (sqlfluff)
  entry: make sqlfluff_fix $(git diff --cached --name-only)
  language: system
  stages:
  - commit

sqlfluff-lint-check:
  name: Lint check (sqlfluff)
  entry: make sqlfluff_lint echo $(git diff --cached --name-only)
  language: system
  stages:
  - commit

fix: format int_firebase__native_consultation
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_consultation.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

feat: update consult tables and create discovery mrt models
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_consultation.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/metric/discovery/int_metric__discovery_daily_consultation.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/metric/discovery/int_metric__discovery_score.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__consultation.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

fix: lint
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__consultation.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

fix: Remove duplicated columns
  jobs/etl_jobs/external/metabase/data/mappings.json
Due: none

fix sql linter
  orchestration/dags/data_gcp_dbt/models/analytics/offer_moderation.sql
  orchestration/dags/data_gcp_dbt/models/clean/offer_metadata.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

[DA-3762] Update consult tables and create discovery mrt models (#3105)
  jobs/etl_jobs/external/metabase/data/mappings.json
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_consultation.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/metric/discovery/int_metric__discovery_daily_consultation.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/metric/discovery/int_metric__discovery_score.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__consultation.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

sqlfluff/add verbose in CI
  orchestration/dags/data_gcp_dbt/scripts/sqlfluff_format.sh
  orchestration/dags/data_gcp_dbt/scripts/sqlfluff_lint.sh
Due: none

fix: Update wrong table reference in mrt_native__daily_home_offer_displayed
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_home_offer_displayed.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

feat: add educational_year_id column
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__educational_deposit.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

fix: remove DATE_FORMAT function
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_consultation.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

feat: Add stock_last_provider_id to mrt_global__stock (#3103)
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__stock.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__stock.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

sqlfluff/add verbose in CI (#3109)
  orchestration/dags/data_gcp_dbt/scripts/sqlfluff_format.sh
  orchestration/dags/data_gcp_dbt/scripts/sqlfluff_lint.sh
Due: none

(dbt) Update wrong table reference (#3110)
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_consultation.sql
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_home_offer_displayed.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

add None schedule
  orchestration/dags/jobs/administration/bigquery_alerts.py
Due: format-fix, lint-fix

(DE-512) setup alerts on non-sync bq tables (#3072)
  jobs/etl_jobs/internal/bigquery_alerts/main.py
  jobs/etl_jobs/internal/bigquery_alerts/requirements.in
  jobs/etl_jobs/internal/bigquery_alerts/requirements.txt
  jobs/etl_jobs/internal/bigquery_alerts/utils.py
  orchestration/dags/common/alerts.py
  orchestration/dags/common/utils.py
  orchestration/dags/jobs/administration/bigquery_alerts.py
Due: format-fix, lint-fix

feat: add educational_year_id column (#3111)
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__educational_deposit.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

feat: Create mrt_global__educational_deposit.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__educational_institution.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__educational_deposit.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__educational_institution.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

feat: Create mrt_global__educational_deposit.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__educational_deposit.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

fix: linter
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_home_offer_displayed.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

comment sqlfluff
  .github/workflows/reusable_dbt_workflow.yml
Due: none

fix: linter (#3114)
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_home_offer_displayed.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

comment sqlfluff (#3115)
  .github/workflows/reusable_dbt_workflow.yml
Due: none

update requirements for airflow and dbt
  orchestration/airflow/orchestration-requirements.in
  orchestration/airflow/orchestration-requirements.txt
  orchestration/dags/data_gcp_dbt/scripts/dbt_run.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_run_tag.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_snapshot.sh
  orchestration/dags/data_gcp_dbt/scripts/dbt_test_model.sh
  orchestration/dags/dbt-requirements.in
  orchestration/dags/dbt-requirements.txt
  orchestration/dags/jobs/dbt/dbt_artifacts.py
  requirements.in
  requirements.txt
Due: format-fix, lint-fix

feat: migrate logs views and table to dbt legacy
  orchestration/dags/data_gcp_dbt/models/analytics/adage_logs.sql
  orchestration/dags/data_gcp_dbt/models/analytics/api_logs.sql
  orchestration/dags/data_gcp_dbt/models/analytics/app_native_logs.sql
  orchestration/dags/data_gcp_dbt/models/analytics/app_pro_logs.sql
  orchestration/dags/data_gcp_dbt/models/analytics/backend_events.sql
  orchestration/dags/data_gcp_dbt/models/analytics/backoffice_logs.sql
  orchestration/dags/data_gcp_dbt/models/analytics/collective_logs.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__user.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
  orchestration/dags/dependencies/logs/import_logs.py
  orchestration/dags/dependencies/logs/sql/analytics/app_native_logs.sql
  orchestration/dags/dependencies/logs/sql/analytics/app_pro_logs.sql
  orchestration/dags/dependencies/logs/sql/analytics/collective_logs.sql
  orchestration/dags/dependencies/views/import_views.py
  orchestration/dags/dependencies/views/sql/analytics/api_logs.sql
  orchestration/dags/dependencies/views/sql/analytics/backend_events.sql
  orchestration/dags/dependencies/views/sql/clean/api_logs.sql
  orchestration/dags/jobs/import/import_logs.py
  orchestration/dags/jobs/import/import_views.py
Due: format-fix, lint-fix, sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

feat: update subcategories dataset
  jobs/etl_jobs/internal/import_api_referentials/README.md
  jobs/etl_jobs/internal/import_api_referentials/main.py
  orchestration/dags/data_gcp_dbt/models/analytics/diversification/diversification_raw.sql
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/enriched_qpi_answers.sql
  orchestration/dags/data_gcp_dbt/models/analytics/firebase/firebase_aggregated_search_events.sql
  orchestration/dags/data_gcp_dbt/models/analytics/venue_siren_offers.sql
  orchestration/dags/data_gcp_dbt/models/clean/bookable_offer_history.sql
  orchestration/dags/data_gcp_dbt/models/clean/offer_metadata.sql
  orchestration/dags/data_gcp_dbt/models/export/backend/exp_backend__favorites_not_booked.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__offer.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__collective_offer.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
  orchestration/dags/dependencies/training_data/sql/compliance_offers.sql
  orchestration/dags/dependencies/training_data/sql/recommendation_item_features.sql
  orchestration/dags/dependencies/training_data/sql/training_data_bookings.sql
  orchestration/dags/dependencies/training_data/sql/training_data_clicks.sql
  orchestration/dags/dependencies/training_data/sql/training_data_favorites.sql
Due: format-fix, lint-fix, sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

feat: update subcategories dataset
  jobs/etl_jobs/internal/import_api_referentials/README.md
  orchestration/dags/data_gcp_dbt/models/analytics/firebase/firebase_aggregated_search_events.sql
  orchestration/dags/data_gcp_dbt/models/analytics/offer_moderation.sql
  orchestration/dags/data_gcp_dbt/models/sources.yml
  orchestration/dags/dependencies/training_data/sql/compliance_offers.sql
  orchestration/dags/dependencies/training_data/sql/recommendation_item_features.sql
  orchestration/dags/dependencies/training_data/sql/training_data_bookings.sql
  orchestration/dags/dependencies/training_data/sql/training_data_favorites.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

feat: update subcategories dataset
  orchestration/dags/data_gcp_dbt/models/clean/offer_metadata.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

addresses/package management
  jobs/etl_jobs/external/addresses/requirements.in
  jobs/etl_jobs/external/addresses/requirements.txt
Due: none

fix: Add sync_all_columns in int_firebase__native_consultation
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_consultation.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

fix: Add sync_all_columns in int_firebase__native_consultation.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_consultation.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

addresses/package management (#3119)
  jobs/etl_jobs/external/addresses/requirements.in
  jobs/etl_jobs/external/addresses/requirements.txt
Due: none

(fix) Add sync_all_columns in int_firebase__native_consultation (#3120)
  orchestration/dags/data_gcp_dbt/models/intermediate/firebase/native/int_firebase__native_consultation.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

upgrade airflow/fix ci
  .github/workflows/reusable_test_orchestration.yml
Due: none

test ci
  .github/workflows/reusable_test_orchestration.yml
Due: none

feat: Add new columns to mrt_global__user_offerer
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__user_offerer.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user_offerer.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

feat: Add new columns to mrt_global__user_offerer
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__user_offerer.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

another test
  .github/workflows/reusable_test_orchestration.yml
Due: none

fix ci
  .github/workflows/reusable_test_orchestration.yml
Due: none

Path conditions:
  format-fix: any of: \.py$
  lint-fix: any of: \.py$
  sqlfluff-format-fix: any of: \.sql$
  sqlfluff-lint-fix echo $(git diff --cached --name-only): any of: \.sql$
  sqlfluff-lint-check: any of: \.sql$
