Repository pass-culture/data-gcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-fix, lint-fix, sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

.pre-commit-config.yaml:

default_install_hook_types:
# Mandatory to install both pre-commit and pre-push hooks (see https://pre-commit.com/#top_level-default_install_hook_types)
# Add new hook types here to ensure automatic installation when running `pre-commit install`
- pre-commit
- pre-push
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-json
  - id: check-added-large-files

- repo: local
  hooks:
  - id: format-fix
    name: Formatting (ruff)
    entry: ruff format
    language: system
    types: [python]
    stages: [commit]
  - id: lint-fix
    name: Linting (ruff)
    entry: ruff check --fix
    language: system
    types: [python]
    stages: [commit]
  - id: sqlfluff-format-fix
    name: Formatting (sqlfluff)
    entry: make sqlfluff_format
    language: system
    types: [sql]
    stages: [commit]
  - id: sqlfluff-lint-fix echo $(git diff --cached --name-only)
    name: Linter (sqlfluff)
    entry: make sqlfluff_fix $(git diff --cached --name-only)
    language: system
    types: [sql]
    stages: [commit]
  - id: sqlfluff-lint-check
    name: Lint check (sqlfluff)
    entry: make sqlfluff_lint echo $(git diff --cached --name-only)
    language: system
    types: [sql]
    stages: [commit]

rebase
  orchestration/dags/dependencies/analytics/import_analytics.py
  orchestration/dags/jobs/import/import_analytics.py
Due: format-fix, lint-fix

feat: remove applicative analytics jobs
  orchestration/dags/dependencies/qualtrics/export_qualtrics_data.py
  orchestration/tests/dags_test.py
Due: format-fix, lint-fix

feat: remove applicative analytics jobs (#3122)
  orchestration/dags/dependencies/analytics/import_analytics.py
  orchestration/dags/dependencies/qualtrics/export_qualtrics_data.py
  orchestration/dags/jobs/import/import_analytics.py
  orchestration/tests/dags_test.py
Due: format-fix, lint-fix

feat: Migrate item_metadata
  orchestration/dags/data_gcp_dbt/models/clean/item_metadata.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

feat: Migrate item_metadata
  orchestration/dags/data_gcp_dbt/models/clean/item_metadata.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/input/ml_input__item_metadata.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

fix: Update model references
  orchestration/dags/data_gcp_dbt/models/clean/user_item_discovery.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/feature/ml_feat__item_embedding.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/input/ml_input__item_embedding_clusterisation.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/input/ml_input__item_embedding_extraction.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__available_offer.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__restrained_item.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

fix: Remove item_metadata
  orchestration/dags/data_gcp_dbt/models/clean/item_metadata.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

[DE-594](monitoring) feat: add schedule to alerts
  orchestration/dags/jobs/administration/bigquery_alerts.py
Due: format-fix, lint-fix

(dbt) Migrate item_metadata (#3167)
  orchestration/dags/data_gcp_dbt/models/clean/item_metadata.sql
  orchestration/dags/data_gcp_dbt/models/clean/user_item_discovery.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/feature/ml_feat__item_embedding.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/input/ml_input__item_embedding_clusterisation.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/input/ml_input__item_embedding_extraction.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/input/ml_input__item_metadata.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__available_offer.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__restrained_item.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

fix user_activation_date
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__user.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

set custom aliases for elementary
  orchestration/dags/data_gcp_dbt/macros/get_custom_alias.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

fix ELEMENTARY_PYTHON_PATH import error when running airflow local
  orchestration/dags/common/config.py
Due: format-fix, lint-fix

[DE-594](monitoring) feat: add schedule to alerts (#3172)
  orchestration/dags/jobs/administration/bigquery_alerts.py
Due: format-fix, lint-fix

fix (#3093)
  orchestration/dags/data_gcp_dbt/models/mart/native/mrt_native__daily_home_offer_displayed.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

feat: Update booking dependencies
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/enriched_reimbursement_data.sql
  orchestration/dags/data_gcp_dbt/models/analytics/offer_moderation.sql
  orchestration/dags/data_gcp_dbt/models/clean/reimbursement_individual.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

[DE-581] add commons dir
  jobs/ml_jobs/algo_training/commons/__init__.py
  jobs/ml_jobs/algo_training/commons/constants.py
  jobs/ml_jobs/algo_training/commons/mlflow_tools.py
  jobs/ml_jobs/algo_training/two_towers_model/evaluate.py
  jobs/ml_jobs/algo_training/two_towers_model/preprocess.py
  jobs/ml_jobs/algo_training/two_towers_model/train.py
Due: format-fix, lint-fix

[DE-581] update to work with commons dir
  jobs/ml_jobs/algo_training/commons/data_collect_queries.py
  jobs/ml_jobs/algo_training/commons/mlflow_tools.py
  jobs/ml_jobs/algo_training/commons/secrets_utils.py
  jobs/ml_jobs/algo_training/fraud/offer_compliance_model/evaluate.py
  jobs/ml_jobs/algo_training/fraud/offer_compliance_model/package_api_model.py
  jobs/ml_jobs/algo_training/fraud/offer_compliance_model/preprocess.py
  jobs/ml_jobs/algo_training/fraud/offer_compliance_model/split_data.py
  jobs/ml_jobs/algo_training/fraud/offer_compliance_model/train.py
  jobs/ml_jobs/algo_training/offer_categorization/evaluate.py
  jobs/ml_jobs/algo_training/offer_categorization/package_api_model.py
  jobs/ml_jobs/algo_training/offer_categorization/train.py
  jobs/ml_jobs/algo_training/two_towers_model/evaluate.py
  jobs/ml_jobs/algo_training/two_towers_model/models/two_towers_model.py
  jobs/ml_jobs/algo_training/two_towers_model/preprocess.py
  jobs/ml_jobs/algo_training/two_towers_model/train.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/callbacks.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/diversification.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/evaluate.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/metrics.py
Due: format-fix, lint-fix

launch VM add uv_install + type install
  orchestration/dags/common/config.py
  orchestration/dags/launch_vm.py
Due: format-fix, lint-fix

add uv_install operator
  orchestration/dags/common/operators/gce.py
  orchestration/dags/launch_vm.py
Due: format-fix, lint-fix

feat: Update booking dependencies (#3174)
  orchestration/dags/data_gcp_dbt/models/analytics/enriched/enriched_reimbursement_data.sql
  orchestration/dags/data_gcp_dbt/models/analytics/offer_moderation.sql
  orchestration/dags/data_gcp_dbt/models/clean/reimbursement_individual.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

[DE-581] refactor: Update metrics.py for two_towers_model
  jobs/ml_jobs/algo_training/two_towers_model/utils/metrics.py
Due: format-fix, lint-fix

fix: Test if embedding is str before reading with json
  jobs/ml_jobs/algo_training/fraud/offer_compliance_model/package_api_model.py
Due: format-fix, lint-fix

[DE-581] refactor: Update evaluate.py for two_towers_model
  jobs/ml_jobs/algo_training/deploy_model.py
  jobs/ml_jobs/algo_training/tests/test_evaluate.py
  jobs/ml_jobs/algo_training/two_towers_model/utils/evaluate.py
Due: format-fix, lint-fix

fix branching logic
  orchestration/dags/launch_vm.py
Due: format-fix, lint-fix

(local airflow) add image for airflow init
  orchestration/docker-compose.yaml
Due: none

update makefile with localhost
  orchestration/Makefile
Due: none

(DE-420) update deprecated packages
  orchestration/airflow/orchestration-requirements.in
  orchestration/airflow/orchestration-requirements.txt
Due: none

switch install to multiple choices
  orchestration/dags/launch_vm.py
Due: format-fix, lint-fix

(local airflow) add image for airflow init (#3177)
  orchestration/Makefile
  orchestration/docker-compose.yaml
Due: none

import offer description from product table (#3155)
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__extract_offer.sql
  orchestration/dags/dependencies/applicative_database/sql/clean/history/offer_history.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

add sqlfluff
  orchestration/airflow/orchestration-requirements.in
  orchestration/airflow/orchestration-requirements.txt
Due: none

remove sqlfluff from dbt requirements
  orchestration/dags/data_gcp_dbt/dbt-requirements.in
  orchestration/dags/data_gcp_dbt/dbt-requirements.txt
Due: none

Elementary/hotfixes (#3173)
  orchestration/dags/common/config.py
  orchestration/dags/data_gcp_dbt/macros/get_custom_alias.sql
Due: format-fix, lint-fix, sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

add dbt
  orchestration/airflow/orchestration-requirements.in
  orchestration/airflow/orchestration-requirements.txt
Due: none

Update int_global__user.sql (#3159)
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__user.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

fix elementary run
  orchestration/dags/jobs/dbt/dbt_artifacts.py
Due: format-fix, lint-fix

feat: Factorize user and deposit dimensions
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__booking.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

ft: fix before activation
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__booking.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__deposit.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__user.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check

feat: Factorize user and deposit dimensions
  orchestration/dags/data_gcp_dbt/models/intermediate/applicative/int_applicative__user.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__booking.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__deposit.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__stock.sql
  orchestration/dags/data_gcp_dbt/models/intermediate/global/int_global__user.sql
  orchestration/dags/data_gcp_dbt/models/machine_learning/recommendation/ml_reco__user_statistics.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__booking.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__deposit.sql
  orchestration/dags/data_gcp_dbt/models/mart/global/mrt_global__user.sql
Due: sqlfluff-format-fix, sqlfluff-lint-fix echo $(git diff --cached --name-only), sqlfluff-lint-check
